<template>
  <div>
    <el-form class="ly-padding-horizontal-sm"
             label-width="100px"
             ref="formName"
             :model="params"
             :rules="rules"
             @submit.native.prevent>
      <el-form-item class="demo-dynamic"
                    label="增加店铺："
                    size="small"
                    prop="num">
        <div>
          <el-input style="width: 86%;"
                    v-model.trim="params.num"
                    clearable></el-input>个
        </div>
        <p class="ly-font-12">还可增加{{numInfo.left}}个</p>
      </el-form-item>
    </el-form>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { businessManageApi } from '@/api/oms'
import { positiveIntegerValidator } from '@/assets/js/validators'
export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    const positiveIntegerValidatorMinMax = (rule, value, callback) => {
      if (value > this.numInfo.left) {
        let message = `店铺数不能大于${this.numInfo.left}台`
        if (!(this.numInfo.left > 0)) {
          message = '店铺数不足'
        }
        callback(new Error(message))
      } else {
        callback()
      }
    }
    return {
      params: {
        enterpriseId: null,
        num: ''
      },
      numInfo: {},
      rules: {
        num: [
          { required: true, message: '增加店铺数不能为空' },
          { validator: positiveIntegerValidator },
          { validator: positiveIntegerValidatorMinMax }
        ]
      }
    }
  },
  created() {
    this.shopNum()
  },
  methods: {
    // 弹窗-确定
    sureCallback() {
      this.$refs.formName.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    submitData() {
      this.params.num = parseInt(this.params.num)
      this.params.enterpriseId = this.dialog.info.id
      businessManageApi.getAgentListShopNumAdd(this.params).then(res => {
        this.success('恭喜你，新增成功')
        this.dialog.open = false
        this.$emit('getList', this.dialog.info)
      })
    },
    // 可用店铺数
    shopNum() {
      businessManageApi.getAgentListShopNum().then(res => {
        this.numInfo = res
      })
    }
  }
}
</script>
<style>
.demo-dynamic .el-input {
  margin-right: 10px;
  width: 100%;
  vertical-align: top;
}
</style>
