<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
          <span class="ly-margin-left-sm ly-font-14 ly-font-color-7">只同步三个月订单，需要同步更多订单请导入更多订单</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="订单编号">
        </el-table-column>
        <el-table-column prop="name"
                         label="创建时间">
        </el-table-column>
        <el-table-column prop="address"
                         label="宝贝">
        </el-table-column>
        <el-table-column prop="address"
                         label="单价（元）">
        </el-table-column>
        <el-table-column prop="address"
                         label="数量">
        </el-table-column>
        <el-table-column prop="address"
                         label="购物账号">
        </el-table-column>
        <el-table-column prop="address"
                         label="订单状态">
        </el-table-column>
        <el-table-column prop="address"
                         label="所属店铺">
        </el-table-column>
        <el-table-column prop="address"
                         label="平台类型">
        </el-table-column>
        <el-table-column prop="address"
                         label="订单来源">
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'

export default {
  components: { collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        platformType: true,
        affiliatedShop: true,
        orderStatus: true,
        orderSource: true,
        shopAccount: true,
        orderNum: true,
        date: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
