<template>
  <div>
    <el-container style="min-height: 80vh;">
      <!-- 风控名称 -->
      <el-aside class="ly-sidebar ly-position-relative" style="margin-right: 0.5rem;">
        <div class="ly-padding-horizontal-sm ly-margin-top-10px">
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="权限管理" name="first"></el-tab-pane>
            <el-tab-pane label="使用管理" name="second"></el-tab-pane>
            <el-tab-pane label="应用管理" name="third"></el-tab-pane>
          </el-tabs>
        </div>
        <vma-lazy :initial="activeName === 'first'">
          <authorityManageLeft  v-show="activeName === 'first'" @setLimitId="setLimitId" ref="authorityManageLeft"></authorityManageLeft>
        </vma-lazy>
        <vma-lazy :initial="activeName === 'second'">
          <authorityManageLeftSec  v-show="activeName === 'second'" @setLimitId="setLimitIdSec" ref="authorityManageLeftSec"></authorityManageLeftSec>
        </vma-lazy>
        <vma-lazy :initial="activeName === 'third'">
          <authorityManageLeftThird  v-show="activeName === 'third'" @setLimitId="setLimitIdThird" ref="authorityManageLeftThird"></authorityManageLeftThird>
        </vma-lazy>
      </el-aside>
      <el-main style="padding: 0;">
        <vma-lazy :initial="activeName === 'first'">
          <authorityManageList  v-show="activeName === 'first'" :limitId="limitId" @refreshLeftList="refreshLeftList"></authorityManageList>
        </vma-lazy>
        <vma-lazy :initial="activeName === 'second'">
          <authorityManageListSec  v-show="activeName === 'second'" :limitId="limitIdSec" @refreshLeftList="refreshLeftListSec"></authorityManageListSec>
        </vma-lazy>
        <vma-lazy :initial="activeName === 'third'">
          <authorityManageListThird  v-show="activeName === 'third'" :limitId="limitIdThird" @refreshLeftList="refreshLeftListThird"></authorityManageListThird>
        </vma-lazy>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import authorityManageLeft from './components/authorityManage/authorityManageLeft'
import authorityManageList from './components/authorityManage/authorityManageList'
import authorityManageLeftSec from './components/authorityManage/authorityManageLeftSec'
import authorityManageListSec from './components/authorityManage/authorityManageListSec'
import authorityManageLeftThird from './components/authorityManage/authorityManageLeftThird'
import authorityManageListThird from './components/authorityManage/authorityManageListThird'
export default {
  components: {
    authorityManageLeft,
    authorityManageList,
    authorityManageLeftSec,
    authorityManageListSec,
    authorityManageLeftThird,
    authorityManageListThird
  },
  data() {
    return {
      limitId: null,
      limitIdSec: {},
      limitIdThird: null,
      activeName: 'first'
    }
  },
  created() {
    // this.getList()
  },
  methods: {
    handleClick(tab, event) {
      // console.log(tab, event)
    },
    refreshLeftList() {
      this.$refs.authorityManageLeft.getList()
    },
    refreshLeftListSec() {
      this.$refs.authorityManageLeftSec.getList()
    },
    refreshLeftListThird() {
      this.$refs.authorityManageLeftThird.getList()
    },
    setLimitId(val) {
      this.limitId = val
    },
    setLimitIdSec(val) {
      this.limitIdSec = val
    },
    setLimitIdThird(val) {
      this.limitIdThird = val
    }
  }
}
</script>
