<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input v-model.trim="params.keyWord" placeholder="请输入IMEI/员工账号/员工姓名" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)">
    </el-input>
    <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" size="small" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" @change="dateChange">
    </el-date-picker>
    <el-input v-model.trim="params.phone" placeholder="请输入主被叫号码" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)">
    </el-input>
    <el-select v-model="params.callType" placeholder="呼叫类型" clearable>
        <el-option label="主叫" :value="1"></el-option>
        <el-option label="被叫" :value="2"></el-option>
    </el-select>
    <departmenTreeCascadert v-model="departmentId" filterable clearable placeholder="员工所属部门" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
    <!-- -->
    <!-- button -->
    <el-button class="ly-float-right" type="primary" size="medium" @click.native="getTableList(1)">查询
    </el-button>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click.native="exportCallback">导出</el-button>
        </span>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="id" label="ID">
            <template slot-scope="scope">
            <span>{{scope.row.id || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffName" label="设备当时所属员工" min-width="150">
            <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="imei" label="IMEI">
            <template slot-scope="scope">
            <span>{{scope.row.imei || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="主叫/被叫号码">
            <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="呼叫类型">
            <template slot-scope="scope">
            <span>{{scope.row.callType==1?'主叫':'被叫'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="开始时间" min-width="160">
            <template slot-scope="scope">
            <span>{{fmt.date(scope.row.beginTime) || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="结束时间" min-width="160">
            <template slot-scope="scope">
            <span>{{fmt.date(scope.row.endTime) || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="duration" label="时长">
            <template slot-scope="scope">
            <span>{{formatSeconds(scope.row.duration) || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" min-width="160">
            <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click.native="playCallback(scope.row)">录音详情
            </el-button>
            <!--
            <el-button type="text"
                       size="small"
                       @click.native="downloadCallback(scope.row.fileUrl)">下载录音文件
            </el-button>
            -->
            <!-- <a download="录音文件"
               class="ly-font-color-5"
               :href="scope.row.fileUrl">下载录音文件</a> -->
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click.native="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
    </div>
    <el-dialog title="播放录音" :visible.sync="dialog.open" width="760px" append-to-body>
        <audioLay v-if="dialog.open" :info="dialog"></audioLay>
    </el-dialog>
</div>
</div>
</template>

<script>
    // 引入的团队组件
    import {
        departmenTreeCascadert
    } from '@/components/packages/system/lazyCascader'
    import {
        downloadFile
    } from '@/utils'
    import {
        riskManagementApi
    } from '@/api/system'
    import {
        resourceMixin,
        tableMixin
    } from '@/mixins'
    import {
        formatSeconds,
        compatUrl
    } from '@/utils'
    import audioLay from './components/audioLay'
    import {
        RESOURCE_ACTION_MAP
    } from '@/constants'
    var FileSaver = require('file-saver')

    export default {
        mixins: [resourceMixin, tableMixin],
        components: {
            audioLay,
            departmenTreeCascadert
        },
        data() {
            return {
                activeNames: ['1'],
                departmentId: [],
                params: {
                    keyWord: '',
                    callType: '',
                    phone: '',
                    departmentId: null
                },
                formatSeconds,
                dialog: {
                    open: false
                }
            }
        },
        computed: {
            hasAction() {
                return this.hasResourceAction(RESOURCE_ACTION_MAP.DELETE_CALL)
            }
        },
        watch: {
            departmentId(val) {
                // 取树形数组的最后一个
                let id = val[val.length - 1] || null
                this.params.departmentId = id
            },
        },
        methods: {
            // 获取列表

            async requestTableList() {
                await riskManagementApi.recordList(this.params).then(res => {
                    this.tableData = res
                })
            },
            // 导出
            exportCallback() {
                var params = this.params
                riskManagementApi.recordExpoet(this.params).then((res) => {
                    downloadFile(res, '通话录音.xls')
                    this.success('恭喜你，导出成功')
                })
            },
            // 下载录音文件
            downloadCallback(url) {
                if (url.indexOf('mp3') > 0) {
                    FileSaver.saveAs(url)
                } else {
                    window.location.href = url
                }
            },
            // 删除
            deleteCallback(id) {
                riskManagementApi.deleteRecord(id).then((res) => {
                    this.success('恭喜你，删除成功')
                    if (this.tableData.records.length === 1) {
                        this.params.current--
                    }
                    this.getTableList()
                })
            },
            // 播放录音
            async playCallback(data, index) {
                let obj = await this.getCallDetial(data)
                data = Object.assign(data, obj)
                switch (data.isSwitch) {
                    case 1:
                    case 3:
                        this.$confirm('音频转码失败，是否重新转码?', '提示', {
                            confirmButtonText: '重新转码',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.toggleAgain(data, index) // 重新转码
                        })
                        break
                    case 0:
                        if (data.fileUrl.indexOf('attname') === -1) {
                            let name = `${data.callType === 1 ? '主叫' : '被叫'}${obj.phone}.mp3`
                            data.fileUrl = compatUrl(data.fileUrl, {
                                attname: name
                            })
                        }
                        // if (this.tableData.records[index] !== data.isSwitch) {
                        //   // 避免过多请求
                        //   this.tableData.records.splice(index, 1, data)
                        // }
                        this.dialog = {
                            open: true,
                            msgSource: data.fileUrl,
                            voiceLength: data.duration,
                            data: data
                        }
                        break
                    case 2:
                        this.warn('音频还在转码中，请稍后尝试，或者下载源文件播放')
                        break
                    default:
                        this.warning('不支持的状态: ' + data.isSwitch)
                }
            },
            // 获取详情
            async getCallDetial(data) {
                const res = await riskManagementApi.recordListDetail(data.id)
                    // 0：成功，1：等待处理，2：正在处理，3：处理失败
                let params = {
                    fileUrl: res.fileUrl,
                    isSwitch: res.isSwitch
                }
                return Object.assign({}, data, params)
            },
            // 重新转码
            async toggleAgain(data, index) {
                await riskManagementApi.recordListChangeAgain(data.id).then(res => {
                    this.success('发送成功，正在重新获取！')
                    setTimeout(() => {
                        this.playCallback(data, index)
                    }, 1500)
                })
            }
        }
    }
</script>