<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <i class="el-icon-question ly-font-color-5 ly-font-16 ly-cursor-pointer"
             @click="openCallback($event,'mailbox')"></i>&ensp;
          <el-button type="primary"
                     size="small"
                     @click="openCallback($event,'sender')">设置发送人</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="actionName"
                         label="敏感行为">
        </el-table-column>
        <el-table-column label="发邮件">
          <template slot-scope="scope">
            <span>{{scope.row.mailOpen==1?'开启':'关闭'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="acceptMailAddress"
                         label="接收邮件地址">
        </el-table-column>
        <el-table-column label="发短信">
          <template slot-scope="scope">
            <span>{{scope.row.messageOpen==1?'开启':'关闭'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="acceptMsgPhone"
                         label="接收通知手机号">
        </el-table-column>
        <el-table-column prop="name"
                         label="更新时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.updateTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,'notice',scope.row)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
      <!-- 弹窗 -->
      <el-dialog title="邮箱申请（企业邮箱，QQ邮箱二选一）"
                 :visible.sync="mailbox.open"
                 width="800px" append-to-body>
        <mailbox :dataInfo="mailbox"></mailbox>
      </el-dialog>

      <el-dialog title="设置发送人"
                 :visible.sync="sender.open"
                 width="489px" append-to-body>
        <sender :dataInfo="sender"></sender>
      </el-dialog>

      <el-dialog title="编辑敏感通知"
                 :visible.sync="notice.open"
                 width="489px" append-to-body>
        <notice :dataInfo="notice"
                v-if="notice.open"
                @getTableList="getTableList"></notice>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import mailbox from '@/pages/system/riskManagement/components/mailbox'
import sender from './components/phoneSensitiveNotice/sender'
import notice from './components/phoneSensitiveNotice/notice'

export default {
  mixins: [tableMixin],
  components: { mailbox, sender, notice },
  data() {
    return {
      mailbox: {
        open: false,
        activeName: 'first'
      },
      sender: {
        open: false
      },
      notice: {
        open: false,
        data: {
          actionName: '',
          mailOpen: false,
          acceptMailAddress: '',
          messageOpen: false,
          acceptMsgPhone: '',
          id: ''
        }
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await riskManagementApi.noticeConfigList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 弹窗-打开
    openCallback(defObj, val, obj) {
      switch (val) {
        case 'mailbox':
          this.mailbox.open = true
          break
        case 'sender':
          this.sender.open = true
          break
        case 'notice':
          this.notice = {
            open: true,
            data: {
              actionName: obj.actionName,
              mailOpen: Boolean(obj.mailOpen),
              acceptMailAddress: obj.acceptMailAddress,
              messageOpen: Boolean(obj.messageOpen),
              acceptMsgPhone: obj.acceptMsgPhone,
              id: obj.id
            }
          }
          break
      }
    }
  }
}
</script>
