<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord"
                    placeholder="请输入IMEI/员工账号/员工姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click.native="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click.native="exportCallback">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="id"
                         label="ID">
        </el-table-column>
        <el-table-column prop="eqStaffName"
                         min-width="130"
                         label="设备当时所属员工">
          <template slot-scope="scope">
            <span>{{scope.row.eqStaffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="imei"
                         label="IMEI">
          <template slot-scope="scope">
            <span>{{scope.row.imei || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="phone"
                         label="手机号">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="类型">
          <template slot-scope="scope">
            <span>{{scope.row.msgType==1?'接收':'发送'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="msgText"
                         label="短信内容"
                         min-width="200">
          <template slot-scope="scope">
            <span>{{scope.row.msgText || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="发送/接收时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime) || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click.native="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'
import { downloadFile } from '@/utils'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin, tableMixin],
  data() {
    return {
      activeNames: ['1'],
      params: {
        keyWord: ''
      }
    }
  },
  computed: {
    // 是否拥有一键分配权限
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.DELETE_MESSAGE)
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await riskManagementApi.messageList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 导出
    exportCallback() {
      riskManagementApi.messageExpoet(this.params).then((res) => {
        downloadFile(res, '手机短信.xls')
        this.success('恭喜你，导出成功')
      })
    },
    // 删除
    deleteCallback(id) {
      riskManagementApi.deleteMessage(id).then((res) => {
        this.success('恭喜你，删除成功')
        if (this.tableData.records.length === 1) {
          this.params.current--
        }
        this.getTableList()
      })
    }
  }
}
</script>
