<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input v-model.trim="params.receivePhone" placeholder="接收号码" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)">
    </el-input>
    <el-select v-model="params.status" class="ly-margin-right-bottom-sm" placeholder="处理状态" clearable>
        <el-option v-for="item in processState" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
    </el-select>
    <el-select v-model="params.isNormal" class="ly-margin-right-bottom-sm" placeholder="异常" clearable>
        <el-option key="1" label="正常" value="1">
        </el-option>
        <el-option key="0" label="异常" value="0">
        </el-option>
    </el-select>
    <!-- <deviceGroupingSelect v-model="params.eqGroupId"
                                placeholder="设备分组"></deviceGroupingSelect> -->
    <el-input v-model.trim="params.eqStaffName" placeholder="设备所属员工" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)">
    </el-input>
    <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" size="small" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" @change="dateChange">
    </el-date-picker>
    <!-- button -->
    <el-button class="ly-float-right" type="primary" size="medium" @click.native="getTableList(1)">查询
    </el-button>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click.native="exportCallback">导出</el-button>
        </span>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55" fixed>
        </el-table-column>
        <el-table-column label="敏感行为" fixed>
            <template slot-scope="scope">
            <span v-html="$xss(scope.row.keyWord)"></span>
            <span v-if="scope.row.riskType">({{scope.row.riskType || ''}})</span>
          </template>
        </el-table-column>
        <el-table-column label="异常">
            <template slot-scope="scope">
            <span>{{scope.row.isNormal==1?'正常':'异常'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态">
            <template slot-scope="scope">
            <span class="ly-font-color-5"
                  v-if="scope.row.status==1">已处理</span>
            <span class="ly-cursor-pointer ly-font-color-9"
                  v-else
                  @click="openCallback($event,'handle',scope.row.id)">待处理</span>
          </template>
        </el-table-column>
        <el-table-column prop="dealStaffName" label="操作人">
            <template slot-scope="scope">
            <span>{{scope.row.dealStaffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="接收号码" min-width="110">
            <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="接收号码微信信息" min-width="200">
            <template slot-scope="scope">
            <div class="ly-box"
                 v-if="scope.row.weChatInfo">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px"
                     :src="scope.row.weChatInfo.headIcon | wechatAvtor"
                     v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.weChatInfo.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.weChatInfo.wxAccount}}</p>
                <p class="ly-margin-top-4">{{scope.row.weChatInfo.wxId}}</p>
              </div>
            </div>
            <div v-else>--</div>
          </template>
        </el-table-column>
        <el-table-column prop="eqRemark" label="设备">
            <template slot-scope="scope">
            <span>{{scope.row.eqRemark || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="eqOwnerStaffName" label="设备所属员工" min-width="120">
            <template slot-scope="scope">
            <span>{{scope.row.eqOwnerStaffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="发生时间" min-width="160">
            <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime) || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="操作" fixed="right">
            <template slot-scope="scope">
            <el-button @click.native="openCallback($event,'details',scope.row.id)"
                       type="text"
                       size="small">详情</el-button>
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <div>
            <el-button type="primary" size="small" @click="openCallback($event,'handle')">批量处理</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
    </div>
</div>
<!-- 弹窗 -->
<el-dialog title="敏感操作处理" :visible.sync="status.open" width="489px" append-to-body>
    <sensitiveHandle :dataInfo="status" v-if="status.open" @getTableList="getTableList"></sensitiveHandle>
</el-dialog>

<el-dialog title="敏感操作详情" :visible.sync="details.open" width="489px" append-to-body>
    <sensitiveDetails :dataInfo="details" v-if="details.open" @getTableList="getTableList"></sensitiveDetails>
</el-dialog>
</div>
</template>

<script>
    import sensitiveHandle from './components/sensitiveSms/sensitiveHandle'
    import sensitiveDetails from './components/sensitiveSms/sensitiveDetails'
    import {
        deviceGroupingSelect
    } from '@/components/packages/system/lazySelect'
    import {
        downloadFile
    } from '@/utils'
    import {
        riskManagementApi
    } from '@/api/system'
    import {
        PROCESS_STATE
    } from '@/constants/selects'
    import {
        tableMixin
    } from '@/mixins'

    export default {
        mixins: [tableMixin],
        components: {
            deviceGroupingSelect,
            sensitiveHandle,
            sensitiveDetails
        },
        data() {
            return {
                activeNames: ['1'],
                processState: PROCESS_STATE,
                params: {
                    receivePhone: '',
                    status: '',
                    isNormal: '',
                    eqGroupId: '',
                    eqStaffName: '',
                    date: ''
                },
                status: {
                    open: false,
                    data: {
                        remarks: '',
                        checkedbox: true,
                        ids: []
                    }
                },
                details: {
                    open: false,
                    id: null
                }
            }
        },
        methods: {
            // 获取列表
            async requestTableList() {
                await riskManagementApi.sensitiveList(this.params).then(res => {
                    res.records.forEach(item => {
                        item.keyWord = this.replaceHtml(item.keyWord, item.sensitiveWords)
                    })
                    this.tableData = res
                })
            },
            replaceHtml(str, arr) {
                let newStr = str
                arr.forEach(item => {
                    let newHtml = `<span class="colortip">${item}</span>`
                    newStr = newStr.replace(new RegExp(item, 'g'), newHtml)
                })
                return newStr || ''
            },
            // 导出
            exportCallback() {
                riskManagementApi.sensitiveListExpoet().then((res) => {
                    downloadFile(res, '敏感短信.xls')
                    this.success('恭喜你，导出成功')
                })
            },
            // 弹窗-打开
            openCallback(defObj, val, id) {
                switch (val) {
                    case 'handle':
                        if (id) { // 单个操作去除选中状态
                            this.$refs.multipleTable.clearSelection()
                            this.status.data.ids = [id]
                        } else {
                            if (this.status.data.ids.length === 0) {
                                this.error('请选择要处理的数据')
                                return
                            }
                        }
                        this.status.data.remarks = ''
                        this.status.open = true
                        break
                    case 'details':
                        this.details.id = id
                        this.details.open = true
                        break
                }
            },
            // 列表选择事件-获取选中id
            handleSelectionChange(obj) {
                this.status.data.ids = []
                for (let i = 0; i < obj.length; i++) {
                    this.status.data.ids.push(obj[i].id)
                }
            }
        }
    }
</script>