<template>
  <div class="ly-margin-vertical-sm ly-bg-white business ly-box">
    <el-form :model="params"
             ref="params"
             label-width="120px"
             class="demo-ruleForm ly-padding-sm ly-box-1"
             :rules="rules">
      <el-form-item label="红包费率："
                    prop="name"
                    type="name">
        <div>
          <el-input v-model.trim="params.name"
                    autocomplete="off"
                    clearable></el-input>
          <span>%</span>
        </div>
      </el-form-item>
      <el-form-item label="短信费用："
                    prop="phone"
                    type="phone">
        <div>
          <el-input v-model.trim="params.phone"
                    autocomplete="off"
                    clearable></el-input>
          <span>元/条</span>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   @click="submitCallback('params')">确定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>

export default {
  data() {
    return {
      params: {
        name: '',
        phone: ''
      },
      rules: {
        name: [
          { max: 20, message: '企业名称不能超过20个字符' }
        ],
        phone: [
          { max: 20, message: '联系电话不能为空' }
        ]
      }
    }
  },
  created() {
  },
  methods: {
    // 保存
    submitCallback() {
      // console.log(this.params)
    }
  }
}
</script>
