<template>
  <div>
    <!-- echarts -->
    <div ref="chart"
         id="countPie"
         style="width:100%;height:400px"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'

export default {
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart() {
      if (!this.chart) {
        this.chart = echarts.init(this.$refs.chart)
      }
      this.chart.setOption(options)
    }
  }
}
</script>
