<template>
  <div>
    <!-- 筛选查询 -->
    <collapseLay :params="params"></collapseLay>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button size="small"
                     @click="childenCall('add')">设置</el-button>
          <el-button type="primary"
                     size="small"
                     @click="childenCall('add')">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="个人号信息"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="收红包（次数）">
        </el-table-column>
        <el-table-column prop="name"
                         label="发红包（次数）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收红包确认（次数）">
        </el-table-column>
        <el-table-column prop="name"
                         label="发红包确认（金额）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收红包确认（金额）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收转账（次数）">
        </el-table-column>
        <el-table-column prop="name"
                         label="发转账（次数）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收转账（金额）">
        </el-table-column>
        <el-table-column prop="name"
                         label="发转账（金额）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收转账确认（次数）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收转账确认（次数）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收转账确认（金额）">
        </el-table-column>
        <el-table-column prop="name"
                         label="收转账确认（金额）">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <div>
          <el-button type="primary"
                     size="small"
                     @click="childenCall('add')">导出联系人</el-button>
          <el-button type="primary"
                     size="small"
                     @click="childenCall('add')">导出聊天记录</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import collapseLay from '@/pages/ui/components/collapseLay'

export default {
  components: { personalInfo, collapseLay },
  data() {
    return {
      activeNames: ['1'],
      params: {
        personalId: true,
        date: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
