<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <div class="ly-margin-top-sm ly-box">
      <!-- 风控名称 -->
      <div>
        <div class="ly-width-100 ly-bg-white">
          <div class="ly-border-bottom-1 ly-margin-horizontal-sm ly-padding-vertical-sm">
            <span class="ly-vertical-line ly-font-16 ly-vertical-middle ly-font-color-1 ly-font-weight-400">分控名称（已授权设备数量）</span>
          </div>
          <div class="ly-margin-top-sm">
            <div class="control-item">
              <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">返回系统桌面（1）</span>
            </div>
            <div class="control-item">
              <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">操作手机设备按钮（1）</span>
            </div>
            <div class="control-item">
              <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">返回系统桌面（1）</span>
            </div>
            <div class="control-item">
              <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">返回系统桌面（1）</span>
            </div>
            <div class="control-item">
              <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">返回系统桌面（1）</span>
            </div>
            <div class="control-item">
              <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">返回系统桌面（1）</span>
            </div>
          </div>
        </div>
      </div>
      <div class="ly-bg-white ly-padding-sm ly-width-100 ly-margin-left-sm">
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">设备列表</span>
          </div>
          <span>
            <el-button class="ly-tableBtn"
                       type="primary"
                       size="small"
                       @click="resetChecked">取消所选并保存</el-button>
            <el-button class="ly-tableBtn"
                       type="primary"
                       size="small"
                       @click="setCheckedKeys">全选并保存</el-button>
            <el-button class="ly-tableBtn"
                       type="primary"
                       size="small"
                       @click="saveChecked">保存</el-button>
          </span>
        </div>
        <div>
          <el-tree :data="data2"
                   show-checkbox
                   node-key="id"
                   ref="tree"
                   :default-expanded-keys="[1]"
                   :default-checked-keys="[1]">
          </el-tree>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import collapseLay from '@/pages/ui/components/collapseLay'

export default {
  components: { collapseLay },
  data() {
    return {
      activeNames: ['1'],
      params: {
        application: true
      },
      data2: [{
        id: 1,
        label: '全选',
        children: [{
          id: 2,
          label: '二级 1-1'
        },
        {
          id: 3,
          label: '二级 1-1'
        },
        {
          id: 4,
          label: '二级 1-1'
        },
        {
          id: 5,
          label: '二级 1-1'
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  methods: {
    queryCallback() {
      console.log(this.params)
    },
    // 全选
    setCheckedKeys() {
      this.$refs.tree.setCheckedKeys([1])
    },
    // 清空所选
    resetChecked() {
      this.$refs.tree.setCheckedKeys([])
    },
    // 保存所选
    saveChecked() {
      console.log(this.$refs.tree.getCheckedKeys())
      console.log(this.$refs.tree.getCheckedNodes())
    }
  }
}
</script>
