<template>
  <div class="timeLeft">
    <p>
      <span style="font-size: 16px;">搜索时间：</span>
      <el-date-picker
      v-model="searchTime"
      @change = 'changeTime'
      value-format="timestamp"
      :default-time="['00:00:00', '23:59:59']"
      type="daterange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期">
    </el-date-picker>
    </p>
    <p class="tabTime">
      <span class="ly-margin-top-nge-4">
        <btn-group :list="optionList"
                   @click="getEnterpriseMessage" />
      </span>
    </p>
    <p class="searchBtn">
      <el-button type='primary' @click='searchList'>搜索</el-button>
      <el-button @click='clearAll'>清除搜索</el-button>
      <el-button type='primary' @click='exportExcel'>导出</el-button>
    </p>
  </div>
</template>
<script>
    import {
        wechatApi
    } from '@/api/oms'
    import {
        downloadFile
    } from '@/utils'
    export default {
        props: {
            optionList: {
                type: Array,
                default () {
                    return []
                }
            },
            logo: {
                type: String,
                default () {
                    return ''
                }
            }
        },
        data() {
            return {
                searchTime: '',
                searchParams: {
                    day: -1,
                    size: 100,
                    current: 1
                }
            }
        },
        created() {
            this.getEnterpriseMessage(this.optionList[0])
        },
        methods: {
            //日期选择器
            getEnterpriseMessage(item) {
                this.searchParams.from = null
                this.searchParams.to = null
                this.searchParams.day = item.value
                this.searchParams.logo = this.logo
                this.$emitBus('searchParams', this.searchParams)
            },
            changeTime() {
                this.searchParams.from = this.searchTime[0]
                this.searchParams.to = this.searchTime[1]
            },
            //导出Excel表格
            exportExcel() {
                if (this.logo == 'yesterDay') {
                    wechatApi.staffTalkCountYesExport().then(res => {

                        downloadFile(res, '昨日对话量.xls')
                        this.success('恭喜你，导出成功')

                    })
                } else if (this.logo == 'addWechat') {
                    wechatApi.addWechatYesExport().then(res => {

                        downloadFile(res, '昨日加粉量.xls')
                        this.success('恭喜你，导出成功')

                    })
                }
            },
            searchList() {
                this.searchParams.logo = this.logo
                this.searchParams.day = null
                this.searchParams.from = this.searchTime[0]
                this.searchParams.to = this.searchTime[1]
                this.$emitBus('searchParams', this.searchParams)
            },
            clearAll() {
                this.searchTime = null
                this.searchParams.day = -1
                this.searchParams.from = null
                this.searchParams.to = null
                this.$emitBus('searchParams', this.searchParams)
            }
        },
    }
</script>
<style scoped>
    .pagination {
        text-align: center;
    }
    
    .timeLeft {
        background: #fff;
        width: 100%;
        padding: 20px 10px;
        display: flex;
    }
    
    .timeLeft .tabTime {
        margin-left: 40px;
        margin-top: 3px;
    }
    
    .timeLeft .searchBtn {
        margin-left: 100px;
    }
    
    .table {
        padding: 10px;
        background: #fff;
    }
</style>