<template>
  <ul class="ly-clearfix ly-search-lay">
    <li class="ly-float-left ly-margin-right-bottom-sm"
        v-if="searchShow">
      <el-input :placeholder="placeholder"
                size="small"
                clearable
                v-model.trim="params.keyWord"
                @keyup.native.enter="search" />
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm"
        v-if="addMinusShow">
      <el-button-group class="el-button-group-tabs">
        <el-button :type="addMinus === 1 ? 'primary' : 'default'"
                   @click="changeType('addMinus',1)">全部</el-button>
        <el-button :type="addMinus === 2 ? 'primary' : 'default'"
                   @click="changeType('addMinus',2)">增加</el-button>
        <el-button :type="addMinus === 3 ? 'primary' : 'default'"
                   @click="changeType('addMinus',3)">扣减</el-button>
      </el-button-group>
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-button-group class="el-button-group-tabs">
        <el-button :type="type === TYPE.HOUR ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.HOUR)">近7天</el-button>
        <el-button :type="type === TYPE.DAY ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.DAY)">近30天</el-button>
        <el-button :type="type === TYPE.MONTH ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.MONTH)">近90天</el-button>
      </el-button-group>
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-date-picker type="datetimerange"
                      size="small"
                      range-separator="至"
                      start-placeholder="开始时间"
                      end-placeholder="结束时间"
                      placeholder="选择时间范围"
                      :default-time="['00:00:00', '23:59:59']"
                      v-model="type"
                      change="dateChange" />
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-button type="primary"
                 size='small'
                 @click="search">搜索</el-button>
    </li>
  </ul>
</template>

<script>
import { getBeforeDate } from '@/utils'

const TYPE = {
  // 小时
  HOUR: [getBeforeDate(7), new Date()],
  // 天
  DAY: [getBeforeDate(30), new Date()],
  // 月
  MONTH: [getBeforeDate(90), new Date()]
}
export default {
  props: ['entry'],
  data() {
    return {
      type: null,
      addMinus: null,
      params: {
        keyWord: '',
        beginTime: '',
        endTime: ''
      },
      TYPE,
      placeholder: '请输入代理商名称',
      searchShow: true,
      addMinusShow: false
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      switch (this.entry) {
        case 'agentsList':
          this.placeholder = '请输入代理商名称'
          break
        case 'enterpriseList':
        case 'authorizedShop':
        case 'personalNum':
          this.placeholder = '请输入企业名称'
          break
        case 'equipmentDetails':
          this.searchShow = false
          this.addMinusShow = true
          break
        case 'notificationList':
          this.searchShow = false
          break
      }
    },
    changeType(type, val) {
      if (type === 'addMinus') {
        this.addMinus = val
      } else {
        this.type = val
      }
    },
    dateChange(val) {
      this.type = val
    },
    search() {
      // type处理
      if (this.type) {
        this.params.beginTime = new Date(this.type[0]).getTime()
        this.params.endTime = new Date(this.type[1]).getTime()
      } else {
        this.params.beginTime = ''
        this.params.endTime = ''
      }
      // addMinus处理 类型 1增加2减少
      if (this.addMinus) {
        if (this.addMinus === 1) {
          this.params.type = ''
        }
        if (this.addMinus === 2) {
          this.params.type = 1
        }
        if (this.addMinus === 3) {
          this.params.type = 2
        }
      }
      this.$emit('search', Object.assign({}, this.params))
    }
  }
}
</script>
