<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>晒图活动金额(元)</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">支付金额: </span>
      <span class="card-item-2 fr">{{(data.activityMoney || 0) | currency}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
