<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>总览</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">设备: </span>
      <span class="card-item-2 fr">{{data.equipmentNum || 0}}台</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">微信: </span>
      <span class="card-item-2 fr">{{data.wechatNum || 0}}个</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">发消息数: </span>
      <span class="card-item-2 fr">{{data.sendMsgNum || 0}}条</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">收消息数: </span>
      <span class="card-item-2 fr">{{data.receiveMsgNum || 0}}条</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
