<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>红包(个)</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">发红包请求: </span>
      <span class="card-item-2 fr">{{data.sendRedPackageRequest || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">发红包确认: </span>
      <span class="card-item-2 fr">{{data.sendRedPackageConfirm || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">收红包请求: </span>
      <span class="card-item-2 fr">{{data.receiveRedPackageRequest || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">收红包确认: </span>
      <span class="card-item-2 fr">{{data.receiveRedPackageConfirm || 0}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
