<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>红包金额(元)</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <!--
    <div class="card-item clearfix">
      <span class="card-item-1 fl">手机发红包确认: </span>
      <span class="card-item-2 fr">{{(data.mobileSendRedPackageConfirm || 0) | currency}}</span>
    </div>
    -->
    <div class="card-item clearfix">
      <span class="card-item-1 fl">微客服发红包确认: </span>
      <span class="card-item-2 fr">{{data.webImSendRedPackageConfirm || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">收红包确认: </span>
      <span class="card-item-2 fr">{{(data.receiveRedPackageConfirm || 0) | currency}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
