<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>短信条数</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">已发送条数: </span>
      <span class="card-item-2 fr">{{data.usedMsgNum || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">剩余短信条数: </span>
      <span class="card-item-2 fr">{{data.leftMsgNum || 0}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
