<template>
  <el-card class="box-card">
    <div slot="header"
         class="clearfix">
      <span>转账(次)</span>
      <i class="el-icon-refresh fr"
         @click="refresh"></i>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">发转账请求: </span>
      <span class="card-item-2 fr">{{data.sendTransferTime || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">发转账确认: </span>
      <span class="card-item-2 fr">{{data.sendTransferConfirmTime || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">收转账请求: </span>
      <span class="card-item-2 fr">{{data.receiveTransferTime || 0}}</span>
    </div>
    <div class="card-item clearfix">
      <span class="card-item-1 fl">收转账确认: </span>
      <span class="card-item-2 fr">{{data.receiveTransferConfirmTime || 0}}</span>
    </div>
  </el-card>
</template>

<script>
import mixin from './mixin'

export default {
  mixins: [mixin]
}
</script>
