<template>
  <div style="padding:0 60px;">
    <div class="detail-margin-top">
      <el-checkbox class="ly-margin-bottom-10px ly-font-color-3 ly-font-16"
                   @change="allElection($event)"
                   :true-label="1"
                   :false-label="0">全选</el-checkbox>
      <div>
        <span class="ly-font-color-4 ly-font-14"
              style="display: inline-block;width: 33.33%;"
              v-for="item in tableList"
              :key="item.id">
          <el-checkbox v-model="item.status"
                       :true-label="1"
                       :false-label="0">{{item.name}}</el-checkbox>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { menuRigthMixin } from '@/mixins'
import { commonApi } from '@/api/common'

export default {
  mixins: [menuRigthMixin],
  data() {
    return {
      menuTypeList: [
        {
          value: 'enterprise',
          label: '企业后台'
        }, {
          value: 'proxy',
          label: '代理商后台'
        }, {
          value: 'oem',
          label: '运营商后台'
        }, {
          value: 'super',
          label: '超级后台'
        }
      ],
      tableList: []
    }
  },
  created() {
    this.getList()
  },
  methods: {
    async getList() {
      this.tableList = await commonApi.roleList(this.menuTypeList[0].value)
    },
    allElection(val) {
      this.tableList.forEach((element) => {
        if (val) {
          element.status = 1
        } else {
          element.status = 0
        }
      })
    }
  }
}
</script>
