<template>
  <login :loginType="loginType">
    <div class="login-tabs"
         slot="loginType">
      <span class="login-tab-item"
            :class="{'active': loginType === LOGIN_TYPE.SMS}"
            @click="() => loginType = LOGIN_TYPE.SMS">超级</span>
      <span class="login-tab-item"
            :class="{'active': loginType === LOGIN_TYPE.OMS}"
            @click="() => loginType = LOGIN_TYPE.OMS">运营商</span>
      <span class="login-tab-item"
            :class="{'active': loginType === LOGIN_TYPE.PMS}"
            @click="() => loginType = LOGIN_TYPE.PMS">代理商</span>
      <span class="login-tab-item"
            :class="{'active': loginType === LOGIN_TYPE.SYSTEM}"
            @click="() => loginType = LOGIN_TYPE.SYSTEM">企业</span>
      <span class="login-tab-item"
            :class="{'active': loginType === LOGIN_TYPE.CHAT}"
            @click="() => loginType = LOGIN_TYPE.CHAT">微客服</span>
    </div>
  </login>
</template>

<script>
import Login from './components/login'
import { LOGIN_TYPE } from '@/constants'
import { loginTypeLocal } from '@/storage'

export default {
  components: {
    Login
  },
  data() {
    return {
      loginType: loginTypeLocal.getOrDefault(),
      LOGIN_TYPE
    }
  }
}
</script>
