<template>
  <div class="main-tags">
    <div class="tags-menu tags-border-right">
      <el-button type="text"
                 icon="el-icon-menu">控制面板</el-button>
    </div>
    <div class="tags-ul">
      <div class="tags-li"
           v-for="item in tagList.tagList"
           :key="item.index"
           :class="{'active': item.index == tagList.defaultActive}"
           ref="tags">
        <el-button type="text"
                   @click="routePush(item)">{{item.title}}
          <i v-if="tagList.tagList.length > 1"
             @click.stop="closeRoutePush(item)"
             class="el-icon-close el-icon--right"></i>
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationsType from '@/store/mutation-types'

export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'tagList'
    ]),
    tagMap() {
      const map = {}
      this.tagList.tagList.forEach((v, i) => {
        map[v.index] = {
          order: i,
          data: v
        }
      })
      return map
    }
  },
  watch: {
    'tagList.defaultActive'(val) {
      this.locateTag(val)
    }
  },
  mounted() {
    this.locateTag(this.tagList.defaultActive)
  },
  methods: {
    ...mapMutations({
      updateTagList: mutationsType.UPDATE_TAG_LIST,
      deleteTagListOne: mutationsType.DELETE_TAG_LIST_ONE
    }),
    routePush(item) {
      if (this.$route.name !== item.name) {
        this.updateTagList(item)
        this.$router.push({ name: item.name })
      }
    },
    closeRoutePush(item) {
      let obj = {
        vm: this,
        item: item
      }
      this.deleteTagListOne(obj)
    },
    // 自动定位到当前激活的tag
    locateTag(index) {
      this.$nextTick(() => {
        let item = this.tagMap[index]
        if (this.$refs.tags && item && this.$refs.tags[item.order]) {
          this.$refs.tags[item.order].scrollIntoViewIfNeeded()
        }
      })
    }
  }
}
</script>
