<template>
  <div>
    <!-- 上面的卡片列表 -->
    <overview v-if="showOverview" />

    <!-- 下面的tab切换 -->
    <stat v-if="showStat" />

  </div>
</template>

<script>
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import Overview from './components/overview'
import Stat from './components/stat'

export default {
  mixins: [resourceMixin],
  components: {
    Overview,
    Stat
  },
  data () {
    return {

      activeName: 'friendStat'

    }
  },
  computed: {
    showOverview () {
      return this.hasSomeResourceAction([
        RESOURCE_ACTION_MAP.OVERVIEW_OVIEW,
        RESOURCE_ACTION_MAP.OVERVIEW_RED_PACKET_COUNT,
        RESOURCE_ACTION_MAP.OVERVIEW_RED_PACKET_AMOUNT,
        RESOURCE_ACTION_MAP.OVERVIEW_TRANSFER_COUNT,
        RESOURCE_ACTION_MAP.OVERVIEW_TRANSFER_AMOUNT,
        RESOURCE_ACTION_MAP.OVERVIEW_YESTERDAYNEW_FRIEND,
        RESOURCE_ACTION_MAP.OVERVIEW_SMS_COUNT,
        RESOURCE_ACTION_MAP.OVERVIEW_BLUEPRINT_COUNT,
        RESOURCE_ACTION_MAP.OVERVIEW_BLUEPRINT_AMOUNT,
        RESOURCE_ACTION_MAP.OVERVIEW_WAREHOUSE_COUNT
      ])
    },
    showStat () {
      return this.hasSomeResourceAction([
        RESOURCE_ACTION_MAP.STAT_FRIEND,
        RESOURCE_ACTION_MAP.STAT_SENSITIVE,
        RESOURCE_ACTION_MAP.STAT_FANS,
        RESOURCE_ACTION_MAP.STAT_FRIEND_INCEEASE,
        RESOURCE_ACTION_MAP.RANK_FRIEND_INCREASE,
        RESOURCE_ACTION_MAP.STAT_FRIEND_DISTRIBUTION,
        RESOURCE_ACTION_MAP.STAT_RECEPTION,
        RESOURCE_ACTION_MAP.STAT_CUSTOMER_SERVICE_TALK,
        RESOURCE_ACTION_MAP.STAT_FRIEND_NOT_PASS,
        RESOURCE_ACTION_MAP.STAT_WECHAT_GROUP,
        RESOURCE_ACTION_MAP.STAT_FRIEND_RESPONSE_TIME,
        RESOURCE_ACTION_MAP.STAT_WECHAT_GROUP_ACTIVE,
        RESOURCE_ACTION_MAP.STAT_CALL_RECORDING,
        RESOURCE_ACTION_MAP.STAT_FRIEND_ONLINE_TIME
      ])
    }
  }

}
</script>
