<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import { commonApi } from '@/api/common'
import lazySelectMixin from './mixin'
import cacheMixin from './cacheMixin'

export default {
  mixins: [lazySelectMixin, cacheMixin],
  props: ['cityId'],
  watch: {
    'cityId': function (val, oldVal) {
      this.$refs.lazySelect.clear()
      // this.getDataFnOrDataList()
    }
  },
  methods: {
    getKey() {
      return this.cityId
    },
    getData() {
      if (!this.cityId) {
        this.error('请先选择市')
        return Promise.resolve([])
      }
      return commonApi.areaList(this.cityId).then(data => (data || []).map(v => this.convertData(v.id, v.name, v)))
    }
  }
}
</script>
