<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               :disabled="provinceId?true:false"
               @change="change"
               ref="lazySelect" />
</template>

<script>
import { commonApi } from '@/api/common'
import lazySelectMixin from './mixin'
import cacheMixin from './cacheMixin'

export default {
  mixins: [lazySelectMixin, cacheMixin],
  props: ['provinceId'],
  watch: {
    'provinceId': function (val, oldVal) {
      this.$refs.lazySelect.clear()
      // this.getDataFnOrDataList()
    }
  },
  methods: {
    getKey() {
      return this.provinceId
    },
    getData() {
      if (!this.provinceId) {
        this.error('请先选择省')
        return Promise.resolve([])
      }
      return commonApi.cityList(this.provinceId).then(data => (data || []).map(v => this.convertData(v.id, v.name, v)))
    }
  }
}
</script>
