<template>
  <ul class="ly-clearfix ly-search-lay">
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-button-group class="el-button-group-tabs">
        <el-button :type="type === TYPE.HOUR ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.HOUR)">近7天</el-button>
        <el-button :type="type === TYPE.DAY ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.DAY)">近30天</el-button>
        <el-button :type="type === TYPE.MONTH ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.MONTH)">近90天</el-button>
      </el-button-group>
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-date-picker type="datetimerange"
                      size="small"
                      range-separator="至"
                      start-placeholder="开始时间"
                      end-placeholder="结束时间"
                      placeholder="选择时间范围"
                      :default-time="['00:00:00', '23:59:59']"
                      :clearable="false"
                      v-model="type" />
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-button type="primary"
                 size='small'
                 @click="search">搜索</el-button>
    </li>
  </ul>
</template>

<script>
import { getBeforeDate } from '@/utils'

const TYPE = {
  // 小时
  HOUR: [getBeforeDate(7), new Date()],
  // 天
  DAY: [getBeforeDate(30), new Date()],
  // 月
  MONTH: [getBeforeDate(90), new Date()]
}
export default {
  props: ['entry'],
  data() {
    return {
      type: null,
      addMinus: null,
      params: {
        search: '',
        beginTime: '',
        endTime: ''
      },
      TYPE
    }
  },
  created() {
  },
  methods: {
    changeType(type, val) {
      if (type === 'addMinus') {
        this.addMinus = val
      } else {
        this.type = val
      }
    },
    search() {
      this.params.beginTime = new Date(this.type[0]).getTime()
      this.params.endTime = new Date(this.type[1]).getTime()
      this.$emit('search', Object.assign({}, this.params))
    }
  }
}
</script>
