<template>
  <div>
    <!--<el-dialog title="风控权限" :visible.sync="dialogProp.show" width="560px" @close="colseDialog">-->
    <div class="ly-margin-center ly-width-400px">
      <p>imei：{{dialogProp.data.imei}}</p>
      <p>备注：{{dialogProp.data.remark}}</p>
      <div class="ly-width-400px ly-margin-top-10px ly-mheight-46vh ly-bg-f6">
        <el-checkbox-group v-model="checkedData" @change="handleCheckedChange">
        <ul class="ly-padding-20px">
          <li class="ly-paddingtb-6px" v-for="item in dataList" :key="item.id">
            <el-checkbox :label="item" class="ly-checkbox-label">{{item.limitName}}
              <span class="ly-font-color-7" v-if="item.limitName==='USB' || item.limitName ==='usb'">(关闭有风险)</span>
              <span v-if="item.limitName==='查看手机通话记录'">(需要重启手机)</span>
            </el-checkbox>
          </li>
        </ul>
        </el-checkbox-group>
      </div>
    </div>
    <div class="ly-width-400px ly-margin-center ly-margin-top-20px ly-text-left">
      <el-button size="medium" @click="checkNoneList">全不选</el-button>
      <el-button size="medium" type="primary" @click="checkAllList">全选</el-button>
      <el-button size="medium" type="primary" class="ly-float-right" @click="saveApps">保存</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'

export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      dataList: [],
      checkedData: []
    }
  },
  created() {
    this.getAddInfo()
  },
  methods: {
    colseDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 权限列表--获取
     */
    async getAddInfo() {
      await deviceManageApi.equipmentAllRisk().then((res) => {
        this.dataList = res
        this.getInstallApp(res)
      })
    },
    /**
     * 单选
     */
    handleCheckedChange(val) {
      this.checkedData = val
    },
    /**
     * 全不选
     */
    checkNoneList() {
      this.checkedData = []
    },
    /**
     * 全选
     */
    checkAllList() {
      this.checkedData = this.dataList
    },
    /**
     * 获取已权限
     */
    async getInstallApp(arrData) {
      await deviceManageApi.equipmentPartRisk(this.dialogProp.data.id).then((res) => {
        let installStr = JSON.stringify(res.eqRiskInfoBos)
        // 进行校验
        arrData.forEach(o => {
          let oStr = JSON.stringify(o)
          if (installStr.indexOf(oStr) > -1) {
            this.checkedData.push(o)
          }
        })
      })
    },
    /**
     * 权限列表--保存
     */
    async saveApps() {
      let limitId = []
      this.checkedData.forEach(o => {
        limitId.push(o.id)
      })
      let params = {
        limitId: limitId,
        id: this.dialogProp.data.id
      }
      await deviceManageApi.equipmentRiskSave(params).then(() => {
        this.success('保存成功')
        this.colseDialog()
      })
    }
  }
}
</script>
