<template>
  <div>
    <!--<el-dialog title="请使用安卓版工作手机客户端扫描" :visible.sync="dialogProp.show" width="489px" @close="colseDialog">-->
    <el-form>
      <el-form-item label="套餐信息:" :label-width="formLabelWidth" class="ly-font-color-2">
        <p>总设备数：{{data.equipAllNum}}</p>
        <p>剩余设备数：{{data.equipLevNum}}</p>
        <p>最晚过期：{{data.lastTime | date('yyyy-MM-dd')}}</p>
        <p class="ly-margin-top-30px ly-height-200px">
          <!--<img class="ly-wh-200-200px" :src="data.url"/>-->
          <Qrcode :url="data.url"
                  ref="Qrcode"
                  :size='200'></Qrcode>
        </p>
      </el-form-item>
    </el-form>
    <p class="ly-text-center ly-font-color-7">如果好友没有完全同步到后台，可以选择重新扫码同步好友</p>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button size="medium" @click="colseDialog">关 闭</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import Qrcode from '@/components/common/qrcode' // 生成二维码
export default {
  components: { Qrcode },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      data: {}
    }
  },
  created() {
    this.getAddInfo()
  },
  methods: {
    colseDialog() {
      this.$emit('closeDialog')
    },
    async getAddInfo() {
      await deviceManageApi.equipmentAdd(this.params).then((res) => {
        this.data = res
      })
      /*
      await deviceManageApi.equipmentAdd(this.params).then((res) => {
        this.data = res
      }, () => {
        this.$confirm('出错了，是否重新加载', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.getAddInfo()
        }).catch(() => {})
      })
      */
    }
  }
}
</script>
