<template>
  <div>
    <div>
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">新好友通过后自动回复（通用规则），单个微信独立设置在个人号自动回复菜单设置</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small" @click="showGMessageAddDialog"
                     :disabled="hasDistribution?false:true">新增消息</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="消息类型">
          <template slot-scope="scope">
            <span>{{ msgType[scope.row.msgType] }}</span>
          </template>
        </el-table-column>
        <el-table-column label="消息内容">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       :disabled="hasDistribution?false:true"
                       @click="showGMessageModifyDialog(scope.$index, scope.row)">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       :disabled="hasDistribution?false:true"
                       size="small" @click="friendsRelayDeleteConfirm(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
    <!--新增右侧消息-->
    <el-dialog title="新增快捷回复" :visible.sync="dialogGMessageAdd.show" width="880px" v-if="dialogGMessageAdd.show" @close="closeGMessageAddDialog" append-to-body>
      <gReplayMessageAdd :dialogProp="dialogGMessageAdd"  @closeDialog="closeGMessageAddDialog" @refreshTabelList="refreshTabelList"></gReplayMessageAdd>
    </el-dialog>
    <!--编辑右侧消息-->
    <el-dialog title="编辑快捷回复" :visible.sync="dialogGMessageModify.show" width="880px" v-if="dialogGMessageModify.show" @close="closeGMessageModifyDialog" append-to-body>
      <gReplayMessageAdd :dialogProp="dialogGMessageModify"  @closeDialog="closeGMessageModifyDialog" @refreshTabelList="refreshTabelList"></gReplayMessageAdd>
    </el-dialog>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import videoAudioImg from '@/components/common/videoAudioImg'
import gReplayMessageAdd from './gReplayMessageAdd.vue'
import { MESSAGE_TPYE } from '@/constants/messageType'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
export default {
  mixins: [resourceMixin, tableMixin],
  components: { videoAudioImg, gReplayMessageAdd },
  data() {
    return {
      msgType: MESSAGE_TPYE,
      params: {
      },
      tableData: {},
      dialogGMessageAdd: {},
      dialogGMessageModify: {}
    }
  },
  computed: {
    // 是否拥有一键分配权限
    hasDistribution() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.NEW_FRIEND_REPLY)
    }
  },
  created() {},
  methods: {
    /**
     * 好友自动回复列表--获取
     */
    async requestTableList() {
      await deviceManageApi.globalReplayFriendsListGet(this.params).then((data) => {
        data.records.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.tableData = data
      })
    },
    /**
     * 好友自动回复列表--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 好友自动回复列表--删除确认
     */
    friendsRelayDeleteConfirm(index, data) {
      let that = this
      this.$confirm('确定要删除该新好友通过后自动回复？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        that.friendsRelayDelete(index, data)
      }).catch(() => {})
    },
    /**
     * 好友自动回复列表--删除请求
     */
    async friendsRelayDelete(index, data) {
      await deviceManageApi.globalReplayFriendsListDelete(data.id).then(() => {
        this.success('删除成功!')
        this.getTableList()
      })
    },
    /**
     * 右侧--快捷回复--新增--弹窗--显示
     */
    showGMessageAddDialog() {
      this.dialogGMessageAdd = {
        show: true
      }
    },
    /**
     * 右侧--快捷--新增--弹窗--关闭
     */
    closeGMessageAddDialog() {
      this.dialogGMessageAdd = {}
    },
    refreshTabelList(type) {
      let current = type ? 1 : null
      this.getTableList(current)
      this.closeGMessageAddDialog()
      this.closeGMessageModifyDialog()
    },
    /**
     * 右侧--快捷--编辑--弹窗--显示
     */
    showGMessageModifyDialog(index, item) {
      this.dialogGMessageModify = {
        show: true,
        id: item.id,
        data: item
      }
    },
    /**
     * 右侧--快捷--编辑--弹窗--关闭
     */
    closeGMessageModifyDialog() {
      this.dialogGMessageModify = {}
    }
  }
}
</script>
