<template>
  <div class="ly-margin-right-30px">
    <div class="ly-height-max-50vh ly-scroll-y">
      <el-form>
        <el-form-item label="时间段选择:" class="inputewidth" :label-width="formLabelWidth" required>
          <el-time-select
            width="80"
            placeholder="起始时间"
            v-model="params.startTime"
            :clearable="false"
            :picker-options="{
              start: '00:00',
              step: '00:15',
              end: '24:00'
            }">
          </el-time-select>
          <el-time-select
            width="80"
            placeholder="结束时间"
            v-model="params.endTime"
            :clearable="false"
            :picker-options="{
              start: '00:00',
              step: '00:15',
              end: '24:00'
            }">
          </el-time-select>
          <span>从00:00点到00:00点表示全天有效</span>
        </el-form-item>
      </el-form>
      <el-table
        :data="params.msgRelaAutoReplyPersonChange"
        style="width: 715px;margin:0 auto;">
        <el-table-column
          prop="mesageType"
          label="消息类型">
          <template slot-scope="scope">
            <span>{{ msgType[scope.row.msgType] }}</span>
          </template>
</el-table-column>
<el-table-column prop="messageContent" label="消息内容">
    <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
</el-table-column>
<el-table-column label="操作">
    <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button
              size="mini"
              type="text"
              class="delbtn-text-color"
              @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
</el-table-column>
</el-table>
<!-- 新增消息 -->
<el-dialog :title="modifyObj.data?'编辑消息':'新增消息'" append-to-body width="880px" :visible.sync="dialogAddMessage.show" v-if="dialogAddMessage.show" @close="closeAddMessageDialog">
    <pAutoReplayAddMsg :isShow='isShow' :dialogProp="modifyObj" @closeDialog="closeAddMessageDialog" @getMessageContent="getMessageContent"></pAutoReplayAddMsg>
</el-dialog>
</div>
<div class="ly-text-right ly-margin-top-20px">
    <el-button type="primary" class="ly-float-left ly-margin-left-45px " @click="showAddMessageDialog">添加消息</el-button>
    <el-button @click="closeDialog">取 消</el-button>
    <el-button class="ly-margin-right-45px" type="primary" @click="submitInfo">确 定</el-button>
</div>
</div>
</template>

<script>
    import {
        deviceManageApi
    } from '@/api/system'
    import pAutoReplayAddMsg from './pAutoReplayAddMsg'
    import videoAudioImg from '@/components/common/videoAudioImg'
    import {
        MESSAGE_TPYE,
        MESSAGE_TPYE_KEY
    } from '@/constants/messageType'
    export default {
        components: {
            pAutoReplayAddMsg,
            videoAudioImg
        },
        props: {
            dialogProp: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        data() {
            return {
                msgType: MESSAGE_TPYE,
                MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
                formLabelWidth: '136px',
                params: {
                    endTime: '00:00',
                    startTime: '00:00',
                    msgRelaAutoReplyPersonChange: []
                },
                dialogAddMessage: {},
                modifyObj: {},
                index: '',
                isShow: {}
            }
        },
        created() {
            if (this.dialogProp.data) {
                this.params.endTime = this.dialogProp.data.endTime
                this.params.startTime = this.dialogProp.data.startTime
                this.eidtMessageInit(this.dialogProp.data.id)
            }
        },
        methods: {
            /**
             * 获取编辑详情
             */
            async eidtMessageInit(id) {
                await deviceManageApi.pAutoReplayListDetailGet(id).then((res) => {
                    res.forEach(o => {
                        o.msgSource = o.msgText
                    })
                    this.params.msgRelaAutoReplyPersonChange = res
                    this.params.id = id
                })
            },
            /**
             * 关闭弹窗
             */
            closeDialog() {
                this.$emit('closeDialog')
            },
            /**
             * 新增消息--弹窗--显示
             */
            showAddMessageDialog() {
                this.dialogAddMessage = {
                    show: true
                }
                this.isShow = {
                    show: true
                }
            },
            /**
             * 新增消息--弹窗--关闭
             */
            closeAddMessageDialog() {
                this.dialogAddMessage = {}
                this.modifyObj = {}
                this.index = ''
            },
            /**
             * 新增消息--获取新增消息内容
             */
            getMessageContent(data) {
                let listObj = {
                    msgText: data.msgText,
                    msgType: data.msgType
                }
                if (data.msgType === 3) {
                    listObj.voiceLength = data.voiceLength
                }
                if (data.msgType === 4) {
                    listObj.coverInfo = data.coverInfo
                }
                listObj.msgSource = data.msgText
                if (this.index !== '') {
                    let newData = JSON.parse(JSON.stringify(this.params.msgRelaAutoReplyPersonChange))
                    newData[this.index] = listObj
                    this.params.msgRelaAutoReplyPersonChange = newData
                } else {
                    this.params.msgRelaAutoReplyPersonChange.push(listObj)
                }
                this.closeAddMessageDialog()
            },
            /**
             * 新增消息--编辑
             */
            handleEdit(index, item) {
                this.dialogAddMessage = {
                    show: true
                }
                this.modifyObj = {
                    data: item
                }
                this.index = index
            },
            handleDelete(index, item) {
                let that = this
                this.$confirm('是否删除该消息?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.success('删除成功!')
                    that.params.msgRelaAutoReplyPersonChange.splice(index, 1)
                }).catch(() => {})
            },
            /**
             * 保存
             */
            submitInfo() {
                let compareTime = this.compareTime()
                if (!compareTime) {
                    this.warn('结束时间不能早于开始时间')
                    return false
                }
                this.submitAddInfo()
            },
            compareTime() {
                let startTime = this.params.startTime.split(':')
                let endTime = this.params.endTime.split(':')
                let sH = parseInt(startTime[0])
                let sM = parseInt(startTime[1])
                let eH = parseInt(endTime[0])
                let eM = parseInt(endTime[1])
                if (eH === 0 && sH === 0 && sM === 0 && eM === 0) {
                    return true
                } else {
                    if ((sH > eH) || (sH === eH && sM >= eM)) {
                        return false
                    }
                }
                return true
            },
            /**
             * 新增--保存
             */
            async submitAddInfo() {
                let params = JSON.parse(JSON.stringify(this.params))
                await deviceManageApi.pAutoReplayListModify(params).then((res) => {
                    this.success('保存成功')
                    this.$emit('refreshTabelList', this.params)
                })
            }
        }
    }
</script>
<style>
    .inputewidth .el-date-editor--time-select {
        width: 120px !important;
    }
</style>