<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="分组名称:" :label-width="formLabelWidth" prop="groupName">
        <el-input autocomplete="off"
                  placeholder="分组名称"
                  class="ly-width-280px-im"
                  v-model.trim="params.groupName"
                  :maxlength="20"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="分组类型:" :label-width="formLabelWidth" prop="groupType">
        <el-select placeholder="请选择分组类型"
                   class="ly-width-280px-im"
                   v-model="params.groupType"
                   :disabled="dialogProp.data?true:false"
                   clearable>
          <el-option
            v-for="item in hasCommonEditAction"
            :key="item.value"
            :label="item.label"
            :disabled="item.disabled"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { QREPLAY_GROUP_TPYE } from '@/constants/messageType'
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
export default {
  mixins: [resourceMixin],
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      // QREPLAY_GROUP_TPYE: QREPLAY_GROUP_TPYE,
      formLabelWidth: '136px',
      params: {
        groupType: '',
        groupName: ''
      },
      rules: {
        groupName: [
          { required: true, message: '请输入分组名称' }
        ],
        groupType: [
          { required: true, message: '请选择分组类型' }
        ]
      }
    }
  },
  created() {
    if (this.dialogProp.data) {
      this.params.groupName = this.dialogProp.data.groupName
      this.params.groupType = this.dialogProp.data.groupType
    }
  },
  computed: {
    // 是否拥有编辑公共快捷语的权限
    hasCommonEditAction() {
      let groupType = QREPLAY_GROUP_TPYE
      let hasAction = this.hasResourceAction(RESOURCE_ACTION_MAP.REPLY_COMMON)
      if (!hasAction) {
        groupType[1].disabled = true
      }
      return groupType
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.dialogProp.data) {
            // 修改
            this.submitModifyInfo()
          } else {
            // 新增
            this.submitAddInfo()
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo() {
      await deviceManageApi.qReplayReplayLeftGroupAdd(this.params).then((res) => {
        if (res === 2 || res === '2') {
          this.success('新增成功')
          this.$emit('refreshLeftGroupInfo', this.params)
        } else {
          this.warn('分组名称重名')
        }
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo() {
      let params = JSON.parse(JSON.stringify(this.params))
      if (this.dialogProp.data) {
        params.id = this.dialogProp.data.id
      } else {
        return false
      }
      await deviceManageApi.qReplayReplayLeftGroupModify(params).then((res) => {
        if (res === 2 || res === '2') {
          this.success('修改成功')
          this.$emit('refreshLeftGroupInfo', params)
        } else {
          this.warn('分组名称重名')
        }
      })
    }
  }
}
</script>
