<template>
    <div>
        <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
            <div class="ly-box">
                <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">数据总览</span>
                </div>
            </div>
            <Cards></Cards>
            <div class="ly-box ly-margin-top39px">
                <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">个人号统计</span>
                <span class="graytip ly-margin-left-8px">近7天数据</span>
                </div>
            </div>
            <div class="ly-border-DDD-1 ly-padding-25-32px">
                <div class="ly-margin-bottom-25px">
                    <el-button-group class="ly-button-group-border">
                        <el-button type="primary"
                                    @click="earlyWarning = true"
                                    class="ly-button-border ly-button-width90px">微信好友</el-button>
                        <el-button type=""
                                    @click="earlyWarning = false"
                                    class="ly-button-border ly-button-width90px">微信群</el-button>
                    </el-button-group>
                </div>
                <div class="ly-box">
                    <FriendTotal ref="FriendTotal"
                          class="ly-border-right-DDD-1 ly-echarts-height362 ly-padding-right-30px"></FriendTotal>
                    <SendRecieveLine ref="SendRecieveLine" class="ly-echarts-height362 ly-paddingleft-30px"></SendRecieveLine>
                </div>
            </div>
            <div class="ly-box">
                <div class="ly-box-1">
                    <div class="ly-box ly-margin-top39px">
                        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                        <span class="ly-vertical-line">好友性别统计 共1897（人）</span>
                        </div>
                    </div>
                    <div class="ly-echarts-wrapper">
                        <div class="ly-echarts-content">
                            <FriendCountPie ref="FriendTotal"
                        class="ly-echarts-height-full ly-border-DDD-1"></FriendCountPie>
                        </div>
                    </div>
                </div>
                <div class="ly-box-1 ly-margin-left-20px">
                    <div class="ly-box ly-margin-top39px">
                        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                        <span class="ly-vertical-line">好友地区统计 共1897（人）</span>
                        </div>
                    </div>
                     <div class="ly-echarts-wrapper">
                        <div class="ly-echarts-content">
                    <chinese-map ref="map"
                       class="ly-echarts-height-full ly-border-DDD-1 ly-paddingleft-10px" />
                        </div>
                     </div>
                </div>
                <div class="ly-box-1 ly-margin-left-20px">
                    <div class="ly-box ly-margin-top39px">
                        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                        <span class="ly-vertical-line">用户关注问题</span>
                        </div>
                    </div>
                     <div class="ly-echarts-wrapper">
                        <div class="ly-echarts-content">
                    <FollowQuestion ref="FollowQuestion" class="ly-echarts-height-full ly-border-DDD-1 ly-margin-left-20px"></FollowQuestion>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {
  Cards,
  FriendTotal,
  FriendCountPie,
  SendRecieveLine,
  ChineseMap,
  FollowQuestion
} from './components'
export default {
  components: {
    Cards,
    FriendCountPie,
    FriendTotal,
    SendRecieveLine,
    ChineseMap,
    FollowQuestion
  }
}
</script>
