<template>
  <div class="chart"
       ref="chart"></div>
</template>

<script>
import { detailMixin, echartResizeMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import options from './src/options'
import echarts from 'echarts'

export default {
  mixins: [detailMixin, echartResizeMixin],
  data() {
    return {
      chart: null
    }
  },
  methods: {
    afterEntity({ staffId, from, to }) {
      v3indexApi.getStaffJiedaiCountDetail({
        staffId,
        from,
        to
      }).then(data => {
        data.forEach(item => {
          item.date = this.fmt.date(item.date, 'yyyy-MM-dd')
        })
        // x轴
        const xAxisData = []
        // 聊天好友总数
        const totalChatData = []
        // 接待男性好友总数
        const totalMaleData = []
        // 接待女性好友总数
        const totalFemaleData = []
        // 群聊总数
        const totalChatRoomData = []
        // 未回复好友总数
        const totalNoReplyChatData = []

        if (data && data.length) {
          data.forEach(v => {
            xAxisData.push(v.date)
            totalChatData.push(v.totalChatTarget)
            totalMaleData.push(v.totalMale)
            totalFemaleData.push(v.totalFemale)
            totalChatRoomData.push(v.totalChatroom)
            totalNoReplyChatData.push(v.totalNoReplyChatTarget)
          })
        }

        options.xAxis[0].data = xAxisData
        options.series[0].data = totalChatData
        options.series[1].data = totalMaleData
        options.series[2].data = totalFemaleData
        options.series[3].data = totalChatRoomData
        options.series[4].data = totalNoReplyChatData

        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.chart {
  height: rem(400px);
}
</style>
