<template>
  <div class="chat-moment-item">
    <img class="chat-moment-avtor" :src="(isMine ? activeChatAccountInfo.headIcon : activeChatFriendInfo.headIcon) | wechatAvtor" v-image-view>
    <div class="chat-moment-main">
      <div class="chat-moment-user">
        <em class="fr">{{(entity.createTime * 1000) | dateAgo}}</em>
        <h3 class="ellipsis">{{(isMine ? activeChatAccountInfo.nickName : activeChatFriendInfo.nickName)}}</h3>
      </div>
      <div class="chat-moment-style">
        <!-- 文本 -->
        <template v-if="entity.type === MOMENT_TYPE.TEXT">
          <div class="chat-moment-content" v-html="parseHTML($xss(entity.momentEntity.content))"></div>
        </template>
        <!-- 图片 -->
        <template v-else-if="entity.type === MOMENT_TYPE.PICTURE">
          <div class="chat-moment-content" v-html="parseHTML($xss(entity.momentEntity.content))"></div>
          <div class="chat-moment-style-img9" v-show="entity.momentEntity.urls.length">
            <!-- 一张图片-->
            <template v-if="entity.momentEntity.urls.length===1">
              <img :imgurl="entity.momentEntity.urls[0]" :src="'' | img" class="sigle-img-container" v-image-view>
            </template>
            <!-- 多张图片 -->
            <template v-else>
              <section v-for="v in entity.momentEntity.urls" :key="v" class="multi-img-container">
                <img :imgurl="v" :src="'' | img" v-image-view>
                <span :style="v | backgroundImgurl" class="bg-img"></span>
              </section>
            </template>
          </div>
        </template>
        <!-- 链接 -->
        <template v-else-if="entity.type === MOMENT_TYPE.LINK">
          <div class="chat-moment-style-info" @click="openLink">
            <!-- 朋友圈链接的图片为微信根据链接地址解析出来的，app端无法获取
            <img v-if="entity.momentEntity.urls.length"
                 :src="entity.momentEntity.urls[0]"
                 v-image-view>
                 -->
            <div>{{entity.momentEntity.content}}</div>
          </div>
        </template>
        <!-- 视频 -->
        <template v-else-if="entity.type === MOMENT_TYPE.VIDEO">
          <div class="chat-moment-content" v-html="entity.momentEntity.content"></div>
          <div class="chat-moment-style-video video-preview" @click="showDialogVisibleVideo(entity.momentEntity.urls[0])">
            <video v-if="entity.momentEntity.urls.length" :src="entity.momentEntity.urls[0]"></video>
            <div class="play-circle">
              <div class="play"></div>
            </div>
          </div>
        </template>
      </div>

      <!-- 操作栏 -->
      <div class="chat-moment-opts">
        <div class="fr">
          <!-- 已赞 -->
          <a href="javascript: void(0);" v-if="isLiked">
            <i class="icon icon-chat-liked"></i>
          </a>
          <!-- 点赞 -->
          <a href="javascript: void(0);" v-else @click="handleLike">
            <i class="icon icon-chat-like"></i>
          </a>
          <!-- 显示评论 -->
          <a href="javascript: void(0);" @click="showComment">
            <i class="icon icon-chat-comment"></i>
          </a>
        </div>
        <!--
        <a href="javascript: void(0);"
           class="chat-moment-opt-btn"
           v-if="isMine"
           @click="handleDel">删除</a>
           -->
      </div>

      <div class="chat-moment-comment" v-show="entity.likeList.length || entity.commentList.length">

        <!-- 点赞列表 -->
        <transition name="el-zoom-in-top">
          <div class="chat-moment-priase" v-show="entity.likeList.length">
            <i class="icon icon-chat-praise"></i>
            <div class="chat-moment-praise-list">
              <span v-for="(v, i) in entity.likeList" :key="v.wxId">
                {{v.nickName}}
                <span v-if="i < entity.likeList.length - 1">, </span>
              </span>
            </div>
          </div>
        </transition>

        <!-- 评论列表 -->
        <transition name="el-zoom-in-top">
          <div class="chat-moment-comment-list" v-show="entity.commentList.length">
            <div class="chat-moment-comment-item" v-for="(v, i) in entity.commentList" :key="i" @click="showReply(v)">
              <em>{{v.nickName}}</em>
              <template v-if="v.otherWxId">
                回复<em>{{wxIdMap[v.otherWxId] && wxIdMap[v.otherWxId].nickName || '[无]'}}: </em>
              </template>
              <template v-else>: </template>
              <span v-html="parseHTML($xss(v.content))"></span>
            </div>
          </div>
        </transition>

      </div>
    </div>

    <!-- 评论框 -->
    <el-dialog :title="comment.title" class="dialog-hide-footer" width="500px" append-to-body :visible.sync="comment.show">
      <comment v-if="comment.show" @after-submit="handleComment" @on-cancel="cancelComment" />
    </el-dialog>
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeDialogVideo"></videoDialog>
  </div>
</template>

<script>
import {
  detailMixin
} from '@/mixins'
import {
  MOMENT_TYPE
} from '@/constants'
import Comment from './comment'
import videoDialog from '@/components/packages/chat/home/videoDialog'
import {
  parseHTML
} from '@/components/libs/wechatExpression'

export default {
  mixins: [detailMixin],
  components: {
    videoDialog,
    Comment
  },
  props: {
    // 微客服的微信账号
    activeChatAccountInfo: {
      type: Object,
      default () {
        return {}
      }
    },
    // 好友的微信账号
    activeChatFriendInfo: {
      type: Object,
      default () {
        return {}
      }
    },
    // 是否为我发的圈
    isMine: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      MOMENT_TYPE,
      comment: {
        show: false,
        isReply: false,
        title: '评论',
        entity: {}
      },
      videoDialogData: {
        show: false,
        url: null,
        poster: null
      }
    }
  },
  computed: {
    isLiked () {
      return this.entity.likeList.some(v => v.isMock || v.wxId === this.activeChatAccountInfo.wxId)
    },
    wxIdMap () {
      const map = {}
      this.entity.commentList.forEach(v => {
        map[v.wxId] = v
      })
      return map
    }
  },
  filters: {
    backgroundImgurl (url) {
      let image = {
        'background-image': `url(${url})`,
        'background-repeat': 'no-repeat',
        'background-size': 'cover'
      }
      return image
    }
  },
  methods: {
    parseHTML,
    // 点赞
    handleLike () {
      this.$emit('like', {
        snsId: this.entity.snsId
      })

      // 假数据构造
      this.entity.likeList.push({
        wxId: this.activeChatAccountInfo.wxId,
        nickName: this.activeChatAccountInfo.nickName,
        isMock: true
      })
      this.success('点赞成功')
    },
    // 显示评论
    showComment () {
      this.comment.title = '评论'
      this.comment.isReply = false
      this.comment.show = true
    },
    // 取消评论
    cancelComment () {
      this.comment.show = false
    },
    // 评论/回复
    handleComment (entity) {
      const commentData = this.comment.entity
      let now = Date.now()
      let mockData = {
        wxId: this.activeChatAccountInfo.wxId,
        otherWxId: '',
        nickName: this.activeChatAccountInfo.nickName,
        content: entity.content,
        commentTime: now,
        commentArg: 2,
        commentId1: 0,
        commentId2: now,
        isMock: true
      }
      if (this.comment.isReply) {
        mockData.otherWxId = commentData.wxId
        mockData.commentId1 = commentData.commentId2

        this.$emit('reply', {
          snsId: this.entity.snsId,
          sendWord: entity.content,
          otherWxId: commentData.wxId,
          commentArg: 2,
          commentId1: commentData.commentId1,
          commentId2: commentData.commentId2
        })
        this.success('回复成功')
      } else {
        this.$emit('comment', {
          snsId: this.entity.snsId,
          sendWord: entity.content
        })
        this.success('评论成功')
      }

      // 假数据构造
      this.entity.commentList.push(mockData)
      this.comment.show = false
    },
    // 删除朋友圈
    handleDel () {

    },
    // 显示回复评论
    showReply (data) {
      // 1、假数据不能回复
      if (data.isMock) return
      // 2、不能回复自己发的评论
      if (data.wxId === this.activeChatAccountInfo.wxId) {
        this.warning('不能回复自己的评论')
        return
      }

      this.comment.entity = data
      let title = '回复'
      if (this.wxIdMap[data.wxId]) {
        title = `回复[${this.wxIdMap[data.wxId].nickName}]`
      }
      this.comment.title = title
      this.comment.isReply = true
      this.comment.show = true
    },
    // 打开链接
    openLink () {
      window.open(this.entity.momentEntity.urls[0], '_blank')
    },
    /**
     * 点击视频消息
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    showDialogVisibleVideo (url, poster) {
      this.videoDialogData = {
        show: true,
        url: url,
        poster: poster
      }
    },
    closeDialogVideo () {
      this.videoDialogData = {
        show: false,
        url: null,
        poster: null
      }
    }
  }
}
</script>
