<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white ly-margin-bottom-sm"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}"
                 v-show="zoom">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="贴牌商名称/联系号码"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          @change='dateChange'
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <el-container>
      <div class="ly-box ly-width-100">
        <!-- 贴牌商列表 -->
        <el-aside v-show="zoom"
                  class="ly-margin-right-sm">
          <div class="ly-sidebar">
            <div class="title">
              <span class="ly-vertical-line">贴牌商列表</span>
              <span class="ly-vertical-middle ico_add ly-cursor-pointer"
                    @click="openCallback('add')"></span>
            </div>
            <ul class="ly-sidebar-list">
              <li class="ly-sidebar-item"
                  v-for="(item,index) in tableData.records"
                  :key="item.id"
                  :class="{'active':isActive===index}"
                  @click="getList(item.id,index)">
                <p class="ly-font-color-3">{{item.name ||''}}</p>
                <p>{{item.phone ||''}}</p>
              </li>
            </ul>
            <div class="ly-text-right"
                 v-if="tableData.total > params.size">
              <el-pagination layout="prev, pager, next"
                             small
                             :pageNum="params.current"
                             :total="tableData.total"
                             :pageSize="params.size"
                             @current-change="getTableList">
              </el-pagination>
            </div>
          </div>
        </el-aside>
        <!-- 数据列表 -->
        <el-main class="ly-bg-white ly-padding-sm"
                 v-if="id">
          <div class="ly-box">
            <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130">
              <i class="ico_full_screen"
                 :class="{'ico_small_screen':!zoom}"
                 @click="zoom=!zoom"></i>
              <span class="ly-vertical-line">企业详情</span>
            </div>
            <span class="ly-margin-top-nge-4 ly-but-lay">
              <el-button type="primary"
                         size="small"
                         @click="openCallback('equipmentAdd')">增加设备</el-button>
              <el-button type="primary"
                         size="small"
                         @click="openCallback('shopAdd')">增加店铺</el-button>
              <el-button type="primary"
                         size="small"
                         @click="openCallback('numAdd')">增加个人号</el-button>
              <el-button type="primary"
                         size="small"
                         @click="openCallback('groupAdd')">增加工作群</el-button>
              <el-button type="primary"
                         size="small"
                         @click="openCallback('accountAdd')">增加账号</el-button>
              <el-button type="primary"
                         size="small"
                         v-if="basicInfo.status === 0 || basicInfo.status ===1"
                         @click="openCallback('prohibit')">{{basicInfo.status===1?'禁用':'启用'}}</el-button>
              <el-button type="primary"
                         size="small"
                         @click="openCallback('resetPassword')">重置密码</el-button>
              <el-button type="primary"
                         size="small"
                         @click="openCallback('edit')">编辑</el-button>
            </span>
          </div>
          <Stat :id="id"
                ref="statEle"
                @postUserState="postUserState" />
        </el-main>
      </div>
    </el-container>

    <!-- 弹窗 -->
    <el-dialog title="增加设备"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='equipmentAdd'"
               @close="closeCallback">
      <equipmentAdd :dialog="dialog"
                    v-if="dialog.open"
                    @getList="getList(id,isActive)"></equipmentAdd>
    </el-dialog>
    <el-dialog title="增加店铺"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='shopAdd'"
               @close="closeCallback">
      <shopAdd :dialog="dialog"
               v-if="dialog.open"
               @getList="getList(id,isActive)"></shopAdd>
    </el-dialog>
    <el-dialog title="增加账号"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='accountAdd'"
               @close="closeCallback">
      <accountAdd :dialog="dialog"
                  v-if="dialog.open"
                  @getList="getList(id,isActive)"></accountAdd>
    </el-dialog>
    <el-dialog title="增加个人号"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='numAdd'"
               @close="closeCallback">
      <numAdd :dialog="dialog"
              v-if="dialog.open"
              @getList="getList(id,isActive)"></numAdd>
    </el-dialog>
    <el-dialog title="增加工作群"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='groupAdd'"
               @close="closeCallback">
      <groupAdd :dialog="dialog"
                v-if="dialog.open"
                @getList="getList(id,isActive)"></groupAdd>
    </el-dialog>
    <el-dialog title="重置密码"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='resetPassword'"
               @close="closeCallback">
      <resetPassword :dialog="dialog"
                     v-if="dialog.open"
                     @getList="getList(id,isActive)"></resetPassword>
    </el-dialog>
    <!-- 新增/编辑 -->
    <div v-if="dialog.open && (dialog.name==='add' || dialog.name==='edit')">
      <vma-dialog v-model="dialog.open"
                  :title="dialog.name==='edit'?'编辑贴牌商':'新增贴牌商'">
        <NewOem :dialog="dialog"
                @on-confirm="newOrEditConfirm"></NewOem>
      </vma-dialog>
    </div>
  </div>
</template>

<script>
import { oemListApi } from '@/api/sms'
import Stat from '../components/oemList/oemList/stat'
import { accountAdd, equipmentAdd, shopAdd, numAdd, resetPassword, groupAdd } from '../components/oemList/oemList/dialog'
import NewOem from './newOem'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { Stat, accountAdd, equipmentAdd, shopAdd, numAdd, resetPassword, NewOem, groupAdd },
  data() {
    return {
      activeNames: ['1'],
      zoom: true,
      isActive: null,
      id: null,
      dialog: {
        open: false,
        name: null,
        id: null
      },
      basicInfo: {}
    }
  },
  methods: {
    async requestTableList() {
      const data = await oemListApi.getOemList(this.params)
      this.tableData = data
      if (this.tableData.records.length > 0) {
        this.getList(data.records[0].id, 0)
      } else {
        this.isActive = 0
        this.id = null
      }
    },
    getList(id, index = 0) {
      this.isActive = index
      this.initGetList(id, index)
    },
    initGetList(id, index) {
      this.id = null
      setTimeout(() => {
        this.id = id
      }, 0)
    },
    postUserState(type, data) {
      if (type === 'basicInfo') {
        this.basicInfo = data
      }
    },
    newOrEditConfirm() {
      let isActive = this.isActive
      let id = this.id
      this.id = null
      setTimeout(() => {
        if (this.dialog.name === 'edit') {
          this.isActive = isActive
          this.id = id
        }
        this.getTableList(1, this.params.size)
      }, 0)
    },
    openCallback(key) {
      this.dialog.name = key
      this.dialog.id = this.id
      this.dialog.open = true
      // 禁用
      let status = this.basicInfo.status ? 0 : 1
      if (key === 'prohibit') {
        let confirmTip = status ? '是否确定启用？' : '禁用后该企业将无法登录，是否确定禁用？'
        this.$confirm(confirmTip, '标题', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.setIsable(status)
        }).catch(() => { })
      }
    },
    // 0禁用/1启用
    async setIsable(status) {
      let params = {
        enterpriseId: this.dialog.id,
        status: status
      }
      await oemListApi.setIsable(params).then(() => {
        this.success('恭喜你，操作成功!')
        this.basicInfo.status = status
        this.$refs.statEle.setUserState('basicInfo', this.basicInfo)
      })
    },
    closeCallback() {
      this.dialog.open = false
    }
  }
}
</script>
