<template>
  <div class="ly-clearfix ly-listDetails"
       v-if="dataInfo">
    <ul class="ly-behavList">
      <li v-for="(item,index) in dataInfo"
          :key="index"
          :class="isActive === item.actionType?'ly-font-color-5':''">
        <span class="ly-key"
              @click="checkboxCallback(item.actionType)">{{item.actionTypeLabel}}</span>
        <el-switch v-model="item.status"
                   active-color="#409EFF"
                   :active-value="1"
                   :inactive-value="0"
                   :disabled="!hasAction"
                   @change="sureCallback($event,'switch',item.actionType)" />
      </li>
    </ul>
    <div class="ly-details">
      <p class="ly-item"
         v-if="isActive === 6">发送消息超过
        <el-input-number v-model="form.msgLimit"
                         @blur="sureCallback"
                         :controls="false"
                         :min="1"
                         :max="99999"
                         size="medium"
                         style="width:100px;"
                         :disabled="!hasAction"
                         :precision="0" />
        字符警告
      </p>
      <p class="ly-item">警告：</p>
      <p class="ly-item">
        <el-checkbox v-model="form.noticeUser"
                     :true-label="1"
                     :false-label="0"
                     :disabled="!hasAction"
                     @change="sureCallback">@违规群成员</el-checkbox>
      </p>
      <p class="ly-item"
         v-if="!isEdit">
        <span class="noticeMsg ly-ellipsis2 ly-float-left"
              :title="form.noticeMsg">{{form.noticeMsg}}</span>&ensp;
        <el-button type="text"
                   size="small"
                   v-if="hasAction"
                   @click="editCallback('edit')">编辑消息</el-button>
      </p>
      <p class="ly-item"
         v-if="isEdit">
        <el-input type="textarea"
                  :rows="3"
                  clearable
                  v-model="initialVal"
                  :maxlength="1500"
                  size="small"
                  style="width:260px;margin-right:30px;" />
        <el-button type="primary"
                   size="medium"
                   @click="editCallback('add')">添加</el-button>
        <el-button size="medium"
                   @click="editCallback('close')">取消</el-button>
      </p>
      <p class="ly-item">
        <el-checkbox v-model="form.kickOut"
                     :true-label="1"
                     :false-label="0"
                     :disabled="!hasAction"
                     @change="sureCallback">警告后踢出群</el-checkbox>
      </p>
      <div v-if="isActive === 1">
        <p v-if="hasAction">
          <el-input v-model="sensitiveWord"
                    placeholder="请输入敏感词，多个敏感词以逗号隔开"
                    size="medium"
                    clearable
                    style="width:300px;margin-right:30px;"></el-input>
          <el-button type="primary"
                     size="medium"
                     @click="splitCallback">添加</el-button>
        </p>
        <div class="ly-btn-aggregate">
          <el-tag type="info"
                  color="#F2F5F8"
                  v-for="(item,index) in sensitiveWords"
                  :key="index"
                  :closable="hasAction"
                  @close="deleteCallback(index)">{{item}}</el-tag>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin],
  props: ['entry', 'groupId'],
  data() {
    return {
      isActive: 1,
      isEdit: false,
      initialVal: '',
      form: {},
      data: [],
      sensitiveWord: '',
      sensitiveWords: [],
      dataInfo: []
    }
  },
  created() {
    if (this.entry === 'manage') {
      this.getBehaviorList()
    } else {
      this.getBehaviorLists()
    }
  },
  computed: {
    // 行为管理增删改
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.GROUP_ACTION)
    }
  },
  methods: {
    // 行为管理-获取数据
    async getBehaviorList() {
      this.dataInfo = await v2communityManage.groupActionList()
      this.getList()
    },
    // 群管理-获取数据
    async getBehaviorLists() {
      this.dataInfo = await v2communityManage.communityActionCustomId(this.groupId)
      this.getList()
    },
    // 群管理-获取数据
    async getList() {
      this.form = this.dataInfo[this.isActive - 1]
      this.sensitiveWords = []
      if (this.form.sensitiveWords) {
        let arr = this.form.sensitiveWords.split(',')
        arr.forEach(element => {
          if (element) {
            this.sensitiveWords.push(element)
          }
        })
      }
    },
    // 切换菜单栏
    checkboxCallback(val) {
      this.isActive = val
      this.sensitiveWords = []
      this.form = this.dataInfo[this.isActive - 1]
      this.isEdit = false
      if (this.form.sensitiveWords) {
        this.sensitiveWords = this.form.sensitiveWords.split(',')
      }
    },
    // 编辑消息
    editCallback(val) {
      switch (val) {
        case 'edit':
          this.initialVal = this.form.noticeMsg
          this.isEdit = true
          break
        case 'add':
          this.form.noticeMsg = this.initialVal
          this.isEdit = false
          this.sureCallback()
          break
        case 'close':
          this.isEdit = false
          break
      }
    },
    // 敏感词去重
    splitCallback() {
      let arr = []
      let errorArr = []
      if (!this.sensitiveWord) {
        this.error(`请输入敏感词`)
        return
      }
      this.sensitiveWord = this.sensitiveWord.replace(/，/g, ',')
      arr = this.sensitiveWord.split(',')
      // 判断输入框里数组是否重复
      for (let i = 0; i < arr.length; i++) {
        arr[i] = arr[i].trim()
        let item = arr[i]
        if (arr.indexOf(item) !== i) {
          errorArr.push(item)
        }
      }
      if (errorArr.length > 0) {
        this.error(`敏感词${errorArr.join(',')}重复了`)
        return
      }
      // 判断输入框里数组是否已经存在
      arr.forEach(element => {
        if (this.sensitiveWords.includes(element)) {
          errorArr.push(element)
        }
      })
      if (errorArr.length > 0) {
        this.error(`敏感词${errorArr.join(',')}已经存在啦`)
        return
      }
      // 判断新数组是否超出长度
      if (arr.length + this.sensitiveWords.length > 500) {
        this.error('敏感词不可超过500个')
        return
      }
      // 去除空字段
      arr.forEach((element, index) => {
        if (!element) {
          arr.splice(index, 1)
        }
      })
      this.sensitiveWords = this.sensitiveWords.concat(arr)
      this.sensitiveWord = ''
      this.sureCallback()
    },
    // 敏感词删除
    deleteCallback(index) {
      this.sensitiveWords.splice(index, 1)
      this.sureCallback()
    },
    // 确定
    sureCallback(defObj, type, actionType) {
      if (!this.hasAction) {
        return
      }
      if (type === 'switch') {
        this.form = this.dataInfo[actionType - 1]
        this.form.status = defObj
      }
      this.form.sensitiveWords = this.sensitiveWords.join(',')
      if (this.entry === 'manage') {
        this.setBehaviorList()
      } else {
        this.setBehaviorLists()
      }
    },
    // 行为管理-提交数据
    async setBehaviorList() {
      await v2communityManage.groupActionEdit(this.form)
    },
    // 群管理-提交数据
    async setBehaviorLists() {
      this.form.wechat_group_id = this.groupId
      await v2communityManage.communityActionCustom(this.form)
    }
  }
}
</script>
