<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.groupName"
                    @keyup.native.enter="queryCallback"
                    :maxlength="100"
                    placeholder="微信群名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-input v-model="params.wechatAccountRelatesInformation"
                    @keyup.native.enter="queryCallback"
                    placeholder="微信号/微信昵称/手机号"
                    :maxlength="100"
                    class="ly-margin-right-bottom-sm"
                    clearable>
            <template slot="prepend">所属个人号</template>
          </el-input>
          <el-input v-model="params.staffName"
                    @keyup.native.enter="queryCallback"
                    :maxlength="100"
                    placeholder="分配员工"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <personNumWechatGroups v-model="params.wxGroupInfoId"
                         placeholder="所属分组"></personNumWechatGroups>
          <!--
          <el-input v-model="params.wxGroupInfoName"
                    @keyup.native.enter="queryCallback"
                    :maxlength="100"
                    placeholder="所属分组"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          -->
          <departmenTreeCascadert v-model="departmentId"
                                     placeholder="员工所在部门"
                                     class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <!--<staffDepartmentSelect v-model="params.departmentId"-->
                                 <!--placeholder="员工所在部门"></staffDepartmentSelect>-->
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     :disabled="hasDistribution?false:true"
                     size="small" @click="showAssignStaffKeyDialog">一键分配</el-button>
        </span>
      </div>
      <el-alert
        title="若群聊未显示完整请在个人号上点击[通讯录->群聊]，app将自动同步所有群聊信息"
        type="info"
        class="mb-10" />
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%"
                row-key="id"
                @clearSelection="clearSelection"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         :selectable="selectAble"
                         reserve-selection
                         width="55">
        </el-table-column>
        <el-table-column label="微信群"
                         width="200">
          <template slot-scope="scope">
            <personalInfoGroup :info="scope.row.wechatGroup"></personalInfoGroup>
          </template>
        </el-table-column>
        <el-table-column prop="groupOwner"
                         label="群主"
                         width="120">
        </el-table-column>
        <el-table-column prop="address"
                         min-width="100"
                         label="分配员工">
          <template slot-scope="scope">
            <div v-if="scope.row.power===1">
              <div v-if="scope.row.status === 1">
                <div class="ly-cursor-point ly-font-color-5"
                     v-if="scope.row.staffAccount|| scope.row.staffName"
                     @click="showAssignStaffDialog(1, scope.$index, scope.row)">
                  {{scope.row.staffAccount}}<span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
                </div>
                <el-button type="primary"
                           size="mini"
                           v-else
                           @click="showAssignStaffDialog(1, scope.$index, scope.row)">
                  分配员工
                </el-button>
              </div>
              <div v-else>
                <div class="ly-font-color-2"
                     v-if="scope.row.staffAccount|| scope.row.staffName">
                  {{scope.row.staffAccount}}<span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
                </div>
                <el-button type="primary"
                           size="mini"
                           v-else
                           disabled>
                  分配员工
                </el-button>
              </div>
            </div>
            <div v-else>
              <div class="ly-font-color-2"
                   v-if="scope.row.staffAccount|| scope.row.staffName">
                {{scope.row.staffAccount}}<span v-if="scope.row.staffName">({{scope.row.staffName}})</span>
                <p>(已被踢出微信群)</p>
              </div>
              <!--<el-button type="primary"-->
                         <!--size="mini"-->
                         <!--disabled-->
                         <!--v-else>-->
                <!--分配员工-->
              <!--</el-button>-->
              <p class="ly-font-color-2" v-else>已被踢出微信群</p>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="员工所在部门" width="120">
          <template slot-scope="scope">
            <div>{{scope.row.departmentName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="所属个人号"
                         min-width="280">
          <template slot-scope="scope">
            <personalInfos :info="scope.row.info"></personalInfos>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="所属分组">
          <template slot-scope="scope">
            <div v-if="scope.row.power===1 && scope.row.isGroupPower === 1" class="ly-cursor-point ly-font-color-5" @click="showSetGroupDialog(1, scope.$index, scope.row)">
              {{scope.row.wxGroupInfoName || '设置分组'}}
            </div>
            <div class="ly-cursor-point ly-font-color-2"  v-else>
              {{scope.row.wxGroupInfoName || '设置分组'}}
            </div>
            <!--<el-button type="text"-->
                       <!--size="small"-->
                       <!--@click="showSetGroupDialog(1, scope.$index, scope.row)">{{scope.row.wxGroupInfoName || '设置分组'}}</el-button>-->
          </template>
        </el-table-column>
        <el-table-column prop="groupOwner"
                         label="状态"
                         width="120">
          <template slot-scope="scope">
            {{scope.row.status === 1 ? '正常' : '已删除'}}
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="聊天查看"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <p>
              <el-button type="text"
                         size="small"
                         @click="showCRFriendDialog(scope.$index, scope.row)">聊天记录</el-button>
            </p>
            <p class="ly-font-color-5"><i class="el-icon-download"
                 @click="loadChatRechord(scope.$index, scope.row)"></i></p>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="群成员">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="showMembersDialog(scope.$index, scope.row)">查看（{{scope.row.groupUserCount || 0}}）</el-button>
          </template>
        </el-table-column>
        <el-table-column label="备注">
          <template slot-scope="scope">
            {{scope.row.remark || '无'}}
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <div>
          <el-button type="primary"
                     size="small"
                     @click="assignStaffMore">批量分配员工</el-button>
          <el-button type="primary"
                     size="small"
                     @click="setGroupMore">批量分组</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
    <!--分配员工弹窗-->
    <el-dialog title="分配群聊天"
               width="489px"
               :visible.sync="dialogAssignStaffInfo.show"
               v-if="dialogAssignStaffInfo.show"
               @close="closeAssignStaffDialog" append-to-body>
      <gViewDialogAssignStaff :dialogProp="dialogAssignStaffInfo"
                              @colseDialog="closeAssignStaffDialog"
                              @removeChecked="removeChecked"
                              @getTableList="getTableList"></gViewDialogAssignStaff>
    </el-dialog>
    <!--一键分配员工弹窗-->
    <el-dialog title="一键分配"
               width="489px"
               :visible.sync="dialogAssignStaffInfoKey.show"
               v-if="dialogAssignStaffInfoKey.show"
               @close="closeAssignStaffKeyDialog" append-to-body>
      <fListGViewDialogAssignStaff :dialogProp="dialogAssignStaffInfoKey"
                                   @colseDialog="closeAssignStaffKeyDialog"
                                   @removeChecked="removeChecked"
                                   @getTableList="getTableList"></fListGViewDialogAssignStaff>
    </el-dialog>
    <!--设置分组弹窗-->
    <el-dialog title="选择群聊分组"
               width="489px"
               :visible.sync="dialogSetGroupnfo.show"
               v-if="dialogSetGroupnfo.show"
               @close="closeSetGroupDialog" append-to-body>
      <gViewDialogSetGroup :dialogProp="dialogSetGroupnfo"
                           @colseDialog="closeSetGroupDialog"
                           @removeChecked="removeChecked"
                           @getTableList="getTableList"></gViewDialogSetGroup>
    </el-dialog>

    <!--群聊天弹窗-->
    <el-dialog title="微信群聊天记录"
               width="1192px"
               class="dialog-chat-dialog"
               :visible.sync="chatRecordFriendDialog.show"
               @close="closeRecordGroupDialog" append-to-body>
      <chatRecordGroup :chatRecordInfo="chatRecordFriendDialog"
                                    v-if="chatRecordFriendDialog.id"
                                    @closeRecordGroupDialog="closeRecordGroupDialog"></chatRecordGroup>
    </el-dialog>
    <!--<chatRecordGroup :chatRecordInfo="chatRecordFriendDialog"-->
                                  <!--v-if="chatRecordFriendDialog.show"-->
                                  <!--@closeFriendsDialog="closeFriendsDialog"></chatRecordGroup>-->
    <!--下载聊天记录弹窗-->
    <el-dialog title="聊天记录导出"
               width="489px"
               :visible.sync="exportLogDialog.show"
               v-if="exportLogDialog.show"
               @close="closeExportLogDialog" append-to-body>
      <gViewDialogExportLog :dialogProp="exportLogDialog"
                            @colseDialog="closeExportLogDialog"></gViewDialogExportLog>
    </el-dialog>
    <!--.群成员查看弹窗-->
    <el-dialog width="590px"
               class="dialog-groupmembers-list"
               :title="'群['+groupMemberDialog.data.groupNameSec+']的成员'"
               :visible.sync="groupMemberDialog.show"
               v-if="groupMemberDialog.show"
               @close="closeGroupMembersDialog" append-to-body>
      <gViewDialogGroupMenbers :dialogProp="groupMemberDialog"
                               @colseDialog="closeGroupMembersDialog"></gViewDialogGroupMenbers>
    </el-dialog>
  </div>
</template>
<script>
import { personalNumManageApi } from '@/api/system'
import { gViewDialogAssignStaff, fListGViewDialogAssignStaff, gViewDialogSetGroup, chatRecordGroup, gViewDialogExportLog, gViewDialogGroupMenbers } from './components'
import {
  personNumWechatGroups,
  staffDepartmentSelect
} from '@/components/packages/system/lazySelect'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
import personalInfos from '@/components/common/personalInfos'
import personalInfoGroup from '@/components/common/personalInfoGroup'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    personNumWechatGroups,
    staffDepartmentSelect,
    departmenTreeCascadert,
    personalInfos,
    personalInfoGroup,
    gViewDialogAssignStaff,
    fListGViewDialogAssignStaff,
    gViewDialogSetGroup,
    chatRecordGroup,
    gViewDialogExportLog,
    gViewDialogGroupMenbers
  },
  data() {
    return {
      activeNames: ['1'],
      departmentId: [],
      params: {
        groupName: '',
        wechatAccountRelatesInformation: '',
        staffName: '',
        wxGroupInfoName: '',
        departmentId: ''
      },
      tableData: {},
      tableSelectArr: [],
      dialogAssignStaffInfo: {},
      dialogAssignStaffInfoKey: {},
      dialogSetGroupnfo: {},
      chatRecordFriendDialog: {},
      exportLogDialog: {},
      groupMemberDialog: {}
    }
  },
  watch: {
    departmentId: function (val, oldVal) {
      this.params.departmentId = val[val.length - 1] || ''
    }
  },
  computed: {
    // 是否拥有一键分配权限
    hasDistribution() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.ONE_KEY_DISTRIBUTION)
    }
  },
  created() {},
  methods: {
    async requestTableList() {
      await personalNumManageApi.wechatGroupListGet(this.params).then((data) => {
        data.records.forEach(o => {
          o.wechatGroup = {
            img: o.headIcon,
            name: o.groupName,
            row: o
          }
          o.info = {
            headIcon: o.wechatAccountHeadIcon,
            wxId: o.wechatAccountWxId,
            nickName: o.wechatAccountNickName,
            phone: o.wechatAccountPhone,
            account: o.wechatAccount,
            row: o
          }
          o.groupNameSec = this.groupSlice(o.groupName)
        })
        this.tableData = data
      })
    },
    groupSlice(name) {
      name = name || ''
      if (name.length > 16) {
        name = name.slice(0, 16) + '...'
      }
      return name
    },
    /**
     * 分配员工弹窗--显示
     */
    showAssignStaffDialog(type, index, data) {
      this.dialogAssignStaffInfo = this.setDialogInfoStaffOrGroup(type, data)
    },
    /**
     * 分配员工弹窗--关闭
     */
    closeAssignStaffDialog() {
      if (this.dialogAssignStaffInfo.typeVal === 2) {
        this.removeChecked()
      }
      this.dialogAssignStaffInfo = {}
    },
    /**
     * 分配员工--批量
     */
    assignStaffMore() {
      let state = this.checkTableCheckNum('staff')
      if (state) {
        this.showAssignStaffDialog(2, '', this.tableSelectArr)
      }
    },
    /**
     * 一键分配--显示
     */
    showAssignStaffKeyDialog() {
      this.dialogAssignStaffInfoKey = {
        show: true,
        type: 2
      }
    },
    /**
     * 一键分配--关闭
     */
    closeAssignStaffKeyDialog() {
      this.dialogAssignStaffInfoKey = {}
    },
    /**
     * 设置分组弹窗--显示,增加staffIdVal是用于批量设置的时候分组的请求
     */
    showSetGroupDialog(type, index, data, staffId) {
      this.dialogSetGroupnfo = this.setDialogInfoStaffOrGroup(type, data, staffId)
    },
    /**
     * 设置分组弹窗--关闭
     */
    closeSetGroupDialog(index, data) {
      if (this.dialogSetGroupnfo.typeVal === 2) {
        this.removeChecked()
      }
      this.dialogSetGroupnfo = {}
    },
    /**
     * 设置分组--批量
     */
    setGroupMore() {
      let state = this.checkTableCheckNum()
      if (state) {
        let staffIdArr = this.checkStaffIDS(this.tableSelectArr)
        if (staffIdArr.length < 2) {
          let staffIdVal = staffIdArr[0] || ''
          this.showSetGroupDialog(2, '', this.tableSelectArr, staffIdVal)
        } else {
          this.warn('只能分配同一员工下的微信群')
        }
      }
    },
    /**
     * 批量分组校验过滤
     */
    checkStaffIDS(arr) {
      var n = []
      for (var i = 0; i < arr.length; i++) {
        if (n.indexOf(arr[i].staffId) === -1) {
          if (arr[i].staffId) {
            n.push(arr[i].staffId)
          }
        }
      }
      return n
    },
    /**
     * 批量操作记录选择校验
     */
    checkTableCheckNum() {
      if (!this.tableSelectArr.length) {
        this.warn('请选择要设置的微信群')
      }
      return this.tableSelectArr.length || false
    },
    /**
     * 设置分组或分配员工弹窗的初始化参数
     */
    setDialogInfoStaffOrGroup(type, data, staffId) {
      let ids = []
      let staffIdVal = null
      if (type === 1) {
        ids[0] = data.id
        staffIdVal = data.staffId
      } else {
        this.tableSelectArr.forEach(o => {
          ids.push(o.id)
        })
        staffIdVal = staffId
      }
      let dialogInfo = {
        typeVal: type,
        ids: ids,
        show: true,
        data: data,
        staffId: staffIdVal
      }
      return dialogInfo
    },
    /**
     * 查询
     */
    queryCallback() {
      this.getTableList(1)
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange(val) {
      this.tableSelectArr = val
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked() {
      this.clearSelection('multipleTable')
    },
    selectAble(row, index) {
      if (row.power === 1) {
        return true
      } else {
        return false
      }
    },
    /**
     * 显示好友聊天记录
     */
    showCRFriendDialog(index, data) {
      let chatRecordFriendDialog = {
        typeVal: 1,
        show: true,
        id: data.wechatAccountId,
        talkId: data.id,
        data: data
      }
      this.chatRecordFriendDialog = chatRecordFriendDialog
    },
    /**
     * 关闭好友聊天记录
     */
    closeRecordGroupDialog() {
      this.chatRecordFriendDialog = {}
    },
    /**
     * 下载聊天记录
     */
    loadChatRechord(index, data) {
      let exportLogDialog = {
        show: true,
        id: data.wechatAccountId,
        wxId: data.wxId,
        data: data
      }
      this.exportLogDialog = exportLogDialog
    },
    /**
     * 关闭下载聊天记录--弹窗
     */
    closeExportLogDialog() {
      this.exportLogDialog = {}
    },
    /**
     * 显示查看群成员--弹窗
     */
    showMembersDialog(index, data) {
      let groupMemberDialog = {
        show: true,
        id: data.id,
        data: data
      }
      this.groupMemberDialog = groupMemberDialog
    },
    /**
     * 关闭群成员--弹窗
     */
    closeGroupMembersDialog() {
      this.groupMemberDialog = {}
    },
    /**
     * 微信群列表列表分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    }
  }
}
</script>
