<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{ 'ly-padding-bottom-sm': !activeNames[0] }">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0] ? 'ly-rotate-nge-180' : 'ly-rotate-180'"></i>
            {{ activeNames[0] ? "收起筛选" : "打开筛选" }}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="微信ID/微信号/微信昵称/手机号" class="ly-margin-right-bottom-sm" v-model.trim="params.relatesInformation" :maxlength="100" @keyup.native.enter="queryCallback" clearable></el-input>
          <el-select class="ly-margin-right-bottom-sm" clearable placeholder="微信在线状态" style="width: 130px" v-model="params.onLine">
            <el-option v-for="item in onlineSelect" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <el-input placeholder="备注" class="ly-margin-right-bottom-sm" v-model.trim="params.remark" :maxlength="20" @keyup.native.enter="queryCallback" clearable></el-input>
          <setGroupCascader :placeholder="'个人号分组'" :groupId="null" :modify="0" :groupType="3" @getInitVal="getInitVal" class="ly-margin-right-bottom-sm ly-inline-block"></setGroupCascader>
          <el-input placeholder="设备保管者姓名" class="ly-margin-right-bottom-sm" v-model.trim="params.staffName" :maxlength="100" @keyup.native.enter="queryCallback" clearable></el-input>
          <!--部门级联已经调整-->
          <departmenTreeCascadert v-model="departmentId" filterable clearable placeholder="设备保管者部门" :blackData="true" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <!-- button -->
          <!-- 给后端备用的按钮 -->
          <el-button type="primary" size="small" class="ly-float-second" v-if="isNeedAudit1" @click="exportRole1">导出</el-button>

          <el-button type="primary" size="small" class="ly-float-middle" v-if="isNeedAudit" @click="exportRole">导出</el-button>
          <el-button class="ly-float-right" type="primary" size="medium" @click="queryCallback">查询</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" max-height="500" style="width: 100%">
        <el-table-column label="个人号信息" fixed min-width="300">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column width="120" align="center">
          <template slot="header">
            二维码名片
            <el-popover placement="top" popper-class="tip-green" trigger="hover">
              为了您可参与微活码营销活动，请尽快上传二维码名片
              <el-button slot="reference" type="text">
                <i class="el-icon-question ly-font-color-6"></i>
              </el-button>
            </el-popover>
          </template>
          <template slot-scope="scope">
            <img class="ly-wh-60-60px" :src="scope.row.cardUrl" @click="showCodeDialog(scope.$index, scope.row)" v-if="scope.row.cardUrl" />
            <el-button type="text" size="small" @click="showCodeDialog(scope.$index, scope.row)" v-else>上传</el-button>
          </template>
        </el-table-column>
        <el-table-column label="好友统计" min-width="120">
          <template slot-scope="scope">
            <p>&emsp;男：{{ scope.row.manCount }}</p>
            <p>&emsp;女：{{ scope.row.womanCount }}</p>
            <p>未知：{{ scope.row.unKnowCount }}</p>
            <p>总计：{{ scope.row.allCount }}</p>
          </template>
        </el-table-column>
        <el-table-column label="对话统计" min-width="120">
          <template slot-scope="scope">
            <p>昨天：{{ scope.row.yesterdayCount }}</p>
            <p>一周：{{ scope.row.aweekCount }}</p>
            <p>30天：{{ scope.row.monthCount }}</p>
          </template>
        </el-table-column>
        <el-table-column label="车牌备注量" min-width="120">
          <template slot-scope="scope">
            <p>已备注：{{ scope.row.remarked }}</p>
            <p>未备注：{{ scope.row.unremarked }}</p>
            <p>重复：{{ scope.row.repeat }}</p>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="所属设备" min-width="300">
          <template slot-scope="scope">
            <p>
              <i class="spot-border-radius" :class="[scope.row.equipementOnLine ? 'active' : '']"></i>
              手机IMEI：{{ scope.row.imei }}
            </p>
            <p>
              <i class="spot-border-radius ly-opacity-0"></i>
              设备名称：{{ scope.row.deviceName }}
            </p>
            <p>
              <el-tooltip effect="light" :content="scope.row.staffOnLine ? '客服在线' : '客服离线'" placement="top">
                <i class="spot-border-radius" :class="[scope.row.staffOnLine ? 'active' : '']"></i>
              </el-tooltip>
              保管人员：{{ scope.row.staffName }}
            </p>
            <p>
              <i class="spot-border-radius ly-opacity-0"></i>
              保管者部门：{{ scope.row.departmentName }}
            </p>
          </template>
        </el-table-column>
        <el-table-column label="所属分组" min-width="120">
          <template slot-scope="scope">
            <div class="ly-cursor-point ly-font-color-5" @click="setGroup(1, scope.$index, scope.row)" v-if="scope.row.groupPermissions">
              <span>{{
                scope.row.groupId ? scope.row.groupName : "设置分组"
              }}</span>
            </div>
            <div v-else>
              <span>{{
                scope.row.groupId ? scope.row.groupName : "设置分组"
              }}</span>
            </div>
            <!-- <div v-if="false">
              <span>{{scope.row.groupId? scope.row.groupName : '设置分组'}}</span>
            </div>-->
          </template>
        </el-table-column>
        <el-table-column label="备注" min-width="120">
          <template slot-scope="scope">
            <span class="ly-font-color-5 ly-cursor-point" @click="showRemarkDialog(scope.$index, scope.row)">{{ scope.row.remark ? scope.row.remark : "备注" }}</span>
          </template>
        </el-table-column>
        <el-table-column label="个人号同步时间" min-width="160">
          <template slot-scope="scope">{{
            scope.row.createTime | date
          }}</template>
        </el-table-column>
        <el-table-column prop="name" label="操作" fixed="right" min-width="230">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="showCRFriendDialog(scope.$index, scope.row)">好友聊天</el-button>
            <el-button type="text" size="small" @click="showCRGroupDialog(scope.$index, scope.row)">群聊天</el-button>
            <el-button type="text" size="small" class="ly-font-color-7" @click="showDeleteDialog(scope.$index, scope.row)" v-if="hasDeleteAction && scope.row.deleteWechat">删除个人号</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
      </div>
    </div>
    <!--二维码名片-->
    <el-dialog title="二维码名片" :visible.sync="codeDialog.show" width="489px" v-if="codeDialog.show" @close="closeCodeDialog" append-to-body>
      <pNumListDialogCode :dialogProp="codeDialog" @closeDialog="closeCodeDialog" @refreshCode="refreshCode"></pNumListDialogCode>
    </el-dialog>
    <!--备注弹窗-->
    <el-dialog title="修改微信备注" :visible.sync="remarkDialog.show" width="489px" v-if="remarkDialog.show" @close="closeRemarkDialog" append-to-body>
      <pNumListDialogRemark :dialogProp="remarkDialog" @closeDialog="closeRemarkDialog" @refreshRemark="refreshRemark"></pNumListDialogRemark>
    </el-dialog>
    <!--设置分组弹窗-->
    <el-dialog title="选择个人号分组" :visible.sync="setGroupDialog.show" width="489px" v-if="setGroupDialog.show" @close="refreshGroup(true)" append-to-body>
      <pNumListDialogSetGroup :dialogProp="setGroupDialog" @closeDialog="refreshGroup(true)" @refreshGroup="refreshGroup"></pNumListDialogSetGroup>
    </el-dialog>
    <!--删除个人号弹窗-->
    <el-dialog title="提示" :visible.sync="deleteDialog.show" width="489px" v-if="deleteDialog.show" @close="closeDeleteDialog" append-to-body>
      <pNumListDialogDelete :dialogProp="deleteDialog" @closeDialog="closeDeleteDialog" @refreshDelete="refreshDelete"></pNumListDialogDelete>
    </el-dialog>
    <!--好友聊天弹窗-->
    <el-dialog class="dialog-chat-dialog" title="好友以及好友聊天记录" width="1160px" :visible.sync="chatRecordFriendDialog.show" v-if="chatRecordFriendDialog.id" @close="closeFriendsDialog" append-to-body>
      <chatRecordFriends :chatRecordInfo="chatRecordFriendDialog" @closeRecordFriendDialog="closeFriendsDialog"></chatRecordFriends>
    </el-dialog>
    <!--群聊天弹窗-->
    <el-dialog title="微信群聊天记录" width="1192px" class="dialog-chat-dialog" :visible.sync="chatRecordGroupDialog.show" v-if="chatRecordGroupDialog.id" @close="closeGroupDialog" append-to-body>
      <chatRecordGroup :chatRecordInfo="chatRecordGroupDialog" @closeRecordGroupDialog="closeGroupDialog"></chatRecordGroup>
    </el-dialog>
  </div>
</template>

<script>
import { personalNumManageApi, staffManageApi } from '@/api/system'
import { SELECT_ONLINE_STATE } from '@/constants/selects'
import setGroupCascader from '@/components/common/setGroupCascader'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
import personalInfo from '@/components/common/personalInfoWx'
import {
  pNumListDialogCode,
  pNumListDialogRemark,
  chatRecordFriends,
  chatRecordGroup,
  pNumListDialogDelete,
  pNumListDialogSetGroup
} from './components'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import {
  MESSAGE_SUB_TYPE,
  NOTICE_TYPE,
  FOOTER_SWITCHS,
  SESSION_TYPE,
  IM_LOGIN_ERROR_CODE,
  MESSAGE_COUNT_TYPE
} from '@/constants/chat'
import { downloadFile } from '@/utils'
export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    personalInfo,
    pNumListDialogCode,
    pNumListDialogSetGroup,
    setGroupCascader,
    departmenTreeCascadert,
    pNumListDialogRemark,
    chatRecordFriends,
    chatRecordGroup,
    pNumListDialogDelete
  },
  data () {
    return {
      isNeedAudit: false, // 导出按钮的显示与隐藏，权限设置 -true是有权限
      isNeedAudit1: false, // 给后端备用的按钮
      activeNames: ['1'],
      total: 0,
      onlineSelect: SELECT_ONLINE_STATE,
      params: {
        current: 1,
        size: 20,
        onLine: '',
        relatesInformation: '',
        remark: '',
        groupId: '',
        staffName: '',
        ownerStaffId: ''
      },
      blackData: [
        {
          name: '无',
          id: 0
        }
      ],
      departmentId: [],
      tableData: {},
      codeDialog: {}, // 二维码名片
      remarkDialog: {}, // 备注弹窗
      deleteDialog: {}, // 删除个人号弹窗
      chatRecordFriendDialog: {}, // 好友聊天记录弹窗
      chatRecordGroupDialog: {}, // 群聊天记录弹窗
      setGroupDialog: {} // 设置分组
    }
  },
  // watch: {
  //   departmentId: function(val, oldVal) {
  //     val = val || [];
  //     this.params.ownerStaffId = val[val.length - 1] || "";
  //   }
  // },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.ownerStaffId = val[val.length - 1]
      } else {
        this.params.ownerStaffId = ''
      }
    }
  },

  created () {
    // this.getAccountList()
    this.showBtn() // 是否显示按钮
    this.showBtnScond() // 备用按钮
  },
  computed: {
    // 是否拥有删除个人号
    hasDeleteAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.WECHAT_DELETE)
    }
  },
  methods: {
    getInitVal (val) {
      this.params.groupId = val
    },
    async requestTableList () {
      await personalNumManageApi.accountList(this.params).then((res) => {
        this.tableData = res
        // console.log(res)
      })
    },
    queryCallback () {
      this.getTableList(1)
    },
    /**
     * 个人号列表分页请求
     */
    pageChange (pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 修改二维码名片--显示弹窗
     */
    showCodeDialog (index, data) {
      let dialogInfo = {
        show: true,
        index: index,
        data: data
      }
      this.codeDialog = dialogInfo
    },
    /**
     * 修改二维码名片--关闭弹窗
     */
    closeCodeDialog () {
      this.codeDialog = {}
    },
    /**
     * 修改二维码名片--关闭弹窗并刷新数据
     */
    refreshCode () {
      this.closeCodeDialog()
      this.getTableList()
    },
    /**
     * 修改备注信息--显示弹窗
     */
    showRemarkDialog (index, data) {
      let dialogInfo = {
        show: true,
        index: index,
        data: data
      }
      this.remarkDialog = dialogInfo
    },
    /**
     * 修改备注信息--关闭弹窗
     */
    closeRemarkDialog () {
      this.remarkDialog = {}
    },
    /**
     * 修改备注信息--更新表格中记录的备注信息
     */
    refreshRemark (data, remark) {
      this.tableData.records[data.index].remark = remark
      this.remarkDialog = {}
      this.closeRemarkDialog()
    },
    /**
     * 删除个人号弹窗--关闭弹窗
     */
    closeDeleteDialog () {
      this.deleteDialog = {}
    },
    /**
     * 删除个人号弹窗--显示弹窗
     */
    showDeleteDialog (index, data) {
      let dialogInfo = {
        show: true,
        index: index,
        id: data.id
      }
      this.deleteDialog = dialogInfo
    },
    /**
     * 删除个人号弹窗--更新表格中记录信息
     */
    refreshDelete () {
      this.closeDeleteDialog()
      this.getTableList()
    },
    /**
     * 显示好友聊天记录
     */
    showCRFriendDialog (index, data) {
      let chatRecordFriendDialog = {
        show: true,
        id: data.id
      }
      this.chatRecordFriendDialog = chatRecordFriendDialog
    },
    /**
     * 关闭好友聊天记录
     */
    closeFriendsDialog () {
      this.chatRecordFriendDialog = {}
    },
    /**
     * 显示群聊天记录
     */
    showCRGroupDialog (index, data) {
      let chatRecordGroupDialog = {
        show: true,
        id: data.id
      }
      this.chatRecordGroupDialog = chatRecordGroupDialog
    },
    /**
     * 关闭群聊天记录
     */
    closeGroupDialog () {
      this.chatRecordGroupDialog = {}
    },
    /**
     * 设置分组
     */
    setGroup (type, index, row) {
      let ids = [row.id]
      this.setGroupDialog = {
        show: true,
        data: row,
        type: type,
        ids: ids
      }
    },
    /**
     * 设置分组--保存成功后刷新页面
     */
    refreshGroup (type) {
      this.setGroupDialog = {}
      if (!type) {
        this.getTableList()
      }
    },
    /** 导出按钮**/
    exportRole () {
      let date = new Date()
      let strDate =
        date.getFullYear() +
        '年' +
        (date.getMonth() + 1) +
        '月' +
        date.getDate() +
        '日' +
        '  ' +
        date.getHours() +
        '时' +
        date.getMinutes() +
        '分' +
        date.getSeconds() +
        '秒' +
        '  '
      staffManageApi.exportList(this.params).then((res) => {
        downloadFile(res, strDate + '个人号在线状态表格.xls')
        this.success('恭喜你，导出成功')
      })
    },
    /**
     * 按钮权限设置
     * **
     */
    async showBtn () {
      try {
        const params = {
          name: 'taskNeedAudit'
        }
        const res = await staffManageApi.showBtn(params)
        if (res == true) {
          this.isNeedAudit = true // 显示按钮
        } else {
          this.isNeedAudit = false // 不显示按钮
        }
      } catch (e) {
        this.Message(e, 'error')
      }
    },

    // 备用的导出
    exportRole1 () {
      let date = new Date()
      let strDate =
        date.getFullYear() +
        '年' +
        (date.getMonth() + 1) +
        '月' +
        date.getDate() +
        '日' +
        '  ' +
        date.getHours() +
        '时' +
        date.getMinutes() +
        '分' +
        date.getSeconds() +
        '秒' +
        '  '
      staffManageApi.exportList1(this.params).then((res) => {
        downloadFile(res, strDate + '个人号在线状态表格.xls')
        this.success('恭喜你，导出成功')
      })
    },
    // 给后端的备用按钮
    async showBtnScond () {
      try {
        const params = {
          name: 'taskNeedAudit'
        }
        const res = await staffManageApi.showBtn(params)
        if (res == true) {
          this.isNeedAudit1 = false // 不显示备用按钮
        } else {
          this.isNeedAudit1 = true // 显示备用按钮
        }
      } catch (e) {
        this.Message(e, 'error')
      }
    }
  }
}
</script>
