<template>
  <div class="edit-announcement">
    <el-form ref="form" :rules="ruleForm" :model="form">
      <el-form-item label="编辑公告内容：" prop="notice">
        <el-input class="ly-width-100" type="textarea" placeholder="请输入群公告，1000字以内" v-model.trim="form.notice" :rows="8" resize="none" :maxlength="1000"></el-input>
        <div class="ly-font-color-8" v-if="entity.detail">当前修改群：{{entity.detail.remark || entity.detail.groupName}}</div>
        <div class="ly-font-color-8" v-else>已选择群数量：{{data.ids.length}}个</div>
      </el-form-item>
      <el-form-item class="inline-b">
        <el-radio-group v-model="form.excuteType" @change="onChangeType">
          <el-radio :label="excuteTypeMap.NO_SET_TIME">立即执行</el-radio>
          <el-radio :label="excuteTypeMap.SET_TIME">定时执行</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item class="inline-b ml-20" prop="excuteTime" v-if="form.excuteType === excuteTypeMap.SET_TIME">
        <el-date-picker placeholder="请选择时间"
                        type="datetime"
                        v-model="form.excuteTime"
                        value-format="timestamp"
                        :clearable="true"
                        :picker-options="pickerOptions"
                        @change="changeDate"></el-date-picker>
      </el-form-item>
    </el-form>
    <div class="ly-text-right">
      <el-button size="medium" @click="cancel">取 消</el-button>
      <el-button size="medium" type="primary" @click="submitForm()">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { formMixin } from '@/mixins'
import { v2communityManage } from '@/api/system'
import { getTodayDate } from '@/utils'

// 是否定时执行
const EXCUTE_TYPE_MAP = {
  NO_SET_TIME: 1,
  SET_TIME: 2
}

export default {
  props: {
    data: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  mixins: [formMixin],
  data() {
    // 今天0点
    const todayDate = getTodayDate(0)
    return {
      excuteTypeMap: EXCUTE_TYPE_MAP,
      form: {
        notice: '',
        ids: [],
        excuteType: 1,
        excuteTime: null
      },
      ruleForm: {
        notice: [
          { required: true, message: '请输入群公告', trigger: 'blur' },
          { min: 1, max: 1000, message: '长度必须在1000字以内', trigger: 'blur' }
        ],
        excuteTime: [
          { required: true, message: '请选择执行时间', trigger: 'change' }
        ]
      },
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < todayDate
        }
      }
    }
  },
  methods: {
    afterEntity() {
      this.form.ids = this.entity.ids
    },
    // 切换执行是否定时
    onChangeType(val) {
      if (val === this.excuteTypeMap.NO_SET_TIME) {
        this.form.excuteTime = null
      }
    },
    // 如果选择的时分秒小于当前，就改为当前时间
    changeDate(time) {
      if (time < Date.now()) {
        this.$set(this.form, 'excuteTime', Date.now())
      }
    },
    async submitForm() {
      let param = Object.assign({}, this.form)
      await this.$refs.form.validate()
      await v2communityManage.saveGroupNotice(param)
      this.$emit('after-submit')
    }
  }
}
</script>
<style lang="scss">
  .edit-announcement {
    text-align: left;
    .el-form-item__label {
      font-size: 16px !important;
    }
  }
</style>
