<template>
  <el-form :model="details"
           ref="details"
           :rules="rules"
           label-width="150px">
    <el-form-item label="发件人邮件地址："
                  prop="mailAddress">
      <el-input v-model.trim="details.mailAddress"
                clearable
                autocomplete="off"
                placeholder="请填写发件人邮件"
                class="ly-width-280px-im"
                maxlength="36"></el-input>
    </el-form-item>
    <el-form-item label="发件人："
                  prop="userName">
      <el-input v-model.trim="details.userName"
                clearable
                autocomplete="off"
                placeholder="请填写发件人"
                class="ly-width-280px-im"
                maxlength="36"></el-input>
    </el-form-item>
    <el-form-item label="授权码："
                  prop="authCode">
      <el-input v-model.trim="details.authCode"
                clearable
                autocomplete="off"
                placeholder="请填写授权码"
                class="ly-width-280px-im"
                maxlength="36"></el-input>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="validateCallback('details')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { emailValidator } from '@/assets/js/validators'
import { riskManagementApi } from '@/api/system'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      details: {
        mailAddress: '',
        userName: '',
        authCode: '',
        id: ''
      },
      rules: {
        mailAddress: [
          { required: true, message: '请填写邮件地址', trigger: 'blur' },
          { validator: emailValidator, trigger: 'blur' }
        ],
        userName: [
          { required: true, message: '请填写发件人', trigger: 'blur' }
        ],
        authCode: [
          { required: true, message: '请填写授权码', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getSender()
  },
  methods: {
    // 获取发送人
    getSender() {
      riskManagementApi.wechatGetNoticeConfigSent().then(res => {
        if (res) {
          this.details = res
        }
      })
    },
    validateCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.sureCallback()
        } else {
          return false
        }
      })
    },
    // 设置发送人
    sureCallback() {
      riskManagementApi.wechatNoticeConfigSent(this.details).then(res => {
        this.dataInfo.open = false
      })
    }
  }
}
</script>
