<template>
  <div class="scrmp-header">
    <div class="scrmp-logo justflex-height">
      <img :src="platformLogo" />
    </div>
    <div class="scrmp-header-menu">
      <div class="scrmp-header-li" :class="isInMenu(item)?'active':''" v-for="(item, index) in menuListArr" :key="index"><span @click="changeRoute(item)">{{item.title}}</span></div>
    </div>
    <div class="scrmp-header-right">
      <!--<el-button type="primary" icon="el-icon-service" size="small" round>微客服</el-button>-->
      <div class="scrmp-header-micro"><img :src="kefuIcon" /><span>微客服</span></div>
      <div class="scrmp-header-notice justflex-height"><img :src="noticeIcon" /><span></span></div>
      <div class="scrmp-header-help"><div><img :src="helpIcon" />帮助</div>|</div>
      <el-dropdown class="scrmp-header-dripdowm" trigger="hover" size="meidum">
          <span class="el-dropdown-link scrmp-head-drop-l">
            下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>黄金糕黄金糕</el-dropdown-item>
          <el-dropdown-item>狮子头</el-dropdown-item>
          <el-dropdown-item>螺蛳粉</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import params from './meunList'
import { mapMutations, mapGetters } from 'vuex'
import helpIcon from '@/assets/images/system/icon_help.png'
import noticeIcon from '@/assets/images/system/icon_notice.png'
import kefuIcon from '@/assets/images/system/icon_weikefu.png'
export default {
  data() {
    return {
      platformLogo: 'http://114.118.97.41:55000/static/images/system-logo@2x.png',
      helpIcon: helpIcon,
      noticeIcon: noticeIcon,
      kefuIcon: kefuIcon,
      menuListArr: []
    }
  },
  watch: {
    '$route': function(val, oldVal) {
      if (!val.name) {
        this.changeRoute(this.menuListArr[0])
      }
    }
  },
  computed: {
    ...mapGetters([
      'navTagArr'
    ])
  },
  created() {
    this.getMenuList()
  },
  methods: {
    ...mapMutations({
      updateNavTag: 'UPDATE_NAV_TAG',
      updateLeftMenu: 'UPDATE_LEFT_MENU'
    }),
    /**
    * 菜单数据处理--初始化数据
    * */
    initMenuData() {
      const data = params
      let routeMap = {}
      let dataNew = data.map(item => {
        if (item.child && item.child.length) {
          let itemNew = item.child.map(itemSec => {
            let itemSecNew = itemSec.child.map(itemThird => {
              let tagArr = []
              tagArr.push(item.title)
              tagArr.push(itemSec.title)
              tagArr.push(itemThird.title)
              itemThird.tagArr = tagArr
              routeMap[itemThird.name] = itemThird
              return itemThird
            })
            itemSec.child = itemSecNew
            return itemSec
          })
          item.child = itemNew
          return item
        } else {
          item.tagArr = [item.title]
          routeMap[item.name] = item
          return item
        }
      })
      return {
        routeMap: routeMap,
        menuData: dataNew
      }
    },
    /**
     * 菜单数据处理
     * */
    async getMenuList() {
      let initData = this.initMenuData()
      this.menuListArr = initData.menuData
      this.checkCurrentRoute(initData)
    },
    /**
     * 是否是当前选择的路由
     * */
    isInMenu(data) {
      let currentRoute = this.$route.name
      if (data.child && data.child.length) {
        let child = JSON.stringify(data.child)
        return (child.indexOf(currentRoute) !== -1)
      } else {
        if (data.name === currentRoute) {
          return true
        }
      }
    },
    /**
     * 用户刷新页面与修改路由校验
     * */
    checkCurrentRoute(initData) {
      let currentRoute = this.$route.name
      if (initData.routeMap[currentRoute]) {
        // 跳到指定页面
        this.initMenuArr(initData.menuData, currentRoute)
      } else {
        // 默认跳第一个分组的第一个页面
        this.changeRoute(initData.menuData[0])
      }
    },
    /**
     * 初始化左侧菜单
     * */
    initMenuArr(initData, currentRoute) {
      let memuArr = {}
      for (let i = 0; i < initData.length; i++) {
        let itemStr = JSON.stringify(initData[i])
        if (itemStr.indexOf(currentRoute) !== -1) {
          memuArr = initData[i]
          break
        }
      }
      this.changeRoute(memuArr)
    },
    /**
     * 改变菜单
     * @param item
     */
    changeRoute(item) {
      let name
      let tagArr = []
      let menuArr = []
      if (item.child && item.child.length) {
        name = item.child[0].child[0].name
        tagArr = item.child[0].child[0].tagArr
        menuArr = item.child
      } else {
        name = item.name
      }
      this.updateNavTag(tagArr)
      this.updateLeftMenu(menuArr)
      this.$router.push({name: name})
    }
  }
}
</script>
<style type="scss">
  #app{
    min-width: inherit;
  }
</style>
