<template>
  <div class="ly-margin-vertical-sm ly-bg-white business">
    <el-form :model="params"
             ref="params"
             label-width="120px"
             class="demo-ruleForm ly-padding-sm"
             :rules="rules"
             @submit.native.prevent>
      <div class="ly-border-bottom-1">
        <el-form-item label="账号信息"
                      class="ly-font-16">
        </el-form-item>
        <el-form-item label="账号："
                      prop="account">
          <div>
            <el-input type="account"
                      v-model.trim="params.account"
                      autocomplete="off"
                      clearable
                      :disabled="dialog.isEdit"></el-input>
            <span class="ly-font-color-8">6~16位字符或数字&emsp;（上级授权{{numInfo.shopEnter.sum || 0}}个，剩余{{numInfo.shopEnter.left || 0}}个）</span>
          </div>
        </el-form-item>
        <el-form-item label="初始密码："
                      prop="passwords">
          <div>
            <el-input type="password"
                      v-model.trim="params.passwords"
                      autocomplete="off"
                      clearable
                      :disabled="dialog.isEdit"></el-input>
            <span class="ly-font-color-8">6~16位字符或数字</span>
          </div>
        </el-form-item>
        <el-form-item label="确认密码："
                      prop="password">
          <div>
            <el-input type="password"
                      v-model.trim="params.password"
                      autocomplete="off"
                      clearable
                      :disabled="dialog.isEdit"></el-input>
            <span class="ly-font-color-8">6~16位字符或数字</span>
          </div>
        </el-form-item>
      </div>
      <el-form-item label="基本信息"
                    class="ly-font-16 ly-margin-top-sm">
      </el-form-item>
      <el-form-item label="编号：">{{params.id || ''}}
      </el-form-item>
      <el-form-item label="企业名称："
                    class="ruleForm-sm"
                    prop="name">
        <div>
          <el-input type="name"
                    v-model.trim="params.name"
                    autocomplete="off"
                    clearable></el-input>
          <span class="ly-font-color-8">20字</span>
        </div>
      </el-form-item>
      <el-form-item label="联系电话："
                    prop="phone">
        <el-input type="phone"
                  v-model.number="params.phone"
                  autocomplete="off"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="设备："
                    class="ruleForm-xs"
                    prop="equipmentNum">
        <div>
          <el-input type="equipmentNum"
                    v-model.trim="params.equipmentNum"
                    autocomplete="off"
                    clearable
                    :disabled="dialog.isEdit"></el-input>
          <span>台&emsp;
            <span class="ly-font-color-8">（上级授权{{numInfo.equNum.sum || 0}}台，剩余{{numInfo.equNum.left || 0}}台）</span>
          </span>
        </div>
      </el-form-item>
      <el-form-item label="店铺："
                    class="ruleForm-xs"
                    prop="shopNum">
        <div>
          <el-input type="shopNum"
                    v-model.trim="params.shopNum"
                    autocomplete="off"
                    clearable
                    :disabled="dialog.isEdit"></el-input>
          <span>个&emsp;
            <span class="ly-font-color-8">（上级授权{{numInfo.shopNum.sum || 0}}台，剩余{{numInfo.shopNum.left || 0}}台）</span>
          </span>
        </div>
      </el-form-item>
      <el-form-item label="个人号："
                    class="ruleForm-xs"
                    prop="wechatNum">
        <div>
          <el-input type="wechatNum"
                    v-model.trim="params.wechatNum"
                    autocomplete="off"
                    clearable
                    :disabled="dialog.isEdit"></el-input>
          <span>个&emsp;
            <span class="ly-font-color-8">（上级授权{{numInfo.accountNum.sum || 0}}台，剩余{{numInfo.accountNum.left || 0}}台）</span>
          </span>
        </div>
      </el-form-item>
      <el-form-item label="工作群数："
                    class="ruleForm-xs"
                    prop="workGroupNum">
        <div>
          <el-input type="workGroupNum"
                    v-model.trim="params.workGroupNum"
                    autocomplete="off"
                    clearable
                    :disabled="dialog.isEdit"></el-input>
          <span>个&emsp;
            <span class="ly-font-color-8">（上级授权{{numInfo.groupNum.sum || 0}}个，剩余{{numInfo.groupNum.left || 0}}个）</span>
          </span>
        </div>
      </el-form-item>
      <el-form-item label="菜单权限："
                    v-if="dialog.isEdit"
                    required>
        <menuRightList class="menuSty"
                       v-if="params.roleId"
                       :id="params.roleId"
                       entry="pmsOms"
                       ref="menuRightList"></menuRightList>
      </el-form-item>
      <el-form-item label="菜单权限："
                    v-else
                    required>
        <menuRightList class="menuSty"
                       :id="params.roleId"
                       entry="pmsOms"
                       ref="menuRightList"></menuRightList>
      </el-form-item>
      <el-form-item label="地址："
                    class="ruleForm-xs">
        <provinceList v-model="params.provinceId"
                      placeholder="省"
                      @change="clearableCallback($event,'provinceId')" />
        <cityList v-model="params.cityId"
                  placeholder="市"
                  :provinceId="params.provinceId"
                  @change="clearableCallback($event,'cityId')" />
        <areaList v-model="params.areaId"
                  placeholder="区"
                  :cityId="params.cityId" />
      </el-form-item>
      <el-form-item label="详细地址："
                    class="ruleForm-sm"
                    prop="detailAddress">
        <div>
          <el-input v-model.trim="params.detailAddress"
                    autocomplete="off"
                    clearable></el-input>
          <span class="ly-font-color-8">50字</span>
        </div>
      </el-form-item>
      <el-form-item label="备注："
                    class="ruleForm-sm"
                    prop="remark">
        <div>
          <el-input type="textarea"
                    v-model="params.remark"
                    rows="5"
                    :maxlength="500"></el-input>
          <span class="ly-font-color-8">{{remarkLen}}/{{remarkTotal}}</span>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary"
                   @click="submitForm('params')">确定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mobileValidator, passwordValidator, accountValidator, positiveIntegerValidator } from '@/assets/js/validators'
import menuRightList from '@/components/common/menuRightList'
import { provinceList, cityList, areaList } from '@/components/common/lazySelect'
import { pmsBusinessApi } from '@/api/pms'
import { omsBusinessApi } from '@/api/oms'
let businessApi = null

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  components: { menuRightList, provinceList, cityList, areaList },
  watch: {
    'params.remark': {
      handler: function (val, oldval) {
        if (val) {
          this.remarkLen = val.length
        }
      },
      deep: true
    }
  },
  data() {
    const rePasswordValidator = (rule, value, callback, source, options) => {
      if (this.dialog.isEdit) {
        callback()
      } else {
        passwordValidator(rule, value, callback)
      }
      let errors = []
      if (value && value !== this.params.passwords) {
        errors.push(rule.message || '两次输入的密码不一致')
      }
      callback(errors)
    }
    const reNewPasswordValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (value && value !== this.params.passwords) {
        errors.push(rule.message || '两次输入的密码不一致')
      }
      callback(errors)
    }
    const equipmentLetterMax = (rule, value, callback) => {
      if (this.dialog && this.dialog.isEdit) {
        callback()
      } else {
        if (value > this.numInfo.equNum.left) {
          callback(new Error('当前设备数不足！'))
        } else {
          positiveIntegerValidator(rule, value, callback)
        }
        callback()
      }
    }
    const shoptLetterMax = (rule, value, callback) => {
      if (this.dialog && this.dialog.isEdit) {
        callback()
      } else {
        if (value > this.numInfo.shopNum.left) {
          callback(new Error('当前店铺数不足！'))
        } else {
          positiveIntegerValidator(rule, value, callback)
        }
        callback()
      }
    }
    const wechatLetterMax = (rule, value, callback) => {
      if (this.dialog && this.dialog.isEdit) {
        callback()
      } else {
        if (value > this.numInfo.accountNum.left) {
          callback(new Error('当前个人号数不足！'))
        } else {
          positiveIntegerValidator(rule, value, callback)
        }
        callback()
      }
    }
    const workGroupLetterMax = (rule, value, callback) => {
      if (this.dialog && this.dialog.isEdit) {
        callback()
      } else {
        if (value > this.numInfo.groupNum.left) {
          callback(new Error('当前工作群数不足！'))
        } else {
          positiveIntegerValidator(rule, value, callback)
        }
        callback()
      }
    }
    return {
      params: {
        account: '',
        passwords: '',
        password: '',
        name: '',
        phone: '',
        equipmentNum: 1,
        shopNum: 1,
        wechatNum: 1,
        workGroupNum: 1,
        dataRole: [],
        provinceId: null,
        cityId: null,
        areaId: null,
        detailAddress: '',
        remark: '',
        roleId: ''
      },
      rules: {
        account: [
          { required: true, message: '请输入账号' },
          { validator: accountValidator }
        ],
        passwords: [
          { required: true, message: '请输入初始密码' },
          { validator: rePasswordValidator }
        ],
        password: [
          { required: true, message: '请再次输入密码' },
          { validator: reNewPasswordValidator }
        ],
        name: [
          { required: true, message: '企业名称不能为空' },
          { max: 20, message: '企业名称不能超过20个字符' }
        ],
        phone: [
          { required: true, message: '联系电话不能为空' },
          { validator: mobileValidator }
        ],
        equipmentNum: [
          { required: true, message: '设备数量不能为空' },
          { validator: equipmentLetterMax }
        ],
        shopNum: [
          { required: true, message: '店铺数量不能为空' },
          { validator: shoptLetterMax }
        ],
        wechatNum: [
          { required: true, message: '个人号数量不能为空' },
          { validator: wechatLetterMax }
        ],
        workGroupNum: [
          { required: true, message: '工作群数量不能为空' },
          { validator: workGroupLetterMax }
        ],
        detailAddress: [
          { max: 50, message: '详细地址不能超过50个字符' }
        ],
        remark: [
          { max: 500, message: '备注不能超过500个字符' }
        ]
      },
      remarkLen: 0,
      remarkTotal: 500,
      numInfo: {
        equNum: {},
        shopNum: {},
        accountNum: {},
        shopEnter: {},
        groupNum: {}
      }
    }
  },
  created() {
    if (this.dialog.entry === 'pms') {
      businessApi = pmsBusinessApi
    } else {
      businessApi = omsBusinessApi
    }
    if (this.dialog.isEdit) {
      this.getDetails()
    }
    this.equNum()
    this.shopNum()
    this.accountNum()
    this.shopEnter()
    this.groupNum()
  },
  methods: {
    getDetails() {
      businessApi.enterEditDetails(this.dialog.id).then(res => {
        this.params = res
        if (this.dialog.isEdit) {
          this.params.passwords = '******'
          this.params.password = '******'
          if (this.params.remark) {
            this.remarkLen = this.params.remark.length
          }
          if (this.params.provinceId) {
            this.params.provinceId = res.provinceId
            this.params.cityId = res.cityId
            this.params.areaId = res.areaId
          }
        }
      })
    },
    // 保存验证
    submitForm(formName) {
      if (this.params.provinceId) {
        if (!this.params.cityId) {
          this.error('请选择市')
          return
        }
        if (!this.params.areaId) {
          this.error('请选择区')
          return
        }
      }
      this.params.dataRole = this.$refs.menuRightList.getTableList()
      if (this.params.dataRole.length === 0) {
        this.error('请选择菜单权限')
        return
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.submitCallback()
        } else {
          return false
        }
      })
    },
    // 保存
    submitCallback() {
      if (this.dialog.isEdit) {
        this.editCallback()
      } else {
        this.addCallback()
      }
    },
    // 新增
    addCallback() {
      businessApi.enterAdd(this.params).then(res => {
        this.success('恭喜你，新增成功')
        this.$emit('closeCallback')
        this.$emit('getTableList')
      })
    },
    // 编辑
    editCallback() {
      businessApi.enterEdit(this.params).then(res => {
        this.success('恭喜你，编辑成功!')
        this.$emit('closeCallback')
        this.$emit('getList', this.dialog.id)
      })
    },
    clearableCallback(val, type) {
      if (type === 'provinceId') {
        this.params.cityId = null
      }
      this.params.areaId = null
    },
    // 可用设备数
    equNum() {
      businessApi.equNum().then(res => {
        this.numInfo.equNum = res
      })
    },
    // 可用店铺数
    shopNum() {
      businessApi.shopNum().then(res => {
        this.numInfo.shopNum = res
      })
    },
    // 可用个人号数
    accountNum() {
      businessApi.accountNum().then(res => {
        this.numInfo.accountNum = res
      })
    },
    // 可用企业数
    shopEnter() {
      businessApi.shopEnter().then(res => {
        this.numInfo.shopEnter = res
      })
    },
    // 可用工作群
    groupNum() {
      businessApi.groupNum().then(res => {
        this.numInfo.groupNum = res
      })
    }
  }
}
</script>
