<template>
  <div>
    <!-- 导入订单 -->
    <el-button type="primary"
               @click="dialogVisible1 = true">导入订单</el-button>
    <el-dialog title="导入订单"
               :visible.sync="dialogVisible1"
               width="880px">
      <el-form label-width="100px">
        <el-form-item label="导入说明:"
                      required>
          <p class="ly-font-16 ly-font-color-2">1、导入文件格式必须为 .csv，.xls，.xlsx；</p>
          <p class="ly-font-16 ly-font-color-2">2、导入的文件大小不能超过50mb，如果文件过大请分多次导入；</p>
          <p class="ly-font-16 ly-font-color-2">3、导入的过程中请保持网络的联通，如导入中断，请点击“继续上传”；</p>
          <el-button type="primary"
                     size="small">下载模板</el-button>
        </el-form-item>
        <el-form-item label="平台类型:"
                      required>
          <el-select placeholder="请选择" size="medium"
                     v-model="parentDepartmanet">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属店铺:"
                      required>
          <el-select placeholder="请选择" size="medium"
                     v-model="parentDepartmanet">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选择文件:"
                      required>
          <el-button type="primary"
                     size="small">选择文件</el-button>
        </el-form-item>
      </el-form>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible1 = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
    <el-button type="primary"
               @click="dialogVisible2 = true">失败订单</el-button>
    <el-dialog title="失败订单"
               :visible.sync="dialogVisible2"
               width="880px">
      <div class="search-fail-order">
        <div class="ly-box ly-box-align-center">
          <span class="ly-font-size-16 ly-font-color-4">订单搜索:</span>
          <el-input placeholder="订单号" size="medium"
                    class="ly-width-280px-im ly-margin-horizontal-sm"></el-input>
          <el-button type="primary"
                     size="small">查询</el-button>
        </div>
        <el-table class="fail-order-table"
                  :data="tableData">
          <el-table-column label="订单号"
                           align="center"
                           prop="orderNum"
                           width="180">
          </el-table-column>
          <el-table-column label="失败原因"
                           prop="reason"></el-table-column>
        </el-table>
      </div>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible4 = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
    <el-button type="primary"
               @click="dialogVisible3 = true">订单详情</el-button>
    <el-dialog title="订单详情"
               :visible.sync="dialogVisible3"
               width="880px">
      <table border="1"
             cellspacing="0"
             class="detail-info-table ly-font-color-4 ly-font-14">
        <tbody align="left">
          <tr>
            <td class=""
                align="center">创建时间</td>
            <td class="ly-padding-horizontal-sm">2018-12-30 20:12</td>
            <td class=""
                align="center">付款时间</td>
            <td class="ly-padding-horizontal-sm">2018-12-30 20:12</td>
          </tr>
          <tr>
            <td class=""
                align="center">发货时间</td>
            <td class="ly-padding-horizontal-sm">2018-12-30 20:12</td>
            <td class=""
                align="center">成交时间</td>
            <td class="ly-padding-horizontal-sm">2018-12-30 20:12</td>
          </tr>
          <tr>
            <td class=""
                align="center">订单来源</td>
            <td class="ly-padding-horizontal-sm">自动同步</td>
            <td class=""
                align="center">订单状态</td>
            <td class="ly-padding-horizontal-sm">已发货</td>
          </tr>
          <tr>
            <td class=""
                align="center">订单号</td>
            <td class="ly-padding-horizontal-sm">24170941758927589327568</td>
            <td class=""
                align="center">店铺名称</td>
            <td class="ly-padding-horizontal-sm">智婴美婴幼儿官方店铺</td>
          </tr>
          <tr>
            <td class=""
                align="center">实收金额</td>
            <td class="ly-padding-horizontal-sm">139.00元</td>
            <td class=""
                align="center">购物账号</td>
            <td class="ly-padding-horizontal-sm">徐苏2019</td>
          </tr>
          <tr>
            <td class=""
                align="center">收货人</td>
            <td class="ly-padding-horizontal-sm">139.00元</td>
            <td class=""
                align="center">联系电话</td>
            <td class="ly-padding-horizontal-sm">徐苏2019</td>
          </tr>
          <tr>
            <td class=""
                align="center">收货地址</td>
            <td class="ly-padding-horizontal-sm"
                colspan="3">福建省福州市闽侯县上街高新区</td>
          </tr>
          <tr>
            <td class=""
                align="center">备注</td>
            <td class="ly-padding-horizontal-sm"
                colspan="3">福建省福州市闽侯县上街高新区</td>
          </tr>
        </tbody>
      </table>
      <div class="detail-margin-top">
        <div class="detail-info-div">
          <el-table :data="tableData1"
                    style="width: 100%"
                    class="ly-font-color-4 ly-font-14">
            <el-table-column prop="date"
                             label="商品"
                             width="357">
              <template slot-scope="scope">
                <div class="ly-box">
                  <div class="">
                    <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"
                         class="product-detail-pic">
                  </div>
                  <div class="ly-paddingleft-10px">
                    <p class="product-detail-title ly-font-12 ly-font-color-4">麽麽茶茶麽麽麽麽茶茶麽麽麽麽茶茶麽麽麽麽茶茶麽麽</p>
                    <p class="ly-font-color-8 ly-font-12">规格：M码</p>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="name"
                             label="单价">
            </el-table-column>
            <el-table-column prop="address"
                             label="数量">
            </el-table-column>
            <el-table-column prop="name"
                             label="买家实付款">
            </el-table-column>
            <el-table-column prop="address"
                             label="状态">
            </el-table-column>
          </el-table>
        </div>
      </div>
    </el-dialog>
    <!-- 新增店铺 -->
    <el-button type="primary"
               @click="dialogVisible4 = true">新增店铺</el-button>
    <el-dialog title="新增店铺"
               :visible.sync="dialogVisible4"
               width="489px">
      <div class="add-store">
        <div class="ly-box">
          <span class="ly-font-color-4 ly-font-16 ly-margin-right-xs">套餐信息：</span>
          <div class="ly-font-14 ly-font-color-10">
            <p class="ly-margin-top-xs">店铺数：10</p>
            <p class="ly-margin-top-xs">还可绑定：10</p>
            <p class="ly-margin-top-xs">最晚过期：2019-11-15</p>
          </div>
        </div>
        <div class="ly-margintop-25px">
          <span class="ly-font-color-4 ly-font-16">平台类型：</span>
          <el-select v-model="select" size="medium"
                     placeholder="请选择"
                     class="ly-width-280px">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </div>
        <div class="ly-margintop-25px">
          <span class="ly-font-color-4 ly-font-16">店铺名称：</span>
          <el-input class="ly-width-280px" placeholder="请输入店铺名称"></el-input>
        </div>
        <div class="ly-margintop-25px">
          <span class="ly-font-color-4 ly-font-16">店铺类目：</span>
          <el-select v-model="select" size="medium"
                     placeholder="请选择"
                     class="ly-width-280px">
            <el-option label="区域一"
                       value="shanghai"></el-option>
            <el-option label="区域二"
                       value="beijing"></el-option>
          </el-select>
        </div>
      </div>
      <span slot="footer"
            class="dialog-footer">
        <el-button @click="dialogVisible4 = false">取 消</el-button>
        <el-button type="primary">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      parentDepartmanet: '',
      tableData: [{
        orderNum: '11111',
        reason: 'sdjkfskjahflask减肥咖啡撒即可了解大陆'
      }],
      select: '',
      tableData1: [{
        date: '2016-05-02',
        name: '王小虎',
        address: '1'
      }, {
        date: '2016-05-04',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1517 弄'
      }, {
        date: '2016-05-01',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1519 弄'
      }, {
        date: '2016-05-03',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1516 弄'
      }]
    }
  }
}
</script>
<style lang="scss">
</style>
