<template>
  <div>
    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 => 微信风控 => 敏感词设置">
        <p>未完成：</p>
        <p>已完成：新增敏感词、阻止并预警、仅预警</p>
      </el-tab-pane>
    </el-tabs>
    <!--风控管理 => 微信风控 => 敏感词设置 => 新增敏感词-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible1 = true">新增敏感词</el-button>
      <el-dialog title="新增敏感词"
                 :visible.sync="dialogVisible1"
                 width="490px">
        <el-form>
          <el-form-item label="敏感词:"
                        :label-width="formLabelWidth"
                        required>
            <el-input class="ly-width-280px"
                      type="textarea"
                      :rows="6"
                      placeholder="请输入敏感词"></el-input>
            <p class="ly-width-280px ly-font-color-4 ly-font-12">一行一个敏感词，支持同时添加多个敏感词</p>
          </el-form-item>
          <el-form-item label="敏感类型:"
                        :label-width="formLabelWidth"
                        size="medium">
            <el-radio-group v-model="radio">
              <el-radio-button label="1">阻止并预警</el-radio-button>
              <el-radio-button label="2">仅预警</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible1 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible1 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--风控管理 => 微信风控 => 敏感词设置 => 新增敏感词 => 阻止并预警-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible2 = true">阻止并预警</el-button>
      <el-dialog title="提示"
                 :visible.sync="dialogVisible2"
                 width="400px"
                 append-to-body>
        <p class="ly-margin-top-30px ly-text-center ly-font-16 ly-font-color-4">消息内容包含敏感词，发送失败！</p>
        <div class="ly-margin-top-30px ly-text-center">
          <el-button type="primary"
                     @click="dialogVisible2 = false">我知道了</el-button>
        </div>
      </el-dialog>
    </div>

    <!--风控管理 => 微信风控 => 敏感词设置 => 新增敏感词 => 仅预警-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible3 = true">仅预警</el-button>
      <el-dialog title="提示"
                 :visible.sync="dialogVisible3"
                 width="400px"
                 append-to-body>
        <p class="ly-margin-top-30px ly-text-center ly-font-16 ly-font-color-4">消息内容包含敏感词，是否确定发送？</p>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible3 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible3 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 =>微信风控 => 敏感操作">
        <p>未完成：</p>
        <p>已完成：敏感操作设置、敏感操作处理、聊天记录参照个人号管理、敏感操作详情</p>
      </el-tab-pane>
    </el-tabs>
    <!--风控管理 => 微信风控 => 敏感操作 => 敏感操作设置-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible4 = true">敏感操作设置</el-button>
      <el-dialog title="敏感操作设置"
                 :visible.sync="dialogVisible4"
                 width="600px"
                 append-to-body>
        <el-table :data="tableData"
                  :row-style="{'height': '60px'}"
                  style="width: 100%">
          <el-table-column prop="riskAction"
                           label="敏感行为"
                           width="145">
          </el-table-column>
          <el-table-column prop="setDefault"
                           label="是否默认正常"
                           width="145">
            <template slot-scope="scope">
              <span v-if="!scope.row.state"><span v-if="scope.row.setDefault">默认正常</span><span v-else>默认异常</span></span>
              <el-checkbox v-model="scope.row.setDefault"
                           v-else>默认正常</el-checkbox>
            </template>
          </el-table-column>
          <el-table-column label="显示色值">
            <template slot-scope="scope">
              <span v-if="!scope.row.state">{{scope.row.color}}</span>
              <el-color-picker v-model="scope.row.color"
                               size="mini"
                               v-else></el-color-picker>
            </template>
          </el-table-column>
          <el-table-column label="操作"
                           width="90">
            <template slot-scope="scope">
              <el-button size="mini"
                         type="primay"
                         @click="handleEdit(scope.$index, scope.row)"
                         v-if="!scope.row.state">编辑</el-button>
              <el-button size="mini"
                         type="primay"
                         @click="handleSave(scope.$index, scope.row)"
                         v-else>保存</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible4 = false">关 闭</el-button>
        </div>
      </el-dialog>
    </div>
    <!--风控管理 => 微信风控 => 敏感操作 => 敏感操作处理-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible5 = true">敏感操作处理</el-button>
      <el-dialog title="敏感操作处理"
                 :visible.sync="dialogVisible5"
                 width="489px">
        <el-form :model="form">
          <el-form-item label="处理备注:"
                        :label-width="formLabelWidth"
                        required>
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="处理备注"
                      class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="正常/异常:"
                        :label-width="formLabelWidth">
            <el-checkbox v-model="checkedbox">默认正常</el-checkbox>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible5 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible5 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <!--风控管理 => 微信风控 => 敏感操作 => 敏感操作详情-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible6 = true">敏感操作详情</el-button>
      <el-dialog title="敏感操作详情"
                 :visible.sync="dialogVisible6"
                 width="489px">
        <el-form :model="form">
          <el-form-item label="敏感行为:"
                        :label-width="formLabelWidth">
            <p>敏感行为</p>
          </el-form-item>
          <el-form-item label="微信信息:"
                        :label-width="formLabelWidth">
            <div class="el-imgtxt-mix">
              <div class="el-imgtxt-mix-img ly-wh-60-60px-im">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
              </div>
              <div class="el-imgtxt-mix-txt ly-paddingleft-70px-im">
                <p class="el-imgtxt-mix-p1">微信昵称</p>
                <p class="el-imgtxt-mix-p2">18100001212</p>
                <p class="el-imgtxt-mix-p3">ceiling1212</p>
              </div>
            </div>
          </el-form-item>
          <el-form-item label="微信当时设备:"
                        :label-width="formLabelWidth">
            <p>324298529886948693846093846098</p>
          </el-form-item>
          <el-form-item label="设备当时所属:"
                        :label-width="formLabelWidth">
            <p>yufanghufu</p>
          </el-form-item>
          <el-form-item label="微信信息:"
                        :label-width="formLabelWidth">
            <div class="el-imgtxt-mix">
              <div class="el-imgtxt-mix-img ly-wh-60-60px-im">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
              </div>
              <div class="el-imgtxt-mix-txt ly-paddingleft-70px-im">
                <p class="el-imgtxt-mix-p1">微信昵称</p>
                <p class="el-imgtxt-mix-p2">18100001212</p>
                <p class="el-imgtxt-mix-p3">ceiling1212</p>
              </div>
            </div>
          </el-form-item>
          <el-form-item label="好友当时客服:"
                        :label-width="formLabelWidth">
            <p>yufanghufu</p>
          </el-form-item>
          <el-form-item label="操作时间:"
                        :label-width="formLabelWidth">
            <p>2018-11-29 09:40:12</p>
          </el-form-item>
          <el-form-item label="敏感内容:"
                        :label-width="formLabelWidth">
            <p class="ly-font-color-7">猪</p>
          </el-form-item>
          <el-form-item label="处理结果:"
                        :label-width="formLabelWidth">
            <p>异常 待处理</p>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible6 = false">取 消</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 => 微信风控 => 敏感通知">
        <p>未完成：</p>
        <p>已完成：设置发送人、编辑敏感通知、企业邮箱/QQ邮箱</p>
      </el-tab-pane>
    </el-tabs>
    <!--风控管理 => 微信风控 => 敏感通知 => 设置发送人-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible7 = true">设置发送人</el-button>
      <el-dialog title="设置发送人"
                 :visible.sync="dialogVisible7"
                 width="489px">
        <el-form :model="form">
          <el-form-item label="发件人邮件地址:"
                        :label-width="formLabelWidth"
                        required>
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="请填写发件人邮件"
                      class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="发件人:"
                        :label-width="formLabelWidth"
                        required>
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="请填写发件人"
                      class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="授权码:"
                        :label-width="formLabelWidth"
                        required>
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="请填写授权码"
                      class="ly-width-280px-im"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible7 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible7 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--风控管理 => 微信风控 => 敏感通知 => 编辑敏感通知-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible8 = true">编辑敏感通知</el-button>
      <el-dialog title="编辑敏感通知"
                 :visible.sync="dialogVisible8"
                 width="489px">
        <el-form :model="form">
          <el-form-item label="敏感行为:"
                        :label-width="formLabelWidth">
            <p>收转账请求</p>
          </el-form-item>
          <el-form-item label="发送邮件:"
                        :label-width="formLabelWidth">
            <el-checkbox v-model="checkedbox">发送邮件</el-checkbox>
          </el-form-item>
          <el-form-item label="邮件地址:"
                        :label-width="formLabelWidth">
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="请填写邮件地址"
                      class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="发送短信:"
                        :label-width="formLabelWidth">
            <el-checkbox v-model="checkedbox">发送短信</el-checkbox>
          </el-form-item>
          <el-form-item label="手机号:"
                        :label-width="formLabelWidth">
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="请填写手机号"
                      class="ly-width-280px-im"></el-input>
            <p class="ly-font-color-4 ly-font-12">短信通知每天上限20条</p>
          </el-form-item>

        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible8 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible8 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--风控管理 => 微信风控 => 敏感通知 => 企业邮箱/QQ邮箱-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible9 = true">邮箱申请</el-button>
      <el-dialog title="邮箱申请（企业邮箱，QQ邮箱二选一）"
                 :visible.sync="dialogVisible9"
                 width="1000px">
        <el-tabs v-model="activeName"
                 @tab-click="handleClick">
          <el-tab-pane label="QQ邮箱设置"
                       name="first">QQ邮箱设置</el-tab-pane>
          <el-tab-pane label="腾讯企业邮箱设置"
                       name="second">腾讯企业邮箱设置</el-tab-pane>
        </el-tabs>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible9 = false">关闭</el-button>
        </div>
      </el-dialog>
    </div>
    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 => 微信风控 => 微信好友导出">
        <p>未完成：</p>
        <p>已完成：聊天记录导出</p>
      </el-tab-pane>
    </el-tabs>
    <!--风控管理 => 微信风控 => 微信好友导出 => 聊天记录导出-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible10 = true">聊天记录导出</el-button>
      <el-dialog title="聊天记录导出"
                 :visible.sync="dialogVisible10"
                 width="489px">
        <el-form :model="form">
          <div class="el-center">
            <el-date-picker class="ly-width-350px-im"
                            v-model="datetimerange"
                            type="daterange"
                            size="small"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            :default-time="['00:00:00', '23:59:59']">
            </el-date-picker>
          </div>
          <div class="el-center ly-margin-top-20px">
            <el-select v-model="group"
                       placeholder="请选择"
                       class="ly-width-350px-im"
                       size="small">
              <el-option label="群聊 + 微信好友"
                         value="group1"></el-option>
              <el-option label="群聊"
                         value="group2"></el-option>
              <el-option label="微信好友"
                         value="group3"></el-option>
            </el-select>
          </div>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible10 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible10 = false">导出聊天记录</el-button>
        </div>
      </el-dialog>
    </div>

    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 => 手机风控 => 短信敏感词">
        <p>未完成：</p>
        <p>已完成：新增敏感词、敏感操作处理</p>
      </el-tab-pane>
    </el-tabs>
    <!--风控管理 => 手机风控 => 短信敏感词 => 新增敏感词-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible11 = true">新增敏感词</el-button>
      <el-dialog title="新增敏感词"
                 :visible.sync="dialogVisible11"
                 width="490px">
        <el-form>
          <el-form-item label="敏感词:"
                        :label-width="formLabelWidth"
                        required>
            <el-input class="ly-width-280px"
                      type="textarea"
                      :rows="6"
                      placeholder="请输入敏感词"></el-input>
            <p class="ly-width-280px ly-font-color-4 ly-font-12">一行一个敏感词，支持同时添加多个敏感词</p>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible11 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible11 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 => 手机风控 => 敏感短信">
        <p>未完成：</p>
        <p>已完成：敏感操作处理、敏感操作详情</p>
      </el-tab-pane>
    </el-tabs>
    <!--风控管理 => 手机风控 => 短信敏感词 => 敏感操作处理-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible12 = true">敏感操作处理</el-button>
      <el-dialog title="敏感操作处理"
                 :visible.sync="dialogVisible12"
                 width="489px">
        <el-form :model="form">
          <el-form-item label="处理备注:"
                        :label-width="formLabelWidth"
                        required>
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="处理备注"
                      class="ly-width-280px-im"></el-input>
          </el-form-item>
          <el-form-item label="正常/异常:"
                        :label-width="formLabelWidth">
            <el-checkbox v-model="checkedbox">默认正常</el-checkbox>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible12 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible12 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>
    <!--风控管理 => 微信风控 => 敏感操作 => 敏感操作详情-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible13 = true">敏感操作详情</el-button>
      <el-dialog title="敏感操作详情"
                 :visible.sync="dialogVisible13"
                 width="489px">
        <el-form :model="form">
          <el-form-item label="敏感行为:"
                        :label-width="formLabelWidth">
            <p>敏感行为</p>
          </el-form-item>
          <el-form-item label="微信信息:"
                        :label-width="formLabelWidth">
            <div class="el-imgtxt-mix">
              <div class="el-imgtxt-mix-img ly-wh-60-60px-im">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
              </div>
              <div class="el-imgtxt-mix-txt ly-paddingleft-70px-im">
                <p class="el-imgtxt-mix-p1">微信昵称</p>
                <p class="el-imgtxt-mix-p2">18100001212</p>
                <p class="el-imgtxt-mix-p3">ceiling1212</p>
              </div>
            </div>
          </el-form-item>
          <el-form-item label="微信当时设备:"
                        :label-width="formLabelWidth">
            <p>324298529886948693846093846098</p>
          </el-form-item>
          <el-form-item label="设备当时所属:"
                        :label-width="formLabelWidth">
            <p>yufanghufu</p>
          </el-form-item>
          <el-form-item label="好友信息:"
                        :label-width="formLabelWidth">
            <div class="el-imgtxt-mix">
              <div class="el-imgtxt-mix-img ly-wh-60-60px-im">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L" />
              </div>
              <div class="el-imgtxt-mix-txt ly-paddingleft-70px-im">
                <p class="el-imgtxt-mix-p1">微信昵称</p>
                <p class="el-imgtxt-mix-p2">18100001212</p>
                <p class="el-imgtxt-mix-p3">ceiling1212</p>
              </div>
            </div>
          </el-form-item>
          <el-form-item label="好友当时客服:"
                        :label-width="formLabelWidth">
            <p>yufanghufu</p>
          </el-form-item>
          <el-form-item label="操作时间:"
                        :label-width="formLabelWidth">
            <p>2018-11-29 09:40:12</p>
          </el-form-item>
          <el-form-item label="敏感内容:"
                        :label-width="formLabelWidth">
            <p class="ly-font-color-7">猪</p>
          </el-form-item>
          <el-form-item label="处理结果:"
                        :label-width="formLabelWidth">
            <p>异常 待处理</p>
          </el-form-item>
        </el-form>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible13 = false">关 闭</el-button>
        </div>
      </el-dialog>
    </div>
    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 => 手机风控 => 敏感通知">
        <p>未完成：</p>
        <p>已完成：设置发送人（同微信风控）、编辑敏感通知（同微信风控）、邮箱申请（同微信风控）</p>
      </el-tab-pane>
    </el-tabs>

    <el-tabs type="border-card">
      <el-tab-pane label="风控管理 => 手机风控 => App设置">
        <p>未完成：</p>
        <p>已完成：App设置、App[微博]的设置</p>
      </el-tab-pane>
    </el-tabs>
    <!--风控管理 => 手机风控 => App设置 => 新增App设置-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible14 = true">新增App设置</el-button>
      <el-dialog title="新增App设置"
                 :visible.sync="dialogVisible14"
                 width="560px">
        <el-form :model="form">
          <el-form-item label="应用名称:"
                        :label-width="formLabelWidth"
                        required>
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="请输入App名称"
                      class="ly-width-280px-im"></el-input>
            <p class="ly-font-color-7 ly-font-12">请输入App名称</p>
          </el-form-item>
          <el-form-item label="应用package:"
                        :label-width="formLabelWidth">
            <el-input v-model="name"
                      autocomplete="off"
                      placeholder="请输入包名称"
                      class="ly-width-280px-im"></el-input>
            <p class="ly-font-color-7 ly-font-12">请输入包名称</p>
          </el-form-item>
        </el-form>
        <div class="ly-width-419px ly-mheight-36vh ly-bg-f6 ly-margin-center">
          <ul class="ly-padding-20px">
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
            <li class="ly-paddingtb-6px">
              微信 com.tencunt.mm
            </li>
          </ul>
        </div>
        <div slot="footer"
             class="dialog-footer">
          <el-button @click="dialogVisible14 = false">取 消</el-button>
          <el-button type="primary"
                     @click="dialogVisible14 = false">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <!--风控管理 => 手机风控 => App设置 => App[微博]的设置-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible15 = true">App[微博]的设置</el-button>
      <el-dialog title="App[微博]的设置"
                 :visible.sync="dialogVisible15"
                 width="700px">
        <el-input autocomplete="off"
                  placeholder="请输入设备信息进行过滤"
                  class="ly-width-641px"></el-input>
        <div class="ly-margin-top-15px">
          <el-tree :data="data2"
                   show-checkbox
                   node-key="id"
                   ref="tree"
                   :default-expanded-keys="[1]"
                   :default-checked-keys="[1]">
          </el-tree>
        </div>
        <div slot="footer"
             class="dialog-footer">
          <el-button type="primary"
                     @click="setCheckedKeys">全 选</el-button>
          <el-button type="primary"
                     @click="resetChecked">全取消</el-button>
          <el-button type="primary"
                     @click="saveChecked">保 存</el-button>
          <el-button @click="dialogVisible15 = false">关 闭</el-button>
        </div>
      </el-dialog>
    </div>
    <!--风控管理 => 手机风控 => 权限管理 => 图片查看-->
    <div class="dialog-list">
      <el-button type="primary"
                 @click="dialogVisible16 = true">图片放大</el-button>
      <el-dialog title="图片放大"
                 :visible.sync="dialogVisible16">
        <img width="100%"
             :src="backgroundImgurl"
             alt="">
      </el-dialog>
    </div>
    <br />
    <br />
  </div>
</template>
<script>
export default {
  data() {
    return {
      activeName: 'first',
      formLabelWidth: '136px',
      form: {},
      remark: '',
      name: '',
      group: '',
      radio: '1',
      num: 2,
      checkedbox: true,
      datetimerange: '',
      backgroundImgurl: 'http://pic1.cxtuku.com/00/03/76/b37005566943.jpg',
      dialogVisible1: false,
      dialogVisible2: false,
      dialogVisible3: false,
      dialogVisible4: false,
      dialogVisible5: false,
      dialogVisible6: false,
      dialogVisible7: false,
      dialogVisible8: false,
      dialogVisible9: false,
      dialogVisible10: false,
      dialogVisible11: false,
      dialogVisible12: false,
      dialogVisible13: false,
      messageType: '',
      dialogImageUrl: '',
      dialogImageVisible: false,
      dialogMatterVisible: false,
      tabPosition: 'common',
      audioBindText: '按住说话',
      audioState: true,
      countTime: 60,
      dialogVisible14: false,
      tableData: [{
        riskAction: '发转账请求',
        setDefault: true,
        color: '#121212',
        state: false // 0-编辑，1--保存
      }, {
        riskAction: '登录PC或网页版微信',
        setDefault: false,
        color: '#121212',
        state: false // 0-编辑，1--保存
      }, {
        riskAction: '收红包请求',
        setDefault: false,
        color: '#121212',
        state: false // 0-编辑，1--保存
      }, {
        riskAction: '发红包请求',
        setDefault: true,
        color: '#121212',
        state: false // 0-编辑，1--保存
      }],
      dialogVisible15: false,
      startTime: '00:00',
      endTime: '00:00',
      dialogVisible16: false,
      dialogVisible17: false,
      dialogVisible18: false,
      dialogVisible19: false,
      dialogVisible20: false,
      dialogVisible21: false,
      dialogVisible22: false,
      dialogVisible23: false,
      dialogVisible24: false,
      dialogVisible25: false,
      data2: [{
        id: 1,
        label: '全选',
        children: [{
          id: 2,
          label: '二级 1-1'
        },
        {
          id: 3,
          label: '二级 1-1'
        },
        {
          id: 4,
          label: '二级 1-1'
        },
        {
          id: 5,
          label: '二级 1-1'
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  methods: {
    messageTypeChange(val) {
      console.log(val)
      console.log(this.messageType)
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogImageVisible = true
    },
    previewImg(event) {
      let url = event.target.dataset.imgurl
      this.dialogImageUrl = url
      this.dialogImageVisible = true
    },
    audiotimeCount() {
      if (this.audioState) {
        // 开始录音
        this.audioState = false
        this.setTimecount()
      } else {
        // 结束录音
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    setTimecount() {
      if ((this.dialogVisible20 || this.dialogVisible15 || this.dialogVisible13) && !this.audioState && this.countTime > 0) {
        this.audioBindText = `再次点击结束(${this.countTime}s)`
        this.countTime -= 1
        setTimeout(() => {
          this.setTimecount()
        }, 1000)
      } else {
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    handleClick(tab, event) {
      console.log(tab, event)
    },
    handleEdit(index, row) {
      this.tableData[index].state = !row.state
      console.log(index, row)
    },
    handleSave(index, row) {
      this.tableData[index].state = !row.state
    },
    // 全选
    setCheckedKeys() {
      this.$refs.tree.setCheckedKeys([1])
    },
    // 全取消
    resetChecked() {
      this.$refs.tree.setChecked(1, false, true)
    },
    // 保存所选
    saveChecked() {
      console.log(this.$refs.tree.getCheckedKeys())
      console.log(this.$refs.tree.getCheckedNodes())
    }
  },
  created() {
    // console.log(13)
  }
}
</script>
<style>
.dialog-list {
  margin: 10px 0;
}
</style>
