<template>
  <div class="chat-history">
    <el-date-picker
      v-model="datetime"
      type="datetimerange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      :default-time="['00:00:00', '23:59:59']"
      class="datatime"
      prefix-icon="el-icon-date">
    </el-date-picker>
    <div class="search-bar rlt">
      <el-input placeholder="请输入昵称"></el-input>
      <el-button type="info" icon="el-icon-search" plain class="abs"></el-button>
    </div>
    <div class="history-list rlt">
      <ul class="chatcontent-record">
        <li>
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">11-23 12:12:12</p>
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
              </div>
              <div class="chatcontent-record-detail">
                <span class="chatcontent-record-triggle"></span>
                <div>聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容聊天内容</div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">11-23 12:12:12</p>
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
              </div>
              <div class="chatcontent-record-detail chatcontent-record-img">
                <span class="chatcontent-record-triggle"></span>
                <div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>
              </div>
            </div>
          </div>
        </li>
        <li class="chatconent-record-right">
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">11-23 12:12:12</p>
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
              </div>
              <div class="chatcontent-record-detail chatcontent-record-img-red-packets">
                <img :src="imgRedPackets">
              </div>
            </div>
          </div>
        </li>
        <li class="chatconent-record-right">
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">11-23 12:12:12</p>
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
              </div>
              <div class="chatcontent-record-detail chatcontent-record-video">
                <div class="video-preview">
                  <video src="http://www.runoob.com/try/demo_source/mov_bbb.mp4">您的浏览器不支持 video 标签
                  </video>
                  <div class="play-circle">
                    <div class="play"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="chatconent-record-right">
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">11-23 12:12:12</p>
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
              </div>
              <div class="chatcontent-record-detail chatcontent-record-audio">
                <div class="audio">
                  <div class="play"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="chatconent-record-right">
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">11-23 12:12:12</p>
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
              </div>
              <div class="chatcontent-record-detail chatcontent-record-img">
                <span class="chatcontent-record-triggle"></span>
                <div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="chatcontent-record-li">
            <p class="chatcontent-record-time">11-23 12:12:12</p>
            <div class="chatcontent-record-conent">
              <div class="chatcontent-record-userimg">
                <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
              </div>
              <div class="chatcontent-record-detail chatcontent-record-img">
                <span class="chatcontent-record-triggle"></span>
                <div><img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import imgRedPackets from '@/assets/images/chat/imgRedPackets@2x.png'
export default {
  data() {
    return {
      datetime: null,
      imgRedPackets
    }
  }
}
</script>
