<template>
  <div class="customer-info">
    <div class="info-header">
      <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="avator">
      <div class="main">
        <div class="nick-name ellipsis">微信昵称：嬷嬷茶</div>
        <div class="remark">
          <span class="content ellipsis">备注：mengme</span><span class="edit-btn">修改</span>
        </div>
        <div class="wechat-id">微信号：wxid_t0h7o51fzkgs22</div>
      </div>
    </div>
    <div class="info-item">
      <el-collapse v-model="activeName1">
        <el-collapse-item class="el-collapse-add-line" title="客户资料" name="1">
          <el-form ref="form" label-width="60px" size="mini">
            <el-form-item label="姓名：">
              <el-input placeholder="请输入客户姓名，2-20字以内"></el-input>
            </el-form-item>
            <el-form-item label="手机：">
              <el-input value="12258745454"></el-input>
            </el-form-item>
            <el-form-item label="性别：">
              <el-select class="ly-width-100" v-model="sex" placeholder="请选择">
                <el-option value="1" label="男"></el-option>
                <el-option value="2" label="女"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="地区：">
              <lazy-cascader v-model="address"
                             :getDataFnOrDataList="getDataFn"
                             :options="mergedOptions"
                             @active-item-change="onActiveItemChange"
                             ref="lazyCascader" />
              <!-- <el-col :span="7">
                <el-select v-model="province" placeholder="省">
                  <el-option value="1" label="1"></el-option>
                  <el-option value="2" label="2"></el-option>
                </el-select>
              </el-col>
              <el-col :span="7" :offset="1">
                <el-select v-model="city" placeholder="市">
                  <el-option value="1" label="3"></el-option>
                  <el-option value="2" label="4"></el-option>
                </el-select>
              </el-col>
              <el-col :span="7" :offset="1">
                <el-select v-model="area" placeholder="区">
                  <el-option value="1" label="5"></el-option>
                  <el-option value="2" label="6"></el-option>
                </el-select>
              </el-col> -->
            </el-form-item>
            <el-form-item label="其他：">
              <el-input type="textarea" v-model="other" resize="none" :rows="7" :maxlength="200" placeholder="请输入内容，200字以内"></el-input>
            </el-form-item>
          </el-form>
        </el-collapse-item>
      </el-collapse>
    </div>
    <div class="info-item">
      <el-collapse v-model="activeName2">
        <el-collapse-item class="el-collapse-add-line" title="标签管理" name="1">
          <div class="collapse-item friend-tags">
            <div class="collapse-item__header">好友标签<i class="el-icon-arrow-down"></i></div>
            <div class="collapse-item__content">
              <el-tag type="success" class="ellipsis">有意向</el-tag>
              <el-tag type="info" class="ellipsis">不可见</el-tag>
              <el-tag type="info" class="ellipsis">可见</el-tag>
              <el-tag type="info" class="ellipsis">好烦额也让换个房间我要和如同意报告的本个</el-tag>
              <el-tag type="success" class="ellipsis">+</el-tag>
            </div>
          </div>
          <div class="collapse-item friend-tags">
            <div class="collapse-item__header">所有标签 <i class="el-icon-arrow-down"></i></div>
            <div class="collapse-item__content">
              <el-tag type="info" class="ellipsis">有意向</el-tag>
              <el-tag type="info" class="ellipsis">不可见</el-tag>
              <el-tag type="info" class="ellipsis">可见</el-tag>
              <el-tag type="success" class="ellipsis">+</el-tag>
            </div>
            <div class="new-tag">
              <el-input :autofocus="true" @keyup.enter.native="saveNewTag"></el-input>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>

<script>
import lazyCascaderMixin from '@/components/packages/system/lazyCascader/components/mixin'

export default {
  mixins: [lazyCascaderMixin],
  data() {
    return {
      activeName1: '1',
      address: [],
      // province: null,
      // city: null,
      // area: null,
      sex: null,
      other: null,
      activeName2: '1',
      activeName3: ['1', '2']
    }
  },
  methods: {
    saveNewTag() { },
    // 返回级联下拉框第一级数据
    // 有包含children属性表示有下一级数据，否则不显示下一级选择按钮
    getDataFn() {
      return new Promise(resolve => {
        resolve(this.paramArr([
          {
            id: 1,
            name: '北京',
            children: [
              { id: 11, name: '朝阳区' }
            ]
          },
          {
            id: 2,
            name: '上海',
            children: [
              { id: 12, name: '浦东区' }
            ]
          }
        ]))
      })
    },
    // 每一个层级选中后都会触发该方法，对应的数据存储到children中
    // 如：选省市联动下拉框，在选择了xx省份后会触发该方法读取xx省份的下一级数据
    onActiveItemChange(data, list, resolve) {
      data.children = (data.children || []).map(v => this.convertData(v.id, v.name, v))
      resolve()
    },
    paramArr(paramData, setChildren = true) {
      return paramData.map(v => {
        let item = this.convertData(v.id, v.name, v)
        return item
      })
    }
  }
}
</script>
