<template>
  <div class="basic-lay">
    <div class="ly-border-bottom-1">
      <div class="ly-box-1 ly-font-color-3 basic-info">
        <p class="ly-font-20">企业名称：{{details.name || ''}}</p>
        <p class="ly-font-16">编号：{{details.id || ''}}</p>
        <p class="ly-font-16">账号：{{details.account || ''}}</p>
        <p class="ly-font-16">企业状态：{{details.status===1?'正常':'禁用'}}</p>
        <p class="ly-font-16">上级：{{details.account || ''}}</p>
        <ul class="basic-methods ly-clearfix">
          <li class="basic-item"
              v-if="details.equmentInfo">
            <p>授权设备数：{{toFixedW(details.equmentInfo.equInit)}}</p>
            <p>出售设备数：{{toFixedW(details.equmentInfo.equSum)}}</p>
            <p>实际入网数：{{toFixedW(details.equmentInfo.equNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.shopInfo">
            <p>授权店铺数：{{toFixedW(details.shopInfo.shopInit)}}</p>
            <p>出售店铺数：{{toFixedW(details.shopInfo.shopSum)}}</p>
            <p>实际店铺数：{{toFixedW(details.shopInfo.shopNum)}}</p>
          </li>
          <li class="basic-item"
              v-if="details.accountInfo">
            <p>授权个人号：{{toFixedW(details.accountInfo.accountIni)}}</p>
            <p>出售个人号：{{toFixedW(details.accountInfo.accountSum)}}</p>
            <p>实际个人号：{{toFixedW(details.accountInfo.accountuNum)}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="basic-contact" style="margin-left:0;">
      <p>联系电话：<span class="val">{{details.phone || ''}}</span></p>
      <p>菜单权限：<span class="val">{{details.phone || ''}}</span></p>
      <p>地址：<span class="val">{{details.address || ''}}</span></p>
      <p>创建时间：<span class="val">{{fmt.date(details.createTime)}}</span></p>
      <p>到期时间：<span class="val">{{fmt.date(details.createTime)}}</span></p>
      <p>创建人：<span class="val">{{details.createStaffName || ''}}</span></p>
      <p>备注：<span class="val">{{details.remark || ''}}</span></p>
    </div>
  </div>
</template>

<script>
import { toFixedW } from '@/utils'

export default {
  props: ['id'],
  data() {
    return {
      details: {},
      toFixedW
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      // businessApi.enterDetails(this.id).then(res => {
      this.details = {
        account: '111111',
        accountInfo: {
          accountInit: 2,
          accountSum: 0,
          accountuNum: 3
        },
        address: '2',
        createStaffName: 'vma代理商',
        createTime: 1544841716000,
        equmentInfo: {
          equInit: 2,
          equNum: 15,
          equSum: 113
        },
        expirationTime: 1578747602000,
        id: 2,
        logo: null,
        menus: null,
        name: '企业',
        phone: '18100000000',
        remark: '232',
        shopInfo: {
          shopInit: null,
          shopNum: 2,
          shopSum: 36
        },
        status: 1
      }
      // })
    }
  }
}
</script>
