<template>
  <div>
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <p class="ly-font-16 ly-margin-bottom-sm">仅可开启一个支付账户进行支付，请确保使用的账户中余额大于0。红包、活动支出等将均从账户余额中扣除相应金额。</p>
      <div class="ly-box ly-border-bottom-1">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">微控账号</span>
        </div>
      </div>
      <div class="ly-box ly-margin-top-4">
        <table class="ly-width-100">
          <tr>
            <td class="ly-font-16 ly-font-color-4">账户余额</td>
            <td class="ly-font-24 ly-font-color-5">{{accountPrice.leftMoney | numberToFixed}}元</td>
            <td><el-button type="primary" size="medium" @click="turnToRecharge">充值</el-button></td>
            <td>
              <el-switch :value="showStatut(accountPrice)"
                         active-color="#4CD964"
                         class="ly-padding-horizontal-sm"
                         @change="changeSwitch($event, 0)">
              </el-switch>
              <span class="ly-margin-left-r10px ly-font-color-8c ly-font-12"></span>
            </td>
            <td class="ly-font-16 ly-font-color-4">
              <div class="ly-padding-top-20px ly-padding-bottom-25px ly-font-14 ly-font-color-2 ly-line-height-20px">
                1、无需开通公众号支付，光速开通使用；<br/>
                2、红包金额安心托管，活动无忧；<br/>
                3、采用第三方平台进行充值，会产生<span>{{redPagePercent}}</span>%的手续费用。
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box ly-border-bottom-1">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">公众号支付账户</span>
        </div>
      </div>
      <div class="ly-margin-vertical-sm"><el-button type="primary" size="medium" @click="showAddWechatDialog(1)">添加公众号</el-button></div>
      <div class="ly-padding-bottom-sm ly-font-14 ly-font-color-4">
        1、免除手续费用；2、需保证绑定的公众账号已注册超过90天；3、需保证绑定的公众账号已开通微信支付，并且有连续30天流水；4、需在<a href="https://pay.weixin.qq.com/index.php/core/home/login?return_url=%2F" target="_blank"><span class="ly-font-color-5">微信支付平台</span></a>进行充值，无法在微码微控进行余额查看和管理；
      </div>
      <div>
        <!-- 表格 -->
        <el-table ref="multipleTable"
                  :data="tableData.records"
                  tooltip-effect="dark"
                  style="width: 100%">
          <el-table-column label="公众号" min-width="130">
            <template slot-scope="scope">
              <div>{{scope.row.mpAccount || '--'}}</div>
            </template>
          </el-table-column>
          <el-table-column label="支付商户名">
            <template slot-scope="scope">
              <div>{{scope.row.payAccount || '--'}}</div>
            </template>
          </el-table-column>
          <el-table-column label="添加时间">
            <template slot-scope="scope">
              <div>{{scope.row.createTime | date('yyyy/MM/dd')}}</div>
            </template>
          </el-table-column>
          <el-table-column label="">
            <template slot-scope="scope">
              <el-switch :value="showStatut(scope.row)"
                         active-color="#4CD964"
                         class="ly-padding-horizontal-sm"
                         @change="changeSwitch($event, scope.row.id)">
              </el-switch>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" @click="showAddAccountDialog(1, scope.row)" :disabled="showStatut(scope.row)?true:false">配置支付账户</el-button>
              <el-button type="text" @click="showAddWechatDialog(2, scope.$index, scope.row)" :disabled="showStatut(scope.row)?true:false">编辑公众号</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
          <vma-pagination class="ly-text-right ly-box-1"
                          :pageNum="params.current"
                          :page-size="params.size"
                          :total="tableData.total"
                          @change="getTableListA" />
        </div>
      </div>
    </div>
    <!--添加公众号弹窗-->
    <el-dialog :title="addWechatDialog.titleType === 1 ? '添加公众号' : '编辑公众号'" :visible.sync="addWechatDialog.show" width="489px" v-if="addWechatDialog.show" @close="closeAddWechatDialog" append-to-body>
      <dialogAddWechat :dialogProp="addWechatDialog" @closeDialog="closeAddWechatDialog" @refreshTableList="refreshTableList"></dialogAddWechat>
    </el-dialog>
    <!--配置支付账户弹窗--步骤1~6-->
    <el-dialog title="配置支付账户" v-if="stepShow" :visible.sync="stepShow" width="880px" @close="closeAddAccountDialog" append-to-body>
      <addAccountStepA v-if="addAccoutDialog.step === 1" :dialogProp="addAccoutDialog" @closeDialog="closeAddAccountDialog" @nextStep="nextStep"></addAccountStepA>
      <addAccountStepB v-if="addAccoutDialog.step === 2" :dialogProp="addAccoutDialog" @closeDialog="closeAddAccountDialog" @nextStep="nextStep"></addAccountStepB>
      <addAccountStepC v-if="addAccoutDialog.step === 3" :dialogProp="addAccoutDialog" @closeDialog="closeAddAccountDialog" @nextStep="nextStep"></addAccountStepC>
      <addAccountStepD v-if="addAccoutDialog.step === 4" :dialogProp="addAccoutDialog" @closeDialog="closeAddAccountDialog" @nextStep="nextStep"></addAccountStepD>
      <addAccountStepE v-if="addAccoutDialog.step === 5" :dialogProp="addAccoutDialog" @closeDialog="closeAddAccountDialog" @nextStep="nextStep"></addAccountStepE>
      <addAccountStepF v-if="addAccoutDialog.step === 6" :dialogProp="addAccoutDialog" @closeDialog="closeAddAccountDialog" @nextStep="nextStep" @setSuccess="setSuccess" @resetAgain="resetAgain"></addAccountStepF>
    </el-dialog>
  </div>
</template>
<script>
import { tableMixin } from '@/mixins'
import dialogAddWechat from './dialogAddWechat'
import addAccountStepA from './addAccountStepA'
import addAccountStepB from './addAccountStepB'
import addAccountStepC from './addAccountStepC'
import addAccountStepD from './addAccountStepD'
import addAccountStepE from './addAccountStepE'
import addAccountStepF from './addAccountStepF'
import * as systemTypes from '@/router/system/types'
import { walletApi } from '@/api/system'
export default {
  mixins: [tableMixin],
  components: {
    dialogAddWechat,
    addAccountStepA,
    addAccountStepB,
    addAccountStepC,
    addAccountStepD,
    addAccountStepE,
    addAccountStepF
  },
  data() {
    return {
      params: {
      },
      redPagePercent: '',
      tableData: {},
      accountPrice: {},
      switchBool: false,
      addWechatDialog: {},
      addAccountInfo: {
        appId: '',
        appSecret: '',
        certificateEndTime: '',
        certificateStartTime: '',
        domainFile: '',
        fileName: '',
        macId: '',
        mchKey: ''
      },
      addAccoutDialog: {},
      infoObj: {
        url: '234324'
      }
    }
  },
  computed: {
    stepShow() {
      let show = false
      if (this.addAccoutDialog.step >= 1 && this.addAccoutDialog.step <= 6) {
        show = true
      }
      return show
    }
  },
  created() {
    this.getredPage()
    this.getAccountPrice()
  },
  methods: {
    async requestTableList() {},
    async getredPage() {
      await walletApi.getredPage().then((data) => {
        this.redPagePercent = data
      })
    },
    /**
     * 获取微码微控账户余额
     */
    async getAccountPrice() {
      await walletApi.getAccountPrice().then((data) => {
        this.accountPrice = data
        this.accountPrice.id = 0
        let trueVal = true
        this.accountPrice.check = data.payId === 0 ? trueVal : false
        this.getTableListA()
      })
    },
    /**
     * 获取公众号列表
     */
    async getTableListA(pageNum, pageSize, type) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      await walletApi.getAccountList(this.params).then((data) => {
        this.tableData = data
        if (this.tableData.total > 0 && this.tableData.current > 1 && this.tableData.records.length === 0) {
          this.getTableListA(1)
        }
      })
    },
    showStatut(data) {
      if (data.id === this.accountPrice.payId) {
        return true
      } else {
        return false
      }
    },
    // 开关切换
    changeSwitch(event, id) {
      if (event) {
        this.changeCheckAccout(id)
      } else {
        this.$notify({
          title: '提示',
          message: '必须保持一个账户开启',
          type: 'warning'
        })
      }
    },
    async changeCheckAccout(id) {
      let params = {
        payId: id
      }
      await walletApi.changePayMethod(params).then((res) => {
        this.accountPrice.payId = id
      })
    },
    /**
     * 添加公众号--弹窗--显示
     */
    showAddWechatDialog(type, index, data) {
      this.addWechatDialog = {
        titleType: type, // 1--添加，2--编辑
        show: true,
        data: data
      }
    },
    /**
     * 添加公众号--弹窗--隐藏
     */
    closeAddWechatDialog() {
      this.addWechatDialog = {}
    },
    /**
     * 添加公众号--编辑或新增
     */
    refreshTableList(type) {
      if (type === 1) {
        this.getTableListA(1)
      } else {
        this.getTableListA()
      }
    },
    /**
     * 去充值
     */
    turnToRecharge() {
      this.$router.push({ name: systemTypes.PACKETS_RECHARGE })
    },
    /**
     * 配置支付账户--弹窗--隐藏
     */
    closeAddAccountDialog() {
      this.addAccoutDialog = {}
      this.addAccountInfo = this.emptyParams(this.addAccountInfo)
    },
    emptyParams(obj) {
      for (let item in obj) {
        obj[item] = ''
      }
      return obj
    },
    /**
     * 配置支付账户--弹窗--显示
     */
    showAddAccountDialog(step, data) {
      this.addAccoutDialog = {
        step: step,
        data: this.addAccountInfo
      }
      if (data) {
        this.addAccoutDialog.data.id = data.id
        this.addAccoutDialog.info = data
      }
    },
    /**
     * 配置--下一步
     */
    nextStep(data) {
      this.addAccoutDialog = data
    },
    /**
     * 配置失败--重置
     */
    resetAgain() {
      let info = this.addAccoutDialog.info
      this.addAccountInfo = this.emptyParams(this.addAccountInfo)
      this.showAddAccountDialog(1, info)
    },
    /**
     * 配置成功--完成
     */
    setSuccess() {
      this.closeAddAccountDialog()
      this.refreshPage()
    },
    refreshPage() {
      this.getAccountPrice()
      this.getTableListA(1)
    }
  }
}
</script>
