<template>
  <div>
    <!--步骤-->
    <stepList :data="dialogProp"></stepList>
    <div class="ly-margin-top-20px ly-font-16 ly-font-color-4">①在微信公众号平台，点击左侧导航中的【设置】-【公众号设置】，再点击【功能设置】页签，如下图</div>
    <div class="ly-margin-top-20px">
      <img class="ly-width-max-100p" src="@/assets/images/system/wallet/icon-setpayaccount-step2-1.png"  v-image-view />
    </div>
    <div class="ly-margin-top-30px ly-font-16 ly-font-color-4">②请点击“网页授权域名”右侧的【设置】按钮，显示弹窗如下图。</div>
    <div class="ly-margin-top-20px">
      <img class="ly-width-max-100p" src="@/assets/images/system/wallet/icon-setpayaccount-step2-2.png"  v-image-view />
    </div>
    <el-form class="ly-margin-top-20px" :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <div class="ly-box">
        <div class="ly-box-1">
          <el-form-item class="ly-addcount-style ly-margin-left-r11px" label="③无需下载文件，将文件的名称复制粘贴在此处:" :label-width="formLabelWidth" prop="domainFile">
            <el-input class="ly-width-200px"
                      placeholder="文件名"
                      autocomplete="off"
                      size="medium"
                      v-model.trim="params.domainFile"
                      :maxlength="1000"
                      clearable></el-input>
            <el-button type="primary" @click="checkFileName" size="medium">{{domainFile?'重新上传':'上传'}}</el-button>
            <div class="ly-width-400px ly-ellipsis ly-margin-left-r102px" v-if="domainFile"><span class="ly-font-color-95">已上传文件名:</span><span class="ly-padding-left-10px ly-font-color-3" :title="domainFile">{{domainFile}}</span></div>
          </el-form-item>
        </div>
      </div>
      <div class="ly-font-16 ly-font-color-4">④将域名<span>{{dialogProp.info.domain}}</span>填写在域名输入框中。并保存。</div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" type="primary" @click="nextOrPrevStep(-1)">上一步</el-button>
          <el-button size="medium" @click="closeDialog">取 消</el-button>
          <el-button size="medium" type="primary" @click="turnToNextStep(1)">下一步</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>

import { walletApi } from '@/api/system'
import stepList from './stepList'
import { walletSetPayAccountStep } from '@/mixins'
export default {
  mixins: [walletSetPayAccountStep],
  components: {
    stepList
  },
  data() {
    let that = this
    const fileCheckValidator = (rule, value, callback, source, options) => {
      let errors = []
      let domainFile = that.domainFile
      if (!(domainFile || value)) {
        errors.push('请输入文件名')
      }
      callback(errors)
    }
    return {
      params: {
        domainFile: ''
      },
      domainFile: '',
      formLabelWidth: '365px',
      rules: {
        domainFile: [
          { required: true, validator: fileCheckValidator }
        ]
      },
      fileNameObj: {}
    }
  },
  created() {
    this.params.domainFile = this.dialogProp.data.domainFile
    let domainFile = this.dialogProp.data.domainFile
    this.domainFile = domainFile
    this.fileNameObj.domainFile = domainFile
  },
  methods: {
    checkFileName() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.updateFileName()
        } else {
          return false
        }
      })
    },
    async updateFileName() {
      let params = {
        id: this.dialogProp.data.id,
        fileName: this.params.domainFile
      }
      await walletApi.checkFileName(params).then((res) => {
        this.fileNameObj = {
          domainFile: this.params.domainFile
        }
        this.domainFile = this.params.domainFile
      })
    },
    turnToNextStep(step) {
      if (this.fileNameObj.domainFile) {
        this.params.domainFile = this.fileNameObj.domainFile || ''
        this.nextOrPrevStep(step)
      } else {
        this.$refs.ruleForm.validate((valid) => {
          if (valid) {
            this.$notify({
              title: '提示',
              message: '请先上传文件名',
              type: 'warning'
            })
          } else {
            return false
          }
        })
      }
    }
  }
}
</script>
