<template>
  <div>
    <!--步骤-->
    <stepList :data="dialogProp"></stepList>
    <div class="ly-margin-top-20px ly-font-16 ly-font-color-2 ly-line-height-28px">使用微信公众号作为支付账户的配置流程会比较复杂，且需满足以下条件：</div>
    <div class="colortip ly-line-height-20px">1、公众号绑定的商户已开通微信支付；</div>
    <div class="colortip ly-line-height-20px">2、公众号绑定的商户已开通企业付款到零钱功能；</div>
    <div class="colortip ly-line-height-20px">3、公众号绑定的商户有连续30天交易流水；</div>
    <div class="colortip ly-line-height-20px">4、公众号绑定的商户的余额大于0。</div>
    <div class="ly-font-14 ly-font-color-2">如有疑问请联系微码客服</div>
    <div class="ly-margin-top-20px">①请登录<a href="https://mp.weixin.qq.com/?token=&lang=zh_CN" target="_blank"><span class="ly-font-color-5">微信公众平台</span></a>，点击左侧导航中的【开发】-【基本配置】，如下图。</div>
    <div class="ly-margin-top-20px">
      <img class="ly-width-max-100p" src="@/assets/images/system/wallet/icon-setpayaccount-step1.png" v-image-view />
    </div>
    <div class="ly-margin-top-30px">②将页面中的信息填写到此处，如果您忘记了开发者密码，可重置后再填写。</div>
    <el-form class="ly-margin-top-20px" :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <div class="ly-box">
        <div class="ly-box-1">
          <el-form-item label="开发者ID{AppID):" :label-width="formLabelWidth" prop="appId">
            <el-input class="ly-width-200px"
                      placeholder=""
                      autocomplete="off"
                      size="medium"
                      :maxlength="100"
                      v-model.trim="params.appId"
                      clearable></el-input>
          </el-form-item>
        </div>
        <div class="ly-box-1">
          <el-form-item label="开发者密码(AppSecret):" :label-width="formLabelWidth1" prop="appSecret">
            <el-input class="ly-width-200px"
                      placeholder=""
                      autocomplete="off"
                      size="medium"
                      :maxlength="100"
                      v-model.trim="params.appSecret"
                      clearable></el-input>
          </el-form-item>
        </div>
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="closeDialog">取 消</el-button>
          <el-button size="medium" type="primary" @click="nextOrPrevStep(1)">下一步</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// import { personalNumManageApi } from '@/api/system'
import stepList from './stepList'
import { walletSetPayAccountStep } from '@/mixins'
export default {
  mixins: [walletSetPayAccountStep],
  components: {
    stepList
  },
  data() {
    return {
      params: {
        appId: '',
        appSecret: ''
      },
      formLabelWidth: '136px',
      formLabelWidth1: '180px',
      rules: {
        appId: [
          { required: true, message: '请输入开发者ID' }
        ],
        appSecret: [
          { required: true, message: '请输入开发者密码' }
        ]
      }
    }
  },
  created() {
    this.params.appId = this.dialogProp.data.appId
    this.params.appSecret = this.dialogProp.data.appSecret
  },
  methods: {
  }
}
</script>
