<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item>
        <p class="colortip" style="text-indent: 52px;">添加完成后请继续配置支付账户</p>
      </el-form-item>
      <el-form-item label="公众号名称:" prop="mpAccount" :label-width="formLabelWidth">
        <el-input class="ly-width-240px"
                  placeholder="20字内"
                  autocomplete="off"
                  :maxlength="20"
                  v-model.trim="params.mpAccount"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="支付商户名:" prop="payAccount" :label-width="formLabelWidth">
        <el-input class="ly-width-240px"
                  placeholder="20字内"
                  autocomplete="off"
                  :maxlength="20"
                  v-model.trim="params.payAccount"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="域名类型:" prop="domainType" :label-width="formLabelWidth">
        <el-select v-model="params.domainType"
                   placeholder="请选择域名类型"
                   clearable
                   :disabled="this.dialogProp.titleType === 2 ? true : false"
                   class="ly-margin-right-sm ly-width-240px">
          <el-option label="使用微码微控域名"
                     :value="1">
          </el-option>
          <el-option label="自定义域名"
                     :value="2">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="域名:"
                    prop="domain"
                    :label-width="formLabelWidth"
                    v-if="params.domainType === 2">
        <el-input class="ly-width-240px"
                  placeholder="请输入域名"
                  autocomplete="off"
                  :maxlength="100"
                  v-model.trim="params.domain"
                  clearable></el-input>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="confirmAdd">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { walletApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      params: {
        mpAccount: '',
        payAccount: '',
        domainType: '',
        domain: ''
      },
      formLabelWidth: '136px',
      rules: {
        mpAccount: [
          { required: true, message: '请输入公众号名称' },
          { min: 1, max: 20, message: '20字内' }
        ],
        payAccount: [
          { required: true, message: '请输入支付商户名' },
          { min: 1, max: 20, message: '20字内' }
        ],
        domainType: [
          { required: true, message: '请选择域名类型' }
        ],
        domain: [
          { required: true, message: '请输入域名' }
        ]
      }
    }
  },
  created() {
    if (this.dialogProp.titleType === 2) {
      this.params.mpAccount = this.dialogProp.data.mpAccount
      this.params.payAccount = this.dialogProp.data.payAccount
      this.params.domainType = this.dialogProp.data.domainType
      this.params.domain = this.dialogProp.data.domain
    }
  },
  methods: {
    confirmAdd() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.addOrEditWechat()
        } else {
          return false
        }
      })
    },
    async addOrEditWechat() {
      let params = {
        mpAccount: this.params.mpAccount,
        payAccount: this.params.payAccount,
        domainType: this.params.domainType
      }
      if (this.dialogProp.titleType === 1) {
        if (this.params.domainType === 2) {
          params.domain = this.params.domain
        }
        await walletApi.addWechatAccount(params)
        this.showAddOrEditModal('添加成功', this.dialogProp.titleType)
      } else {
        params.id = this.dialogProp.data.id
        await walletApi.editWechatAccount(params)
        this.showAddOrEditModal('修改成功', this.dialogProp.titleType)
      }
    },
    showAddOrEditModal(message, type) {
      this.success(message)
      this.closeDialog()
      this.$emit('refreshTableList', type)
    },
    closeDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
