.el-button-group {
  .el-button {
    width: 140px;
    text-align: center;
    padding: 10px 0;
  }
}

.el-button--small {
  padding: 7px 15px;
  font-size: 14px;
}

.el-button--mini {
  padding: 5px 11px;
}

.el-button--text {
  padding: 0;

  &.ly-font-color-7:active,
  &.ly-font-color-7:focus,
  &.ly-font-color-7:hover {
    color: #ff786e;
    background-color: transparent;
  }
}

.labelBtns {
  .el-button--success {
    color: #67c23a;
    background: #f0f9eb;
    border-color: #c2e7b0;
  }

  .el-button--success:focus,
  .el-button--success:hover {
    @extend .el-button--success;
  }
}

.el-input-number--mini {
  width: 100px;
}

.tip-green {
  border: 1px solid #BEE9DA;
  // color: #BEE9DA;
  color: #45C297;
  @extend .labelBtns;

  &[x-placement^=top] .popper__arrow {
    border-top-color: #BEE9DA !important;
  }
}
.tip-blue {
  border: 1px solid #1493E9;
  // color: #BEE9DA;
  color: #1493E9;
  @extend .labelBtns;

  &[x-placement^=top] .popper__arrow {
    border-top-color: #1493E9 !important;
  }
}
.ly-collapse {
  button.el-button--default{
    padding: 8px 15px !important;
  }
  button.el-button--primary{
    padding: 8px 15px !important;
    margin-bottom: rem(20px);
  }
  &.el-collapse {
    border-top: none;
    border-bottom: none;
  }

  .el-input--suffix {
    width: 214px;

    &.el-input-group--prepend {
      width: 260px;
    }
  }

  .el-select {
    .el-input--suffix {
      width: 100%;
    }
  }

  .el-collapse-item__wrap {
    border-bottom: none;
    padding-top: rem(20px);
  }

  .el-collapse-item__header.is-active {
    border-bottom-color: #ebeef5;
  }

  .el-icon-arrow-right {
    display: none;
  }

  .el-collapse-item__content {
    padding-bottom: 0;
  }

  .el-input__inner {
    height: 32px;
    line-height: 32px;
    // padding: 0 10px;
  }
  .el-input{
    &:not(.el-date-editor){
      .el-input__inner {
        padding: 0 10px;
      }
    }
  }

  .el-input__icon {
    line-height: 32px;
  }

  .el-icon-date {
    line-height: 20px;
  }

  .el-date-editor--daterange {
    height: 32px;
    line-height: 32px;
  }

  .el-range-separator {
    // line-height: 26px;
    height: 32px;
    line-height: 32px;
  }

  .el-input-group__prepend {
    padding: 0 6px;
    font-size: 12px;
  }
}

.el-button-group-tabs {
  .el-button {
    width: rem(100px);
    line-height: rem(10px);
  }
}

.dialog-footer {
  padding: 50px 20px 0;
  text-align: right;
  box-sizing: border-box;
}

.ly-but-lay .el-button {
  margin-bottom: 10px;
}
