.at-pagination {

  .number,
  .btn-prev,
  .btn-next {
    border-radius: rem(4px);
    border: 1px solid #D1D7E3;
  }

  .number {
    margin-right: rem(5px);
    margin-left: rem(5px);
  }

  .btn-prev,
  .btn-next {
    padding-right: 0;
    padding-left: 0;
  }

  .el-pager li {
    line-height: 26px;
    transition: background, border-color, color .2s linear;

    &.active {
      border-color: $theme-primary;
      background: $theme-primary;
      color: #fff;

      &+li {
        border-left: 1px solid #D1D7E3;
      }
    }
  }

}
