.chat-select {
  width: rem(290px);
  margin-bottom: 0 !important;
  margin-right: 0 !important;

  .el-input__inner {
    height: rem(32px);
    line-height: rem(32px);
    color: #858585;
    font-size: rem(14px);
    font-weight: 400;
  }

  .el-input__icon {
    height: rem(32px);
    line-height: rem(32px);
  }
}

.ly-font-16 {

  .el-checkbox__label,
  .el-tag {
    font-size: 16px;
  }

  .el-tag {
    height: 36px;
    line-height: 34px;
  }
}
