<template>
  <div>
    <div class="add-store">
      <div class="ly-box">
        <span class="ly-font-color-4 ly-font-16 ly-margin-right-xs">套餐信息：</span>
        <div class="ly-font-14 ly-font-color-10">
          <p>店铺数：{{addShopInfo.totalShopNum}}</p>
          <p class="ly-margin-top-xs">还可绑定：{{addShopInfo.residueNum}}</p>
          <p class="ly-margin-top-xs">最晚过期：{{fmt.date(addShopInfo.expirationTime)}}</p>
        </div>
      </div>
      <div class="ly-margintop-25px">
        <el-form :model="params"
                 :rules="rules"
                 @submit.native.prevent
                 ref="params"
                 label-width="100px">
          <el-form-item label="平台类型："
                        prop="type">
            <el-select v-model="params.type"
                       placeholder="请选择平台类型"
                       :disabled="params.id">
              <el-option v-for="item in platformType"
                         :key="item.value"
                         :label="item.label"
                         :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="店铺名称："
                        prop="shopName">
            <el-input v-model.trim="params.shopName"
                      size="medium"
                      class="ly-width-220px"
                      :maxlength="100"
                      placeholder="输入店铺名称"></el-input>
          </el-form-item>
          <p class="ly-font-12 ly-margin-top-xs ly-font-color-2">
            <i class="icon star"></i>
            如果是淘宝平台店铺，请填写与淘宝店铺相同的名称，否则授权将不会成功</p>
        </el-form>
      </div>
    </div>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('params')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { ecommercePlatformApi } from '@/api/system'
import { shopCategory } from '@/components/packages/system/lazySelect'
import { PLATFORM_TYPE } from '@/constants/selects'
export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  components: {
    shopCategory
  },
  data() {
    return {
      platformType: PLATFORM_TYPE,
      params: {
        type: this.dataInfo.data.storeInfo.type,
        shopName: this.dataInfo.data.storeInfo.shopName,
        id: this.dataInfo.data.storeInfo.id
      },
      addShopInfo: {},
      rules: {
        type: [
          { required: true, message: '请选择平台类型' }
        ],
        shopName: [
          { required: true, message: '店铺名称不能为空' },
          { min: 1, max: 100, message: '长度在 1 到 100 个字符' }
        ]
      }
    }
  },
  methods: {
    // 表单验证
    validateForm(formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            resolve()
          } else {
            this.warn('请输入正确表单信息')
            reject(new Error('请输入正确表单信息'))
          }
        })
      })
    },
    sureCallback(formName) {
      this.validateForm(formName).then(() => {
        if (this.params.id) {
          this.editorStore()
        } else {
          if (!this.addShopInfo.residueNum) {
            this.success('可绑定店铺数量不足，请联系运营商！')
            return
          }
          this.addStore()
        }
      }, () => { })
    },
    /**
     * 新增店铺
     */
    addStore() {
      delete this.params.id
      ecommercePlatformApi.addStore(this.params).then(() => {
        this.success('新增店铺成功！')
        this.$emit('getTableList')
        this.dataInfo.open = false
      })
    },
    /**
     * 获取新增店铺信息
     */
    getAddShopInfo() {
      ecommercePlatformApi.getAddShopInfo().then(res => {
        this.addShopInfo = res
      })
    },
    /**
     * 编辑店铺
     */
    editorStore() {
      ecommercePlatformApi.updateStore(this.params).then(() => {
        this.success('编辑店铺成功！')
        this.$emit('getTableList')
        this.dataInfo.open = false
      })
    }
  },
  created() {
    this.getAddShopInfo()
  }
}
</script>
