<template>
  <div>
    <div class="add-store">
      <p class="ly-font-color-7 ly-text-center"><i class="icon star"></i>确定后请联系服务商进行授权</p>
      <div class="ly-margintop-25px">
        <el-form :model="params"
                 :rules="rules"
                 ref="params"
                 label-width="100px">
          <el-form-item label="AccessKey："
                        prop="appkey">
            <el-input v-model.trim="params.appkey"
                      size="medium"
                      class="ly-width-220px"
                      placeholder="请输入AccessKey"></el-input>
          </el-form-item>
          <el-form-item label="SecretKey："
                        prop="appsecret">
            <el-input v-model.trim="params.appsecret"
                      size="medium"
                      class="ly-width-220px"
                      placeholder="请输入SecretKey"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div slot="footer"
         class="dialog-footer">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('params')">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { ecommercePlatformApi } from '@/api/system'
export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      params: {
        appkey: '',
        appsecret: '',
        id: this.dataInfo.data.storeInfo.id
      },
      rules: {
        appkey: [
          { required: true, message: 'AccessKey不能为空' }
        ],
        appsecret: [
          { required: true, message: 'appsecret不能为空' }
        ]
      }
    }
  },
  methods: {
    // 表单验证
    validateForm(formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            resolve()
          } else {
            this.warn('请输入正确表单信息')
            reject(new Error('请输入正确表单信息'))
          }
        })
      })
    },
    sureCallback(formName) {
      this.validateForm(formName).then(() => {
        ecommercePlatformApi.storeAuth(this.params).then(() => {
          this.success('授权成功')
          this.$emit('getTableList')
          this.dataInfo.open = false
        })
      }, () => { })
    }
  }
}
</script>
