<template>
  <div>
    <el-dialog title="申请详情"
               :visible.sync="computedValue"
               width="880px"
               append-to-body>
      <div class="ly-width-780px ly-margin-center">
        <ul class="ly-box line-height-26">
          <li class="ly-box-1">
            <div class="ly-width-90px ly-inline-block ly-text-right">申请时间：</div>
            <div class="ly-inline-block">{{detailData.createTime | date}}</div>
          </li>
          <li class="ly-box-1">
            <div class="ly-width-90px ly-float-left ly-text-right">微信昵称：</div>
            <div class="ly-inline-block">
              <img class="ly-wh-30px  ly-float-left"
                   :src="detailData.wxProfile | wechatAvtor"
                   v-image-view />
              <span class="ly-margin-left-10px ly-float-left">{{detailData.nickname}}</span></div>
          </li>
          <li class="ly-box-1">
            <div class="ly-width-90px ly-inline-block ly-text-right">审核状态：</div>
            <!-- 状态1待审核2已通过3已拒绝 -->
            <div v-if="detailData.auditStatus==1"
                 class="ly-inline-block">待审核</div>
            <div v-else-if="detailData.auditStatus==2"
                 class="ly-inline-block">已通过</div>
            <div v-else
                 class="ly-inline-block">已拒绝</div>
          </li>
        </ul>
        <hr>
        <ul class="ly-padding-vertical-sm line-height-26">
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">订单号：</div>
            <div class="ly-inline-block">{{detailData.orderNo}}
              <!-- <el-button class="ly-margin-left-10px"
                         type="text">订单详情</el-button> -->
            </div>
          </li>
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">下单时间：</div>
            <div class="ly-inline-block">{{detailData.orderTime | date}}</div>
          </li>
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">订单金额：</div>
            <div class="ly-inline-block ly-font-color-7">¥{{detailData.buyersPay}}</div>
          </li>
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">手机号：</div>
            <div class="ly-inline-block">{{detailData.phone}}</div>
          </li>
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">评价状态：</div>
            <div v-if="detailData.sellerRateStatus==0"
                 class="ly-inline-block">未评价</div>
            <div v-if="detailData.sellerRateStatus==1"
                 class="ly-inline-block">好评</div>
            <div v-if="detailData.sellerRateStatus==2"
                 class="ly-inline-block">中评</div>
            <div v-if="detailData.sellerRateStatus==3"
                 class="ly-inline-block">差评</div>
          </li>
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">购物账号：</div>
            <div class="ly-inline-block">{{detailData.buyersAccount}}</div>
          </li>
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">下单店铺：</div>
            <div class="ly-inline-block">
              {{detailData.shopName}}
              <!-- 店铺类型 1淘宝2天猫 -->
              <el-button v-if='detailData.shopType==1'
                         class="ly-margin-left-10px"
                         type="success"
                         plain
                         size="small">淘宝</el-button>
              <el-button v-if='detailData.shopType==2'
                         class="ly-margin-left-10px"
                         type="success"
                         plain
                         size="small">京东</el-button>
              <el-button v-if='detailData.shopType==3'
                         class="ly-margin-left-10px"
                         type="success"
                         plain
                         size="small">拼多多</el-button>
            </div>
          </li>
        </ul>
        <hr>
        <ul class="ly-padding-vertical-sm line-height-26">
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right">红包金额：</div>
            <div class="ly-inline-block">¥{{detailData.redpageMoney}}</div>
          </li>
          <li>
            <div class="ly-width-90px ly-inline-block ly-text-right ly-vertical-top">系统提示：</div>
            <div class="ly-inline-block">
              <ul>
                <!-- <li>{{detailData.sysReason}} </li> -->
                <li v-for="(item,index) in detailData.sysReason"
                    :key="index">
                  {{item}}
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <hr>
      </div>
      <div slot="footer"
           class="dialog-footer">
        <el-button @click="refuseApply">拒 绝</el-button>
        <el-button type="primary"
                   @click="successApply">通 过</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    currId: [String, Number]
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      // auditStatus  2通过3拒绝
      auditParams: {
        id: ''
      },
      detailData: {}
    }
  },
  watch: {
    currId(val) {
      this.auditParams.id = val
    },
    computedValue(val) {
      if (val) {
        this.activityPicRecordDetail()
      }
    }
  },
  methods: {
    // 拒绝申请
    refuseApply() {
      this.$emit('on-refuse')
    },
    // 通过申请
    async successApply() {
      await this.auditRecord(2)
      this.computedValue = false
      this.$emit('on-pass')
    },
    // 审核记录
    async auditRecord(status) {
      this.auditParams.auditStatus = status
      await marketPlatformApi.auditRecord(this.auditParams)
    },
    // 审核（申请详情）
    async activityPicRecordDetail() {
      const data = await marketPlatformApi.activityPicRecordDetail(this.currId)
      if (data.sysReason) {
        data.sysReason = data.sysReason.split('|')
        data.sysReason.forEach((item, index) => {
          data.sysReason[index] = (index + 1) + '.' + item
        })
      }
      this.detailData = data
    }
  }
}
</script>
<style scoped>
</style>
