<template>
  <div class="customer-info">
    <div class="info-header">
      <img :src="friendInfo.headIcon" class="avator" />
      <div class="main">
        <div class="nick-name cursor ellipsis" :title="friendInfo.nickName">微信昵称：{{friendInfo.nickName}}</div>
        <div class="remark">
          <span class="content cursor ellipsis" :title="friendInfo.remark">备注：{{friendInfo.remark}}</span>
          <span class="edit-btn" @click="editRemark">修改</span>
        </div>
        <div class="wechat-id cursor ellipsis" :title="friendInfo.wxAccount">微信号：{{friendInfo.wxAccount}}</div>
      </div>
    </div>
    <div class="info-item">
      <el-collapse v-model="activeInfo">
        <el-collapse-item class="el-collapse-add-line" title="客户资料" name="1">
          <el-form :model="infoForm" :rules="infoRules" ref="form" label-width="60px" size="mini">
            <el-form-item label="是否认证：" prop="realName" label-width="80px">
              <el-input placeholder="" v-model="carInsuranceUuid.yes" v-if="infoForm.carInsuranceUuid === '1'" :disabled="true"></el-input>
              <el-input placeholder="" v-model="carInsuranceUuid.no" v-else :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="姓名：" prop="realName" label-width="80px">
              <el-input placeholder="请输入客户姓名，20字以内" :maxlength="20" v-model.trim="infoForm.realName"></el-input>
            </el-form-item>
            <el-form-item label="手机：" label-width="80px">
              <el-input v-model.trim="infoForm.ephone" @change="changePhone()" placeholder="请输入手机号" :maxlength="11"></el-input>
            </el-form-item>
            <el-form-item label="性别：" label-width="80px">
              <el-select class="ly-width-100" v-model="infoForm.sex" placeholder="请选择">
                <el-option :value="0" label="未知"></el-option>
                <el-option :value="1" label="男"></el-option>
                <el-option :value="2" label="女"></el-option>
              </el-select>
            </el-form-item>
            <!-- 添加是否为同事标识且可修改 -->
            <el-form-item label="是否为同事：" label-width="100px">
              <el-select class="ly-width-100" v-model="infoForm.colleague" placeholder="请选择">
                <el-option :value="1" label="是"></el-option>
                <el-option :value="0" label="否"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="地区：" class="text-l" label-width="80px">
              <addressLazyCascader v-model="address" :change-on-select="false" :clearable="true" ref="addressLazyCascader"></addressLazyCascader>
            </el-form-item>
            <el-form-item label="生日：" class="text-l" label-width="80px">
              <el-date-picker v-model="infoForm.birthday" type="date" value-format="timestamp" placeholder="选择日期"></el-date-picker>
            </el-form-item>
            <el-form-item label="车牌号：" prop="carNumber" label-width="80px">
              <el-input v-model.trim="infoForm.carNumber" placeholder="请输入车牌号" :maxlength="15"></el-input>
            </el-form-item>
            <!-- 添加名单id -->
            <!-- <el-form-item label="名单ID：" prop="nameListId" label-width="80px">
              <el-input
                v-model.number="infoForm.nameListId"
                placeholder="请输入名单ID"
                :maxlength="10"
              ></el-input>
            </el-form-item> -->

            <el-form-item label="其他：" label-width="80px">
              <el-input type="textarea" v-model.trim="infoForm.otherInfo" resize="none" :rows="7" :maxlength="200" placeholder="请输入内容，200字以内"></el-input>
            </el-form-item>
          </el-form>
          <el-button class="save-flie" type="primary" @click.native="saveFreindUserInfo">保存资料</el-button>
        </el-collapse-item>
      </el-collapse>
    </div>
    <div class="info-item">
      <el-collapse v-model="activeLabels">
        <el-collapse-item class="el-collapse-add-line" title="标签管理" name="1">
          <div class="collapse-item friend-tags">
            <div class="collapse-item__header" @click="showNowLabels">
              好友标签
              <i class="el-icon-arrow-down" v-if="nowLabelsOpen"></i>
              <i class="el-icon-arrow-right" v-else></i>
            </div>
            <div class="collapse-item__content" v-show="nowLabelsOpen">
              <el-tag type="success" v-for="(item, index) in nowLabels" :key="index" closable @close="delLabel(index)" :title="item" class="ellipsis">{{item}}</el-tag>
              <!-- 添加 -->
              <el-tag class="ellipsis" type="success" @click.native="openNewLabel">+</el-tag>
              <!-- 输入新标签 -->
              <div class="new-tag" v-if="newLabel.show">
                <el-input ref="newLabel" :maxlength="18" :autofocus="true" v-model.trim="newLabel.content" @keyup.enter.native="closeNewTag" @blur.stop="saveNewTag"></el-input>
              </div>
            </div>
          </div>
          <div class="collapse-item friend-tags">
            <div class="collapse-item__header" @click="showAllLabels">
              所有标签
              <i class="el-icon-arrow-down" v-if="allLabelsOpen"></i>
              <i class="el-icon-arrow-right" v-else></i>
            </div>
            <div class="collapse-item__content" v-show="allLabelsOpen">
              <el-tag :type="nowLabelsMap[item.labelName] ? 'success' : 'info'" v-for="(item, index) in allLabels" :key="item.id" :v-if="item && item.id" @click.native="addLabelFromAllLabels(index)" :title="item.labelName" class="ellipsis">{{item.labelName}}</el-tag>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
    <editRemarkDialog v-if="editRemarkDialog.show" :data="editRemarkDialog.data" @on-close="closeEditRemark" @on-success="editRemarkSuccess"></editRemarkDialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { userInfoApi, commonApi } from '@/api/chat'
import editRemarkDialog from './components/editRemarkDialog'
import addressLazyCascader from '@/components/packages/chat/lazyCascader/addressLazyCascader'
import {
  mobileValidator,
  nameValidator,
  carNumberValidator
} from '@/assets/js/validators'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'

export default {
  mixins: [requestIdMixins],
  components: {
    editRemarkDialog,
    addressLazyCascader
  },
  data () {
    // var checkPhone = (rule,value,callback)=>{
    //     if(!(/^1[3456789]\d{9}$/.test(value))){
    //       return callback(new Error('请输入正确的手机号码格式'))
    //     }
    // }
    return {
      phoneFlag: 0,
      address: [],
      infoForm: {
        id: null,
        phone: null,
        cityId: null,
        provinceId: null,
        areaName: null,
        realName: null,
        sex: 0,
        colleague: 0, // 同事
        birthday: null,
        carNumber: null,
        otherInfo: null,
        ephone: null
        // nameListId:null
      },
      carInsuranceUuid: {
        yes: '是',
        no: '否'
      },
      friendInfo: {},
      activeInfo: '1',
      activeLabels: '1',
      newLabel: {
        content: null,
        show: false
      },
      editRemarkDialog: {
        show: false,
        data: null
      },
      allLabelsOpen: true,
      // 所有用户标签
      allLabels: [],
      nowLabelsOpen: true,
      // 当前用户标签
      nowLabels: [],
      province: null,
      city: null,
      area: null,
      getAllLabelsTimer: null,
      infoRules: {
        realName: [{ minlength: 2, maxlength: 18, validator: nameValidator }],
        phone: [
          // {validator: mobileValidator}
        ]
        // nameListId:[
        //   {
        //      type: "number",
        //     message: "名单ID必须为数字值"
        //   }
        // ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'activeChatFriendInfo',
      'activeChatAccountInfo',
      'chatUserInfoDB'
    ]),
    nowLabelsMap () {
      let map = {}
      this.nowLabels.forEach(val => {
        map[val] = true
      })
      return map
    },
    allLabelsMap () {
      let map = {}
      this.allLabels.forEach(val => {
        if (val.labelName) {
          map[val.labelName] = true
        }
      })
      return map
    }
  },
  watch: {
    activeChatFriendInfo (val, oldValue) {
      // 修改昵称会触发当前好友更新
      if (!val || (val && !val.id) || (oldValue && oldValue.id === val.id)) { return }
      this.afterEntity()
    }
  },
  created () {
    this.afterEntity()
  },
  beforeDestroy () {
    this.clearTimer()
  },
  methods: {
    afterEntity () {
      this.getUserInfo()
      this.getAllLabels()
    },
    /**
     * 获取客户资料
     * @return {[type]} [description]
     */
    getUserInfo () {
      let requestID = this.getChatRequestID()
      userInfoApi.getChatFriendUserInfo(this.activeChatFriendInfo.id).then(resp => {
        // console.log(resp)
        if (requestID !== this.getChatRequestID()) return
        this.friendInfo = Object.assign({}, resp, { labels: null })
        this.nowLabels = resp.labels
        this.infoForm = {
          realName: resp.realName,
          phone: resp.phone,
          ephone: resp.ephone,
          id: resp.id,
          cityId: resp.cityId,
          provinceId: resp.provinceId,
          sex: resp.sex,
          colleague: resp.colleague, // 是否同事
          birthday: resp.birthday,
          carNumber: resp.carNumber,
          otherInfo: resp.otherInfo,
          carInsuranceUuid: resp.carInsuranceUuid
          // nameListId:resp.nameListId

        }
        let address = []
        if (resp.provinceId) {
          address.push(resp.provinceId)
        }
        if (resp.cityId) {
          address.push(resp.cityId)
        }
        this.address = address
        // this.phoneFlag = 0
      })
    },
    // 修改客户手机号
    changePhone () {
      this.infoForm.phone = this.infoForm.ephone
      // this.infoRules.phone = [ {validator: mobileValidator}]
      if (
        this.infoForm.ephone.length > 0 &&
        !/^1[3456789]\d{9}$/.test(this.infoForm.ephone)
      ) {
        this.phoneFlag = 1
        return this.warning('请输入正确的手机号码格式')
      } else {
        this.phoneFlag = 0
      }
    },
    /**
     * 获取个人号全部的标签-[ ]
     */
    getAllLabels (loading = true) {
      let requestID = this.getChatRequestID()
      commonApi
        .getAccountLabels(
          {
            wechatAccountId: this.activeChatAccountInfo.id
          },
          loading
        )
        .then(resp => {
          if (requestID !== this.getChatRequestID()) return
          this.allLabels = resp
        })
    },
    /**
     * 打开新建标签
     * @return {[type]} [description]
     */
    openNewLabel () {
      this.newLabel = {
        show: true,
        content: null
      }
      this.$nextTick(() => {
        this.$refs.newLabel && this.$refs.newLabel.focus()
      })
    },
    /**
     * 保存资料
     * @return {[type]} [description]
     */
    saveFreindUserInfo () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          if (this.phoneFlag === 1) {
            return
          }
          this.setFormAddress()
          let params = Object.assign({}, this.infoForm)
          userInfoApi.editChatFriendUserInfo(params).then(resp => {
            this.success('保存成功')
            this.afterEntity()
          })
        } else {

        }
      })
      // if(this.phoneFlag === 1){
      //   return
      // }
      // this.setFormAddress()
      // let params = Object.assign({}, this.infoForm)
      // userInfoApi.editChatFriendUserInfo(params).then((resp) => {
      //   this.success('保存成功')
      //   this.afterEntity()
      // })
    },
    setFormAddress () {
      this.infoForm.provinceId = this.address[0]
      this.infoForm.cityId = this.address[1]
      let obj = this.$refs.addressLazyCascader.getObj()
      let areaName = ''
      if (obj[0] && obj[0].label) {
        areaName += obj[0].label
      }
      if (obj[1] && obj[1].label) {
        areaName += ' ' + obj[1].label
      }
      this.infoForm.areaName = areaName
    },
    /**
     * 修改备注
     * @return {[type]} [description]
     */
    editRemark () {
      this.editRemarkDialog = {
        show: true,
        data: {
          id: this.activeChatFriendInfo.id,
          nickName: this.friendInfo.nickName,
          remark: this.friendInfo.remark
        }
      }
    },
    closeEditRemark () {
      this.editRemarkDialog = {
        show: false,
        data: null
      }
    },
    /**
     * 修改备注成功后
     * @param  {[type]} remark [description]
     */
    editRemarkSuccess (remark) {
      this.getUserInfo()
      this.updateChatFriend(
        Object.assign({}, this.activeChatFriendInfo, {
          remark: remark
        })
      )
      this.$set(this.friendInfo, 'remark', remark)
      this.$emitBus(
        'set-new-remark',
        remark,
        this.activeChatAccountInfo.id,
        this.activeChatFriendInfo.id,
        this.activeChatFriendInfo.type,
        this.activeChatFriendInfo.wxId
      )
      // 修改缓存中好友信息
      this.chatUserInfoDB.refreshRemark(
        this.activeChatFriendInfo.accountId,
        this.activeChatFriendInfo.wxId,
        remark
      )
    },
    /**
     * 删除新标签
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    delLabel (index) {
      let newLabels = this.nowLabels.slice(0)
      newLabels.splice(index, 1)
      this.pushNewTag(newLabels)
    },
    /**
     * 从全部标签中添加一个到好友的标签中
     */
    addLabelFromAllLabels (index) {
      // 查重
      if (this.nowLabels.indexOf(this.allLabels[index].labelName) > -1) return
      let newLabels = this.nowLabels.slice(0)
      newLabels.push(this.allLabels[index].labelName)
      this.pushNewTag(newLabels)
    },
    /**
     * 保存输入的新标签
     * @return {[type]} [description]
     */
    saveNewTag () {
      this.closeNewTag()
      if (!this.newLabel.content) return
      // 查重
      if (this.nowLabels.indexOf(this.newLabel.content) > -1) return
      let newLabels = this.nowLabels.slice(0)
      newLabels.push(this.newLabel.content)
      this.pushNewTag(newLabels, this.newLabel.content)
    },
    /**
     * 同步到手机
     * @param  {[type]} newLabel [description]
     * @return {[type]}          [description]
     */
    pushNewTag (newLabels, newLabel) {
      let params = {
        id: this.activeChatFriendInfo.id,
        labels: newLabels || [],
        wechatAccountId: this.activeChatAccountInfo.id
      }
      userInfoApi.saveWechtFriendLabels(params).then(resp => {
        this.afterSaveNewTag(newLabels, newLabel)
      })
    },
    afterSaveNewTag (labels, newLabel) {
      this.clearTimer()
      this.setGetAllLabelsTimer()
      this.success('添加成功')
      this.newLabel = {
        show: false,
        content: null
      }
      this.nowLabels = labels
      if (newLabel && !this.allLabelsMap[newLabel]) {
        this.allLabels.push({
          id: 'tempId' + new Date().getTime(),
          labelName: newLabel
        })
      }
    },
    /**
     * 关闭某个标签
     * @return {[type]} [description]
     */
    closeNewTag () {
      this.$set(this.newLabel, 'show', false)
    },
    /**
     * 完成更新标签后，延迟获取所有标签，等待设备同步完毕
     */
    setGetAllLabelsTimer () {
      this.getAllLabelsTimer = setTimeout(() => {
        this.getAllLabels(false)
      }, 4000)
    },
    clearTimer () {
      if (this.getAllLabelsTimer) {
        clearTimeout(this.getAllLabelsTimer)
        this.getAllLabelsTimer = null
      }
    },
    showAllLabels () {
      this.allLabelsOpen = !this.allLabelsOpen
    },
    showNowLabels () {
      this.nowLabelsOpen = !this.nowLabelsOpen
    }
  }
}
</script>
