<template>
  <div class="group-info">
    <div class="info-header">
      <img :src="groupInfo.headIcon" class="avator">
      <div class="main">
        <div class="nick-name ellipsis">群名：{{groupInfo.groupName}}</div>
        <div class="remark">
          群成员：{{memberNumber}}位
        </div>
        <div class="wechat-id ellipsis" :title="groupInfo.notice">群公告：{{groupInfo.notice}}</div>
      </div>
    </div>
    <div class="info-body">
      <div class="search-bar rlt">
        <el-input placeholder="请输入昵称" v-model.trim="params.name" :maxlength="20" @keyup.enter.native="searchGroupMembers"></el-input>
        <el-button type="info" icon="el-icon-search" plain class="abs" @click="searchGroupMembers"></el-button>
      </div>
      <div v-if="memberList.length === 0" class="list-nonthing">暂无相关成员</div>
      <ul class="group-member-list tl" v-else>
        <li class="member" v-for="item in memberList" :key="item.id">
          <img :src="item.headIcon | wechatAvtor" class="avator" />
          <div class="nick-name">
            <span class="name ellipsis" :title="(item.nickName || item.wxId || '--') + (item.status === 0 ? '（被踢出/主动退出)' : '')">
              {{item.nickName || item.wxId || '--'}} <span class="status-del" v-if="item.status === 0">（被踢出/主动退出)</span>
            </span>
            <span class="identity" v-if="item.wxId === groupInfo.groupOwnerWxId">群主</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
    import {
        mapGetters
    } from 'vuex'
    import {
        userInfoApi
    } from '@/api/chat'
    import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'

    export default {
        mixins: [requestIdMixins],
        data() {
            return {
                groupInfo: {},
                memberList: [],
                memberNumber: 0,
                params: {
                    name: null,
                    id: null,
                    size: 500,
                    current: 1
                }
            }
        },
        computed: {
            ...mapGetters([
                'activeChatFriendInfo',
                'activeChatAccountInfo'
            ])
        },
        watch: {
            activeChatFriendInfo(val) {
                if (!val || (val && !val.id)) return
                this.afterEntity()
            }
        },
        created() {
            this.afterEntity()
        },
        methods: {
            afterEntity() {
                this.params.id = this.activeChatFriendInfo.id
                this.getChatGroupInfo()
                this.getChatGroupMembers()
            },
            /**
             * 获取群资料
             * @return {[type]} [description]
             */
            async getChatGroupInfo() {
                let requestID = this.getChatRequestID()
                let groupInfo = await userInfoApi.getChatGroupInfo(this.activeChatFriendInfo.id)
                if (requestID !== this.getChatRequestID()) return
                this.groupInfo = groupInfo
            },
            search() {
                let params = Object.assign({}, this.params)
                return userInfoApi.getChatGroupMembers(params)
            },
            async searchGroupMembers() {
                this.getChatGroupMembers()
            },
            /**
             * 获取群成员
             * @return {[type]} [description]
             */
            async getChatGroupMembers() {
                let requestID = this.getChatRequestID()
                let memberList = await this.search()
                if (requestID !== this.getChatRequestID()) return
                this.memberList = memberList.records
                this.memberNumber = memberList.records.length
            }
        }
    }
</script>