<template>
  <div>
    <el-dialog title="消息推送" custom-class="push-assistant pos-r" :visible.sync="outerVisible" :close-on-click-modal="false" @close="handleClose" append-to-body>
      <div class="push-assistant-container">
        <div class="ly-margin-bottom-sm text-c">
          <el-radio-group v-model="current">
            <el-radio-button :label="1">新建群发</el-radio-button>
            <el-radio-button :label="2">群发记录</el-radio-button>
          </el-radio-group>
        </div>
        <newMessage v-if="current === 1" :account-list="accountList" />
        <pushHistory v-else :account-list="accountList" />
      </div>
    </el-dialog>
  </div>
</template>

<script>
import newMessage from './newMessage/index'
import pushHistory from './pushHistory/index'

export default {
  props: {
    show: {
      type: Boolean,
      default: true
    },
    accountList: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  components: {
    newMessage,
    pushHistory
  },
  data() {
    return {
      current: 1,
      outerVisible: true
    }
  },
  methods: {
    handleClose() {
      this.$emit('on-close')
    }
  }
}
</script>
