<template>
  <div class="login-form-input"
       :class="{active: isFocus}"
       @click="focus">
    <i class="icon"
       v-if="icon"
       :class="icon"></i>
    <div class="login-form-input-container">
      <input :type="type"
             :placeholder="placeholder"
             ref="input"
             v-model.trim="modelValue"
             @focus="() => isFocus = true"
             @blur="() => isFocus = false">
    </div>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    icon: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isFocus: false
    }
  },
  computed: {
    modelValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    }
  }
}
</script>
