<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="选择" width="50">
          <template slot-scope="scope">
            <el-checkbox></el-checkbox>
          </template>
        </el-table-column>
        <el-table-column label="活动信息">
          <template slot-scope="scope">
            <p>名称：1212大促</p>
            <p>状态：进行中</p>
            <p>红包：固定金额</p>
            <p>金额：1元</p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="申请信息">
          <template slot-scope="scope">
            <p>申请时间：2018-11-19 00:00:00</p>
            <p>微信昵称：离心率</p>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="购物账号"
                         width="200">
          <template slot-scope="scope">
            <p>平台类型：淘宝</p>
            <p>购物账号：15059306988</p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="审核状态">
          <template slot-scope="scope">
            <p>审核时间：2018-11-19 00:00:00</p>
            <p>审核状态：已通过</p>
            <p>审核人：chenwei(陈微)</p>
          </template>
        </el-table-column>
        <el-table-column label="付款信息">
          <template slot-scope="scope">
            <p>支付流水号：1245565687898989</p>
            <p>付款时间：2018-11-19 00:00:00</p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="审核图片"
                         width="200">
          <template slot-scope="scope">
            <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"
                 alt=""
                 class="ly-wh-50px ly-margin-right-bottom-xs">
            <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"
                 alt=""
                 class="ly-wh-50px ly-margin-right-bottom-xs">
            <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"
                 alt=""
                 class="ly-wh-50px ly-margin-right-bottom-xs">
            <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"
                 alt=""
                 class="ly-wh-50px ly-margin-right-bottom-xs">
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="其他信息">
          <template slot-scope="scope">
            系统提示：
            1.该用户参加过其他返现活动；
            2.被拒绝以后第二次提交；
            拒绝理由：
            1.照片不清晰
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">审核</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <el-button type="primary" class="ly-text-left">批量审核</el-button>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'

export default {
  components: { collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        activityName: true,
        activityState: true,
        auditState: true,
        orderInfo: true,
        date: true
      },
      tableData: [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市'
        }
      ],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
  },
  methods: {
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
