<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="选择套餐:" prop="id" :label-width="formLabelWidth">
        <el-row :gutter="20" class="ly-margin-rl-0">
          <el-col class="ly-width-180px ly-margin-bottom-12px" v-for="(item, itemIndex) in tableData" :key="item.id">
            <el-card shadow="hover" class="ly-padding-0 ly-cursor-pointer" :class="[itemIndex === index ? 'ly-el-cardactive' : '']">
              <div class="ly-position-relative" @click="checkMeal(itemIndex, item)">
                <div class="ly-height-100px ly-bg-f1">
                  <div class="ly-meal-bg" style="height: 100px; bottom: inherit;">
                    <img :src="item.bgImg" />
                  </div>
                  <p class="ly-position-relative ly-margin-lr-10px ly-padding-top-70px ell ly-text-center ly-line-height-20px ly-font-color-2"><span>{{item.messageNum}}</span>条短信</p>
                </div>
                <div class="ly-height-55px-im ly-margin-lr-10px ly-border-bottom-1 ly-font-color-5">
                  <p class="ell ly-text-center ly-line-height-28px">{{item.packageName}}</p>
                  <p class="ell ly-text-center ly-line-height-20px">总价:<span>{{item.price | numberToFixed}}</span>元</p>
                </div>
                <div class="ly-check-icon-blur"><span><i class="el-icon-check"></i></span></div>
              </div>
            </el-card>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item label="总额:" :label-width="formLabelWidth">
        <el-input class="ly-width-280px-im" placeholder="请选择套餐" autocomplete="off" v-model="params.price" disabled></el-input>
      </el-form-item>
      <el-form-item label="支付方式：" prop="payType" :label-width="formLabelWidth">
        <div class="ly-clearfix">
          <!-- 微信 -->
          <div :style="params.payType === 1?backgroundImgurl:''" @click="checkPayMethod(1)" class="recharge-redpacket-pay ly-box ly-box-align-justify-center ly-float-left ly-margin-right-30px">
            <img src="@/assets/css/theme/default/images/system/marketPlatform/wechat.png" />
          </div>
          <!-- 显示没有支付宝 -->
          <!-- 支付宝 -->
          <!-- <div :style="form.payType==2?backgroundImgurl:''"
               @click="form.payType=2"
               class="recharge-redpacket-pay ly-box ly-box-align-justify-center ly-float-left">
            <img src="@/assets/css/theme/default/images/system/marketPlatform/zhifubao.png" />
          </div> -->
        </div>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="confirmAdd">确定充值</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// import { marketPlatformApi, commonApi } from '@/api/system'
// import payBgImg from '@/assets/css/theme/default/images/system/marketPlatform/pay-active.png'
import mealA from '@/assets/images/system/wallet/smsMeal/meal-1.png'
import mealB from '@/assets/images/system/wallet/smsMeal/meal-2.png'
import mealC from '@/assets/images/system/wallet/smsMeal/meal-3.png'
import mealD from '@/assets/images/system/wallet/smsMeal/meal-4.png'
import mealE from '@/assets/images/system/wallet/smsMeal/meal-5.png'
import mealF from '@/assets/images/system/wallet/smsMeal/meal-6.png'
import mealG from '@/assets/images/system/wallet/smsMeal/meal-7.png'
import mealH from '@/assets/images/system/wallet/smsMeal/meal-8.png'
import mealI from '@/assets/images/system/wallet/smsMeal/meal-9.png'
import payBgImg from '@/assets/css/theme/default/images/system/marketPlatform/pay-active.png'
import { walletApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  computed: {
  },
  watch: {
  },
  data () {
    return {
      index: null,
      formLabelWidth: '100px',
      mealBgArr: [mealA, mealB, mealC, mealD, mealE, mealF, mealG, mealH, mealI],
      params: {
        price: '',
        msgNum: '',
        payType: 1,
        id: ''
      },
      rules: {
        id: [
          { required: true, message: '请选择套餐' }
        ],
        payType: [
          { required: true, message: '请选择支付方式' }
        ]
      },
      tableData: [],
      backgroundImgurl: {
        'background-image': `url(${payBgImg})`,
        'background-repeat': 'no-repeat',
        'background-size': '100% 100%'
      }
    }
  },
  mounted () {
  },
  created () {
    this.$nextTick(() => {
      this.getSmsMeal()
    })
  },
  methods: {
    getRandom () {
      let num = Math.floor(Math.random() * 9)
      return num
    },
    /**
    *获取短信充值套餐
     */
    async getSmsMeal () {
      const data = await walletApi.getMealList()
      data.forEach(item => {
        let num = this.getRandom()
        item.bgImg = this.mealBgArr[num]
      })
      this.tableData = data
    },
    /**
     *关闭弹窗
     */
    closeDialog () {
      this.$emit('closeDialog')
    },
    /**
     *选择套餐
     */
    checkMeal (index, data) {
      this.index = index
      this.params.price = Number(data.price).toFixed(2)
      this.params.id = data.id
      this.validateInfo()
    },
    /**
     *校验表单
     */
    validateInfo (callBack) {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (typeof callBack === 'function') {
            callBack()
          }
        } else {
          return false
        }
      })
    },
    /**
     *选择支付方式
     */
    checkPayMethod (type) {
      // this.params.payType = type
      // this.validateInfo()
    },
    /**
     *确定充值
     */
    confirmAdd () {
      this.validateInfo(this.submitPayInfo)
    },
    // 新增短信充值记录
    async submitPayInfo () {
      this.params.msgNum = Number(this.params.msgNum)
      let params = {
        id: this.params.id
      }
      const data = await walletApi.confirAddSmsMeal(params)
      let codePayInfo = Object.assign({}, this.params, { payCodeUrl: data, money: this.params.price })
      this.closeDialog()
      this.$emit('createPayCode', codePayInfo)
    }
  }
}
</script>
<style scoped>
</style>
