<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small" @click="addDGroup">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="分组名称">
          <template slot-scope="scope">
            <span style="margin-left: 10px">{{ scope.row.groupName }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="num"
                         label="当前分组下设备数量">
        </el-table-column>
        <el-table-column prop="remark"
                         label="分组备注">
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small" @click="showModifyGroup(scope.$index, scope.row)">修改</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small" @click="delGroup(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
    <!--新增-->
    <el-dialog title="新增分组" :visible.sync="addDialogInfo.show" width="489px" v-if="addDialogInfo.show" append-to-body>
      <dGroupAdd :dialogProp="addDialogInfo" @closeDialog="closeAddDialog" @getTableList="getTableList"></dGroupAdd>
    </el-dialog>
    <!--新增-->
    <el-dialog title="编辑分组" :visible.sync="modifyDialogInfo.show" width="489px" v-if="modifyDialogInfo.show" append-to-body>
      <dGroupAdd :dialogProp="modifyDialogInfo" @closeDialog="closeModifyDialog" @getTableList="getTableList"></dGroupAdd>
    </el-dialog>
  </div>
</template>

<script>
import { deviceManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import {
  dGroupAdd
} from './components'
export default {
  mixins: [tableMixin],
  components: {
    dGroupAdd
  },
  data() {
    return {
      params: {
      },
      tableData: {},
      addDialogInfo: {},
      modifyDialogInfo: {}
    }
  },
  created() {},
  methods: {
    /**
     * 设备分组--获取列表
     */
    async requestTableList() {
      await deviceManageApi.eGroupList(this.params).then((data) => {
        this.tableData = data
      })
    },
    /**
     * 设备分组--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 设备分组--新增--显示弹窗
     */
    addDGroup() {
      this.addDialogInfo = {
        show: true
      }
    },
    /**
     * 设备分组--新增--关闭弹窗
     */
    closeAddDialog() {
      this.addDialogInfo = {}
    },
    /**
     * 设备分组--编辑--显示弹窗
     */
    showModifyGroup(index, data) {
      this.modifyDialogInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 设备分组--编辑--关闭弹窗
     */
    closeModifyDialog() {
      this.modifyDialogInfo = {}
    },
    /**
     * 设备分组--删除
     */
    delGroup(index, data) {
      let that = this
      this.$confirm('确定删除该设备分组吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        that.suerDelGroup(data)
      }).catch(() => {})
    },
    async suerDelGroup(data) {
      await deviceManageApi.eGroupDelete(data.id).then((res) => {
        this.success('删除成功!')
        this.getTableList()
      })
    }
  }
}
</script>
