<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="微信号/微信昵称/手机号"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.idNamePhone"
                    @keyup.native.enter="queryCallback"
                    :maxlength="100"
                    clearable>
          </el-input>
          <el-input placeholder="分配者"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.assignStaffName"
                    @keyup.native.enter="queryCallback"
                    :maxlength="100"
                    clearable>
          </el-input>
           <departmenTreeCascadert v-model="departmentId"
                                  filterable
                                  clearable
                                  placeholder="分配者所在部门"
                                  :blackData="true"
                                  class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <el-date-picker class="ly-margin-right-bottom-sm"
                          type="daterange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          value-format="timestamp"
                          @change="dateChange"
                          v-model="date"
                          clearable>
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
          <span class="ly-margin-left-sm ly-font-14 ly-font-color-7">仅保存最近7天的分配记录</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="exportCallback">导出</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column  prop="eqCode"
                          label="设备编号">
        </el-table-column>
        <el-table-column prop="imei"
                         label="IMEI">
        </el-table-column>
        <el-table-column label="当前登录个人号"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row.person"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="assignedStaffName"
                         label="分配给的员工">
        </el-table-column>
        <el-table-column prop="departmentName"
                         label="员工所在部门">
        </el-table-column>
        <el-table-column prop="assignStaffName"
                         label="分配者">
        </el-table-column>
        <el-table-column label="分配时间">
          <template slot-scope="scope">
            {{scope.row.createTime | date}}
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="pageChange" />
      </div>
    </div>
  </div>
</template>

<script>
import { downloadFile } from '@/utils'
import { deviceManageApi } from '@/api/system'
import personalInfo from '@/components/common/personalInfo'
import { tableMixin } from '@/mixins'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [tableMixin],
  components: { personalInfo,departmenTreeCascadert },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data() {
    return {
      activeNames: ['1'],
      departmentId: [],
      date: [],
      params: {
        idNamePhone: '',
        assignStaffName: '',
        beginTime: '',
        endTime: '',
        departmentId: '',
      },
      blackData: [{
        name: '无',
        id: 0
      }],
      tableData: {}
    }
  },
  created() {},
  methods: {
    // 设备管理-分配记录-导出
    exportCallback() {
      deviceManageApi.deviceDisExport(this.params).then((res) => {
        downloadFile(res, '分配记录统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    async requestTableList() {
      await deviceManageApi.deviceDistributionList(this.params).then((data) => {
        data.records.forEach(o => {
          o.person = {
            img: o.headIcon,
            id: o.wxId,
            name: o.nickName,
            mobile: o.phone,
            row: o
          }
        })
        this.tableData = data
      })
    },
    /**
     * 分配记录--分页请求
     */
    pageChange(pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 分配记录--查询
     */
    queryCallback() {
      this.getTableList(1)
    },
    /**
     * 分配记录--日期选择
     */
    dateChange(val) {
      val = val || []
      this.params.beginTime = val[0] || ''
      this.params.endTime = val[1] || ''
    }
  }
}
</script>
