<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="微信号/微信昵称/手机号" class="ly-margin-right-bottom-sm" v-model.trim="params.wtPers" @keyup.native.enter="queryCallback" :maxlength="100" clearable>
          </el-input>
          <deviceGroupingSelect v-model="params.groupId" placeholder="设备分组"></deviceGroupingSelect>
          <el-input placeholder="设备保管者" class="ly-margin-right-bottom-sm" v-model.trim="params.staffName" @keyup.native.enter="queryCallback" :maxlength="100" clearable>
          </el-input>
          <!--部门级联已经调整-->
          <departmenTreeCascadert v-model="departmentId" filterable clearable placeholder="设备保管者所在部门" :blackData="true" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <el-select clearable v-model="params.status" placeholder="设备在线状态" class="ly-margin-right-bottom-sm">
            <el-option v-for="item in onlineSelect" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
          <el-input v-model="params.remark" @keyup.native.enter="queryCallback" placeholder="备注" :maxlength="100" class="ly-margin-right-bottom-sm" clearable>
          </el-input>
          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="small" @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4 mr-20">
          <el-button type="primary" size="small" @click="batchOpen">{{batchText}}</el-button>
        </span>
        <span class="ly-margin-top-nge-4 mr-20">
          <el-button type="primary" size="small" @click="showAddDialog">新增</el-button>
        </span>
        <span class="ly-margin-top-nge-4 mr-20">
          <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
        </span>
        <span class="ly-margin-top-nge-4 mr-20">
          <el-button type="primary" size="small" @click="updateApp">一键更新</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" max-height="500" style="width: 100%" row-key="id" @clearSelection="clearSelection" @selection-change="handleSelectionChange">
        <el-table-column type="selection" fixed="left" :selectable="selectAble" reserve-selection width="55">
        </el-table-column>
        <el-table-column prop="eqCode" label="设备编号" fixed="left" class-name="ly-text-center" width="80">
          <template slot-scope="scope">
            {{scope.row.eqCode || '--'}}
            <p class="line-height-12">
              <el-tooltip class="item" effect="dark" :content="scope.row.onLine?'手机在线':'手机离线'" placement="top">
                <i class="spot-border-radius" :class="[scope.row.onLine?'active':'']"></i>
              </el-tooltip>
            </p>
          </template>
        </el-table-column>
        <el-table-column prop="imei" fixed="left" label="IMEI" min-width="120">
        </el-table-column>
        <el-table-column label="备注" width="150" show-overflow-tooltip>
          <template slot-scope="scope">
            <div class="ly-font-color-5 ly-whitespace ly-cursor-point" v-if="scope.row.owner" :title="scope.row.remark" @click="showRemarkDialog(scope.$index, scope.row)">{{scope.row.remark || '设置备注'}}</div>
            <div class="ly-font-color-2 ly-whitespace" v-else :title="scope.row.remark">{{scope.row.remark || '设置备注'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="当前登录个人号" min-width="290">
          <template slot-scope="scope">
            <personalInfos :info="scope.row.info"></personalInfos>
          </template>
        </el-table-column>
        <el-table-column prop="wachatVersion" label="微信版本" class-name="ly-font-color-6">
        </el-table-column>
        <el-table-column prop="address" label="设备分组">
          <template slot-scope="scope">
            <p class="ly-font-color-5 ly-cursor-point" v-if="scope.row.owner" @click="showSetGroupDialog(scope.$index, scope.row)">{{scope.row.eqGroupName || '设置分组'}}</p>
            <p class="ly-font-color-2" v-else>{{scope.row.eqGroupName || '设置分组'}}</p>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者">
          <template slot-scope="scope">
            <p class="ly-font-color-5 ly-cursor-point" v-if="scope.row.owner" @click="showPreserverDialog(scope.$index, scope.row)">{{scope.row.ownerStaffName || '设备保管者'}}</p>
            <p class="ly-font-color-2" v-else>{{scope.row.ownerStaffName || '设备保管者'}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="departmentName" label="设备保管者所在部门" width="200">
          <template slot-scope="scope">
            <p class="ly-font-color-2">{{scope.row.departmentName || '--'}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="perPhone" label="设备保管者电话" width="200">
          <template slot-scope="scope">
            <p class="ly-font-color-2">{{scope.row.perPhone || '--'}}</p>
          </template>
        </el-table-column>

        <!-- 添加副卡 -->
        <el-table-column prop="domains" label="设备保管者副卡电话" width="200">
          <template slot-scope="scope">
            <p class="ly-font-color-2" v-for="(item, index) in scope.row.domains" :key="index">{{item.value || '--'}}</p>
          </template>
        </el-table-column>

        <!-- 添加外显号 -->
        <el-table-column prop="taibao" label="太保通外显号" width="200">
        </el-table-column>

        <el-table-column prop="createTime" label="设备同步时间" width="160">
          <template slot-scope="scope">
            {{fmt.date(scope.row.createTime) || '--'}}
          </template>
        </el-table-column>
        <el-table-column prop="powerInfo" label="手机电量">
        </el-table-column>
        <el-table-column prop="locationInfo" min-width="112" label="坐标">
        </el-table-column>
        <el-table-column prop="branchInfo" label="品牌">
        </el-table-column>
        <el-table-column prop="eqModel" label="型号">
        </el-table-column>
        <el-table-column prop="osVersion" label="系统OS">
        </el-table-column>
        <el-table-column prop="softVersion" label="软件版本">
        </el-table-column>
        <el-table-column label="操作" fixed="right" width="230">
          <template slot-scope="scope">
            <div v-if="scope.row.owner">
              <el-button type="text" size="small" :disabled="hasAction?false:true" @click="showRiskDialog(scope.$index, scope.row)">权限</el-button>
              <el-button type="text" size="small" @click="showAppSetDialog(scope.$index, scope.row)">APP</el-button>
              <el-button type="text" class="ly-font-color-7" size="small" v-if="hasDeleteAction" @click="deleteDevice(scope.$index, scope.row)">删除</el-button>
              <!-- <el-button type="text"
                         size="small"
                         @click="updateDevice(scope.$index, scope.row)">检查更新</el-button> -->
              <el-button type="text" size="small" @click="showImportConcatDialog(scope.$index, scope.row)">联系人导入</el-button>
              <el-button type="text" size="small" @click="toggleAble(scope.$index, scope.row, scope.row.status)">{{scope.row.status==1 ? '已启用':'已禁用'}}</el-button>
              <!-- 更新日志 -->
              <el-button type="text" size="small" @click="uploadLogMsg(scope.$index, scope.row, scope.row.status)">{{scope.row.realTimeLog==0 ? '关闭日志':'开启日志'}}</el-button>
              <!-- 增加设备历史使用人记录 -->
              <el-button type="text" size="small" @click="showdevicePerDialog(scope.$index, scope.row)">设备历史使用人记录</el-button>

            </div>
            <div v-else>--</div>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">

        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
      </div>
    </div>
    <!--弹窗新增-->
    <el-dialog title="请使用安卓版工作手机客户端扫描" width="489px" v-if="dialogaddInfo.show" :visible.sync="dialogaddInfo.show" @close="closeAddDialog" append-to-body>
      <dManageDialogAdd :dialogProp="dialogaddInfo" @closeDialog="closeAddDialog"></dManageDialogAdd>
    </el-dialog>
    <!--弹窗修改备注-->
    <el-dialog title="设置设备备注" width="489px" v-if="dialogRemarkInfo.show" :visible.sync="dialogRemarkInfo.show" @close="closeRemarkDialog" append-to-body>
      <dManageDialogRemark :dialogProp="dialogRemarkInfo" @closeDialog="closeRemarkDialog" @upDateRecord="upDateRecord"></dManageDialogRemark>
    </el-dialog>
    <!--弹窗设置分组-->
    <el-dialog title="设置设备分组" width="489px" v-if="dialogsetGroupInfo.show" :visible.sync="dialogsetGroupInfo.show" @close="closeSetGroupDialog" append-to-body>
      <dManageDialogSetGroup :dialogProp="dialogsetGroupInfo" @closeDialog="closeSetGroupDialog" @getTableList="getTableList"></dManageDialogSetGroup>
    </el-dialog>
    <!--弹窗设备保管者-->
    <el-dialog title="分配设备给员工" width="489px" v-if="dialogsetPreserverInfo.show" :visible.sync="dialogsetPreserverInfo.show" @close="closePreserverDialog" append-to-body>
      <dManageDialogPreserver :dialogProp="dialogsetPreserverInfo" @closeDialog="closePreserverDialog" @getTableList="getTableList"></dManageDialogPreserver>
    </el-dialog>
    <!--弹窗权限-->
    <el-dialog title="风控权限" width="489px" v-if="dialogRiskInfo.show" :visible.sync="dialogRiskInfo.show" @close="closeRiskDialog" append-to-body>
      <dManageDialogRisk :dialogProp="dialogRiskInfo" @closeDialog="closeRiskDialog"></dManageDialogRisk>
    </el-dialog>
    <!--弹窗App-->
    <el-dialog title="App设置" width="489px" v-if="dialogAppSetInfo.show" :visible.sync="dialogAppSetInfo.show" @close="closeAppSetDialog" append-to-body>
      <dManageDialogAppSet :dialogProp="dialogAppSetInfo" @closeDialog="closeAppSetDialog"></dManageDialogAppSet>
    </el-dialog>
    <!--弹窗导入联系人-->
    <el-dialog title="导入联系人" width="560px" v-if="dialogImportConcatInfo.show" :visible.sync="dialogImportConcatInfo.show" @close="closeImportConcatDialog" append-to-body>
      <dManageDialogImportConcats :dialogProp="dialogImportConcatInfo" @closeDialog="closeImportConcatDialog"></dManageDialogImportConcats>
    </el-dialog>

    <!-- 弹窗设备历史使用人记录 -->
    <el-dialog title="设备历史使用人记录" width="489px" v-if="showdevicePerInfo.show" :visible.sync="showdevicePerInfo.show" @close="closedevicePerDialog" append-to-body>
      <dManageDialogDevicePer :dialogProp="showdevicePerInfo" @closeDialog="closedevicePerDialog" @getTableList="getTableList"></dManageDialogDevicePer>
    </el-dialog>
    <!-- 开启日志 -->
    <el-dialog title="开全日志" width="489px" v-if="showOpenJournalInfo.show" :visible.sync="showOpenJournalInfo.show" @close='closeJournalDialog' append-to-body>
      <dManageDialogJournal @successCommit='successCommit' :dialogProp='showOpenJournalInfo' @closeDialog="closeJournalDialog"></dManageDialogJournal>
    </el-dialog>
  </div>
</template>

<script>
import {
  downloadFile
} from '@/utils'
import {
  deviceManageApi
} from '@/api/system'
import {
  SELECT_ONLINE_STATE
} from '@/constants/selects'
import {
  dManageDialogAdd,
  dManageDialogRemark,
  dManageDialogSetGroup,
  dManageDialogPreserver,
  dManageDialogAppSet,
  dManageDialogRisk,
  dManageDialogImportConcats,
  dManageDialogDevicePer,
  dManageDialogJournal
} from './components'
import {
  deviceGroupingSelect
} from '@/components/packages/system/lazySelect'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
import personalInfos from '@/components/common/personalInfos'
import {
  resourceMixin,
  tableMixin
} from '@/mixins'
import {
  RESOURCE_ACTION_MAP
} from '@/constants'

export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    deviceGroupingSelect,
    departmenTreeCascadert,
    personalInfos,
    dManageDialogAdd,
    dManageDialogRemark,
    dManageDialogSetGroup,
    dManageDialogPreserver,
    dManageDialogAppSet,
    dManageDialogRisk,
    dManageDialogImportConcats,
    dManageDialogDevicePer,
    dManageDialogJournal
  },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data () {
    return {
      journalBox: {
        // status: 0
      },
      batchJournal: {
        ids: []
        // status: 0
      },
      batchText: '批量开启日志',
      activeNames: ['1'],
      onlineSelect: SELECT_ONLINE_STATE,
      departmentId: [],
      total: 0,
      params: {
        current: 1,
        size: 20,
        wtPers: '',
        groupId: '',
        staffName: '',
        departmentId: '',
        status: '',
        remark: ''
      },
      blackData: [{
        name: '无',
        id: 0
      }],
      tableData: {},
      tableSelectArr: [],
      dialogaddInfo: {},
      dialogRemarkInfo: {},
      dialogsetGroupInfo: {},
      dialogsetPreserverInfo: {},
      dialogAppSetInfo: {},
      dialogRiskInfo: {},
      dialogImportConcatInfo: {},
      //  历史使用人记录
      showdevicePerInfo: {},
      // 开启日志
      showOpenJournalInfo: {}
    }
  },
  created () { },
  computed: {
    // 是否拥有删除个人号
    hasDeleteAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.EQUIPMENT_DELETE)
    },
    hasAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.EQUIPMENT_PERMISSIONS)
    }
  },
  methods: {
    /**
     * 设备管理--编辑权限
     */
    selectAble (row, index) {
      if (row.owner === 1 && row.onLine === 1) {
        return true
      } else {
        return false
      }
    },
    /**
     * 设备管理--获取列表
     */
    async requestTableList () {
      await deviceManageApi.equipmentList(this.params).then((data) => {
        data.records.forEach(o => {
          o.info = {
            headIcon: o.perNeadIco,
            wxId: o.wxId,
            nickName: o.perNickName,
            phone: o.perPhone,
            account: o.account,
            row: o
          }
        })
        this.tableData = data
      })
    },
    // 导出
    exportCallback () {
      deviceManageApi.equipmentExport(this.params).then((res) => {
        downloadFile(res, '手机设备统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    // -------------------------------------------------------------------------------
    /**
     * 设备管理--查询
     */
    queryCallback () {
      this.getTableList(1)
    },
    /**
     * 设备管理--分页请求
     */
    pageChange (pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange (val) {
      this.tableSelectArr = val
      if (val.length > 0) {
        let status = val[0].realTimeLog
        let alertMsg = ''
        this.$nextTick(() => {
          this.batchText = status == 1 ? '批量关闭日志' : '批量开启日志'
        })
        alertMsg = status == 1 ? '关闭' : '开启'
        for (let i in val) {
          if (val[i].realTimeLog !== status) {
            this.$refs.multipleTable.toggleRowSelection(this.tableSelectArr[i], false)
            this.error('该个人号日志已' + alertMsg)
          }
        }
      }
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked () {
      this.clearSelection('multipleTable')
    },
    /**
     * 修改备注--弹窗--显示
     */
    showRemarkDialog (index, data) {
      let dialogRemarkInfo = {
        show: true,
        index: index,
        data: data
      }
      this.dialogRemarkInfo = dialogRemarkInfo
    },
    /**
     * 修改备注--更新修改成功后的备注信息
     */
    upDateRecord (data) {
      this.tableData.records[data.index].remark = data.remark
    },
    /**
     * 修改备注--弹窗--关闭
     */
    closeRemarkDialog () {
      this.dialogRemarkInfo = {}
    },
    /**
     * 修改分组--弹窗--显示
     */
    showSetGroupDialog (index, data) {
      let dialogsetGroupInfo = {
        show: true,
        data: data
      }
      this.dialogsetGroupInfo = dialogsetGroupInfo
    },
    /**
     * 修改分组--弹窗--关闭
     */
    closeSetGroupDialog () {
      this.dialogsetGroupInfo = {}
    },
    /**
     * 设备保管者--弹窗--关闭
     */
    closePreserverDialog () {
      this.dialogsetPreserverInfo = {}
    },
    /**
     * 设备保管者--弹窗--显示
     */
    showPreserverDialog (index, data) {
      let params = {
        typeVal: 1,
        show: true,
        data: data,
        staffId: data.staffId
      }
      this.dialogsetPreserverInfo = Object.assign({}, params)
    },
    /**
     * 新增--弹窗--显示
     */
    showAddDialog () {
      this.dialogaddInfo = {
        show: true
      }
    },
    /**
     * 新增--弹窗--关闭
     */
    closeAddDialog () {
      this.dialogaddInfo = {}
      this.departmentId = []
      this.params.wtPers = ''
      this.params.departmentId = ''
      this.params.groupId = ''
      this.params.staffName = ''
      this.params.status = ''
      this.params.remark = ''
      this.getTableList(1)
    },
    /**
     * 是否删除--弹窗
     */
    deleteDevice (index, data) {
      this.$confirm('确定要删除该设备吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then((res) => {
        this.confirmDelete(data)
      }).catch(() => { })
    },
    /**
     * 确认删除
     */
    async confirmDelete (data) {
      await deviceManageApi.equipmentDel(data.id).then((res) => {
        this.success('删除成功')
        this.removeChecked()
        this.getTableList()
      })
    },
    /**
     * 权限设置--弹窗--显示
     */
    showRiskDialog (index, data) {
      let tip = this.showMessageTip(data)
      if (!tip) {
        return
      }
      this.dialogRiskInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 权限设置--弹窗--关闭
     */
    closeRiskDialog () {
      this.dialogRiskInfo = {}
    },
    /**
     * App设置--弹窗--显示
     */
    showAppSetDialog (index, data) {
      let tip = this.showMessageTip(data)
      if (!tip) {
        return
      }
      this.dialogAppSetInfo = {
        show: true,
        data: data
      }
    },
    /**
     * App设置--弹窗--关闭
     */
    closeAppSetDialog () {
      this.dialogAppSetInfo = {}
    },

    /**
     * 检查更新APP
     */
    async updateApp () {
      await deviceManageApi.updateApp().then((res) => {
        this.success('APP更新指令已下发,请勿重复点击!')
      })
    },

    /**
     * 检查更新--1
     */
    updateDevice (index, data, more) {
      let ids = []
      if (!more) {
        ids.push(data.id)
      } else {
        if (this.tableSelectArr.length) {
          this.tableSelectArr.forEach(o => {
            ids.push(o.id)
          })
        } else {
          this.warn('请选择设备!')
          return false
        }
      }
      if (!more) {
        let tip = this.showMessageTip(data)
        if (!tip) {
          return
        }
      }
      let params = {
        ids: ids
      }
      this.updateDeviceToService(params, more)
    },
    /**
     * 检查更新--2
     */
    async updateDeviceToService (params, more) {
      await deviceManageApi.equipmentUpdate(params).then((res) => {
        this.success('已发送!')
        if (more) {
          this.removeChecked()
        }
        this.getTableList()
      })
    },
    /**
     * 启用--禁用toggle
     */
    toggleAble (index, data, status) {
      if (status) {
        let tip = this.showMessageTip(data)
        if (!tip) {
          return
        }
      }
      let title = '禁用后设备工作手机将无法使用，确定要禁用该设备吗？'
      if (!status) {
        title = '启用设备后需要在app上点击【重连服务器】才可生效，确定要启用该设备吗？'
      }
      this.$confirm(title, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.toggleAbleToService(index, data)
      }).catch(() => { })
    },
    /**
     * 启用--禁用toggle-ToService
     */
    async toggleAbleToService (index, data) {
      let status = !data.status ? 1 : 0
      let params = {
        id: data.id,
        status: status
      }
      let that = this
      await deviceManageApi.toggleOpen(params).then((res) => {
        // that.$set(that.tableData.records[index], 'status', status)
        that.getTableList()
      })
    },
    /**
     * 联系人导入--弹窗--显示
     */
    showImportConcatDialog (index, data) {
      let tip = this.showMessageTip(data)
      if (!tip) {
        return
      }
      this.dialogImportConcatInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 联系人导入--弹窗--关闭
     */
    closeImportConcatDialog () {
      this.dialogImportConcatInfo = {}
    },

    showMessageTip (data) {
      if (data.onLine === 0) {
        let perNickName = data.perNickName || '该个人号'
        let message = `${perNickName}所属设备不在线`
        this.warn(message)
        return false
      } else {
        return true
      }
    },
    /**
     * 打印日志--弹窗--显示
     */
    uploadLogMsg (index, data) {
      // this.journalBox.status = data.realTimeLog == 0 ? 1 : 0
      // this.journalBox.id = data.id
      // let title = '是否要开启该个人号的日志'
      // if (this.journalBox.status == 0) {
      //     title = '是否要关闭该个人号的日志'
      // }
      // this.$confirm(title, '提示', {
      //     confirmButtonText: '确定',
      //     cancelButtonText: '取消',
      //     type: 'warning'
      // }).then(() => {
      //     let that = this
      //     deviceManageApi.uploadLogMsg(this.journalBox).then(res => {
      //         that.getTableList()
      //     })
      // }).catch(() => {})

      this.showOpenJournalInfo = {
        show: true,
        data: data
      }
      // console.log(this.showOpenJournalInfo.data.logLevel, this.showOpenJournalInfo.data)
    },
    // 批量开启日志
    batchOpen () {
      if (this.tableSelectArr.length > 0) {
        let params = {
          ids: [],
          status: 0
        }
        // let status = this.tableSelectArr[0].realTimeLog == 0 ? 1 : 0;
        for (let i in this.tableSelectArr) {
          params.ids.push(this.tableSelectArr[i].id)
        }
        // params.status == this.$set(params, 'status', status)
        // this.batchJournal = Object.assign({}, params)
        // deviceManageApi.batchUploadLogMsg(this.batchJournal).then(res => {
        //     this.getTableList()
        //     this.$refs.multipleTable.clearSelection()
        // })
        this.showOpenJournalInfo = {
          show: true,
          data: params
        }
      } else {
        this.error('请选择要开启日志的个人号')
      }
    },
    /**
     * 设备历史使用人--弹窗--显示
     */
    showdevicePerDialog (index, data) {
      if (data.ownerStaffId == null) {
        return this.warning('该设备暂未分配设备保管者')
      }
      this.showdevicePerInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 设备历史使用人--弹窗--关闭
     */
    closedevicePerDialog () {
      this.showdevicePerInfo = {}
    },
    /**
     * 开启日志--弹框--关闭
     * */
    closeJournalDialog () {
      this.showOpenJournalInfo = {}
    },
    /**
     * 开启日志成功传过来的值
     */
    successCommit (params) {
      this.journalBox = params
      this.getTableList()
      // 批量开启后清除选择
      this.$refs.multipleTable.clearSelection()
      // console.log(params, '---')
    }
  }
}
</script>
