<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input placeholder="微信号/微信昵称/手机号" class="ly-margin-right-bottom-sm" v-model.trim="params.relatesInformation" @keyup.native.enter="queryCallback" :maxlength="100" clearable>
    </el-input>
    <!-- button -->
    <el-button class="ly-float-right" type="primary" size="medium" @click="queryCallback">查询
    </el-button>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="个人号" width="200">
            <template slot-scope="scope">
            <personalInfo :info="scope.row.person"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="remark" label="个人号备注">
        </el-table-column>
        <el-table-column prop="replyCount" label="已设回复数">
        </el-table-column>
        <el-table-column prop="startTime" label="起始阶段">
        </el-table-column>
        <el-table-column prop="endTime" label="结束阶段">
        </el-table-column>
        <el-table-column prop="name" label="设置" width="230">
            <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="showSetAutoReplayDialog(scope.$index, scope.row)">设置新好友通过后的自动回复</el-button>
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
    </div>
    <!--设置自动回复-->
    <el-dialog title="设置自动回复" :visible.sync="dialogSetAutoReplay.show" width="880px" v-if="dialogSetAutoReplay.show" @close="closeSetAutoReplayDialog" append-to-body>
        <pAutoReplayMessage :dialogProp="dialogSetAutoReplay" @closeDialog="closeSetAutoReplayDialog" @refreshTabelList="refreshRuleTabelList"></pAutoReplayMessage>
    </el-dialog>
</div>
</div>
</template>

<script>
    import {
        deviceManageApi
    } from '@/api/system'
    import personalInfo from '@/components/common/personalInfo'
    import {
        RESOURCE_ACTION_MAP
    } from '@/constants'
    import {
        pAutoReplayMessage
    } from './components'
    import {
        resourceMixin,
        tableMixin
    } from '@/mixins'
    export default {
        mixins: [resourceMixin, tableMixin],
        components: {
            personalInfo,
            pAutoReplayMessage
        },
        data() {
            return {
                activeNames: ['1'],
                params: {
                    relatesInformation: ''
                },
                tableData: {},
                dialogSetAutoReplay: {}
            }
        },
        computed: {
            hasAction() {
                return this.hasResourceAction(RESOURCE_ACTION_MAP.NEW_MESSAGE_REPLY)
            }
        },
        created() {},
        methods: {
            async requestTableList() {
                await deviceManageApi.pAutoReplayListGet(this.params).then((data) => {
                    data.records.forEach(o => {
                        o.person = {
                            img: o.headIcon,
                            id: o.account,
                            name: o.nickName,
                            mobile: o.phone,
                            row: o
                        }
                    })
                    this.tableData = data
                })
            },
            /**
             * 自动回复列表--分页请求
             */
            pageChange(pageNum, pageSize) {
                this.getTableList(pageNum, pageSize)
            },
            /**
             * 自动回复列表--查询请求
             */
            queryCallback() {
                this.getTableList(1)
            },
            /**
             * 自动回复列表--设置自动回复--弹窗--关闭
             */
            closeSetAutoReplayDialog() {
                this.dialogSetAutoReplay = {}
            },
            /**
             * 自动回复列表--设置自动回复--弹窗--显示
             */
            showSetAutoReplayDialog(index, item) {
                this.dialogSetAutoReplay = {
                    show: true,
                    data: item
                }

            },
            /**
             * 自动回复列表--设置自动回复--刷新列表
             */
            refreshRuleTabelList() {
                this.closeSetAutoReplayDialog()
                this.getTableList()
            }
        }
    }
</script>