<template>
  <div ref="chart"></div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'
import { homeApi } from '@/api/oms'
import { echartResizeMixin } from '@/mixins'
export default {
  mixins: [echartResizeMixin],
  data() {
    return {
      chart: null,
      params: {
        enterpriseId: "",
        type: ""
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart(type = 1,m) {
      this.params.enterpriseId = m;
      this.params.type = type;

      homeApi.getSendRecieve(this.params).then(data => {
        let flag1 = data.getMessageBolist.every(v => v.value <= 5)
        let flag2 = data.sendMessageBolist.every(v => v.value <= 5)
        if (flag1 && flag2) {
          options.yAxis[0].max = 3
        } else {
          options.yAxis[0].max = null
        }
        options.xAxis[0].data = data.getMessageBolist.map(v => {
          return v.name
        })
        options.series[0].data = data.getMessageBolist.map(v => {
          return v.value
        })
        options.series[1].data = data.sendMessageBolist.map(v => {
          return v.value
        })
        options.title.subtext = data.getSendMessageNum + ''
        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        options.legend.selected = {
          '接收信息': true,
          '发送信息': true
        }
        if (this.chart.on) {
          this.chart.off('legendselectchanged')
        }
        this.chart.setOption(options)

        this.chart.on('legendselectchanged', function (params) {
          let selectKey = Object.keys(params.selected)
          let name = params.name
          let selected = options.legend.selected
          let flag = selectKey.every(v => selected[v])
          if (selected[name] && flag) {
            params.selected[name] = false
          } else {
            params.selected[name] = true
          }
          options.legend.selected = params.selected
          if (flag1 && flag2) {
            options.yAxis[0].max = 3
          } else {
            options.yAxis[0].max = null
          }
          if (!params.selected['发送信息']) {
            if (flag1) {
              options.yAxis[0].max = 3
            } else {
              options.yAxis[0].max = null
            }
          }
          if (!params.selected['接收信息']) {
            if (flag2) {
              options.yAxis[0].max = 3
            } else {
              options.yAxis[0].max = null
            }
          }
          this.setOption(options)
        })
      })
    }
  }
}
</script>
