<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse
      v-model="activeNames"
      class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
      :class="{'ly-padding-bottom-sm':!activeNames[0]}"
    >
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i
              class="el-icon-arrow-down"
              :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"
            ></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
<div class="ly-clearfix">
    <el-input v-model.trim="params.keyWord" placeholder="微信号/微信昵称/手机号" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)"></el-input>
    <!--部门级联已经调整-->
    <departmenTreeCascadert v-model="departmentList" filterable clearable placeholder="设备保管者部门" :blackData="true" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
    <!-- button -->
    <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询</el-button>
</div>
</el-collapse-item>
</el-collapse>
<!-- 数据列表 -->
<div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
    <!-- 表头 -->
    <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4" v-if="hasResourceAction(RESOURCE_ACTION_MAP.EXPORT_ALL) ">
          <el-button type="primary" size="small" @click="openFriendCallback">导出全部好友</el-button>
        </span>
    </div>
    <!-- 表格 -->
    <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55" fixed></el-table-column>
        <el-table-column label="个人号信息" min-width="200" fixed>
            <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px" :src="scope.row.headIcon | wechatAvtor" v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.phone}}</p>
                <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="性别">
            <template slot-scope="scope">
            <span v-if="scope.row.sex==1">男</span>
            <span v-else-if="scope.row.sex==2">女</span>
            <span v-else>未知</span>
          </template>
        </el-table-column>
        <el-table-column prop="personalizedSignature" label="个性签名">
            <template slot-scope="scope">
            <span>{{scope.row.personalizedSignature || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="创建时间" min-width="160">
            <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime) || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" fixed="right">
            <template slot-scope="scope">
            <el-button type="text" size="small" @click="exportCallback($event,scope.row.id)">导出好友</el-button>
            <el-button type="text" size="small" @click="openCallback($event,scope.row.id)">导出聊天记录</el-button>
          </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div class="ly-box ly-margin-top-sm">
        <div>
            <!-- <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.OVERVIEW_WAREHOUSE_COUNT)"
                   name="10">
        <Warehouse-count :data="data.warehouseDataBo || {}"
                             @refresh="getData"
                             slot="label" />
          </el-tab-pane>-->

            <el-button type="primary" v-if="hasResourceAction(RESOURCE_ACTION_MAP.EXPORT_ALL) " size="small" @click="exportCallback">导出好友</el-button>
            <el-button type="primary" size="small" @click="openCallback">导出聊天记录</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
    </div>
    <!-- 弹窗 -->
    <!-- 导出聊天记录弹窗 -->
    <el-dialog title="聊天记录导出" :visible.sync="dialog.open" width="489px" @close="closeCallback" append-to-body>
        <chatRecord :dataInfo="dialog" v-if="dialog.open"></chatRecord>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialog.open = false">取 消</el-button>
            <el-button type="primary" @click="friendExprotChatHistory">导出聊天记录</el-button>
        </div>
    </el-dialog>

    <!-- 导出全部好友弹窗 -->
    <el-dialog title="全部好友导出" :visible.sync="dialog.openFriend" width="489px" append-to-body>
        <friendAll :dataInfo="dialog" v-if="dialog.openFriend"></friendAll>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialog.openFriend = false">取 消</el-button>
            <el-button type="primary" @click="exportAllFriends">导出全部好友</el-button>
        </div>
    </el-dialog>
</div>
</div>
</template>

<script>
    // import { resourceMixin } from '@/mixins'
    import {
        RESOURCE_ACTION_MAP
    } from "@/constants";

    import chatRecord from "./components/friendExport";
    import friendAll from "./components/friendExportAll";
    import {
        downloadFile,
        getBeforeDate
    } from "@/utils";
    import {
        riskManagementApi
    } from "@/api/system";
    import {
        tableMixin,
        resourceMixin
    } from "@/mixins";
    import {
        departmenTreeCascadert
    } from "@/components/packages/system/lazyCascader";
    export default {
        mixins: [tableMixin, resourceMixin],
        components: {
            chatRecord,
            friendAll,
            departmenTreeCascadert
        },
        data() {
            return {
                RESOURCE_ACTION_MAP,
                activeNames: ["1"],
                departmentList: [],
                params: {
                    keyWord: "",
                    ownerStaffId: null
                },
                ids: [],
                dialog: {
                    openFriend: false,
                    open: false,

                    date: [null, null],
                    data: {
                        beginTime: "",
                        endTime: "",
                        // carNumberBeginTime: "",
                        // carNumberEndTime: "",
                        type: ""
                    },
                    dataFriend: {
                        timeBegin: "",
                        timeEnd: "",
                    }
                }
            };
        },

        methods: {

            // 获取列表
            async requestTableList() {
                // console.log(this.RESOURCE_ACTION_MAP.EXPORT_ALL);
                if (this.departmentList.length > 0) {
                    this.params.ownerStaffId = this.departmentList[
                        this.departmentList.length - 1
                    ];
                } else {
                    this.params.ownerStaffId = null;
                }
                await riskManagementApi.friendList(this.params).then(res => {
                    this.ids = [];
                    this.tableData = res;
                });
            },
            // 批量导出联系人
            exportCallback(obj, id) {
                if (id) {
                    // 单个导出去除选中状态
                    this.$refs.multipleTable.clearSelection();
                    this.ids = [id];
                } else {
                    if (this.ids.length === 0) {
                        this.error("请选择要处理的数据");
                        return;
                    }
                }
                riskManagementApi.friendExprot(this.ids).then(res => {
                    downloadFile(res, "微信好友联系人.xls");
                    this.success("恭喜你，导出成功");
                });
            },
            openFriendCallback() {
                this.dialog.openFriend = true;
            },
            // 导出全部好友
            exportAllFriends() {
                // this.dialog.dataFriend.timeBegin = new Date(this.dialog.date[0]).getTime();
                // this.dialog.dataFriend.timeEnd = new Date(this.dialog.date[1]).getTime();
                if (!this.dialog.date) {
                    this.error("请选择导出时间");
                    return;
                }
                this.dialog.dataFriend.ownerStaffId = this.departmentList[
                    this.departmentList.length - 1
                ];
                // console.log(this.dialog.dataFriend)
                riskManagementApi.friendExprotAll(this.dialog.dataFriend).then(res => {
                    // window.location.href = res;

                    this.success(res);
                    this.dialog.openFriend = false;
                });
            },
            openCallback(defObj, id) {
                if (id) {
                    // 单个操作去除选中状态
                    this.$refs.multipleTable.clearSelection();
                    this.ids = [id];
                } else {
                    if (this.ids.length === 0) {
                        this.error("请选择要处理的数据");
                        return;
                    }
                }
                this.dialog.open = true;
            },
            // 导出聊天记录
            friendExprotChatHistory(id) {
                this.dialog.data.beginTime = new Date(this.dialog.date[0]).getTime();
                this.dialog.data.endTime = new Date(this.dialog.date[1]).getTime();
                if (!this.dialog.date) {
                    this.error("请选择导出时间");
                    return;
                }
                if (!this.dialog.data.type && this.dialog.data.type !== "0") {
                    this.error("请选择导出类型");
                    return;
                }
                this.dialog.data.id = this.ids;
                riskManagementApi.friendExprotChatHistory(this.dialog.data).then(res => {
                    downloadFile(res, "好友聊天记录.xls");
                    this.success("恭喜你，导出成功");
                    this.dialog.open = false;
                });
            },
            // 选择时获取选中id
            handleSelectionChange(obj) {
                this.ids = [];
                for (let i = 0; i < obj.length; i++) {
                    this.ids.push(obj[i].id);
                }
            },
            closeCallback() {
                this.dialog.data.type = "";
                this.$refs.multipleTable.clearSelection();
                this.ids = [];
            }
        }
    };
</script>
