<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.keyWord" placeholder="敏感词" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)"></el-input>
          <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" size="small" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" @change="dateChange"></el-date-picker>
          <senitiveGroup placeholder="所属分组" size="medium" clearable v-model="params.groupId"></senitiveGroup>
          <!-- 敏感类型 -->
          <el-select class="ly-margin-right-bottom-sm" clearable placeholder="敏感类型" style="width: 130px" v-model="params.riskType">
            <el-option v-for="item in RISK_TYPE" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <!-- 敏感层级 -->
          <el-select class="ly-margin-right-bottom-sm" v-model="params.sensitiveLevel" clearable style="width: 170px" placeholder="请选择敏感词层级">
            <el-option v-for="item in sensitiveOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>

          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary" size="small" @click="openCallback($event,'add')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="keyWord" label="敏感词"></el-table-column>
        <el-table-column prop="groupName" label="所属分组">
          <template slot-scope="scope">
            <span>{{scope.row.groupName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="敏感类型">
          <template slot-scope="scope">
            <span>{{applyRiskTypeCall(scope.row)}}</span>
          </template>
          <!-- <template slot-scope="scope">
              <span>{{scope.row.riskType==1?'阻止并预警':'仅预警'}}</span>
            </template>-->
        </el-table-column>

        <!-- 敏感词层级 -->
        <el-table-column label="敏感词层级">
          <template slot-scope="scope">
            <span>{{applyRiskLevelCall(scope.row)}}</span>
          </template>
          <!-- <template slot-scope="scope">
              <span>{{scope.row.riskType==1?'阻止并预警':'仅预警'}}</span>
            </template>-->
        </el-table-column>
        <el-table-column prop="applyType" label="适用范围">
          <template slot-scope="scope">
            <span>{{applyTypeCall(scope.row)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffName" label="创建员工">
          <template slot-scope="scope">
            <div>{{scope.row.staffName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="创建时间" min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="openCallback($event,scope.row)">编辑</el-button>
            <el-button class="ly-font-color-7" type="text" size="small" @click.native="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog :title="dialog.title" class="ly-font-color-4" width="490px" :visible.sync="dialog.open" append-to-body>
      <sensitiveWordSet :dialog="dialog" v-if="dialog.open" @getTableList="getTableList"></sensitiveWordSet>
    </el-dialog>
  </div>
</template>

<script>
import sensitiveWordSet from './components/sensitiveWordSet'
import {
  riskManagementApi
} from '@/api/system'
import {
  tableMixin
} from '@/mixins'
import {
  senitiveGroup
} from '@/components/packages/system/lazySelect'
import {
  RISK_TYPE
} from '@/constants/selects'
export default {
  mixins: [tableMixin],
  components: {
    sensitiveWordSet,
    senitiveGroup
  },
  data () {
    return {
      sensitiveOptions: [{
        value: '1',
        label: '一级'
      }, {
        value: '2',
        label: '二级'
      }, {
        value: '3',
        label: '三级'
      }],
      RISK_TYPE: RISK_TYPE,
      activeNames: ['1'],
      params: {
        keyWord: '',
        riskType: '',
        groupId: '',
        sensitiveLevel: ''
      },

      dialog: {
        title: '',
        open: false,
        data: {
          keyWord: '',
          type: '',
          checkedbox: true,
          sensitiveLevel: ''
        }
      },
      groupType: [{
        value: 1,
        label: '测试'
      }]
    }
  },
  methods: {
    // 获取列表addWordConfig
    async requestTableList () {
      await riskManagementApi.wordConfigList(this.params).then(res => {
        this.tableData = res
      })
    },
    applyTypeCall (data) {
      switch (data.applyType) {
        case 1:
          return '微客服消息'
        case 2:
          return '朋友圈'
        case 3:
          return '微客服和朋友圈'
        default:
          return '未知类型'
      }
    },
    // 敏感词弹窗-打开
    openCallback (defObj, val) {
      if (val === 'add') {
        this.dialog = {
          title: '新增敏感词',
          open: true,
          data: {
            keyWord: '',
            type: 'textarea',
            checkedbox: true,
            sensitiveLevel: ''
          }
        }
      } else {
        if (val.riskType === 1) {
          val.riskType = true
        } else {
          val.riskType = false
        }
        this.dialog = {
          title: '编辑敏感词',
          open: true,
          data: {
            keyWord: val.keyWord,
            type: 'text',
            applyType: val.applyType,
            groupId: val.groupId,
            id: val.id,
            sensitiveLevel: val.sensitiveLevel
          }
        }
      }
    },
    // 删除
    deleteCallback (id) {
      riskManagementApi.deleteWordConfig(id).then(res => {
        this.success('恭喜你，删除成功')
        if (this.tableData.records.length === 1) {
          this.params.current--
        }
        this.getTableList()
      })
    },
    // 敏感类型筛选
    applyRiskTypeCall (data) {
      switch (data.riskType) {
        case 1:
          return '阻止并预警'
        case 2:
          return '仅预警'
        case 3:
          return '客户调研词'
        case 4:
          return '坐席调研词'
        default:
          return '未知类型'
      }
    },
    // 敏感词层级筛选
    applyRiskLevelCall (data) {
      switch (data.sensitiveLevel) {
        case 1:
          return '一级'
        case 2:
          return '二级'
        case 3:
          return '三级'
        default:
          return '未知层级'
      }
    }
  }
}
</script>
