<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i>
            {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.groupName" placeholder="分组名称" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)"></el-input>
          <el-select v-model="params.riskType" placeholder="敏感类型" clearable>
            <el-option v-for="item in RISK_TYPE" :key="item.value" :label="item.label" :value="item.value"></el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询</el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary" size="small" @click="openCallback($event,'add')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%" row-key="id" @selection-change="handleSelectionChange">
        <el-table-column type="selection" fixed="left" reserve-selection width="55"></el-table-column>
        <el-table-column prop="groupName" label="分组名称"></el-table-column>
        <el-table-column prop="remark" label="分组备注"></el-table-column>
        <el-table-column label="敏感类型">
          <template slot-scope="scope">
            <span>{{applyTypeCall(scope.row)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffName" label="创建员工">
          <template slot-scope="scope">
            <div>{{scope.row.staffName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="openCallback($event, scope.row)">修改</el-button>
            <el-button class="ly-font-color-7" type="text" size="small" @click.native="deleteCallback(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <div>
          <!-- <el-button type="primary" size="small" @click="openUpdateDialog">批量管理敏感词所属片区</el-button> -->
          <el-button type="primary" size="small" @click="openCallback($event,'update')">批量设置敏感词所属片区</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog :title="dialog.title" class="ly-font-color-4" width="490px" :visible.sync="dialog.open" append-to-body>
      <sensitiveWordGroup @che="che" :dialog="dialog" v-if="dialog.open" @getTableList="getTableList"></sensitiveWordGroup>
    </el-dialog>

  </div>
</template>

<script>
import sensitiveWordGroup from './components/sensitiveWordGroup'
import { v2riskManagementApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { RISK_TYPE } from '@/constants/selects'

export default {
  mixins: [tableMixin],
  components: { sensitiveWordGroup },
  data () {
    return {
      activeNames: ['1'],
      RISK_TYPE: RISK_TYPE,
      params: {
        groupName: '',
        riskType: ''
      },
      dialog: {
        title: '',
        open: false,
        data: {
          remark: '',
          riskType: '',
          groupName: '',
          departmentName: [],
          tableSelectArr: []
        }
      }
    }
  },
  methods: {
    // 获取列表addWordConfig
    async requestTableList () {
      await v2riskManagementApi.riskwordList(this.params).then(res => {
        this.tableData = res
      })
    },
    applyTypeCall (data) {
      switch (data.riskType) {
        case 1:
          return '阻止并预警'
        case 2:
          return '仅预警'
        case 3:
          return '客户调研词'
        case 4:
          return '坐席调研词'
        default:
          return '未知类型'
      }
    },
    // 敏感词弹窗-打开
    openCallback (defObj, val) {
      let title = '编辑分组'
      let params = {
        title: title,
        open: true,
        data: {
          remark: val.remark || '',
          riskType: val.riskType || '',
          groupName: val.groupName || '',
          // departmentName: val.departmentName || [],
          id: val.id,
          valid: val.valid || []
        }

      }

      if (val === 'add') {
        params.title = '新增分组'
        delete params.id
      }
      // 批量修改
      else if (val === 'update') {
        if (!this.dialog.data.tableSelectArr || this.dialog.data.tableSelectArr.length <= 0) {
          this.warn('请选择要设置的敏感词')
          return
        } else if (this.dialog.data.tableSelectArr.length > 100 || this.dialog.data.tableSelectArr.length == 1) {
          return this.warning(
            `单次最少允许分配[2]个敏感词,最多允许分配[100]个敏感词, 当前已选[${this.dialog.data.tableSelectArr.length}]个敏感词`
          )
        }
        params.title = '批量修改'
        params.data = {
          remark: val.remark || '',
          riskType: val.riskType || '',
          groupName: val.groupName || '',
          departmentName: val.departmentName || [],
          id: this.dialog.data.tableSelectArr || []
        }
      }
      this.dialog = params
    },
    // 删除
    deleteCallback (id) {
      this.$confirm('确定删除该敏感词分组？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.sureDelete(id)
      })
    },
    sureDelete (id) {
      v2riskManagementApi.riskwordListDelete(id).then(res => {
        this.$message.success('恭喜你，删除成功')
        if (this.tableData.records.length === 1 && this.params.current > 1) {
          this.params.current--
        }
        this.getTableList()
      })
    },

    // 选择左侧
    handleSelectionChange (val) {
      const SelectArrId = []
      val.forEach(function (v, i) {
        SelectArrId.push(v.id)
      })
      this.dialog.data.tableSelectArr = SelectArrId
    },
    che (che) {
      this.$refs.multipleTable.clearSelection()
    }

  }
}
</script>
