<template>
  <div class="map"
       ref="chart"></div>
</template>

<script>
import echarts from 'echarts'
import '@static/js/echarts/china'
import provinces from '@/assets/js/provinces'
import options from './src/options'
import { v3indexApi } from '@/api/system'
import { echartResizeMixin } from '@/mixins'

export default {
  mixins: [echartResizeMixin],
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart() {
      v3indexApi.getUserProvince().then(data => {
        let another = data[0].value
        const dataMap = {}
        let sum = 0
        data.forEach(v => {
          dataMap[v.name] = v
          sum += v.value
        })
        options.title.text = `好友地区统计 共${sum}(位) | 其他 ${another} (位)`
        options.series[0].data = provinces.map(v => {
          return dataMap[v.name] || { ...v, value: 0 }
        })

        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
