<template>
  <div>

    <div class="lyy-body wechat-custom-service">
      <div class="lyy-page-head lyy-el-header main-chat-header">
        <chatHeader :index="activeIndex" @select-nav-menu="selectNavMenu" ref="chatHeader"></chatHeader>
      </div>
      <div class="lyy-page-container">
        <!-- aside -->
        <div class="lyy-page-aside">
          <!-- 客服账号列表 -->
          <ul v-show="!concentratedDialogue" class="account-list fl">
            <li v-for="(item, index) in personalAccountList" :key="item.id" class="account-item" :class="{'active': activeChatAccountInfo && activeChatAccountInfo.id === item.id, 'on-line': item.onLine}" @click="changeAccount(index)">
              <div class="user-info">
                <el-badge :value="accountListNotReadCountMap[item.id] > 999 ? '999+' : accountListNotReadCountMap[item.id]" class="item" v-if="accountListNotReadCountMap[item.id] > 0">
                  <img :src="item.headIcon | csAvtor" class="user-avtor" />
                </el-badge>
                <img :src="item.headIcon | csAvtor" class="user-avtor" v-else />
                <div class="user-status"></div>
              </div>
              <div class="user-name">{{ item.remark || item.nickName || item.wxId }}</div>
            </li>

          </ul>

          <!-- 个人号主菜单 -->
          <chatLeftSideAccountMainMenu :data="concentratedDialogue ? onConcentDialoNotReadData : nowAccountNotReadData" :account-list="personalAccountList" :account-map="personalAccountMap" @change-list-type="changeFriendListType" ref="leftSide"></chatLeftSideAccountMainMenu>
        </div>
        <!-- main -->
        <div class="lyy-page-main main-center" :class="{'on-concent': concentratedDialogue ? true : false}" v-if="personalAccountList.length > 0">
          <div class="lyy-page-body lyy-page-vmadialog">
            <div class="main-chat-panel">
              <!-- 聊天窗体 -->
              <mainChatBox v-model="chatBoxShow" @show-chat-record="showChatRecord" @after-send-msg-fail="afterSendMsgFail" @on-ready-send-msg="onReadySendMsg" @after-transfer-success="afterCustomerServiceTransferFriend" ref="mainChatBox" :not-read-msgs="(activeChatAccountInfo && notReadMsgs[activeChatAccountInfo.id]) || {}"></mainChatBox>
              <!-- 好友/群组信息 -->
              <main-info-box v-if="activeChatFriendInfo && infoBoxShow" @show-chat-box="showChatBox"></main-info-box>
            </div>
          </div>
        </div>
        <!-- 右边其它内容 -->
        <div width="auto" class="lyy-page-aside main-right-side" v-if="personalAccountList.length > 0">
          <!-- 聊天相关菜单 -->
          <chatRightSideTabs ref="chatRightSideTabs" class="side-content" v-if="rightSideSelected === '0'"></chatRightSideTabs>
          <!-- 商品推荐 -->
          <recommended-goods class="side-content nav-menu-page" v-else-if="rightSideSelected === '1'" @close-nav-page="showChatRightSideTabs"></recommended-goods>
          <!-- 购物订单 -->
          <shopping-orders class="side-content nav-menu-page" v-else-if="rightSideSelected === '2' && activeChatFriendInfo.type === SESSION_TYPE.C2C" @close-nav-page="showChatRightSideTabs"></shopping-orders>
          <!-- 我的收藏 -->
          <my-favorites class="side-content nav-menu-page" v-else-if="rightSideSelected === '3'" @close-nav-page="showChatRightSideTabs"></my-favorites>
          <!-- 朋友圈 -->
          <moment class="side-content nav-menu-page" v-else-if="rightSideSelected === '5'" @close-nav-page="showChatRightSideTabs" ref="moment"></moment>
        </div>
      </div>
      <!-- footer -->
      <chatFooter ref="chatFooter"></chatFooter>
    </div>
    <audio :src="msgNoticeAudioSource" ref="msgNoticeAudio"></audio>
    <!-- 消息推送 -->
    <pushAssistant v-if="msgPushShow" :show="msgPushShow" :account-list="personalAccountList" ref="pushAssistant" @on-close="onMsgPushClose"></pushAssistant>

    <!-- 弹框 -->
    <el-dialog :before-close="handleClose" title="修改密码" class="dialog-hide-footer" width="500px" append-to-body :visible.sync="modifyPassword.show">
      <!-- @on-cancel="() => modifyPassword.show = true" -->
      <modify-password v-if="modifyPassword.show" @after-submit="afterModifyPassword" @on-cancel="handleClose" />
    </el-dialog>
  </div>
</template>

<script>
import ModifyPassword from '@/components/packages/system/main/components/modifyPassword'

import chatHeader from './components/chatHeader'
import chatFooter from './components/chatFooter'
import mainChatBox from './components/mainChatBox'
import mainInfoBox from './components/mainInfoBox'
import chatLeftSideAccountMainMenu from './components/chatLeftSideAccountMainMenu'
import chatRightSideTabs from './components/chatRightSideTabs'
import recommendedGoods from './components/recommendedGoods'
import moment from './components/moment'
import pushAssistant from './components/pushAssistant/index'
import myFavorites from './components/myFavorites'
import shoppingOrders from './components/shoppingOrders/index'
import {
  customerServiceApi,
  commonApi,
  chatApi
} from '@/api/chat'
import WebIM from '@/assets/js/webIM/im/index.js'
import {
  wechatInfoSession,
  adminInfoSession
} from '@/storage'
import {
  mapMutations,
  mapGetters,
  mapActions
} from 'vuex'
import * as mutationsType from '@/store/mutation-types.js'
import {
  redirectToSystemHome
} from '@/router'
import {
  chatServerImAccountId,
  defautWechatAvtor
} from '@/config'
import {
  MESSAGE_SUB_TYPE,
  NOTICE_TYPE,
  FOOTER_SWITCHS,
  SESSION_TYPE,
  IM_LOGIN_ERROR_CODE,
  MESSAGE_COUNT_TYPE
} from '@/constants/chat'
import chatFooterSwitchsMxins from '@/pages/chat/home/src/chatFooterSwitchsMxins'
import getSessionTypeAndWxId from '@/pages/chat/home/src/getSessionTypeAndWxId'
import {
  MyNotification,
  defaultCustomerServiceAvtor,
  userAgent
} from '@/utils'
import msgNoticeAudioSource from '@static/sound/msg.mp3'
import getChatAccountInAccountList from './src/getChatAccountInAccountList'
import Logger from '@/utils/logger'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
import UserInfoDB from '@/indexDB/chat/userInfo'
import sensitiveWordsMixin from '@/pages/chat/home/src/sensitiveWordsMixin'

export default {
  components: {
    chatHeader,
    chatFooter,
    mainChatBox,
    mainInfoBox,
    chatLeftSideAccountMainMenu,
    chatRightSideTabs,
    recommendedGoods,
    moment,
    pushAssistant,
    myFavorites,
    shoppingOrders,
    ModifyPassword
  },
  mixins: [chatFooterSwitchsMxins, requestIdMixins, sensitiveWordsMixin],
  provide () {
    return {
      aiMsgInfo: this.aiMsgInfo

    }
  },
  data () {
    return {
      modifyPassword: {
        show: false
      },
      SESSION_TYPE,
      FOOTER_SWITCHS,
      NOTICE_TYPE,
      msgNoticeAudioSource,
      hiddenProperty: null,
      // 页面是否非激活
      isHidden: false,
      // 消息推送显示
      msgPushShow: false,
      // 所有联系人点击好友/群聊后的信息
      infoBoxShow: false,
      // 聊天弹窗
      chatBoxShow: false,
      // 选择的nav菜单
      activeIndex: null,
      // 当前好友列表类型 contacts联系人/chats最近聊过
      friendListType: 'chats',
      // 个人号未读的消息，用来分配给各个最近联系人
      notReadMsgs: {},
      contextMenuData: {
        menuName: null,
        axis: {
          x: null,
          y: null
        },
        menulists: [{
          fnHandler: 'showSetRemarkPanel',
          // icoName: 'el-icon-message',
          btnName: '修改备注'
        }, {
          fnHandler: 'showMoveFriendGroup',
          btnName: '移动分组'
        }]
      },
      // 右边快捷回复/好友资料/聊天记录
      rightSideSelected: '0',
      // 个人号列表
      personalAccountList: [],
      // 以个人号id为key，用于接收消息时快速找到对应的个人号
      personalAccountMap: {},
      // 以个人号微信id为key，用于接收消息时快速找到对应的个人号
      personalAccountMapByWxId: {},
      webIM: null,
      // 登录信息
      imLoginInfo: null,
      // 个人号列表未读消息数统计
      accountListNotReadCountMap: {},
      // 当前个人号未读相关信息
      nowAccountNotReadData: {
        notReadMsgs: {},
        notReadTotalNum: null
      },
      // 合并对话后的未读统计
      onConcentDialoNotReadData: {
        notReadTotalNum: 0,
        notReadMsgs: {}
      },
      aiMsgInfo: {
        status: false
      }
    }
  },
  computed: {
    ...mapGetters([
      'theme',
      'chatIM',
      'adminInfo',
      'activeChatAccountInfo',
      'activeChatFriendInfo',
      'chatUserInfoDB'
    ]),
    concentratedDialogue () {
      Logger.info(
        '未读查看',
        this.nowAccountNotReadData,
        this.notReadMsgs,
        this.onConcentDialoNotReadData
      )
      return this.getChatFooterSwitchsStatus(
        FOOTER_SWITCHS.CONCENTRATED_DIALOGUE
      )
    }
  },
  created () {
    // 调用判断密码弹出弹框
    // this.getPassWord();
    // 企业id
    const firmId = adminInfoSession.getJSON().enterpriseId || ''
    // 打开/创建indexDB
    let userInfoDB = new UserInfoDB({
      firmId,
      onSuccess: () => {
        this.initPage()
        // 保存indexedDB链接
        this.updateChatUserInfoDB(userInfoDB)
      },
      onError: async event => {
        await this.$confirm(
          `请问是否需要刷新页面重试？\r\nindexedDB ERROR:\r\n${JSON.stringify(
            event
          )}。`,
          '提示', {
          confirmButtonText: '确定',
          type: 'warning'
        }
        )
        location.reload()
      },
      onUpgradeneeded: () => {
      }
    })
    // 监听页面是否激活
    this.addListenPageHide()
    // 判断当前浏览器为什么浏览器
    let browser = userAgent()
    // console.log(browser, '+++++++++++++++++++++')
    if (browser == 'IE' || !browser) {
      // console.log(`我是${browser}`)
    } else {
      // 页面非激活时提示消息工具类
      this.notification = new MyNotification()
    }

    // 查看localhost name
    // var entrnUrl = window.location.href
    // var resultUrl = entrnUrl.indexOf('?token=')
    // if (resultUrl > 0) {
    //     console.log(resultUrl, entrnUrl, '--------')
    //     entrnUrl = entrnUrl.substring(0, resultUrl)
    // }

    // this.$onBus('pageList', data => {
    //     let obj = {
    //         wxId: 'wxid_d93kvaa1ko0g22'
    //     }
    //     data.forEach((item, index) => {
    //         if (item.wxId === obj.wxId) {
    //             return console.log(item.areaName)
    //         }
    //     })
    // })
  },
  watch: {
    /**
     * 切换个人号
     * @param  {[type]} newVal [description]
     * @return {[type]}        [description]
     */
    activeChatAccountInfo (newVal, oldVal) {
      Logger.info(
        '切换个人号',
        newVal,
        oldVal,
        '未读统计',
        this.onConcentDialoNotReadData,
        this.notReadMsgs,
        this.nowAccountNotReadData
      )
      // 不用做这些做这些
      if (!newVal || !newVal.id) {
        this.nowAccountNotReadData = {
          notReadMsgs: {},
          notReadTotalNum: 0
        }
        return
      } else if (
        oldVal &&
        newVal &&
        newVal.id &&
        newVal.id &&
        newVal.id === oldVal.id
      ) {
        // 切换上线状态时、刚刚进来默认选择第一个个人号时可能会触发
        this.nowAccountNotReadData = {
          notReadMsgs: this.notReadMsgs[newVal.id],
          notReadTotalNum: this.accountListNotReadCountMap[newVal.id]
        }
        return
      } else if (this.concentratedDialogue) {
        // 集中对话时
        return
      }
      this.nowAccountNotReadData = {
        notReadMsgs: this.notReadMsgs[newVal.id],
        notReadTotalNum: this.accountListNotReadCountMap[newVal.id]
      }
      this.hideInfoBoxAndChatBox()
    },
    /**
     * 点击好友
     * @param  {[type]} newVal [description]
     * @return {[type]}        [description]
     */
    activeChatFriendInfo (newVal, oldVal) {
      Logger.info('点击好友', newVal)
      if (!newVal) {
        // 当处于没有选中聊天的客户，且购物订单/朋友圈打开时
        if (this.rightSideSelected !== '1') {
          this.showChatRightSideTabs()
        }
        return
      }
      // 跟刚才是同一个个人号的同一个好友
      if (
        oldVal &&
        oldVal.id &&
        newVal.id === oldVal.id &&
        newVal.accountId === oldVal.accountId &&
        this.friendListType === 'contacts'
      ) {
        return
      }
      // 群聊没有订单
      if (this.activeIndex === '2' && newVal.type === SESSION_TYPE.GROUP) {
        return this.showChatRightSideTabs()
      }
      let oldAccountId = this.activeChatAccountInfo.id
      let newAccountInfo = getChatAccountInAccountList({
        accountList: this.personalAccountList,
        accountId: newVal.accountId
      })
      if (
        oldVal &&
        newVal.id === oldVal.id &&
        newVal.type === oldVal.type &&
        newAccountInfo.id === oldAccountId
      ) {
        // 点击的是已选中的好友
        if (this.friendListType === 'chats' && this.infoBoxShow) {
          // 显示聊天窗
          this.showChatBox()
        } else if (this.friendListType === 'contacts' && this.chatBoxShow) {
          this.showInfoBox()
        }
        return
      }
      // 群聊时，并且打开聊天窗
      if (this.rightSideSelected === '5') {
        this.showChatRightSideTabs()
      }
      if (this.friendListType === 'chats') {
        // 显示聊天窗
        this.showChatBox()
      } else {
        this.showInfoBox()
      }
    }
  },
  methods: {
    ...mapMutations({
      updateChatAccountInfo: mutationsType.ACTIVE_CHAT_ACCOUNT_INFO,
      updateChatUserInfoDB: mutationsType.CHAT_USER_INFO_DB,
      updateChatIM: mutationsType.CHAT_IM
    }),
    ...mapActions(['logout']),
    redirectToSystemHome,
    getSessionTypeAndWxId,
    // 页面初始化，在im登录连接之后
    async initPage () {
      // 登录im
      await this.loginWebIM()
      // 获取个人号列表
      const personalAccountList = await this.getPersonalAccountList()
      if (personalAccountList.length === 0) return false
      // 统计未读数量
      // 获取所有未读消息
      let notReadMsgs = await this.chatIM.getNotReadMsgs()
      await this.countNotReadNumber(notReadMsgs)
      // 显示当前个人号信息
      this.changeAccount(0)
    },
    // 获取个人号列表
    async getPersonalAccountList () {
      let personalAccountList = await customerServiceApi.getPersonalAccountList()
      Logger.info('显示当前个人号信息', 'personalAccountList', personalAccountList)
      this.updateAccountList(personalAccountList)
      return personalAccountList
    },
    updateAccountList (accountList) {
      this.personalAccountList = accountList
      let accountMap = {}
      let personalAccountMapByWxId = {}
      accountList.forEach(v => {
        accountMap[v.id] = v
        personalAccountMapByWxId[v.wxId] = v
      })
      this.personalAccountMap = accountMap
      this.personalAccountMapByWxId = personalAccountMapByWxId
    },
    /**
     * 统计未读
     * @param  {[type]} originaNotReadMsgs  未读消息列表
     */
    async countNotReadNumber (originaNotReadMsgs) {
      // 检查哪些好友被转接走，但是又还在腾讯IM存在未读消息
      let checkUpOutList = {}
      // 用于统计各个个人号下，各个用户的多条消息的时间戳
      let msgsTimeMap = {}
      let accountsMap = this.personalAccountMap
      let refuseMsgTypeList = [
        MESSAGE_SUB_TYPE.VMA_MOMENTS_ELEM,
        MESSAGE_SUB_TYPE.VMA_CANCEL_ELEM
      ]
      Logger.info('拉取所有未读进行统计', 'originaNotReadMsgs')
      let userMsgs = originaNotReadMsgs.filter(val => {
        let msgData = val.data
        // 有微客服本地消息id就是回调消息，不显示
        if (
          msgData &&
          msgData.isSelfSend === 0 &&
          msgData.msgType &&
          refuseMsgTypeList.indexOf(msgData.msgType) === -1 &&
          !msgData.wkfMsgId &&
          accountsMap[msgData.wechatAccountId]
        ) {
          let account = accountsMap[msgData.wechatAccountId]
          if (!account) {
            return false
          }
          let accountId = account.id
          let {
            type,
            wxId
          } = getSessionTypeAndWxId(
            msgData.talkerRoomWxId,
            msgData.talkerWxId
          )
          if (!msgsTimeMap[accountId]) {
            checkUpOutList[accountId] = {
              accountId,
              user: []
            }
            msgsTimeMap[accountId] = {}
          }
          if (!msgsTimeMap[accountId][wxId]) {
            checkUpOutList[accountId].user.push({
              wxId,
              type
            })
            msgsTimeMap[accountId][wxId] = {}
          }
          if (msgsTimeMap[accountId][wxId][msgData]) {
            msgsTimeMap[accountId][wxId][msgData]++
          } else {
            msgsTimeMap[accountId][wxId][msgData] = 1
          }
          return true
        }
      })
      // 筛选出有效的未读消息并统计
      let {
        notReadMsgs,
        notReadCount,
        onConcentDialoData
      } = await this.checkUpOutFriend(checkUpOutList, userMsgs, accountsMap)
      // 各个好友的未读统计
      this.notReadMsgs = notReadMsgs || {}
      // 个人号未读总数统计
      this.accountListNotReadCountMap = notReadCount || {}
      // 集中对话时
      this.onConcentDialoNotReadData = onConcentDialoData || {}
      Logger.info(
        'notReadMsgs',
        notReadMsgs,
        notReadCount,
        this.activeChatAccountInfo &&
        this.notReadMsgs[this.activeChatAccountInfo.id]
      )
    },
    // 获取未读统计map中各个好友对应的key
    getNotReadMsgsFriendKey (accountId, type, wxId) {
      return (
        accountId + '' + (type === SESSION_TYPE.C2C ? 'f' : 'g') + '' + wxId
      )
    },
    /**
     * 去除已经转走的好友的未读消息统计
     * @param  {[type]} checkUpOutMap     待检测的好友、及其个人号
     * @param  {[type]} userMsgs          好友发来的未读消息
     * @param  {[type]} accountsMap       个人号map
     */
    async checkUpOutFriend (checkUpOutMap, userMsgs, accountsMap) {
      // 各个个人号的总数
      let notReadCount = {}
      // 统计微信个人号下的各个好友
      let notReadMsgs = {}
      // 合并会话时所使用的总数、各个好友的统计
      let onConcentDialoData = {
        notReadTotalNum: 0,
        notReadMsgs: {}
      }
      if (Object.keys(checkUpOutMap).length === 0) {
        return {
          notReadMsgs,
          notReadCount,
          onConcentDialoData
        }
      }
      // 检查哪些好友被转接走，但是又还在腾讯IM存在未读消息
      let params = []
      for (let x in checkUpOutMap) {
        if (checkUpOutMap[x]) {
          params.push({
            accountId: checkUpOutMap[x].accountId,
            user: checkUpOutMap[x].user
          })
        }
      }
      // 返回仍然存在当期微客服中的好友、以及分配时间
      let stillExists =
        (await customerServiceApi.checkUpMineCustom(params)) || []
      // 空间换时间，制作map，方便后面通过最后分配给当前微客服的时间进行筛选
      let timeMap = {}
      for (let key in stillExists) {
        let v = stillExists[key]
        if (!timeMap[v.accountId]) {
          timeMap[v.accountId] = {}
        }
        v.user.forEach(val => {
          timeMap[v.accountId][val.wxId] = val.assignTime
        })
      }
      // 根据时间筛选、统计
      userMsgs.forEach(val => {
        let msgData = val.data
        let account = accountsMap[msgData.wechatAccountId]
        if (!account) {
          return false
        }
        // 按不同好友/群组
        let {
          type,
          wxId
        } = getSessionTypeAndWxId(
          msgData.talkerRoomWxId,
          msgData.talkerWxId
        )
        let accountId = account.id
        if (!timeMap[accountId]) {
          return false
        }
        let assignTime = timeMap[accountId][wxId]
        // 没有这个好友，说明没分配给当前微客服
        if (!assignTime || assignTime > msgData.creatTime) {
          return false
        }
        // 获取未读统计中，各个好友未读数统计map的对应key
        let key = this.getNotReadMsgsFriendKey(accountId, type, wxId)
        if (!notReadMsgs[accountId]) {
          // 没有这个个人号的统计
          notReadMsgs[accountId] = {}
        }
        if (!notReadMsgs[accountId][key]) {
          // 有个人号，没这个好友/群聊的统计
          notReadMsgs[accountId][key] = 1
        } else {
          // 有这个个人号、及好友/群聊的统计
          notReadMsgs[accountId][key]++
        }
        // 各个个人号的未读总数
        if (!notReadCount[accountId]) {
          notReadCount[accountId] = 1
        } else {
          notReadCount[accountId]++
        }
        // 合并对话时使用的
        onConcentDialoData.notReadTotalNum++
        onConcentDialoData.notReadMsgs[key] = notReadMsgs[accountId][key]
      })
      return {
        notReadMsgs,
        notReadCount,
        onConcentDialoData
      }
    },
    /**
     * 获取im登录信息
     */
    async getImLoginInfo () {
      let imLoginInfo = await this.getWeiCustomerServiceInfo()
      let userInfo = await this.getUserSig({
        identifier: imLoginInfo.identifier
      })
      imLoginInfo.userSig = userInfo.userSig
      wechatInfoSession.setJSON(imLoginInfo)
      return imLoginInfo
    },
    // 获取微客服id、腾讯云的ID等配置信息
    getWeiCustomerServiceInfo () {
      return commonApi.getImLoginInfo()
    },
    // 通过腾讯云的ID获取对应userSig
    getUserSig (option) {
      return chatApi.getCustomerServiceUserSig(option)
    },
    /**
     * 监听im连接成功时
     * @param  {[type]} resp [description]
     */
    connectStatusOn (resp) {
    },
    /**
     * im连接断开
     * @param  {[type]} info [description]
     * @return {[type]}      [description]
     */
    connectStatusOff (info) {
      this.$confirm(info + '。请问是否需要刷新页面？', '提示', {
        confirmButtonText: '确定',
        type: 'warning'
      }).then(() => {
        location.reload()
      })
    },
    /**
     * im连接恢复正常
     * @return {[type]} [description]
     */
    connectStatusReconnect () {
    },
    /**
     * 连接状态未知
     * @return {[type]} [description]
     */
    connectStatusUnknow () {
    },
    /**
     * 被其它实例踢下线
     * @return {[type]} [description]
     */
    onKickedEventCall () {
      this.$confirm('当前微客服账号在其它地方登陆，您已经被挤下线', '提示', {
        confirmButtonText: '确定',
        type: 'warning',
        showCancelButton: false,
        closeOnClickModal: false,
        showClose: false,
        callback: action => {
          // 强制踢出
          if (action === 'confirm') {
            this.logout(true)
          }
        }
      })
    },
    /**
     * 监听群组消息
     * @param  {[type]} content [description]
     * @param  {[type]} type    [description]
     * @return {[type]}         [description]
     */
    onGroupMsgNotify (content, type) {
      Logger.info('onGroupMsgNotify', content, type)
    },
    /**
     * 检查敏感词匹配结果
     * @param  {[type]} content [description]
     * @return {[type]}         [description]
     */
    getCustomerWordsResult (content, fWxId) {
      let warning = this.checkCustomerds(
        content,
        this.activeChatAccountInfo.imAccount,
        1,
        fWxId
      )
    },
    /**
     * 监听c2c消息
     * @param  {[type]} content [description]
     * @param  {[type]} fromImAccount  [description]
     * @param  {[type]} type    [description]
     * @return {[type]}         [description]
     */
    onC2CMsgNotify ({
      data,
      imAccount
    } = {}) {
      Logger.info('onC2CMsgNotify', data)
      if (!data) return
      if (imAccount === chatServerImAccountId) {
        // 服务器通知消息
        return this.onReceivedServerAccount(data)
      }
      let account = data.wechatAccountId
        ? this.personalAccountMap[data.wechatAccountId]
        : this.personalAccountMapByWxId[data.wxId]
      if (!(account && account.id)) return
      if (data.isSelfSend == 0 && data.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM) {
        this.getCustomerWordsResult(data.content, data.talkerWxId)
      }
      let accountId = account.id
      if (data.msgType === MESSAGE_SUB_TYPE.VMA_MOMENTS_ELEM) {
        // 朋友圈的消息回调
        this.onReceivedMomentsMsg(data, imAccount)
      } else if (this.concentratedDialogue) {
        // 收到当前集中对话的消息
        this.onReceivedMsgInFocus(data, imAccount, accountId)
      } else if (
        this.activeChatAccountInfo &&
        accountId === this.activeChatAccountInfo.id
      ) {
        // 收到当前个人号的消息/集中对话
        this.onReceivedActiveAccountMsg(
          data,
          imAccount,
          this.activeChatAccountInfo.id
        )
      } else {
        // 收到非当前个人号的消息
        this.onReceivedNoActiveAccountMsg(imAccount, accountId, data)
      }
    },
    /**
     * 隐藏时，收到消息就提示
     * @param  {[type]} msgData       [description]
     * @param  {[type]} fromImAccount [description]
     * @param  {[type]} type          [description]
     * @return {[type]}               [description]
     */
    async onReceivedMsgInHide (accountId, msgData, nickName, headIcon, remark) {
      Logger.info('隐藏时，收到消息就提示')
      if (msgData.isSelfSend == 0) {
        // this.getCustomerWordsResult(msgData.content, msgData.talkerWxId);
      }
      if (!this.isHidden) return
      let content, name
      if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_TEXT_ELEM) {
        content = msgData.content
      } else if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM) {
        content = '[图片]'
      } else if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_SOUND_ELEM) {
        content = '[语音消息]'
      } else if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM) {
        content = '[视频]'
      } else if (msgData.msgType === MESSAGE_SUB_TYPE.WX_BUSINESS_CARD_ELEM) {
        content = '[微信分享名片]'
      } else if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_SYSTEM_ELEM) {
        content = '[系统消息]'
      } else if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_FILE_ELEM) {
        content = '[文件消息]'
      } else if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_CANCEL_ELEM) {
        content = '[对方撤回了一条消息]'
      } else {
        content = '[不支持此消息，请在手机上查看]'
      }
      if (nickName) {
        // 本地有用户数据，直接提示
        name = remark ? remark + '(' + nickName + ')' : nickName
        return this.showNotification(
          name,
          content,
          headIcon || defautWechatAvtor
        )
      }
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      // 获取头像、昵称、备注
      let friendData = await this.$refs.leftSide.getFriendData(
        wxId,
        type,
        accountId
      )
      name = friendData.remark
        ? friendData.remark + '(' + friendData.nickName + ')'
        : friendData.nickName
      this.showNotification(
        name,
        content,
        friendData.headIcon || defaultCustomerServiceAvtor
      )
    },
    async showNotification (name, content, headIcon) {
      let params = {
        title: name,
        body: content,
        icon: headIcon
      }
      this.notification.showNotification(params)
    },
    // 待办事项Tab未激活提示
    async showtodoThings (msgData) {
      let params = {
        title: msgData.notice.scheduleUser,
        body: msgData.notice.scheduleValue,
        icon: 'https://s1.ax1x.com/2019/11/19/MR8854.png'
      }
      this.notification.showNotification(params)
    },
    /**
     * 集中对话时收到消息
     * @return {[type]} [description]
     */
    onReceivedMsgInFocus (msgData, fromImAccount, accountId) {
      this.onReceivedActiveAccountMsg(msgData, fromImAccount, accountId)
    },
    /**
     * 收到当前个人号/集中对话消息
     * @param  {[type]} msgData       [description]
     * @param  {[type]} fromImAccount [description]
     * @return {[type]}               [description]
     */
    onReceivedActiveAccountMsg (msgData, fromImAccount, fromPersonalAccountId) {
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      if (msgData.msgType === MESSAGE_SUB_TYPE.VMA_DELETE_ELEM) {
        Logger.info('手机上面删除消息，发送提示给微客服')
        // 手机上面删除消息
        this.whetherIsActiveFriend(null, type, fromPersonalAccountId, wxId) &&
          this.$refs.mainChatBox &&
          this.$refs.mainChatBox.receivedDeleteMessage(msgData)
        return
      }
      // 判断是客户，还是微信客户端的同步消息
      if (msgData.isSelfSend === 0) {
        // 提示音
        this.playReceivedMsgAudio()
        Logger.info('当前个人号客户发来的消息，更改最近联系人的最新消息、排序')
        // 客户发来的消息，需要设置未读/显示到聊天窗口
        this.onReceivedActiveAccountFriendMsg(
          msgData,
          fromImAccount,
          fromPersonalAccountId
        )

        // 服务端统计+1,接收
        this.sendCountMessage(
          MESSAGE_COUNT_TYPE.RECEIVED,
          type,
          wxId,
          fromPersonalAccountId
        )
        // } else if (msgData.isSelfSend === 1 && !msgData.wkfMsgId) {
      } else if (msgData.isSelfSend === 1) {
        Logger.info(
          '1、消息回调。2、当前个人号微信客户端向客户发送的消息，同步到微客服'
        )
        // 微信客户端向客户发送的消息，同步到微客服，不需要设置未读、不需要显示到聊天窗口
        this.onActiveAccountWechatClientPushMsg(
          msgData,
          fromImAccount,
          fromPersonalAccountId
        )
        // 服务端统计+1,发送
        this.sendCountMessage(
          MESSAGE_COUNT_TYPE.SEND,
          type,
          wxId,
          fromPersonalAccountId
        )
      }
    },
    /**
     * 当前个人号/集中对话，客户发来的消息，需要设置未读、显示到聊天窗口
     * @return {[type]} [description]
     */
    onReceivedActiveAccountFriendMsg (
      msgData,
      fromImAccount,
      fromPersonAccount
    ) {
      // 更改最近联系人的最新消息、排序，是否插入新的一条
      this.$refs.leftSide.onReceivedActiveAccountFriendMsg(
        msgData,
        fromImAccount,
        fromPersonAccount
      )
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      // 是否未读
      if (
        this.chatBoxShow &&
        this.activeChatAccountInfo &&
        this.activeChatAccountInfo.id === fromPersonAccount &&
        this.activeChatFriendInfo &&
        this.activeChatFriendInfo.wxId === wxId &&
        this.activeChatFriendInfo.type === type
      ) {
        // 聊天窗口
        // 收到当前聊天客户的信息
        Logger.info('收到当前正在聊的客户发来的信息')
        // 显示
        this.$refs.mainChatBox.receivedNowFriendMsg(msgData)
        // 页面非激活时，获取好友资料并桌面右下角提醒
        this.onReceivedMsgInHide(
          fromPersonAccount,
          msgData,
          this.activeChatFriendInfo.nickName,
          this.activeChatFriendInfo.headIcon,
          this.activeChatFriendInfo.remark
        )
      } else {
        // 非当前客户，更改未读提示数据变，最近联系人/好友、个人号列表
        Logger.info('没有打开好友')
        this.incNotReadNum(fromPersonAccount, wxId, type, 1)
        // 页面非激活时，获取好友资料并桌面右下角提醒
        this.onReceivedMsgInHide(fromPersonAccount, msgData)
        // if (this.isHidden) {
        //   let friendData = this.$refs.leftSide.getFriendData(wxId, type, fromPersonAccount)
        //   if (friendData) {
        //     this.onReceivedMsgInHide(fromPersonAccount, msgData, friendData.nickName, friendData.headIcon, friendData.remark)
        //   } else {
        //     this.onReceivedMsgInHide(fromPersonAccount, msgData)
        //   }
        // }
      }
      Logger.info(
        '自动回复状态',
        this.getChatFooterSwitchsStatus(FOOTER_SWITCHS.REPLY_MSG_AUTO)
      )
      // 自动回复
      this.autoReplyCustomerMsg(msgData, fromImAccount, fromPersonAccount)
      this.aiMsgInfo.status = !this.aiMsgInfo.status
    },
    /**
     * 自动回复文字信息
     */
    autoReplyCustomerMsg (msgData, fromImAccount, fromAccountId) {
      this.getChatFooterSwitchsStatus(FOOTER_SWITCHS.REPLY_MSG_AUTO) &&
        this.$refs.mainChatBox.autoReplyCustomerMsg(
          msgData,
          fromImAccount,
          fromAccountId
        )
    },
    /**
     * 当前个人号的微信客户端的推送消息
     */
    onActiveAccountWechatClientPushMsg (
      msgData,
      fromImAccount,
      fromPersonalAccountId
    ) {
      // console.log('当前个人号的微信客户端的推送消息')
      // console.log(msgData)
      if (msgData.wkfMsgId) {
        Logger.info('消息的回调')
        this.afterSendWexinCallbackActiveAccount(
          msgData,
          fromImAccount,
          fromPersonalAccountId
        )
      } else {
        Logger.info('客户端同步过来的消息')
        // 客户端同步过来的消息
        this.onWechatClientMsgPushToWebActiveAccount(
          msgData,
          fromImAccount,
          fromPersonalAccountId
        )
      }
    },
    /**
     * 当前个人号/集中对话的消息回调
     */
    afterSendWexinCallbackActiveAccount (
      msgData,
      fromImAccount,
      fromPersonalAccountId
    ) {
      // 消息的回调
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      if (
        this.chatBoxShow &&
        this.activeChatAccountInfo &&
        this.activeChatAccountInfo.id === fromPersonalAccountId &&
        this.activeChatFriendInfo &&
        this.activeChatFriendInfo.wxId === wxId &&
        this.activeChatFriendInfo.type === type
      ) {
        // 是正聊天的好友
        // this.$refs.mainChatBox.afterSendWexinCallbackActiveFriend(msgData)
        this.$emitBus('send-commit', msgData)
      } else {
        // 非当前聊天的好友的回调
        this.afterSendWexinCallbackNoActiveFriend(
          msgData,
          fromImAccount,
          fromPersonalAccountId
        )
      }
      // 更改发送中的消息队列统计
      this.changeSendingMessageQueue(type, wxId, -1, fromPersonalAccountId)
    },
    /**
     * 非当前聊天的好友的回调
     */
    afterSendWexinCallbackNoActiveFriend (
      msgData,
      fromImAccount,
      fromPersonalAccountId
    ) {
      this.$refs.mainChatBox.afterSendWexinCallbackNoActiveFriend(
        msgData,
        fromImAccount,
        fromPersonalAccountId
      )
    },
    /**
     * 微信手机端主动发的消息同步过来,当前个人号/集中对话
     */
    onWechatClientMsgPushToWebActiveAccount (msgData, fromImAccount, accountId) {
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        (msgData.talkerWxId || msgData.talkerWxIds)
      )
      this.$refs.leftSide.onActiveAccountWechatClientPushMsg(
        msgData,
        fromImAccount,
        accountId
      )
      // 是否是的当前好友
      if (
        this.chatBoxShow &&
        this.activeChatAccountInfo &&
        accountId === this.activeChatAccountInfo.id &&
        this.activeChatFriendInfo &&
        this.activeChatFriendInfo.wxId === wxId &&
        this.activeChatFriendInfo.type === type
      ) {
        // 是当前好友，更新到聊天窗
        this.$refs.mainChatBox.onWechatClientMsgPushToWeb(msgData)
      }
    },
    /**
     * 收到非当前个人号消息
     */
    onReceivedNoActiveAccountMsg (fromImAccount, accountId, msgData) {
      Logger.info('收到非当前个人号消息')
      let {
        type,
        wxId
      } = getSessionTypeAndWxId(
        msgData.talkerRoomWxId,
        msgData.talkerWxId
      )
      if (msgData.isSelfSend === 0) {
        // 好友发来的
        // 提示音
        this.playReceivedMsgAudio()
        // 未读数量提示
        this.incNotReadNum(accountId, wxId, type, 1)
        // 服务端统计+1,接收
        this.sendCountMessage(
          MESSAGE_COUNT_TYPE.RECEIVED,
          type,
          wxId,
          accountId
        )
        // 页面非激活时，获取好友资料并桌面右下角提醒
        this.onReceivedMsgInHide(accountId, msgData)
        // 自动回复
        this.autoReplyCustomerMsg(msgData, fromImAccount, accountId)
      } else if (msgData.isSelfSend === 1 && msgData.wkfMsgId) {
        Logger.info('消息的回调')
        // 微信客户端发送的已读回调
        // 更改发送中的消息队列统计
        this.changeSendingMessageQueue(type, wxId, -1, accountId)
        // 服务端统计+1,发送成功
        this.sendCountMessage(MESSAGE_COUNT_TYPE.SEND, type, wxId, accountId)
        // 处理回调
        // 非当前聊天的好友的回调
        this.afterSendWexinCallbackNoActiveFriend(
          msgData,
          fromImAccount,
          accountId
        )
      } else if (msgData.isSelfSend === 1 && !msgData.wkfMsgId) {
        // 微信客户端同步的消息,不用提示未读
        Logger.info('微信客户端同步的消息,不用提示未读')
        // 服务端统计+1,发送成功
        this.sendCountMessage(MESSAGE_COUNT_TYPE.SEND, type, wxId, accountId)
      }
    },
    /**
     * 未读消息增加
     */
    incNotReadNum (accountId, wxId, type, num) {
      if (!num) return
      let frenidKey = this.getNotReadMsgsFriendKey(accountId, type, wxId)
      // 个人号总的未读
      this.incAccountNotReadNum(accountId, num)
      // 增加记录对应的好友/群组未读数
      this.incNotReadNumWithFriend(accountId, frenidKey, num)
      Logger.info(
        '未读消息增加',
        this.nowAccountNotReadData,
        this.onConcentDialoNotReadData,
        this.notReadMsgs
      )
    },
    /**
     * 更新个人号总未读数
     */
    incAccountNotReadNum (accountId, num = 1) {
      // 个人号未读数量+1
      // 更改map的参数
      if (!this.accountListNotReadCountMap[accountId]) {
        this.$set(this.accountListNotReadCountMap, accountId, num)
      } else {
        this.$set(
          this.accountListNotReadCountMap,
          accountId,
          this.accountListNotReadCountMap[accountId] + num
        )
      }
      // 集中对话时
      this.$set(
        this.onConcentDialoNotReadData,
        'notReadTotalNum',
        this.onConcentDialoNotReadData.notReadTotalNum + num
      )
      // 修改传给当前列表的参数
      if (accountId !== this.activeChatAccountInfo.id) return
      this.$set(
        this.nowAccountNotReadData,
        'notReadTotalNum',
        this.accountListNotReadCountMap[accountId]
      )
    },
    /**
     * 增加各个个人号聊天好友的未读
     * @return {[type]} [description]
     */
    incNotReadNumWithFriend (accountId, mapKey, num) {
      // 修改map的参数
      if (!this.notReadMsgs[accountId]) {
        this.notReadMsgs[accountId] = {}
        this.notReadMsgs[accountId][mapKey] = num
      } else if (
        this.notReadMsgs[accountId] &&
        !this.notReadMsgs[accountId][mapKey]
      ) {
        this.notReadMsgs[accountId][mapKey] = num
      } else {
        this.notReadMsgs[accountId][mapKey] += num
      }
      if (this.notReadMsgs[accountId][mapKey] === 0) {
        delete this.notReadMsgs[accountId][mapKey]
      }
      // 集中对话时
      this.$set(
        this.onConcentDialoNotReadData.notReadMsgs,
        mapKey,
        this.notReadMsgs[accountId][mapKey]
      )
      if (this.onConcentDialoNotReadData.notReadMsgs[mapKey] === 0) {
        delete this.onConcentDialoNotReadData.notReadMsgs[mapKey]
      }
      // 修改传给当前列表的参数
      if (accountId !== this.activeChatAccountInfo.id) return
      if (!this.nowAccountNotReadData.notReadMsgs) {
        this.nowAccountNotReadData.notReadMsgs = {}
      }
      Logger.info(
        this.nowAccountNotReadData.notReadMsgs,
        mapKey,
        this.notReadMsgs[accountId]
      )
      this.$set(
        this.nowAccountNotReadData.notReadMsgs,
        mapKey,
        this.notReadMsgs[accountId][mapKey]
      )
    },
    /**
     * 服务器通知
     */
    onReceivedServerAccount (msgData) {
      switch (msgData.noticeType) {
        case NOTICE_TYPE.ON_LINE_STATUS:
          Logger.info('上下线通知')
          // 上下线
          this.onNoticeAccountStatusChange(msgData)
          break
        case NOTICE_TYPE.TRANSFER_FRIEND:
          Logger.info('好友转接进来')
          // 好友转接
          this.onNoticeTransferFriend(msgData)
          break
        case NOTICE_TYPE.FRIEND_TRANSFERRED:
          Logger.info('好友被转接出去')
          this.onNoticeTransferToOtherSuccess(msgData)
          break
        case NOTICE_TYPE.REFRESH_SENSITIVE_WORDS:
          Logger.info('通知更新敏感词')
          this.onNoticeRefreshSensitiveWords()
          break
        case NOTICE_TYPE.TRANSFER_FRIEND_RECEIVE_PULL:
          Logger.info('转接好友，接收方微客服拉取转接信息')
          this.transferFirendReceivePull(msgData)
          break
        case NOTICE_TYPE.TRANSFER_FRIEND_TURNOUT_PULL:
          Logger.info('转接好友，转出方微客服拉取转接信息')
          this.transferFriendTurnoutPull(msgData)
          break
        case NOTICE_TYPE.DELETE_ACCOUNT:
          Logger.info('通知删除个人号')
          this.onNoticeDelAccount(msgData.notice.accountId)
          break
        case NOTICE_TYPE.DELETE_FREIND:
          Logger.info('通知删除好友/群聊')
          this.onNoticeDelFriend(msgData)
          break
        case NOTICE_TYPE.NEW_GROUP_MEMBER:
          Logger.info('群聊新成员入群')
          this.onNoticeNewGroupMember(msgData)
          break
        case NOTICE_TYPE.TODO_THINGS:
          Logger.info('待办提醒')
          this.showtodoThings(msgData)
          break
        default:
          Logger.warn(`不支持的服务器通知类型: ${msgData.noticeType}`)
          break
      }
    },
    /**
     * 服务器通知个人号微信端上下线
     */
    onNoticeAccountStatusChange (msgData) {
      this.personalAccountList.some((val, index) => {
        if (msgData.notice.accountId === val.id) {
          this.$set(
            this.personalAccountList[index],
            'onLine',
            msgData.notice.status
          )
          if (val.id === this.activeChatAccountInfo.id) {
            // 当前个人号的话，需要更新vuex中的数据
            this.updateChatAccountInfo(this.personalAccountList[index])
          }
          return true
        }
      })
    },
    /**
     * 服务器通知转接好友
     */
    onNoticeTransferFriend (serverMsg, addFriend = true, playSound = true) {
      // 该好友非第一次被分配时才提醒
      let needNotice = serverMsg.notice.isFirstSwitch === 0
      if (needNotice && playSound) {
        this.playReceivedMsgAudio()
      }
      // 信息存储到本地
      this.chatUserInfoDB.addUserInfos([{
        areaName: serverMsg.notice.friendAreaName,
        headIcon: serverMsg.notice.friendHeadIcon,
        id: serverMsg.notice.friendId,
        nickName: serverMsg.notice.friendNickName,
        remark: serverMsg.notice.friendRemark,
        status: serverMsg.notice.friendStatus,
        type: serverMsg.notice.friendType,
        wechatAccountId: serverMsg.notice.accountId,
        wxId: serverMsg.notice.friendWxId
      }])
      // 是否是已存在的个人号
      let account = this.personalAccountMap[serverMsg.notice.accountId]
      if (account) {
        Logger.info(
          '转接进来-在已有个人号',
          serverMsg.notice.friendType,
          serverMsg.notice.friendWxId
        )
        // 个人号已有，但未选择,相当于接收一个
        needNotice &&
          this.incNotReadNum(
            serverMsg.notice.accountId,
            serverMsg.notice.friendWxId,
            serverMsg.notice.friendType,
            1
          )
        // 集中对话/当前个人号,更新列表
        if (
          this.concentratedDialogue ||
          this.activeChatAccountInfo.id === serverMsg.notice.accountId
        ) {
          this.$refs.leftSide.onReceivedTransferFriend(
            serverMsg,
            needNotice,
            addFriend
          )
        }
        return
      }
      // 不存在对应的个人号
      let param = {
        headIcon: serverMsg.notice.accountHeadIcon,
        nickName: serverMsg.notice.accountNickName,
        id: serverMsg.notice.accountId,
        imAccount: serverMsg.notice.imAccount,
        onLine: serverMsg.notice.accountOnline,
        remark: serverMsg.notice.accountRemark,
        wxId: serverMsg.notice.accountWxId
      }
      Logger.info(param)
      // 新增一个个人号
      this.newPersonalAccount(param, serverMsg, needNotice)
    },
    // 新增个人号列表的个人号
    newPersonalAccount (accountInfo, serverMsg, needNotice = false) {
      Logger.info('转接进来-不存在对应的个人号', serverMsg)
      // this.personalAccountList.push(accountInfo)
      let accountList = this.personalAccountList.slice(0)
      accountList.push(accountInfo)
      this.updateAccountList(accountList)
      // 集中对话状态，并且新增之后只有一个个人号，切换当前个人号
      if (this.personalAccountList.length === 1) {
        if (this.concentratedDialogue) {
          this.changeAccountInFocus(0)
        } else {
          this.changeAccount(0)
        }
      }
      // 集中对话状态需要再列表新加一个好友
      if (this.concentratedDialogue) {
        this.$refs.leftSide.onReceivedTransferFriend(serverMsg, needNotice)
      }
      // 提示未读
      needNotice &&
        this.incNotReadNum(
          accountInfo.id,
          serverMsg.notice.friendWxId,
          serverMsg.notice.friendType,
          1
        )
      // 缓存好友信息到本地
    },
    // 登录webIM
    async loginWebIM () {
      let imLoginInfo = await this.getImLoginInfo()
      // 登录im
      let that = this
      let params = {
        loginInfo: {
          sdkAppID: imLoginInfo.sdkAppId,
          appIDAt3rd: imLoginInfo.sdkAppId,
          identifier: imLoginInfo.identifier,
          userSig: imLoginInfo.userSig,
          accountType: imLoginInfo.accountType
        },
        listenersOptions: {
          onKickedEventCall: that.onKickedEventCall
        },
        onC2CMsgNotify: that.onC2CMsgNotify,
        onGroupMsgNotify: that.onGroupMsgNotify,
        onConnNotifyCallback: {
          connectStatusOn: that.connectStatusOn,
          connectStatusOff: that.connectStatusOff,
          connectStatusReconnect: that.connectStatusReconnect,
          connectStatusUnknow: that.connectStatusUnknow
        }
      }
      let webIM = new WebIM(params)
      Logger.info(imLoginInfo)
      this.updateChatIM(webIM)
      // 登录
      try {
        await this.chatIM.webimLogin()
        // 初始化页面
        // this.initPage()
      } catch (error) {
        Logger.info('error', error)
        switch (error.ErrorCode) {
          case IM_LOGIN_ERROR_CODE.WAIT_RENEWAL_AGAIN:
            this.error('聊天套餐已到期，请续费！')
            break
          default:
            this.error(error.ErrorInfo)
            break
        }
        return Promise.reject(new Error('IM登录失败'))
      }
    },
    /**
     * 切换个人号
     */
    changeAccount (index) {
      // 记录个人号信息
      this.updateChatAccountInfo(this.personalAccountList[index])
      // 置空当前选中的好友信息
      this.updateChatFriend(null)
      this.hideInfoBoxAndChatBox()
    },
    changeAccountInFocus (index) {
      // 记录个人号信息
      this.updateChatAccountInfo(this.personalAccountList[index])
    },
    /**
     * 显示群组/好友信息
     */
    showInfoBox () {
      Logger.info('showInfoBox')
      this.infoBoxShow = true
      this.chatBoxShow = false
    },
    /**
     * 显示聊天窗口
     */
    showChatBox () {
      // console.log(this.activeChatFriendInfo, '')
      this.infoBoxShow = false
      this.chatBoxShow = true
      let wxId = this.activeChatFriendInfo.wxId
      let type = this.activeChatFriendInfo.type
      let num
      if (this.concentratedDialogue) {
        // 集中对话时
        num = this.getNotReadNumWithFriend(
          this.activeChatFriendInfo.accountId,
          wxId,
          type
        )
      } else {
        num = this.getNotReadNumWithFriend(
          this.activeChatAccountInfo.id,
          wxId,
          type
        )
      }

      if (num === 0) return
      // 减少对应的未读数量
      this.incNotReadNum(this.activeChatAccountInfo.id, wxId, type, -num)
      // 发送已读回执给微信客户端
      this.$refs.mainChatBox.sendAlreadyReadMsgToWechatClient()
    },
    testChatBox () {
      let data = {
        accountId: 24,
        areaName: '上海 闵行',
        headIcon: 'http://wx.qlogo.cn/mmhead/ver_1/sjgYDTcYHyicSRmyx1fKtBEYsRHGCyLW7je3mvUM8vkgwHYCageCJIVYLpicaobHUJp2RxheF5vTnKNzJXiaFy42Fhsmq4TCTTrsMES9ZIV2Zk/96',
        id: 31140,
        nickName: '白面葫芦娃',
        remark: '浙BL91B2',
        requestId: 'c000b380-5acf-460c-a085-1e78c3c8005e',
        status: 1,
        type: 1,
        wxId: 'wxid_a8ni5yjyzfnb21'
      }
      this.infoBoxShow = false
      this.chatBoxShow = true
    },
    afterSendMsgFail (type, wxId, accountId) {
      this.changeSendingMessageQueue(type, wxId, -1, accountId)
    },
    /**
     * 聊天窗发送消息时，更改发送中的消息统计
     * @return {[type]} [description]
     */
    onReadySendMsg (type, wxId, inc, accountId) {
      this.changeSendingMessageQueue(type, wxId, inc, accountId)
    },
    hideInfoBoxAndChatBox () {
      this.infoBoxShow = false
      this.chatBoxShow = false
    },
    /**
     * 顶部nav菜单点击
     * @param  {[type]} index     [description]
     * @param  {[type]} indexPath [description]
     * @return {[type]}           [description]
     */
    selectNavMenu (index, indexPath) {
      Logger.info('顶部nav菜单点击', index, indexPath)
      if (index === '4') {
        this.msgPushShow = true
        return
      } else if (this.activeIndex !== index) {
        this.activeIndex = index
      }
      this.rightSideSelected = index
    },
    /**
     * 关闭消息推送弹窗
     */
    onMsgPushClose () {
      this.msgPushShow = false
    },
    /**
     * 显示设置备注弹窗
     */
    showSetRemarkPanel () {
      this.setRemarkShow = true
    },
    /**
     * 显示移动好友弹窗
     */
    showMoveFriendGroup () {
      this.moveFriendGroupShow = true
    },
    /**
     * 显示聊天记录
     */
    showChatRecord () {
      if (this.$refs.chatRightSideTabs) {
        this.$refs.chatRightSideTabs.showChatRecord()
      } else {
        // 关闭其他菜单
        this.showChatRightSideTabs()
        this.$nextTick(() => {
          this.$refs.chatRightSideTabs.showChatRecord()
        })
      }
    },
    /**
     * 取消nav菜单的高亮，显示右边的聊天相关的标签页
     */
    showChatRightSideTabs (rightSideIndex = '0') {
      this.rightSideSelected = rightSideIndex
      this.activeIndex = null
    },
    /**
     * 监听页面是否隐藏
     */
    addListenPageHide () {
      let hiddenProperty =
        'hidden' in document
          ? 'hidden'
          : 'webkitHidden' in document
            ? 'webkitHidden'
            : 'mozHidden' in document
              ? 'mozHidden'
              : null
      this.hiddenProperty = hiddenProperty
      let visibilityChangeEvent = hiddenProperty.replace(
        /hidden/i,
        'visibilitychange'
      )
      document.removeEventListener(
        visibilityChangeEvent,
        this.onVisibilityChange
      )
      document.addEventListener(visibilityChangeEvent, this.onVisibilityChange)
    },
    onVisibilityChange (e) {
      if (!document[this.hiddenProperty]) {
        Logger.info('页面激活')
        this.isHidden = false
      } else {
        Logger.info('页面非激活')
        this.isHidden = true
      }
    },
    /**
     * 获取当前聊天好友的未读
     */
    getNotReadNumWithFriend (accountId, wxId, type) {
      let notReadMapKey = this.getNotReadMsgsFriendKey(accountId, type, wxId)
      return this.notReadMsgs[accountId] &&
        this.notReadMsgs[accountId][notReadMapKey]
        ? this.notReadMsgs[accountId][notReadMapKey]
        : 0
    },
    /**
     * 更改好友列表类型，最近联系过的人/通讯录分组
     */
    changeFriendListType (type) {
      this.friendListType = type
    },
    /**
     * 服务端统计+1
     * @param  {[type]} receivedOrSend 1接收2发送
     * @param  {[type]} type           1群聊2单聊
     * @param  {[type]} wxId           群聊或者微信用户的ID
     */
    sendCountMessage (receivedOrSend, seesionType, wxId, wechatAccountId) {
      // 和群聊/好友类型不同
      if (seesionType === SESSION_TYPE.GROUP) {
        seesionType = 1
      } else {
        seesionType = 2
      }
      Logger.info('服务端统计', receivedOrSend)
      customerServiceApi.countMessage({
        type: receivedOrSend,
        objType: seesionType,
        wechatAccountId,
        wxId
      })
    },
    /**
     * 更改发送中的消息统计
     * @param  {[type]} options.type 1.好友 2.群聊
     * @param  {[type]} options.wxId [description]
     * @param  {[type]} options.inc  增加的数量
     */
    changeSendingMessageQueue (type, wxId, inc, accountId) {
      Logger.info('更改发送中的消息统计', type, wxId, inc, accountId)
      if (inc > 0) {
        this.$refs.chatFooter.incSendingMessageQueue(type, wxId, accountId)
      } else {
        this.$refs.chatFooter.reduceSendingMessageQueue(type, wxId, accountId)
      }
    },
    /**
     * 收到朋友圈消息的回复
     */
    onReceivedMomentsMsg (msgData, fromImAccount) {
      this.$refs.moment &&
        this.$refs.moment.receivedMomentsMsg(msgData, fromImAccount)
    },
    /**
     * 后台转接好友出去的消息通知
     */
    onNoticeTransferToOtherSuccess (msgData) {
      if (this.personalAccountList.length === 0) return
      // 删除一个好友及其未读统计
      this.deleteOneFriend(
        msgData.notice.friendId,
        msgData.notice.friendType,
        msgData.notice.accountId,
        msgData.notice.friendWxId
      )
      // 删除个人号及其未读统计
      msgData.notice.delAccount === 1 &&
        this.deleteOneAccount(msgData.notice.accountId)
      // 更改联系人列表
      this.onDeleteFriendOrAccountInLeftSilde({
        fId: msgData.notice.friendId,
        fType: msgData.notice.friendType,
        fWxId: msgData.notice.friendWxId,
        accountId: msgData.notice.accountId,
        delAccount: msgData.notice.delAccount
      })
      // 好友信息从缓存删除
      this.chatUserInfoDB.deleteUserInfo(
        msgData.notice.accountId,
        msgData.notice.friendWxId
      )
      Logger.info(
        this.accountListNotReadCountMap,
        this.notReadMsgs,
        this.onConcentDialoNotReadData
      )
    },
    /**
     * 删除个人号中最后一条好友
     */
    deleteOneFriend (fId, friendType, accountId, fWxId) {
      // 如果是当前的聊天，就关闭
      if (this.whetherIsActiveFriend(fId, friendType, accountId)) {
        this.chatBoxShow = false
        this.updateChatFriend(null)
      }
      let num = this.getNotReadNumWithFriend(accountId, fWxId, friendType)
      num > 0 && this.incNotReadNum(accountId, fWxId, friendType, -num)
    },
    /**
     * 删除一条个人号
     */
    deleteOneAccount (accountId) {
      this.personalAccountList.some((val, index) => {
        if (val.id === accountId) {
          // 删除个人号
          let accountList = this.personalAccountList.slice(0)
          accountList.splice(index, 1)
          this.updateAccountList(accountList)
          return true
        }
      })
      if (this.concentratedDialogue) {
        // 集中对话时，刷新列表
        this.$refs.leftSide.refreshTableList()
      } else if (this.activeChatAccountInfo.id === accountId) {
        // 非集中对话，并且是当前个人号，切换个人号
        this.changeAccount(0)
      }
      // 修改个人号各个好友的统计
      if (this.notReadMsgs[accountId]) {
        delete this.notReadMsgs[accountId]
      }
      // 个人号的统计
      if (this.accountListNotReadCountMap[accountId] >= 0) {
        delete this.accountListNotReadCountMap[accountId]
      }
      // 删除缓存中的好友信息
      this.chatUserInfoDB.deleteAccountUserInfo(accountId)
    },
    // 当转接一条好友时，更改联系人列表
    onDeleteFriendOrAccountInLeftSilde ({
      fId = '',
      fType = '',
      accountId = '',
      fWxId = '',
      delAccount = 0
    } = {}) {
      this.$emitBus('after-transfer-success', {
        fId,
        fType,
        fWxId,
        accountId,
        delAccount
      })
    },
    // 通知更新敏感词
    onNoticeRefreshSensitiveWords () {
      this.$refs.mainChatBox.onNoticeRefreshSensitiveWords()
      // this.$emitBus('on-notice-sensitive-words-push-assistant')
    },
    // 服务器通知删除个人号
    onNoticeDelAccount (accountId) {
      this.deleteOneAccount(accountId)
      this.onDeleteFriendOrAccountInLeftSilde({
        accountId,
        delAccount: 1
      })
    },
    // 通知删除好友/群聊
    onNoticeDelFriend (serverMsg) {
      // 逻辑流程同转接好友出去一样
      this.onNoticeTransferToOtherSuccess(serverMsg)
    },
    // 群聊新成员入群
    onNoticeNewGroupMember (serverMsg) {
      this.$refs.mainChatBox.onNoticeNewGroupMember(serverMsg)
    },
    // 微客服主动转接出去一条好友
    afterCustomerServiceTransferFriend ({
      accountId,
      fId,
      fType,
      fWxId
    }) {
      this.deleteOneFriend(fId, fType, accountId, fWxId)
      this.onDeleteFriendOrAccountInLeftSilde({
        fId,
        fType,
        fWxId,
        accountId,
        delAccount: 0
      })
    },
    // 是否是当前好友
    whetherIsActiveFriend (fId, fType, accountId, fWxId) {
      if (!this.activeChatAccountInfo || !this.activeChatFriendInfo) {
        return false
      } else if (this.activeChatFriendInfo.type !== fType) {
        return false
      } else if (this.activeChatAccountInfo.id !== accountId) {
        return false
      }
      return (
        fId === this.activeChatFriendInfo.id ||
        this.activeChatFriendInfo.wxId === fWxId
      )
    },
    // 来消息提醒
    playReceivedMsgAudio () {
      let audio = this.$refs.msgNoticeAudio
      if (audio.ended || audio.paused) {
        audio.play &&
          audio.play().catch(err => {
            Logger.info(err)
          })
      }
    },
    // 转接好友，接收方微客服拉取转接信息
    transferFirendReceivePull (msgData) {
      let key = msgData.notice.key
      const that = this
      chatApi
        .transferFirendPull(key, NOTICE_TYPE.TRANSFER_FRIEND_RECEIVE_PULL)
        .then(data => {
          if (data && data.length) {
            const iMax = data.length - 1
            for (let i = 0, l = data.length; i < l; i++) {
              ((item, time, n) => {
                setTimeout(() => {
                  // 所有联系人列表界面不再一一添加好友
                  that.onNoticeTransferFriend({
                    notice: item
                  }, true)
                  if (n === iMax) {
                    Logger.info('transferLength', n)
                    // 刷新所有联系人列表界面,避免过多好友时的数组操作过于频繁
                    that.activeChatAccountInfo.id === item.accountId &&
                      that.$refs.leftSide.afterTransferFirendPull()
                  }
                }, time)
              })(JSON.parse(data[i]), i * 10, i)
            }
          }
        })
    },
    /**
     * 转接好友，转出方微客服拉取转接信息
     * @return {[type]} [description]
     */
    transferFriendTurnoutPull (msgData) {
      let key = msgData.notice.key
      const that = this
      chatApi
        .transferFirendPull(key, NOTICE_TYPE.TRANSFER_FRIEND_TURNOUT_PULL)
        .then(data => {
          if (data && data.length) {
            const iMax = data.length - 1
            for (let i = 0, l = data.length; i < l; i++) {
              ((item, time, n) => {
                setTimeout(() => {
                  that.onNoticeTransferToOtherSuccess({
                    notice: item
                  })
                  if (n === iMax) {
                    Logger.info('transferLength', data.length)
                    // 刷新所有联系人列表界面,避免过多好友时的数组操作过于频繁
                    that.activeChatAccountInfo.id === item.accountId &&
                      that.$refs.leftSide.afterTransferFirendPull()
                  }
                }, time)
              })(JSON.parse(data[i]), i * 10, i)
            }
          }
        })
    },
    // 修改密码 成功后
    afterModifyPassword () {
      this.modifyPassword.show = false
      this.success('修改密码成功，请重新登录')
      setTimeout(() => {
        this.logout(true)
      }, 2000)
    },
    // 判断密码的状态
    getPassWord () {
      if (!this.adminInfo.isStrong) {
        this.modifyPassword.show = true
        this.warning('当前密码为弱密码，请及时修改密码！')
      }
    },

    // 关闭弹窗前的判断
    handleClose () {
      if (this.adminInfo.isStrong) {
        return this.warning('请修改密码')
      }
    }

  }
}
</script>
<style lang="scss">
.frame {
  height: 100%;
  min-height: 96vh !important;
  min-width: auto !important;
}

.setTodoIconLi {
  padding-left: 10px;
}

.setTodoIcon {
  color: #ffffff;
}

.el-icon-s-claim:before {
  font-size: 30px;
}
</style>
