<template>
  <div>
    <el-container>
      <el-aside width="300px" class="ly-bg-white ly-margin-bottom-sm">
        <div class="ly-bg-white ly-padding-horizontal-sm ly-height-100">
          <div class="ly-position-relative ly-padding-vertical-sm">
            <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">组织架构</span>
            <span class="ly-vertical-middle ico_add" @click="openCallback($event, 'department')"></span>
          </div>
          <div class="ly-position-relative" style="overflow: auto;">
            <el-tree :data="[departmentTree]" :props="defaultProps" :expand-on-click-node="false" default-expand-all v-if="departmentTree.children.length > 0" class="tree-element">
              <div class="ly-box ly-box-1 ly-box-align-center" slot-scope="{ node, data }">
                <span class="ly-font-color-3 ly-font-12 ly-box-1 ly-font-weight-300 ly-overflow-hidden ly-text-overflow-hidden ly-width-50px" @click="() => getStaffFromTree(data)" :title="node.label">{{ node.label }}</span>
                <span class="label-opt ly-font-0" v-if="node.label != '公司'">
                  <span class="ico_editor" @click="openCallback($event, 'department', data)"></span>
                  <span class="ico_delete" @click="() => deleteDepartment(data)"></span>
                </span>
              </div>
            </el-tree>
          </div>
        </div>
      </el-aside>
      <el-container class="ly-width-100">
        <el-header height="auto" class="ly-padding-right-0">
          <!-- 筛选查询 -->
          <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
            <el-collapse-item name="1">
              <!-- title -->
              <template slot="title" class="ly-box">
                <div class="ly-box-1 ly-font-16 ly-font-color-1">
                  <span class="ly-vertical-line">筛选查询</span>
                </div>
                <div class="ly-font-14 ly-font-color-2">
                  <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
                </div>
              </template>
              <div class="ly-clearfix">
                <el-input v-model.trim="params.message" @keyup.native.enter="getTableList(1)" :maxlength="100" placeholder="员工信息" class="ly-margin-right-bottom-sm" clearable>
                </el-input>
                <!--部门级联已经调整-->
                <departmenTreeCascadert v-model="departmentId" v-if="showDepartment" filterable clearable placeholder="员工所在部门" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
                <!--
                <staffDepartmentSelect v-model="menuList.departmentId"
                                       v-if="refreshDepartment"
                                       placeholder="员工所在部门"
                                       class="ly-margin-right-bottom-sm"
                                       @change="changeDepartment"></staffDepartmentSelect>-->
                <roleSelect v-model="params.roleId" placeholder="角色"></roleSelect>
                <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询
                </el-button>
              </div>
            </el-collapse-item>
          </el-collapse>
        </el-header>
        <el-main class="ly-padding-right-0">
          <!-- 数据列表 -->
          <div class="ly-bg-white ly-padding-sm">
            <!-- 表头 -->
            <div class="ly-box">
              <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
                <span class="ly-vertical-line">数据列表</span>
              </div>
              <span class="ly-margin-top-nge-4">
                <el-button type="primary" size="small" @click="importRole">导入员工</el-button>
                <el-button type="primary" size="small" @click="openCallback($event, 'set')">新增员工</el-button>

                <!-- <el-button type="primary"
                           size="small"
                           v-if="isNeedAudit"
                           @click="exportRole">(个人号在线状态)导出</el-button>       -->
              </span>
            </div>
            <!-- 表格 -->
            <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
              <el-table-column prop="loginAccount" label="员工账号">
                <template slot-scope="scope">
                  <p>{{scope.row.loginAccount}}</p>
                  <p v-if="scope.row.isPrimary === 1" class="ly-font-color-2 ly-font-14">(主账号)</p>
                </template>
              </el-table-column>
              <el-table-column prop="realName" label="姓名" min-width="50">
              </el-table-column>
              <el-table-column prop="rbacRoles" label="角色" min-width="50">
                <template slot-scope="scope">
                  <div v-for="(role, index) in scope.row.rbacRoles" :key="index">
                    <span>{{role.name}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="departmentName" label="员工所在部门">
              </el-table-column>
              <el-table-column prop="phone" label="手机号">
              </el-table-column>
              <el-table-column prop="simPhone" label="sim卡号">
              </el-table-column>
              <el-table-column prop="jobNumber" label="工号">
              </el-table-column>
              <el-table-column label="创建时间" min-width="100">
                <template slot-scope="scope">
                  <span>{{fmt.date(scope.row.createTime)}}</span>
                </template>
              </el-table-column>
              <el-table-column label="是否启用">
                <template slot-scope="scope">
                  <el-switch v-model="scope.row.status" active-color="#13ce66" :active-value='1' :inactive-value='0' v-if="scope.row.isPrimary === 0" @change="changeStatus(scope.row)">
                  </el-switch>
                </template>
              </el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-button type="text" size="small" v-if="scope.row.isPrimary === 0" @click="openCallback($event, 'set', scope.row)">编辑</el-button>
                  <el-button type="text" size="small" @click="openCallback($event,'reset',scope.row)" v-if="scope.row.isPrimary === 0">重置密码</el-button>
                </template>
              </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
              <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
            </div>
          </div>
        </el-main>
      </el-container>
    </el-container>
    <!-- 编辑/新增部门 -->
    <el-dialog :title="department.title" :visible.sync="department.open" width="560px" append-to-body>
      <departmentInfo :dataInfo="department" v-if="department.open" @getDepartmentTree="getDepartmentTreeAfterAdd"></departmentInfo>
    </el-dialog>
    <!-- 编辑/新增员工 -->
    <el-dialog :title="set.title" :visible.sync="set.open" width="560px" append-to-body>
      <staffInfo :dataInfo="set" v-if="set.open" @getTableList="getTableList"></staffInfo>
    </el-dialog>
    <!-- 重置密码 -->
    <el-dialog title="重置密码" :visible.sync="reset.open" width="560px" append-to-body>
      <resetStaffPassword :dataInfo="reset" v-if="reset.open" @getTableList="getTableList"></resetStaffPassword>
    </el-dialog>
    <!--导入员工 -->
    <el-dialog title="导入员工" :visible.sync="importDialog.show" width="560px" append-to-body>
      <importConcat :dataInfo="importDialog" v-if="importDialog.show" @getTableList="getTableList"></importConcat>
    </el-dialog>
  </div>
</template>

<script>
import { roleSelect, staffDepartmentSelect } from '@/components/packages/system/lazySelect'
import staffInfo from './components/staffInfo'
import departmentInfo from './components/departmentInfo'
import resetStaffPassword from './components/resetStaffPassword'
import importConcat from './components/importConcat'
import { staffManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
// import { downloadFile } from '@/utils'

export default {
  mixins: [tableMixin],
  components: { roleSelect, resetStaffPassword, staffInfo, departmentInfo, staffDepartmentSelect, importConcat, departmenTreeCascadert },
  data () {
    return {
      refreshDepartment: true, // 由于刷新员工所在部门
      // isNeedAudit: false, // 导出按钮的显示与隐藏，权限设置 -true是有权限
      menuList: {
        departmentId: null
      },
      params: {
        departmentId: null,
        roleId: null,
        message: null
      },
      activeNames: ['1'],
      departmentId: [],
      paramsDepartment: '',
      tableData: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      departmentTree:
      {
        name: '公司',
        children: [],
        id: -1
      },
      set: {
        title: '',
        open: false,
        data: {
          id: null
        }
      },
      department: {
        title: '',
        open: false,
        data: {
          id: null
        }
      },
      reset: {
        open: false,
        data: {
          id: null
        }
      },
      importDialog: {},
      showDepartment: true
    }
  },
  watch: {
    'departmentId' (val) {
      this.params.departmentId = val[val.length - 1] || ''
    }
  },
  created () {
    this.getDepartmentTree()
    // this.showBtn() // 是否显示按钮
  },
  methods: {
    changeDepartment (val) {
      this.params.departmentId = this.menuList.departmentId
    },
    getStaffFromTree (data) {
      let ids = data.parentIds ? data.parentIds.split(',') : []
      ids = ids.map(item => {
        return parseInt(item)
      })
      if (ids.length) {
        ids.splice(0, 1)
      }
      if (data.id !== -1) {
        ids.push(data.id)
      }
      this.departmentId = ids
      this.menuList.departmentId = ids[ids.length - 1] || ''
      this.getTableList(1, 10, 'fromTree')
    },
    // 获取部门列表
    getDepartmentTree () {
      staffManageApi.getDepartmentList().then((res) => {
        this.departmentTree.children = res
      })
    },
    /**
     * 部门编辑或新增成功后，员工所在部门需要刷新（针对筛选）
     */
    getDepartmentTreeAfterAdd (refreshStatus, id) {
      this.getDepartmentTree()
      this.refreshDepartmentOnSelect()
      if (refreshStatus && (!this.paramsDepartment || this.paramsDepartment === id)) {
        this.getTableList()
      }
      this.showDepartment = false
      setTimeout(() => {
        this.showDepartment = true
      }, 100)
    },
    // 获取部门员工列表
    async requestTableList (data) {
      if (data) {
        this.params.departmentId = this.menuList.departmentId
      }
      staffManageApi.getDepartmenStaff(this.params).then((result) => {
        this.paramsDepartment = this.params.departmentId
        this.tableData = result
      })
    },
    // 删除部门
    deleteDepartment (data) {
      // if (data.children instanceof Array && data.children.length > 0) {
      //   this.$message({
      //     message: '部门删除失败,该部门具有子部门',
      //     type: 'warning'
      //   })
      // } else {
      this.$confirm('是否确定删除该部门？', '提示').then(() => {
        staffManageApi.deleteDepartment(data.id).then(() => {
          this.success('部门删除成功')
          this.getDepartmentTree()
          this.refreshDepartmentOnSelect(true, data.id)
        })
      })
      // }
    },
    /**
     * 用于刷新右侧筛选员工所在部门
     * */
    refreshDepartmentOnSelect (type, id) {
      this.refreshDepartment = false
      let oldId = this.menuList.departmentId
      if (oldId === id) {
        this.menuList.departmentId = ''
      }
      setTimeout(() => {
        this.refreshDepartment = true
      })
    },
    /**
     * 禁用启用账号
     */
    changeStatus (data) {
      if (data.status === 0) {
        this.$confirm('禁用后该账号无法登录后台，是否确认禁用？', '提示').then(() => {
          let params1 = {
            id: data.id,
            status: 0
          }
          staffManageApi.changeStaffStatus(params1).then(() => {
            this.success('修改成功')
          })
        }, () => {
          data.status = 1
        })
      } else if (data.status === 1) {
        let params2 = {
          id: data.id,
          status: 1
        }
        staffManageApi.changeStaffStatus(params2).then(() => {
          this.success('修改成功')
        }, () => {
          data.status = 0
        })
      }
    },
    /**
     * 弹窗(新增/编辑员工部门，重置密码)
     */
    openCallback (defObj, val, data) {
      switch (val) {
        case 'set':
          if (data) {
            this.set.title = '编辑员工'
            this.set.data = {
              id: data.id
            }
          } else {
            this.set.title = '新增员工'
            this.set.data = {
              id: null
            }
          }
          this.set.open = true
          break
        case 'department':
          if (data) {
            if (data.id === -1) {
              this.error('公司不能进行修改')
              return
            }
            this.department.title = '编辑部门'
            let ids = data.parentIds.split(',')
            ids.splice(0, 1)
            ids = ids.map(item => {
              return parseInt(item)
            })
            this.department.data = {
              id: data.id,
              departmentName: data.name,
              ids: ids
            }
          } else {
            this.department.title = '新增部门'
            this.department.data = {
              id: '',
              departmentName: '',
              ids: []
            }
          }
          this.department.open = true
          break
        case 'reset':
          this.reset.data = {
            id: data.id
          }
          this.reset.open = true
          break
      }
    },
    /**
     * 导入员工
     */
    importRole () {
      this.importDialog = {
        show: true
      }
    }
    /** 导出按钮**/
    // exportRole() {
    //   let date = new Date();
    //   let strDate = date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + "  " + date.getHours() + "时" + date.getMinutes() + "分" + date.getSeconds() + "秒" +"  ";
    //   staffManageApi.exportList(this.params).then((res) => {

    //     downloadFile(res, strDate + '个人号在线状态表格.xls');
    //     this.success("恭喜你，导出成功");
    //   })
    // },
    // /**按钮权限设置**/

    // async showBtn() {
    //   try {
    //     const params = {
    //       name: 'taskNeedAudit'
    //     }
    //     const res = await staffManageApi.showBtn(params)
    //     if (res == true ) {
    //       this.isNeedAudit = true  // 显示按钮
    //     } else {
    //       this.isNeedAudit = fasle  // 不显示按钮
    //     }
    //   } catch (e) {
    //     this.Message(e, 'error')
    //   }
    // }

  }
}
</script>
<style scoped>
.el-tree {
  overflow: auto;
}
.el-tree > div {
  padding-right: 10px;
  min-width: 100%;
}
</style>
