<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="addRole('add')">添加角色</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="角色">
        </el-table-column>
        <el-table-column label="创建时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="是否启用">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.status"
                       active-color="#13ce66"
                       :inactive-value='0'
                       :active-value='1'
                       @change="changeRoleStatus($event, scope.row)">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="addRole('editor', scope.row)">编辑</el-button>
            <span class="ly-font-color-7 ly-cursor-pointer ly-margin-left-10px ly-font-weight-300"
                  @click="deleteRole(scope.row.id)">删除</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 添加/编辑角色 -->
    <el-dialog :title="roleInfo.title"
               :visible.sync="roleInfo.open"
               width="1076px" append-to-body>
      <addRole :roleInfo="roleInfo"
               v-if="roleInfo.open"
               @getTableList="getTableList"></addRole>
    </el-dialog>
  </div>
</template>

<script>
import addRole from './components/addRole.vue'
import { staffManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: {
    addRole
  },
  data() {
    return {
      tableData: {},
      params: {
      },
      roleInfo: {
        open: false
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await staffManageApi.getRoleList(this.params).then((result) => {
        this.tableData = result
      })
    },
    // 添加角色
    addRole(type, obj) {
      switch (type) {
        case 'add':
          this.roleInfo = {
            open: true,
            title: '添加角色'
          }
          break
        case 'editor':
          this.roleInfo = {
            open: true,
            id: obj.id,
            name: obj.name,
            status: obj.status,
            title: '编辑角色'
          }
          break
      }
    },
    changeRoleStatus(val, data) {
      let params = {
        id: data.id,
        status: Number(val),
        createTime: data.createTime,
        name: data.name
      }
      staffManageApi.changeRoleStatus(params).then(() => {
        this.success('修改成功')
        this.getTableList()
      })
    },
    /**
     * 删除角色
     */
    deleteRole(id) {
      this.$confirm('是否确认删除该角色？', '提示').then(() => {
        staffManageApi.deleteRole(id).then(() => {
          this.success('删除成功')
          if (this.tableData.records.length === 1 && this.params.current > 1) {
            this.getTableList(this.params.current - 1)
          } else {
            this.getTableList()
          }
        })
      }, () => { })
    }
  }
}
</script>
