<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <span class="ly-font-color-7 ly-font-14 ly-margin-right-sm">剩余条数：400条</span>
          <el-button type="primary"
                     size="small">充值</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="充值条数">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="金额"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            lianghuan（梁欢）
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="支付方式"
                         width="200">
        </el-table-column>
        <el-table-column prop="name"
                         label="交易流水号">
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span :class="{'ly-font-color-5':scope.row.name}">{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="充值时间">
        </el-table-column>
        <el-table-column prop="name"
                         label="充值说明">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'

export default {
  components: { collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        rechargeState: true,
        date: true
      },
      tableData: [
        {
          date: '删除聊',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市'
        }
      ],
      multipleSelection: [],
      dialogFormVisible: false
    }
  },
  created() {
  },
  methods: {
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
