<template>
  <el-input-number ref="input"
                   :options="mergedOptions"
                   :value="value"
                   :placeholder="placeholder"
                   :disabled="disabled"
                   :size="size"
                   :max="max"
                   :min="min"
                   :name="name"
                   :precision="precision"
                   :label="label"
                   @blur="handleBlur"
                   @focus="handleFocus"
                   @change="handleInputChange"
                   @input="onActualMoneyInput">
  </el-input-number>
</template>
<script>
export default {
  name: 'VmaInputNumber',
  props: {
    step: {
      type: Number,
      default: 1
    },
    max: {
      type: Number,
      default: Infinity
    },
    min: {
      type: Number,
      default: -Infinity
    },
    value: {},
    disabled: Boolean,
    size: String,
    controls: {
      type: Boolean,
      default: true
    },
    controlsPosition: {
      type: String,
      default: ''
    },
    name: String,
    label: String,
    placeholder: String,
    precision: {
      type: Number,
      validator(val) {
        return val >= 0 && val === parseInt(val, 10)
      }
    }
  },
  data() {
    return {
      currentValue: 0
    }
  },
  computed: {
    mergedOptions() {
      let mergedOptions = Object.assign({}, this.defaultOptions, this.$props, this.$attrs)
      return Object.assign({
        options: mergedOptions
      }, mergedOptions)
    }
  },
  methods: {
    handleBlur(event) {
      this.$emit('blur', event)
      let newVal = event.target.value
      this.$emit('keyupVal', newVal)
    },
    handleFocus(event) {
      this.$emit('focus', event)
    },
    handleInputChange(newVal, oldVal) {
      this.$emit('keyupVal', newVal)
      this.$emit('focus', newVal, oldVal)
    },
    onActualMoneyInput(val) {
      this.$emit('input', val)
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.input.$refs.input.$on('input', value => {
        if (isNaN(Number(value))) {
          this.$refs.input.setCurrentValue(this.value)
        }
        if (value > this.max) {
          value = this.max
          this.$refs.input.setCurrentValue(this.max)
        }
        let newVal = isNaN(Number(value)) ? this.value : value
        this.$emit('keyupVal', newVal)
      })
    })
  },
  updated() {},
  beforeDestroy() {
    if (this.$refs.input) {
      this.$refs.input.$refs.input.$off('input')
    }
  }
}
</script>
