.scrmp{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  background-color: #f6f6f6;
}
.scrmp-bodys{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  min-width: 1200px;
  overflow-x: auto;
}
// 头部
.scrmp-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #3A4762;
  box-shadow:0px 5px 5px 0px rgba(133,133,133,0.15);
  z-index: 3;
  .scrmp-logo{
    position: absolute;
    top: 20px;
    left: 26px;
    width: 124px;
    height: 26px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .scrmp-header-menu{
    position: absolute;
    top: 0;
    left: 190px;
    right: 350px;
    display: flex;
    height: 60px;
    overflow-x: hidden;
    &:hover{
      overflow-x: auto;
    }
    .scrmp-header-li{
      margin: 0 12px;
      span{
        display: inline-block;
        margin-top: 24px;
        padding: 0 10px;
        font-size: 16px;
        line-height: 20px;
        white-space: nowrap;
        cursor: pointer;
        color: #fff;
        font-weight:400;
        &:hover{
          color: #2897FF;
          opacity: 0.9;
        }
      }
      &.active{
        span{
          color: #2897FF;
        }
      }
    }
  }
  .scrmp-header-right{
    display: flex;
    position: absolute;
    top: 18px;
    right: 25px;
    text-align: right;
    .scrmp-header-micro{
      position: relative;
      width: 76px;
      height: 30px;
      margin-right: 10px;
      border-radius: 76px;
      background-color: #2897FF;
      line-height: 30px;
      color: #fff;
      font-size: 12px;
      text-align: left;
      cursor: pointer;
      img{
        position: absolute;
        top: 8px;
        left: 10px;
        width: 16px;
      }
      span{
        padding-left: 30px;
      }
    }
    .scrmp-header-notice{
      position: relative;
      margin-right: 10px;
      height: 30px;
      color: #fff;
      font-size: 17px;
      img{
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
      span{
        position: absolute;
        top: 5px;
        right: 2px;
        width: 4px;
        height: 4px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: red;
      }
    }
    .scrmp-header-help{
      font-size: 14px;
      line-height: 30px;
      color: #fff;
      div{
        display: inline-block;
        position: relative;
        padding-left: 16px;
        margin-right: 12px;
        cursor: pointer;
        &:hover{
          color: #2897FF;
        }
        img{
          position: absolute;
          width: 14px;
          height: 14px;
          top: 8px;
          left: 0;
        }
      }
    }
    .scrmp-header-dripdowm{
      margin-left: 12px;
      &:focus{
        outline: none;
      }
    }
    .scrmp-head-drop-l{
      cursor: pointer;
      color: #fff;
      line-height: 30px;
      vertical-align: text-top;
    }
  }
}
// 左侧
.scrmp-side{
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  width: 189px;
  padding-top: 19px;
  padding-bottom: 50px;
  overflow: hidden;
  border-right:1px solid rgba(221,221,221,1);
  background-color: #fff;
  font-size: 14px;
  z-index: 3;
  &:hover{
    overflow-y: auto;
  }
  .scrmp-slide-label{
    position: relative;
    .scrmp-slide-icon{
      position: absolute;
      width: 18px;
      height: 18px;
      top: 13px;
      left: 24px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .scrmp-slide-title{
      width: 135px;
      padding-left: 50px;
      line-height: 44px;
      color: #587490;
      opacity:0.6;
    }
  }
  .scrmp-slide-ul{
    width: 100%;
    .scrmp-slide-li{
      position: relative;
      padding-left: 50px;
      line-height: 36px;
      height: 36px;
      color: #656565;
      font-size: 13px;
      cursor: pointer;
      &:hover{
        color: #2897FF;
        background:rgba(242,247,254, 1);
      }
      &.active{
        color: #2897FF;
        background: darken(rgba(242,247,254,1), 3%);
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background-color: #2897FF;
        }
      }
    }
  }
}
// 正文内容
.scrmp-content{
  position: absolute;
  top: 65px;
  left: 190px;
  right: 0;
  bottom: 0;
  background-color: #f6f6f6;
  z-index: 2;
  .scrmp-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 43px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 5px 5px 0px rgba(133, 133, 133, 0.15);
    & > div{
      margin-left: rem(20px);
      padding-left: 6px;
      line-height: 43px;
      font-size: 14px;
      color: #858585;
      i{
        font-style: normal;
        font-weight: 500;
        padding: 0 3px;
      }
    }
  }
  .scrmp-body{
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0;
    //margin-top: rem(20px);
    overflow-y: auto;
  }
  .scrmp-container{
    //min-height: 100%;
    padding-top: rem(20px);
    margin-left: rem(20px);
    margin-right: rem(20px);
    margin-bottom: rem(20px);
    background-color: #f6f6f6;
  }
  &.active{
    left: 0;
    .scrmp-body{
      top: 0;
    }
  }
}
