<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.activityName" placeholder="请输入活动名称" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)" />
          <el-input v-model.trim="params.orderNbr" placeholder="请输入订单编号" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)" />
          <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" @change="dateChange($event,'startTime','endTime')" />
          <el-input v-model.trim="params.nickName" placeholder="请输入微信昵称" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)" />
          <el-select clearable class="ly-margin-right-bottom-sm" v-model="params.checkType" placeholder="审核方式">
            <el-option v-for="item in AUDIT_MODE" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.staffRelatesInformation" placeholder="请输入员工账号/姓名" class="ly-margin-right-bottom-sm" clearable maxlength="100" @keyup.native.enter="getTableList(1)" />
          <payMethod placeholder="支付方式" class="ly-margin-right-bottom-sm" v-model="params.payMethod"></payMethod>
          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="medium" @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span>
          <span class="ly-font-color-7 ly-font-14 ly-margin-right-sm">合计支出：{{total | numberToFixed}}</span>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="付款时间" min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.payTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="支出金额（元）" prop="payMoney" min-width="100" />
        <el-table-column label="领取者" min-width="100">
          <template slot-scope="scope">
            <div class="ly-box ly-box-align-c-justify-s">
              <div class="ly-margin-right-xs ly-width-50px">
                <div class="ly-wh-50px ly-bg-f6">
                  <img class="ly-wh-50px" alt="" :src="scope.row.wxHeadIcon | csAvtor" v-image-view>
                </div>
              </div>
              <div class="ly-box-1 ly-margin-top-nge-4">
                <p class="ly-font-color-3">{{scope.row.wxNickName || '--'}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="活动名称" prop="activityName" />
        <el-table-column prop="orderNbr" label="订单编号" />
        <el-table-column label="审核方式">
          <template slot-scope="scope">
            <span v-if="scope.row.checkType===2">自动审核</span>
            <span v-if="scope.row.checkType===1">人工审核</span>
          </template>
        </el-table-column>
        <el-table-column label="审核员工">
          <template slot-scope="scope">
            <span>{{scope.row.staffAccount || ''}}</span>
            <span v-if="scope.row.staffName">({{scope.row.staffName || '--'}})</span>
            <span v-if="!scope.row.staffAccount && !scope.row.staffName">--</span>
          </template>
        </el-table-column>
        <el-table-column prop="payMethod" label="支付方式">
          <template slot-scope="scope">
            <span v-if="scope.row.payMethod===0">微码微控账户支付</span>
            <span v-else>公众号支付({{scope.row.wxPayConfigName || '--'}})</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import { v2marketPlatformApi } from '@/api/system'
import { AUDIT_MODE } from '@/constants/selects'
import { payMethod } from '@/components/packages/system/lazySelect'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { payMethod },
  data () {
    return {
      activeNames: ['1'],
      AUDIT_MODE: AUDIT_MODE,
      params: {
        activityName: '',
        orderNbr: '',
        nickName: '',
        checkType: '',
        staffRelatesInformation: ''
      },
      total: 0
    }
  },
  methods: {
    // 获取列表addWordConfig
    async requestTableList () {
      await v2marketPlatformApi.commentPay(this.params).then(res => {
        this.tableData = res
      })
      this.getTotal()
    },
    async getTotal () {
      this.paramss = {}
      for (let key in this.params) {
        if (key !== 'current' && key !== 'size') {
          this.paramss[key] = this.params[key]
        }
      }
      this.total = await v2marketPlatformApi.commentPayTotal(this.paramss)
    }
  }
}
</script>
