<template>
  <div>
    <div>
      <!-- 筛选查询 -->
      <el-collapse v-model="activeNames"
                   class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                   :class="{'ly-padding-bottom-sm':!activeNames[0]}">
        <el-collapse-item name="1">
          <!-- title -->
          <template slot="title"
                    class="ly-box">
            <div class="ly-box-1 ly-font-16 ly-font-color-1">
              <span class="ly-vertical-line">筛选查询</span>
            </div>
            <div class="ly-font-14 ly-font-color-2">
              <i class="el-icon-arrow-down"
                 :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
            </div>
          </template>
          <div class="ly-clearfix">
            <el-date-picker v-model="date"
                            class="ly-margin-right-bottom-sm"
                            type="daterange"
                            size="small"
                            value-format="timestamp"
                            @change="dateChange"
                            range-separator="至"
                            start-placeholder="充值开始日期"
                            end-placeholder="充值结束日期"
                            :default-time="['00:00:00', '23:59:59']">
            </el-date-picker>
            <!-- button -->
            <el-button class="ly-float-right"
                       type="primary"
                       size="medium"
                       @click="getTableList(1)">查询
            </el-button>
          </div>
        </el-collapse-item>
      </el-collapse>
      <!-- 数据列表 -->
      <div class="ly-bg-white ly-padding-sm">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">数据列表</span>
          </div>
        </div>
        <el-table :data="tableData.records">
          <el-table-column label="充值条数"
                           prop="msgNum"
                           width="100">
          </el-table-column>
          <el-table-column label="金额"
                           prop="payMoney"
                           width="100">
          </el-table-column>
          <el-table-column label="支付方式"
                           width="100">
            <template slot-scope="scope">
              <span>{{scope.row.payType === 1 ? '微信' : '支付宝'}}</span>
            </template>
          </el-table-column>
          <el-table-column label="交易流水号"
                           prop="logNbr">
          </el-table-column>
          <el-table-column label="状态"
                           width="100">
            <template slot-scope="scope">
              <span v-if="scope.row.status === 1"
                    class="ly-font-color-5">充值成功</span>
              <span v-else-if="scope.row.status === 2"
                    class="ly-font-color-7">充值失败</span>
              <span v-else>--</span>
            </template>
          </el-table-column>
          <el-table-column label="充值时间">
            <template slot-scope="scope">
              <span>{{fmt.date(scope.row.createTime)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="充值说明"
                           prop="remark"></el-table-column>
        </el-table>
        <div class="ly-box ly-margin-top-sm"
             v-if="tableData.total>0">
          <vma-pagination class="ly-text-right ly-box-1"
                          :pageNum="params.current"
                          :total="tableData.total"
                          :pageSize="params.size"
                          @change="getTableList" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { rechargeDetailsApi } from '@/api/sms'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      activeNames: ['1'],
      date: '',
      tableData: [],
      params: {
        current: 1,
        size: 10,
        enterpriseId: this.dataInfo.data.id
      }
    }
  },
  methods: {
    /**
    * 日期格式转换
    */
    dateChange(val) {
      if (!val) {
        this.params.begin_time = ''
        this.params.end_time = ''
      } else {
        this.params.begin_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    getTableList(pageNum, pageSize) {
      if (typeof pageNum === 'number') {
        this.params.current = pageNum
      }
      if (typeof pageSize === 'number') {
        this.params.size = pageSize
      }
      rechargeDetailsApi.getSmsRechargeDetails(this.params).then((result) => {
        this.tableData = result
        if (this.tableData.total > 0 && this.tableData.current > 1 && this.tableData.records.length === 0) {
          this.getTableList(1)
        }
      })
    }
  },
  created() {
    this.getTableList()
  }
}
</script>
