<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames" class="ly-collapse ly-padding-horizontal-sm ly-bg-white" :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title" class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down" :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="请输入微信号/微信昵称/微信备注" class="ly-margin-right-bottom-sm ly-width-249px-im" v-model.trim="params.wechatUserRelatesInformation" @keyup.native.enter="queryCallback" :maxlength="100" clearable></el-input>
          <el-select v-model="params.status" placeholder="全部" clearable class="ly-margin-right-bottom-sm">
            <el-option label="发送中" :value="STATUS_MAP.SENDING"></el-option>
            <el-option label="执行成功" :value="STATUS_MAP.SUCCESS"></el-option>
            <el-option label="执行失败" :value="STATUS_MAP.FAIL"></el-option>
          </el-select>
          <el-date-picker class="ly-margin-right-bottom-sm" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" value-format="timestamp" v-model="dateRange" @change="dateChange" clearable>
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right" type="primary" size="medium" @click="queryCallback">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="tableData.records" tooltip-effect="dark" row-key="id" @selection-change="handleSelectionChange" class="ly-width-100">
        <el-table-column type="selection" reserve-selection :selectable="checkSelectable" fixed="left" width="55">
        </el-table-column>
        <el-table-column prop="nickName" label="微信昵称">
        </el-table-column>
        <el-table-column prop="account" label="微信号">
        </el-table-column>
        <el-table-column label="微信备注">
          <template slot-scope="scope">
            <p class="ly-width-120px ly-ellipsis2" :title="scope.row.remark">{{scope.row.remark}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="realName" label="客户姓名">
        </el-table-column>
        <el-table-column label="所属个人号" min-width="290">
          <template slot-scope="scope">
            <personalInfos :info="{
              headIcon: scope.row.wechatAccountHeadIcon,
              nickName: scope.row.wechatAccountNickName,
              phone: scope.row.wechatAccountPhone,
              wxId: scope.row.wechatAccountWxId,
              account: scope.row.wechatAccount
            }"></personalInfos>
          </template>
        </el-table-column>
        <el-table-column label='群好友数' align='center'>
          <template slot-scope='scope'>
            {{scope.row.groupNum || '--'}}
          </template>
        </el-table-column>
        <el-table-column label="消息内容" min-width="140">
          <template slot-scope="scope">
            <videoAudioImg :info="{
              msgType: scope.row.type,
              msgSource: scope.row.content,
              voiceLength: scope.row.voiceLength,
              coverInfo: scope.row.coverInfo
            }"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column label="执行时间">
          <template slot-scope="scope">
            {{scope.row.executeTime | date}}
          </template>
        </el-table-column>
        <el-table-column label="执行状态">
          <template slot-scope="scope">
            <i class="spot-border-radius" :class="scope.row.status === 1 ? 'active' : 'danger'" v-if="scope.row.status > 0"></i>
            <span v-if="scope.row.status === 0">进行中</span>
            <span v-else-if="scope.row.status === 1">执行成功</span>
            <span v-else-if="scope.row.status === 2">执行失败</span>
          </template>
        </el-table-column>
        <el-table-column prop="reason" label="详细原因">
        </el-table-column>
        <el-table-column label="操作" fixed="right">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="reSend(scope.row)" v-if="scope.row.status === 2">重新发送</el-button>
            <span v-else>--</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <div>
          <el-button type="primary" size="small" data-click="assignStaffMore" @click="batchReSend">批量重发</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :page-size="params.size" :total="tableData.total" @change="pageChange" />
      </div>
    </div>
  </div>
</template>

<script>
import {
  mapGetters
} from 'vuex'
import {
  customerServiceApi
} from '@/api/chat'
import {
  tableMixin
} from '@/mixins'
import videoAudioImg from '@/components/common/videoAudioImg'
import personalInfos from '@/components/common/personalInfos'
import {
  MESSAGE_SUB_TYPE,
  IM_MESSAGE_ERROR_CODE,
  SESSION_TYPE
} from '@/constants/chat'
import {
  MESSAGE_TPYE_KEY
} from '@/constants/messageType'
import Logger from '@/utils/logger'
import {
  wechatInfoSession
} from '@/storage'
const STATUS_MAP = {
  SENDING: 0,
  SUCCESS: 1,
  FAIL: 2
}

export default {
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  components: {
    videoAudioImg,
    personalInfos
  },
  mixins: [tableMixin],
  data () {
    return {
      imIdentifier: null,
      STATUS_MAP,
      activeNames: ['1'],
      // 群聊2/好友1
      type: SESSION_TYPE.C2C,
      params: {
        current: 1,
        size: 10,
        pushHistoryId: null,
        wechatUserRelatesInformation: null,
        createTimeBegin: null,
        createTimeEnd: null,
        status: null
      },
      dateRange: [],
      tableData: {
        total: 0,
        records: []
      },
      msgId: null,
      accountId: null
    }
  },
  computed: {
    ...mapGetters([
      'chatIM'
    ])
  },
  created () {
    this.params.pushHistoryId = this.data.id
    this.imIdentifier = wechatInfoSession.getJSON().identifier
  },
  methods: {
    dateChange (val) {
      val = val || []
      this.params.createTimeBegin = val[0] || ''
      this.params.createTimeEnd = val[1] || ''
    },
    // 搜索
    queryCallback () {
      this.getTableList(1)
    },
    // 请求数据
    async requestTableList () {
      let tableData = await customerServiceApi.getPushMessageDetailLogs(this.params)
      if (!tableData) return
      this.tableData = tableData
      if (tableData.records.length > 0) {
        this.msgId = tableData.records[0].msgId
        this.accountId = tableData.records[0].wechatAccountId
        this.type = tableData.records[0].userType
      }
    },
    // 切换页面
    pageChange (pageNum, pageSize) {
      this.getTableList(pageNum, pageSize)
    },
    handleSelectionChange () { },
    // CheckBox 是否可以勾选
    checkSelectable (row) {
      return row.status === 2 || row.isMine === 1
    },
    // 单个重发
    async reSend (row) {
      if (row.isMine === 0) {
        return this.error('该好友/群聊已被转接到其他微客服或者被删除了,无法重新发送')
      }
      await this.$confirm('确定重新发送此消息？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      })
      let resultArr = []
      let accountWxId = row.wechatAccountWxId
      let imAccount = row.imAccount
      let messageList = this.getMessageList([row])
      let friendWxId = row.wechatUserWxId
      let wechatUserId = row.userId
      let msgData = this.getMsgToAccount(messageList, accountWxId, friendWxId)
      await this.sendMsgToAccount(msgData, imAccount, [row.msgIndex], resultArr, wechatUserId, friendWxId)
      this.afterSendAllMsg(resultArr)
    },
    // 批量群发
    async batchReSend () {
      let selection = this.getTableSelection()
      if (selection.length === 0) {
        return this.error('请先选择消息')
      }
      // 根据好友来整理消息内容，一个好友发送一条群发消息
      let map = {}
      selection.forEach(v => {
        if (!map[v.wechatUserWxId]) {
          map[v.wechatUserWxId] = {
            msgs: [],
            wechatUserWxId: v.wechatUserWxId,
            userId: v.userId
          }
        }
        map[v.wechatUserWxId].msgs.push(v)
      })
      let len = Object.keys(map).length
      // 提示
      const h = this.$createElement
      await this.$msgbox({
        title: '提示',
        message: h('p', null, [
          h('span', null, '已选择'),
          h('span', {
            style: 'color: #FF0000'
          }, len),
          h('span', null, '个好友，确认批量发送？')
        ]),
        showCancelButton: true,
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      })
      let accountWxId = selection[0].wechatAccountWxId
      let imAccount = selection[0].imAccount
      let waitTime = 0
      let resultArr = []
      for (let x in map) {
        len--
        let msgs = map[x].msgs
        // 消息数组，发送im消息用
        let messageList = this.getMessageList(msgs)
        let friendWxId = map[x].wechatUserWxId
        // 好友id
        let userId = map[x].userId
        let msgData = this.getMsgToAccount(messageList, accountWxId, friendWxId)
        // 消息下标的集合
        let msgIndexArr = msgs.map(v => {
          return v.msgIndex
        })
        // 发送消息
        this.setTimeoutSend(msgData, imAccount, msgIndexArr, waitTime, resultArr, userId, friendWxId, len, x)
        waitTime += 50
      }
    },
    // 定时发送消息
    setTimeoutSend (msgData, imAccount, msgIndexArr, time, resultArr, wechatUserId, friendWxId, len, x) {
      const that = this
      setTimeout(async () => {
        await that.sendMsgToAccount(msgData, imAccount, msgIndexArr, resultArr, wechatUserId, friendWxId)
        if (len === 0) {
          that.afterSendAllMsg(resultArr)
        }
      }, time)
    },
    // 消息发送全部完毕后
    async afterSendAllMsg (resultArr) {
      Logger.info('resultArr', resultArr, resultArr.length + '')
      this.success('发送完毕')
      // 清除选中
      this.clearSelection()
      await customerServiceApi.putPushMessageStauts(resultArr)
      this.requestTableList()
    },
    /**
     * 消息发送成功
     * @param  {[type]} msgData      [description]
     * @param  {[type]} msgIndexArr  消息下标数组
     * @param  {[type]} resultArr    本次群发的结果
     * @param  {[type]} wechatUserId 好友/群聊id
     * @param  {[type]} friendWxId   好友微信id
     */
    async onSendMsgSuccess (msgData, msgIndexArr, resultArr, wechatUserId, friendWxId) {
      const type = this.type
      const msgId = this.msgId
      const accountId = this.accountId
      const friends = [{
        wxId: friendWxId
      }]
      // 记录
      resultArr.push({
        msgId,
        successMsgIndex: [],
        runningMsgIndex: msgIndexArr,
        failMsgIndex: [],
        userType: type,
        wechatUserId
      })
      // 修改统计
      this.$emitBus('on-push-send-footer', {
        messageNum: msgData.messageList.length,
        friendList: friends,
        accountId,
        type
      })
      // 是否显示到当前聊天窗口
      this.$emitBus('on-push-send-chatbox', {
        messageList: msgData.messageList,
        friendList: friends,
        accountId,
        type
      })
    },
    // 消息发送失败时
    async onSendMsgError (error, msgs, msgIndexArr, resultArr, wechatUserId) {
      if (error && error.ErrorCode === IM_MESSAGE_ERROR_CODE.MSG_TOO_LONG) {
        this.warn('所选用户或所要发送消息内容过多，一次批量发送的数量有限，请减少相应的数量再进行发送')
      } else {
        this.error('发送失败')
      }
      const type = this.type
      const msgId = this.msgId
      // 记录
      resultArr.push({
        msgId,
        successMsgIndex: [],
        runningMsgIndex: [],
        failMsgIndex: msgIndexArr,
        userType: type,
        wechatUserId
      })
    },
    // 发送消息，上报发送结果
    sendMsgToAccount (msgData, imAccount, msgIndexArr, resultArr, wechatUserId, friendWxId) {
      let options = this.transferFriendTypeOptions(
        msgData,
        imAccount
      )
      return this.sendMessge(options).then(() => {
        // 发送成功要通知服务端
        this.onSendMsgSuccess(msgData, msgIndexArr, resultArr, wechatUserId, friendWxId)
      }, (error) => {
        this.onSendMsgError(error, msgData, msgIndexArr, resultArr, wechatUserId)
        return error
      })
    },
    // 获取群发消息的发送格式
    getMsgToAccount (messageList, accountWxId, friendWxId) {
      return {
        msgType: MESSAGE_SUB_TYPE.VMA_GROUP_SEND_ELEM,
        messageList,
        isSelfSend: 1,
        wxId: accountWxId,
        talkerWxIds: friendWxId,
        // 群发消息唯一id
        pushMsgId: this.msgId
      }
    },
    // 生成用于发送de 消息
    getMessageList (msgs) {
      return msgs.map(val => {
        return this.changeMsgData(val, val.msgIndex, this.data.startRange, this.data.endRange)
      })
    },
    // 好友群发的消息列表
    changeMsgData (data, pushMsgIndex, startRange, endRange) {
      let waitTime = Math.floor(Math.random() * (endRange - startRange) + startRange) * 1000
      let wkfMsgId = new Date().getTime()
      // 处理成im消息格式
      let toAccount = {}
      switch (data.type) {
        // 文本
        case MESSAGE_TPYE_KEY.TXT:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_TEXT_ELEM,
            content: data.content,
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: this.msgId,
            pushMsgIndex,
            waitTime
          }
          break
        // 图片
        case MESSAGE_TPYE_KEY.IMG:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_IMAGE_ELEM,
            resourceUrl: data.content,
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: this.msgId,
            pushMsgIndex,
            waitTime
          }
          break
        // 语音
        case MESSAGE_TPYE_KEY.AUDIO:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_SOUND_ELEM,
            resourceUrl: data.content,
            content: {
              soundLength: data.voiceLength
            },
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: this.msgId,
            pushMsgIndex,
            waitTime
          }
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          toAccount = {
            msgType: MESSAGE_SUB_TYPE.VMA_VIDEO_ELEM,
            resourceUrl: data.content,
            videoImgUrl: data.coverInfo,
            isSelfSend: 1,
            wkfMsgId,
            pushMsgId: this.msgId,
            pushMsgIndex,
            waitTime,
            content: {
              soundLength: data.voiceLength
            }
          }
          break
      }
      return toAccount
    },
    // 发送消息
    sendMessge (options) {
      Logger.info('发送消息', options)
      return this.chatIM.sendMessge(options)
    },
    // 获取好友消息数据
    transferFriendTypeOptions (params, selToID) {
      let options = {
        msgData: params,
        selToID: selToID,
        identifier: this.imIdentifier,
        msgSubType: 'custom',
        sessionType: 'c2c'
      }
      return options
    }
  }
}
</script>
