<template>
  <div>
    <el-form ref="form"
             :model="form"
             :rules="rules"
             label-width="100px"
             style="margin-top:20px;">
      <el-form-item label="图片：">
        <img class="ly-wh-50px ly-float-left"
             :src="detailData.imgUrl | productAvtor"
             v-image-view />
      </el-form-item>
      <el-form-item label="系统提示：">
        <div v-for="(item,index) in detailData.failReason"
             :key="index">
          <p>{{item}}</p>
        </div>
      </el-form-item>
      <el-form-item label="红包金额：">
        <div>¥{{detailData.moneyNum}}</div>
      </el-form-item>
      <hr>
      <el-form-item label="审核："
                    style="margin-top: 22px;">
        <el-radio-group v-model="form.status"
                        :disabled="(detailData.status===1 || detailData.status===3)?false:true">
          <el-radio :label="2">通过</el-radio>
          <el-radio :label="3">拒绝</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="拒绝理由："
                    v-if="form.status === 3"
                    prop="checkRemark">
        <el-input type="textarea"
                  :rows="5"
                  v-model="form.checkRemark"
                  :maxlength="20"
                  class="ly-width-280px-im"></el-input>
        <p class="ly-font-color-4">拒绝理由将反馈给客户（最多20字）</p>
      </el-form-item>
      <el-form-item class="ly-text-right">
        <el-button @click="dialog.open = false">取 消</el-button>
        <el-button type="primary"
                   @click="sureCallback('form')">确 定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// import { v2marketPlatformApi } from '@/api/system'

export default {
  props: ['dialog'],
  data() {
    return {
      detailData: {},
      form: {
        status: 2, // 0无效1未审核2通过3拒绝
        checkRemark: ''
      },
      rules: {
        checkRemark: [
          { required: true, message: '请填写拒绝理由' },
          { max: 20, message: '拒绝理由不能超过20个字' }
        ]
      }
    }
  },
  created() {
    this.getDetails()
  },
  methods: {
    // 申请详情
    async getDetails() {
      this.detailData = this.dialog.data
      // this.detailData = await v2marketPlatformApi.showDetails(this.dialog.id)
    },
    // 提交申请
    sureCallback(formName) {
      this.form.checkRemark = this.form.checkRemark.trim()
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('refuseCallback', this.form)
        } else {
          return false
        }
      })
    }
  }
}
</script>
