<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.activityName"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="活动名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange($event,'createStartTime','createEndTime')"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-select v-model="params.status"
                     placeholder="活动状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="未开始"
                       :value="1">
            </el-option>
            <el-option label="进行中"
                       :value="2">
            </el-option>
            <el-option label="已结束"
                       :value="3">
            </el-option>
          </el-select>
          <el-select v-model="params.auditStatus"
                     placeholder="审核状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="待审核"
                       :value="1">
            </el-option>
            <el-option label="已通过"
                       :value="2">
            </el-option>
            <el-option label="已拒绝"
                       :value="3">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.orderNo"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="订单编号/手机号"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="活动信息"
                         width="300"
                         fixed>
          <template slot-scope="scope">
            <p>名称：{{scope.row.activityName}}</p>
            <!-- 1 未上线 2进行中 3结束 4下线 -->
            <p>状态：
              <span v-if="scope.row.activityStatus==1"
                    class="ly-font-color-3">未上线</span>
              <span v-if="scope.row.activityStatus==2"
                    class="ly-font-color-9">进行中</span>
              <span v-if="scope.row.activityStatus==3"
                    class="ly-font-color-5">结束</span>
              <span v-if="scope.row.activityStatus==4"
                    class="ly-font-color-5">下线</span>
            </p>
            <p>红包：
              <span v-if="scope.row.redpageType==1">固定红包</span>
              <span v-if="scope.row.redpageType==2">随机红包</span>
              <span v-if="scope.row.redpageType==3">阶梯红包</span>
            </p>
            <p>金额：{{scope.row.redpageMoney}}元</p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="申请信息"
                         width="300">
          <template slot-scope="scope">
            <p>申请时间：{{scope.row.createTime | date}}</p>
            <p>微信昵称：{{scope.row.nickname}}</p>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="订单信息"
                         width="300">
          <template slot-scope="scope">
            <p @click="orderDetailsClick(scope.row.orderNo)"
               class="ly-cursor-point ly-font-color-5">订单编号：{{scope.row.orderNo}}</p>
            <p>手机号：{{scope.row.orderPhone || '--'}}</p>
            <p>评价：
              <span v-if="scope.row.sellerRateStatus==0">未评价</span>
              <span v-else-if="scope.row.sellerRateStatus==1">好评</span>
              <span v-else-if="scope.row.sellerRateStatus==2">中评</span>
              <span v-else-if="scope.row.sellerRateStatus==3">差评</span>
              <span v-else>--</span>
            </p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="审核状态"
                         width="300">
          <template slot-scope="scope">
            <p v-if="scope.row.auditTime">审核时间：{{scope.row.auditTime | date}}</p>
            <p v-else>审核时间：--</p>
            <!-- 审核状态1待审核2已通过3已拒绝 -->
            <p>审核状态：
              <span v-if="scope.row.auditStatus==1"
                    class="ly-font-color-12">待审核</span>
              <span v-if="scope.row.auditStatus==2"
                    class="ly-font-color-5">已通过</span>
              <span v-if="scope.row.auditStatus==3"
                    class="ly-font-color-7">已拒绝</span>
            </p>
            <p>审核人：{{scope.row.realName || '--'}}</p>
          </template>
        </el-table-column>
        <el-table-column label="付款信息"
                         width="300">
          <template slot-scope="scope">
            <p>支付流水号：{{scope.row.tradeNo || '--'}}</p>
            <p v-if="scope.row.payTime">付款时间：{{scope.row.payTime | date}}</p>
            <p v-else>付款时间：--</p>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="审核图片"
                         width="300">
          <template slot-scope="scope">
            <img v-for="(url,i) in scope.row.picList"
                 :key="`picList_${i}`"
                 :src="url"
                 alt=""
                 class="ly-wh-50px ly-margin-right-bottom-xs"
                 v-image-view>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="其他信息"
                         width="300">
          <template slot-scope="scope">
            <!-- auditType：审核方式1系统2人工 -->
            <!--只要审核方式是系统，就展示-->
            <div v-if="scope.row.sysReason">
              <p class="ly-font-weight-bold">系统提示：</p>
              <div v-for="(item,index) in scope.row.sysReason"
                   :key="index">
                <p>{{item}}</p>
              </div>
              <!-- <p><span>{{scope.row.sysReason}}</span></p> -->
            </div>
            <!--只要审核方式是人工且审核状态是拒绝才展示-->
            <div v-if="scope.row.auditReason">
              <p class="ly-font-weight-bold">拒绝理由：</p>
              <div v-for="(item,index) in scope.row.auditReason"
                   :key="index">
                <p>{{item}}</p>
              </div>
              <!-- <p><span>{{scope.row.auditReason}}</span></p> -->
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="100"
                         fixed="right">
          <template slot-scope="scope">
            <el-button v-if="hasExamine && scope.row.auditStatus==1"
                       type="text"
                       size="small"
                       @click="applyDetails(scope.row.id)">审核</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 申请详情弹窗（点击审核） -->
    <ApplyDetails v-model="showApplyDetailsDialog"
                  :currId='currId'
                  @on-refuse='showRefuseApplyDialog = true'
                  @on-pass='getTableList(1,params.size)'
                  ref="applyDetails"></ApplyDetails>
    <!-- 拒绝理由弹窗（点击拒绝） -->
    <RefuseApply v-if="showRefuseApplyDialog"
                 v-model="showRefuseApplyDialog"
                 @on-comfire='comfireRefuse'></RefuseApply>
    <!-- 订单详情弹窗（点击列表上的订单编号） -->
    <OrderDetails v-model="showOrderDetailsDialog"
                  :currOrderNo='currOrderNo'></OrderDetails>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { tableMixin, resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import { ApplyDetails, RefuseApply, OrderDetails } from '../components'

export default {
  mixins: [tableMixin, resourceMixin],
  components: { ApplyDetails, RefuseApply, OrderDetails },
  data() {
    return {
      showApplyDetailsDialog: false,
      showRefuseApplyDialog: false,
      showOrderDetailsDialog: false,
      activeNames: ['1'],
      currId: '',
      currOrderNo: ''
    }
  },
  computed: {
    // 是否拥有审核
    hasExamine() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.PICTURE_AUDIT)
    }
  },
  methods: {
    // 拒绝审核理由
    async comfireRefuse(reason) {
      this.$refs.applyDetails.$data.auditParams.auditReason = reason
      await this.$refs.applyDetails.auditRecord(3)
      this.showApplyDetailsDialog = false
      this.getTableList(1, this.params.size)
    },
    async requestTableList() {
      const data = await marketPlatformApi.getActivityAuditList(this.params)
      let newData = this.handleCallback(data)
      this.tableData = newData
    },
    // 审核
    applyDetails(id) {
      this.currId = id
      this.showApplyDetailsDialog = true
    },
    // 订单详情点击（订单编号）
    orderDetailsClick(no) {
      this.showOrderDetailsDialog = true
      this.currOrderNo = no
    },
    // 审核-其他信息处理
    handleCallback(data) {
      if (data.records && data.records.length > 0) {
        data.records.forEach(element => {
          if (element.sysReason) {
            element.sysReason = element.sysReason.split('|')
            element.sysReason.forEach((item, index) => {
              element.sysReason[index] = (index + 1) + '.' + item
            })
          }
          if (element.auditReason) {
            element.auditReason = element.auditReason.split('\n')
          }
        })
      }
      return data
    }
  }
}
</script>
