<template>
  <div>
    <div>
      <div class="ly-box ly-paddingtop-20px">
        <div class="ly-box-1 ly-margin-right-116px">
          <el-form ref="form"
                   :model="form"
                   :rules="rules">
            <el-form-item class="dialogpowder-num-remark"
                          label="微活码名称:"
                          prop="title"
                          :label-width="formLabelWidth3">
              <el-input placeholder="例：旗舰店售后客服（8字以内）"
                        v-model.trim="form.title"
                        :maxlength="8"
                        class="ly-width-400px-im"
                        size="medium"></el-input>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark"
                          label="推广模式:"
                          required
                          :label-width="formLabelWidth3">
              <el-radio-group v-model="form.type">
                <el-radio :label="1">使用模板</el-radio>
                <el-radio :label="2">自定义模板</el-radio>
              </el-radio-group>
            </el-form-item>
            <template v-if="form.type===1">
              <el-form-item class="dialogpowder-num-remark"
                            label="推广主题:"
                            prop="supject"
                            key="supject"
                            :label-width="formLabelWidth3">
                <el-input placeholder="例：扫描有惊喜（8个字以内）"
                          v-model.trim="form.supject"
                          :maxlength="8"
                          class="ly-width-400px-im"
                          size="medium"></el-input>
              </el-form-item>
              <el-form-item class="dialogpowder-num-remark"
                            label="推广描述:"
                            prop="tip"
                            key="tip"
                            :label-width="formLabelWidth3">
                <el-input type="textarea"
                          placeholder="例：长按二维码添加店长微信获得私密好礼（20字以内）"
                          v-model.trim="form.tip"
                          :maxlength="20"
                          :rows="6"
                          class="ly-width-400px-im"
                          size="medium"></el-input>
              </el-form-item>
            </template>
            <template v-else>
              <el-form-item class="dialogpowder-num-remark"
                            label="背景图:"
                            prop="bgUrl"
                            key="bgUrl"
                            :label-width="formLabelWidth3">
                <vma-image-upload v-model="form.bgUrl"
                                  :exts="['jpg','png']"
                                  :singleFileSize="1" />
                <p class="ly-font-12 ly-font-color-4 line-height-18 ly-margin-top-20px">图片建议尺寸640*1136px，小于1M，格式为png或jpg图片（如不上传，则使用系统默认背景图）</p>
              </el-form-item>
            </template>
            <el-form-item class="dialogpowder-num-remark"
                          label="使用状态:"
                          required
                          :label-width="formLabelWidth3">
              <!-- 使用状态：0、已停用，1、使用中 -->
              <el-switch v-model="form.status"
                         :active-value="1"
                         :inactive-value="0">
              </el-switch>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark"
                          label="选择个人号:"
                          required
                          :label-width="formLabelWidth3">
              <el-button type="primary"
                         size="medium"
                         @click="showSelectPersonalNumDialog=true"><i class="el-icon-plus"></i> 添加</el-button>
              <span class="ly-font-color-8">&nbsp;&nbsp;当前最多可添加500个个人号</span>
            </el-form-item>
            <el-form-item class="dialogpowder-num-remark"
                          label-width="35px">
              <!-- 表格 -->
              <el-table ref="multipleTable"
                        :data="form.wechatAccountList"
                        tooltip-effect="dark"
                        max-height="250"
                        style="width: 100%">
                <el-table-column prop="nickName"
                                 label="微信昵称"
                                 width="200">
                </el-table-column>
                <el-table-column prop="wxId"
                                 label="微信号">
                </el-table-column>
                <el-table-column prop="remark"
                                 label="备注">
                </el-table-column>
                <el-table-column prop="department"
                                 label="部门">
                </el-table-column>
                <el-table-column prop="dayLimit">
                  <template slot="header"
                            slot-scope="scope">
                    <el-tooltip class="item"
                                effect="dark"
                                content="当添加人数等于当日设置数值，该微信号将不会继续展示。"
                                placement="top">
                      <p>每日被添加数 <i class="el-icon-question ly-font-color-5"></i></p>
                    </el-tooltip>
                  </template>
                  <template slot-scope="scope">
                    <span v-if="!scope.row.showLimitInput"
                          @click="scope.row.showLimitInput=true"
                          class="ly-font-color-5">{{scope.row.dayLimit>0?scope.row.dayLimit:'不限'}}</span>
                    <el-input v-else
                              v-model="scope.row.dayLimit"
                              :controls='false'
                              autofocus
                              style="width:100px"
                              size="medium"
                              @blur="dayLimitChange(scope.row)"></el-input>
                  </template>
                </el-table-column>
                <el-table-column label="操作"
                                 width="230">
                  <template slot-scope="scope">
                    <el-button type="text"
                               size="small"
                               @click="delPersonal(scope.row.id)">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>

            </el-form-item>
          </el-form>
        </div>
        <div class="ly-width-196px ly-margin-right-40px ly-position-relative iphone-contain"
             style="height:408px">
          <div class="h5-view-container"
               v-show="viewUrl">
            <!-- h5主页 -->
            <h5-view :url="viewUrl" />
          </div>
        </div>
      </div>
      <div slot="footer"
           class="dialog-footer ly-text-left">
        <el-button type="primary"
                   @click="viewForm('form')"
                   class="ly-margin-left-106px">预览</el-button>
        <el-button type="primary"
                   @click="submitForm('form')"
                   class="ly-margin-left-106px">马上生成</el-button>
      </div>
    </div>
    <!-- 选择个人号（点击选择个人号） -->
    <SelectPersonalNum v-model="showSelectPersonalNumDialog"
                       @on-confirm='confirmPersonal'
                       :currId='dialog.id'
                       :checkArr='checkArr'></SelectPersonalNum>
  </div>
</template>

<script>
import { powderManageApi } from '@/api/system'
import defaultAvatar from '@/assets/images/common/iPhone.png'
import { compatUrl } from '@/utils'
import { positiveInteger } from '@/utils/validator'
import { vmaH5ScrmMicroCode } from '@/config'
import SelectPersonalNum from './selectPersonalNum'

export default {
  components: { SelectPersonalNum },
  props: ['dialog'],
  filters: {
    backgroundImgurl(url) {
      let bgImg = {
        'background-image': `url(${url})`,
        'background-repeat': 'no-repeat',
        'background-size': '100% 100%'
      }
      return bgImg
    }
  },
  data() {
    return {
      showSelectPersonalNumDialog: false,
      formLabelWidth3: '110px',
      phoneImg: defaultAvatar,
      checkArr: [],
      isEdit: false,
      form: {
        type: 1,
        bgUrl: '',
        isPreview: '',
        status: 1,
        supject: '',
        tip: '',
        title: '',
        wechatAccountList: []
      },
      viewUrl: '',
      rules: {
        title: [
          { required: true, message: '请输入微活码名称' }
        ],
        supject: [
          { required: true, message: '请输入推广主题' }
        ],
        tip: [
          { required: true, message: '请输入推广描述' }
        ],
        bgUrl: [
          { required: true, message: '请上传背景图' }
        ]
      }
    }
  },
  mounted() {
    if (this.dialog.name === 'edit') {
      this.isEdit = true
    } else {
      this.isEdit = false
    }
    if (this.isEdit) {
      this.getMicroCodeDtail()
    }
  },
  methods: {
    // 添加个人号
    confirmPersonal(data) {
      this.form.wechatAccountList = this.sortOldArr(data)
      this.dayLimitInit()
      this.getChechArr()
    },
    sortOldArr(data) {
      let odlAdrr = this.form.wechatAccountList
      let oldArrSec = []
      // 用于存储并过滤旧值
      for (let j = 0; j < odlAdrr.length; j++) {
        let isDelete = true
        for (let i = 0; i < data.length; i++) {
          if (odlAdrr[j].id === data[i].id) {
            isDelete = false
            break
          }
        }
        if (!isDelete) {
          oldArrSec.push(odlAdrr[j])
        }
      }
      // 用于过滤新数据中旧的数据
      let newArr = []
      for (let i = 0; i < data.length; i++) {
        let isHasInOld = false
        for (let j = 0; j < oldArrSec.length; j++) {
          if (data[i].id === oldArrSec[j].id) {
            isHasInOld = true
            break
          }
        }
        if (!isHasInOld) {
          newArr.push(data[i])
        }
      }
      // 生成带排序效果的个人号
      let newArrSec = [...oldArrSec, ...newArr]
      return newArrSec
    },
    getChechArr() {
      let arr = []
      this.form.wechatAccountList.forEach(item => {
        arr.push(item.id)
      })
      this.checkArr = arr
    },
    // 删除个人号（单个）
    async delPersonal(id) {
      // await powderManageApi.delPersonalNo(id)
      this.form.wechatAccountList = this.form.wechatAccountList.filter((o, i) => {
        return o.id !== id
      })
      this.getChechArr()
    },
    // 每日被添加数的初始化
    dayLimitInit() {
      this.form.wechatAccountList.forEach(o => {
        this.$set(o, 'showLimitInput', false)
        this.$set(o, 'dayLimitFirst', o.dayLimit)
      })
    },
    // 背景图初始化
    bgUrlInit() {
      if (this.form.type === 1) {
        // 使用模板
        this.form.bgUrl = 'https://keji-res.h5h5h5.cn/IMG-H-bbd9b132-15db-4a22-b5c1-c25c5781b673?attname=%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190307164514.png'
      } else {
        // 自定义模板
      }
    },
    dayLimitChange(row) {
      // 0代表不限
      row.showLimitInput = false
      if (!positiveInteger.reg.test(row.dayLimit) || row.dayLimit < 1 || row.dayLimit > 5000) {
        row.dayLimit = 0
        this.error('请输入1-5000的数字')
      } else {
        if (row.dayLimitFirst !== 0 && row.dayLimitFirst > row.dayLimit) {
          row.dayLimit = row.dayLimitFirst
          this.error('不能小于原来的每日添加数')
        }
      }
    },
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          if (this.form.wechatAccountList.length !== 0) {
            this.bgUrlInit()
            if (this.isEdit) {
              this.editMicroCode()
            } else {
              this.newMicroCode()
            }
          } else {
            this.error('请选择个人号')
          }
        } else {
          return false
        }
      })
    },
    // 生成微活码
    async newMicroCode() {
      const data = await powderManageApi.newMicroCode(this.form)
      this.$emit('on-success', data)
      this.dialog.open = false
    },
    // 编辑微活码
    async editMicroCode() {
      const data = await powderManageApi.editMicroCode(this.form)
      this.$emit('on-success', data)
      this.dialog.open = false
    },
    // 通过id获取微活码详情信息
    async getMicroCodeDtail() {
      const data = await powderManageApi.getMicroCodeDtail(this.dialog.id)
      this.form = data
      this.dayLimitInit()
      this.getChechArr()
    },
    // 预览
    async viewForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.bgUrlInit()
          const entity = Object.assign({}, this.form)
          entity.isPreview = 1
          const key = await powderManageApi.newMicroCode(entity)
          this.viewUrl = compatUrl(vmaH5ScrmMicroCode, {
            id: key,
            view: 1
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>
