<template>
  <div class="ly-box">
    <el-container>
      <!-- 左侧 -->
      <el-aside width="200px" class="ly-bg-white ly-padding-horizontal-sm ly-padding-bottom-20px">
        <div class="ly-position-relative ly-padding-vertical-sm">
          <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">菜单目录</span>
        </div>
        <div class="ly-text-center">
          <el-select v-model="currentSystem" placeholder="请选择后台类型">
            <el-option
              v-for="item in systemType"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
        <div class="ly-margin-top-10px">
          <el-tree :data="memuData"
                   :props="defaultProps"
                   node-key="id"
                   :highlight-current="true"
                   :accordion="true"
                   :check-on-click-node="true"
                   :expand-on-click-node="false"
                   :default-expanded-keys="[5]"
                   @node-click="handleNodeClick"></el-tree>
        </div>
      </el-aside>
      <!-- 数据列表 -->
      <el-main class="ly-bg-white ly-padding-sm ly-margin-left-sm ly-padding-bottom-20px">
        <!-- 表头 -->
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
            <span class="ly-vertical-line">菜单详情</span>
          </div>
          <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     v-if="(childLevel < 4) && (tableData.title)"
                     @click="showEditDialog()">新增菜单</el-button>
        </span>
        </div>
        <el-table
          :data="tableData.node"
          style="width: 100%">
          <el-table-column
            prop="date"
            label="父级菜单"
            min-width="100">
            <template slot-scope="scope">
              {{tableData.title}}
            </template>
          </el-table-column>
          <el-table-column
            prop="title"
            label="名称"
            min-width="100">
          </el-table-column>
          <el-table-column
            prop="address"
            label="图标">
            <template slot-scope="scope">
              <i :class="scope.row.menuIcon"></i>
            </template>
          </el-table-column>
          <el-table-column
            prop="url"
            label="路由">
          </el-table-column>
          <el-table-column
            prop="sort"
            label="排序">
          </el-table-column>
          <el-table-column
            prop="address"
            label="状态">
            <template slot-scope="scope">
              {{scope.row.status === 1 ? '显示' : '隐藏'}}
            </template>
          </el-table-column>
          <el-table-column
            prop="address"
            label="操作"
            min-width="120">
            <template slot-scope="scope">
              <el-button type="text" @click="showEditDialog(scope.$index, scope.row)">编辑</el-button>
              <el-button type="text" @click="showMoveDialog(scope.$index, scope.row)">移动</el-button>
              <el-button class="ly-font-color-7"
                         type="text"
                         v-if="!scope.row.node || (!scope.row.node && scope.row.node.length===0)" @click="deleteMenu(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-main>
    </el-container>
    <!--编辑-->
    <el-dialog
      title="提示"
      :visible.sync="dialogEditInfo.show"
      width="540px"
      @close="closeEditDialog">
      <el-form :model="form">
        <el-form-item label="菜单名称:" :label-width="formLabelWidth">
          <el-input autocomplete="off" placeholder="请输入菜单名称" class="ly-width-280px-im" :maxlength="20" v-model.trim="form.title"></el-input>
        </el-form-item>
        <el-form-item label="菜单图标:" :label-width="formLabelWidth">
          <el-select v-model="form.menuIcon" placeholder="请选择图标" class="ly-width-280px-im">
            <el-option label="区域一" value="shanghai"></el-option>
            <el-option label="区域二" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="路由名称:" :label-width="formLabelWidth">
          <el-input autocomplete="off" placeholder="请输入路由名称" class="ly-width-280px-im" :maxlength="50" v-model.trim="form.url"></el-input>
        </el-form-item>
        <el-form-item label="状态:" :label-width="formLabelWidth">
          <el-switch
            v-model="form.status"
            active-color="#4CD964"
            :active-value="1"
            :inactive-value="0">
          </el-switch>
          <span class="ly-margin-left-5px">{{form.status?'显示':'隐藏'}}</span>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeEditDialog">取 消</el-button>
        <el-button type="primary" @click="closeEditDialog">确 定</el-button>
      </span>
    </el-dialog>
    <!--移动-->
    <el-dialog
      title="提示"
      :visible.sync="dialogMoveInfo.show"
      width="540px"
      @close="closeMoveDialog">
      <el-form :model="form">
        <el-form-item label="选择父级菜单:" :label-width="formLabelWidth">
          <el-cascader
            clearable placeholder="请选择父级菜单" class="ly-width-280px-im"
            :options="moveCascaderData"
            :props="props"
            v-model="moveId"
            :change-on-select="true"
            @visible-change="visibleChange"
            @change="handleChange">
          </el-cascader>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeMoveDialog">取 消</el-button>
        <el-button type="primary" @click="submitMoveDialog">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>

export default {
  data() {
    return {
      systemType: [
        {
          value: '1',
          label: '企业后台'
        }, {
          value: '2',
          label: '代理商后台'
        }, {
          value: '3',
          label: '运营商后台'
        }, {
          value: '4',
          label: '超级后台'
        }
      ],
      currentSystem: '1',
      memuData: [{
        code: 123,
        createTime: 123123123,
        description: '234',
        id: 0,
        menuIcon: 'el-icon-menu',
        menuType: 1,
        mid: '',
        parentId: -1,
        possess: 1,
        relateId: 1,
        relateType: '12',
        sort: 1,
        status: 1,
        target: '1',
        title: '系统菜单',
        type: '1',
        url: 'HOME',
        node: [
          {
            code: 123,
            createTime: 123123123,
            description: '234',
            id: 1,
            menuIcon: 'el-icon-menu',
            menuType: 1,
            mid: '',
            parentId: 0,
            possess: 1,
            relateId: 1,
            relateType: '12',
            sort: 1,
            status: 1,
            target: '1',
            title: '首页',
            type: '1',
            url: 'HOME',
            node: [
              {
                code: 123,
                createTime: 123123123,
                description: '234',
                id: 11,
                menuIcon: 'el-icon-menu',
                menuType: 1,
                mid: '',
                parentId: 1,
                possess: 1,
                relateId: 1,
                relateType: '12',
                sort: 1,
                status: '1',
                target: '1',
                title: '首页1',
                type: '1',
                url: 'HOME'
              },
              {
                code: 123,
                createTime: 123123123,
                description: '234',
                id: 12,
                menuIcon: 'el-icon-menu',
                menuType: 1,
                mid: '',
                parentId: 1,
                possess: 1,
                relateId: 1,
                relateType: '12',
                sort: 1,
                status: 1,
                target: '1',
                title: '首页2',
                type: '1',
                url: 'HOME'
              }
            ]
          },
          {
            code: 123,
            createTime: 123123123,
            description: '234',
            id: 2,
            menuIcon: 'el-icon-menu',
            menuType: 1,
            mid: '',
            parentId: 0,
            possess: 1,
            relateId: 1,
            relateType: '12',
            sort: 1,
            status: 0,
            target: '1',
            title: '通知',
            type: '1',
            url: 'HOME'
          },
          {
            code: 123,
            createTime: 123123123,
            description: '234',
            id: 3,
            menuIcon: 'el-icon-menu',
            menuType: 1,
            mid: '',
            parentId: 0,
            possess: 1,
            relateId: 1,
            relateType: '12',
            sort: 1,
            status: 0,
            target: '1',
            title: '菜单',
            type: '1',
            url: 'HOME',
            node: [{
              code: 123,
              createTime: 123123123,
              description: '234',
              id: 131,
              menuIcon: 'el-icon-menu',
              menuType: 1,
              mid: '',
              parentId: 3,
              possess: 1,
              relateId: 1,
              relateType: '12',
              sort: 1,
              status: 1,
              target: '1',
              title: '菜单1-1',
              type: '1',
              url: 'HOME',
              node: [
                {
                  code: 123,
                  createTime: 123123123,
                  description: '234',
                  id: 1311,
                  menuIcon: 'el-icon-menu',
                  menuType: 1,
                  mid: '',
                  parentId: 131,
                  possess: 1,
                  relateId: 1,
                  relateType: '12',
                  sort: 1,
                  status: 1,
                  target: '1',
                  title: '菜单1-1-1',
                  type: '1',
                  url: 'HOME'
                },
                {
                  code: 123,
                  createTime: 123123123,
                  description: '234',
                  id: 1312,
                  menuIcon: 'el-icon-menu',
                  menuType: 1,
                  mid: '',
                  parentId: 131,
                  possess: 1,
                  relateId: 1,
                  relateType: '12',
                  sort: 1,
                  status: 0,
                  target: '1',
                  title: '菜单1-1-2',
                  type: '1',
                  url: 'HOME'
                }
              ]
            }]
          }
        ]
      }],
      defaultProps: {
        children: 'node',
        label: 'title'
      },
      tableData: {},
      childLevel: 0,
      dialogEditInfo: {},
      form: {
        title: '',
        menuIcon: '',
        url: '',
        status: ''
      },
      formLabelWidth: '136px',
      dialogMoveInfo: {},
      moveId: [],
      moveCascaderData: [],
      props: {
        value: 'id',
        label: 'title',
        children: 'node',
        disabled: 'disabled'
      }
    }
  },
  created() {
  },
  methods: {
    /**
     * 选择菜单
     */
    handleNodeClick(data, node, data2) {
      this.tableData = data
      this.childLevel = node.level
    },
    /**
     * 关闭编辑弹窗
     */
    closeEditDialog() {
      this.dialogEditInfo = {}
    },
    /**
     * 显示编辑弹窗
     */
    showEditDialog(index, data) {
      this.dialogEditInfo = {
        show: true
      }
      if (data) {
        this.dialogEditInfo.data = data
        this.form = data
      }
    },
    /**
     * 是否删除弹窗
     */
    deleteMenu(index, data) {
      this.$confirm('此操作将删除该菜单, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.success('删除成功!')
      }).catch(() => {})
    },
    /**
     * 隐藏移动弹窗
     */
    closeMoveDialog() {
      this.dialogMoveInfo = {}
    },
    /**
    * 显示移动弹窗
    */
    showMoveDialog(index, data) {
      this.moveCascaderData = this.initCascaderData(this.memuData, data, 0)
      this.dialogMoveInfo = {
        show: true,
        data: data
      }
    },
    /**
     * 初始化移动弹窗Cascader
     */
    initCascaderData(data, row, deepVal) {
      for (let i = 0; i < data.length; i++) {
        data[i].deep = deepVal + 1
        if (data[i].deep === 4) {
          data[i].disabled = true
        } else {
          data[i].disabled = false
        }
        if (data[i].node) {
          data[i].node = this.initCascaderData(data[i].node, row, deepVal + 1)
        }
      }
      return data
    },
    handleChange(data) {
    },
    visibleChange(data) {
      if (this.moveId.length && (this.dialogMoveInfo.data.id === this.moveId[this.moveId.length - 1])) {
        this.moveId = []
        this.warn('不能选自己为父级菜单')
      }
    },
    submitMoveDialog() {
      if (!this.moveId.length) {
        this.warn('请选选要父级菜单')
      } else {}
    }
  }
}
</script>
