<template>
  <el-dialog title="新增快捷回复" :visible.sync="dialogVisible13" width="880px" class="dialogforminput-100" @close="handleCloseDialog" append-to-body>
    <el-form :model="form">
      <el-form-item label="标题:" :label-width="formLabelWidth" required>
        <el-input v-model="name" autocomplete="off" placeholder="请输入标题"></el-input>
      </el-form-item>
      <el-form-item label="消息类型:" :label-width="formLabelWidth" required>
        <el-select v-model="messageType" placeholder="请选择消息类型" @change="messageTypeChange">
          <el-option label="文本消息" value="txt"></el-option>
          <el-option label="图片消息" value="img"></el-option>
          <el-option label="语音消息" value="audio"></el-option>
          <el-option label="视频消息" value="video"></el-option>
        </el-select>
        <el-button type="primary" size="medium" v-if="messageType=='img'||messageType=='audio'||messageType=='video'"  @click="dialogMatterVisible = true">选择素材</el-button>
      </el-form-item>
      <el-form-item label="消息内容:" :label-width="formLabelWidth" required v-if="messageType">
        <template v-if="messageType=='txt'">
          <div><el-button type="text" size="mini" class="ly-font-color-4" @click="toggleWechatExpression">😊</el-button></div>
          <el-input type="textarea" :rows="5" v-model="content" style="width: 100%;"></el-input>
          <div v-show="wechatExprssionShow" class="ly-position-relative">
            <div>
              <wechat-expression @choose="chooseExpress" />
            </div>
          </div>
        </template>
        <template v-if="messageType=='img'">
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove">
            <i class="el-icon-plus"></i>
          </el-upload>
          <p class="colortip">注意：上传的图片如果和电脑上图片相对旋转了，请先在电脑上旋转一下角度再上传</p>
        </template>
        <template v-if="messageType=='audio'">
          <el-button size="medium" @click="audiotimeCount">{{audioBindText}}</el-button>
          <div class="uploadaudio-btn">
            <el-button type="success" size="medium">上传语音</el-button>
          </div>
          <div class="ly-box">
            <p class="colortip">
              上传的语音素材必须通过该专用转换工具转换后上传<br />
              目前只支持wav格式，语音大小不超过10MB<br />
              语音文件大小超过60秒，微信发送会失败
            </p>
            <div class="uploadaudio">
              <el-button type="primary"  size="medium">下载语音转换工具</el-button>
            </div>
          </div>

        </template>
        <template v-if="messageType=='video'">
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove">
            <i class="el-icon-plus"></i>
          </el-upload>
          <p class="colortip">视频大小*************不超过20MB</p>
        </template>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible13 = false">取 消</el-button>
      <el-button type="primary" @click="dialogVisible13 = false">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { WechatExpression, parseHTML } from '@/components/libs/wechatExpression'
import Logger from '@/utils/logger'
export default {
  components: {
    WechatExpression
  },
  data() {
    return {
      parseHTML,
      dialogVisible13: true,
      form: {},
      messageType: '',
      formLabelWidth: '136px',
      name: '',
      content: '',
      wechatExprssionShow: false,
      audioBindText: '按住说话'
    }
  },
  methods: {
    handleCloseDialog() {
      this.$emit('on-close')
    },
    messageTypeChange(val) {},
    toggleWechatExpression() {
      this.wechatExprssionShow = !this.wechatExprssionShow
    },
    chooseExpress(icon, e) {
      this.content += icon
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogImageVisible = true
    },
    handleRemove(file, fileList) {
      Logger.log(file, fileList)
    },
    audiotimeCount() {
      if (this.audioState) {
        // 开始录音
        this.audioState = false
        this.setTimecount()
      } else {
        // 结束录音
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    },
    setTimecount() {
      if ((this.dialogVisible20 || this.dialogVisible15 || this.dialogVisible13) && !this.audioState && this.countTime > 0) {
        this.audioBindText = `再次点击结束(${this.countTime}s)`
        this.countTime -= 1
        setTimeout(() => {
          this.setTimecount()
        }, 1000)
      } else {
        this.audioBindText = '按住说话'
        this.audioState = true
        this.countTime = 60
      }
    }
  }
}
</script>
