<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="" :label-width="formLabelWidth" v-if="this.dialogProp.typeVal === 2">
        <p>已选中<span class="colortip">{{this.dialogProp.ids.length}}</span>台设备，批量设置将覆盖原单个设备的设置</p>
      </el-form-item>
      <el-form-item label="允许使用时间:" :label-width="formLabelWidth" prop="dateType">
        <div class="ly-inline-block">
          <el-input v-model="params.dateType" style="display: none;"></el-input>
          <div class="ly-box ly-text-center">
            <div class="ly-box-1 ly-margin-right-30px">
              <el-button :type="params.dateType===1?'primary':''" size="small" class="check-bth" @click="changeType(1)" :autofocus="false" plain>工作日<span type="primary" v-show="params.dateType===1"><i class="el-icon-check"></i></span></el-button>
              <p>(周一至周五)</p>
            </div>
            <div class="ly-box-1">
              <el-button :type="params.dateType===2?'primary':''" size="small" class="check-bth" @click="changeType(2)" :autofocus="false" plain>周末<span type="primary" v-show="params.dateType===2"><i class="el-icon-check"></i></span></el-button>
              <p>(周六、周天)</p>
            </div>
          </div>
        </div>
      </el-form-item>
      <el-form-item label="" :label-width="formLabelWidth" prop="beginTime">
        <div>
          <el-time-picker
            is-range
            size="small"
            style="width: 190px;"
            v-model="timeZone"
            range-separator="至"
            start-placeholder="开始时间"
            end-placeholder="结束时间"
            placeholder="选择时间范围"
            value-format="HH:mm"
            format="HH:mm"
            :picker-options="{
              format: 'HH:mm'
            }">
          </el-time-picker>
          <span class="ly-font-12 ly-font-color-8">（从00:00到00:00表示全天有效）</span>
        </div>
      </el-form-item>
      <el-form-item label="允许使用地点:" :label-width="formLabelWidth">
        <div>
          经度<el-input-number v-model="circlePath.center.lng" :min="1" placeholder="" size="small" :controls="false" clearable class="ly-inline-block ly-margin-right-12px ly-margin-left-5px ly-width-116px"></el-input-number>
          维度<el-input-number v-model="circlePath.center.lat" :min="1" placeholder="" size="small" :controls="false" clearable class="ly-inline-block ly-margin-right-12px ly-margin-left-5px ly-width-116px"></el-input-number>
          半径<el-input-number v-model="circlePath.radius" :min="0" placeholder="" size="small" :controls="false" clearable class="ly-inline-block ly-margin-let-5px ly-margin-right-5px ly-width-100px"></el-input-number>米
        </div>
        <div style="width: 100%;height: 230px;margin-top: 20px;" ref="baiduMap">
          <baidu-map style="width:100%;height:100%" class="map" :ak="ak" :zoom="14" :center="circlePath.center" @ready="handler" :scroll-wheel-zoom="true">
            <!--比例尺控件-->
            <bm-scale anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-scale>
            <!--缩放控件-->
            <bm-navigation anchor="BMAP_ANCHOR_BOTTOM_RIGHT" ></bm-navigation>
            <!--定位控件-->
            <!--<bm-geolocation anchor="BMAP_ANCHOR_BOTTOM_RIGHT" :showAddressBar="true" :autoLocation="true" @locationSuccess="locationSuccess" :zIndex="8"></bm-geolocation>-->
            <bm-circle :center="circlePath.center" :radius="circlePath.radius" stroke-color="red" :stroke-opacity="0.3" :stroke-weight="2" @lineupdate="updateCirclePath" :editing="true" :zIndex="50"></bm-circle>
          </baidu-map>
        </div>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="initMapAgain">重置地图</el-button>
          <el-button size="medium" @click="dialogProp.show = false">取 消</el-button>
          <el-button size="medium"  type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'
import {
  BaiduMap,
  BmScale,
  BmNavigation,
  BmGeolocation,
  BmMarker,
  BmLabel,
  BmCircle
} from 'vue-baidu-map'
export default {
  mixins: [],
  components: {
    BaiduMap,
    BmScale,
    BmNavigation,
    BmGeolocation,
    BmMarker,
    BmLabel,
    BmCircle
  },
  props: {
    limitId: {
      type: [Number, String],
      default: function() {
        return null
      }
    },
    dialogProp: {
      type: [Object],
      default: function() {
        return {}
      }
    }
  },
  data() {
    return {
      BMap: {},
      BMAP_STATUS_SUCCESS: 0,
      formLabelWidth: '136px',
      hasRequestDetail: false,
      mapInfo: {},
      radius: 500,
      timeZone: null,
      params: {
        dateType: '',
        beginTime: '',
        endTime: '',
        latitude: null,
        longitude: null,
        radius: null
      },
      circlePath: {
        center: {
          lng: null,
          lat: null
        },
        radius: 500
      },
      ak: 'gsRDxPxnqggmNxbglDITFebKy3wAor9S',
      rules: {
        dateType: [
          { required: true, message: '请选择使用时间' }
        ],
        beginTime: [
          { required: true, message: '请选择开始时间与结束时间' }
        ]
      }
    }
  },
  watch: {
    'timeZone'(val) {
      if (val) {
        this.params.beginTime = val[0]
        this.params.endTime = val[1]
      } else {
        this.params.beginTime = ''
        this.params.endTime = ''
      }
    },
    'circlePath': {
      handler(val, oldVal) {
        this.params.latitude = val.center.lat
        this.params.longitude = val.center.lng
        this.params.radius = val.radius
      },
      deep: true
    }
  },
  computed: { },
  created() {
  },
  mounted() {},
  methods: {
    // 地图初始化后获取经纬度
    handler({BMap, map}) {
      let that = this
      // 根据IP获取经纬度
      that.BMap = {BMap, map}
      this.initMapAgain()
    },
    // 更新经纬度
    setLonLat(inof) {
      let newInfo = {
        longitude: inof.lng,
        latitude: inof.lat
      }
      this.params = Object.assign({}, this.params, newInfo)
      this.circlePath.center = Object.assign({}, inof)
    },
    // 设置经纬度与半径
    updateCirclePath (e) {
      let center = e.target.getCenter()
      let radius = e.target.getRadius()
      this.circlePath.center = center
      this.circlePath.radius = radius
      this.setLonLat(center)
      this.params.radius = radius
    },
    // 获取详情
    async getInfo() {
      let data = await riskManagementApi.getTimeAndLocationDetail(this.dialogProp.ids[0])
      this.mapInfo = data
      this.hasRequestDetail = true
      this.circlePath.radius = this.mapInfo.radius
      this.initDetailData(data)
    },
    // 初始化数据
    initDetailData(data) {
      if (data.dateType) {
        this.params.dateType = data.dateType
      }
      if (data.beginTime && data.endTime) {
        this.params.beginTime = data.beginTime
        this.params.endTime = data.endTime
        this.timeZone = [data.beginTime, data.endTime]
      }
      this.params.radius = data.radius || ''
      if (data.latitude && data.longitude) {
        let info = {
          lat: data.latitude,
          lng: data.longitude
        }
        this.setLonLat(info)
      }
    },
    // 重置
    async initMapAgain() {
      let that = this
      if ((that.dialogProp.ids.length === 1) && !that.hasRequestDetail) {
        await that.getInfo()
      }
      if (that.mapInfo.longitude && that.mapInfo.latitude && !that.hasRequestDetail) {
        return
      }
      let {BMap, map} = this.BMap
      let geolocation = new BMap.Geolocation()
      geolocation.getCurrentPosition(function(r) {
        if (this.getStatus() === that.BMAP_STATUS_SUCCESS) {
          var mk = new BMap.Marker(r.point)
          map.addOverlay(mk)
          map.panTo(r.point)
          that.setLonLat(r.point)
          that.circlePath.radius = that.radius
        } else {
          alert('failed' + this.getStatus())
        }
      })
    },
    changeType(type) {
      if (type === this.params.dateType) {
        this.params.dateType = ''
      } else {
        this.params.dateType = type
      }
    },
    submitInfo() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitMapinfo()
        } else {
          return false
        }
      })
    },
    async submitMapinfo() {
      if (!this.params.latitude) {
        this.warn('请输入经度')
        return
      }
      if (!this.params.longitude) {
        this.warn('请输入纬度')
        return
      }
      let params = Object.assign({}, this.params, {equipementId: this.dialogProp.ids})
      await riskManagementApi.setTimeAndLocationDetail(params).then(res => {
        this.success('设置成功！')
        this.$emit('refreshLeftList', this.dialogProp.typeVal)
        this.dialogProp.show = false
      })
    }
  }
}
</script>
<style scoped>
  .check-bth{
    position: relative;
    width: 80px;
  }
  .check-bth span{
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0;
    bottom: 0;
    background:rgba(40,151,255,1);
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
  }
  .el-button--primary.is-plain:active,
  .el-button--primary.is-plain:hover,
  .el-button--primary.is-plain:focus{
    background-color: #b3d8ff;
    color: #409EFF;
  }
</style>
