<template>
  <div>
    <div>
      <!-- 筛选查询 -->
      <el-collapse v-model="activeNames"
                   class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                   :class="{'ly-padding-bottom-sm':!activeNames[0]}">
        <el-collapse-item name="1">
          <!-- title -->
          <template slot="title"
                    class="ly-box">
            <div class="ly-box-1 ly-font-16 ly-font-color-1">
              <span class="ly-vertical-line">筛选查询</span>
            </div>
            <div class="ly-font-14 ly-font-color-2">
              <i class="el-icon-arrow-down"
                 :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
            </div>
          </template>
          <div class="ly-clearfix">
            <el-input v-model.trim="params.equInfo"
                      placeholder="输入设备信息进行过滤"
                      class="ly-margin-right-bottom-sm"
                      clearable
                      maxlength="100"
                      @keyup.native.enter="getTableList(1)"></el-input>
            <el-input v-model.trim="params.wechatAccountInfo"
                      placeholder="昵称/手机号/微信号"
                      class="ly-margin-right-bottom-sm"
                      clearable
                      maxlength="100"
                      @keyup.native.enter="getTableList(1)"></el-input>
            <!--部门级联已经调整-->
            <departmenTreeCascadert v-model="departmentId"
                                    filterable
                                    clearable
                                    placeholder="员工所在部门"
                                    class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
            <el-input v-model.trim="params.equOwnerStaffInfo"
                      placeholder="员工账号/姓名"
                      class="ly-margin-right-bottom-sm"
                      clearable
                      maxlength="100"
                      @keyup.native.enter="getTableList(1)"></el-input>
            <!-- button -->
            <el-button class="ly-float-right"
                       type="primary"
                       size="medium"
                       @click="getTableList(1)">查询
            </el-button>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4" v-if="limitId">
          <el-button size="small" @click="manageAppSet(2, 'dialogAaddInstall')" :disabled="reset?false:true">批量安装</el-button>
          <el-button size="small" @click="manageAppSet(2, 'dialogAaddUnInstall')" :disabled="reset?false:true">批量卸载</el-button>
          <el-button size="small" @click="manageAppSet(2, 'dialogAaddForbidden')" :disabled="reset?false:true">批量禁止卸载</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%"
                max-height="500"
                row-key="id"
                @clearSelection="clearSelection"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         fixed
                         reserve-selection
                         :selectable="selectAble"
                         width="55">
        </el-table-column>
        <el-table-column label="设备编号" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.id || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="IMEI" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.imei || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="设备备注" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.remark || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="状态" min-width="130">
          <template slot-scope="scope">
            <p>
              <i class="spot-border-radius"
                 :class="[scope.row.onLine?'active': '']"></i>{{scope.row.onLine ? '在线' : '离线'}}
            </p>
          </template>
        </el-table-column>
        <el-table-column label="设备分组" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.groupName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="当前登录个人号"
                         min-width="220">
          <template slot-scope="scope">
            <personalInfos :info="scope.row.info"></personalInfos>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.equOwnerStaffName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者所在部门" min-width="130">
          <template slot-scope="scope">
            <div>{{scope.row.departmetName || '--'}}</div>
          </template>
        </el-table-column>
        <el-table-column label="操作" min-width="130">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       :disabled="hasSetAction?false:true"
                       @click="manageAppSet(1, 'dialogAaddInstall', scope.row, scope.$index)">安装</el-button>
            <el-button type="text"
                       size="small"
                       :disabled="hasSetAction?false:true"
                       @click="manageAppSet(1, 'dialogAaddUnInstall', scope.row, scope.$index)">卸载</el-button>
            <el-button type="text"
                       size="small"
                       :disabled="hasSetAction?false:true"
                       @click="manageAppSet(1, 'dialogAaddForbidden', scope.row, scope.$index)">禁止卸载</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!--安装/批量安装-->
    <el-dialog title="新增App设置"
               width="600px"
               :visible.sync="dialogAaddInstall.show"
               v-if="dialogAaddInstall.show"
               @close="closeDialog(dialogAaddInstall.params)"
               append-to-body>
      <addInstallApp :dialogProp="dialogAaddInstall"
                     :limitId="limitId"
                     @colseDialog="closeDialog"></addInstallApp>
    </el-dialog>
    <!--卸载/批量卸载-->
    <el-dialog title="卸载APP"
               width="600px"
               :visible.sync="dialogAaddUnInstall.show"
               v-if="dialogAaddUnInstall.show"
               @close="closeDialog(dialogAaddUnInstall.params)"
               append-to-body>
      <unInstallApp :dialogProp="dialogAaddUnInstall"
                     :limitId="limitId"
                     @colseDialog="closeDialog"></unInstallApp>
    </el-dialog>
    <!--禁止卸载/批量禁止卸载-->
    <el-dialog title="禁止卸载APP"
               width="600px"
               :visible.sync="dialogAaddForbidden.show"
               v-if="dialogAaddForbidden.show"
               @close="closeDialog(dialogAaddForbidden.params)"
               append-to-body>
      <forbiddenInstallApp :dialogProp="dialogAaddForbidden"
                    :limitId="limitId"
                    @colseDialog="closeDialog"></forbiddenInstallApp>
    </el-dialog>
  </div>
</template>

<script>
import { riskManagementApi } from '@/api/system'
import { resourceMixin, tableMixin } from '@/mixins'
import personalInfos from '@/components/common/personalInfos'
import addInstallApp from './addInstallApp'
import unInstallApp from './unInstallApp'
import forbiddenInstallApp from './forbiddenInstallApp'
import { RESOURCE_ACTION_MAP } from '@/constants'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    departmenTreeCascadert,
    personalInfos,
    addInstallApp,
    unInstallApp,
    forbiddenInstallApp
  },
  props: {
    limitId: {
      type: [Number, String],
      default: function() {
        return null
      }
    }
  },
  computed: {
    hasSetAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.EQUIPMENT_PERMISSIONS)
    },
    reset() {
      let status = false
      if (this.hasSetAction && this.tableSelectArr.length) {
        status = true
      }
      return status
    }
  },
  data() {
    return {
      activeNames: ['1'],
      departmentId: [],
      isActive: null,
      createNotGetTableList: true,
      tableData: {},
      tableSelectArr: [],
      params: {
        limitId: '',
        equInfo: '',
        wechatAccountInfo: '',
        departmentId: '',
        equOwnerStaffInfo: ''
      },
      dialogAaddInstall: {},
      dialogAaddUnInstall: {},
      dialogAaddForbidden: {}
    }
  },
  watch: {
    departmentId: function (val, oldVal) {
      this.params.departmentId = val[val.length - 1] || ''
    }
    /*
    'limitId' (val, oldVal) {
      if (val) {
        this.initTable(val)
      } else {
        this.initTable(val, true)
      }
    }
    */
  },
  created() {
    this.$nextTick(() => {
      this.initTable(this.limitId)
    })
  },
  methods: {
    /**
    * 获取列表--初始化
    */
    initTable(val, type) {
      this.removeChecked()
      this.params.limitId = val
      this.params.equInfo = ''
      this.params.wechatAccountInfo = ''
      this.params.departmentId = ''
      this.params.equOwnerStaffInfo = ''
      this.departmentId = []
      this.tableData = {}
      if (type) {
        return
      }
      this.getTableList(1)
    },
    /**
     * 获取列表
     */
    async requestTableList() {
      await riskManagementApi.getUseManageDataList(this.params).then((data) => {
        data.records = data.records || []
        data.records.forEach(o => {
          o.info = {
            headIcon: o.headIcon,
            nickName: o.nickName,
            phone: o.phone,
            account: o.account,
            row: o
          }
        })
        this.tableData = data
      })
    },
    /**
     * 表格左侧选择
     */
    handleSelectionChange(val) {
      this.tableSelectArr = val
    },
    selectAble(row, index) {
      return true
    },
    /**
     * 表格左侧选择--清除
     */
    removeChecked() {
      this.clearSelection('multipleTable')
    },
    /**
     * 安装--1--单个安装，2--多个安装
     * 卸载--1--单个安装，2--多个安装
     * 禁止卸载--1--单个安装，2--多个安装
     */
    manageAppSet(type, paramName, data, index) {
      let ids = this.initIdsInfo(type, data)
      if (!ids.length) {
        this.warn('请选择设备')
        return false
      }
      this.initInstallAppSet(type, paramName, ids)
    },
    /**
     * 安装--参数设置
     * 卸载--参数设置
     * 禁止卸载-参数设置
     */
    initIdsInfo(type, data) {
      let ids = []
      if (type === 1) {
        ids.push(data.imei)
      } else {
        this.tableSelectArr.forEach(item => {
          ids.push(item.imei)
        })
      }
      return ids
    },
    /**
     * 安装--弹窗显示
     * 卸载--弹窗显示
     * 禁止卸载--弹窗显示
     */
    initInstallAppSet(type, params, ids) {
      this[params] = {
        show: true,
        typeVal: type,
        ids: ids,
        params: params
      }
    },
    closeDialog(params, clear) {
      this[params] = {}
      if (clear) {
        this.removeChecked()
      }
    },
    /**
     * 刷新左侧风控名称列表
     */
    refreshLeftList() {
      this.$emit('refreshLeftList')
    }
  }
}
</script>
