<template>
  <div>
    <!--
    <div class="title">
      <span class="ly-vertical-line">风控名称（已授权设备数量）</span>
    </div>
    -->
    <ul class="ly-sidebar-list left-ul">
      <li class="ly-sidebar-item ly-box"
          v-for="(item,index) in list"
          :key="item.id"
          :class="{'active':isActive===index}"
          @click="getEquipmentList(item,index)">
            <span class="ly-font-14 ly-font-color-3 ly-font-weight-400">
              <span>{{item.limitName}}</span>
            </span>
      </li>
    </ul>
    <p class="ly-text-center"
       v-if="list.length===0">暂无数据</p>
    <!--图片查看-->
    <el-dialog title="图片查看"
               width="700px"
               :visible.sync="imgLookDialog.show"
               v-if="imgLookDialog.show"
               @close="imgLookDialog.show = false"
               append-to-body>
      <imgLook :dialog="imgLookDialog"></imgLook>
    </el-dialog>
  </div>
</template>

<script>

import imgLook from './imgLook'
import { riskManagementApi } from '@/api/system'
export default {
  components: { imgLook },
  data() {
    return {
      list: [],
      currentId: null,
      currentType: null,
      isActive: null,
      imgLookDialog: {
        show: false
      }
    }
  },
  created() {
    this.$nextTick(() => {
      this.getList()
    })
  },
  methods: {
    // 获取风控名称列表
    async getList() {
      const res = await riskManagementApi.getUseManageTypeList()
      this.list = res
      if (res.length > 0) {
        if (this.isActive) {
          this.getEquipmentList(res[this.isActive], this.isActive)
        } else {
          this.getEquipmentList(res[0], 0)
        }
      }
    },
    // 获取设备列表
    getEquipmentList(obj, index) {
      if (obj && obj.id) {
        this.currentId = obj.id
        this.currentType = obj.command
        this.isActive = index
      } else {
        this.currentId = null
        this.currentType = null
      }
      let params = {
        currentId: this.currentId,
        currentType: this.currentType
      }
      this.$emit('setLimitId', params)
    }
  }
}
</script>
<style scoped>
  .left-ul {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
</style>
