<template>
  <div>
    <div class="ly-text-center">
    <div class="ly-font-color-4 ly-margin-bottom-20px">如果禁用，则打不开配图所在界面（仅针对有分屏模式）</div>
    <img src="@/assets/images/system/fenping-small.png" alt="" v-image-view>
  </div>
  <div class="ly-text-right" style="padding-top: 10px;">
    <el-button size="medium" @click="dialog.show = false">关 闭</el-button>
  </div>
  </div>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Object
    }
  }
}
</script>

<style>

</style>
