<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column label="微信群"
                         width="200">
          <template slot-scope="scope">
            <personalInfoGroup :info="scope.row"></personalInfoGroup>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="群主"
                         width="120">
        </el-table-column>
        <el-table-column prop="address"
                         label="分配员工">
          <template slot-scope="scope">
            <el-button type="primary"
                       size="mini">分配员工</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="员工所在部门">
        </el-table-column>
        <el-table-column prop="address"
                         label="所属个人号"
                         width="200">
          <template slot-scope="scope">
            <personalInfo :info="scope.row"></personalInfo>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="所属分组">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">设置分组</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="聊天查看"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <p>
              <el-button type="text"
                         size="small">聊天记录</el-button>
            </p>
            <p class="ly-font-color-5"><i class="el-icon-download"></i></p>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="群成员">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">查看（25）</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="address"
                         label="备注">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <div>
          <el-button type="primary"
                     size="small">批量分配员工</el-button>
          <el-button type="primary"
                     size="small">批量分组</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="1"
                        :total="100" />
      </div>
    </div>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'
import personalInfo from '@/components/common/personalInfo'
import personalInfoGroup from '@/components/common/personalInfoGroup'

export default {
  components: { personalInfo, personalInfoGroup, collapse },
  data() {
    return {
      activeNames: ['1'],
      params: {
        weChat: true,
        personalId: true,
        assignStaff: true,
        staffDepartment: true,
        grouping: true
      },
      tableData: []
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          gender: '男',
          phone: '15059309699',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    },
    handleSelectionChange(val) {
      console.log(val)
    }
  }
}
</script>
