<template>
  <div class="reply-msg">
    <!--TODO 筛选参考快捷回复 || 内嵌样式记得调整-->
    <div class="search-bar rlt">
      <el-input placeholder="输入关键字进行过滤" v-model.trim="params.selName" @keyup.enter.native="getQuickReplyGorupListEnter" :maxlength="100"></el-input>
    </div>
    <div class="template-list" style="top: 46px">
      <div v-if="quickReplyList.length === 0" class="list-nonthing">暂无相关数据</div>
      <ul v-else>
        <li v-for="(item, index) in quickReplyList" :key="item.id">
          <div class="group-switch" @click="openGroup(index)">
            <i class="el-icon-caret-bottom" :class="item.open ? '' : 'rotate'"></i>
            <span>{{ item.groupName }}</span>
          </div>
          <ul class="group-list" v-if="item.open &&item.list && item.list.length > 0">
            <li class="template-item" v-for="ite in item.list" :key="ite.id" @click.stop="sendReply(ite)">
              <el-popover trigger="hover" placement="bottom-start">
                <div class="iteTitle">{{ ite.title }}</div>
                <div class="iteMsgText">{{ ite.msgText }}</div>
                <span slot="reference">
                  <span class="title" @click.stop="sendWordMsg(ite)">{{ ite.title }}</span>
                </span>
              </el-popover>
              <div class="content">{{ ite.msgText }}</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { quickReplyApi } from '@/api/chat'
import { aiUserQuestion } from '@/storage'
export default {
  name: 'child2',
  data () {
    return {
      quickReplyList: [],
      params: {
        selName: null,
        groType: null
      }
    }
  },

  created () {
    this.getQuickReplyGorupListEnter()
  },
  methods: {

    /**
     * 获取个人/共用快捷语分组列表
     */
    getQuickReplyGorupList () {
      if (this.params.selName) {
        // 有输入内容时掉用新接口，因为后台改起来很麻烦，时间来不及
        quickReplyApi.getAllComPanyGroup(this.params).then((resp) => {
          this.quickReplyList = resp
        })
      } else {
        // 没有值是用旧接口，不传参数
        quickReplyApi.getAllComPanyGroup({}).then((resp) => {
          this.quickReplyList = resp
        })
      }
    },
    /**
     * 打开分组
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    openGroup (index) {
      for (let i = 0; i <= this.quickReplyList.length; i++) {
        if (index === i) {
          this.quickReplyList[i].open = !this.quickReplyList[index].open
        }
      }
      // this.$set(this.quickReplyList[index], 'open', !this.quickReplyList[index].open)
      // if (this.params.selName) {
      //   // 有输入内容时掉用新接口给的列表，因为后台改起来很麻烦，时间来不及
      //   this.$set(this.quickReplyList[index], 'list', this.quickReplyList[index].jsList)
      // } else {
      //   // 没有值是用旧接口，点开获取
      //   this.quickReplyList[index].open && this.searchQuickReplyList({
      //     quickReplyGroupId: this.quickReplyList[index].id
      //   }).then(resp => {
      //     this.$set(this.quickReplyList[index], 'list', resp)
      //   })
      // }
    },
    /**
     * 获取分组下的列表
     * @param  {[type]} data [description]
     */
    searchQuickReplyList (data) {
      let params = Object.assign({}, {
        selName: this.params.selName
      }, data)
      return quickReplyApi.getNoPageCompany(params)
    },
    getQuickReplyGorupListEnter () {
      let obj = {
        selName: this.params.selName,
        groType: 3
      }
      quickReplyApi.getCompanySearch(obj).then((res) => {
        if (res.length) {
          for (let item of res) {
            item.groupName = item.groupName
            item.list = item.jsList
            item.open = true
          }
          this.quickReplyList = res
        } else {
          this.quickReplyList = []
        }
      })
    },
    /**
     * 消息发送
     * **/
    sendReply (data) {
      switch (data.msgType) {
        // 文本
        case 1:
          this.sendWordMsg({
            data
          })
          break
        // 图片
        case 2:
          if (this.templateType === 1 && !this.hasScreenAction) {
            this.warn('暂无发送个人快捷语图片文件权限')
            return
          }
          this.sendImageMsg(null, {
            data
          })
          break
        // 语音
        case 3:
          this.sendVoiceMsg({
            data
          })
          break
        // 视频
        case 4:
          this.sendVideoMsg({
            data
          })
          break
        // 小程序
        case 6:
          this.sendMiniProgramMsg({
            data
          })
          break
        case 7:
          this.sendImgtxtLink({
            data
          })
      }
    },
    /**
     * 确认发送快捷消息
     */
    sendQuickReply (data) {
      data.origin = 'kickComy'
      this.$emitBus('send-quick-reply', data)
      setTimeout(() => { this.$emitBus('send-ai-person-company', data) }, 2000)
    },
    sendWordMsg (data) {
      this.sendQuickReply(data.data)
      this.closeWordDialog()
    },
    showWordDialog (data) {
      this.wordDialogData = {
        show: true,
        data: data,
        sendBtn: true
      }
    },
    closeWordDialog () {
      this.wordDialogData = {
        show: false,
        data: null
      }
    }
  }
}
</script>
<style scoped>
.wechat-custom-service
  .main-right-side
  .reply-msg
  .template-list
  .group-list
  .template-item
  .title {
  max-width: 100%;
  word-wrap: break-word;
  height: 100%;
}
.content {
  font-weight: bold;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
}
.iteTitle {
  font-size: 0.7rem;
  width: 300px;
  overflow: auto;
}
.iteMsgText {
  font-size: 0.7rem;
  width: 300px;
  height: 150px;
  margin-top: 10px;
  overflow: auto;
}
</style>
