
<template>
  <div class="ly-margin-right-30px">
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <div class="ly-height-max-50vh ly-scroll-y">
        <el-form-item label="问题类型:" :label-width="formLabelWidth">
          <el-select placeholder="请选择回复类别" v-model="params.templateType">
            <el-option :label="item" :value="item" v-for="(item, index) in typeList" :key="index"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="快捷词" :label-width="formLabelWidth">
          <el-input autocomplete="off" v-model="params.shortcutWord">
            <template slot="prepend">#</template>
          </el-input>
        </el-form-item>
        <pmessageOfTxtImgAudVido ref="messageEles" :addDialogWeChat="showDialogWeChat" :checkMaterialBtn="false" :info="modifyObj" :limit="50"></pmessageOfTxtImgAudVido>
      </div>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { wechatInfoSession } from '@/storage'
import { xunfeiApi } from '@/api/chat'
import { mapGetters } from 'vuex'
import {
  pmessageOfTxtImgAudVido
} from '../messageAdd'
import {
  MESSAGE_TPYE_KEY
} from '@/constants/messageType'
import {
  aiTxtImgAudVideoInitDataMixin,
  aiMsgTIAVSubmitMessage
} from '@/mixins'
export default {
  mixins: [aiTxtImgAudVideoInitDataMixin, aiMsgTIAVSubmitMessage],
  components: {
    pmessageOfTxtImgAudVido
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      formLabelWidth: '136px',
      modifyObj: {},
      showDialogWeChat: false, // 判断是否是营销模板消息的标志
      params: {
        msgText: '',
        msgType: '',
        coverInfo: '',
        // 小程序内容
        msgObject: {},
        // 新增字段
        templateType: '',
        shortcutWord: ''

      },
      typeList: ['服务类', '报价类', '信息确认类', '产品类', '操作类', '支付类', '配送类', '条款类', '问候语', '非车险', '客经二维码'],
      rules: {
        title: [{
          required: true,
          message: '请输入标题'
        }]
      }
    }
  },
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'chatIM', 'adminInfo'])
  },
  created () {
    if (this.dialogProp.data) {
      console.log('this.dialogProp.data', this.dialogProp.data)
      this.params = Object.assign(this.params, this.dialogProp.data)
    }
    // 营销-素材管理-添加小程序
    if (this.dialogProp.materialShow) {
      // 从父组件传过来的 要传到子组件
      this.showDialogWeChat = true
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    closeDialog () {
      this.$emit('closeDialog')
    },
    /**
     * 保存
     */
    submitInfo () {
      let obj = this.$refs.messageEles.getMessageInfo()
      let info = Object.assign(obj.msgType ? obj : { msgType: 1 }, { content: this.params.content })
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (info) {
            /**
             * 保存--消息的内容--在mixins/src/msgTIAVSubmitMessage文件下方法SubmitMessage
             */
            this.submitMessage(info)
          } else {
            return false
          }
        } else {
          return false
        }
      })
    },
    /**
     * 新增--保存
     */
    async submitAddInfo () {
      console.log('pManageMessageAdd', this.params)
      let obj = {
        customerName: wechatInfoSession.getJSON().staffId,
        JobNumber: this.adminInfo.jobNum,
        collectType: 3
      }
      if (!this.params.templateType) {
        this.warn('选择问题类型')
        return false
      }
      if (!this.params.msgText) {
        this.warn('选择消息内容')
        return false
      }

      let params = Object.assign(JSON.parse(JSON.stringify(this.params)), obj)
      let insertQuickMsgParams = new FormData()
      for (let key in params) {
        insertQuickMsgParams.append(key, params[key])
      }
      await xunfeiApi.insertQuickMsg(insertQuickMsgParams).then((res) => {
        if (res.code === 0) {
          this.success(res.msg)
          this.$emit('refreshLeftGroupInfo', this.params)
        } else {
          this.warn(res.msg)
        }
      })
    },
    /**
     * 修改--保存
     */
    async submitModifyInfo () {
      let params = JSON.parse(JSON.stringify(this.params))
      if (!this.params.msgText) {
        this.warn('选择消息内容')
        return false
      }
      let updateQuickMsg = new FormData()
      for (let key in params) {
        updateQuickMsg.append(key, params[key])
      }
      if (this.dialogProp.data) {
        params.id = this.dialogProp.data.id
      } else {
        return false
      }
      if (params.msgType === 6) {
        if (params.msgObject.miniProgramId === '' || params.msgObject.miniProgramName === '' || params.msgObject.thumbPath === '') {
          this.warn('请输入或选择消息内容')
          return false
        } else {
          await xunfeiApi.updateQuickMsg(updateQuickMsg).then((res) => {
            this.success('修改成功')
            this.$emit('refreshLeftGroupInfo', params)
          })
        }
      } else if (params.msgType === 7) {
        if (params.msgObject.imgtxtTitle === '' || params.msgObject.imgtxtLinking === '' || params.msgObject.imgtxtUrl === '') {
          this.warn('请输入或选择消息内容')
          return false
        } else {
          await xunfeiApi.updateQuickMsg(updateQuickMsg).then((res) => {
            this.success(res.msg)
            this.$emit('refreshLeftGroupInfo', params)
          })
        }
      } else {
        await xunfeiApi.updateQuickMsg(updateQuickMsg).then((res) => {
          this.success(res.msg)
          this.$emit('refreshLeftGroupInfo', params)
        })
      }
    }
  }
}
</script>
