<template>
  <div class="dialog-chat-fiendslist">
    <ul>
      <li class="active">
        <div class="friendslist-img">
          <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
        </div>
        <div class="friendslist-info">
          <p class="chatname">测试账号1</p>
          <p class="chatno">今日消息数:1</p>
        </div>
      </li>
      <li class="">
        <div class="friendslist-img">
          <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
        </div>
        <div class="friendslist-info">
          <p class="chatname">测试账号1</p>
          <p class="chatno">今日消息数:1</p>
        </div>
      </li>
      <li class="">
        <div class="friendslist-img">
          <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
        </div>
        <div class="friendslist-info">
          <p class="chatname">测试账号1</p>
          <p class="chatno">今日消息数:1</p>
        </div>
      </li>
      <li class="">
        <div class="friendslist-img">
          <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
        </div>
        <div class="friendslist-info">
          <p class="chatname">测试账号1</p>
          <p class="chatno">今日消息数:1</p>
        </div>
      </li>
      <li>
        <div class="friendslist-img">
          <img src="http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L"/>
        </div>
        <div class="friendslist-info">
          <p class="chatname">测试账号1</p>
          <p class="chatno">今日消息数:</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    chatRecord: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      friendSearch: '',
      chatRecoorddateval: '',
      chatRecordSearch: ''
    }
  },
  created() {}
}
</script>
