<template>
  <div class="dialog-chatcontent-search">
    <el-date-picker
      v-model="chatRecoorddateval"
      type="daterange"
      size="small"
      format="yyyy-MM-dd"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      :default-time="['00:00:00', '23:59:59']">
    </el-date-picker>
    <el-input placeholder="请输入聊天内容" v-model="chatRecordSearch" class="input-with-select" size="small">
      <el-button slot="append" icon="el-icon-search" @click="searchRecord"></el-button>
    </el-input>
  </div>
</template>

<script>
export default {
  data() {
    return {
      chatRecoorddateval: '',
      chatRecordSearch: ''
    }
  },
  methods: {
    searchRecord() {
      let param = {
        chatRecoorddateval: this.chatRecoorddateval,
        chatRecordSearch: this.chatRecordSearch
      }
      this.$emit('searchRecord', param)
    }
  },
  created() {}
}
</script>
