<template>
  <div>
    <el-dialog title="好友以及好友聊天记录" :visible.sync="chatRecord.diaologVisible" width="1160px" class="dialog-chat">
      <el-container>
        <el-aside width="240px">
          <div class="dialog-chat-search">
            <el-input placeholder="请输入好友信息" v-model="friendSearch" class="input-with-select" size="small">
              <el-button slot="append" icon="el-icon-search"></el-button>
            </el-input>
          </div>
          <!--好友列表-->
          <dialogChatRecordFriendsList></dialogChatRecordFriendsList>
        </el-aside>
        <el-container>
          <el-header height="71px">
            <dialogChatRecordSearch @searchRecord="searchRecord"></dialogChatRecordSearch>
          </el-header>
          <el-main>
            <!--聊天记录-->
            <chatRecordList></chatRecordList>
          </el-main>
        </el-container>
      </el-container>
    </el-dialog>
  </div>
</template>

<script>
import dialogChatRecordFriendsList from '@/pages/ui/system/dialogs/common/dialogChatRecordFriendsList.vue'
import dialogChatRecordSearch from '@/pages/ui/system/dialogs/common/dialogChatRecordSearch.vue'
import chatRecordList from '@/pages/ui/system/dialogs/common/dialogChatRecordList.vue'
export default {
  components: {
    dialogChatRecordFriendsList,
    dialogChatRecordSearch,
    chatRecordList
  },
  props: {
    chatRecord: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      friendSearch: '',
      chatRecoorddateval: '',
      chatRecordSearch: ''
    }
  },
  methods: {
    searchRecord(val) {
      console.log(val)
    }
  },
  created() {}
}
</script>
