<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="微信昵称/备注"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.account"
                    @keyup.native.enter="search"
                    :maxlength="100"
                    clearable>
            <template slot="prepend">所属个人号</template>
          </el-input>
          <!--部门级联已经调整-->
          <departmenTreeCascadert v-model="departmentId"
                                  filterable
                                  clearable
                                  placeholder="员工所属部门"
                                  class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
          <el-input placeholder="请输入员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.staff"
                    @keyup.native.enter="search"
                    :maxlength="100"
                    clearable>
            <template slot="prepend">所属员工</template>
          </el-input>
          <el-select class="ly-margin-right-bottom-sm"
                     v-model.trim="params.status"
                     placeholder="状态"
                     clearable>
            <el-option label="已取消" :value="STATUS_TYPE_MAP.CANCELED"></el-option>
            <el-option label="待执行" :value="STATUS_TYPE_MAP.WAITING"></el-option>
            <el-option label="执行中" :value="STATUS_TYPE_MAP.EXECUTING"></el-option>
            <el-option label="已结束" :value="STATUS_TYPE_MAP.FINISHED"></el-option>
          </el-select>
          <el-input placeholder="输入公告内容关键词"
                    class="ly-margin-right-bottom-sm"
                    v-model.trim="params.notice"
                    @keyup.native.enter="search"
                    :maxlength="100"
                    clearable>
          </el-input>
          <el-date-picker
            v-model="dateRange"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="['00:00:00', '23:59:59']"
            :clearable="true"
            ref="datePicker"
            class="ly-margin-right-bottom-sm">
          </el-date-picker>

          <!-- button -->
          <div class="ly-float-right ly-margin-bottom-sm">
            <el-button class="ly-float-right ly-margin-right-sm plain"
                       size="medium"
                       @click="resetCallback">重置
            </el-button>
            <el-button class="ly-float-right ly-margin-right-sm mr-20"
                       type="primary"
                       size="medium"
                       @click="search(1)">查询
            </el-button>
          </div>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                class="ly-width-100">
        <el-table-column fixed label="编号">
          <template slot-scope="scope">
            <span>{{ scope.row.id }}</span>
          </template>
        </el-table-column>
        <el-table-column label="修改公告内容">
          <template slot-scope="scope">
            <p :title="scope.row.notice" class="ly-max-height-40px ly-ellipsis2">{{ scope.row.notice }}</p>
          </template>
        </el-table-column>
        <el-table-column label="总数量">
          <template slot-scope="scope">
            <span>{{ scope.row.excuteCount }}</span>
          </template>
        </el-table-column>
        <el-table-column label="发起部门">
          <template slot-scope="scope">
            <span>{{ scope.row.departmentName }}</span>
          </template>
        </el-table-column>
        <el-table-column label="发起员工">
          <template slot-scope="scope">
            <span>{{ (scope.row.staffAccount || '--') + '(' + (scope.row.staffName || '--') + ')' }}</span>
          </template>
        </el-table-column>
        <el-table-column label="所属创建时间">
          <template slot-scope="scope">
            <span>{{ scope.row.createTime | date('yyyy-MM-dd hh:mm:ss') }}</span>
          </template>
        </el-table-column>
        <el-table-column label="执行时间">
          <template slot-scope="scope">
            <span>{{ scope.row.excuteTime | date('yyyy-MM-dd hh:mm:ss') }}</span>
          </template>
        </el-table-column>
        <el-table-column label="全部/成功">
          <template slot-scope="scope">
            <span>{{ (scope.row.excuteCount || 0) + '/' + (scope.row.excuteCountSuc || 0) }}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span v-if="scope.row.status === STATUS_TYPE_MAP.CANCELED">已取消</span>
            <span v-else-if="scope.row.status === STATUS_TYPE_MAP.WAITING">待执行</span>
            <span v-else-if="scope.row.status === STATUS_TYPE_MAP.EXECUTING">执行中</span>
            <span v-else-if="scope.row.status === STATUS_TYPE_MAP.FINISHED">已结束</span>
          </template>
        </el-table-column>

        <el-table-column align="center" fixed="right" label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="showResultDetail(scope.row)"
                       v-if="scope.row.status === STATUS_TYPE_MAP.FINISHED">结果明细</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       size="small"
                       @click="cancelExecution(scope.row)"
                       v-else-if="scope.row.status === STATUS_TYPE_MAP.WAITING || scope.row.status === STATUS_TYPE_MAP.EXECUTING">取消执行</el-button>
            <span v-else>--</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="search" />
      </div>
    </div>
    <el-dialog title="结果明细" :visible.sync="dialogDetail.show" @close="closeResultDetail" append-to-body>
      <groupNoticeLog :data="dialogDetail.data"></groupNoticeLog>
    </el-dialog>
  </div>
</template>

<script>
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
import { tableMixin } from '@/mixins'
import { v2communityManage } from '@/api/system'
import groupNoticeLog from './components/groupNoticeLog'

const STATUS_TYPE_MAP = {
  // 已取消
  CANCELED: -1,
  // 等待执行
  WAITING: 0,
  // 执行中
  EXECUTING: 1,
  // 已结束
  FINISHED: 2
}

export default {
  mixins: [tableMixin],
  components: {
    departmenTreeCascadert,
    groupNoticeLog
  },
  data() {
    return {
      STATUS_TYPE_MAP,
      activeNames: ['1'],
      dateRange: [],
      departmentId: [],
      paramsSpecial: {
        current: 1,
        size: 10,
        status: null,
        departmentId: null,
        staff: null,
        account: null,
        notice: null,
        startTime: null,
        endTime: null
      },
      params: {
        current: 1,
        size: 10,
        status: null,
        departmentId: null,
        staff: null,
        account: null,
        notice: null,
        startTime: null,
        endTime: null
      },
      tableData: {
        total: 0,
        records: [
        ]
      },
      dialogDetail: {
        show: false,
        data: null
      }
    }
  },
  watch: {
    departmentId(val) {
      this.params.departmentId = val[val.length - 1] || null
    },
    dateRange(val) {
      this.dateChange(val, 'startTime', 'endTime')
    }
  },
  methods: {
    async requestTableList() {
      const tableData = await v2communityManage.getGroupNoticeLog(this.params)
      if (!tableData) return
      this.tableData = tableData
    },
    // 初始化前，可更改查看参数
    beforeResetCallback() {
      this.departmentId = []
      this.$refs.datePicker.handleFieldReset()
    },
    // 打开结果明细
    async showResultDetail(row) {
      this.dialogDetail = {
        show: true,
        data: {
          id: row.id
        }
      }
    },
    // 关闭结果明细
    closeResultDetail() {
      this.dialogDetail = {
        show: false,
        data: null
      }
    },
    // 取消执行操作
    async cancelExecution(row) {
      await this.$confirm('取消后，群公告不再进行修改，是否要取消本次任务？', '取消确认', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
      await v2communityManage.cancelGroupNoticeLog(row.id)
      this.success('取消成功')
      this.search(this.params.current)
    }
  }
}
</script>
