<template>
  <div class="addtrace">
    <div class="header">
      <EffectFunt :optionList='optionList'  :logo='logo'></EffectFunt>
    </div>
    <div class="table">
      <el-table
      align='center'
      :data="tableData"
      style="width: 100%">
      <el-table-column
      align='center'
        prop="enterpriseName"
        label="分公司"
        width="180">
        <template slot-scope='scope'>
          <span>{{scope.row.enterpriseName | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="departmentName" label="部门" width="120">
    <template slot-scope='scope'>
          <span>{{scope.row.departmentName | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="nickName" label="微信昵称" width="120">
    <template slot-scope='scope'>
          <span>{{scope.row.nickName | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="account" label="微信账号" width="120">
    <template slot-scope='scope'>
          <span>{{scope.row.account | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="phone" label="设备保管者电话" width="120">
    <template slot-scope='scope'>
          <span>{{scope.row.phone | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="staffName" label="设备保管者姓名" width="120">
    <template slot-scope='scope'>
          <span>{{scope.row.staffName | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="totalCount" label="新增总数" width="100">
    <template slot-scope='scope'>
          <span>{{scope.row.totalCount | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="femaleCount" label="新增女性" width="100">
    <template slot-scope='scope'>
          <span>{{scope.row.femaleCount | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="maleCount" label="新增男性" width="100">
    <template slot-scope='scope'>
          <span>{{scope.row.maleCount | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="unKnowCount" label="新增未知" width="100">
    <template slot-scope='scope'>
          <span>{{scope.row.unKnowCount | emptyVal}}</span>
        </template>
</el-table-column>
<el-table-column align='center' prop="equipementNum" label="设备入库量" width="auto">
    <template slot-scope='scope'>
          <span>{{scope.row.equipementNum | emptyVal}}</span>
        </template>
</el-table-column>
</el-table>
</div>
<tablePage :params='params'></tablePage>
</div>
</template>
<script>
    import EffectFunt from '../../common/EffectFunt.vue'
    import tablePage from '../../common/Pagintion.vue'
    import mixinsList from '../../common/mixinsList.js'
    export default {
        props: {
            tableData: {
                type: Array,
                default: []
            },
            params: {
                type: Object,
                default: function() {
                    return {}
                }
            }
        },
        components: {
            EffectFunt,
            tablePage
        },
        mixins: [mixinsList],
        data() {
            return {
                logo: 'addWechat',
                optionList: [{
                    label: '昨天',
                    value: -1
                }, {
                    label: '近7天',
                    value: 7
                }, {
                    label: '近30天',
                    value: 30
                }],
            }
        },
        filters: {
            emptyVal(val) {
                if (val == null) {
                    return '暂时为空'
                } else {
                    return val
                }
            }
        },
        created() {

        },
        methods: {



        },
    }
</script>
<style scoped>
    .pagination {
        text-align: center;
    }
    
    .header {
        /* height: 40px; */
        background: #fff;
        width: 100%;
        padding: 20px 10px;
    }
    
    .header .timeLeft {
        display: flex;
    }
    
    .header .timeLeft .tabTime {
        margin-left: 40px;
        margin-top: 3px;
    }
    
    .header .timeLeft .searchBtn {
        margin-left: 100px;
    }
    
    .table {
        padding: 10px;
        background: #fff;
    }
</style>