<template>
  <div class="monthtable">
    <div class="header">
      <EffectFunt :optionList='optionList' :logo='logo'></EffectFunt>
    </div>
    <el-table align='center'
    :data="monthData"
    style="width: 100%">
    <el-table-column
        align='center'
          prop="enterpriseName"
          label="好友昵称"
          width="100">
          <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="好友微信ID" width="140">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="好友微信号" width="140">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="姓名" width="80">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="手机号" width="120">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="车牌号" width="100">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="标签" width="80">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="是否删除" width="80">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="分配账号" width="140">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="备注" width="140">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="性别" width="60">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="生日" width="80">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="好友创建时间" width="100">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="所属微信" width="100">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="所属微信ID" width="100">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="所属微信号" width="100">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="地区" width="80">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
<el-table-column align='center' prop="enterpriseName" label="设备保管者" width="auto">
    <template slot-scope='scope'>
            <!-- <span>{{scope.row.enterpriseName | emptyVal}}</span> -->
          </template>
</el-table-column>
</el-table>
<tablePage :params='params'></tablePage>
</div>
</template>

<script>
    import EffectFunt from '../../common/EffectFunt.vue'
    import tablePage from '../../common/Pagintion.vue'
    import mixinsList from '../../common/mixinsList.js'
    export default {
        props: {
            monthData: {
                type: Array,
                default () {
                    return []
                }
            },
            params: {
                type: Object,
                default () {
                    return {}
                }
            }
        },
        mixins: [mixinsList],
        components: {
            tablePage,
            EffectFunt
        },
        filters: {
            emptyVal(val) {
                if (val == null) {
                    return '暂时为空'
                } else {
                    return val
                }
            }
        },
        data() {
            return {
                logo: 'month',
                optionList: []
            }
        }
    }
</script>