<template>
  <div>
    <div class="ly-margin-bottom-sm">
      <el-checkbox v-model="params.autoPassUser"
                   :true-label='1'
                   :false-label='0'
                   :disabled='hasAction?false:true'
                   @change='checkAutoPass'>开启此功能</el-checkbox>
      <span class="ly-font-10 ly-font-color-2">此功能生效条件：（1）群必须是工作群（2）所管理的个人号为群主</span>
    </div>
    <div>
      <p class="ly-font-14 ly-font-weight-bold">相关限制</p>
      <el-checkbox v-model="params.whiteUser"
                   :true-label='1'
                   :false-label='0'
                   :disabled='(hasAction && params.autoPassUser===1)?false:true'
                   @change='checkAutoPass'>开启白名单自动通过</el-checkbox>
      <span class="ly-font-10 ly-font-color-2">开启后，群主自动通过功能仅针对个人号生效，群内非个人号的邀请将不会自动通过</span>
    </div>
  </div>
</template>
<script>
import { v2communityManage } from '@/api/system'
import { RESOURCE_ACTION_MAP } from '@/constants'
import { resourceMixin } from '@/mixins'

export default {
  mixins: [resourceMixin],
  data() {
    return {
      params: {
        autoPassUser: 0,
        whiteUser: 0
      }
    }
  },
  computed: {
    // 是否设置自动通过权限
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.AUTO_PASS_SETTING)
    }
  },
  mounted() {
    this.getAutoPassConfig()
  },
  methods: {
    async checkAutoPass() {
      if (this.params.autoPassUser === 0) {
        this.params.whiteUser = 0
      }
      await v2communityManage.checkAutoPass(this.params)
      this.success('设置成功')
    },
    async getAutoPassConfig() {
      const data = await v2communityManage.getAutoPassConfig(this.params)
      this.params = data
    }
  }
}
</script>
<style scoped>
</style>
