<template>
  <!-- 下面的tab切换 -->
  <el-tabs v-model="activeName" class="system-home-container">
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_FRIEND)" name="friendStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：好友性别统计缓存5分钟,好友省份统计缓存10分钟<br />2：受查看同部门和子部门微信好友权限影响<br />3：好友省份统计可能数量少一些,是因为没有收集到好友的地区</div>
          <span>好友统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'friendStat'">
        <friend-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_SENSITIVE)" name="sensitiveActionStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：敏感操作统计缓存5分钟<br />2：受查看部门和子部门敏感操作权限影响</div>
          <span>敏感操作统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'sensitiveActionStat'">
        <sensitive-action-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_FANS)" name="fansStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：进粉统计是实时统计的<br />2：受查看同部门和子部门设备权限影响<br />3：数据采集于同部门子部门保管设备上微信进粉情况</div>
          <span>进粉统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'fansStat'">
        <fans-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_FRIEND_INCEEASE)" name="friendIncreaseStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：好友增长统计是实时统计的<br />2：受查看同部门和子部门设备权限影响<br />3：数据采集于同部门子部门保管设备上微信的好友增长情况</div>
          <span>好友增长统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'friendIncreaseStat'">
        <friend-increase-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.RANK_FRIEND_INCREASE)" name="friendIncreaseRank">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：好友增长排行是实时统计的<br />2：受查看同部门和子部门设备权限影响<br />3：数据采集于同部门子部门保管设备上微信的好友增长情况</div>
          <span>好友增长排行</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'friendIncreaseRank'">
        <friend-increase-rank />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_FRIEND_DISTRIBUTION)" name="friendDistributionStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：好友分配统计缓存5分钟<br />2：只展示同部门以及子部门客服的好友分配情况<br />3：受查看同部门和子部门统计权限影响</div>
          <span>好友分配统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'friendDistributionStat'">
        <friend-distribution-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_RECEPTION)" name="receptionStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：接待人数统计是实时统计的<br />2：只展示同部门以及子部门客服的接待人数情况<br />3：受查看同部门和子部门统计权限影响</div>
          <span>接待人数统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'receptionStat'">
        <reception-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_CUSTOMER_SERVICE_TALK)" name="customerServiceTalkStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：客服对话统计是实时统计的<br />2：只展示同部门以及子部门客服的对话情况<br />3：受查看同部门和子部门统计权限影响</div>
          <span>客服对话统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'customerServiceTalkStat'">
        <customer-service-talk-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_FRIEND_NOT_PASS)" name="friendNotPassStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：好友未通过统计是实时统计<br />2：受查看同部门和子部门设备权限影响<br />3：数据采集于同部门子部门保管设备上微信的好友未通过情况</div>
          <span>好友未通过统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'friendNotPassStat'">
        <friend-not-pass-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_WECHAT_GROUP)" name="wechatGroupStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：微信群统计是实时的<br />2：受查看同部门和子部门设备权限影响<br />3：数据采集于同部门子部门保管设备上微信以及群的统计情况</div>
          <span>微信群统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'wechatGroupStat'">
        <wechat-group-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_FRIEND_RESPONSE_TIME)" name="friendResponseTimeStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：好友响应时间统计当天不统计<br />2：按客服统计->只展示同部门以及子部门客服的对话情况<br />3：按客服统计->受查看同部门和子部门统计权限影响<br />4：按微信号统计->受查看同部门和子部门设备权限影响<br />5：按微信号统计->数据采集于同部门子部门保管设备上微信上好友响应时间</div>
          <span>好友响应时间统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'friendResponseTimeStat'">
        <friend-response-time-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_WECHAT_GROUP_ACTIVE)" name="wechatGroupActiveStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：微信群活跃统计不统计当天数据<br />2：微信筛选来源于微信列表数据(受查看同部门和子部门设备权限影响，来源于设备保管者设备上的微信)<br />3：查询出的群来源于微信群数据(受查看同部门和子部门微信群权限影响)</div>
          <span>微信群活跃统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'wechatGroupActiveStat'">
        <wechat-group-active-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_CALL_RECORDING)" name="callRecordingStat">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">1：通话录音统计是实时的<br />2：受同部门通话录音和子部门通话录音权限影响</div>
          <span>通话录音统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'callRecordingStat'">
        <call-recording-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane name="automatedTaskStat" v-if="hasResourceAction(RESOURCE_ACTION_MAP.AUTOMATED_TASK)">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">自动化任务统计</div>
          <span>自动化任务统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'automatedTaskStat'">
        <automated-task-stat />
      </vma-lazy>
    </el-tab-pane>
    <el-tab-pane name="friendOnlineTimeStat" v-if="hasResourceAction(RESOURCE_ACTION_MAP.STAT_FRIEND_ONLINE_TIME)">
      <div slot="label">
        <el-tooltip placement="top">
          <div slot="content">客服在线统计</div>
          <span>客服在线统计</span>
        </el-tooltip>
      </div>
      <vma-lazy :initial="activeName === 'friendOnlineTimeStat'">
        <friend-online-time-stat />
      </vma-lazy>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import FriendStat from './friendStat'
import SensitiveActionStat from './sensitiveActionStat'
import FansStat from './fansStat'
import FriendIncreaseStat from './friendIncreaseStat'
import FriendIncreaseRank from './friendIncreaseRank'
import FriendDistributionStat from './friendDistributionStat'
import ReceptionStat from './receptionStat'
import CustomerServiceTalkStat from './customerServiceTalkStat'
import FriendNotPassStat from './friendNotPassStat'
import WechatGroupStat from './wechatGroupStat'
import FriendResponseTimeStat from './friendResponseTimeStat'
import WechatGroupActiveStat from './wechatGroupActiveStat'
import CallRecordingStat from './callRecordingStat'
import AutomatedTaskStat from './automatedTaskStat'
import FriendOnlineTimeStat from './friendOnlineTimeStat'

export default {
  mixins: [resourceMixin],
  components: {
    FriendStat,
    SensitiveActionStat,
    FansStat,
    FriendIncreaseStat,
    FriendIncreaseRank,
    FriendDistributionStat,
    ReceptionStat,
    CustomerServiceTalkStat,
    FriendNotPassStat,
    WechatGroupStat,
    FriendResponseTimeStat,
    WechatGroupActiveStat,
    CallRecordingStat,
    AutomatedTaskStat,
    FriendOnlineTimeStat
  },
  data () {
    return {
      activeName: 'friendStat',
      RESOURCE_ACTION_MAP
    }
  }
}
</script>
