<template>
  <div class="ly-margin-vertical-sm ly-bg-white business ly-box">
    <div>
      <ul class="ly-nav-menu">
        <li class="ly-item"
            :class="{'ly-active':isActive===0}"
            @click="isActive = 0">账号/基本信息</li>
        <li class="ly-item"
            :class="{'ly-active':isActive===1}"
            @click="isActive = 1">登录页设置</li>
      </ul>
    </div>
    <account-info v-if="isActive===0"></account-info>
    <login-info v-if="isActive===1"></login-info>
  </div>
</template>

<script>
import accountInfo from '../components/oemList/newOem/account'
import loginInfo from '../components/oemList/newOem/login'

export default {
  components: { accountInfo, loginInfo },
  data() {
    return {
      isActive: 1
    }
  }
}
</script>
