<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model="params.keyWord"
                    placeholder="贴牌商名称/联系号码"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <div class="ly-box ly-margin-top-sm ly-width-100">
      <!-- 重复群 -->
      <div>
        <div class="ly-sidebar">
          <div class="title">
            <span class="ly-vertical-line">贴牌商列表</span>
            <span class="ly-vertical-middle ico_add ly-cursor-pointer"
                  @click="toFrom('add')"></span>
          </div>
          <ul class="ly-sidebar-list">
            <li class="ly-sidebar-item"
                v-for="(item,index) in tableData.records"
                :key="item.id"
                :class="{'active':isActive===index}"
                @click="getList(item.id,index)">
              <p class="ly-font-color-3">{{item.name ||''}}</p>
              <p>{{item.phone ||''}}</p>
            </li>
          </ul>
          <div class="ly-text-right"
               v-if="tableData.total>10">
            <el-pagination layout="prev, pager, next"
                           small
                           :total="tableData.total">
            </el-pagination>
          </div>
        </div>
      </div>
      <!-- 数据列表 -->
      <div class="ly-bg-white ly-padding-sm ly-width-100 ly-margin-left-sm"
           v-if="id">
        <div class="ly-box">
          <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1 ly-min-width-130">
            <i class="ico_full_screen"></i>
            <span class="ly-vertical-line">企业详情</span>
          </div>
          <span class="ly-margin-top-nge-4 ly-but-lay">
            <el-button type="primary"
                       size="small"
                       @click="openCallback('equipmentAdd')">增加设备</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('shopAdd')">增加店铺</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('numAdd')">增加个人号</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('accountAdd')">增加账号</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('prohibit')">禁用/启用</el-button>
            <el-button type="primary"
                       size="small"
                       @click="openCallback('resetPassword')">重置密码</el-button>
            <el-button type="primary"
                       size="small"
                       @click="toFrom('edit')">编辑</el-button>
          </span>
        </div>
        <Stat :id="id" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog title="增加设备"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='equipmentAdd'"
               @close="closeCallback">
      <equipmentAdd :dialog="dialog"
                    v-if="dialog.open"
                    @getTableList="getTableList"></equipmentAdd>
    </el-dialog>
    <el-dialog title="增加店铺"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='shopAdd'"
               @close="closeCallback">
      <shopAdd :dialog="dialog"
               v-if="dialog.open"
               @getTableList="getTableList"></shopAdd>
    </el-dialog>
    <el-dialog title="增加账号"
               class="ly-font-color-4"
               width="400px"
               :visible.sync="dialog.open && dialog.name==='accountAdd'"
               @close="closeCallback">
      <accountAdd :dialog="dialog"
                  v-if="dialog.open"
                  @getTableList="getTableList"></accountAdd>
    </el-dialog>
    <el-dialog title="增加个人号"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='numAdd'"
               @close="closeCallback">
      <numAdd :dialog="dialog"
              v-if="dialog.open"
              @getTableList="getTableList"></numAdd>
    </el-dialog>
    <el-dialog title="重置密码"
               class="ly-font-color-4"
               width="490px"
               :visible.sync="dialog.open && dialog.name==='resetPassword'"
               @close="closeCallback">
      <resetPassword :dialog="dialog"
                     v-if="dialog.open"
                     @getTableList="getTableList"></resetPassword>
    </el-dialog>
  </div>
</template>

<script>
import * as types from '@/router/ui/sms/types'
import Stat from '../components/oemList/oemList/stat'
import { accountAdd, equipmentAdd, shopAdd, numAdd, resetPassword } from '../components/oemList/oemList/dialog'
import { tableMixin } from '@/mixins'
import Logger from '@/utils/logger'

export default {
  mixins: [tableMixin],
  components: { Stat, accountAdd, equipmentAdd, shopAdd, numAdd, resetPassword },
  data() {
    return {
      activeNames: ['1'],
      date: '',
      params: {
        keyWord: '',
        beginTime: '',
        endTime: ''
      },
      isActive: null,
      id: null,
      dialog: {
        open: false,
        name: null,
        id: null
      }
    }
  },
  methods: {
    getTableList() {
      this.tableData = {
        current: 1,
        pages: 1,
        records: [
          {
            id: '2',
            name: '企业',
            phone: '18100000000'
          }
        ],
        size: 10,
        total: 1
      }
    },
    getList(id, index) {
      this.isActive = index
      this.id = id
    },
    openCallback(key) {
      this.dialog.name = key
      this.dialog.id = this.id
      this.dialog.open = true
      Logger.log(this.dialog)
      // 禁用
      if (key === 'prohibit') {
        this.$confirm('禁用后该贴牌商及其企业将无法登录，是否确定禁用？', '标题', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.success('恭喜你，操作成功!')
        })
      }
    },
    closeCallback() {
      this.dialog.open = false
    },
    toFrom(type) {
      if (type === 'add') {
        this.$router.push({ name: types.NEW_OEM })
      } else {
        this.$router.push({ name: types.NEW_OEM, query: { enterpriseId: this.id } })
      }
    }
  }
}
</script>
