<template>
  <div class="scrmp">
    <div class="scrmp-bodys">
      <!--头部-->
      <main-header />
      <!--左侧-->
      <main-menu v-if="navTagArr.length" />
      <!--正文内容-->
      <div class="scrmp-content" :class="navTagArr.length>0?'':'active'">
        <!--导航-->
        <page-tags v-if="navTagArr.length" />
        <!--正文内容路由-->
        <div class="scrmp-body">
          <div class="scrmp-container frame-main">
            <transition mode="out-in"
                        enter-active-class="fadeInRightBig"
                        leave-active-class="fadeOutRightBig">
              <router-view class="container animated" />
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainHeader from './mainNew/header.vue'
import MainMenu from './mainNew/menu.vue'
import PageTags from './mainNew/tags.vue'
import { mapGetters } from 'vuex'
export default {
  components: {
    MainHeader,
    MainMenu,
    PageTags
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'navTagArr'
    ])
  },
  created() {
  }
}
</script>
<style scoped>
  .container{
    padding: 0;
  }
</style>
