<template>
  <div class="ly-height-100 ly-bg-white ly-margin-top-sm">
    <div class="ly-bg-white ly-padding-sm setting">
      <div>
        <div class="ly-font-16 ly-font-color-1 ly-box-1">
          <span class="ly-vertical-line">保存群图片</span>
        </div>
        <div class="padding-wxSetting ly-box ly-box-align-center">
          <span class="ly-font-color-4 ly-font-14">不保存群图片</span>
          <el-switch v-model="value3"
                     active-color="#4CD964"
                     class="ly-padding-horizontal-sm">
          </el-switch>
          <span class="ly-font-color-4 ly-font-14">保存群图片</span>
        </div>
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">保存个人图片</span>
        </div>
        <div class="padding-wxSetting ly-box ly-box-align-center">
          <span class="ly-font-color-4 ly-font-14">不保存个人图片</span>
          <el-switch v-model="value4"
                     active-color="#4CD964"
                     class="ly-padding-horizontal-sm">
          </el-switch>
          <span class="ly-font-color-4 ly-font-14">保存个人图片</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value3: false,
      value4: true
    }
  },
  methods: {
  }
}
</script>
