<template>
  <router-view />
</template>

<script>
import { broadcastLogoutLocal } from '@/storage'
import { mapActions } from 'vuex'

let logoutBroadcast = null
export default {
  created() {
    logoutBroadcast = () => {
      this.logoutBroadcast()
    }
    broadcastLogoutLocal.onBroadcast(logoutBroadcast)
  },
  beforeDestroy() {
    broadcastLogoutLocal.offBroadcast(logoutBroadcast)
    logoutBroadcast = null
  },
  methods: {
    ...mapActions(['logoutBroadcast'])
  }
}
</script>
