<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.activityName"
                    placeholder="请输入活动名称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)" />
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange($event,'startTime','endTime')" />
          <el-select clearable
                     class="ly-margin-right-bottom-sm"
                     v-model="params.activityStatus"
                     placeholder="活动状态">
            <el-option v-for="item in ACTIVITY_ATATE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-select v-model="params.checkStatus"
                     class="ly-margin-right-bottom-sm"
                     placeholder="审核状态"
                     clearable>
            <el-option v-for="item in AUDIT_STATUS"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.buyerAccount"
                    placeholder="请输入购物账号"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100"
                    @keyup.native.enter="getTableList(1)" />
          <el-select clearable
                     class="ly-margin-right-bottom-sm"
                     v-model="params.plateForm"
                     placeholder="平台类型">
            <el-option v-for="item in PLATFORM_TYPE"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column fixed
                         type="selection"
                         width="55"
                         :selectable="selectableCallback">
        </el-table-column>
        <el-table-column fixed
                         label="活动信息"
                         min-width="160">
          <template slot-scope="scope">
            <p>名称：{{scope.row.activityName || '--'}}</p>
            <p>状态：
              <span class="ly-font-color-3"
                    v-if="scope.row.activityStatus===0">未开始</span>
              <span class="ly-font-color-9"
                    v-else-if="scope.row.activityStatus===1">进行中</span>
              <span class="ly-font-color-5"
                    v-else-if="scope.row.activityStatus===2">已结束</span>
              <span v-else>--</span>
            </p>
            <p>红包：
              <span v-if="scope.row.redpackageType===1">固定红包金额</span>
              <span v-else-if="scope.row.redpackageType===2">随机红包金额</span>
              <span v-else-if="scope.row.redpackageType===3">阶梯金额红包</span>
              <span v-else>--</span>
            </p>
            <p>金额：
              <span>{{scope.row.moneyNum || '--'}}元</span>
              <!-- <span v-if="scope.row.redpackageType === 1">{{scope.row.moneyNum || '--'}}元</span>
              <span v-else-if="scope.row.redpackageType === 2">{{scope.row.floorLine}}~{{scope.row.upLine}}元</span> -->
            </p>
          </template>
        </el-table-column>
        <el-table-column label="申请信息"
                         min-width="220">
          <template slot-scope="scope">
            <p>申请时间：{{fmt.date(scope.row.createTime) || '--'}}</p>
            <p>微信昵称：{{scope.row.nickName || '--'}}</p>
          </template>
        </el-table-column>
        <el-table-column label="购物账号"
                         min-width="200">
          <template slot-scope="scope">
            <p>平台类型：
              <span v-if="scope.row.plateForm===1">淘宝</span>
              <span v-else-if="scope.row.plateForm===2">京东</span>
              <span v-else-if="scope.row.plateForm===3">拼多多</span>
              <span v-else>--</span>
            </p>
            <p>购物账号：{{scope.row.buyersAccount || '--'}}</p>
          </template>
        </el-table-column>
        <el-table-column label="审核状态"
                         min-width="160">
          <template slot-scope="scope">
            <p>审核时间：{{fmt.date(scope.row.checkTime)}}</p>
            <p>审核状态：
              <span class="ly-font-color-12"
                    v-if="scope.row.checkStatus===1">待审核</span>
              <span class="ly-font-color-5"
                    v-else-if="scope.row.checkStatus===2">已通过</span>
              <span class="ly-font-color-7"
                    v-else-if="scope.row.checkStatus===3">已拒绝</span>
              <span v-else>--</span>
            </p>
            <p>&emsp;审核人：
              <span>{{scope.row.staffAccount || ''}}</span>
              <span v-if="scope.row.staffName">({{scope.row.staffName || '--'}})</span>
              <span v-if="!scope.row.staffAccount && !scope.row.staffName">--</span>
            </p>
          </template>
        </el-table-column>
        <el-table-column label="付款信息"
                         min-width="220">
          <template slot-scope="scope">
            <p>支付流水号：{{scope.row.wxTradeNo || '--'}}</p>
            <p>&emsp;付款时间：{{fmt.date(scope.row.payTime) || '--'}}</p>
          </template>
        </el-table-column>
        <el-table-column label="审核图片">
          <template slot-scope="scope">
            <img class="ly-wh-50px"
                 :src="scope.row.imgUrl | wechatAvtor"
                 v-image-view />
          </template>
        </el-table-column>
        <el-table-column label="其他信息"
                         min-width="160">
          <template slot-scope="scope">
            <div v-if="scope.row.failReason">
              <p>系统提示：</p>
              <div v-for="(item,index) in scope.row.failReason"
                   :key="index">
                <p>{{item}}</p>
              </div>
            </div>
            <div v-if="scope.row.checkStatus===3 && scope.row.checkRemark">
              <p>拒绝理由：</p>
              <div v-for="(item,index) in scope.row.checkRemark"
                   :key="index">
                <p>{{item}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column fixed="right"
                         prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       v-if="hasActivityAudit && (scope.row.checkStatus===1 || scope.row.checkStatus===3 && scope.row.staffAccount)"
                       @click="openCallback($event,'apply',scope.row)">审核</el-button>
            <span class="ly-font-color-5"
                  v-else>--</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <div>
          <el-button type="primary"
                     size="small"
                     v-if="hasActivityAudit"
                     @click="openCallback($event,'refuse')">批量处理</el-button>
        </div>
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 弹窗 -->
    <el-dialog title="申请详情"
               :visible.sync="applyDialog.open"
               width="780px"
               @close="closeCallback('noRefresh')" append-to-body>
      <applyDetails :dialog="applyDialog"
                    v-if="applyDialog.open"
                    @adoptCallback="adoptCallback"
                    @refuseCallback="refuseCallback"></applyDetails>
    </el-dialog>
    <el-dialog title="批量审核"
               class="ly-font-color-4"
               width="489px"
               :visible.sync="refuseDialog.open" append-to-body>
      <batchRefuse :dialog="refuseDialog"
                   v-if="refuseDialog.open"
                   @adoptCallback="adoptCallback"
                   @refuseCallback="refuseCallback"></batchRefuse>
    </el-dialog>
  </div>
</template>

<script>
import { v2marketPlatformApi } from '@/api/system'
import applyDetails from './components/applyDetails'
import { batchRefuse } from '../components/common'
import { ACTIVITY_ATATE, AUDIT_STATUS, PLATFORM_TYPE } from '@/constants/selects'
import { tableMixin, resourceMixin, marketPlatformMixins } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [tableMixin, resourceMixin, marketPlatformMixins],
  components: {
    applyDetails,
    batchRefuse
  },
  data() {
    return {
      activeNames: ['1'],
      ACTIVITY_ATATE: ACTIVITY_ATATE,
      AUDIT_STATUS: AUDIT_STATUS,
      PLATFORM_TYPE: PLATFORM_TYPE,
      RESOURCE_ACTION_MAP,
      params: {
        activityName: '',
        activityStatus: '',
        checkStatus: '',
        buyerAccount: '',
        plateForm: ''
      },
      applyDialog: {
        open: false
      },
      refuseDialog: {
        open: false,
        len: 0,
        data: {
          ids: []
        }
      }
    }
  },
  computed: {
    // 审核加购有礼
    hasActivityAudit() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.BUY_AGAIN_ACTIVITY_AUDIT)
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      let data = await v2marketPlatformApi.buyagainCheck(this.params)
      this.tableData = this.handleCallback(data)
    },
    selectableCallback(row, index) {
      if (row.checkStatus === 2 || !row.checkStatus) {
        return false
      } else {
        return true
      }
    },
    // 弹窗-打开
    openCallback(defObj, val, obj) {
      switch (val) {
        case 'apply':
          if (obj) { // 单个操作去除选中状态
            this.$refs.multipleTable.clearSelection()
            this.refuseDialog.data.ids = [obj.id]
          }
          this.applyDialog = {
            open: true,
            id: obj.id,
            data: obj
          }
          break
        case 'refuse':
          this.refuseDialog.len = this.refuseDialog.data.ids.length
          if (this.refuseDialog.len === 0) {
            this.error('请选择要处理的数据')
            return
          }
          this.refuseDialog.open = true
          break
      }
    },
    // 弹窗-审核-通过
    adoptCallback(val) {
      v2marketPlatformApi.buyagainCheckPass({ ids: this.refuseDialog.data.ids }).then(res => {
        this.applyDialog.open = false
        this.refuseDialog.open = false
        this.closeCallback()
      })
    },
    // 弹窗-审核-拒绝
    refuseCallback(val) {
      v2marketPlatformApi.buyagainCheckRefer({ checkRemark: val.checkRemark, ids: this.refuseDialog.data.ids }).then(res => {
        this.applyDialog.open = false
        this.refuseDialog.open = false
        this.closeCallback()
      })
    },
    // 列表选择事件-获取选中id
    handleSelectionChange(obj) {
      this.refuseDialog.data.ids = []
      for (let i = 0; i < obj.length; i++) {
        this.refuseDialog.data.ids.push(obj[i].id)
      }
    },
    // 清楚除选中项
    closeCallback(val) {
      this.$refs.multipleTable.clearSelection()
      this.refuseDialog.data.ids = []
      if (val !== 'noRefresh') {
        this.getTableList()
      }
    }
  }
}
</script>
