<template>
  <el-tabs class="wechat-express" v-model="activeTab">
    <el-tab-pane v-for="(o, i) in expression.EXPRESS_LIST" :key="i" :label="o.title" :name="o.title" class="wechat-express-container">
      <a href="javascript: void(0);" class="wechat-express-item" v-for="(v, j) in o.list" :key="j" @click="clickExpress(v)">
        <!-- QQ表情，微信表情 -->
        <template v-if="v.type === expression.TYPE_QQ || v.type === expression.TYPE_WECHAT">
          <i class="icon-wechat-express" :class="v.icon"></i>
        </template>
        <!-- emoji -->
        <template v-else-if="v.type === expression.TYPE_EMOJI">
          <span class="icon-wechat-emoji" v-html="v.icon"></span>
        </template>
        <template v-else-if="v.emotionPath">
          <img class="icon-wechat-xfemoji" :src="v.emotionPath">
        </template>
      </a>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import Expression from './libs/expression'
import { xunfeiApi } from '@/api/chat'
import { wechatInfoSession } from '@/storage'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      expression: [],
      activeTab: Expression.EXPRESS_LIST.length ? Expression.EXPRESS_LIST[0].title : ''
    }
  },
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'adminInfo'])
  },
  mounted () {
    this.xfExpression()
  },

  methods: {
    async xfExpression () {
      let params = { customerName: wechatInfoSession.getJSON().staffId, jobNumber: this.adminInfo.jobNum }
      let res = await xunfeiApi.queryEmotionInfos(params)
      if (res.code === 0) {
        let obj = {
          title: '动图',
          list: Object.assign([], res.data)
        }
        this.expression = Expression
        this.$set(this.expression.EXPRESS_LIST, 3, obj)
      } else {
        Expression.EXPRESS_LIST = Expression.EXPRESS_LIST.slice(0, 3)
        this.expression = Expression
      }
    },
    clickExpress (e) {
      if (e.type === Expression.TYPE_QQ || e.type === Expression.TYPE_WECHAT) {
        this.$emit('choose', e.title, e)
      } else if (e.type === Expression.TYPE_EMOJI) {
        this.$emit('choose', e.icon, e)
      } else {
        this.$emit('choose', e.emotionPath, e)
        this.kickWechat(e)
      }
    },
    /**
     * 点击表情包
     */
    async kickWechat (data) {
      let params = {
        cmd: 'emotion',
        data: {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          nlpSolution: data.emotionPath,
          questionType: 1,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
      await xunfeiApi.kickWechat(params)
    }
  },
  destroyed () {

  }
}
</script>
<style lang="scss" scoped>
.wechat-express {
  width: 100%;
}

.wechat-express-container {
  height: rem(300px);
  overflow: auto;
  font-size: 0;
  .wechat-express-item {
    display: inline-block;
    padding: 3px;
    .icon-wechat-xfemoji {
      width: 5rem;
      height: 5rem;
    }
  }
}
</style>
