/* eslint-disable no-unused-vars */
<template>
  <div class="wechat-express-container">
    <template>
      <ul class="infinite-list">
        <li v-for="(v, i) in xfTricklist" :key="i" class="infinite-list-item" @click.stop="sendReply(v)">
          <el-popover placement="top-start" width="500" trigger="hover" v-if="v.txtList && v.txtList.length > 0">
            <el-card class="box-card" shadow="never">
              <div v-for="(o,j) in v.txtList" :key="j" class="text item" @click.stop="sendReply(v)">
                <div v-html="o.target"></div>
              </div>
            </el-card>
            <span slot="reference" :class='[v.type== MESSAGE_TPYE_KEY.TXT ? "txt" : ""]' v-html="v.target"></span>
          </el-popover>
          <span v-else :class='[v.type== MESSAGE_TPYE_KEY.TXT ? "txt" : ""]' v-html="v.target"></span>
          <i class="icon-video" v-if="v.type === MESSAGE_TPYE_KEY.VIDEO" @click.stop="previewReply(v)"></i>
          <i class="icon icon-image" v-if="v.type === MESSAGE_TPYE_KEY.IMG" @click.stop="previewReply(v)"></i>
          <i class="icon icon-voice" v-else-if="v.type  == MESSAGE_TPYE_KEY.AUDIO" @click.stop="previewReply(v)"></i>
          <i class="icon el-icon-link" v-else-if="v.type === MESSAGE_TPYE_KEY.WECHAT" @click.stop="previewReply(v)"></i>
        </li>
      </ul>
    </template>
    <!-- 视频预览 -->
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeVideoDialog" @on-send="sendVideoMsg"></videoDialog>
    <!-- 粘贴图片预览 -->
    <sendPastImgDialog v-if="imgDialogData.show" :imgData="imgDialogData" @on-close="closeImgDialog" @directly-send-img="sendImageMsg"></sendPastImgDialog>
    <!-- 语音预览 -->
    <voiceDialog v-if="voiceDialogData.show" :data="voiceDialogData" @on-close="closeVoiceDialog" @on-send="sendVoiceMsg"></voiceDialog>
    <!-- 发送小程序前预览 -->
    <miniProgramDialog v-if="miniProgramDialogData.show" :miniProgramData="miniProgramDialogData" @on-close="closeMiniprogramDialog" @on-send="sendMiniProgramMsg"></miniProgramDialog>
  </div>
</template>

<script>
import { wechatInfoSession } from '@/storage'
import { mapGetters } from 'vuex'
import { MESSAGE_TPYE_KEY } from '@/constants/messageType'
import { xunfeiApi } from '@/api/chat'
import videoDialog from '@/components/packages/chat/home/videoDialog'
import miniProgramDialog from '@/components/packages/chat/home/miniProgramDialog'
import sendPastImgDialog from '@/components/packages/chat/home/sendPastImgDialog'
import voiceDialog from '@/components/packages/chat/home/voiceDialog'
export default {
  props: ['xfTricklist'],
  components: {
    videoDialog,
    miniProgramDialog,
    sendPastImgDialog,
    voiceDialog

  },
  data () {
    return {
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      videoDialogData: {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      },
      imgDialogData: {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      },
      voiceDialogData: {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      },
      isshowTip: false,
      // 小程序
      miniProgramDialogData: {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      }
    }
  },
  computed: {
    ...mapGetters(['activeChatAccountInfo', 'activeChatFriendInfo', 'adminInfo'])
  },
  mounted () {

  },
  methods: {
    async kickWechat (data) {
      let params = {
        cmd: null,
        data: {
          customerName: wechatInfoSession.getJSON().staffId,
          jobNumber: this.adminInfo.jobNum, // 工号
          userName: this.adminInfo.name, // 用户名
          businessId: this.adminInfo.enterpriseId, // 企业ID
          nlpSolution: data.msgText,
          questionType: 1,
          fromUser: this.activeChatFriendInfo.wxId
        }
      }
      if (data.msgType === MESSAGE_TPYE_KEY.IMG) {
        params.cmd = 'image'
      } else if (data.msgType === MESSAGE_TPYE_KEY.VIDEO) {
        params.cmd = 'video'
      } else if (data.msgType === MESSAGE_TPYE_KEY.AUDIO) {
        params.cmd = 'audio'
      } else if (data.msgType === MESSAGE_TPYE_KEY.WECHAT) {
        params.cmd = 'weChat'
      }

      await xunfeiApi.kickWechat(params)
    },
    /**
     * 预览发送
     * @param  {[type]} data [description]
     * @return {[type]}      [description]
     */
    previewReply (data) {
      let params = {
        msgText: null,
        msgType: null
      }
      switch (data.type) {
        // 文本
        // case MESSAGE_TPYE_KEY.TXT:
        //   this.showWordDialog(Object.assign(data, { msgText: data.msgText }))
        //   break
        // // 图片
        case MESSAGE_TPYE_KEY.IMG:
          params.msgType = data.type
          params.msgText = data.content
          this.showImgDialog(params)
          break
        // 视频
        case MESSAGE_TPYE_KEY.VIDEO:
          params.msgType = data.type
          params.msgText = data.content
          params.coverInfo = data.coverInfo
          this.showVideoDialog(params)
          break
        // 录音
        case MESSAGE_TPYE_KEY.AUDIO:
          params.msgType = data.type
          params.msgText = data.content
          params.voiceLength = data.voiceLength
          this.showVoiceDialog(params)
          break
        // 小程序
        case MESSAGE_TPYE_KEY.WECHAT:
          this.showMiniProgramDialog({ msgText: data.content, msgType: data.type })
          break
      }
    },
    /** 点击发送文本域发送 */
    sendReply (item) {
      if (item.target) {
        item.target = item.target.replace(/<\/?.+?>/g, '')
      }
      let params = {
        msgText: null,
        msgType: null,
        txt: ''
      }
      if (item.type === 1 && item.txtList && item.txtList.length) {
        for (let v of item.txtList) {
          params.txt += v.target.replace(/<\/?.+?>/g, '')
        }
        item.target = params.txt.replace(/<\/?.+?>/g, '')
      }
      if (item.type === MESSAGE_TPYE_KEY.TXT) {
        this.$emit('chatxfverbalTrick', item)
      } else if (
        item.type === MESSAGE_TPYE_KEY.VIDEO
      ) {
        params.msgType = 4
        params.msgText = item.content
        params.coverInfo = item.coverInfo
        this.sendVideoMsg({ data: params })
        this.$emit('colseChatxfverbalTrick', item)
      } else if (
        item.type === MESSAGE_TPYE_KEY.WECHAT
      ) {
        params.msgType = 6
        params.msgText = item.content
        this.sendMiniProgramMsg({ data: params })
        this.$emit('colseChatxfverbalTrick')
      } else if (
        item.type === MESSAGE_TPYE_KEY.IMG
      ) {
        params.msgType = 2
        params.msgText = item.content
        this.sendImageMsg(null, { data: params })
        this.$emit('colseChatxfverbalTrick', item)
      } else if (
        item.type === MESSAGE_TPYE_KEY.AUDIO
      ) {
        params.msgType = 3
        params.msgText = item.content
        params.voiceLength = item.voiceLength
        this.sendVoiceMsg({ data: params })
        this.$emit('colseChatxfverbalTrick', item)
      }
    },
    /**
     * 确认发送视频
     * @param  {[type]} videoDialogData [description]
     * @return {[type]}      [description]
     */
    sendVideoMsg (videoDialogData) {
      this.sendQuickReply(videoDialogData.data)
      this.kickWechat(videoDialogData.data)
      this.closeVideoDialog()
      this.$emit('colseChatxfverbalTrick')
    },
    showVideoDialog (data) {
      // coverInfo 封面的图片地址
      this.videoDialogData = {
        show: true,
        url: data.msgText,
        poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    closeVideoDialog () {
      this.videoDialogData = {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 确认发送图片
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendImageMsg (url, data) {
      this.sendQuickReply(data.data)
      this.kickWechat(data.data)
      this.$emit('colseChatxfverbalTrick')
    },
    showImgDialog (data) {
      this.imgDialogData = {
        show: true,
        url: data.msgText,
        sendBtn: true,
        data
      }
    },
    closeImgDialog () {
      this.imgDialogData = {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      }
    },
    /**
     * 确认发送语音
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendVoiceMsg (data) {
      this.closeVoiceDialog()
      this.sendQuickReply(data.data)
      this.kickWechat(data.data)
      this.$emit('colseChatxfverbalTrick')
    },

    showVoiceDialog (data) {
      this.voiceDialogData = {
        show: true,
        url: data.msgText,
        voiceLength: data.voiceLength,
        sendBtn: true,
        data
      }
    },
    closeVoiceDialog () {
      this.voiceDialogData = {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      }
    },
    /**
     * 预览小程序
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    showMiniProgramDialog (data) {
      this.miniProgramDialogData = {
        show: true,
        url: data.msgText,
        // poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    /**
    * 确认发送小程序
    * @param  {[type]} url [description]
    * @return {[type]}     [description]
    */
    sendMiniProgramMsg (data) {
      this.closeMiniprogramDialog()
      this.sendQuickReply(data.data)
      this.$emit('colseChatxfverbalTrick')
      // 点击小程序发送量
      this.kickWechat(data.data)
    },
    /**
    * 关闭小程序
    */
    closeMiniprogramDialog () {
      this.miniProgramDialogData = {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      }
    },

    // /**
    // * 新增--弹窗--显示
    // */
    // showMManageAddDialog (a, b) {
    //   this.dialogmMangeAdd = {
    //     show: true,
    //     materialShow: true,
    //     data: {}
    //   }
    // },
    // /**
    // * 新增--弹窗--关闭
    // */
    // closeMManageAddDialog () {
    //   this.dialogmMangeAdd = {}
    // },

    /**
    * 编辑关闭
    */
    closeMManageModifyDialog () {
      this.dialogmMangeModify = {}
    },
    /**
    * 编辑--弹窗--显示
    */
    showMManageModifyDialog (data) {
      this.dialogmMangeModify = {
        show: true,
        data: data
      }
    },
    sendQuickReply (data) {
      // 不直接走commit 接口
      this.$emitBus('send-quick-reply', data)
    }

  },
  destroyed () {

  }
}
</script>
<style lang="scss" scoped>
.wechat-express {
  width: 100%;
}

.wechat-express-container {
  min-height: rem(60px);
  max-height: rem(150px);
  overflow: auto;
  .wechat-express-item {
    display: inline-block;
    padding: 3px;
  }
  .infinite-list-item {
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    i {
      cursor: pointer;
    }
    span {
      display: inline-block;
    }
    .txt {
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
</style>
