<template>
  <div class="ly-bg-white ly-margin-top-sm ly-position-relative ly-addEdit">
    <div class="ly-font-16 ly-font-color-1 ly-margin-horizontal-sm ly-border-bottom-1 ly-padding-bottom-sm">
      <span class="ly-vertical-line">{{dialog.title}}活动</span>
    </div>
    <div class="business">
      <el-form :model="form"
               :rules="dialog.isEdit!=='see'?rules:{}"
               ref="form"
               label-width="150px"
               class="ly-margintop-25px demo-ruleForm">
        <el-form-item label="活动名称:"
                      prop="activityName">
          <el-input v-model="form.activityName"
                    placeholder="12字以内"
                    maxlength="12"
                    max="12"></el-input>
          <p class="ly-font-color-8">仅在后台出现，方便识别不同活动</p>
        </el-form-item>
        <el-form-item label="活动页面标题:"
                      prop="pageTitle">
          <el-input v-model="form.pageTitle"
                    placeholder="8字以内"
                    maxlength="8"
                    max="8"></el-input>
          <p class="ly-font-color-8">手机活动页标题</p>
        </el-form-item>
        <el-form-item label="活动分享文案："
                      class="ruleForm-sm"
                      prop="shareText">
          <div>
            <el-input type="textarea"
                      v-model="form.shareText"
                      rows="5"
                      maxlength="50"
                      max="50"></el-input>
            <div class="ly-el-lay ly-font-color-8">
              <span class="ly-float-right">{{form.shareText | shareTextFil}}/50字</span>
              <p>用户发送给朋友时会显示该文案</p>
            </div>
          </div>
        </el-form-item>
        <el-form-item label="活动时间:"
                      prop="date">
          <el-date-picker v-model="form.date"
                          type="datetimerange"
                          value-format="timestamp"
                          range-separator="~"
                          start-placeholder="开始时间"
                          end-placeholder="结束时间"
                          :default-time="['00:00:00', '23:59:59']"
                          :picker-options="pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="背景图:">
          <div class="ly-box">
            <vma-image-upload v-model="form.backgroundImg" />
          </div>
          <p class="ly-font-color-8">建议尺寸：750*1334 不上传则默认系统背景图</p>
        </el-form-item>
        <el-form-item label="奖品类型:">
          <!-- 1现金红包 -->
          <el-radio-group v-model="form.activityType">
            <el-radio :label="1">现金红包</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- 红包类型 1固定红包金额 2随机红包金额 3阶梯金额红包  -->
        <el-form-item label="红包类型:">
          <el-radio-group v-model="form.redpackageType">
            <el-radio :label="1">固定红包金额</el-radio>
            <el-radio :label="2">随机红包金额</el-radio>
            <el-radio :label="3">阶梯金额红包</el-radio>
          </el-radio-group>
        </el-form-item>
        <div v-if="form.redpackageType===1">
          <el-form-item label="红包金额:"
                        prop="moneyNum">
            <el-input-number v-model="form.moneyNum"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00" />
          </el-form-item>
        </div>
        <div v-if="form.redpackageType===2">
          <el-form-item label="红包金额:"
                        prop="redpageConfig"
                        class="ruleForm-ss">
            <el-input-number v-model="form.redpageConfig.floorLine"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00"></el-input-number>
            <span class="ly-margin-horizontal-xs">~</span>
            <el-input-number v-model="form.redpageConfig.upLine"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00"></el-input-number>
            <span class="ly-font-color-8">元</span>
          </el-form-item>
        </div>
        <div v-if="form.redpackageType===3">
          <el-form-item label="红包金额:"
                        class="ruleForm-ss"
                        prop="redpageConfigss">
            <div class="ly-margin-bottom-sm"
                 v-for="(item,index) in form.redpageConfigss"
                 :key="index">
              <span>实付在</span>
              <el-input-number v-model="item.floorLine"
                               :min="0.01"
                               :max="99999999"
                               :precision="2"
                               :controls="false"
                               placeholder="输入订单金额"></el-input-number>
              <span class="ly-margin-horizontal-xs">~</span>
              <el-input-number v-model="item.upLine"
                               :min="0.01"
                               :max="99999999"
                               :precision="2"
                               :controls="false"
                               placeholder="输入订单金额"></el-input-number>
              <span class="ly-margin-horizontal-xs">元的订单返现</span>
              <el-input-number v-model="item.redpackageMoney"
                               type="number"
                               :min="1"
                               :max="200"
                               :precision="2"
                               :controls='false'
                               placeholder="1~200.00"></el-input-number>
              <span class="ly-font-color-8">元</span>
              <i v-if="index > 0"
                 class="el-icon-delete ly-font-color-7"
                 @click="deleteLadder(index)"></i>
            </div>
          </el-form-item>
          <el-form-item v-if="form.redpackageType===3 && isAddLadder">
            <el-button type="primary"
                       icon="el-icon-plus"
                       size="small"
                       @click="addLadder">添加阶梯</el-button>
          </el-form-item>
        </div>
        <el-form-item label="选择店铺:"
                      prop="shopIdss">
          <el-select v-model="form.shopIdss"
                     multiple
                     placeholder="请选择">
            <el-option v-for="item in shopList"
                       :key="item.id"
                       :label="item.shopName"
                       :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="适用订单时间:"
                      class="block">
          <el-radio-group v-model="form.orderRangeType">
            <el-radio :label="1">默认活动开始90天前至活动结束</el-radio>
            <el-radio :label="2">指定时间</el-radio>
          </el-radio-group>
          <div v-if="form.orderRangeType === 2">
            <el-date-picker v-model="form.dates"
                            type="datetimerange"
                            value-format="timestamp"
                            range-separator="~"
                            start-placeholder="开始时间"
                            end-placeholder="结束时间"
                            :default-time="['00:00:00', '23:59:59']">
            </el-date-picker>
          </div>
        </el-form-item>
        <el-form-item label="提交有效期:"
                      class="ruleForm-xs block">
          <el-radio-group v-model="submitValidity">
            <el-radio :label="1">默认无限期</el-radio>
            <el-radio :label="2">确认收货后
              <el-input-number v-model="form.submitValidity"
                               :min="submitValidity===2?1:null"
                               :max="99999"
                               :precision="0"
                               :controls="false"
                               placeholder="输入天数" />
              天有效</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="订单购买间隔:"
                      class="ruleForm-xs block">
          <el-radio-group v-model="intervalTime">
            <el-radio :label="1">默认无限期</el-radio>
            <el-radio :label="2">同一买家用户
              <el-input-number v-model="form.intervalTime"
                               :min="intervalTime===2?1:null"
                               :max="99999"
                               :precision="0"
                               :controls="false"
                               placeholder="输入天数" />
              天内下的订单，仅允许参加一次</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="微信用户参与限制:"
                      class="ruleForm-xs block">
          <el-radio-group v-model="joinLimit">
            <el-radio :label="1">默认无限期</el-radio>
            <el-radio :label="2">同一买家用户
              <el-input-number v-model="form.joinLimit"
                               :min="joinLimit===2?1:null"
                               :max="99999"
                               :precision="0"
                               :controls="false"
                               placeholder="输入天数" />
              天内提交，仅允许参加一次</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="审核设置:"
                      class="ruleForm-xs block">
          <el-radio-group v-model="form.checkType">
            <el-radio :label="1"
                      style="margin-top: 0;">人工审核，提交
              <el-input-number v-model="form.checkTime"
                               :min="form.checkType===1?1:null"
                               :max="99999"
                               :precision="2"
                               :controls="false"
                               placeholder="输入小时" />
              小时后，如未审核则自动审核</el-radio>
            <el-radio :label="2">自动审核，提交后立即自动审核</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="活动说明:"
                      prop="introduction"
                      class="ruleForm-sm">
          <el-input v-model="form.introduction"
                    type="textarea"
                    placeholder="活动说明"
                    :maxlength="300"
                    :max="300"
                    :min="0"
                    :rows="15"
                    :autosize="{ minRows: 5, maxRows: 15}"
                    ref="count"></el-input>
          <div class="ly-el-lay">
            <span class="ly-font-color-2 ly-font-12">{{form.introduction | introductionFil}}/300字</span>
            <span class="ly-float-right">
              <el-button type="text"
                         @click="inputExample('introduction')">示例文字</el-button>
            </span>
          </div>
        </el-form-item>
        <el-form-item label="活动过滤:"
                      class="block">
          <!--是否过滤参与过其他活动的订单1是0否-->
          <el-switch v-model="form.filtration"
                     :active-value="1"
                     :inactive-value="0"></el-switch>
          <span class="ly-font-color-2 ly-font-12">参加过其他活动的订单不可以参加本次活动</span>
        </el-form-item>
        <el-form-item label="活动引流:"
                      class="block">
          <!--是否活动引流1是0否-->
          <el-switch v-model="form.drainage"
                     :active-value="1"
                     :inactive-value="0"></el-switch>
          <span class="ly-font-color-2 ly-font-12">开启活动后提交申请成功会引导客户参与引流活动</span>
          <div v-if="form.drainage === 1">
            <el-radio-group v-model="form.drainageType">
              <el-radio :label="1">同步微活码&ensp;
                <el-select v-if="form.drainageType === 1"
                           v-model="form.microCode"
                           placeholder="选择微活码(必填)">
                  <el-option v-for="item in codeList"
                             :key="item.id"
                             :label="item.title"
                             :value="item.id">
                  </el-option>
                </el-select>
              </el-radio>
              <el-radio :label="2">自定义</el-radio>
            </el-radio-group>
            <template v-if="form.drainageType === 2">
              <div class="ly-box">
                <vma-image-upload v-model="form.drainageImgUrl" />
                <el-input type="textarea"
                          class="ly-margin-left-sm"
                          style="width:240px;"
                          placeholder="请输入引流话术(必填)"
                          max="25"
                          maxlength="25"
                          :min="0"
                          :rows="6"
                          v-model="form.drainageText"
                          ref="count"></el-input>
              </div>
              <p class="ly-font-color-2 ly-font-12">上传同步微活码(必填)</p>
            </template>
          </div>
        </el-form-item>
        <el-form-item v-if="dialog.isEdit!=='see'">
          <el-button @click="dialog.open = false">取消</el-button>
          <el-button type="primary"
                     @click="previewCallback('form')">预览</el-button>
          <el-button type="primary"
                     @click="sureCallback('form')">保存</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="h5-view-container"
         v-show="viewUrl">
      <!-- h5主页 -->
      <h5-view :url="viewUrl" />
    </div>
    <div v-if="dialog.isEdit==='see'"
         class="ly-mask-layer"></div>
  </div>
</template>
<script>
import { v2marketPlatformApi } from '@/api/system'
import { vmaH5ScrmAddEvaluateGood } from '@/config'
import { compatUrl } from '@/utils'
import { marketPlatformAddMixins } from '@/mixins'

export default {
  mixins: [marketPlatformAddMixins],
  props: {
    dialog: [Object]
  },
  data() {
    const compareValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (!value.floorLine) {
        errors.push('请输入最小红包金额')
      }
      if (value.floorLine && value.floorLine >= value.upLine) {
        errors.push('最小红包金额应小于最大红包金额')
      }
      if (!value.upLine) {
        errors.push('请输入最大红包金额')
      }
      callback(errors)
    }
    const redpageConfigssValidator = (rule, value, callback, source, options) => {
      let errors = []
      for (let i = 0; i < value.length; i++) {
        let element = value[i]
        if (!element.floorLine) {
          errors.push('请输入最小订单金额')
          callback(errors)
          return
        }
        if (!element.upLine) {
          errors.push('请输入最大订单金额')
          callback(errors)
          return
        }
        if (element.floorLine >= element.upLine) {
          errors.push('最小订单金额应小于最大订单金额')
          callback(errors)
          return
        }
        if (!element.redpackageMoney) {
          errors.push('请输入订单返现金额')
          callback(errors)
          return
        }
        for (let y = 0; y < value.length; y++) {
          let item = value[y]
          if (element !== item) {
            if (!(item.floorLine > element.upLine || item.upLine < element.floorLine)) {
              errors.push('设置的订单区间有重叠')
              callback(errors)
              return
            }
          }
        }
      }
      callback(errors)
    }
    return {
      submitValidity: 1,
      intervalTime: 1,
      joinLimit: 1,
      shopIds: [],
      arr: [],
      isAddLadder: true,
      form: {
        dates: [],
        redpageConfig: {},
        redpageConfigss: [{}],
        orderRangeType: 1, // 适用订单时间
        checkType: 1,
        checkTime: 72,
        filtration: 0,
        drainage: 0,
        drainageType: 1,
        introduction: '',
        shopIdss: [],
        shopIds: []
      },
      rules: {
        // 随机金额红包
        redpageConfig: [
          { required: true, validator: compareValidator }
        ],
        // 阶梯金额红包
        redpageConfigss: [
          { required: true, validator: redpageConfigssValidator }
        ],
        // 选择店铺验证
        shopIdss: [
          { required: true, message: '请选择店铺' }
        ]
      },
      exampleWord: [
        '1.打开手机淘宝，发表15字以上追评并且截屏。',
        '2.复制相应订单号，粘贴至订单输入框，并且上传截图。',
        '3.1-3个工作日内将会发放相应奖励。',
        '4.若由于微信原因无法领取红包，请及时与我们联系。'
      ]
    }
  },
  created() {
    this.getShopList()
    this.getCodeList()
    if (this.dialog.isEdit !== 'add') {
      this.getDetail()
    }
  },
  methods: {
    // 获取详情
    async getDetail() {
      const res = await v2marketPlatformApi.commentDetailId(this.dialog.id)
      // 选择店铺
      if (res.shopIds) {
        let arr = res.shopIds.split(',')
        for (let i = 0; i < arr.length; i++) {
          this.form.shopIdss.push(Number(arr[i]))
        }
      }
      let resData = await this.getDetailValidate(res)
      this.form = Object.assign({}, this.form, resData)
    },
    // 添加阶梯红包
    addLadder() {
      if (this.form.redpageConfigss.length < 4) {
        this.form.redpageConfigss.push({})
      } else {
        this.isAddLadder = false
      }
    },
    // 删除阶梯红包
    deleteLadder(eq) {
      this.form.redpageConfigss.splice(eq, 1)
      if (this.form.redpageConfigss.length < 5) {
        this.isAddLadder = true
      }
    },
    // 提交表单
    sureCallback(formName) {
      this.validateForm(formName, 'review').then(() => {
        if (this.dialog.isEdit === 'add') {
          // if (this.shopIds.length === 0) {
          //   let addShopIds = []
          //   for (let i = 0; i < this.shopList.length; i++) {
          //     addShopIds.push(Number(this.shopList[i].id))
          //   }
          //   this.form.shopIds = addShopIds.join(',')
          // }
          this.addCallback()
        } else {
          this.editCallback()
        }
      })
    },
    // 新增
    addCallback() {
      v2marketPlatformApi.commentAdd(this.getFormParams()).then(res => {
        this.success('恭喜你，新增成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
    },
    // 编辑
    editCallback() {
      v2marketPlatformApi.commentEdit(this.getFormParams()).then(res => {
        this.success('恭喜你，编辑成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
    },
    // 预览
    previewCallback(formName) {
      this.validateForm(formName, 'review').then(async () => {
        const cacheKey = await v2marketPlatformApi.commentPreview(this.getFormParams())
        this.viewUrl = compatUrl(vmaH5ScrmAddEvaluateGood, {
          id: cacheKey,
          view: 1
        })
      })
    },
    getFormParams() {
      const params = Object.assign({}, this.form)
      params.shopIds = params.shopIdss.join(',')
      delete params.shopIdss
      return params
    }
  }
}
</script>
