<template>
  <div>
    <div class="ly-margin-center">
      <ul class="ly-box line-height-26">
        <li class="ly-box-1">
          <div class="ly-width-90px ly-inline-block ly-text-right">申请时间：</div>
          <div class="ly-inline-block">{{detailData.createTime | date('yyyy-MM-dd hh:mm:ss')}}</div>
        </li>
        <li class="ly-box-1">
          <div class="ly-width-90px ly-float-left ly-text-right">微信昵称：</div>
          <div class="ly-inline-block">
            <img class="ly-wh-30px  ly-float-left"
                 :src="detailData.headIcon | wechatAvtor"
                 v-image-view />
            <span class="ly-margin-left-10px ly-float-left">{{detailData.nickName}}</span></div>
        </li>
        <li class="ly-box-1">
          <div class="ly-width-90px ly-inline-block ly-text-right">审核状态：</div>
          <!-- 状态1待审核2已通过3已拒绝 -->
          <div v-if="detailData.status==1"
               class="ly-inline-block">待审核</div>
          <div v-else-if="detailData.status==2"
               class="ly-inline-block">已通过</div>
          <div v-else-if="detailData.status==3"
               class="ly-inline-block">已拒绝</div>
          <div v-else
               class="ly-inline-block">--</div>
        </li>
      </ul>
      <hr>
      <ul class="ly-padding-vertical-sm line-height-26">
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">订单号：</div>
          <div class="ly-inline-block">
            {{detailData.orderNbr}}&ensp;
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,'details',detailData.orderNbr)">订单详情</el-button>
          </div>
        </li>
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">下单时间：</div>
          <div class="ly-inline-block">{{detailData.orderTime | date}}</div>
        </li>
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">订单金额：</div>
          <div class="ly-inline-block ly-font-color-7">¥{{detailData.orderMoney}}元</div>
        </li>
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">手机号：</div>
          <div class="ly-inline-block">{{detailData.phone}}</div>
        </li>
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">评价状态：</div>
          <div v-if="detailData.sellerRateStatus==0"
               class="ly-inline-block">未评价</div>
          <div v-if="detailData.sellerRateStatus==1"
               class="ly-inline-block">好评</div>
          <div v-if="detailData.sellerRateStatus==2"
               class="ly-inline-block">中评</div>
          <div v-if="detailData.sellerRateStatus==3"
               class="ly-inline-block">差评</div>
        </li>
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">购物账号：</div>
          <div class="ly-inline-block">{{detailData.buyersAccount}}</div>
        </li>
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">下单店铺：</div>
          <div class="ly-inline-block">
            {{detailData.shopName}}
            <!-- 店铺类型 1淘宝2京东3拼多多 -->
            <el-button v-if="detailData.shopType==='1'"
                       class="ly-margin-left-10px"
                       type="success"
                       plain
                       size="small">淘宝</el-button>
            <el-button v-if="detailData.shopType==='2'"
                       class="ly-margin-left-10px"
                       type="success"
                       plain
                       size="small">京东</el-button>
            <el-button v-if="detailData.shopType==='3'"
                       class="ly-margin-left-10px"
                       type="success"
                       plain
                       size="small">拼多多</el-button>
          </div>
        </li>
      </ul>
      <hr>
      <ul class="ly-padding-vertical-sm line-height-26">
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right">红包金额：</div>
          <div class="ly-inline-block">¥{{detailData.moneyNum}}</div>
        </li>
        <li>
          <div class="ly-width-90px ly-inline-block ly-text-right ly-vertical-top">系统提示：</div>
          <div class="ly-inline-block">
            <ul>
              <li>
                <div v-for="(item,index) in detailData.failReason"
                     :key="index">
                  <p>{{item}}</p>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <hr>
    </div>
    <div slot="footer"
         class="dialog-footer"
         v-if="detailData.status===1 || detailData.status===3 && detailData.staffAccount">
      <el-button @click="openCallback($event,'refuse')">拒 绝</el-button>
      <el-button type="primary"
                 @click="sureCallback">通 过</el-button>
    </div>
    <!-- 弹窗 -->
    <el-dialog title="订单详情"
               class="ly-font-color-4"
               width="880px"
               append-to-body
               :visible.sync="detailsDialog.open">
      <orderDetails :dialog="detailsDialog"
                    v-if="detailsDialog.open"></orderDetails>
    </el-dialog>
    <el-dialog title="拒绝理由"
               class="ly-font-color-4"
               width="489px"
               append-to-body
               :visible.sync="refuseDialogSm.open">
      <applyRefuse :dialog="refuseDialogSm"
                   v-if="refuseDialogSm.open"
                   @refuseCallback="refuseCallback"></applyRefuse>
    </el-dialog>
  </div>
</template>

<script>
import { v2marketPlatformApi } from '@/api/system'
import orderDetails from '../../components/common/orderDetails'
import applyRefuse from '../../components/common/applyRefuse'

export default {
  props: ['dialog'],
  components: { orderDetails, applyRefuse },
  data() {
    return {
      detailData: {},
      detailsDialog: {
        open: false
      },
      refuseDialogSm: {
        open: false
      }
    }
  },
  created() {
    this.getDetails()
  },
  methods: {
    // 申请详情
    async getDetails() {
      let data = await v2marketPlatformApi.commentCheckId(this.dialog.id)
      if (data.failReason) {
        data.failReason = data.failReason.split('|')
        data.failReason.forEach((item, index) => {
          data.failReason[index] = (index + 1) + '.' + item
        })
      }
      this.detailData = data
      this.detailData.staffAccount = this.dialog.data.staffAccount
    },
    // 弹窗-打开
    openCallback(defObj, val, orderNbr) {
      switch (val) {
        case 'details':
          this.detailsDialog.open = true
          this.detailsDialog.id = orderNbr
          break
        case 'refuse':
          this.refuseDialogSm.open = true
          break
      }
    },
    // 弹窗-拒绝理由-提交
    refuseCallback(val) {
      this.refuseDialogSm.open = false
      this.$emit('refuseCallback', { checkRemark: val })
    },
    // 通过申请
    sureCallback() {
      this.$emit('adoptCallback')
    }
  }
}
</script>
