<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-button type="primary" size="small" @click="exportCallback">导出</el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="table.list" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="客服账号" prop="loginAccount">
          <template slot-scope="scope">
            <span>{{scope.row.loginAccount || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者姓名" prop="realName">
          <template slot-scope="scope">
            <span>{{scope.row.realName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="SIM卡号" prop="simPhone">
          <template slot-scope="scope">
            <span>{{scope.row.simPhone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门" prop="departName" />
        <el-table-column label="昨日在线时长" prop="yesterdayOnline" />
        <el-table-column label="30天在线时长" prop="monthOnline" />
        <el-table-column label="显示趋势">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="showDetail(scope.row)">30天趋势图</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog class="dialog-hide-footer dialog-lg" title="在线时长H" :visible.sync="detail.show" append-to-body>
      <mod-detail v-if="detail.show" :data="detail.entity" />
    </el-dialog>
  </div>
</template>

<script>
import { downloadFile } from '@/utils'
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import ModDetail from './detail'

export default {
  mixins: [indexMixin],
  components: {
    ModDetail
  },
  data () {
    return {
      params: {
      }
    }
  },
  methods: {
    // 好友响应时间统计导出
    exportCallback () {
      v3indexApi.equipmentOnlineExport(this.params).then((res) => {
        downloadFile(res, '微信-好友在线时长统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    list (current, size) {
      this.listStaff()
    },
    listStaff () {
      v3indexApi.equipmentOnline(Object.assign({}, this.params)).then(res => {
        this.table.list = res.data || []
      })
    },
    showDetail (entity) {
      this.detail.entity = {
        ...entity
      }
      this.detail.show = true
    }
  }
}
</script>
