<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import { deviceManageApi, commonApi } from '@/api/system'
import lazySelectMixin from './mixin'

export default {
  mixins: [lazySelectMixin],
  props: {
    parentId: {
      type: Array
    }
  },
  methods: {
    async getDataFn() {
      let arr = []
      let parentId = ''
      if (this.parentId.length) {
        // 默认全部
        parentId = this.parentId[this.parentId.length - 1]
        await deviceManageApi.equipmentGetDepartmentStaff(parentId).then((res) => {
          arr = (res || []).map(v => this.convertDataDisabled(v.id, v.staffName, v, v.status === 0))
        })
      } else {
        // 根据部门选择员工
        await commonApi.staffList().then((res) => {
          arr = (res || []).map(v => this.convertDataDisabled(v.id, v.staffName, v, v.status === 0))
        })
      }
      return arr
    }
  }
}
</script>
