<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
import { deviceManageApi, commonApi } from '@/api/system'
export default {
  mixins: [lazySelectMixin],
  props: {
    parentId: {
      type: Array
    }
  },
  data() {
    return {
      getDataFn: [],
      satffAll: [],
      staffObj: {}
    }
  },
  watch: {
    'parentId': function (val, oldVal) {
      if (val !== oldVal) {
        this.getData()
      }
    }
  },
  created() {
    this.getData()
  },
  methods: {
    initSelect() {
      if (this.$refs.lazySelect) {
        this.$refs.lazySelect.clear()
      }
    },
    async getData() {
      let arr = []
      if (this.parentId === '' || this.parentId === undefined || this.parentId.length === 0) {
        // 没有部门id
        if (this.satffAll.length) {
          arr = this.satffAll
        } else {
          // 初次请求
          await commonApi.staffList().then((res) => {
            arr = this.satffAll = res.map(v => this.convertDataDisabled(v.id, v.staffName, v, v.status === 0))
          })
        }
      } else {
        if (this.staffObj[this.parentId]) {
          arr = this.staffObj[this.parentId]
        } else {
          // 初次请求
          let parentId = ''
          if (this.parentId.length) {
            parentId = this.parentId[this.parentId.length - 1]
          }
          await deviceManageApi.equipmentGetDepartmentStaff(parentId).then((res) => {
            arr = this.staffObj[this.parentId] = res.map(v => this.convertDataDisabled(v.id, v.staffName, v, v.status === 0))
          })
        }
      }
      this.initSelect()
      this.getDataFn = arr
    }
  }
}
</script>
