<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
import { commonApi } from '@/api/system'
export default {
  mixins: [lazySelectMixin],
  methods: {
    getDataFn() {
      return commonApi.personNumFriendGroup().then(data => (data || []).map(v => this.convertData(v.id, v.name, v)))
    }
  }
}
</script>
