<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
export default {
  mixins: [lazySelectMixin],
  props: {
    optionsArr: {
      type: Array
    }
  },
  data() {
    return {
      getDataFn: []
    }
  },
  watch: {
    'optionsArr': {
      hanlder: function (val, oldVal) {
        if (val !== oldVal) {
          this.getData()
        }
      },
      deep: true
    }
  },
  created() {
    this.getData()
  },
  methods: {
    initSelect() {
      if (this.$refs.lazySelect) {
        this.$refs.lazySelect.clear()
      }
    },
    async getData() {
      this.initSelect()
      this.getDataFn = this.optionsArr || []
    }
  }
}
</script>
