<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
import { deviceManageApi } from '@/api/system'
export default {
  mixins: [lazySelectMixin],
  methods: {
    getDataFn() {
      return new Promise(resolve => {
        resolve(this.getDepartmentList())
      })
    },
    async getDepartmentList() {
      let arr = []
      await deviceManageApi.mManageGroupDepartGet().then((res) => {
        arr = this.paramArr(res)
      })
      let deparmentObj = this.paramObj(arr)
      this.$emit('getAllDepartment', deparmentObj)
      return arr
    },
    paramArr(paramData) {
      let arr = []
      let res = JSON.parse(JSON.stringify(paramData))
      for (let i = 0; i < res.length; i++) {
        let obj = {}
        obj.value = res[i].id
        obj.label = res[i].name
        if (res[i].parentId) {
          obj.parentId = res[i].parentId
        }
        if (res[i].children) {
          obj.children = this.paramArr(res[i].children)
        }
        arr.push(obj)
      }
      return arr
    },
    paramObj(val) {
      let department = JSON.parse(JSON.stringify(val))
      let departmentObj = {}
      for (let i = 0; i < department.length; i++) {
        if (department[i].children) {
          let key = department[i].value
          departmentObj[key] = department[i].children
        }
      }
      return departmentObj
    }
  }
}
</script>
