<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
import { personalNumManageApi } from '@/api/system'
export default {
  mixins: [lazySelectMixin],
  props: {
    staffId: {
      type: Number,
      default: function () {
        return null
      }
    }
  },
  methods: {
    getDataFn() {
      return new Promise(resolve => {
        resolve(this.getData())
      })
    },
    async getData() {
      let arr = []
      await personalNumManageApi.getFriendsGroup(this.staffId).then((res) => {
        res.forEach(o => {
          let obj = {}
          obj.value = o.id
          obj.label = o.name
          arr.push(obj)
        })
      })
      return arr
    }
  },
  created() {}
}
</script>
