<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import lazySelectMixin from './mixin'
import { v2riskManagementApi } from '@/api/system'
export default {
  mixins: [lazySelectMixin],
  methods: {
    getDataFn() {
      return v2riskManagementApi.wordList().then(data => (data || []).map(v => this.convertData(v.id, v.groupName, v)))
    }
  }
}
</script>
