<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
import { ecommercePlatformApi } from '@/api/system'
import lazySelectMixin from './mixin'
export default {
  mixins: [lazySelectMixin],
  methods: {
    getDataFn() {
      return new Promise(resolve => {
        resolve(this.getData())
      })
    },
    async getData() {
      var arr = []
      await ecommercePlatformApi.getStoreCategory().then((res) => {
        for (var i = 0; i < res.length; i++) {
          var item = res[i]
          arr[i] = {
            value: item
          }
        }
      })
      return arr
    }
  }
}
</script>
