<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.staff"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="员工账号/姓名"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="showNewGroupSendDialog=true">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="id"
                         label="ID"
                         width="150">
        </el-table-column>
        <el-table-column prop="staffName"
                         label="操作员工"
                         width="150">
        </el-table-column>
        <el-table-column label="发送时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="msgText"
                         label="短信内容">
        </el-table-column>
        <el-table-column label="总条数/成功条数"
                         width="150">
          <template slot-scope="scope">
            <span>{{scope.row.totalNum}}<span v-if="scope.row.totalNum">/</span>{{scope.row.successNum}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作"
                         width="100">
          <template slot-scope="scope">
            <el-button v-if="scope.row.totalNum"
                       type="text"
                       size="small"
                       @click="viewGroupSendClick(scope.row.id)">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 短信新增弹窗 -->
    <NewGroupSend v-if="showNewGroupSendDialog"
                  v-model="showNewGroupSendDialog"
                  @on-success='getTableList(1,params.size)'
                  @on-next='nextStep'></NewGroupSend>
    <!-- 短信查看弹窗 -->
    <ViewGroupSend v-model="showViewGroupSendDialog"
                   :currId='currId'></ViewGroupSend>
    <!-- 下一步 短信群发 -->
    <Send v-if="showSendDialog"
          v-model="showSendDialog"
          :phones='phones'></Send>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { NewGroupSend, ViewGroupSend } from '../components'
import Send from '../components/newGroupSend/send'

export default {
  mixins: [tableMixin],
  components: { NewGroupSend, ViewGroupSend, Send },
  data() {
    return {
      activeNames: ['1'],
      showNewGroupSendDialog: false,
      showViewGroupSendDialog: false,
      showSendDialog: false,
      currId: '',
      phones: []
    }
  },
  methods: {
    async requestTableList() {
      const data = await marketPlatformApi.getGroupSendList(this.params)
      this.tableData = data
    },
    // 查看
    viewGroupSendClick(id) {
      this.currId = id
      this.showViewGroupSendDialog = true
    },
    nextStep(list) {
      this.phones = list
      this.showNewGroupSendDialog = false
      this.showSendDialog = true
    }
  }
}
</script>
