<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-select v-model="params.status"
                     placeholder="状态"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="充值成功"
                       :value="2">
            </el-option>
            <el-option label="充值失败"
                       :value="1">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <span class="ly-font-color-7 ly-font-14 ly-margin-right-sm">剩余条数：{{msgTotalNum || 0}}条</span>
          <!-- <el-button type="primary"
                     size="small"
                     @click="showRechargeSmsDialog=true">充值</el-button> -->
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="msgNum"
                         label="充值条数">
        </el-table-column>
        <el-table-column prop="payMoney"
                         label="金额">
        </el-table-column>
        <el-table-column prop="payType"
                         label="支付方式">
          <template slot-scope="scope">
            <span v-if="scope.row.payType==1">微信</span>
          </template>
        </el-table-column>
        <el-table-column prop="logNbr"
                         label="交易流水号"
                         width="280">
        </el-table-column>
        <el-table-column prop="status"
                         label="状态">
          <!-- 充值状态 2 充值成功 1充值失败 -->
          <template slot-scope="scope">
            <span v-if="scope.row.status==2"
                  class="ly-font-color-5">充值成功</span>
            <span v-else
                  class="ly-font-color-7">充值失败</span>
          </template>
        </el-table-column>
        <el-table-column label="充值时间">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="remark"
                         label="充值说明">
          <template slot-scope="scope">
            <span>{{ scope.row.remark || '--'}}</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 充值短信弹窗 -->
    <RechargeSms v-if='showRechargeSmsDialog'
                 v-model="showRechargeSmsDialog"
                 @on-confirm='confirmRecharge'></RechargeSms>
    <!-- 扫码支付弹窗 -->
    <CodePay v-if="showCodePayDialog"
             v-model="showCodePayDialog"
             :codePayInfo='codePayInfo'></CodePay>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { RechargeSms, CodePay } from '../components'

export default {
  mixins: [tableMixin],
  components: { RechargeSms, CodePay },
  data() {
    return {
      activeNames: ['1'],
      tableData: {
        total: 0,
        records: []
      },
      msgTotalNum: 0,
      showRechargeSmsDialog: false,
      showCodePayDialog: false,
      codePayInfo: {} // 扫码支付二维码信息
    }
  },
  watch: {
    showCodePayDialog(val) { // 监听扫码支付，刷新表单
      if (!val) {
        this.getTableList(1, this.params.size)
      }
    }
  },
  methods: {
    async requestTableList() {
      const data = await marketPlatformApi.getSmsRechargeList(this.params)
      if (data.records.length > 0) {
        this.tableData.records = data.records[0].msgChargeLogs
        this.msgTotalNum = data.records[0].msgLeftNum
      }
      this.tableData.total = data.total
    },
    confirmRecharge(val) {
      this.codePayInfo = val
      this.showCodePayDialog = true
    }
  }
}
</script>
