<template>
  <div>
    <h3 class="ly-font-color-5 ly-font-16 ly-font-weight-normal">标题：{{this.noticeInfo.title}}</h3>
    <p class="ly-margin-top-12px ly-font-color-11">发布时间：{{fmt.date(this.noticeInfo.createTime)}}</p>
    <p class="ly-margin-top-12px ly-font-color-2">内容：</p>
    <div class="ly-margin-top-10px ly-font-color-4 line-height-30"
         v-html="$xss(noticeInfo.content)">
    </div>

  </div>
</template>

<script>
    import {
        noticeApi
    } from '@/api/system'
    import {
        mapMutations
    } from 'vuex'
    import * as mutationsType from '@/store/mutation-types'

    export default {
        props: {
            dataInfo: {
                type: [Number, String, Object, Array],
                default: null
            }
        },
        data() {
            return {
                noticeInfo: {}
            }
        },
        created() {
            this.getNoticeDetail()
        },
        methods: {
            ...mapMutations({
                updateNoticeTip: mutationsType.UPDATE_NOTICE_TIP
            }),
            getNoticeDetail() {
                noticeApi.getNoticeDetail(this.dataInfo.data.id).then((result) => {
                    this.noticeInfo = result
                    noticeApi.getNoticeNum().then(res => {
                        let noticeStatus = false
                        if (res > 0) {
                            noticeStatus = true
                        } else {
                            noticeStatus = false
                        }
                        this.updateNoticeTip(noticeStatus)
                    })
                })
            }
        }
    }
</script>
