<template>
  <div>
    <!--<el-dialog title="修改分组" :visible.sync="dialogProp.show" width="489px" @close="closeDialog">-->
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="单群人数设置:" prop="num" :label-width="formLabelWidth">
        <el-input-number v-model="params.num" controls-position="right" :min="10" :max="95" :precision="0"></el-input-number>
      </el-form-item>
      <el-form-item class="ly-margin-horizontal-sm">
        <p class="line-height-20">设置范围：（10~95）每个群的成员数达到设置上限，将自动切换到下一个群二维码</p>
        <p class="ly-font-color-7">备注：此设置不适用于群内有拉手的情况</p>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="confirmAdd">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      params: {
        num: 95
      },
      formLabelWidth: '186px',
      rules: {
        groupName: [
          { required: true, message: '请输入群活动名称' }
        ]
      }
    }
  },
  created() {
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    confirmAdd() {
      this.$emit('refreshNumber', this.params.num)
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.dialogProp.data) {
            // 修改
            // this.modifyGroup()
          } else {
            // 新增
            // this.addNewGroup()
          }
        } else {
          return false
        }
      })
    },
    // 新增
    async addNewGroup() {
      await personalNumManageApi.groupManageAdd(this.params)
      this.success('新增成功')
      this.closeDialog()
      this.$emit('refreshGetTableList')
    },
    // 修改
    async modifyGroup() {
      await personalNumManageApi.groupManageModify(this.params)
      this.success('修改成功')
      this.closeDialog()
      this.$emit('getTableList')
    }
  }
}
</script>
