<template>
  <div>
    <div>群活动二维码<span class="colortip"><span>未添加</span><span>群已满</span></span>，请前往群列表设置</div>
    <div class="ly-margin-top-20px ly-text-center">
      <img class="ly-wh-200-200px" src="http://h.hiphotos.baidu.com/image/pic/item/962bd40735fae6cd9456784901b30f2442a70f3c.jpg"/>
    </div>
    <div class="ly-margin-top-20px ly-text-center">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="turnToSet">前往设置</el-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {}
  },
  created() {
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    turnToSet() {
      this.$emit('addGroupCode', this.dialogProp)
      this.closeDialog()
    }
  }
}
</script>
