<template>
  <div>
    <!--群主-->
    <div class="ly-box ly-padding-bottom-xs ly-border-bottom-1">
      <div class="ly-wh-40px">
        <img class="ly-wh-40px" src="http://h.hiphotos.baidu.com/image/pic/item/962bd40735fae6cd9456784901b30f2442a70f3c.jpg"/>
      </div>
      <div class="ly-box-1 ly-margin-left-15px ly-position-relative">
        <p class="ly-vertical-middle">
          灰灰 drpn22<span class="ly-font-color-5">(5/4)</span>
        </p>
      </div>
    </div>
    <!--群成员-->
    <div class="ly-height-400px ly-margin-left-56px ly-margin-top-10px ly-over" style="overflow: auto;" ref="eleMember">
      <div ref="eleMemberBody">
        <div class="ly-padding-bottom-10px ly-box" v-for="item in tableData" :key="item.id">
          <div class="ly-wh-30px">
            <img class="ly-wh-30px" src="http://h.hiphotos.baidu.com/image/pic/item/962bd40735fae6cd9456784901b30f2442a70f3c.jpg"/>
          </div>
          <div class="ly-box-1 ly-margin-left-15px ly-position-relative">
            <p class="ly-vertical-middle">
              灰灰 drpn22{{item.name}}<span class="ly-font-color-12">(已退群)</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      tableData: [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]
    }
  },
  created() {
  },
  mounted() {
    this.scrollLoad()
  },
  methods: {
    /**
     * 获取微信好友列表
     */
    async requestTableList() {
      /*
       await personalNumManageApi.friendsListGetList(this.params).then((data) => {
       this.tableData = data
       })
       */
    },
    scrollLoad() {
      this.$nextTick(() => {
        let elem = this.$refs.eleMember
        let height = elem.clientHeight
        let bodyElem = this.$refs.eleMemberBody
        let that = this
        elem.addEventListener('scroll', function(event) {
          let bodyHeight = bodyElem.clientHeight
          let scrollTopVal = elem.scrollTop
          if (scrollTopVal + height === bodyHeight) {
            let newArr = [{}, {}, {}]
            that.tableData = that.tableData.concat(newArr)
          }
        })
      })
    }
  }
}
</script>
<style type="scss">
.ly-statistices-body .el-dialog__body{
  padding-top: 0;
}
</style>
