<template>
  <div>
    <!-- 文本 -->
    <!-- <div v-if="info.msgType == MSGTYPE[0]" v-html="parseHTML(info.resourceInfo)" class="ly-emoji-icons"></div> -->
    <!-- 图片 -->
    <div v-if="info.msgType == MSGTYPE[1]">
      <!-- 多张图 -->
      <template v-if="info.pictureList.length>1">
        <img v-for="(url,i) in info.pictureList" :key="`pictureList_${i}`" :src="url" class="ly-wh-40-30px ly-margin-right-xs" v-image-view>
      </template>
      <!-- 一张图 -->
      <img v-else :src="info.pictureList[0]" class="ly-wh-80-60px" v-image-view>
    </div>
    <!-- 音频 -->
    <!-- <div v-if="info.msgType == MSGTYPE[2]"
         class="audiolay">
      <span class="audioBtn"
            v-if="!visible.isPlay"
            @click="audioPlay">
        <i class="el-icon-caret-right"></i>
      </span>
      <span class="audioBtn"
            v-if="visible.isPlay"
            @click="audioPause">
        <i class="el-icon-caret-top"></i>
      </span>
      <span>{{visible.audioDuration | formatAudioDuration}}"</span>
      <audio class="audio"
             controls
             preload
             ref="audioRef"
             @durationchange="durationchange"
             id="audioId">
        <source :src="info.resourceInfo"
                type="audio/mpeg">
        您的浏览器不支持该音频格式。
      </audio>
    </div> -->
    <!-- 视频 -->
    <div class="ly-mask el-upload-list--picture-card ly-wh-80-60px ly-position-relative" v-if="info.msgType == MSGTYPE[3]">
      <img :src="info.coverInfo" class="ly-wh-80-60px">
      <span class="el-upload-list__item-actions">
        <i class="ico_play" @click="handleRemove('video',info.resourceInfo)"></i>
      </span>
    </div>
    <!-- dialog-图片 -->
    <el-dialog title="图片" v-if="info.msgType == MSGTYPE[1]" :visible.sync="visible.imageVisible" append-to-body>
      <img width="100%" :src="visible.imageUrl" alt="">
    </el-dialog>
    <!-- dialog-视频 -->
    <el-dialog title="视频" v-if="info.msgType == MSGTYPE[3]" :visible.sync="visible.videoVisible" append-to-body>
      <video :src="info.resourceInfo" class="ly-margin-center ly-width-max-100p" controls="controls">
        Your browser does not support the video tag.
      </video>
    </el-dialog>
  </div>
</template>

<script>
/**
* info格式：
 * resourceInfo: 'http://www.w3school.com.cn/i/movie.mp4',--文本，图片url,音频url,视频url
 * vedioImg/coverInfo: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L', --如果是视频额外添加背景图片
 * msgType: 4 --类型
*/
import { parseHTML } from '@/components/libs/wechatExpression'
export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      MSGTYPE: [1, 2, 3, 4],
      visible: {
        imageUrl: '',
        imageVisible: false,
        videoUrl: '',
        videoVisible: false,
        audioDuration: 0,
        isPlay: false
      }
    }
  },
  mounted () {

  },
  methods: {
    durationchange (val) {
      // 获取音频时长
      let duration = val.target.duration
      this.visible.audioDuration = duration
    },
    parseHTML,
    // 弹窗
    handleRemove (type, file) {
      switch (type) {
        case 'video':
          this.visible.videoUrl = file
          this.visible.videoVisible = true
          break
        case 'image':
          this.visible.imageUrl = file
          this.visible.imageVisible = true
          break
      }
    },
    // 播放
    audioPlay () {
      var audioObj = document.getElementById('audioId')
      this.visible.isPlay = true
      audioObj.play()
    },
    audioPause () {
      var audioObj = document.getElementById('audioId')
      this.visible.isPlay = false
      audioObj.pause()
      audioObj.currentTime = 0
    }
  }
}
</script>
