<template>
  <div>
    <!-- 筛选查询 -->
    <collapse :params="params"></collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="name"
                         label="标题">
        </el-table-column>
        <el-table-column prop="address"
                         label="发布时间">
        </el-table-column>
        <el-table-column prop="address"
                         label="读取状态">
          <template slot-scope="scope">
            <!-- <span class="ly-font-color-6"
                  v-if="scope.row">已读</span> -->
            <span class="ly-font-color-7"
                  v-if="scope.row">未读</span>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <vma-dialog v-model="vmaDialog.show"
                title="标题123123">
      <div>内容</div>
    </vma-dialog>
  </div>
</template>

<script>
import collapse from '@/pages/ui/components/collapseLay'

export default {
  components: {
    collapse
  },
  data() {
    return {
      activeNames: ['1'],
      params: {
        title: true,
        readState: true,
        date: true
      },
      tableData: [],
      vmaDialog: {
        show: false
      }
    }
  },
  created() {
    this.getTableList()
  },
  methods: {
    getTableList() {
      this.tableData = [
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          type: 2
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          type: 2
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          type: 2
        }
      ]
    },
    queryCallback() {
      console.log(this.params)
    }
  }
}
</script>
