<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFn"
               :options="mergedOptions"
               ref="lazySelect" />
</template>

<script>
    import lazySelectMixin from './mixin'
    import {
        customerServiceApi
    } from '@/api/chat'
    export default {
        mixins: [lazySelectMixin],
        methods: {
            getDataFn() {
                return customerServiceApi.getPersonalAccountListNew().then(data => {
                    data = this.initLabel(data)
                    return (data || []).map(v => this.convertData(v.id, v.label, v))
                })
            },
            initLabel(arr) {
                arr.forEach(item => {
                    item.label = item.nickName
                    item.value = item.id
                    if (item.onLine === 0 || item.onLine === 1) {
                        let v = item
                        item.label = (v.remark ? v.remark : v.nickName) + '(' + v.account + ')' + '[' + (v.onLine === 0 ? '离线' : (v.onLine === 1 ? '在线' : '离开')) + ']'
                    }
                    if (item.children && item.children.length) {
                        item.children = this.initLabel(item.children)
                    }
                })
                return arr
            }
        }
    }
</script>