.vue-contextmenu-listWrapper {
    // box-shadow: 2px 2px 2px #cccccc;
    // box-shadow: 0px 5px 5px 0px rgba(80, 104, 130, 0.05);
    border: 1px solid #B3B3B3;
    position: fixed;
    z-index: 9999;
    top: 300px;
    left: 120px;
    border-radius: 4px;
    overflow: hidden;
    font-size: 14px;
    background: #fff;
}

.vue-contextmenu-listWrapper .context-menu-list {
    height: 36px;
    text-decoration: none;
    list-style: none;
}

.vue-contextmenu-listWrapper .context-menu-list button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    outline: 0;
    border: 0;
    background: #fff;
    padding: 0 15px;
    color: #454545;
    text-align: center;
}

.vue-contextmenu-listWrapper .context-menu-list button span {
    // float: right;
}

.vue-contextmenu-listWrapper .context-menu-list button i {
    margin-right: 10px;
}

.vue-contextmenu-listWrapper .context-menu-list button:hover {
    color: $chat-contextmenu-color-hover;
    background: $chat-contextmenu-bgcolor-hover;
}