.recommended-goods {
	.select-bar {
		padding-top: rem(20px);
		padding-left: rem(20px);
		.select-btn {
			padding: rem(8px) rem(17px);
			font-size: rem(14px);
		}
		.select {
			width: rem(280px);
			margin-bottom: 0 !important;
			margin-right: rem(5px) !important;
		}
	}
	.search-bar {
		margin: rem(15px) rem(20px) 0 !important;
	}
	.goods-list {
		position: absolute;
		top: rem(110px);
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
		@extend %set-scrollbar;
		.goods-item {
			text-align: left;
			margin-left: rem(20px);
			margin-right: rem(15px);
			padding-top: rem(20px);
			padding-bottom: rem(20px);
			border-bottom: 1px solid #ddd;
			line-height: 1.2;
			.avator {
				width: rem(60px);
				height: rem(60px);
				margin-right: rem(20px);
			}
			.title {
				color: #454545;
				font-size: rem(14px);
				// height: rem(34px);
				@extend %ellipse-two-line;
			}
			.price {
				font-size: rem(12px);
				color: #FF786E;
				margin-top: rem(8px);
				.number {
					font-size: rem(16px);
				}
			}
			.recommend-btn {
				right: 0;
				bottom: 0;
				padding: rem(5px) rem(12px);
				border: 1px solid #B7E7D6;
				color: #44C89A;
				background: #EBF8F4;
				font-size: rem(12px);
			}
		}
	}
}