.shopping-orders {
	.order-list {
		height: 100%;
		overflow-y: auto;
		padding: 0 rem(15px);
		@extend %set-scrollbar;
		.mall-item {
			border-top: none;
			margin-top: rem(15px);
			.title-tag {
				color: #FF786E;
				font-size: rem(9px);
				padding: rem(2px) rem(4px);
				border-radius: rem(4px);
				border: 1px solid #FF786E;
				line-height: 1.2;
			}
			.el-collapse-item__header {
				height: 40px;
		    line-height: 40px;
		    font-size: rem(16px);
		    color: #3A4762;
		    background: #F1F4F6;
		    padding-left: rem(8px);
		    .el-badge {
		    	height: rem(40px);
		    	line-height: rem(40px);
		    }
			}
			.el-collapse-item__wrap {
				border-bottom: none;
			}
			.order-item {
				text-align: left;
				border-bottom: 1px solid #DDD;
				.order-header {
					color: #858585;
					font-size: rem(14px);
					margin: rem(15px) 0;
					.status {
						color: #B3B3B3;
						font-size: rem(12px);
					}
				}
				.order-body {
					line-height: 1.3;
					.avator {
						width: rem(60px);
						height: rem(60px);
						margin-right: rem(20px);
					}
					.name {
						color: #454545;
						font-size: rem(14px);
						@extend %ellipse-two-line;
					}
					.specifications {
						color: #B3B3B3;
						font-size: rem(12px);
						margin-top: rem(10px);
					}
					.price {
						right: 0;
						bottom: 0;
						font-size: rem(12px);
						.before-price {
							color: #858585;
						}
						.last-price {
							color: #FF786E;
							.number {
								font-size: rem(16px);
							}
						}
					}
				}
				.order-footer {
					margin: rem(12px) 0;
					color: #B3B3B3;
					.detail-btn {
						padding: rem(5px) rem(12px);
					}
				}
			}
			.bind-customer-info {
				.select-order-type {
					padding: rem(15px) 0;
					.el-radio__label {
						font-size: rem(14px);
					}
				}
				.el-form-item {
					margin-bottom: 0;
					.el-input__inner {
						height: rem(40px);
						line-height: rem(40px);
						font-size: rem(14px);
					}
				}
			}
		}
		.bind-btn {
			width: rem(180px);
			padding-top: rem(10px);
			padding-bottom: rem(10px);
			font-size: rem(14px);
			margin-left: 50%;
			transform: translateX(-50%);
			margin-top: rem(30px);
			.el-button--primary {
				background-color: #2897FF;
				border-color: #2897FF;
			}
		}
	}
}

.order-detail-dialog {
	.order-detail-header {
	  background: #F1F4F6;
	  color: #858585;
	  font-size: 0;
	  margin: 0 20px 20px;
	  li {
	    width: 25%;
	    display: inline-block;
	    font-size: 14px;
	    padding: 15px 0;
	  }
	  .header-content {
	    color: #3A4762;
	  }
	}
  .table-title-col {
  	width: 135px;
  }
}