<template>
  <el-form :model="dataInfo.data"
           ref="dataInfo"
           :rules="rules"
           label-width="100px">
    <el-form-item label="处理备注："
                  prop="remarks">
      <el-input v-model.trim="dataInfo.data.remarks"
                autocomplete="off"
                placeholder="处理备注"
                class="ly-width-280px-im"
                maxlength="36"
                size="small"></el-input>
    </el-form-item>
    <el-form-item label="正常/异常：">
      <el-checkbox v-model="dataInfo.data.checkedbox"
                   disabled>默认正常</el-checkbox>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dataInfo.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="validateCallback('dataInfo')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { riskManagementApi } from '@/api/system'

export default {
  props: {
    dataInfo: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      rules: {
        remarks: [
          { required: true, message: '请填写备注', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    validateCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.sureCallback()
        } else {
          return false
        }
      })
    },
    // 弹窗-确定
    sureCallback() {
      riskManagementApi.sensitiveListDeal({
        ids: this.dataInfo.data.ids,
        isNormal: +this.dataInfo.data.checkedbox,
        remark: this.dataInfo.data.remarks
      }).then(res => {
        this.$emit('getTableList')
        this.dataInfo.open = false
      })
    }
  }
}
</script>
