<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search" />
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="时间"
                         prop="totalChatTarget">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="事项"
                         prop="matter" />
        <el-table-column label="数量"
                         prop="totalFemale">
          <template slot-scope="scope">
            <span v-if="scope.row.num">{{scope.row.type===1?'+':'-'}}</span>
            <span>{{scope.row.num || 0}}</span>
          </template>
        </el-table-column>
        <el-table-column label="备注"
                         prop="remark" />
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
import { tableMixin } from '@/mixins'
import { pmsBusinessApi } from '@/api/pms'
import { omsBusinessApi } from '@/api/oms'
let businessApi = null

export default {
  mixins: [tableMixin],
  props: ['id', 'entry'],
  components: {
    search
  },
  data() {
    return {
      params: {
        enterpriseId: null
      }
    }
  },
  methods: {
    init() {
      if (this.entry === 'pms') {
        businessApi = pmsBusinessApi
      } else {
        businessApi = omsBusinessApi
      }
      this.params.enterpriseId = this.id
    },
    // 获取列表
    async requestTableList() {
      await this.init()
      await businessApi.enterListEuq(this.params).then(res => {
        this.tableData = res
      })
    },
    search(params) {
      this.params = {
        current: 1,
        size: 10,
        enterpriseId: this.id
      }
      this.params = Object.assign(params, this.params)
      this.getTableList(1)
    }
  }
}
</script>
