.icon-wechat-express {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1.5rem;
  height: 1.5rem;

  // 生成QQ表情样式
  @for $i from 1 through 127 {
    &.Expression_#{$i} {
      background-image: url('../images/expression/Expression_#{$i}.png')
    }
  }
}

.icon-wechat-emoji {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}
