<template>
  <el-container>
    <!-- 左侧 -->
    <el-aside width='300px'
              class='ly-bg-white ly-padding-horizontal-sm ly-padding-bottom-20px'>
      <div class='ly-position-relative ly-padding-vertical-sm'>
        <span class='ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle'>菜单目录</span>
      </div>
      <div class='ly-text-center'>
        <el-select v-model="currentMenu"
                   placeholder="请选择后台类型"
                   @change="getMenuList">
          <el-option v-for="item in menuTypeList"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </div>
    </el-aside>
    <!-- 数据列表 -->
    <el-main class="ly-bg-white ly-padding-sm ly-margin-left-sm ly-padding-bottom-20px">
      <el-button class="ly-margin-bottom-sm"
                 @click="openCallback('add')">新增</el-button>
      <el-button class="ly-margin-bottom-sm"
                 @click="openCallback">同步</el-button>
      <div v-for="(item,index) in list"
           :key="index">
        <p class="ly-padding-vertical-sm">{{item.title}}</p>
        <el-checkbox class="ly-margin-bottom-sm"
                     v-model="item.checkAll"
                     :true-label="1"
                     :false-label="0"
                     @change="handleCheckAllChange($event,index)">全选</el-checkbox>
        <div>
          <el-checkbox style="width:30%;"
                       v-for="(obj,eq) in item.data"
                       :true-label="1"
                       :false-label="0"
                       v-model="obj.status"
                       :key="obj.id"
                       @change="handlecheckedDataChange($event,index,eq)">
            {{obj.title}}
            <i class="el-icon-edit-outline ly-margin-left-xs"
               @click.stop="openCallback('edit',obj)"></i>
            <i class="el-icon-delete ly-margin-left-xs"
               @click.stop="deleteCallback(obj.id)"></i>
          </el-checkbox>
        </div>
      </div>
    </el-main>
    <el-dialog :title="title"
               width="489px"
               :visible.sync="dialog.open" append-to-body>
      <el-form ref="form"
               v-if="dialog.open"
               :model="dialog.data"
               label-width="120px">
        <el-form-item label="分组名称：">
          <el-select v-model="dialog.data.groupName"
                     placeholder="请选择分组">
            <el-option v-for="item in list"
                       :key="item.id"
                       :label="item.title"
                       :value="item.title">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="名称："
                      prop="title">
          <el-input autocomplete="off"
                    placeholder="请输入菜单名称"
                    class="ly-width-280px-im"
                    :maxlength="20"
                    v-model.trim="dialog.data.title"></el-input>
        </el-form-item>
        <el-form-item label="资源编码："
                      prop="code">
          <el-input autocomplete="off"
                    placeholder="请输入资源编码"
                    class="ly-width-280px-im"
                    :maxlength="20"
                    v-model.trim="dialog.data.code"></el-input>
        </el-form-item>
        <el-form-item label="序号："
                      prop="sort">
          <el-input autocomplete="off"
                    placeholder="请输入排序序号"
                    class="ly-width-280px-im"
                    :maxlength="20"
                    v-model.trim="dialog.data.sort"></el-input>
        </el-form-item>
        <el-form-item label="描述："
                      v-if="entry === 'data'">
          <el-input autocomplete="off"
                    placeholder="请输入描述"
                    class="ly-width-280px-im"
                    :maxlength="50"
                    v-model.trim="dialog.data.description"></el-input>
        </el-form-item>
        <el-form-item label="资源关联类型：">
          <el-select v-model="dialog.data.relateType"
                     placeholder="请选择分组">
            <el-option v-for="item in menuTypeList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="dialog.open = false">取 消</el-button>
          <el-button type="primary"
                     @click="sureCallback">确 定</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
    <el-dialog title="同步"
               width="489px"
               :visible.sync="dialogs.open" append-to-body>
      <el-form ref="form"
               :model="dialogs.data"
               label-width="120px">
        <el-form-item label="同步分组名称：">
          <el-select v-model="dialogs.data.relateType"
                     placeholder="请选择分组">
            <el-option v-for="item in menuTypeList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="dialogs.open = false">取 消</el-button>
          <el-button type="primary"
                     @click="sureCallback">确 定</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </el-container>
</template>

<script>
import { commonApi } from '@/api/common'

export default {
  props: ['entry', 'tableList', 'arr', 'label'],
  data() {
    return {
      menuTypeList: [
        {
          value: 'enterprise',
          label: '企业后台'
        }, {
          value: 'proxy',
          label: '代理商后台'
        }, {
          value: 'oem',
          label: '运营商后台'
        }, {
          value: 'super',
          label: '超级后台'
        }
      ],
      currentMenu: 'enterprise',
      list: [],
      title: '新增',
      dialog: {
        open: false,
        data: {}
      },
      dialogs: {
        open: false,
        data: {
          relateType: '',
          ids: []
        }
      }
    }
  },
  watch: {
    tableList: {
      handler() {
        this.dataHandler()
      },
      deep: true
    }
  },
  created() {
    this.dataHandler()
  },
  methods: {
    dataHandler() {
      this.arr.forEach((element, index) => {
        let item = {}
        item.title = element
        item.data = this.filterCallback(this.tableList, this.label, element)
        item.len = this.filterCallback(item.data, 'status', 1).length
        item.checkAll = item.len === item.data.length
        item.data.sort(this.sortCallback)
        this.$set(this.list, index, item)
      })
    },
    filterCallback(arr, key, val) {
      return arr.filter((ele) =>
        ele[key] === val
      )
    },
    sortCallback(item, items) {
      return item.sort - items.sort
    },
    getMenuList(val) {
      this.currentMenu = val
      this.$emit('getList', val)
    },
    handleCheckAllChange(val, index) {
      this.list[index].data.forEach((element) => {
        element.status = val ? 1 : 0
      })
      this.list[index].checkAll = val ? 1 : 0
    },
    handlecheckedDataChange(val, index) {
      let item = this.list[index]
      if (val) {
        item.len++
      } else {
        item.len--
      }
      this.checkAllCallback(index)
    },
    checkAllCallback(index) {
      if (this.list[index].data.length === this.list[index].len) {
        this.list[index].checkAll = 1
      } else {
        this.list[index].checkAll = 0
      }
    },
    openCallback(entry, obj) {
      this.dialog.isEdit = entry
      switch (entry) {
        case 'add':
          this.title = '新增'
          this.dialog.open = true
          break
        case 'edit':
          this.title = '编辑'
          this.dialog.data = obj
          this.dialog.open = true
          break
        default:
          this.dialogs.open = true
      }
    },
    sureCallback() {
      switch (this.dialog.isEdit) {
        case 'add':
          this.$emit('addCallback', { data: this.dialog.data, currentMenu: this.currentMenu })
          this.dialog.open = false
          break
        case 'edit':
          this.$emit('updateCallback', { data: this.dialog.data, currentMenu: this.currentMenu })
          this.dialog.open = false
          break
        default:
          this.dialogs.data.ids = []
          this.list.forEach((element) => {
            element.data.forEach((obj) => {
              if (obj.status) {
                this.dialogs.data.ids.push(obj.id)
              }
            })
          })
          this.synchronizationCallback()
      }
    },
    deleteCallback(id) {
      this.$confirm('是否确定删除?', '提示').then(() => {
        this.$emit('deleteCallback', { data: id, currentMenu: this.currentMenu })
      })
    },
    async synchronizationCallback() {
      await commonApi.synchronous(this.dialogs.data).then(res => {
        this.success('同步成功')
        this.dialogs.open = false
        this.$emit('getList', this.currentMenu)
      })
    }
  }
}
</script>
