<template>
  <div>
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-margin-vertical-3px">该功能仅支持单群各自开启配置，可在<b>【群管理-操作-群设置】</b>中进行开启和关闭，开启后，会自动推送问候信息给新加入群的好友。</div>
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     :disabled="hasAction?false:true"
                     @click="addOrModifyGreeting(1)">新增问候语</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData"
                row-key="id"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="回复类型"
                         min-width="120">
          <template slot-scope="scope">
            <span>{{ MESSAGE_TPYE[scope.row.msgType] }}</span>
          </template>
        </el-table-column>
        <el-table-column label="消息内容"
                         min-width="140">
          <template slot-scope="scope">
            <videoAudioImg :info="scope.row"></videoAudioImg>
          </template>
        </el-table-column>
        <el-table-column prop="name"
                         label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="addOrModifyGreeting(2, scope.$index, scope.row)">编辑</el-button>
            <el-button type="text"
                       class="ly-font-color-7"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="deleteGreeting(scope.$index, scope.row)">删除</el-button>
            <el-button type="text"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="sortChange(scope.$index, scope.row, SORTTYPE[0])"
                       v-if="scope.$index != 0">上移</el-button>
            <el-button type="text"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="sortChange(scope.$index, scope.row, SORTTYPE[1])"
                       v-if="scope.$index != (tableData.length-1)">下移</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!--新增/编辑问候语-->
    <el-dialog :title="greetingDialogInfo.type === 1 ? '新增问候语' : '编辑问候语'"
               :visible.sync="greetingDialogInfo.show"
               width="880px"
               v-if="greetingDialogInfo.show"
               @close="closeGreetingDialog" append-to-body>
      <greetingAdd :dialogProp="greetingDialogInfo"
                         @closeDialog="closeGreetingDialog"
                         @refresh="getGreetingrecords"></greetingAdd>
    </el-dialog>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import videoAudioImg from '@/components/common/videoAudioImg'
import { MESSAGE_TPYE, MESSAGE_TPYE_KEY } from '@/constants/messageType'
import {
  greetingAdd
} from './components/greetingGroup'
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin],
  components: { videoAudioImg, greetingAdd },
  data() {
    return {
      MESSAGE_TPYE: MESSAGE_TPYE,
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      SORTTYPE: [0, 1],
      tableData: [],
      params: {
        quickReplyGroupId: ''
      },
      greetingDialogInfo: {}
    }
  },
  created() {
    this.getGreetingrecords()
  },
  computed: {
    // 是否拥有权限
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.GROUP_GREETING)
    }
  },
  methods: {
    /**
     * 获取回复语列表
     */
    async getGreetingrecords() {
      await v2communityManage.getGreetingGroupRecord().then((data) => {
        data.forEach(o => {
          o.msgSource = o.msgText
          if (o.msgType === 4) {
            o.vedioImg = o.vedioImg
          }
        })
        this.tableData = data
      })
    },
    /**
     * 新增/编辑问候语
     */
    addOrModifyGreeting(type, index, data) {
      if (this.tableData.length >= 10 && type === 1) {
        this.$notify({
          title: '提示',
          message: '最多设置10条的问候语',
          type: 'warning'
        })
        return false
      }
      this.greetingDialogInfo = {
        show: true,
        data: data,
        type: type
      }
    },
    closeGreetingDialog() {
      this.greetingDialogInfo = {}
    },
    /**
     * 删除问候语
     */
    deleteGreeting(index, data) {
      this.$confirm('此操作将删除该问候语, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.confirmDel(data)
      }).catch(() => {
      })
    },
    async confirmDel(data) {
      await v2communityManage.delGreetingGroupRecord(data.id).then((res) => {
        this.success('删除成功!')
        this.getGreetingrecords()
      })
    },
    /**
     * 排序问候语
     */
    async sortChange(index, data, type) {
      let params = {
        id: data.id,
        type: type
      }
      await v2communityManage.sortGreetingGroupRecord(params).then((res) => {
        this.success('移动成功!')
        this.getGreetingrecords()
      })
    }
  }
}
</script>
