<template>
  <div>
    <!--数量统计-->
    <div class=" ly-padding-top-28px ly-padding-bottom-34px ly-bg-white ly-box ly-text-center">
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">{{staticsInfo.allActivityCount || 0}}</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总活动数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">{{staticsInfo.groupCount || 0}}</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总群数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">{{staticsInfo.allMemCount || 0}}</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总群员数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">{{staticsInfo.groupJoinCount || 0}}</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">总进群人数</p>
      </div>
      <div class="ly-box-1 ly-width-one-five ly-margin-rl-10px">
        <p class="ly-font-36 ell">{{staticsInfo.showNum || 0}}</p>
        <p class="ly-margin-top-12px ly-font-18 ly-font-color-10 ell">群码展示次数</p>
      </div>
    </div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-margin-top-20px ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="请输入活动主题/备注"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    v-model.trim="params.titleOrRemark"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     size="medium"
                     @click="resetCallback">重置
          </el-button>
          <el-button class="ly-float-right ly-margin-right-sm"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     :disabled="hasAction?false:true"
                     size="small" @click="addGroupActivity(1)">新建</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="活动主题"
                         min-width="120">
          <template slot-scope="scope">
            {{ scope.row.activityTitle || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="备注"
                         min-width="120">
          <template slot-scope="scope">
            <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.remark">{{ scope.row.remark || '--' }}</div>
          </template>
        </el-table-column>
        <el-table-column label="活动群码" min-width="120" align="center">
          <template slot-scope="scope">
            <div class="ly-inline-block ly-cursor-point"  @click="showCode(scope.row)">
              <Qrcode :url="scope.row.qrCode"
                      :key="scope.row.id"
                      :size='50'></Qrcode>
            </div>
            <div v-if="scope.row.ifAdd === 0">
              <p class="ly-font-color-13"><i class="el-icon-warning"></i>请添加群</p>
            </div>
            <div v-else>
              <p class="ly-font-color-13" v-if="scope.row.ifOverdue === 1"><i class="el-icon-warning"></i>群二维码已过期</p>
              <p class="ly-font-color-7" v-if="scope.row.ifFull === 1"><i class="el-icon-warning"></i>群已满</p>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="群码启用">
          <template slot-scope="scope">
            <el-switch :value="scope.row.status"
                       active-color="#13ce66"
                       :active-value='1'
                       :inactive-value='0'
                       :disabled="hasAction?false:true"
                       @change="changeStatus($event, scope.row)">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="人数设置" align="center">
          <template slot-scope="scope">
            <el-button type="text"
                       @click="setGroupNum(scope.$index, scope.row)"
                       :disabled="hasAction?false:true">{{ scope.row.userNum || '设置' }}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="总群数" align="center">
          <template slot-scope="scope">
            {{ scope.row.allNum || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="群成员数" align="center">
          <template slot-scope="scope">
            {{ scope.row.memberNum || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="总进群人数" align="center">
          <template slot-scope="scope">
            {{ scope.row.joinNum || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="群码展示次数" align="center">
          <template slot-scope="scope">
            <p class="ly-font-color-5"><el-button type="text" @click="showStatistices(scope.row, scope.$index)">{{ scope.row.showNum || 0 }}</el-button></p>
          </template>
        </el-table-column>
        <el-table-column label="创建员工">
          <template slot-scope="scope">
            {{ scope.row.groupName }}{{scope.row.loginAccount}}({{scope.row.realName}})
          </template>
        </el-table-column>
        <el-table-column label="创建时间" min-width="160" align="center">
          <template slot-scope="scope">
            {{ scope.row.createTime | date }}
          </template>
        </el-table-column>
        <el-table-column label="操作" min-width="120"  fixed="right">
          <template slot-scope="scope">
            <el-button type="text"
                       class="ly-margin-5px"
                       size="small"
                       :disabled="hasAction?false:true"
                       @click="addGroupActivity(2, scope.row)">编辑</el-button>
            <el-button class="ly-margin-5px"
                       type="text"
                       size="small" @click="showGroupList(scope.row, scope.$index)">群列表</el-button>
            <el-button class="ly-margin-5px"
                       type="text"
                       :disabled="hasAction?false:true"
                       size="small" @click="showPageSet(scope.row, scope.$index)">页面配置</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 新建--弹窗 -->
    <el-dialog :title="gActivityAddDialogInfo.type === 1 ? '新建活动' : '编辑活动'" :visible.sync="gActivityAddDialogInfo.show" width="489px" v-if="gActivityAddDialogInfo.show" append-to-body>
      <gActivityAdd :dialogProp="gActivityAddDialogInfo" @closeDialog="closeGActivityDialog" @getTableList="getTableListAndRefresh(true)"></gActivityAdd>
    </el-dialog>
    <!--二维码推广--弹窗-->
    <el-dialog title="二维码推广" :visible.sync="codeDialogInfo.show" :width="codeDialogInfo.width" v-if="codeDialogInfo.show" append-to-body>
      <!--正常展示二维码信息-->
      <DownloadCode v-if="codeDialogInfo.type === 1"
                    :dialog="codeDialogInfo"></DownloadCode>
      <!--新增二维码信息-->
      <gActivityAddCode v-if="codeDialogInfo.type === 2 || codeDialogInfo.type === 3"
                        :dialogProp="codeDialogInfo"
                        @closeDialog="closeCodeDialog"
                        @addGroupCode="addGroupCode"></gActivityAddCode>
    </el-dialog>
    <!-- 设置人数--弹窗 -->
    <el-dialog title="人数设置" :visible.sync="groupNumDialogInfo.show" width="489px" v-if="groupNumDialogInfo.show" append-to-body>
      <gActivitySetGroupNum :dialogProp="groupNumDialogInfo"
                            @closeDialog="closeSetGroupNumDialog"
                            @refreshNumber="getTableList"></gActivitySetGroupNum>
    </el-dialog>
    <!-- 群码展示次数--弹窗 -->
    <vma-dialog v-model="activityStatistices.show"
                @close="closeDialogStatistices"
                title="群活动统计"
                class="ly-statistices-body">
      <Statistics :dialog="activityStatistices"
                  @closeDialog="closeDialogGroupList"
                  v-if="activityStatistices.show"></Statistics>
    </vma-dialog>
    <!-- 群列表--弹窗 -->
    <vma-dialog v-model="dialogGroupList.show"
                @close="closeDialogGroupList"
                title="群列表">
      <gActivityGroupList :dialogProp="dialogGroupList"
                @closeDialog="closeDialogGroupList"
                v-if="dialogGroupList.show"></gActivityGroupList>
    </vma-dialog>
    <!-- 页面设置--弹窗 -->
    <vma-dialog v-model="dialogPageSet.show"
                title="页面配置">
      <gActivityConfig :dialog="dialogPageSet"
                        @closeDialog="closeConfigDialog"
                       @refreshList="getTableList"
                        v-if="dialogPageSet.show"></gActivityConfig>
    </vma-dialog>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { gActivityAdd, gActivityAddCode, gActivitySetGroupNum, gActivityGroupList, Statistics, gActivityConfig } from './components/groupActivity'
import Qrcode from '@/components/common/qrcodeCreate' // 生成二维码
import DownloadCode from '@/components/common/downloadCode.vue'
import { resourceMixin, tableMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin, tableMixin],
  components: {
    gActivityAdd,
    gActivityAddCode,
    DownloadCode,
    gActivitySetGroupNum,
    gActivityGroupList,
    Statistics,
    gActivityConfig,
    Qrcode
  },
  computed: {
    // 是否拥有删除个人号
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.GROUP_ACTIVITY)
    }
  },
  watch: {
    'dialogGroupList.show'(val) {
      if (!val) {
        this.getTableList()
      }
    }
  },
  data() {
    return {
      activeNames: ['1'],
      date: '',
      params: {
        titleOrRemark: ''
      },
      staticsInfo: {},
      tableData: {},
      switchBoolean: false,
      codeDialogWidth: '378px',
      gActivityAddDialogInfo: {},
      codeDialogInfo: {},
      groupNumDialogInfo: {},
      dialogGroupList: {
        show: false
      },
      dialogPageSet: {
        show: false
      },
      activityStatistices: {
        show: false
      }
    }
  },
  created() {
    this.getListStatics()
  },
  methods: {
    /**
     * 刷新并重新获取列表顶部数量
     */
    getTableListAndRefresh(type) {
      if (type) {
        this.resetCallback()
      }
      this.getListStatics()
    },
    /**
     * 获取--活动列表
     */
    async requestTableList() {
      await v2communityManage.getGActivityRecord(this.params).then((data) => {
        this.tableData = data
      })
    },
    /**
     * 获取--统计数据
     */
    async getListStatics() {
      await v2communityManage.getGActivityStatics(this.params).then((data) => {
        this.staticsInfo = data
      })
    },
    /**
     * 群码启用--toggle
     */
    async changeStatus(event, data) {
      let message = data.status ? '群码禁用' : '群码启用'
      this.$confirm(message, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.toggleStatus(data)
      }).catch(() => {
      })
    },
    async toggleStatus(data) {
      let type = data.status ? 0 : 1
      let params = {
        id: data.id,
        type: type
      }
      await v2communityManage.toggleStatusGActivity(params).then((data) => {
        this.$notify({
          title: '成功',
          message: '操作成功',
          type: 'success'
        })
        this.getTableList()
      })
    },
    /**
     * 群码--新增/编辑--弹窗--show
     */
    addGroupActivity(type, data) {
      this.gActivityAddDialogInfo = {
        type: type,
        show: true,
        data: data
      }
    },
    /**
     * 群码--新增/编辑--弹窗--hide
     */
    closeGActivityDialog() {
      this.gActivityAddDialogInfo = {}
    },
    /**
     * 群码--二维码--弹窗--show
     */
    showCode(data) {
      let type
      if (data.ifFull === 1 || data.ifAdd === 0 || data.ifOverdue === 1) {
        type = 2
      } else {
        type = 1
      }
      let width = type === 1 ? '620px' : '378px'
      this.codeDialogInfo = {
        show: true,
        width: width,
        url: data.qrCode,
        data: data,
        type: type // 1--正常，2、3--已满或未设置
      }
    },
    /**
     * 群码--二维码--弹窗--hide
     */
    closeCodeDialog() {
      this.codeDialogInfo = {}
    },
    /**
     * 群码--二维码--弹窗--添加
     */
    addGroupCode(data) {
      this.dialogGroupList = {
        show: true,
        data: data.data
      }
    },
    /**
     * 人数设置--弹窗--添加
     */
    setGroupNum(index, data) {
      this.groupNumDialogInfo = {
        show: true,
        data: data,
        index: index
      }
    },
    /**
     * 人数设置--弹窗--关闭
     */
    closeSetGroupNumDialog() {
      this.groupNumDialogInfo = {}
    },
    /**
     * 群码展示次数统计--show
     */
    showStatistices(data) {
      this.activityStatistices = {
        show: true,
        title: '群活动名称',
        data: data,
        type: 'groupActivity'
      }
    },
    /**
     * 群码展示次数统计--hide
     */
    closeDialogStatistices() {
      this.activityStatistices = {
        show: false
      }
    },
    /**
     * 群列表--展示
     */
    showGroupList(data) {
      this.dialogGroupList = {
        show: true,
        data: data
      }
    },
    closeDialogGroupList() {
      this.dialogGroupList = {
        show: true
      }
    },
    /**
     * 页面设置--展示
     */
    showPageSet(data) {
      this.dialogPageSet = {
        show: true,
        data: data
      }
    },
    /**
     * 页面设置--hide
     */
    closeConfigDialog() {
      this.dialogPageSet = {}
    }
  }
}
</script>
