<template>
  <div>
    <div class="ly-bg-white ly-padding-sm">
      <ul class="ly-page-menu">
        <li class="ly-page-menu-item"
            :class="current===1?'active':''"
            @click="radioCallback(1)">
          群统计
        </li>
        <li class="ly-page-menu-item"
            :class="current===2?'active':''"
            @click="radioCallback(2)">
          群分布
        </li>
      </ul>
    </div>
    <statistics v-if="current === 1"></statistics>
    <distribution v-else></distribution>
  </div>
</template>

<script>
import distribution from './distribution/index'
import statistics from './statistics/index'
export default {
  components: {
    distribution,
    statistics
  },
  data() {
    return {
      current: 1 // 1--群统计 2--群分布
    }
  },
  created() {
  },
  methods: {
    radioCallback(val) {
      this.current = val
    }
  }
}
</script>
