<template>
    <div class="system-home-column ly-box-1">
      <div class="ly-inline-block ly-text-left">
        <div class="ly-line-height-1">
          <span class="system-home-column-title">昨日朋友圈发布</span>
          <el-popover placement="top"
                      popper-class="tip-blue"
                      trigger="hover">
            昨日朋友圈发布总数为昨日在微控后台进行发布并且成功的朋友圈数量，在客户端发布的朋友圈不计算在内
            <el-button slot="reference"
                        type="text">
              <i class="el-icon-question ly-font-color-5"></i>
            </el-button>
          </el-popover>
        </div>
        <div class="system-home-column-number">{{data.yesterdayCiclePublishTotal || 0}}</div>
        <div v-if="data.isIncrease==1" class="ly-font-color-7 ly-font-14 ly-line-height-1">较前一天<i class="el-icon-caret-top ly-margin-left-10px"></i>{{data.yesterdayDiff || 0}}</div>
        <div v-if="data.isIncrease==-1" class="ly-font-color-6 ly-font-14 ly-line-height-1">较前一天<i class="el-icon-caret-bottom ly-margin-left-10px"></i>{{data.yesterdayDiff || 0}}</div>
        <div v-if="data.isIncrease==0" class="ly-font-color-13 ly-font-14 ly-line-height-1">较前一天<span class="ly-margin-left-10px">{{data.yesterdayDiff || 0}}</span></div>
      </div>
    </div>
</template>
<script>
import mixin from './mixin.js'
export default {
  mixins: [mixin]
}
</script>
