<template>
  <div class="shopping-orders">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">购物订单</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content">
        <div class="order-list" v-if="activeChatFriendInfo.type === SESSION_TYPE.C2C">
          <tbOrders :data="tbData" @open-order-detail="showOrderDetail"></tbOrders>
          <jdOrders :data="jdData" @open-order-detail="showOrderDetail"></jdOrders>
          <pddOrders :data="pddData" @open-order-detail="showOrderDetail"></pddOrders>
        </div>
      </div>
    </div>
    <orderDetail v-if="orderDetailDialog.show" :data="orderDetailDialog.data" @on-close="closeOrderDetail"></orderDetail>
  </div>
</template>

<script>
import orderDetail from './components/orderDetail'
import {customerOrderApi} from '@/api/chat'
import { mapGetters } from 'vuex'
import mallOrders from './components/mallOrders'
import Logger from '@/utils/logger'
import { SESSION_TYPE } from '@/constants/chat'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'

export default {
  mixins: [requestIdMixins],
  components: {
    orderDetail,
    tbOrders: mallOrders,
    jdOrders: mallOrders,
    pddOrders: mallOrders
  },
  data() {
    return {
      SESSION_TYPE,
      tbData: {},
      jdData: {},
      pddData: {},
      activeTb: '1',
      activePdd: '1',
      activeJd: '1',
      orderDetailDialog: {
        show: false,
        data: {
          id: null
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'activeChatFriendInfo'
    ])
  },
  watch: {
    activeChatFriendInfo(val) {
      if (!val || (val && !val.id)) return
      this.afterEntity()
    }
  },
  created() {
    this.afterEntity()
  },
  methods: {
    afterEntity() {
      if (this.activeChatFriendInfo.type === SESSION_TYPE.GROUP) return
      // 获取绑定状态
      let requestID = this.getChatRequestID()
      customerOrderApi.getWechatUserBindingStatus(this.activeChatFriendInfo.id).then(resp => {
        if (requestID !== this.getChatRequestID()) return
        Logger.info('绑定状态', resp)
        this.tbData = {
          bindStatus: resp.taobaoBinding,
          accountNo: resp.taobaoNo,
          type: resp.taobaoType,
          title: '淘宝/天猫',
          mallType: 1
        }
        this.jdData = {
          bindStatus: resp.jingdongBinding,
          accountNo: resp.jingdongNo,
          type: resp.jingdongType,
          title: '京东',
          mallType: 2
        }
        this.pddData = {
          bindStatus: resp.pinduoduoBinding,
          accountNo: resp.pinduoduoNo,
          type: resp.pinduoduoType,
          title: '拼多多',
          mallType: 3
        }
      })
    },
    /**
     * 显示绑定菜单
     * @return {[type]} [description]
     */
    // showBindTbForm() {
    //   this.$set(this.showBindFormMap, 'tb', true)
    // },
    /**
     * 确认绑定
     * @return {[type]} [description]
     */
    // sureBindTb() {
    //   // this.$refs.tbBindForm.validate()
    //   this.$set(this.showBindFormMap, 'tb', false)
    // },
    /**
     * 获取列表数据
     * @param  {Number} page [description]
     * @param  {Number} size [description]
     * @return {[type]}      [description]
     */
    // getTbTableList(page = 1, size = 10) {},
    // getJdTableList(page = 1, size = 10) {},
    // getPddTableList(page = 1, size = 10) {},
    /**
     * 订单详情
     * @return {[type]} [description]
     */
    showOrderDetail(id) {
      this.orderDetailDialog = {
        show: true,
        data: {
          id: id
        }
      }
    },
    closeOrderDetail() {
      this.orderDetailDialog = {
        show: false,
        data: {}
      }
    },
    closePage() {
      this.$emit('close-nav-page')
    }
  }
}
</script>
