<template>
    
        <el-cascader
        v-model="singleId"
        placeholder="请选择个人号"
        class="moreSelect"
        :options="singleArr"
        :props="{ multiple: true, checkStrictly: true, label: 'nickName', value: 'id'}"
        @change='change()'
        clearable
        collapse-tags></el-cascader>
   
</template>

<script>
    export default {
        props: {
            singleArr: {
                type: Array,
                default () {
                    return []
                }
            }
        },
        data() {
            return {
                options: [],
                singleId: []
            }
        },
        created() {
        },
        methods: {
            change(val) {
                // console.log(this.singleId)
                let arr = []
                for (let i in this.singleId) {
                    if (this.singleId[i].length > 1) {
                        arr.push(this.singleId[i][1])
                    } else {
                        // console.log(this.singleId[0])
                    }
                }
                this.$emit('singleIdArr', arr)
            }
        },
    }
</script>
<style scoped>
    .moreSelect {
        line-height: 20px;
    }
</style>