<template>
  <!-- 通讯录 -->
  <div>
    <!-- 右击弹窗 -->
    <contextmenu
      :data="contextmenu.data"
      v-model="contextmenu.show"
      @click-contextmenu="clickContextmenu"
    ></contextmenu>
    <!--mescroll滚动区域的基本结构-->
    <mescroll-vue ref="mescroll" :up="mescroll.mescrollUp" @init="mescrollInit" :isLock='true'>
      <ul id="contacts-list" ref="contactList">
        <template v-for="(item, index) in list">
          <group-item
            :key="item.id"
            :data="item"
            :index="index"
            :query-data="params"
            :account-map="accountMap"
            @show-cntextmenu="showContextmenu"
            @clear-active="clearActiveGroupItem"
            v-show="!(hideEmptyStatus && item.count === 0)"
            :ref="'groupItem' + item.groupType + 'id' + item.id"
          ></group-item>
        </template>
      </ul>
    </mescroll-vue>
    <!-- 设置备注 -->
    <remarkDialog
      v-if="remarkDialog.show"
      :data="remarkDialog.data"
      @on-close="onRemarkDialogClose"
      @on-sucess="onSetRemarkSucess"
    ></remarkDialog>
    <!-- 移动分组 -->
    <moveFriendGroupDialog
      v-if="moveToGroupDialog.show"
      :data="moveToGroupDialog.data"
      @on-close="onMoveToGroupDialogClose"
      @on-sucess="onMoveToGroupSucess"
    ></moveFriendGroupDialog>
    <!-- 设置待办 -->
    <setTodoDialog
      v-if="setTodoDialog.show"
      :data="setTodoDialog.data"
      @on-close="onSetTodoDialogClose"
      @on-sucess="onSetTodoSucess"
    ></setTodoDialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { v2CustomerServiceApi } from '@/api/chat'
import setRemark from './components/setRemark'
import moveFriendGroup from './components/moveFriendGroup'
// 引入设置待办
import setTodo from './components/setTodo'
import contextmenu from '@/components/packages/chat/home/contextmenu'
import MescrollVue from 'mescroll.js/mescroll'
import chatFooterSwitchsMxins from '@/pages/chat/home/src/chatFooterSwitchsMxins'
import { FOOTER_SWITCHS, SESSION_TYPE } from '@/constants/chat'
import Logger from '@/utils/logger'
import requestIdMixins from '@/pages/chat/home/src/requestIdMixins'
import groupItem from './contacts/groupItem'
import { removeClass,  userAgent } from '@/utils'

export default {
  props: {
    data: {
      type: Object
    },
    accountMap: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  mixins: [chatFooterSwitchsMxins, requestIdMixins],
  components: {
    MescrollVue,
    contextmenu,
    remarkDialog: setRemark,
    moveFriendGroupDialog: moveFriendGroup,
    // 设置待办
    setTodoDialog: setTodo,
    groupItem
  },
  data() {
    const that = this
    return {
      isIeBrowser: false,
      FOOTER_SWITCHS,
      remarkDialog: {
        show: false,
        data: null
      },
      moveToGroupDialog: {
        show: false,
        data: null
      },
      // 设置待办
      setTodoDialog: {
        show: false,
        data: null
      },
      params: {
        // 个人号id
        wechatAccountId: null,
        // 备注/昵称/标签
        relatesInformation: null
      },
      list: [],
      mescroll: {
        // https://github.com/mescroll/mescroll
        // mescroll实例对象
        instance: null,
        // 上拉加载的配置.
        mescrollUp: {
          // 上拉回调,此处可简写; 相当于 callback: function (page, mescroll) { getListData(page); }
          callback: that.upCallback,
          // 以下是一些常用的配置,当然不写也可以的.
          page: {
            // 当前页 默认0,回调之前会加1; 即callback(page)会从1开始
            num: 0,
            // 每页数据条数,默认10
            size: 1000
          },
          htmlNodata: '',
          // 如果列表已无数据,可设置列表总数大于5才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
          noMoreSize: 5,
          toTop: {
            // 回到顶部按钮
            // src: "./static/mescroll/mescroll-totop.png", // 图片路径,默认null,支持网络图
            // 列表滚动1000px才显示回到顶部按钮
            offset: 1000
          },
          empty: {
            // 列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
            // 父布局的id (1.3.5版本支持传入dom元素)
            warpId: 'contacts-list',
            // icon: './static/mescroll/mescroll-empty.png', // 图标,默认null,支持网络图
            // 提示
            tip: '暂无相关数据~'
          }
        }
      },
      // 右击菜单
      contextmenu: {
        show: false,
        data: null
      }
    }
  },
  computed: {
    ...mapGetters(['activeChatAccountInfo']),
    // 隐藏空分组
    hideEmptyStatus() {
      return this.getChatFooterSwitchsStatus(FOOTER_SWITCHS.HIDE_EMPTY_GROUP)
    },
    // 集中对话
    concentratedDialogue() {
      return this.getChatFooterSwitchsStatus(
        FOOTER_SWITCHS.CONCENTRATED_DIALOGUE
      )
    }
  },
  watch: {
    activeChatAccountInfo() {
      !this.concentratedDialogue && this.changeParamsType()
    },
    concentratedDialogue(value) {
      this.onChangeConcentratedDialogueStatu()
    }
  },
  methods: {
    resSetTable() {
      this.params = {
        wechatAccountId: this.concentratedDialogue
          ? null
          : this.activeChatAccountInfo.id,
        relatesInformation: this.data.name
      }
      this.list = []
    },
    changeParamsType(type) {
      this.resetUpScroll()
    },
    // 集中对话
    onChangeConcentratedDialogueStatu() {
      Logger.info('集中对话')
      // 获取所有个人号的联系人分组/列表
      this.changeParamsType()
    },
    // mescroll组件初始化的回调,可获取到mescroll对象 (如果this.mescroll并没有使用到,可不用写mescrollInit)
    mescrollInit(mescroll) {
      if (userAgent() === 'IE') {
        this.isIeBrowser = true
      }
      this.mescroll.instance = mescroll
      // TODO IE下锁住下拉刷新，插件BUG
      if (this.isIeBrowser) this.mescroll.instance.lockDownScroll(true)
    },
    // 上拉回调 page = {num:1, size:10}; num:当前页 ,默认从1开始; size:每页数据条数,默认10
    upCallback(page, mescroll) {
      if (page.num === 1) {
        // 下拉刷新时清空数据
        this.resSetTable()
      }
      this.execContacts()
    },
    // 重置滚动条组件刷新
    resetUpScroll() {
      this.resSetTable()
      if (this.mescroll.instance) {
        this.mescroll.instance.endDownScroll()
        this.mescroll.instance.hideUpScroll()
        this.mescroll.instance.removeEmpty()
        this.mescroll.instance.resetUpScroll(true)
      }
    },
    /**
     * 通过关键字搜索
     */
    searchFriendByKeyName() {
      this.changeParamsType()
    },
    async execContacts() {
      let activeAccountId = this.activeChatAccountInfo.id
      let activeAccountType = this.activeChatAccountInfo.type
      let params = Object.assign({}, this.params)
      let requestID = this.getChatRequestID()
      let status = this.concentratedDialogue
      this.getList(params).then(
        page => {
          // Logger.info("好友分组列表", page);
          if (
            requestID &&
            !(
              requestID === this.getChatRequestID() &&
              status === this.concentratedDialogue
            )
          ) {
            return
          }
          if (
            !(
              activeAccountId === this.activeChatAccountInfo.id &&
              activeAccountType === this.activeChatAccountInfo.type
            )
          ) {
            return
          }
          this.list = page
          this.mescroll.instance.endSuccess(page.length)
        },
        () => {
          if (
            !(
              activeAccountId === this.activeChatAccountInfo.id &&
              activeAccountType === this.activeChatAccountInfo.type
            )
          ) {
            return
          }
          this.mescroll.instance.endSuccess(0)
        }
      )
    },
    /**
     * 获取列表
     */
    async getList(params) {
      return v2CustomerServiceApi.getPersonalAccountCustomerList(params)
    },
    /**
     * 收到一条转接好友进来的消息
     */
    onReceivedTransferFriend(serverMsgData) {
      let type = serverMsgData.notice.friendType
      let friendData = {
        areaName: serverMsgData.notice.friendAreaName,
        content: serverMsgData.notice.content,
        id: serverMsgData.notice.friendId,
        headIcon: serverMsgData.notice.friendHeadIcon,
        name: serverMsgData.notice.friendNickName,
        remark: serverMsgData.notice.friendRemark,
        createTime: serverMsgData.notice.createTime,
        wechatAccountId: serverMsgData.notice.accountId,
        wxId: serverMsgData.notice.friendWxId,
        type,
        // 1正常0删除
        status: serverMsgData.notice.friendStatus
      }
      // 待新增，集中对话时，补充对应个人号信息
      if (this.concentratedDialogue) {
        friendData.wechatAccountId = serverMsgData.notice.accountId
      }
      this.addNewFriend(friendData, type)
    },
    /**
     * 新加一条好友
     */
    addNewFriend(data, type, fWxId) {
      this.list.find((val, index) => {
        if (
          (val.groupType === SESSION_TYPE.C2C &&
            type === SESSION_TYPE.C2C &&
            val.id === 0) ||
          (val.groupType === SESSION_TYPE.GROUP &&
            type === SESSION_TYPE.GROUP &&
            val.id === -1)
        ) {
          this.$set(this.list[index], 'count', this.list[index].count + 1)
          // this.list[index].details.unshift(data)
          this.getRefGroupItem(val.id, val.groupType).addNewFriend(data)
          return true
        }
      })
    },
    // 获取好友列表组件
    getRefGroupItem(id, groupType) {
      return this.$refs['groupItem' + groupType + 'id' + id][0]
    },
    /**
     * 右击菜单
     */
    showContextmenu(groupInfo, groupIndex, item, e) {
      let contextmenuData = {
        axios: {
          x: null,
          y: null
        },
        menuList: [
          {
            btnName: '修改备注',
            fnHandler: 'setRemark',
            data: {
              id: item.id,
              remark: item.remark,
              type: item.type,
              groupId: groupInfo.id,
              groupType: groupInfo.groupType,
              groupIndex,
              wechatAccountId: item.wechatAccountId,
              wxId: item.wxId
            }
          },
          {
            btnName: '移动分组',
            fnHandler: 'moveToGroup',
            data: {
              id: item.id,
              type: item.type,
              nickName: item.name,
              groupId: groupInfo.id,
              groupType: groupInfo.groupType,
              groupIndex,
              wechatAccountId: item.wechatAccountId,
              wxId: item.wxId
            }
          },
          // 联系人右击 菜单（设置待办）
          {
            btnName: '设置待办',
            fnHandler: 'setTodo',
            data: {
              id: item.id,
              // remark: item.remark,
              type: item.type,
              // groupId: groupInfo.id,
              // groupType: groupInfo.groupType,
              // groupIndex,
              wechatAccountId: item.wechatAccountId,
              wxId: item.wxId
            }
          }
        ]
      }
      if (groupIndex <= 2 || groupIndex < this.list.length - 2) {
        contextmenuData.axios = {
          x: e.clientX,
          y: e.clientY
        }
      } else {
        contextmenuData.axios.y =
          e.clientY - contextmenuData.menuList.length * 36
      }
      this.contextmenu = {
        show: true,
        data: contextmenuData
      }
    },
    /**
     * 点击右击菜单
     */
    clickContextmenu(index, menuData) {
      if (menuData.fnHandler === 'setRemark') {
        // 打开弹窗
        this.remarkDialog = {
          show: true,
          data: menuData.data
        }
      } else if (menuData.fnHandler === 'setTodo') {
        // 设置待办
        this.setTodoDialog = {
          show: true,
          data: menuData.data
        }
        // 移动分组
      } else {
        this.moveToGroupDialog = {
          show: true,
          data: menuData.data
        }
      }
      this.contextmenu = {
        show: false,
        data: null
      }
    },
    // 关闭备注弹窗
    onRemarkDialogClose() {
      this.remarkDialog = {
        show: false,
        data: null
      }
    },
    // 弹窗设置备注成功
    onSetRemarkSucess(friendData) {
      // 修改缓存中好友信息
      this.chatUserInfoDB.refreshRemark(
        friendData.wechatAccountId,
        friendData.wxId,
        friendData.remark
      )
      this.list.find((val, idx) => {
        if (
          val.id === friendData.groupId &&
          val.groupType === friendData.groupType
        ) {
          this.getRefGroupItem(val.id, val.groupType).onSetRemarkSucess(
            friendData.wechatAccountId,
            friendData.type,
            friendData.id,
            friendData.remark
          )
          return true
        }
      })
    },
    // 关闭移动分组
    onMoveToGroupDialogClose() {
      this.moveToGroupDialog = {
        show: false,
        data: null
      }
    },
    // 移动分组成功
    onMoveToGroupSucess(friendData, toGroupId, groupType) {
      // 当前分组
      let nowGroup, toGroupIndex
      this.list.some((val, idx) => {
        if (
          !nowGroup &&
          val.id === friendData.groupId &&
          val.groupType === friendData.groupType
        ) {
          nowGroup = val
        }
        if (
          !toGroupIndex &&
          val.id === toGroupId &&
          val.groupType === groupType
        ) {
          toGroupIndex = idx
        }
        if (!!toGroupIndex && nowGroup) {
          return true
        }
      })
      // 删除
      this.$set(
        this.list[friendData.groupIndex],
        'count',
        this.list[friendData.groupIndex].count - 1
      )
      let tempData = this.getRefGroupItem(
        nowGroup.id,
        nowGroup.groupType
      ).searchFriendAndDel(
        friendData.wechatAccountId,
        friendData.type,
        friendData.id,
        true
      )
      // 添加到另一个分组
      this.$set(
        this.list[toGroupIndex],
        'count',
        this.list[toGroupIndex].count + 1
      )
      this.getRefGroupItem(
        this.list[toGroupIndex].id,
        this.list[toGroupIndex].groupType
      ).addNewFriend(tempData)
    },
    // 关闭设置待办
    onSetTodoDialogClose() {
      this.setTodoDialog = {
        show: false,
        data: null
      }
    },
    // 设置待办成功
    onSetTodoSucess() {},
    // 更改资料后的改备注
    setNewRemark(remark, id, type, personalAccountId) {
      this.list.some((value, index) => {
        if (value.groupType === type) {
          const result = this.getRefGroupItem(
            value.id,
            value.groupType
          ).searchFriendAndSetRemark(personalAccountId, type, id, remark)
          if (result) {
            return true
          }
        }
      })
    },
    // 转接出去成功
    afterTransferSuccess({ fId, fType, fWxId, accountId, delAccount } = {}) {
      let delAccountId = delAccount === 1 ? accountId : null
      if (this.concentratedDialogue && delAccountId === 1) {
        // 删除个人号相关的好友/重新刷新列表
        this.changeParamsType()
      } else {
        // 只删除一个
        this.list.some((value, index) => {
          const result = this.getRefGroupItem(
            value.id,
            value.groupType
          ).searchFriendAndDel(accountId, fType, fId)
          if (result) {
            this.$set(this.list[index], 'count', this.list[index].count - 1)
            return true
          }
        })
      }
    },
    // 刷新列表，在转接出去某个个人号的最后一个好友之后，触发刷新
    refreshTableList() {
      this.changeParamsType()
    },
    /**
     * 取消所有的好友选中效果
     * @param  {[type]} uniqueId 选中的好友的dom中unique-id属性的值
     */
    clearActiveGroupItem(friendId) {
      let activeDom = this.$refs.contactList.querySelector(
        `li[data-friend='${friendId}']`
      )
      if (!activeDom) return
      removeClass(activeDom, 'active')
    }
  }
}
</script>
