<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="equipmentDetails" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="时间"
                         prop="totalChatTarget">
          <template slot-scope="scope">
            <span>{{scope.row.createTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column label="事项"
                         prop="matter" />
        <el-table-column label="数量"
                         prop="num">
          <template slot-scope="scope">
            <span>{{scope.row.type===1?'+':'-'}}{{scope.row.num}}</span>
          </template>
        </el-table-column>
        <el-table-column label="备注"
                         prop="remark">
          <template slot-scope="scope">
            <span>{{scope.row.remark || '--'}}</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
import { customerManageApi } from '@/api/sms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: {
    search
  },
  data() {
    return {
      date: '',
      params: {
        type: '',
        beginTime: '',
        endTime: '',
        parentId: ''
      }
    }
  },
  created() {
    this.params.enterpriseId = this.info.id
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await customerManageApi.getOmsListEquipList(this.params).then(res => {
        this.tableData = res
      })
    },
    search(params, type) {
      this.params.keyWord = params.search
      this.params.beginTime = params.beginTime
      this.params.endTime = params.endTime
      // type 1-增加，2--扣减，''全部
      this.params.type = params.addMinus || ''
      if (type) {
        this.getTableList(1)
      }
    }
  }
}
</script>
