<template>
  <div>
    <el-dialog
      title="选择参与人"
      custom-class="push-assistant pos-r"
      :visible.sync="outerVisible"
      :close-on-click-modal="false"
      @close="handleClose"
      append-to-body
    >
      <div class="push-assistant-container">
        <div class="ly-margin-bottom-sm text-c">
          <el-radio-group v-model="current">
            <el-radio-button :label="1">选择参与人</el-radio-button>
          </el-radio-group>
        </div>
         <!-- <newMessage></newMessage> -->
        <div class="assistant-container">
          <chooseFriend
            ref="chooseFriend"
            class="step-one"
            v-if="radioTargetType === SESSION_TYPE.C2C"
            @set-table="setTableData"
            v-show="step === 1"
          ></chooseFriend>

        </div>
        <div class="pos-a bottom-option ly-color-white" v-if="step === 1">
         
          <el-button class="fr next-btn" type="primary" @click="nextStep">确定</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
// import newMessage from "./newMessage/index";
import chooseFriend from './newMessage/chooseFriend'
import { SESSION_TYPE } from '@/constants/chat'

export default {
  props: {
    show: {
      type: Boolean,
      default: true
    },
    accountList: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  components: {
    // newMessage,
    chooseFriend,
    //     pushHistory
  },
  data() {
    return {
      current: 1,
      outerVisible: true,

      SESSION_TYPE,
      step: 1,
      radioTargetType: SESSION_TYPE.C2C,
      friendTableShow: true,
      checkedTableData: {
        type: null,
        list: []
      }
    };
  },
  methods: {
    handleClose() {
      this.$emit("on-close");
    },
    // 设置参与人
    setPlayers(data) {
    },
    nextStep(){
    //  console.log(this.checkedTableData)
     this.$emit('set-players', this.checkedTableData.list)
     this.outerVisible = false
    //  if (this.checkedTableData.list.length === 0) {
    //     return this.warn('请先选择好友/群组')
    //   }

   },
   setTableData(tableData, type) {
      this.checkedTableData = {
        type: this.radioTargetType,
        list: tableData
      }
    }
  }
};
</script>
