<template>
  <ul class="ly-clearfix ly-search-lay">
    <li class="ly-float-left ly-margin-right-bottom-sm"
        v-if="searchShow">
      <el-input placeholder="请输入企业名称"
                size="small"
                :clearable="true"
                v-model.trim="params.search"
                @keyup.native.enter="search" />
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm"
        v-if="addMinusShow">
      <el-button-group class="el-button-group-tabs">
        <el-button :type="addMinus === 0 ? 'primary' : 'default'"
                   @click="changeType('addMinus',0)">全部</el-button>
        <el-button :type="addMinus === 1 ? 'primary' : 'default'"
                   @click="changeType('addMinus',1)">增加</el-button>
        <el-button :type="addMinus === 2 ? 'primary' : 'default'"
                   @click="changeType('addMinus',2)">扣减</el-button>
      </el-button-group>
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm" style="height: 33px;">
      <el-button-group class="el-button-group-tabs">
        <el-button :type="type === TYPE.HOUR ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.HOUR)">近7天</el-button>
        <el-button :type="type === TYPE.DAY ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.DAY)">近30天</el-button>
        <el-button :type="type === TYPE.MONTH ? 'primary' : 'default'"
                   @click="changeType('type',TYPE.MONTH)">近90天</el-button>
      </el-button-group>
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-date-picker type="datetimerange"
                      size="small"
                      range-separator="至"
                      start-placeholder="开始时间"
                      end-placeholder="结束时间"
                      placeholder="选择时间范围"
                      :default-time="['00:00:00', '23:59:59']"
                      :clearable="true"
                      value-format="timestamp"
                      v-model="type" />
    </li>
    <li class="ly-float-left ly-margin-right-bottom-sm">
      <el-button type="primary"
                 size='small'
                 @click="search(true)">搜索</el-button>
    </li>
  </ul>
</template>

<script>
import { getBeforeDate } from '@/utils'

const TYPE = {
  // 小时
  HOUR: [getBeforeDate(7), new Date()],
  // 天
  DAY: [getBeforeDate(30), new Date()],
  // 月
  MONTH: [getBeforeDate(90), new Date()]
}
export default {
  props: ['entry'],
  data() {
    return {
      type: null,
      addMinus: 0,
      params: {
        search: '',
        beginTime: '',
        endTime: ''
      },
      TYPE,
      searchShow: false,
      addMinusShow: false
    }
  },
  watch: {
    'type'(val) {
      let dateArr = val || []
      this.params.beginTime = dateArr[0] || ''
      this.params.endTime = dateArr[1] || ''
      this.search()
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      switch (this.entry) {
        case 'enterpriseList':
          this.searchShow = true
          break
        case 'equipmentDetails':
          this.addMinusShow = true
          break
      }
    },
    changeType(type, val) {
      if (type === 'addMinus') {
        this.addMinus = val
        this.params.addMinus = val
        this.search()
      } else {
        this.type = val
      }
    },
    search(type) {
      this.$emit('search', Object.assign({}, this.params), type)
    }
  }
}
</script>
