<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="标题"
                    v-model.trim="params.title"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-select clearable
                     v-model="params.status"
                     style="width: 100px;"
                     class="ly-margin-right-bottom-sm"
                     placeholder="读取状态">
            <el-option v-for="item in statusList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-date-picker class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          v-model="date"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">J
        <el-table-column prop="title"
                         label="标题">
        </el-table-column>
        <el-table-column label="发布时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="类型">
          <template slot-scope="scope">
            <span
                  v-if="scope.row.type === 0">导出表格通知</span>
            <span class="ly-font-color-9"
                  v-else>未知</span>
          </template>
        </el-table-column>
        <el-table-column label="读取状态">
          <template slot-scope="scope">
            <span class="ly-font-color-5"
                  v-if="scope.row.status === 1">已读</span>
            <span class="ly-font-color-9"
                  v-else>未读</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event, 'set', scope.row)">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <el-dialog :title="set.title"
               :visible.sync="set.open"
               width="880px" append-to-body>
      <noticeStaffDetail :dataInfo="set"
                    v-if="set.open"
                    @getTableList="getTableList"></noticeStaffDetail>
    </el-dialog>
  </div>
</template>

<script>
import noticeStaffDetail from './components/noticeStaffDetail'
import { tableMixin } from '@/mixins'
import { noticeStaffApi } from '@/api/system'

export default {
  mixins: [tableMixin],
  components: { noticeStaffDetail },
  data() {
    return {
      activeNames: ['1'],
      params: {
        title: '',
        status: ''
      },
      statusList: [
        {
          value: '1',
          label: '已读'
        },
        {
          value: '0',
          label: '未读'
        }
      ],
      tableData: [],
      date: '',
      set: {
        title: '',
        open: false,
        data: {
          id: null
        }
      }
    }
  },
  methods: {
    /**
     * 日期格式转换
     */
    dateChange(val) {
      if (!val) {
        this.params.begin_time = ''
        this.params.end_time = ''
      } else {
        this.params.begin_time = new Date(val[0]).getTime()
        this.params.end_time = new Date(val[1]).getTime()
      }
    },
    async requestTableList() {
      await noticeStaffApi.getNoticeStaffList(this.params).then((result) => {
        this.tableData = result
      })
    },
    openCallback(defObj, val, data) {
      switch (val) {
        case 'set':
          this.tableData.records.forEach(item => {
            if (item.id === data.id && item.status === 0) {
              item.status = 1
            }
          })
          this.set.title = '通知详情'
          this.set.data = {
            id: data.id
          }
          this.set.open = true
      }
    }
  }
}
</script>
