<template>
  <div>
    <el-dialog title="短信群发"
               :visible.sync="computedValue"
               width="800px" append-to-body>
      <el-form ref="form"
               :model="form"
               :rules="rules"
               label-width="100px"
               class="ly-margin-right-30px">
        <el-form-item label="短信"
                      prop="title">
          <el-select v-model="form.title"
                     placeholder="请选择短信标题"
                     @change='templateChange'>
            <el-option v-for="(item,i) in templateList"
                       :key='`templateList_${i}`'
                       :label="item.msgTitle"
                       :value="item.id"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="短信内容">
          <el-input type="textarea"
                    v-model="form.msgText"
                    :maxlength="300"
                    :rows='6'
                    disabled></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary"
                     @click="sendGroupMsg('form')">发送</el-button>
          <!-- <el-button>取消</el-button> -->
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { marketPlatformApi } from '@/api/system'

export default {
  model: {
    prop: 'value',
    event: 'model'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    phones: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('model', val)
      }
    }
  },
  data() {
    return {
      form: {
        type: 2,
        title: ''
      },
      templateList: [],
      rules: {
        title: [
          { required: true, message: '请选择短信标题', trigger: 'change' }
        ]
      }
    }
  },
  mounted() {
    this.msgtemplateList()
  },
  methods: {
    // 获取短信模板信息
    async msgtemplateList() {
      const data = await marketPlatformApi.msgtemplateList()
      this.templateList = data
    },
    // 点击短信群发
    sendGroupMsg(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.form.phones = this.phones
          await marketPlatformApi.sendGroupMsg(this.form)
          this.success('短信发送成功')
          this.computedValue = false
        } else {
          return false
        }
      })
    },
    // 选择标题（选择模板）
    templateChange(id) {
      let template = this.templateList.find((o, i) => {
        return id === o.id
      })
      this.form.msgText = `${template.msgSign}${template.msgText}`
    }
  }
}
</script>
<style scoped>
</style>
