<template>
  <div>
    <!-- 快捷语左侧 -->
    <div class="framework ly-bg-white">
      <div class="fra-header">
        <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">快捷语</span>
        <img class="ly-vertical-middle add"
             src="../../../../assets/images/common/plus.png" />
      </div>
      <div class="ly-text-center ly-box">
        <span class="ly-font-14 ly-font-weight-300 switch-btn ly-box-1"
              v-bind:class="{ 'switch-btn-choice' : isChoicePerson }"
              @click="switchTag">私有</span>
        <span class="ly-font-14 ly-font-weight-300 switch-btn ly-box-1"
              v-bind:class="{ 'switch-btn-choice' : !isChoicePerson }"
              @click="switchTag">公共</span>
      </div>
      <div class="fra-content ly-margin-top-sm" v-if="isChoicePerson">
        <div class="ly-box ly-box-align-center ly-box-justify-between">
          <div class="ly-font-14 ly-font-color-3 ly-font-weight-300">物流</div>
          <div>
            <img class="icon-editor"
                 src="../../../../assets/images/common/editor.png"
                 @click="() => editorDepartment()" />
            <img class="icon-delete"
                 src="../../../../assets/images/common/delete.png"
                 @click="() => deleteDepartment()" />
          </div>
        </div>
      </div>
      <div class="fra-content ly-margin-top-sm" v-else>
        <div class="ly-box ly-box-align-center ly-box-justify-between">
          <div class="ly-font-14 ly-font-color-3 ly-font-weight-300">物流公共</div>
          <div>
            <img class="icon-editor"
                 src="../../../../assets/images/common/editor.png"
                 @click="() => editorDepartment()" />
            <img class="icon-delete"
                 src="../../../../assets/images/common/delete.png"
                 @click="() => deleteDepartment()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isChoicePerson: true
    }
  },
  methods: {
    switchTag() {
      this.isChoicePerson = !this.isChoicePerson
    },
    editorDepartment() {
      // 左侧编辑
    },
    deleteDepartment() {
      // 左侧删除
    }
  }
}
</script>
<style lang="scss" scoped>
.framework {
  width: 240px;
  min-height: 915px;
  position: relative;
  padding: 0 20px;
}
.fra-header {
  position: relative;
  padding: 15px 0;
  .add {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    top: 15px;
  }
}
.switch-btn {
  color: rgba(69, 69, 69, 1);
  background: rgba(242, 245, 248, 1);
  &.switch-btn-choice {
    background: rgba(40, 151, 255, 1);
    color: rgba(255, 255, 255, 1);
  }
}
.icon-editor {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.icon-delete {
  width: 14px;
  height: 14px;
}
</style>
