<template>
  <div class="reply-msg">
    <div class="template-type">
      <el-radio-group v-model="templateType" @change="changeTemplateType">
        <el-radio-button :label="1">个人快捷语</el-radio-button>
        <el-radio-button :label="2">公共快捷语</el-radio-button>
      </el-radio-group>
    </div>
    <div class="search-bar rlt">
      <el-input placeholder="输入关键字进行过滤" v-model.trim="params.selName" @keyup.enter.native="getQuickReplyGorupList" :maxlength="100"></el-input>
    </div>
    <div class="template-list" v-if="templateType">
      <div v-if="quickReplyList.length === 0" class="list-nonthing">暂无相关数据</div>
      <ul v-else>
        <li v-for="(item, index) in quickReplyList" :key="item.id">
          <div class="group-switch" @click="openGroup(index)">
            <i class="el-icon-caret-bottom" :class="item.open ? '' : 'rotate'"></i>
            <span>{{ item.groupName }}</span>
          </div>
          <ul class="group-list" v-if="item.open && item.list && item.list.length > 0">
            <li class="template-item" v-for="ite in item.list" :key="ite.id" @click.stop="sendReply(ite)">
              <i class="icon icon-text" v-if="ite.msgType === 1"></i>
              <i class="icon icon-image" v-else-if="ite.msgType === 2"></i>
              <i class="icon icon-voice" v-else-if="ite.msgType === 3"></i>
              <i class="icon icon-video" v-else-if="ite.msgType === 4"></i>
              <i class="icon el-icon-link" v-else-if="ite.msgType === 6"></i>
              <i class="icon el-icon-connection" v-else-if="ite.msgType === 7"></i>
              <span class="fr mr-10 preview-btn" @click.stop="previewReply(ite)">预览</span>
              <el-popover class="title" trigger="hover" placement="bottom">
                <div style="font-size:0.7rem">{{ ite.title }}</div>
                <span slot="reference">
                  <span class="title">{{ ite.title }}</span>
                </span>
              </el-popover>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- 文字预览 -->
    <wordDialg v-if="wordDialogData.show" :data='wordDialogData' @on-close="closeWordDialog" @on-send="sendWordMsg"></wordDialg>
    <!-- 粘贴图片预览 -->
    <sendPastImgDialog v-if="imgDialogData.show" :imgData="imgDialogData" @on-close="closeImgDialog" @directly-send-img="sendImageMsg"></sendPastImgDialog>
    <videoDialog v-if="videoDialogData.show" :data="videoDialogData" @on-close="closeVideoDialog" @on-send="sendVideoMsg"></videoDialog>
    <voiceDialog v-if="voiceDialogData.show" :data="voiceDialogData" @on-close="closeVoiceDialog" @on-send="sendVoiceMsg"></voiceDialog>
    <!-- 发送小程序前预览 -->
    <miniProgramDialog v-if="miniProgramDialogData.show" :miniProgramData="miniProgramDialogData" @on-close="closeMiniprogramDialog" @on-send="sendMiniProgramMsg"></miniProgramDialog>
    <!-- 发送图文链接前预览 -->
    <imgtxtLinkDialog v-if="imgtxtLinkDialogData.show" :data='imgtxtLinkDialogData' @on-close="closeImgTxtLinkDialog" @on-send="sendImgtxtLink"></imgtxtLinkDialog>
  </div>
</template>

<script>
// 引入小程序
import miniProgramDialog from './components/miniProgramDialog'
// 引入图文链接
import imgtxtLinkDialog from './components/imgtxtLinkDialog'
import wordDialg from './components/wordDialg'
import { mapGetters } from 'vuex'
import {
  quickReplyApi
} from '@/api/chat'
import {
  resourceMixin
} from '@/mixins'
import {
  RESOURCE_ACTION_MAP
} from '@/constants'
import sendPastImgDialog from '@/pages/chat/home/components/mainChatBox/sendPastImgDialog'
import videoDialog from '@/components/packages/chat/home/videoDialog'
import voiceDialog from './components/voiceDialog'

export default {
  components: {
    voiceDialog,
    sendPastImgDialog,
    videoDialog,
    miniProgramDialog,
    imgtxtLinkDialog,
    wordDialg
  },
  mixins: [resourceMixin],
  computed: {
    ...mapGetters(['adminInfo']),
    // 微客服截图权限
    hasScreenAction () {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.SCREENSHOTS)
    }
  },
  data () {
    return {
      wordDialogData: {
        show: false,
        data: null
      },
      voiceDialogData: {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      },
      imgDialogData: {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      },
      videoDialogData: {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      },
      // 小程序
      miniProgramDialogData: {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      },
      // 图文链接
      imgtxtLinkDialogData: {
        show: false,
        url: null,
        data: null,
        sendBtn: true
      },
      templateType: 1,
      quickReplyList: [],
      params: {
        selName: null,
        groType: null
      }
    }
  },
  created () {
    this.$set(this.params, 'groType', this.templateType)
    this.getQuickReplyGorupList()
  },
  methods: {
    changeTemplateType (val) {
      this.$set(this.params, 'groType', val)
      this.getQuickReplyGorupList()
    },
    /**
     * 获取个人/共用快捷语分组列表
     */
    getQuickReplyGorupList () {
      if (this.params.selName) {
        // 有输入内容时掉用新接口，因为后台改起来很麻烦，时间来不及
        quickReplyApi.getQuickReplyGorupListIm(this.params).then((resp) => {
          this.quickReplyList = resp
        })
      } else {
        // 没有值是用旧接口，不传参数
        let method = this.templateType === 1 ? 'getProprietaryQuickReplyGorupList' : 'getPublicQuickReplyGorupList'
        quickReplyApi[method]({}).then((resp) => {
          this.quickReplyList = resp
        })
      }
    },
    /**
     * 打开分组
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    openGroup (index) {
      this.$set(this.quickReplyList[index], 'open', !this.quickReplyList[index].open)
      if (this.params.selName) {
        // 有输入内容时掉用新接口给的列表，因为后台改起来很麻烦，时间来不及
        this.$set(this.quickReplyList[index], 'list', this.quickReplyList[index].jsList)
      } else {
        // 没有值是用旧接口，点开获取
        this.quickReplyList[index].open && this.searchQuickReplyList({
          quickReplyGroupId: this.quickReplyList[index].id
        }).then(res => {
          this.$set(this.quickReplyList[index], 'list', res)
        })
      }
    },
    /**
     * 获取分组下的列表
     * @param  {[type]} data [description]
     */
    searchQuickReplyList (data) {
      let params = Object.assign({}, {
        selName: this.params.selName
      }, data)
      return quickReplyApi.getProprietaryQuickReplyDetail(params)
    },
    /**

    /**
     * 预览发送
     * @param  {[type]} data [description]
     * @return {[type]}      [description]
     */
    previewReply (data) {
      switch (data.msgType) {
        // 文本
        case 1:
          this.showWordDialog(data)
          break
        // 图片
        case 2:
          this.showImgDialog(data)
          break
        // 语音
        case 3:
          this.showVoiceDialog(data)
          break
        // 视频
        case 4:
          this.showVideoDialog(data)
          break
        // 小程序
        case 6:
          this.showMiniProgramDialog(data)
          break
        // 图文链接
        case 7:
          this.showImgtxtLinkDialogData(data)
          break
      }
    },
    sendReply (data) {
      switch (data.msgType) {
        // 文本
        case 1:
          this.sendWordMsg({
            data
          })
          break
        // 图片
        case 2:
          if (this.templateType === 1 && !this.hasScreenAction) {
            this.warn('暂无发送个人快捷语图片文件权限')
            return
          }
          this.sendImageMsg(null, {
            data
          })
          break
        // 语音
        case 3:
          this.sendVoiceMsg({
            data
          })
          break
        // 视频
        case 4:
          this.sendVideoMsg({
            data
          })
          break
        // 小程序
        case 6:
          this.sendMiniProgramMsg({
            data
          })
          break
        case 7:
          this.sendImgtxtLink({
            data
          })
      }
    },
    /**
     * 确认发送快捷消息
     */
    sendQuickReply (data) {
      this.$emitBus('send-quick-reply', data)
    },
    sendWordMsg (data) {
      this.sendQuickReply(data.data)
      this.closeWordDialog()
    },
    showWordDialog (data) {
      this.wordDialogData = {
        show: true,
        data: data,
        sendBtn: true
      }
    },
    closeWordDialog () {
      this.wordDialogData = {
        show: false,
        data: null
      }
    },
    /**
     * 确认发送图片
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendImageMsg (url, data) {
      this.sendQuickReply(data.data)
    },
    showImgDialog (data) {
      this.imgDialogData = {
        show: true,
        url: data.msgText,
        sendBtn: true,
        data
      }
    },
    closeImgDialog () {
      this.imgDialogData = {
        show: false,
        url: null,
        sendBtn: true,
        data: null
      }
    },
    /**
     * 确认发送视频
     * @param  {[type]} videoDialogData [description]
     * @return {[type]}      [description]
     */
    sendVideoMsg (videoDialogData) {
      this.sendQuickReply(videoDialogData.data)
      this.closeVideoDialog()
    },
    showVideoDialog (data) {
      this.videoDialogData = {
        show: true,
        url: data.msgText,
        poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    closeVideoDialog () {
      this.videoDialogData = {
        show: false,
        url: null,
        poster: null,
        data: null,
        sendBtn: true
      }
    },
    /**
     * 确认发送语音
     * @param  {[type]} url [description]
     * @return {[type]}     [description]
     */
    sendVoiceMsg (data) {
      this.closeVoiceDialog()
      this.sendQuickReply(data.data)
    },

    showVoiceDialog (data) {
      this.voiceDialogData = {
        show: true,
        url: data.msgText,
        voiceLength: data.voiceLength,
        sendBtn: true,
        data
      }
    },
    closeVoiceDialog () {
      this.voiceDialogData = {
        show: false,
        url: null,
        voiceLength: 0,
        sendBtn: true,
        data: null
      }
    },
    // 确认发送小程序
    sendMiniProgramMsg (data) {
      this.closeMiniprogramDialog()
      this.sendQuickReply(data.data)
    },
    // 确认发送图文链接
    sendImgtxtLink (data) {
      this.closeImgTxtLinkDialog()
      this.sendQuickReply(data.data)
    },
    showMiniProgramDialog (data) {
      this.miniProgramDialogData = {
        show: true,
        url: data.msgText,
        // poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    showImgtxtLinkDialogData (data) {
      this.imgtxtLinkDialogData = {
        show: true,
        url: data.msgText,
        // poster: data.coverInfo,
        data,
        sendBtn: true
      }
    },
    closeMiniprogramDialog () {
      this.miniProgramDialogData = {
        show: false,
        url: null,
        // poster: null,
        data: null,
        sendBtn: true
      }
    },
    closeImgTxtLinkDialog () {
      this.imgtxtLinkDialogData = {
        show: false,
        url: null,
        data: null,
        sendBtn: true
      }
    }

  }

}
</script>
