<template>
  <el-dialog title="提示" :visible.sync="dialogVisible" width="490px" @close="closeDialog" append-to-body>
    <div class="aaa">请绑定用户下单的订单号：</div>
    <el-input v-model.trim="orderId" class="mt-20 el-input-wechat" :maxlength="50">输入订单号</el-input>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="closeDialog">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
      orderId: ''
    }
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    }
  }
}
</script>
