<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="notificationList" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="通知标题"
                         prop="title" />
        <el-table-column label="通知内容"
                         prop="content">
          <template slot-scope="scope">
            <span v-html="$xss(scope.row.content)"></span>
          </template>
</el-table-column>
<el-table-column label="发送时间">
    <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
</el-table-column>
<el-table-column label="发送企业" prop="enterpriseName" />
</el-table>
<!-- 分页 -->
<div class="ly-box ly-margin-top-sm" v-if="tableData.total>0">
    <vma-pagination class="ly-text-right ly-box-1" :pageNum="params.current" :total="tableData.total" :pageSize="params.size" @change="getTableList" />
</div>
</div>
</div>
</template>

<script>
    import {
        oemListApi
    } from '@/api/sms'
    import search from '../search'
    import {
        tableMixin
    } from '@/mixins'

    export default {
        mixins: [tableMixin],
        props: ['id'],
        components: {
            search
        },
        methods: {
            // 获取代理商列表
            async requestTableList() {
                this.params.enterpriseId = this.id
                const data = await oemListApi.getNoticeList(this.params)
                this.tableData = data
            },
            search(params) {
                this.params = Object.assign(this.params, params)
                this.getTableList(1, this.params.size)
            }
        }
    }
</script>