<template>
  <div class="chat-moment-item">
    <img class="chat-moment-avtor"
         src="">
    <div class="chat-moment-main">
      <div class="chat-moment-user">
        <em class="fr">30分钟前</em>
        <h3 class="ellipsis">用户名用户名用户名</h3>
      </div>
      <div class="chat-moment-content">hahahahahahhahahahahahahahahah啦啦啦啦啦啦啦啦啦啦啦啦啦啦</div>
      <div class="chat-moment-style">
        <div class="chat-moment-style-img9">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
          <img src="">
        </div>
        <div class="chat-moment-style-info">
          <img src="">
          <div>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</div>
        </div>
        <div class="chat-moment-style-video">
          <video></video>
        </div>
      </div>
      <div class="chat-moment-opts">
        <div class="fr">
          <a href="javascript: void(0);">
            <i class="icon icon-chat-like"></i>
          </a>
          <a href="javascript: void(0);">
            <i class="icon icon-chat-liked"></i>
          </a>
          <a href="javascript: void(0);">
            <i class="icon icon-chat-comment"></i>
          </a>
        </div>
        <a href="javascript: void(0);"
           class="chat-moment-opt-btn">删除</a>
      </div>
      <div class="chat-moment-input">
        <el-input type="textarea"
                  :rows="1"
                  placeholder="请输入内容">
        </el-input>
        <div class="chat-moment-input-btns">
          <el-button size="mini"
                     type="text">取消</el-button>
          <el-button size="mini"
                     type="primary">评论</el-button>
        </div>
      </div>
      <div class="chat-moment-comment">
        <div class="chat-moment-priase">
          <i class="icon icon-chat-praise"></i>
          <div class="chat-moment-praise-list">娃娃，大娃，二娃，三娃，四娃，五娃，六娃，七娃，爷爷，蛇精</div>
        </div>
        <div class="chat-moment-comment-list">
          <div class="chat-moment-comment-item">
            <em>林总: </em>厉害厉害666
          </div>
          <div class="chat-moment-comment-item">
            <em>地方你是否更好地热</em>回复<em>林总: </em>厉害厉害666
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>
