<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="域名:" prop="domain" :label-width="formLabelWidth">
        <el-input class="ly-width-240px"
                  placeholder="请输入域名"
                  autocomplete="off"
                  :maxlength="1000"
                  v-model.trim="params.domain"
                  clearable></el-input>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="confirmAdd">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { systemSettingsApi } from '@/api/sms'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      params: {
        domain: ''
      },
      formLabelWidth: '136px',
      rules: {
        domain: [
          { required: true, message: '请输入域名' }
        ]
      }
    }
  },
  created() {
  },
  methods: {
    confirmAdd() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.addOrEditDomain()
        } else {
          return false
        }
      })
    },
    async addOrEditDomain() {
      await systemSettingsApi.addDomainReq(this.params.domain)
      this.showAddOrEditModal('添加成功', this.dialogProp.titleType)
    },
    showAddOrEditModal(message, type) {
      this.success(message)
      this.closeDialog()
      this.$emit('refreshTableList', type)
    },
    closeDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
