<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-select v-model="params.status"
                     placeholder="充值状态"
                     clearable
                     class="ly-margin-right-sm">
            <!-- 充值状态 2 充值成功 1充值失败 -->
            <el-option label="充值成功"
                       :value="2">
            </el-option>
            <el-option label="充值失败"
                       :value="1">
            </el-option>
          </el-select>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange($event,'createStartTime','createEndTime')"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <span class="ly-font-color-7 ly-font-14 ly-margin-right-sm">当前余额： {{money | numberToFixed}} 元</span>
          <el-button type="primary"
                     size="small"
                     @click="recharageDialogClick">充值</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="actualMoney"
                         label="充值金额（元）">
          <template slot-scope="scope">
            {{scope.row.actualMoney | numberToFixed}}
          </template>
        </el-table-column>
        <el-table-column prop="poundage"
                         label="手续费（元）">
          <template slot-scope="scope">
            {{scope.row.poundage | numberToFixed}}
          </template>
        </el-table-column>
        <el-table-column prop="adminPay"
                         label="实付金额（元）">
          <template slot-scope="scope">
            {{scope.row.adminPay | numberToFixed}}
          </template>
        </el-table-column>
        <el-table-column label="支付方式">
          <template slot-scope="scope">
            <i :class="scope.row.type==1?'ico_weChat':'ico_alipay'"></i>
          </template>
        </el-table-column>
        <el-table-column prop="orderNo"
                         label="交易流水号">
        </el-table-column>
        <el-table-column label="充值状态">
          <template slot-scope="scope">
            <!-- 充值状态 2 充值成功 1充值失败 -->
            <span v-if="scope.row.status==2"
                  class="ly-font-color-5">充值成功</span>
            <span v-else
                  class="ly-font-color-7">充值失败</span>
          </template>
        </el-table-column>
        <el-table-column prop="rechargeTime"
                         :min-width="150"
                         label="充值时间">
          <template slot-scope="scope">
            <span>{{ scope.row.rechargeTime | date }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="remark"
                         label="充值说明">
          <template slot-scope="scope">
            <span>{{ scope.row.remark || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="balance"
                         label="余额">
          <template slot-scope="scope">
            {{scope.row.balance | numberToFixed}}
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 充值红包弹窗 -->
    <RechargeRedpacket v-if="showRecharageDialog"
                       v-model="showRecharageDialog"
                       @on-confirm='confirmRecharge'></RechargeRedpacket>
    <!-- 扫码支付弹窗 -->
    <CodePay v-if="showCodePayDialog"
             v-model="showCodePayDialog"
             :codePayInfo='codePayInfo'></CodePay>
  </div>
</template>

<script>
import { walletApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import { RechargeRedpacket, CodePay } from './components'

export default {
  mixins: [tableMixin],
  components: { RechargeRedpacket, CodePay },
  data() {
    return {
      activeNames: ['1'],
      showRecharageDialog: false,
      showCodePayDialog: false,
      codePayInfo: {}, // 扫码支付二维码信息
      money: 0 // 剩余余额
    }
  },
  watch: {
    showCodePayDialog(val) { // 监听扫码支付，刷新表单
      if (!val) {
        this.payRefresh()
      }
    }
  },
  mounted() {
    this.getMoney()
  },
  methods: {
    recharageDialogClick() {
      this.showRecharageDialog = true
    },
    confirmRecharge(val) {
      this.codePayInfo = val
      this.showCodePayDialog = true
    },
    // 搜索列表
    async requestTableList() {
      const data = await walletApi.getWalletBalance(this.params)
      this.tableData = data
    },
    // 红包充值获取企业余额
    async getMoney() {
      const data = await walletApi.getAccountPrice()
      this.money = data.leftMoney
    },
    // 充值后刷新
    payRefresh() {
      this.getTableList(1, this.params.size)
      this.getMoney()
    }
  }
}
</script>
