<template>
  <div>
    <div class="lyy-body wechat-custom-service">
        <div class="lyy-page-head lyy-el-header main-chat-header">
          <div class="frame-header">
            <h2>
              <img :src="platformLogo" v-if="platformLogo" class="logo">
              <span>微客服</span>
            </h2>
            <!-- 中间菜单 -->
            <el-menu class="main-head-menu-center" mode="horizontal" :default-active="selectNavMenuIndex" @select="selectNavMenu" ref="navMenu">
              <el-menu-item index="1">
                <div class="icon icon-chat-goods item-icon" ></div>
                <div>商品推荐</div>
              </el-menu-item>
              <el-menu-item index="2">
                <div class="icon icon-chat-order item-icon" ></div>
                <div>购物订单</div>
              </el-menu-item>
              <el-menu-item index="3">
                <div class="icon icon-chat-favorite item-icon" ></div>
                <div>我的收藏</div>
              </el-menu-item>
              <el-menu-item index="4">
                <div class="icon icon-chat-message item-icon" ></div>
                <div>消息推送</div>
              </el-menu-item>
              <el-menu-item index="5">
                <div class="icon icon-chat-moments item-icon" ></div>
                <div>朋友圈</div>
              </el-menu-item>
            </el-menu>
            <!-- 状态 -->
            <div class="main-head-right fr">
              <i class="icon icon-chat-online title-icon"></i>
              <i class="icon icon-chat-off-line title-icon"></i>
              <el-dropdown trigger="click">
                <span class="el-dropdown-link">
                  用户名<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown" class="menu-icon">
                  <el-dropdown-item><i class="icon icon-chat-online"></i>在线</el-dropdown-item>
                  <el-dropdown-item><i class="icon icon-chat-off-line"></i>离开</el-dropdown-item>
                  <el-dropdown-item>退出</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
        </div>
        <div class="lyy-page-container">
          <!-- aside -->
          <div class="lyy-page-aside">
            <!-- 客服账号列表 -->
            <ul class="account-list fl" >
              <li class="account-item" :class="activeAccount === 0 ? 'active' : ''" @click="activeAccount = 0">
                  <div class="user-info">
                    <el-badge :value="'...'" class="item">
                      <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="user-avtor on-line" />
                    </el-badge>
                    <div class="user-status"></div>
                  </div>
                  <div class="user-name">微信名称000001</div>
              </li>
              <li class="account-item" :class="activeAccount === 1 ? 'active' : ''" @click="activeAccount = 1">
                  <div class="user-info">
                    <el-badge :value="99" class="item">
                      <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="user-avtor" />
                    </el-badge>
                    <div class="user-status"></div>
                  </div>
                  <div class="user-name">微信名称000001</div>
              </li>
            </ul>
            <!-- 聊天列表 -->
            <div class="customer-list-wrap fl">
              <div class="customer-list-top">
                <!-- 个人信息 -->
                <div class="info">
                  <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="vm user-avtor" />
                  <div class="vm ml-20 nick-name">微信名25215</div>
                </div>
                <!-- 搜索 -->
                <div class="rlt mt-20 search-bar">
                  <i class="icon icon-search abs wechat-search-icon"></i>
                  <!-- <div class="">
                  </div> -->
                  <input placeholder="昵称/备注/标签" type="text" class="vm search">
                </div>
                <!-- 标签页 -->
                <div class="mt-20 pb-10 bb tabs">
                  <div class="vm text-c tab-item" @click="nowFriendListType = 0">
                    <el-badge :value="98" class="item">
                      <i class="icon icon-news-message-active" v-if="nowFriendListType === 0 ? 'active' : ''"></i>
                      <i class="icon icon-news-message" v-else></i>
                    </el-badge>
                  </div>
                  <div class="vm text-c tab-item" @click="nowFriendListType = 1">
                    <i class="icon icon-linkman-list-active" v-if="nowFriendListType === 1 ? 'active' : ''"></i>
                    <i class="icon icon-linkman-list" v-else></i>
                  </div>
                </div>
              </div>
              <!-- 列表 -->
              <div class="scroll-wrap">
                <div class="pos-r ly-height-100">
                  <!-- 右击弹窗 -->
                  <ul class="vue-contextmenu-listWrapper">
                    <li class="context-menu-list" @click="showSetRemarkPanel">
                      <button type="button">
                        <span>修改备注</span>
                      </button>
                    </li>
                    <li class="context-menu-list" @click="showMoveFriendGroup">
                      <button type="button">
                        <span>移动分组</span>
                      </button>
                    </li>
                  </ul>
                  <!-- 消息记录 -->
                  <div class="chat-item" :class="activeChatListItem === 0 ? 'active' : ''" @click="tapFriend(0)">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="fl user-avtor user-avtor-box" />
                    <div class="fr time">18/12/29</div>
                    <div class="info">
                      <div class="nick-name ellipsis">名字123</div>
                      <div class="msg ellipsis">消息缩略</div>
                    </div>
                  </div>
                  <div class="chat-item" :class="activeChatListItem === 1 ? 'active' : ''" @click="tapFriend(1)">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="fl user-avtor user-avtor-box" />
                    <div class="fr">
                      <p class="time">18/12/29</p>
                    </div>
                    <div class="info">
                      <div class="nick-name ellipsis">名字123名字123名字123名字123</div>
                      <div class="msg ellipsis">消息缩略消息缩略消息缩略消息缩略</div>
                    </div>
                  </div>
                  <!-- 未分组 -->
                  <div class="group-switch">
                    <i class="el-icon-caret-bottom"></i>
                    <span class="group-name">未分组1（3个）</span>
                  </div>
                  <div class="friend-item" :class="activeChatListItem === 2 ? 'active' : ''" @click="tapFriend(2)">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2703464338,2532299334&fm=27&gp=0.jpg" class="fl user-avtor user-avtor-box" />
                    <div class="info">
                      <div class="nick-name ellipsis">名字123名字123名字123名字123</div>
                    </div>
                  </div>
                  <div class="group-switch">
                    <i class="el-icon-caret-right"></i>
                    <span class="group-name">未分组2（3个）</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- main -->
          <div class="lyy-page-main main-center">
            <div class="lyy-page-body lyy-page-vmadialog">
              <div class="main-chat-panel">
                <!-- 聊天窗体 -->
                <main-chat-box v-if="chatBoxShow" @show-chat-record="showChatRecord"></main-chat-box>
                <!-- 好友/群组信息 -->
                <main-info-box v-else-if="infoBoxShow"
                                @show-chat-box="showInfoBox"></main-info-box>
              </div>
            </div>
          </div>
          <!-- 右边其它内容 -->
          <div width="auto" class="lyy-page-aside main-right-side">
              <!-- 聊天相关菜单 -->
              <chatRightSideTabs ref="chatRightSideTabs" class="side-content" v-if="rightSideSelected === '0'"></chatRightSideTabs>
              <!-- 商品推荐 -->
              <recommended-goods class="side-content nav-menu-page" v-else-if="rightSideSelected === '1'" @close-nav-page="showChatRightSideTabs"></recommended-goods>
              <!-- 购物订单 -->
              <shopping-orders class="side-content nav-menu-page" v-else-if="rightSideSelected === '2'" @close-nav-page="showChatRightSideTabs"></shopping-orders>
              <!-- 我的收藏 -->
              <my-favorites class="side-content nav-menu-page" v-else-if="rightSideSelected === '3'" @close-nav-page="showChatRightSideTabs"></my-favorites>
              <!-- 朋友圈 -->
              <moment class="side-content nav-menu-page" v-else-if="rightSideSelected === '5'" @close-nav-page="showChatRightSideTabs"></moment>
          </div>
        </div>
        <!-- footer -->
        <div class="main-chat-footer">
          <div class="switch-item first">
            <span>集中对话</span>
            <el-switch
              v-model="switchValue01"
              active-color="#13ce66">
            </el-switch>
          </div>
          <div class="switch-item last">
            <span>隐藏空分组</span>
            <el-switch
              v-model="switchValue02"
              active-color="#13ce66">
            </el-switch>
          </div>
          <div class="switch-item last">
            <span>自动回复</span>
            <el-switch
              v-model="switchValue03"
              active-color="#13ce66">
            </el-switch>
          </div>
          <div class="sending">消息推送中&nbsp;&nbsp;<i class="el-icon-loading"></i>&nbsp;&nbsp;进度：0 / 1</div>
        </div>
    </div>
    <!-- 消息推送 -->
    <pushAssistant v-if="msgPushShow" :show="msgPushShow" @on-close="onMsgPushClose"></pushAssistant>
    <!-- 设置备注 -->
    <setRemark v-if="setRemarkShow" @on-close="setRemarkShow = false"></setRemark>
    <!-- 移动分组 -->
    <moveFriendGroup v-if="moveFriendGroupShow" @on-close="moveFriendGroupShow = false"></moveFriendGroup>
  </div>
</template>

<script>
import mainChatBox from './components/mainChatBox'
import mainInfoBox from './components/mainInfoBox'
import chatRightSideTabs from './components/chatRightSideTabs'
import recommendedGoods from './components/recommendedGoods'
import moment from './components/moment'
import pushAssistant from './components/pushAssistant'
import myFavorites from './components/myFavorites'
import shoppingOrders from './components/shoppingOrders'
import setRemark from './components/setRemark'
import moveFriendGroup from './components/moveFriendGroup'

export default {
  components: {
    mainChatBox,
    mainInfoBox,
    chatRightSideTabs,
    recommendedGoods,
    moment,
    pushAssistant,
    myFavorites,
    shoppingOrders,
    setRemark,
    moveFriendGroup
  },
  data() {
    return {
      selectNavMenuIndex: null,
      msgPushShow: false,
      infoBoxShow: true,
      chatBoxShow: false,
      setRemarkShow: false,
      moveFriendGroupShow: false,
      platformLogo: 'http://qiniu.xmtryz.cn/FmqcF4qfyNWCc2CRz8YsafoLHS_L',
      activeIndex: '1',
      isCollapse: true,
      activeAccount: 0,
      nowFriendListType: 1,
      activeChatListItem: 3,
      switchValue01: true,
      switchValue02: true,
      switchValue03: false,
      contextMenuData: {
        menuName: null,
        axis: {
          x: null,
          y: null
        },
        menulists: [
          {
            fnHandler: 'showSetRemarkPanel',
            // icoName: 'el-icon-message',
            btnName: '修改备注'
          },
          {
            fnHandler: 'showMoveFriendGroup',
            // icoName: 'el-icon-message',
            btnName: '移动分组'
          }
        ]
      },
      rightSideSelected: '0'
    }
  },
  created() {
  },
  methods: {
    tapFriend(index) {
      this.infoBoxShow = true
      this.chatBoxShow = false
      this.activeChatListItem = index
    },
    showInfoBox() {
      this.infoBoxShow = false
      this.chatBoxShow = true
    },
    selectNavMenu(index, indexPath) {
      if (index === '4') {
        this.msgPushShow = true
        return
      }
      this.rightSideSelected = index
    },
    onMsgPushClose() {
      this.msgPushShow = false
      this.$refs['navMenu'].activeIndex = '0'
    },
    showSetRemarkPanel() {
      this.setRemarkShow = true
    },
    showMoveFriendGroup() {
      this.moveFriendGroupShow = true
    },
    showChatRecord() {
      this.$refs.chatRightSideTabs && this.$refs.chatRightSideTabs.showChatRecord && this.$refs.chatRightSideTabs.showChatRecord()
    },
    showChatRightSideTabs() {
      this.rightSideSelected = '0'
      this.$refs['navMenu'].activeIndex = '0'
    }
  }
}
</script>
