<template>
  <div>
    <div>
      <div class="ly-width-500px-im ly-margin-center ly-box">
        <div class="ly-width-444px">
          <el-input placeholder="请输入内容"
                    v-model.trim="dialog.url"
                    class="input-with-select leftbg-white"
                    id="copy-input"
                    disabled
                    size="medium">
            <span slot="prepend">短链接</span>
            <!-- :data-clipboard-text复制文本 -->
            <el-button slot="append"
                       :data-clipboard-text="dialog.url"
                       class="copy-btn">复制链接</el-button>
          </el-input>
        </div>
        <div class="ly-margin-left-20px">
          <el-button size="medium"
                     class="ly-wh-36-36px padding-8px ly-position-relative">
            <img class="ly-wh-20-20px"
                 src="@/assets/images/icons/qrcode.png" />
            <div class="ly-position-absolute  dialog-link-code-position">
              <div class="ly-wh-120-120px ly-bg-white">
                <div class="ly-wh-104-104px"
                     id="qrcode"
                     ref="qrcode">
                </div>
              </div>
            </div>
          </el-button>
        </div>
      </div>
      <el-table class="ly-width-500px ly-margin-center ly-margin-top39px"
                :data="tableData1"
                :show-header="false"
                border
                style="width: 500px">
        <el-table-column label="尺寸"
                         width="100">
          <template slot-scope="scope">
            <p class="ly-text-center">{{scope.row.size}}</p>
          </template>
        </el-table-column>
        <el-table-column label="详情"
                         align="center"
                         class="ly-text-center">
          <template slot-scope="scope">
            <p class="ly-font-color-4 ly-text-center">{{scope.row.use}}</p>
            <p class="ly-font-12 ly-font-color-10 ly-text-center">{{scope.row.rule}}</p>
          </template>
        </el-table-column>
        <el-table-column label="操作"
                         width="100">
          <template slot-scope="scope">
            <div class="ly-text-center">
              <i class="el-icon-download ly-cursor-pointer"
                 @click="downloadClick(scope.row)"></i>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 用来下载的二维码 -->
    <div id="qrcodeDownloadable"
         ref="qrcodeDownloadable"
         style="opacity:0;position:absolute;top:0;left:0;z-index: -2">
    </div>
  </div>
</template>

<script>
import QRCode from 'qrcodejs2' // 生成二维码
import Clipboard from 'clipboard' // 复制到剪贴板
import Logger from '@/utils/logger'
export default {
  props: ['dialog'],
  data() {
    return {
      qrcodeDownloadableObj: {}, // 用来保存可下载的二维码 qrcodejs2对象
      tableData1: [
        {
          size: '小尺寸',
          use: '适用于屏幕类，宣传册类',
          rule: '边长8cm（258*258px）',
          length: 258
        },
        {
          size: '中尺寸',
          use: '适用于海报，展架等',
          rule: '边长15cm（430*430px）',
          length: 430
        },
        {
          size: '大尺寸',
          use: '适用于幕布，大型广告等',
          rule: '边长50cm（1417*1417px）',
          length: 1417
        }
      ]
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.qrcode(this.dialog.url)
    })
    this.copyToClipboard()
  },
  methods: {
    // 鼠标划入使用的二维码
    qrcode(url) {
      let qrcode = new QRCode('qrcode', {
        width: 104,
        height: 104,
        text: url
      })
      Logger.log(qrcode)
    },
    // 可供下载的二维码
    qrcodeDownloadable(row) {
      this.qrcodeDownloadableObj = new QRCode('qrcodeDownloadable', {
        width: row.length,
        height: row.length,
        text: this.dialog.url
      })
    },
    // 点击下载
    downloadClick(row) {
      // 参考文档：
      // http://www.cnblogs.com/zhangkaiqiang/p/8183926.html
      // http://www.w3school.com.cn/tiy/t.asp?f=html_a_download

      this.$nextTick(() => {
        this.qrcodeDownloadable(row)
        let qrElement = this.$refs.qrcodeDownloadable
        var canvas = qrElement.querySelectorAll('canvas')[0]
        // var canvas = document.querySelector('#qrcodeDownloadable canvas')
        // 使用toDataURL方法将图像转换被base64编码的URL字符串
        var url = canvas.toDataURL('image/png')
        var a = document.createElement('a')
        // 创建一个单击事件
        var event = new MouseEvent('click')
        // 将a的download属性设置为我们想要下载的图片名称
        a.download = `${row.size}二维码` || '二维码'
        // 将生成的URL设置为a.href属性
        a.href = url
        // 触发a的单击事件
        a.dispatchEvent(event)
        // 用于清除html
        qrElement.innerHTML = ''
      })
    },
    // js 复制到剪贴板
    copyToClipboard() {
      // 参考文档：
      // https://github.com/zenorocha/clipboard.js
      // 可下载看例子
      let that = this
      var clipboard = new Clipboard('.copy-btn')
      clipboard.on('success', function (e) {
        that.$message.success('复制链接成功')
      })
      clipboard.on('error', function (e) {
        Logger.log(e)
      })
    }
  }
}
</script>
<style scoped>
</style>
