<template>
  <div>
    <vma-upload :acticon="excelProp.action" :headers="excelProp.headers" :data="excelProp.data" upload-type="excelProp.uploadType" v-model="file" :show-file-list="excelProp.showFileList" :singleFileSize="10" :exts="['xls', 'xlsx']" />
  </div>
</template>

<script>

export default {
  props: {
    excelProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: {
  },
  data() {
    return {
      file: ''
    }
  },
  created() {
  },
  methods: {
  }
}
</script>
