<template>
  <div class="ly-box">
    <div class="ly-margin-right-xs ly-width-50px">
      <div class="ly-wh-50px ly-bg-f6">
        <img alt=""
             class="ly-wh-50px"
             :src="info.img | csAvtor"
             v-image-view>
      </div>
    </div>
    <div class="ly-box-1 ly-font-color-2 line-height-14">
      <p class="ly-font-color-3">{{info.name || '--'}}</p>
      <p class="ly-margin-top-4" v-if="secretFalse">{{info.mobile || '--'}}</p><p class="ly-margin-top-4" v-if="!secretFalse">{{info.mobile | wxIdSecret}}</p>
      <p class="ly-margin-top-4" v-if="secretFalse">{{ info.id || '--'}}</p><p class="ly-margin-top-4"  v-if="!secretFalse">{{ info.id | wxIdSecret}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    },
    secretFalse: {
      type: Boolean,
      default: function () {
        return true
      }
    }
  },
  created() {
  }
}
</script>
