<template>
  <div class="ly-box">
    <div class="ly-margin-right-xs ly-width-50px">
      <div class="ly-wh-50px ly-bg-f6">
        <img  class="ly-wh-50px"
              alt=""
              :src="info.img | csAvtor"
              v-image-view>
      </div>
    </div>
    <div class="ly-box-1 ly-margin-top-nge-4">
      <p class="ly-font-color-3 ly-width-120px ly-ellipsis2">{{info.name || '--'}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  created() {
  }
}
</script>
