<template>
  <div>
    <el-cascader
      v-model="groupIdArr"
      :placeholder="placeholder"
      :props="optionProps"
      :options="groupArr"
      @change="change"
      clearable></el-cascader>
  </div>
</template>

<script>
import { commonApi } from '@/api/system'
export default {
  props: {
    placeholder: {
      type: [String],
      default: function() {
        return '请选择'
      }
    },
    groupId: {
      type: [Number],
      default: function() {
        return null
      }
    },
    modify: {
      type: Number,
      default: function() {
        return 1 // 1--修改
      }
    },
    groupType: {
      type: Number,
      default: function() {
        return 3 // 1好友分组2群分组3个人号
      }
    }
  },
  data() {
    return {
      optionProps: {
        value: 'id',
        label: 'name',
        children: 'children'
      },
      groupIdArr: [],
      groupArr: [],
      groupTypeArr: [
        { id: 1, groupType: this.groupType, name: '公共分组', disabled: true },
        { id: 2, groupType: this.groupType, name: '部门分组', disabled: true },
        { id: 0, groupType: this.groupType, name: '个人分组', disabled: true }
      ]
    }
  },
  created() {
    this.getGoupList()
  },
  methods: {
    /**
     * 获取个人号分组列表
     */
    async getGoupList() {
      let params = {
        groupType: this.groupType
      }
      let list = await commonApi.getGroupList(params)
      let groupType = [
        { id: 1, groupType: this.groupType, name: '公共分组', disabled: true },
        { id: 2, groupType: this.groupType, name: '部门分组', disabled: true },
        { id: 0, groupType: this.groupType, name: '个人分组', disabled: true }
      ]
      let chekcArr = []
      let type = this.modify
      let id = this.groupId
      list.forEach(item => {
        for (let i = 0; i < groupType.length; i++) {
          if (item.groupLevel === groupType[i].id) {
            if (type === 1 && item.id === id) {
              chekcArr.push(groupType[i].id)
              chekcArr.push(item.id)
            }
            if (!groupType[i].children) {
              groupType[i].children = []
              groupType[i].disabled = false
            }
            groupType[i].children.push(item)
            break
          }
        }
      })
      this.groupIdArr = chekcArr
      this.groupArr = groupType
    },
    change(val) {
      val = val || []
      let newVal = val[val.length - 1] || ''
      this.$emit('getInitVal', newVal)
    }
  }
}
</script>
