<template>
        <el-select @change='change' v-model="value" :placeholder="placeholder" filterable clearable>
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.groupName"
              :value="item.wxId">
            </el-option>
          </el-select>
</template>

<script>
    import {
        commonApi
    } from '@/api/system'
    export default {
        props: {
            placeholder: {
                type: [String],
                default: function() {
                    return '请选择群信息'
                }
            },
        },
        data() {
            return {
                options: [],
                value: ''
            }
        },
        async created() {
            this.options = await commonApi.getWxList();
        },
        methods: {
            change(wxId) {
                for (let i in this.options) {
                    if (wxId === this.options[i].wxId) {
                        this.value = this.options[i].groupName
                    }
                }
                this.$emit('selectVal', wxId, this.value)
            },
            clear() {
                this.value = '';
                // console.log(this.value)
            }
        }
    }
</script>