<template>
  <div>
    <div class="fileupLay">
      <span>上传数据</span>
      <input type="file"
             name="fileup"
             class="file"
             v-on:change="fileChange($event)" />
    </div>
  </div>
</template>
<script>
import { powderManageApi } from '@/api/system'
import { fileUpload } from '@/utils'
export default {
  data() {
    return {
      file: null
    }
  },
  methods: {
    async fileChange(el) {
      let formData = await fileUpload(el)
      if (!formData.formData) {
        return
      }
      powderManageApi.importExcel(formData.formData).then((res) => {
        this.success('上传成功')
      })
    }
  }
}
</script>
