<template>
  <div class="moment">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">朋友圈</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content">
        <div class="chat-moment">
          <el-button-group class="chat-moment-tabs">
            <el-button :type="tabName === 'mine' ? 'primary' : 'default'"
                       @click="() => tabName = 'mine'">我发的圈</el-button>
            <el-button :type="tabName === 'friend' ? 'primary' : 'default'"
                       @click="() => tabName = 'friend'">好友的圈</el-button>
          </el-button-group>
          <div class="chat-moment-list">
            <!--mescroll滚动区域的基本结构-->
            <mescroll-vue ref="mescroll"
                          :down="mescrollDown"
                          :up="mescrollUp"
                          @init="mescrollInit">
              <!--内容...-->
              <div>
                <chat-moment />
                <chat-moment />
                <chat-moment />
              </div>
            </mescroll-vue>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import ChatMoment from './components/chatMoment'
    import MescrollVue from 'mescroll.js/mescroll'

    export default {
        components: {
            ChatMoment,
            MescrollVue
        },
        data() {
            return {
                tabName: 'mine',
                // mescroll实例对象
                mescroll: null,
                // 下拉刷新的配置. (如果下拉刷新和上拉加载处理的逻辑是一样的,则mescrollDown可不用写了)
                mescrollDown: {},
                // 上拉加载的配置.
                mescrollUp: {
                    // 上拉回调,此处可简写; 相当于 callback: function (page, mescroll) { getListData(page); }
                    callback: this.upCallback,
                    // 以下是一些常用的配置,当然不写也可以的.
                    page: {
                        // 当前页 默认0,回调之前会加1; 即callback(page)会从1开始
                        num: 0,
                        // 每页数据条数,默认10
                        size: 10
                    },
                    htmlNodata: '<p class="upwarp-nodata">亲,没有更多数据了~</p>',
                    // 如果列表已无数据,可设置列表总数大于5才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
                    noMoreSize: 5,
                    toTop: {
                        // 回到顶部按钮
                        // src: "./static/mescroll/mescroll-totop.png", // 图片路径,默认null,支持网络图
                        // 列表滚动1000px才显示回到顶部按钮
                        offset: 1000
                    },
                    empty: {
                        // 列表第一页无任何数据时,显示的空提示布局; 需配置warpId才显示
                        // 父布局的id (1.3.5版本支持传入dom元素)
                        warpId: 'xxid',
                        // icon: './static/mescroll/mescroll-empty.png', // 图标,默认null,支持网络图
                        // 提示
                        tip: '暂无相关数据~'
                    }
                },
                // 列表数据
                dataList: []
            }
        },
        methods: {
            // mescroll组件初始化的回调,可获取到mescroll对象 (如果this.mescroll并没有使用到,可不用写mescrollInit)
            mescrollInit(mescroll) {
                this.mescroll = mescroll
            },
            // 上拉回调 page = {num:1, size:10}; num:当前页 ,默认从1开始; size:每页数据条数,默认10
            upCallback(page, mescroll) {
                // 联网请求
                // axios.get('xxxxxx', {
                //   params: {
                //     num: page.num, // 页码
                //     size: page.size // 每页长度
                //   }
                // }).then((response) => {
                //   // 请求的列表数据
                //   let arr = response.data
                //   // 如果是第一页需手动制空列表
                //   if (page.num === 1) this.dataList = []
                //   // 把请求到的数据添加到列表
                //   this.dataList = this.dataList.concat(arr)
                //   // 数据渲染成功后,隐藏下拉刷新的状态
                //   this.$nextTick(() => {
                //     mescroll.endSuccess(arr.length)
                //   })
                // }).catch((e) => {
                //   // 联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                //   mescroll.endErr()
                // })
            },
            closePage() {
                this.$emit('close-nav-page')
            }
        }
    }
</script>