<template>
  <el-dialog title="移动分组" :visible.sync="dialogVisible" width="489px" @close="closeDialog">
    <el-form :model="form">
      <el-form-item label="好友昵称:">
        <el-input v-model="form.nickName" autocomplete="off" class="ly-width-280px-im"></el-input>
      </el-form-item>
      <el-form-item label="好友分组:" required>
        <el-select v-model="form.group" class="ly-width-280px-im">
          <el-option label="分组一" :value="1"></el-option>
          <el-option label="分组二" :value="2"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="closeDialog">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: true,
      form: {
        nickName: '',
        group: ''
      }
    }
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    }
  }
}
</script>
