<template>
  <div class="my-favorites">
    <div class="nav-menu-page-container">
      <div class="nav-menu-page-header">
        <span class="title">我的收藏</span>
        <i class="el-icon-close close" @click="closePage"></i>
      </div>
      <div class="nav-menu-page-content">
        <div class="favorites-list">
          <div class="favorites-item">
            <div class="item-content">根深蒂固方便的内到访该社的苟富贵的电话风给的导火索会话点击合同鳄鱼纹结</div>
            <div class="item-bottom">
              2018-9-30
              <el-button size="mini" class="send-btn fr">发送</el-button>
            </div>
          </div>
          <div class="favorites-item">
            <div class="item-content">
              <div class="video-preview">
                <video src="http://www.runoob.com/try/demo_source/mov_bbb.mp4">您的浏览器不支持 video 标签
                </video>
                <div class="play-circle">
                  <div class="play"></div>
                </div>
              </div>
            </div>
            <div class="item-bottom">
              2018-9-30
              <el-button size="mini" class="send-btn fr">发送</el-button>
            </div>
          </div>
          <div class="favorites-item">
            <div class="item-content">
              <img src="https://goss1.veer.com/creative/vcg/veer/612/veer-136091203.jpg">
            </div>
            <div class="item-bottom">
              2018-9-30
              <el-button size="mini" class="send-btn fr">发送</el-button>
            </div>
          </div>
          <div class="favorites-item">
            <div class="item-content">
              <img src="https://goss4.veer.com/creative/vcg/veer/612/veer-157897894.jpg">
            </div>
            <div class="item-bottom">
              2018-9-30
              <el-button size="mini" class="send-btn fr">发送</el-button>
            </div>
          </div>
          <div class="favorites-item">
            <div class="item-content">
                  <div class="audio">
                    <div class="play"></div>
                  </div>
            </div>
            <div class="item-bottom">
              2018-9-30
              <el-button size="mini" class="send-btn fr">发送</el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    closePage() {
      this.$emit('close-nav-page')
    }
  }
}
</script>
