<template>
  <div>
    <el-dialog title="推送助手" custom-class="push-assistant pos-r" :visible.sync="outerVisible" :close-on-click-modal="false" @close="handleClose">
      <div class="message-push-header">
        <el-steps :active="step" align-center>
          <el-step title="选择好友/群" v-if="step === 1"></el-step>
          <el-step title="选择好友/群" icon="el-icon-circle-check-outline" class="success-step" v-else></el-step>
          <el-step title="一键推送"></el-step>
        </el-steps>
      </div>
      <chooseFriend v-if="radioTargetType === '选择好友推送消息' && step === 1"></chooseFriend>
      <chooseGroup v-else-if="radioTargetType === '选择群推送消息' && step === 1"></chooseGroup>
      <readyPush @prev-step="backFirstStep" v-if="step === 2"></readyPush>
      <div class="pos-a bottom-option" v-if="step === 1">
        <el-radio-group class="target-type" v-model="radioTargetType">
          <el-radio-button label="选择好友推送消息"></el-radio-button>
          <el-radio-button label="选择群推送消息"></el-radio-button>
        </el-radio-group>
        <el-button class="fr next-btn" type="primary" @click="nextStep">下一步</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import chooseFriend from './components/chooseFriend'
import chooseGroup from './components/chooseGroup'
import readyPush from './components/readyPush'

export default {
  props: {
    show: {
      type: Boolean,
      default: true
    }
  },
  components: {
    chooseFriend,
    chooseGroup,
    readyPush
  },
  data() {
    return {
      outerVisible: true,
      step: 1,
      radioTargetType: '选择好友推送消息',
      friendTableShow: true
    }
  },
  methods: {
    nextStep() {
      this.step = 2
    },
    handleClose() {
      this.$emit('on-close')
    },
    backFirstStep() {
      this.step = 1
    },
    changeTable() {
      this.friendTableShow = !this.friendTableShow
    }
  }
}
</script>
