<template>
  <div class="countPie"
       ref="chart"></div>
</template>

<script>
import echarts from 'echarts'
import { v3indexApi } from '@/api/system'
import options from './src/options'
import { echartResizeMixin } from '@/mixins'

export default {
  mixins: [echartResizeMixin],
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart() {
      v3indexApi.getUserSex().then(data => {
        let sum = 0
        options.series[0].data = (data || []).map(v => {
          sum += v.num
          return {
            name: ['未知', '男', '女'][v.sex],
            value: v.num
          }
        })
        options.title.text = `好友性别统计 共${sum}(位)`
        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
