<template>
  <el-form label-width="100px"
           :model="entity"
           :rules="rules"
           @submit.native.prevent
           ref="form">
    <el-form-item label="原密码"
                  prop="oldPassword">
      <el-input type="password"
                v-model.trim="entity.oldPassword"
                @keyup.native.enter="submit"
                ref="oldPassword" />
    </el-form-item>
    <el-form-item label="新密码"
                  prop="newPassword">
      <el-input type="password"
                v-model.trim="entity.newPassword"
                @keyup.native.enter="submit" />
    </el-form-item>
    <el-form-item label="重复新密码"
                  prop="reNewPassword">
      <el-input type="password"
                v-model.trim="entity.reNewPassword"
                @keyup.native.enter="submit" />
    </el-form-item>
    <el-form-item>
      <el-button @click="cancel">取消</el-button>
      <el-button type="primary"
                 @click="submit">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { formMixin } from '@/mixins'
import { passwordValidator } from '@/assets/js/validators'
import { homeApi } from '@/api/common'

export default {
  mixins: [formMixin],
  data() {
    const reNewPasswordValidator = (rule, value, callback, source, options) => {
      let errors = []
      if (value && value !== this.entity.newPassword) {
        errors.push(rule.message || '两次输入的密码不一致')
      }
      callback(errors)
    }
    return {
      entity: {
        oldPassword: '',
        newPassword: '',
        reNewPassword: ''
      },
      rules: {
        oldPassword: [
          { required: true, message: '请输入原密码' }
        ],
        newPassword: [
          { required: true, message: '请输入新密码' },
          { validator: passwordValidator }
        ],
        reNewPassword: [
          { required: true, message: '请再次输入新密码' },
          { validator: reNewPasswordValidator }
        ]
      }
    }
  },
  created() {
    this.$nextTick(() => {
      this.$refs.oldPassword.focus()
    })
  },
  methods: {
    submit() {
      this.$refs.form.validate().then(valid => {
        if (valid) {
          homeApi.modifyPassword(Object.assign({}, this.entity)).then(() => {
          //  window.localStorage.setItem("x",2);
            this.$emit('after-submit')
          })
        }
      })
    }
  }
}
</script>
