<template>
  <div>
    <!-- 筛选查询 -->
    <search @search="search"
            entry="authorizedShop" />
    <!-- 数据列表 -->
    <div class="ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="平台类型"
                         prop="type" />
        <el-table-column label="店铺名称"
                         prop="shopName" />
        <!--<el-table-column label="店铺类目"-->
                         <!--prop="shopCategory" />-->
        <el-table-column label="授权时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.startTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="所属企业"
                         prop="enterpriseName" />
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
  </div>
</template>

<script>
import search from '../search'
import { customerManageApi } from '@/api/sms'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  props: {
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  components: {
    search
  },
  data() {
    return {
      date: '',
      params: {
        beginTime: '',
        endTime: '',
        enterpriseId: ''
      }
    }
  },
  created() {
    this.params.enterpriseId = this.info.id
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await customerManageApi.getOmsListShopList(this.params).then(res => {
        this.tableData = res
      })
    },
    search(params, type) {
      this.params.beginTime = params.beginTime
      this.params.endTime = params.endTime
      if (type) {
        this.getTableList(1)
      }
    }
  }
}
</script>
