<template>
  <div>
    <el-form>
      <el-form-item label="消息类型:" :label-width="formLabelWidth">
        <el-select v-model="messageType" placeholder="请选择消息类型" @change="messageTypeChange" clearable>
          <!-- <el-option label="文本消息1" :value="MESSAGE_TPYE_KEY.TXT"></el-option> -->
          <el-option label="图片消息" :value="MESSAGE_TPYE_KEY.IMG"></el-option>
          <!-- <el-option label="语音消息" :value="MESSAGE_TPYE_KEY.AUDIO1111111111111111"></el-option> -->
          <el-option label="视频消息" :value="MESSAGE_TPYE_KEY.VIDEO"></el-option>

          <!-- 公众号图文 -->
          <el-option label="公众号图文" :value="MESSAGE_TPYE_KEY.PUBLICK"></el-option>
        </el-select>
        <el-button type="primary" size="medium" v-if="(messageType===MESSAGE_TPYE_KEY.IMG || messageType===MESSAGE_TPYE_KEY.AUDIO || messageType===MESSAGE_TPYE_KEY.VIDEO ) && imgList.length<limit" @click="showCheckMaterialDialog">选择素材</el-button>
      </el-form-item>
      <el-form-item label="消息内容:" :label-width="formLabelWidth" v-if="(messageType===MESSAGE_TPYE_KEY.IMG || messageType===MESSAGE_TPYE_KEY.AUDIO || messageType===MESSAGE_TPYE_KEY.VIDEO )">
        <template v-if="messageType===MESSAGE_TPYE_KEY.TXT">
          <messageOfText v-model="content"></messageOfText>
        </template>
        <template v-if="messageType===MESSAGE_TPYE_KEY.IMG">
          <vma-image-upload v-model="imgList" :limit="limit" :multiple="limit>0?true:false" :singleFileSize="10" />
          <p class="colortip"></p>
        </template>
        <template v-if="messageType===MESSAGE_TPYE_KEY.AUDIO">
          <messageOfAudio v-model="audioList" ref="messageAudioEle" :limit="limit"></messageOfAudio>
          <!--<div class="uploadaudio-btn">-->
          <!--<el-button type="success" size="medium" @click="uploadAudio">上传语音</el-button>-->
          <!--</div>-->
          <!--<div class="ly-box">-->
          <!--<p class="colortip">-->
          <!--上传的语音素材必须通过该专用转换工具转换后上传<br />-->
          <!--目前只支持wav格式，语音大小不超过10MB<br />-->
          <!--语音文件大小超过60秒，微信发送会失败-->
          <!--</p>-->
          <!--<div class="uploadaudio">-->
          <!--<el-button type="primary"  size="medium">下载语音转换工具</el-button>-->
          <!--</div>-->
          <!--</div>-->
        </template>
        <template v-if="messageType==MESSAGE_TPYE_KEY.VIDEO">
          <messageOfVideo v-model="videoList" :posterArrProps="posterArr" ref="messageVideoEle" :limit="1" @getVideoLength="getVideoLength"></messageOfVideo>
          <p class="colortip">视频大小不超过20MB</p>
        </template>
      </el-form-item>

      <el-form-item label="图文链接:" :label-width="formLabelWidth" v-if="messageType===MESSAGE_TPYE_KEY.PUBLICK">
        <!-- 公众号图文 -->
        <el-input v-model="imageTextUrl" clearable></el-input>
      </el-form-item>
    </el-form>
    <!--选择素材-->
    <el-dialog title="选择素材" width="880px" class="checkmatter-container diaolog-height-auto" :visible.sync="checkMaterialDialog.show" v-if="checkMaterialDialog.show" @close="closecheckMaterialDialog" append-to-body>
      <materialDialog :dialogProp="checkMaterialDialog" @closeDialog="closecheckMaterialDialog" @postData="getPostData"></materialDialog>
    </el-dialog>
  </div>
</template>

<script>
import messageOfText from './messageOfText'
import messageOfAudio from './messageOfAudio'
import messageOfVideo from './messageOfVideo'
import {
  materialDialog
} from '@/components/common/materialManageGroup'
import {
  MESSAGE_TPYE_KEY
} from '@/constants/messageType'
import Upload from '@/assets/js/upload'

export default {
  components: {
    messageOfText,
    messageOfAudio,
    messageOfVideo,
    materialDialog
  },
  props: {
    limit: {
      type: Number
    },
    info: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  watch: {
    imgList (val, ok) { }
  },
  data () {
    return {
      formLabelWidth: '136px',
      MESSAGE_TPYE_KEY: MESSAGE_TPYE_KEY,
      content: '',
      imgList: [],
      videoList: [],
      posterArr: [],
      audioList: [],
      messageType: '',
      recorderData: '',
      checkMaterialDialog: {},
      // 公众号图文
      imageTextUrl: ''
    }
  },
  created () {
    this.modifyCreate()
  },
  methods: {
    /**
     * 获取视频时长
     */
    getVideoLength (time) {
      if (time > 15.10) {
        this.$refs.messageVideoEle.deleteVedio(null, 0)
        this.error('视频不能大于15s')
      }
    },
    /**
     * 针对编辑进行数据初始化
     */
    modifyCreate () {
      console.log('this.info', this.info)
      if (this.info.msgType) {
        this.messageType = this.info.msgType
        switch (this.info.msgType) {
          case this.MESSAGE_TPYE_KEY.TXT:
            this.content = this.info.content
            break
          case this.MESSAGE_TPYE_KEY.IMG:
            this.imgList = this.info.imgList
            break
          case this.MESSAGE_TPYE_KEY.AUDIO:
            this.audioList = this.info.audioList
            break
          case this.MESSAGE_TPYE_KEY.VIDEO:
            this.videoList = this.info.videoList
            this.posterArr = this.info.posterArr
            break
          // 公众号图文链接
          case this.MESSAGE_TPYE_KEY.PUBLICK:
            this.imageTextUrl = this.info.imageTextUrl
            break
        }
      }
    },
    /**
     * 切换消息类型
     */
    messageTypeChange (val) { },
    async uploadAudio () {
      let audioObj = this.$refs.messageAudioEle.audioSrc()
      if (audioObj) {
        let up = new Upload()
        let url = await up.upload(audioObj)
        this.audioList = [url.url]
      }
    },
    /**
     * 整理消息给父组件
     */
    getMessageInfo () {
      let videoArrInfo = []
      if (this.$refs.messageVideoEle) {
        videoArrInfo = this.$refs.messageVideoEle.getUploadInfo()
      }
      let messageObj = {}
      switch (this.messageType) {
        case this.MESSAGE_TPYE_KEY.TXT:
          messageObj.msgText = this.content
          break
        case this.MESSAGE_TPYE_KEY.IMG:
          messageObj.msgText = this.imgList.join(',')
          break
        case this.MESSAGE_TPYE_KEY.AUDIO:
          messageObj.msgText = this.audioList.join(',')
          break
        case this.MESSAGE_TPYE_KEY.VIDEO:
          if (videoArrInfo.length) {
            let videoArr = []
            let imgArr = []
            videoArrInfo.forEach(o => {
              videoArr.push(o.video)
              imgArr.push(o.img)
            })
            messageObj.msgText = videoArr.join(',')
            messageObj.coverInfo = imgArr.join(',')
          } else {
            messageObj.msgText = ''
            messageObj.coverInfo = ''
          }
          break
        // 公众号图文链接
        case this.MESSAGE_TPYE_KEY.PUBLICK:
          messageObj.msgText = this.imageTextUrl

          break
      }
      messageObj = Object.assign(messageObj, {
        msgType: this.messageType
      })
      return messageObj
    },
    /**
     * 选择素材--弹窗显示
     */
    showCheckMaterialDialog () {
      this.checkMaterialDialog = {
        show: true,
        msgType: this.messageType
      }
    },
    /**
     * 选择素材--弹窗关闭
     */
    closecheckMaterialDialog () {
      this.checkMaterialDialog = {}
    },
    getPostData (data) {
      switch (data.msgType) {
        case this.MESSAGE_TPYE_KEY.IMG:
          this.imgList.push(data.msgText)
          break
        case this.MESSAGE_TPYE_KEY.AUDIO:
          this.audioList = [data.msgText]
          break
        case this.MESSAGE_TPYE_KEY.VIDEO:
          this.videoList = [data.msgText]
          this.posterArr = [{
            img: data.coverInfo,
            video: data.msgText
          }]
          break
        // 公众号图文链接
        case this.MESSAGE_TPYE_KEY.PUBLICK:
          this.imageTextUrl = [data.msgText]
          break
        default:
          break
      }
      this.closecheckMaterialDialog()
    }
  }
}
</script>
