<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-button type="primary"
                 size='small'
                 @click="search">刷新</el-button>
      <el-button type="primary"
                 size='small'
                 icon="el-icon-download"
                 @click="exportFile">导出</el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="table.list"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px"
                     :src="scope.row.headIcon | wechatAvtor"
                     v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.account}}</p>
                <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="微信备注"
                         prop="remark" />
        <el-table-column label="设备保管者姓名"
                         prop="staffName" />
                         
        <el-table-column label="设备保管者电话"
                         prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门"
                         prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="微信设备备注"
                         prop="equipRemark" />
        <el-table-column label="群总数量"
                         prop="totalRoomCount" />
        <el-table-column label="30天新增"
                         prop="thirtyCount" />
        <el-table-column label="昨日新增"
                         prop="yesterdayCount" />
        <el-table-column label="今日新增"
                         prop="todayCount" />
        <el-table-column label="显示趋势">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="showDetail(Object.assign({}, scope.row, {type: 1}))">30天趋势图</el-button>
            <el-button type="text"
                       size="small"
                       @click="showDetail(Object.assign({}, scope.row, {type: 2}))">1年趋势图</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog class="dialog-hide-footer dialog-lg"
               :title="detail.entity ? ['', '30天趋势图', '1年趋势图'][detail.entity.type] : '详情'"
               :visible.sync="detail.show" append-to-body>
      <mod-detail v-if="detail.show"
                  :data="detail.entity" />
    </el-dialog>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
import { v3indexApi } from '@/api/system'
import ModDetail from './detail'
import { downloadFile } from '@/utils'

export default {
  mixins: [indexMixin],
  components: {
    ModDetail
  },
  methods: {
    list(current, size) {
      v3indexApi.getChatroom(Object.assign({}, this.params)).then(data => {
        this.table.list = data || []
      })
    },
     // 导出
    exportFile() {
      v3indexApi.exportChatroom(this.params).then((res) => {
        downloadFile(res, '微信群统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    // exportFile() {
    //   this.downloadFile(v3indexApi.exportChatroom(Object.assign({}, this.params)), '微信群统计.xls')
    // }
  }
}
</script>
