<template>
  <div>
    <el-row>
      <!-- 左边 -->
      <el-col :span="11">
        <div class="newgroupsent-grid-content newgroupsent-grid-content-box1">
          <!-- 左边 导入模板、上传数据 -->
          <div class="ly-margin-center">
            <div style="padding:0 30px 10px 30px">
              <el-button type="primary"
                         size="medium"
                         @click="downloadExcel">下载导入模板（Excel）</el-button>
              <!-- 上传数据 -->
              <div class="fileupLay">
                <span>上传数据</span>
                <input type="file"
                       name="fileup"
                       class="file"
                       v-on:change="fileChange($event)" />
              </div>
            </div>
            <el-form label-width="120px"
                     class="ly-margin-right-30px">
              <el-form-item label="添加手机号：">
                <el-input v-model="inputPhones"
                          class="ly-margin-top-20px"
                          type="textarea"
                          :rows="6"
                          placeholder="请填写手机号，多个手机号用回车分隔;若有重复号码，系统会自动去重"></el-input>
              </el-form-item>
              <el-form-item>
                <p class="ly-font-color-4 fl">
                  <span>格式参考：</span>
                  <br />
                  <span>18200006986</span>
                  <br />
                  <span>18300005084</span>
                </p>
                <el-button class="fr"
                           type="primary"
                           @click="addInputPhones">添加</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
      </el-col>
      <!-- 右边 -->
      <el-col :span="13">
        <div class="newgroupsent-grid-content newgroupsent-grid-content-box2">
          <div class="ly-margin-center">
            <el-transfer filterable
                         ref="telTransfer"
                         :titles="['未选手机号列表', '已选手机号列表']"
                         :props="{key: 'id', label: 'phone'}"
                         filter-placeholder="请输入手机号"
                         target-order='unshift'
                         v-model="transferValue"
                         :data="phoneList">
            </el-transfer>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { commonApi, marketPlatformApi } from '@/api/system'
import BtnSelect from '@/components/common/btnSelect'
import { fileUpload } from '@/utils'

export default {
  components: { BtnSelect },
  data() {
    return {
      file: null,
      inputPhones: '', // 表单输入电话
      form: {
      },
      transferValue: [],
      phoneList: []
    }
  },
  methods: {
    // 生成一个用不重复的ID
    randomToID(randomLength) {
      return Number(Math.random().toString().substr(3, randomLength) + Date.now()).toString(36)
    },
    // 转换成transfer支持格式
    arrToTransferData(arr) {
      let list = []
      arr.forEach((o, i) => {
        if (o) {
          list.push({ phone: o.trim(), id: this.randomToID() })
        }
      })
      return list
    },
    // 文件上传
    async fileChange(el) {
      let formData = await fileUpload(el, ['xls', 'xlsx'], 1)
      if (!formData.formData) {
        return
      }
      marketPlatformApi.importPhones(formData.formData).then((res) => {
        // 转换成transfer支持格式
        let list = this.arrToTransferData(res)
        this.phoneList = [...this.phoneList, ...list]
        this.success('上传成功')
      })
    },
    // 添加手机号
    addInputPhones() {
      if (this.inputPhones) {
        let list = this.arrToTransferData(this.inputPhones.replace(/\n/g, ';').split(';'))
        this.phoneList = [...this.phoneList, ...list]
        this.success('添加成功')
        this.inputPhones = ''
      } else {
        this.warn('请先输入手机号码')
      }
    },
    /**
    * 短信群发--导出excel
    */
    async downloadExcel() {
      await commonApi.systemConfig('message_template').then((res) => {
        window.open(res)
        this.success('恭喜你，导出成功')
      })
    },
    // 下一步
    nextStep() {
      let list = []
      this.phoneList.forEach((o, i) => {
        if (this.transferValue.indexOf(o.id) > -1) {
          list.push(o)
        }
      })
      return list
    }
  }
}
</script>
<style scoped>
</style>
