<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="datetimerange"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="openCallback($event,'add')">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="appName"
                         label="APP名称">
        </el-table-column>
        <el-table-column prop="type"
                         label="类型">
        </el-table-column>
        <el-table-column prop="versionNumber"
                         label="版本号">
        </el-table-column>
        <el-table-column prop="versionCode"
                         label="版本code">
        </el-table-column>
        <el-table-column prop="forceUpdate"
                         label="强制升级">
          <template slot-scope="scope">
            <span>{{scope.row.forceUpdate === 1 ? '是' : '否'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="创建时间"
                         width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <el-dialog width="560px"
               title="版本新增"
               :visible.sync="dialog.open">
      <addApp :dialog="dialog"
              v-if="dialog.open"
              @getTableList="getTableList"></addApp>
    </el-dialog>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import addApp from './components/addApp.vue'
import { systemSettingsApi } from '@/api/sms'

export default {
  mixins: [tableMixin],
  components: {
    addApp
  },
  data() {
    return {
      activeNames: ['1'],
      dialog: {
        open: false,
        data: {
          appTypeId: null,
          remark: null,
          url: null,
          versionCode: null,
          versionNumber: null
        }
      }
    }
  },
  methods: {
    /**
     * 超级后台app版本管理
     */
    async requestTableList() {
      await systemSettingsApi.getAppVersionRecords(this.params).then((res) => {
        this.tableData = res
      })
    },
    /**
     * 打开审核弹窗
     */
    openCallback(defObj, val) {
      switch (val) {
        case 'add':
          this.dialog = {
            open: true,
            data: {}
          }
          break
      }
    }
  }
}
</script>
