<template>
  <div>
    <table border="1"
           cellspacing="0"
           class="detail-info-table ly-font-color-4 ly-font-14">
      <tbody align="left">
        <tr>
          <td align="center">创建时间</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{fmt.date(orderDetail.orderTime) || '--'}}</td>
          <td align="center">付款时间</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{fmt.date(orderDetail.payTime) || '--'}}</td>
        </tr>
        <tr>
          <td align="center">发货时间</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{fmt.date(orderDetail.deliveryTime) || '--'}}</td>
          <td align="center">成交时间</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{fmt.date(orderDetail.finishTime) || '--'}}</td>
        </tr>
        <tr>
          <td align="center">订单来源</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2"
              v-if="orderDetail.source === 1">自动同步</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2"
              v-else-if="orderDetail.source === 2">导入</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2"
              v-else>--</td>
          <td align="center">订单状态</td>
          <td class="ly-padding-horizontal-sm ly-font-color-9"
              v-if="orderDetail.tradingStatus === 1">待付款</td>
          <td class="ly-padding-horizontal-sm ly-font-color-9"
              v-else-if="orderDetail.tradingStatus === 2">待发货</td>
          <td class="ly-padding-horizontal-sm ly-font-color-9"
              v-else-if="orderDetail.tradingStatus === 3">待收货</td>
          <td class="ly-padding-horizontal-sm ly-font-color-9"
              v-else-if="orderDetail.tradingStatus === 4">待评价</td>
          <td class="ly-padding-horizontal-sm ly-font-color-5"
              v-else-if="orderDetail.tradingStatus === 5">交易成功</td>
          <td class="ly-padding-horizontal-sm ly-font-color-7"
              v-else-if="orderDetail.tradingStatus === 6">交易关闭</td>
          <td class="ly-padding-horizontal-sm"
              v-else>--</td>
        </tr>
        <tr>
          <td align="center">订单号</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{orderDetail.orderNo || '--'}}</td>
          <td align="center">店铺名称</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{orderDetail.shopName || '--'}}</td>
        </tr>
        <tr>
          <td align="center">平台类型</td>
          <td class="ly-padding-horizontal-sm"
              v-if="orderDetail.type === 1"
              colspan="2">淘宝</td>
          <td class="ly-padding-horizontal-sm"
              v-else-if="orderDetail.type === 2"
              colspan="2">京东</td>
          <td class="ly-padding-horizontal-sm"
              v-else-if="orderDetail.type === 3"
              colspan="2">拼多多</td>
          <td class="ly-padding-horizontal-sm"
              v-else
              colspan="2">--</td>
          <td align="center">实收金额</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{orderDetail.totalPay || '--'}}</td>
        </tr>
        <tr>
          <td align="center">购物账号</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{orderDetail.buyersAccount || '--'}}</td>
          <td align="center">收货人</td>
          <td class="ly-padding-horizontal-sm"
              colspan="2">{{orderDetail.recipient || '--'}}</td>
        </tr>
        <tr>
          <td align="center">联系电话</td>
          <td class="ly-padding-horizontal-sm"
              colspan="4">{{orderDetail.phone || '--'}}</td>
        </tr>
        <tr>
          <td align="center">收货地址</td>
          <td class="ly-padding-horizontal-sm"
              colspan="4">{{orderDetail.receiverAddressComplete || '--'}}</td>
        </tr>
        <tr>
          <td align="center">备注</td>
          <td class="ly-padding-horizontal-sm"
              colspan="4">{{orderDetail.remark || '--'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="detail-margin-top">
      <div class="detail-info-div">
        <el-table :data="[orderDetail]"
                  border
                  style="width: 100%"
                  class="ly-font-color-4 ly-font-14">
          <el-table-column prop="date"
                           label="宝贝"
                           width="357">
            <template slot-scope="scope">
              <div class="ly-box">
                <div>
                  <img :src="scope.row.goodsPicUrl | productAvtor"
                       class="product-detail-pic"
                       v-image-view>
                </div>
                <div class="ly-paddingleft-10px">
                  <p class="product-detail-title ly-font-12 ly-font-color-4">{{scope.row.goodsName}}</p>
                </div>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="goodsNum"
                           label="数量" />
          <el-table-column prop="goodsPrice"
                           label="单价" />
          <el-table-column prop="evaluation"
                           label="评价" />
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import { commonApi } from '@/api/system'

export default {
  props: ['dialog'],
  data() {
    return {
      orderDetail: {}
    }
  },
  created() {
    this.getDetail()
  },
  methods: {
    async getDetail() {
      this.orderDetail = await commonApi.getOrder(this.dialog.id)
    }
  }
}
</script>
