<template>
  <div>
    <div>
      <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm">
        <span class="ly-vertical-line">活动概况</span>&ensp;
        <el-popover trigger="hover" placement="top" style="display: inline-block;vertical-align: bottom;">
          <p>所展示的浏览/参与/返现人数均已去重</p>
          <div class="ell2 ly-overflow-hidden" slot="reference">
            <i class="el-icon-question ly-font-color-5 ly-font-16 ly-cursor-pointer"></i>
          </div>
        </el-popover>
      </div>
      <div class="page-ins">
        <div class="page-ins-item">
          <p class="page-ins-val">{{details.viewCount}}</p>
          <p class="page-ins-key" v-if="details.datas && details.datas.length">{{details.datas[0].name}}</p>
          <p class="page-ins-key" v-else>浏览人数</p>
        </div>
        <div class="page-ins-item">
          <p class="page-ins-val">{{details.joinCount}}</p>
          <p class="page-ins-key" v-if="details.datas && details.datas.length">{{details.datas[1].name}}</p>
          <p class="page-ins-key" v-else>参与人数</p>
        </div>
        <div class="page-ins-item">
          <p class="page-ins-val">{{details.moneyCount}}</p>
          <p class="page-ins-key" v-if="details.datas && details.datas.length">{{details.datas[2].name}}</p>
          <p class="page-ins-key" v-else>返现人数</p>
        </div>
      </div>
    </div>
    <div>
      <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box">
        <div class="ly-box-1">
          <span class="ly-vertical-line" style="height:17px;line-height:17px;">数据统计</span>
          <el-popover trigger="hover" placement="top" style="display: inline-block;vertical-align: bottom;">
            <p>仅展示近30天数据</p>
            <div class="ell2 ly-overflow-hidden" slot="reference">
              <i class="el-icon-question ly-font-color-5 ly-font-16 ly-cursor-pointer"></i>
            </div>
          </el-popover>
        </div>
        <span style="margin-top: -7px;">
          <el-date-picker v-model="date" class="ly-margin-right-bottom-sm" type="daterange" value-format="timestamp" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" :picker-options="pickerOptions" @change="changeDate" size="small">
          </el-date-picker>
          <el-button type="primary" size="small" @click="getList">搜索</el-button>
        </span>
      </div>
      <line-chart :list="statistics.list" :legend="statistics.legend" />
    </div>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialog.open = false">关闭</el-button>
    </div>
  </div>
</template>

<script>
import LineChart from './LineChart'
import { timePickSession } from '@/storage'
import { getDateZone } from '@/utils'
export default {
  components: {
    LineChart
  },
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data () {
    return {
      date: '',
      details: {},
      statistics: {
        legend: [],
        list: []
      },
      pickerOptions: {
        disabledDate (time) {
          let datas = timePickSession.getJSON()
          let timeObj = getDateZone(30, datas, 'startTime', 'endTime')
          return !(time.getTime() >= timeObj.startTime && time.getTime() <= timeObj.endTime)
        }
      }
    }
  },
  destroyed () {
    timePickSession.remove()
  },
  created () {
    this.defaultValFun()
    timePickSession.setJSON(this.dialog)
  },
  methods: {
    changeDate (val) {
      this.date = val || []
    },
    defaultValFun () {
      let datas = this.dialog
      let timeObj = getDateZone(30, datas, 'startTime', 'endTime')
      let dates = [timeObj.startTime, timeObj.endTime]
      this.date = dates
      this.getList()
    },
    // 统计
    getList () {
      let parameter = { id: this.dialog.id }
      if (this.date && this.date.length) {
        let endTime = new Date(this.date[1])
        let newEndTime = new Date(endTime.getFullYear(), endTime.getMonth(), endTime.getDate(), 23, 59, 59, 999).getTime()
        parameter.startTime = this.date[0]
        parameter.endTime = newEndTime
        let marTime = parameter.endTime - parameter.startTime - 30 * 24 * 3600 * 1000
        if (marTime > 0) {
          this.$notify({
            title: '提示',
            message: '时间区间不能大于30天',
            type: 'warning'
          })
        } else {
          this.$emit('getStatistics', parameter)
        }
      } else {
        this.$notify({
          title: '提示',
          message: '请选择时间',
          type: 'warning'
        })
      }
    },
    handleList (data) {
      this.details = data
      this.statistics.legend = []
      for (let i = 0; i < data.days.length; i++) {
        let item = data.days[i]
        let time = this.fmt.date(item, 'MM-dd')
        this.statistics.legend.push(time)
      }
      for (let i = 0; i < data.datas.length; i++) {
        let item = data.datas[i]
        item.type = 'line'
        item.stack = '总量' + i
        item.data = item.number
      }
      this.statistics.list = data.datas
    }
  }
}
</script>
