<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-date-picker class="ly-margin-right-xs" type="daterange" size='small' range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :default-time="['00:00:00', '23:59:59']" :clearable="false" v-model="dateRange.params" :picker-options="expireTimeOption" @change="delaySearch">
      </el-date-picker>
      <el-select placeholder="请选择" class="ly-margin-right-xs" style="width: 120px;" size='small' v-model="params.isPass" @change="search">
        <el-option :value="1" label="已通过好友" />
        <el-option :value="0" label="未通过好友" />
      </el-select>
      <departmenTreeCascadert v-model="departmentId" filterable size='small' clearable placeholder="团队" class="ly-margin-right-bottom-sm"></departmenTreeCascadert>
      <el-button type="primary" size='small' @click="search">搜索</el-button>
      <el-button type="primary" size='small' icon="el-icon-download" @click="exportFile">导出</el-button>
      <el-tag size="medium ">新增好友总数: {{takingCount}}</el-tag>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable" :data="table.list" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="个人号" width="250px">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px" :src="scope.row.headIcon | wechatAvtor" v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.account}}</p>
                <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="微信备注" prop="wechatRemark" />
        <el-table-column label="设备保管者姓名" prop="staffName">
          <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者电话" prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门" prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="新增总数" width="150px" prop="totalCount" />
        <el-table-column label="新增男性" width="150px" prop="maleCount" />
        <el-table-column label="新增女性" width="150px" prop="femaleCount" />
        <el-table-column label="新增未知" width="150px" prop="unKnowCount" />
        <el-table-column label="三期加微发起量" width="150px" prop="requestCount" />
        <el-table-column label="三期加微通过量" width="150px" prop="successCount" />
      </el-table>
    </div>
  </div>
</template>

<script>
import {
  indexMixin
} from '@/mixins'
import {
  watchDateRangeToTimestamp,
  getRangeDate,
  accurateTodate,
  downloadFile
} from '@/utils'
import {
  v3indexApi
} from '@/api/system'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  mixins: [indexMixin],
  components: {
    departmenTreeCascadert
  },
  watch: {
    departmentId: function (val, oldVal) {
      if (val.length) {
        this.params.departmentId = val[val.length - 1]
      } else {
        this.params.departmentId = ''
      }
    }
  },
  data () {
    return {
      takingCount: ' null',
      departmentId: [],
      params: {
        from: '',
        to: '',
        isPass: 1,
        departmentId: ''
      },
      // blackData: [{
      //   name: '无',
      //   id: 0
      // }],
      dateRange: {
        params: ''
      },
      expireTimeOption: {
        disabledDate (date) {
          var timeStamp = new Date(new Date().setHours(23, 59, 59, 0)).getTime()
          return date.getTime() > timeStamp
        }
      }
    }
  },
  created () {
    this.$watch('dateRange.params', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    const weekDate = getRangeDate()
    var timeStamp = new Date(new Date().setHours(0, 0, 0, 0))
    weekDate.now = accurateTodate(timeStamp, 23, 59, 59)
    this.dateRange.params = [weekDate.then, weekDate.now]
  },
  methods: {
    list (current, size) {
      v3indexApi.getUserIncreaseRank(Object.assign({}, this.params)).then(data => {
        this.table.list = data || []
        this.takingCount = this.table.list[0].sum
      })
    },
    // 导出
    exportFile () {
      v3indexApi.exportUserIncreaseRank(this.params).then((res) => {
        this.success(res)
      })
    }

    // exportFile() {
    //   this.downloadFile(v3indexApi.exportUserIncreaseRank(Object.assign({}, this.params)), '好友增长排行.xls')
    // }
  }
}
</script>
