<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.title"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="微活码名称"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-input v-model.trim="params.staff"
                    @keyup.native.enter="getTableList(1,params.size)"
                    :maxlength='100'
                    placeholder="创建员工"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          @change="dateChange"
                          range-separator="至"
                          start-placeholder="创建开始日期"
                          end-placeholder="创建结束日期"
                          :default-time="['00:00:00', '23:59:59']">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1,params.size)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="openCallback('add',null)">新增</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="最后编辑时间"
                         width="200">
          <template slot-scope="scope">
            <span>{{scope.row.updateTime | date}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="title"
                         label="微活码名称">
        </el-table-column>
        <el-table-column prop="staff"
                         label="创建员工">
        </el-table-column>
        <el-table-column prop="personNum"
                         label="个人号数">
        </el-table-column>
        <el-table-column prop="status"
                         label="使用状态">
          <!-- 状态：0无效1有效-->
          <template slot-scope="scope">
            <span v-if="scope.row.status==0">已停用</span>
            <span v-if="scope.row.status==1">使用中</span>
          </template>
        </el-table-column>
        <el-table-column prop="addNum"
                         label="添加人数">
        </el-table-column>
        <el-table-column label="操作"
                         width="230">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback('edit',scope.row)">编辑</el-button>
            <el-button type="text"
                       size="small"
                       @click="openCallback('download',scope.row)">下载</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm">
        <vma-pagination v-if="totalComputed"
                        class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change='getTableList' />
      </div>
    </div>
    <!-- 新增或者编辑微活码 -->
    <div v-if="dialog.open && (dialog.name==='add' || dialog.name==='edit')">
      <vma-dialog v-model="dialog.open"
                  :title="dialog.name==='edit'?'编辑微活码':'新增微活码'">
        <NewOrEditMicroCode :dialog="dialog"
                            @on-success='getTableList(1, params.size)'></NewOrEditMicroCode>
      </vma-dialog>
    </div>
    <el-dialog title="微活码推广"
               class="ly-font-color-4"
               width="620px"
               :visible.sync="dialog.open && dialog.name==='download'"
               @close="closeCallback" append-to-body>
      <DownloadCode v-if="dialog.open"
                    :dialog="dialog"></DownloadCode>
    </el-dialog>
  </div>
</template>

<script>
import { powderManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'
import NewOrEditMicroCode from './components/microCode/newOrEditMicroCode' // 新增或者编辑微活码
import ShowMicroCode from './components/microCode/showMicroCode' // 展示二维码
import DownloadCode from '@/components/common/downloadCode.vue'

export default {
  mixins: [tableMixin],
  components: { NewOrEditMicroCode, ShowMicroCode, DownloadCode },
  data() {
    return {
      activeNames: ['1'],
      id: null,
      dialog: {
        open: false,
        name: null,
        id: null,
        url: null
      },
      isEdit: false,
      linkUrl: ''
    }
  },
  methods: {
    async requestTableList() {
      const data = await powderManageApi.getMicroCodeList(this.params)
      this.tableData = data
    },
    openCallback(key, row) {
      this.dialog.open = true
      this.dialog.name = key
      if (row) {
        this.id = row.id
        this.dialog.url = row.shortLink
        this.dialog.id = this.id
      } else {
        this.id = null
        this.dialog.url = null
        this.dialog.id = null
      }
    },
    closeCallback() {
      this.dialog.open = false
      if (this.dialog.name === 'download') {
        this.getTableList(this.params.current, this.params.size)
      }
    },
    // 删除
    async deleteCallback(id) {
      await powderManageApi.delMicroCode(id)
      this.getTableList(1, this.params.size)
    }
  }
}
</script>
