<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input v-model.trim="params.relatesInformation"
                    placeholder="微信号/微信昵称/手机号"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    maxlength="100">
          </el-input>
          <el-select v-model="params.status"
                     class="ly-margin-right-bottom-sm"
                     placeholder="执行状态"
                     clearable>
            <el-option v-for="item in executionState"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="friends.open = true">手机号/微信号加好友</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="个人号信息"
                         min-width="200">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img class="ly-wh-50px"
                     :src="scope.row.headIcon | wechatAvtor"
                     v-image-view />
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                <p class="ly-margin-top-4">{{scope.row.wechatAccountPhone}}</p>
                <p class="ly-margin-top-4">{{scope.row.wechatAccount}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="fansPhone"
                         label="手机/微信号"
                         min-width="200">
        </el-table-column>
        <el-table-column prop="msg"
                         label="消息内容"
                         min-width="160">
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span class="ly-font-color-12"
                  v-if="scope.row.status==1">执行中</span>
            <span class="ly-font-color-7"
                  v-else-if="scope.row.status==2">执行失败</span>
            <span class="ly-font-color-5"
                  v-else>执行成功</span>
          </template>
        </el-table-column>
        <el-table-column prop="failReason"
                         label="失败原因"
                         min-width="100">
          <template slot-scope="scope">
            <span v-if="scope.row.failReason=='User do not exist'">用户不存在</span>
            <span v-else>{{scope.row.failReason || ''}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffName"
                         label="操作员工">
        </el-table-column>
        <el-table-column prop="name"
                         label="创建时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="remark"
                         label="备注">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
      <!-- 弹窗 -->
      <el-dialog title="手机号/微信号加好友"
                 :visible.sync="friends.open"
                 width="639px" append-to-body>
        <addFriends :dataInfo="friends"
                    v-if="friends.open"
                    @getTableList="getTableList"></addFriends>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import addFriends from './components/phonePlus'
import { powderManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { addFriends },
  data() {
    return {
      activeNames: ['1'],
      executionState: [
        {
          value: 1,
          label: '执行中'
        },
        {
          value: 2,
          label: '执行失败'
        },
        {
          value: 3,
          label: '执行成功'
        }
      ],
      params: {
        relatesInformation: '',
        status: ''
      },
      friends: {
        open: false
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await powderManageApi.fansList(this.params).then(res => {
        this.tableData = res
      })
    }
  }
}
</script>
