<template>
  <div>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button size="small"
                     @click="getTableList(1)">刷新</el-button>
          <el-button type="primary"
                     size="small"
                     @click="importFriends.open = true">导入加好友</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="任务执行时间段"
                         width="160"
                         class-name="ly-text-center">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.startTime)+'~'+fmt.date(scope.row.entTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffName"
                         label="操作员工">
          <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="entTime"
                         label="每日有效时段"
                         min-width="110">
          <template slot-scope="scope">
            <span>{{scope.row.dayStartTime+'~'+scope.row.dayEndTime}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="friendNum"
                         label="每轮好友数"
                         min-width="100">
        </el-table-column>
        <el-table-column prop="interval"
                         label="每轮间隔（分钟）"
                         min-width="150">
        </el-table-column>
        <el-table-column prop="msg"
                         label="消息内容"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{scope.row.msg || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span class="ly-font-color-12"
                  v-if="scope.row.status == 1">执行中</span>
            <span class="ly-font-color-5"
                  v-else-if="scope.row.status == 2">已暂停</span>
            <span class="ly-font-color-9"
                  v-else-if="scope.row.status == 3">待执行</span>
            <span class="ly-font-color-5"
                  v-else>执行完成</span>
          </template>
        </el-table-column>
        <el-table-column prop="totalNum"
                         label="任务总数/完成数"
                         min-width="130">
          <template slot-scope="scope">
            <span>{{scope.row.totalNum+'/'+scope.row.currentNum}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="remark"
                         label="备注">
          <template slot-scope="scope">
            <span>{{scope.row.remark || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="创建时间"
                         min-width="160">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime) || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column fixed="right"
                         label="查询结果">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event,scope.row)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column fixed="right"
                         label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       v-if="scope.row.status==1"
                       @click="suspendRecovery(scope.row,'暂停')">暂停</el-button>
            <el-button type="text"
                       size="small"
                       v-if="scope.row.status==2"
                       @click="suspendRecovery(scope.row,'恢复')">恢复</el-button>
            <el-button class="ly-font-color-7"
                       type="text"
                       v-if="scope.row.status==2 || scope.row.status==3 || scope.row.status==4"
                       size="small"
                       @click="handleClose(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
      <!-- 弹窗 -->
      <el-dialog title="手机号/微信号加好友"
                 :visible.sync="importFriends.open"
                 width="684px" append-to-body>
        <importFriends :dataInfo="importFriends"
                       v-if="importFriends.open"
                       @getTableList="getTableList"></importFriends>
      </el-dialog>

      <el-dialog title="申请加好友详情"
                 :visible.sync="details.open"
                 width="800px" append-to-body>
        <friendsDetails :dataInfo="details"
                        v-if="details.open"
                        @getTableList="getTableList"></friendsDetails>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import importFriends from './components/timingPlus/importFriends'
import friendsDetails from './components/timingPlus/friendsDetails'
import { powderManageApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { importFriends, friendsDetails },
  data() {
    return {
      importFriends: {
        open: false
      },
      details: {
        open: false,
        id: null
      }
    }
  },
  methods: {
    // 获取列表
    async requestTableList() {
      await powderManageApi.timeList(this.params).then(res => {
        this.tableData = res
      })
    },
    // 弹窗-打开
    openCallback(defObj, obj) {
      this.details = {
        open: true,
        id: obj.id
      }
    },
    // 暂停恢复
    suspendRecovery(obj, tip) {
      this.$confirm('是否确定' + tip + '？', '提示')
        .then(_ => {
          var status = 1
          if (obj.status === 1) {
            status = 2
          }
          powderManageApi.startOrPause({ id: obj.id, status: status }).then((res) => {
            this.getTableList()
          })
        })
        .catch(_ => { })
    },
    // 删除
    deleteCallback(id) {
      powderManageApi.fansDelete(id).then((res) => {
        this.success('恭喜你，删除成功')
        if (this.tableData.records.length === 1) {
          this.params.current--
        }
        this.getTableList()
      })
    }
  }
}
</script>
