<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.type"
                     @change="changeType"
                     placeholder="平台类型">
            <el-option v-for="item in typeList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <affiliatedShopSelect v-model="params.shopId"
                                :type="params.type"
                                placeholder="所属店铺"></affiliatedShopSelect>
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.status"
                     placeholder="导入状态">
            <el-option v-for="item in statusList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <importOrderDepartmentStaff v-model="params.staff"
                                      placeholder="操作员工"
                                      :parentId="parentId"></importOrderDepartmentStaff>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="开始日期"
                          end-placeholder="结束日期"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1, 10)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
          <span class="ly-margin-left-sm ly-font-14 ly-font-color-7">只同步三个月订单，需要同步更多订单请导入更多订单</span>
        </div>
        <span class="ly-margin-top-nge-4">
          <el-button type="primary"
                     size="small"
                     @click="openCallback($event, 'set')">导入订单</el-button>
        </span>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="shopName"
                         label="导入店铺"
                         width="200px">
        </el-table-column>
        <el-table-column prop="type"
                         width="150px"
                         label="平台类型">
          <template slot-scope="scope">
            <span v-if="scope.row.type === 1">淘宝</span>
            <span v-else-if="scope.row.type === 2">京东</span>
            <span v-else-if="scope.row.type === 3">拼多多</span>
          </template>
        </el-table-column>
        <el-table-column prop="realName"
                         width="150px"
                         label="操作员工">
        </el-table-column>
        <el-table-column prop="totalNum"
                         width="150px"
                         label="导入订单数">
        </el-table-column>
        <el-table-column prop="successNum"
                         width="100px"
                         label="成功">
        </el-table-column>
        <el-table-column label="失败"
                         width="100px">
          <template slot-scope="scope">
            <span class="ly-font-color-7 ly-cursor-pointer"
                  v-if="scope.row.failNum > 0"
                  @click="openCallback($event, 'search', scope.row)">{{scope.row.failNum}}</span>
            <span class="ly-font-color-7"
                  v-else>{{scope.row.failNum}}</span>
          </template>
        </el-table-column>
        <el-table-column label="导入时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.createTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="完成时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.finishTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="导入状态"
                         width="100px">
          <template slot-scope="scope">
            <span class="ly-font-color-5"
                  v-if="scope.row.status === 2">已完成</span>
            <span class="ly-font-color-12"
                  v-else-if="scope.row.status === 1">导入中</span>
            <span class="ly-font-color-7"
                  v-else-if="scope.row.status === 3">已失败</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 导入订单 -->
    <el-dialog :title="set.title"
               :visible.sync="set.open"
               width="880px" append-to-body>
      <importOrderDialog :dataInfo="set"
                         v-if="set.open"
                         @getTableList="getTableList"></importOrderDialog>
    </el-dialog>
    <!-- 搜索失败订单 -->
    <el-dialog :title="search.title"
               :visible.sync="search.open"
               width="880px" append-to-body>
      <searchFailOrder :dataInfo="search"
                       v-if="search.open"
                       @getTableList="getTableList"></searchFailOrder>
    </el-dialog>
  </div>
</template>

<script>
import { affiliatedShopSelect, importOrderDepartmentStaff } from '@/components/packages/system/lazySelect'
import importOrderDialog from './components/importOrderDialog.vue'
import searchFailOrder from './components/searchFailOrder.vue'
import { ecommercePlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { affiliatedShopSelect, importOrderDialog, searchFailOrder, importOrderDepartmentStaff },
  data() {
    return {
      activeNames: ['1'],
      date: '',
      parentId: [],
      tableData: [],
      typeList: [
        { value: 1, label: '淘宝' },
        { value: 2, label: '京东' },
        { value: 3, label: '拼多多' }
      ],
      statusList: [
        { value: 1, label: '导入中' },
        { value: 2, label: '已完成' }
      ],
      set: {
        title: '',
        open: false,
        data: {
        }
      },
      search: {
        title: '',
        open: false,
        data: {
          orderRecordId: null
        }
      },
      params: {
        type: '',
        shopId: '',
        staff: ''
      }
    }
  },
  methods: {
    /**
    * 日期格式转换
    */
    dateChange(val) {
      if (!val) {
        this.params.createStartTime = ''
        this.params.createEndTime = ''
      } else {
        this.params.createStartTime = new Date(val[0]).getTime()
        this.params.createEndTime = new Date(val[1]).getTime()
      }
    },
    /**
     * 获取导入订单列表
     */
    async requestTableList() {
      await ecommercePlatformApi.getOrderRecordList(this.params).then(result => {
        this.tableData = result
      })
    },
    openCallback(defObj, val, data) {
      switch (val) {
        case 'set':
          this.set.title = '导入订单'
          this.set.open = true
          break
        case 'search':
          this.search.title = '搜索导入失败订单'
          this.search.data = {
            orderRecordId: data.id
          }
          this.search.open = true
          break
      }
    },
    changeType() {
      if (this.params.shopId) {
        this.params.shopId = ''
      }
    }
  }
}
</script>
