<template>
  <div>
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.type"
                     @change="changeType"
                     placeholder="平台类型">
            <el-option v-for="item in typeList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <affiliatedShopSelect v-model="params.shopId"
                                :type="params.type"
                                placeholder="所属店铺"></affiliatedShopSelect>
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.tradingStatus"
                     placeholder="订单状态">
            <el-option v-for="item in orderStatusList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-select class="ly-margin-right-sm"
                     clearable
                     v-model="params.source"
                     placeholder="订单来源">
            <el-option v-for="item in sourceList"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
          </el-select>
          <el-input v-model.trim="params.buyersAccount"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    placeholder="购物账号"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-input v-model.trim="params.orderNo"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)"
                    placeholder="订单编号"
                    class="ly-margin-right-bottom-sm"
                    clearable>
          </el-input>
          <el-date-picker v-model="date"
                          class="ly-margin-right-bottom-sm"
                          type="daterange"
                          size="small"
                          value-format="timestamp"
                          range-separator="至"
                          start-placeholder="下单开始时间"
                          end-placeholder="下单结束时间"
                          :default-time="['00:00:00', '23:59:59']"
                          @change="dateChange">
          </el-date-picker>
          <!-- button -->
          <el-button class="ly-float-right"
                     type="primary"
                     size="medium"
                     @click="getTableList(1, 10)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white ly-padding-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
          <span class="ly-margin-left-sm ly-font-14 ly-font-color-7">只同步三个月订单，需要同步更多订单请导入更多订单</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column prop="orderNo"
                         label="订单编号">
        </el-table-column>
        <el-table-column label="创建时间">
          <template slot-scope="scope">
            <span>{{fmt.date(scope.row.orderTime)}}</span>
          </template>
        </el-table-column>
        <el-table-column label="宝贝"
                         min-width="200">
          <template slot-scope="scope">
            <div class="ly-box">
              <div class="ly-margin-right-xs">
                <img :src="scope.row.goodsPicUrl | productAvtor"
                     class="ly-wh-50px"
                     v-image-view>
              </div>
              <div class="ly-box-1 ly-font-color-2 line-height-14">
                <p class="ly-font-color-3">{{scope.row.goodsName}}</p>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="goodsPrice"
                         label="单价（元）">
        </el-table-column>
        <el-table-column prop="goodsNum"
                         label="数量">
        </el-table-column>
        <el-table-column prop="buyersAccount"
                         label="购物账号">
        </el-table-column>
        <el-table-column label="订单状态">
          <template slot-scope="scope">
            <span v-if="scope.row.tradingStatus === 1"
                  class="ly-font-color-9">待付款</span>
            <span v-else-if="scope.row.tradingStatus === 2"
                  class="ly-font-color-9">待发货</span>
            <span v-else-if="scope.row.tradingStatus === 3"
                  class="ly-font-color-9">待收货</span>
            <span v-else-if="scope.row.tradingStatus === 4"
                  class="ly-font-color-9">待评价</span>
            <span v-else-if="scope.row.tradingStatus === 5"
                  class="ly-font-color-5">交易成功</span>
            <span v-else-if="scope.row.tradingStatus === 6"
                  class="ly-font-color-7">交易关闭</span>
          </template>
        </el-table-column>
        <el-table-column prop="shopName"
                         label="所属店铺">
        </el-table-column>
        <el-table-column label="平台类型">
          <template slot-scope="scope">
            <span v-if="scope.row.type === 1">淘宝</span>
            <span v-else-if="scope.row.type === 2">京东</span>
            <span v-else-if="scope.row.type === 3">拼多多</span>
          </template>
        </el-table-column>
        <el-table-column label="订单来源">
          <template slot-scope="scope">
            <span v-if="scope.row.source === 1">同步</span>
            <span v-else-if="scope.row.source === 2">导入</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text"
                       size="small"
                       @click="openCallback($event, 'set', scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm"
           v-if="tableData.total>0">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :total="tableData.total"
                        :pageSize="params.size"
                        @change="getTableList" />
      </div>
    </div>
    <!-- 订单详情弹窗 -->
    <el-dialog :title="set.title"
               :visible.sync="set.open"
               width="880px" append-to-body>
      <orderDetail :dataInfo="set"
                   v-if="set.open"></orderDetail>
    </el-dialog>
  </div>
</template>

<script>
import { affiliatedShopSelect } from '@/components/packages/system/lazySelect'
import orderDetail from './components/orderDetail.vue'
import { ecommercePlatformApi } from '@/api/system'
import { tableMixin } from '@/mixins'

export default {
  mixins: [tableMixin],
  components: { affiliatedShopSelect, orderDetail },
  data() {
    return {
      activeNames: ['1'],
      date: '',
      tableData: [],
      orderId: '',
      set: {
        title: '',
        open: false,
        data: {
          id: ''
        }
      },
      typeList: [
        { value: 1, label: '淘宝' },
        { value: 2, label: '京东' },
        { value: 3, label: '拼多多' }
      ],
      orderStatusList: [
        { value: 1, label: '待付款' },
        { value: 2, label: '待发货' },
        { value: 3, label: '待收货' },
        { value: 4, label: '待评价' },
        { value: 5, label: '交易成功' },
        { value: 6, label: '交易关闭' }
      ],
      sourceList: [
        { value: 1, label: '自动同步' },
        { value: 2, label: '导入订单' }
      ]
    }
  },
  methods: {
    /**
    * 日期格式转换
    */
    dateChange(val, begin, end) {
      if (!val) {
        this.params.orderStartTime = ''
        this.params.orderEndTime = ''
      } else {
        this.params.orderStartTime = new Date(val[0]).getTime()
        this.params.orderEndTime = new Date(val[1]).getTime()
      }
    },
    /**
     * 获取店铺订单列表
     */
    async requestTableList() {
      await ecommercePlatformApi.getStoreOrderList(this.params).then((result) => {
        this.tableData = result
      })
    },
    openCallback(defObj, val, data) {
      switch (val) {
        case 'set':
          this.set.title = '订单详情'
          this.set.open = true
          this.set.data = {
            id: data.id
          }
          break
      }
    },
    changeType() {
      if (this.params.shopId) {
        this.params.shopId = ''
      }
    }
  }
}
</script>
