<template>
  <div>
    <el-form :model="params" :rules="rules" ref="ruleForm" v-if="dialogProp.show">
      <el-form-item label="微信信息:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1">
        <div class="ly-margin-right-55px">
          <personalInfo :info="dialogProp.data.wechatFreind"></personalInfo>
        </div>
      </el-form-item>
      <el-form-item label="批量分配数量:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==2">
        <p>{{dialogProp.ids.length}}</p>
      </el-form-item>
      <el-form-item label="性别:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1">
        {{dialogProp.data.sex==1?'男':''}}{{dialogProp.data.sex==2?'女':''}}{{dialogProp.data.sex==0?'未知':''}}
      </el-form-item>
      <el-form-item label="当前员工部门:" :label-width="formLabelWidth" v-if="dialogProp.data.departmentName && dialogProp.typeVal==1">
        {{dialogProp.data.departmentName}}
      </el-form-item>
      <el-form-item label="当前分配员工:" :label-width="formLabelWidth" v-if="(dialogProp.data.staffName || dialogProp.data.staffAccount) && dialogProp.typeVal==1">
        {{dialogProp.data.staffAccount}}<span v-if="dialogProp.data.staffName">({{dialogProp.data.staffName}})</span>
      </el-form-item>
      <el-form-item label="部门:" :label-width="formLabelWidth">
        <!--部门级联已经调整-->
        <departmenTreeCascadert v-model="departmentId"
                                filterable
                                clearable
                                :currentDepartmentId="dialogProp.data.departmentId ? dialogProp.data.departmentId : null"
                                @initDepartmentIds="initDepartmentIds"
                                style="width: 230px"
                                placeholder="请选择接收员工部门"></departmenTreeCascadert>
      </el-form-item>
      <el-form-item label="分配员工:" :label-width="formLabelWidth" prop="staffId">
        <!--分配员工已经调整-->
        <departmentStaff placeholder="请选择或搜索要分配的员工"
                         style="width: 230px"
                         v-model="params.staffId"
                         filterable
                         clearable
                         v-if="initStaffStatus"
                         :parentId="departmentId"></departmentStaff>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="colseDialog">取 消</el-button>
          <el-button size="medium" class="ly-margin-right-18px" type="primary" @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import { personalNumManageApi } from '@/api/system'
import {
  departmentStaff
} from '@/components/packages/system/lazySelect'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  components: {
    personalInfo,
    departmenTreeCascadert,
    departmentStaff
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      departmentId: [],
      params: {
        departmentId: '',
        staffId: ''
      },
      initStaffStatus: true,
      rules: {
        staffId: [
          { required: true, message: '请选择要分配的员工' }
        ]
      }
    }
  },
  watch: {
    /*
    'params': {
      handler: function (val, oldVal) {
        if (val.departmentId !== oldVal.departmentId) {
          this.params.staffId = ''
        }
      },
      deep: true
    },
    */
    'departmentId': function(val, oldVal) {
      let oldDepartmentId = this.params.departmentId
      let newDepartmentId = val[val.length - 1] || ''
      if (oldDepartmentId !== newDepartmentId && oldDepartmentId !== '') {
        this.params.staffId = ''
        this.initStaffStatus = false
        this.$nextTick(() => {
          this.initStaffStatus = true
        })
      }
      this.params.departmentId = newDepartmentId
    }
  },
  created() {
    if (this.dialogProp.typeVal === 1) {
      // 单个记录
      this.departmentId = this.dialogProp.data.departmentId ? [this.dialogProp.data.departmentId] : []
      this.params.staffId = this.dialogProp.data.staffId || ''
    }
  },
  methods: {
    initDepartmentIds(val) {
      this.departmentId = val
    },
    colseDialog() {
      this.$emit('colseDialog')
    },
    confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      let param = {
        ids: this.dialogProp.ids,
        staffId: this.params.staffId
      }
      await personalNumManageApi.friendsListStaffUsers(param).then(() => {
        this.success('分配成功')
        this.colseDialog()
        this.$emit('getTableList')
        if (this.dialogProp.typeVal === 2) {
          this.$emit('removeChecked')
        }
      })
    }
  }
}
</script>
