<template>
  <div>
    <!--<el-dialog title="聊天记录导出" :visible.sync="dialogProp.show" width="489px" @close="closeDialog">-->
    <el-form :model="params" >
      <el-form-item>
        <div class="el-center">
          <el-date-picker
            v-model="dateVal"
            type="daterange"
            size="small"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="['00:00:00', '23:59:59']"
            value-format="timestamp"
            @change="dateChange">
          </el-date-picker>
        </div>
      </el-form-item>
    </el-form>
    <div class="ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" class="ly-margin-right-18px" type="primary" @click="confirmDownLoad">导出聊天记录</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { downloadFile } from '@/utils'
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      params: {
        id: '',
        wxId: '',
        createTimeBegin: '',
        createTimeEnd: ''
      },
      dateVal: []
    }
  },
  created() {
    let nowdate = new Date()
    let createTimeEnd = nowdate.getTime()
    let createTimeBegin = nowdate.setMonth(nowdate.getMonth() - 1)
    this.dateVal = [createTimeBegin, createTimeEnd]
    this.params.createTimeBegin = createTimeBegin
    this.params.createTimeEnd = createTimeEnd
    this.params.id = this.dialogProp.id
    this.params.wxId = this.dialogProp.wxId
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    dateChange(val) {
      val = val || []
      this.params.createTimeBegin = val[0] || ''
      this.params.createTimeEnd = val[1] || ''
    },
    async confirmDownLoad() {
      if (!this.dateVal) {
        this.warn('请选择聊天记录时间')
        return false
      }
      await personalNumManageApi.friendsListExportLog(this.params).then((res) => {
        downloadFile(res, 'wechatLog.xls')
        this.success('恭喜你，导出成功')
        this.closeDialog()
      })
    }
  }
}
</script>
