<template>
  <div>
    <!--<el-dialog title="分配员工" :visible.sync="dialogProp.show" width="489px" @close="colseDialog">-->
    <el-form :model="dialogProp" @submit.native.prevent>
      <el-form-item label="好友昵称:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1">
        <div  class="ly-margin-right-62px">{{dialogProp.data.nickName}}</div>
      </el-form-item>
      <el-form-item label="批量分组数量:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==2">
        <p>{{dialogProp.ids.length}}</p>
      </el-form-item>
      <el-form-item label="当前分组:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1 && dialogProp.data.wxGroupInfoName">
        <p>{{dialogProp.data.wxGroupInfoName}}</p>
      </el-form-item>
      <el-form-item label="好友分组:" :label-width="formLabelWidth">
        <setGroupCascader  :placeholder="'请选择好友分组'"
                           :groupId="this.dialogProp.data.wxGroupInfoId? this.dialogProp.data.wxGroupInfoId : null"
                           :modify="this.dialogProp.data.wxGroupInfoId? 1 : 0"
                           :groupType="1"
                           @getInitVal="getInitVal"
                           class="ly-margin-right-bottom-sm"></setGroupCascader>
      </el-form-item>
    </el-form>
    <div class="ly-text-right">
      <el-button size="medium" @click="colseDialog">取 消</el-button>
      <el-button size="medium" class="ly-margin-right-18px" type="primary" @click="confirmSubmit">确 定</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import { personalNumManageApi } from '@/api/system'
import {
  personNumFriendGroups
} from '@/components/packages/system/lazySelect'
import setGroupCascader from '@/components/common/setGroupCascader'
export default {
  components: {
    personalInfo,
    personNumFriendGroups,
    setGroupCascader
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      params: {
        wxGroupInfoId: ''
      }
    }
  },
  created() {
  },
  methods: {
    getInitVal(val) {
      this.params.wxGroupInfoId = val
    },
    colseDialog() {
      this.$emit('colseDialog')
    },
    async confirmSubmit() {
      let param = {
        ids: this.dialogProp.ids,
        wxGroupInfoId: this.params.wxGroupInfoId
      }
      await personalNumManageApi.friendsListModifyGroup(param).then(() => {
        this.success('设置成功')
        this.colseDialog()
        this.$emit('getTableList')
        if (this.dialogProp.typeVal === 2) {
          this.$emit('removeChecked')
        }
      })
    }
  }
}
</script>
