<template>
  <div>
    <!--<el-dialog title="修改分组" :visible.sync="dialogProp.show" width="489px" @close="closeDialog">-->
    <el-form :model="params" :rules="rules" ref="ruleForm" @submit.native.prevent>
      <el-form-item label="分组名称:" prop="groupName" :label-width="formLabelWidth">
        <el-input class="ly-width-260px-im"
                  placeholder="分组名称"
                  autocomplete="off"
                  :maxlength="20"
                  v-model.trim="params.groupName"
                  clearable></el-input>
      </el-form-item>
      <el-form-item label="分组类型:"
                    :label-width="formLabelWidth"
                    prop="groupType">
        <el-select clearable
                   v-model="params.groupType"
                   :disabled="disabled"
                   class="ly-width-260px-im"
                   placeholder="分组类型">
          <el-option v-for="item in PERSON_NUM_GROUP_TYPE"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="分组所属:"
                    :label-width="formLabelWidth"
                    prop="groupLevel">
        <el-select clearable
                   v-model="params.groupLevel"
                   class="ly-width-260px-im"
                   :disabled="disabled"
                   placeholder="分组所属">
          <el-option v-for="item in hasAction"
                     :key="item.value"
                     :label="item.label"
                     :disabled="item.disabled"
                     :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="分组备注"
                    :label-width="formLabelWidth">
        <el-input class="ly-width-260px-im"
                  type="textarea"
                  :rows="5"
                  v-model="params.remark"
                  :maxlength="200"></el-input>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button class="ly-margin-right-18px" type="primary" @click="confirmAdd">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
    <!--</el-dialog>-->
  </div>
</template>
<script>
import { personalNumManageApi } from '@/api/system'
import { resourceMixin } from '@/mixins'
import { PERSON_NUM_GROUP_TYPE, PERSON_NUM_GROUP_OWER } from '@/constants/selects'
import { RESOURCE_ACTION_MAP } from '@/constants'

export default {
  mixins: [resourceMixin],
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      PERSON_NUM_GROUP_TYPE: PERSON_NUM_GROUP_TYPE,
      PERSON_NUM_GROUP_OWER: PERSON_NUM_GROUP_OWER,
      demo: PERSON_NUM_GROUP_OWER,
      params: {
        remark: '',
        groupName: '',
        groupType: '',
        groupLevel: ''
      },
      formLabelWidth: '136px',
      disabled: false,
      rules: {
        groupName: [
          { required: true, message: '请输入分组名称' },
          { min: 1, max: 20, message: '长度在 1 到 20 个字符' }
        ],
        groupType: [
          { required: true, message: '请选择分组类型' }
        ],
        groupLevel: [
          { required: true, message: '请选择分组所属' }
        ]
      }
    }
  },
  computed: {
    // 公共分组权限
    hasCommon() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.CREATE_COMMON_GROUP)
    },

    // 部门分组权限
    hasDepartment() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.CREATE_DEPARTMENT_GROUP)
    },

    // 筛选出有权限的分组所属
    hasAction() {
      this.PERSON_NUM_GROUP_OWER.forEach(item => {
        let powser = false
        if (item.value === 1) {
          item.disabled = this.hasCommon ? powser : true
        } else if (item.value === 2) {
          item.disabled = this.hasDepartment ? powser : true
        } else {
          item.disabled = false
        }
      })
      return this.PERSON_NUM_GROUP_OWER
    }
  },
  created() {
    if (this.dialogProp.data) {
      this.disabled = true
      this.params.remark = this.dialogProp.data.remark
      this.params.groupName = this.dialogProp.data.groupName
      this.params.groupType = this.dialogProp.data.groupType
      this.params.groupLevel = this.dialogProp.data.groupLevel
      this.params.id = this.dialogProp.data.id
    }
    // console.log('hasAction', this.hasAction)
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    confirmAdd() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          if (this.dialogProp.data) {
            // 修改
            this.modifyGroup()
          } else {
            // 新增
            this.addNewGroup()
          }
        } else {
          return false
        }
      })
    },
    // 新增
    async addNewGroup() {
      await personalNumManageApi.groupManageAdd(this.params)
      this.success('新增成功')
      this.closeDialog()
      this.$emit('refreshGetTableList')
    },
    // 修改
    async modifyGroup() {
      await personalNumManageApi.groupManageModify(this.params)
      this.success('修改成功')
      this.closeDialog()
      this.$emit('getTableList')
    }
  }
}
</script>
