<template>
  <div>
    <!--<el-dialog-->
      <!--title="提示"-->
      <!--:visible.sync="dialogProp.show"-->
      <!--width="489px" @close="closeDialog">-->
    <div>确定删除该{{dialogProp.groupTypeName}}吗？</div>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" class="ly-margin-right-18px" type="primary" @click="confirmDelete">确 定</el-button>
    </div>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      id: ''
    }
  },
  created() {
    this.id = this.dialogProp.id
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    async confirmDelete() {
      await personalNumManageApi.groupManageDelete(this.id)
      this.success('删除成功')
      this.closeDialog()
      this.$emit('getTableList')
    }
  }
}
</script>
