<template>
  <div>
    <!--<el-dialog title="分配群聊天" :visible.sync="dialogProp.show" width="489px" @close="colseDialog">-->
    <el-form :model="params" :rules="rules" ref="ruleForm" v-if="dialogProp.show" @submit.native.prevent>
      <el-form-item label="群昵称:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1">
        <p class="ly-margin-right-40px ell">{{dialogProp.data.groupName}}</p>
      </el-form-item>
      <el-form-item label="批量分配数量:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==2">
        <p>{{dialogProp.ids.length}}</p>
      </el-form-item>
      <el-form-item label="当前员工部门:" :label-width="formLabelWidth" v-if="dialogProp.typeVal==1 && dialogProp.data.departmentName">
        <p class="ly-margin-right-40px">{{dialogProp.data.departmentName}}</p>
      </el-form-item>
      <el-form-item label="当前分配员工:" :label-width="formLabelWidth" v-if="(dialogProp.data.staffName || dialogProp.data.staffAccount) && dialogProp.typeVal==1">
        <p class="ly-margin-right-40px">{{dialogProp.data.staffAccount}}<span v-if="dialogProp.data.staffName">({{dialogProp.data.staffName}})</span></p>
      </el-form-item>
      <el-form-item label="部门:" :label-width="formLabelWidth">
        <departmenTreeCascadert v-model="departmentId"
                                placeholder="请选择接收员工部门"
                                style="width: 266px"></departmenTreeCascadert>
      </el-form-item>
      <el-form-item label="分配员工:" prop="staffId" :label-width="formLabelWidth">
        <!--分配员工已经调整-->
        <departmentStaff placeholder="请选择或搜索要分配的员工"
                         style="width: 230px"
                         v-model="params.staffId"
                         filterable
                         clearable
                         v-if="initStaffStatus"
                         :parentId="departmentId"></departmentStaff>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium" @click="colseDialog">取 消</el-button>
          <el-button size="medium" class="ly-margin-right-18px" type="primary" @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
    <!--</el-dialog>-->
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import { personalNumManageApi } from '@/api/system'
import {
  departmentStaff
} from '@/components/packages/system/lazySelect'
import {
  departmenTreeCascadert
} from '@/components/packages/system/lazyCascader'
export default {
  components: {
    personalInfo,
    departmentStaff,
    departmenTreeCascadert
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      departmentId: [],
      params: {
        departmentId: '',
        staffId: ''
      },
      initStaffStatus: true,
      rules: {
        staffId: [
          { required: true, message: '请选择要分配的员工' }
        ]
      }
    }
  },
  watch: {
    'params': {
      handler: function (val, oldVal) {
        if (val.departmentId !== oldVal.departmentId) {
          this.params.staffId = ''
          this.initStaffStatus = false
          this.$nextTick(() => {
            this.initStaffStatus = true
          })
        }
      },
      deep: true
    },
    'departmentId': function(val, oldVal) {
      let oldDepartmentId = this.params.departmentId
      let newDepartmentId = val[val.length - 1] || ''
      if (oldDepartmentId !== newDepartmentId) {
        this.params.staffId = ''
      }
      this.params.departmentId = newDepartmentId
    }
  },
  created() {},
  methods: {
    colseDialog() {
      this.$emit('colseDialog')
    },
    async confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      let param = {
        ids: this.dialogProp.ids,
        staffId: this.params.staffId
      }
      await personalNumManageApi.wechatGroupListAssignStaff(param).then(() => {
        this.success('分配成功')
        this.colseDialog()
        this.$emit('getTableList')
        if (this.dialogProp.typeVal === 2) {
          this.$emit('removeChecked')
        }
      })
    }
  }
}
</script>
