<template>
  <div>
    <span>该删除不会真的删除微信，只是在平台上看不到该微信及微信里的好友和群，是否确定要删除？</span>
    <div class="ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" class="ly-margin-right-18" type="primary" @click="comfirmDelete()">确 定</el-button>
    </div>
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    async comfirmDelete() {
      await personalNumManageApi.accountDelete(this.dialogProp.id).then(() => {
        this.success('删除成功')
        this.$emit('refreshDelete')
      })
    }
  }
}
</script>
