<template>
  <div class="ly-text-center">
    <div class="ly-margin-bottom-12px">
      <el-button class="ly-width-160px"
                 size="medium"
                 type="primary" @click="sendToMobile"><i class="el-icon-mobile-phone"></i>发指令手机上传</el-button>
    </div>
    <div class="ly-margin-bottom-12px" v-if="dialogProp.data && dialogProp.data.cardUrl">
      <img class="ly-wh-120-120px"
           :src="dialogProp.data.cardUrl" v-image-view />
    </div>
    <div class="ly-margin-bottom-12px">
      <div class="ly-inline-block  ly-position-relative">
        <el-button class="ly-width-160px"
                   size="medium"
                   @click="uploadFileByHand">
          <i class="el-icon-upload2"></i>手动上传
        </el-button>
        <div class="ly-plist-upload-code">
          <vma-upload v-model="fileUrl"
                      :exts="['jpg', 'png', 'jpeg']"
                      :singleFileSize="10" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { personalNumManageApi } from '@/api/system'
export default {
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      codeUrl: '',
      fileUrl: ''
    }
  },
  watch: {
    'fileUrl' (val, oldVal) {
      if (val) {
        this.uploadFileByHand(val)
      }
    }
  },
  created() {
    this.codeUrl = this.dialogProp.data.codeUrl || ''
  },
  methods: {
    async sendToMobile() {
      await personalNumManageApi.accountCodeMobile(this.dialogProp.data.id)
      this.$confirm('通过手机上传图片会有延时，稍后刷新查看！', '指令发送成功', {
        confirmButtonText: '知道了',
        showCancelButton: false,
        type: 'success'
      }).then(() => {
        this.$emit('refreshCode')
      }).catch(() => {
        this.$emit('refreshCode')
      })
    },
    async uploadFileByHand(val) {
      let params = {
        id: this.dialogProp.data.id,
        cardUrl: val
      }
      await personalNumManageApi.accountCodeByHand(params).then((resolve) => {
        this.$emit('refreshCode')
      }, (reject) => {
        this.fileUrl = ''
      })
    },
    /*
    async submitRemarkInfo() {
      let params = {
        id: this.dialogProp.data.id,
        remark: this.remark || ''
      }
      await personalNumManageApi.accountCodeByHand(params)
      this.$message({
        message: '修改成功',
        type: 'success'
      })
      this.$emit('refreshRemark', this.dialogProp, this.remark)
    },
    */
    closeDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
