<template>
  <el-dialog title="移动分组" :visible.sync="visible" width="489px" @close="closeDialog" append-to-body>
    <el-form :model="params" >
      <el-form-item :label="typeTitle + '昵称:'">
        {{entity.nickName}}
      </el-form-item>
      <el-form-item :label="typeTitle + '分组:'" required>
        <groupsSelect :data="selecteData" v-model="params.wxGroupInfoId"></groupsSelect>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取 消</el-button>
      <el-button type="primary" @click="sendForm" v-if="params.wxGroupInfoId">确 定</el-button>
      <el-button type="primary" disabled v-else>确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { customerServiceApi } from '@/api/chat'
import { detailMixin } from '@/mixins'
import { SESSION_TYPE } from '@/constants/chat'
import { wechatInfoSession } from '@/storage'
import groupsSelect from './components/groupsSelect'

export default {
  components: {
    groupsSelect
  },
  mixins: [detailMixin],
  data() {
    return {
      typeTitle: null,
      params: {
        ids: [],
        // 微信分组ID
        wxGroupInfoId: null
      },
      // 好友/群聊
      type: 1,
      visible: false,
      groupList: [],
      // 给分组列表的传值
      selecteData: {
        type: 1,
        staffId: null
      }
    }
  },
  created() {
    this.visible = true
    if (this.type === SESSION_TYPE.C2C) {
      this.typeTitle = '好友'
    } else {
      this.typeTitle = '群聊'
    }
  },
  methods: {
    afterEntity(entity) {
      if (!entity) return
      this.params.ids = [entity.id]
      this.type = entity.type
      this.selecteData = {
        type: entity.type,
        staffId: wechatInfoSession.getJSON().staffId
      }
    },
    closeDialog() {
      this.$emit('on-close')
    },
    onSendSuccess(params) {
      this.success('操作成功!')
      this.$emit('on-sucess', this.data, this.params.wxGroupInfoId, this.type)
      this.closeDialog()
    },
    sendForm() {
      if (this.type === SESSION_TYPE.C2C) {
        this.moveFriendToGroup()
      } else {
        this.moveGroupChatToGroup()
      }
    },
    moveFriendToGroup() {
      let params = Object.assign({}, this.params)
      customerServiceApi.moveFriendToGroup(params).then(resp => {
        this.onSendSuccess()
      })
    },
    moveGroupChatToGroup() {
      let params = Object.assign({}, this.params)
      customerServiceApi.moveGroupChatToGroup(params).then(resp => {
        this.onSendSuccess()
      })
    }
  }
}
</script>
