<template>
  <div class="scrmp-nav">
    <div>
      <div class="ly-inline-block" v-for="(item, index) in navTagArr" :key="index">
        <span>{{item}}</span><i v-if="index < navTagArr.length -1">/</i>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'navTagArr'
    ])
  },
  mounted() {
  },
  methods: {
  }
}
</script>
