<template>
  <div>
    <span>确定要删除该消息吗？</span>
    <div slot="footer" class="dialog-footer">
      <el-button @click="close">取 消</el-button>
      <el-button type="primary" @click="sureDel">确 定</el-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Object
  },
  data() {
    return {
      wxGroupInfoIds: [],
      groupingList: []
    }
  },
  methods: {
    sureDel() {
      this.$emit('on-success', this.data)
    },
    close() {
      this.$emit('on-close')
    }
  }
}
</script>
