<template>
  <el-select class="short-select" v-model="wxGroupInfoIds" @change="onChange" filterable multiple>
    <el-option v-for="item in groupingList" :key="item.id" :label="item.name" :value="item.id"></el-option>
  </el-select>
</template>

<script>
import { commonApi } from '@/api/chat'
import { SESSION_TYPE } from '@/constants/chat'
import { wechatInfoSession } from '@/storage'

export default {
  props: {
    data: Object
  },
  data() {
    return {
      wxGroupInfoIds: [],
      groupingList: []
    }
  },
  created() {
    this.getGroupingList()
  },
  methods: {
    async getGroupingList() {
      let staffId = wechatInfoSession.getJSON().staffId
      let list
      if (this.data.type === SESSION_TYPE.C2C) {
        list = await commonApi.getAccountFriendGroupList(staffId)
      } else {
        list = await commonApi.getAccountTeamGroupList(staffId)
      }
      this.groupingList = list
    },
    onChange(val) {
      this.$emit('on-change', val)
    }
  }
}
</script>
