<template>
  <div>
    <el-form :model="form" :rules="rules" ref="selectForm">
      <el-form-item label="快捷语类型" :label-width="formLabelWidth" prop='quickTypeWays'>
        <el-select @change='changeQuickType' v-model="form.quickTypeWays" placeholder="请选择快捷语类型" ref="selectType">
          <el-option v-for="item in quickType" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="快捷语分组" :label-width="formLabelWidth" prop='quickGroupName'>
        <el-select @visible-change='downChange($event)' @change='changeGroupName($event)' v-model="form.quickGroupName" placeholder="请选择快捷语分组">
          <el-option v-for="item in quickGroup" :key="item.id" :label="item.groupName" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="快捷语标题" :label-width="formLabelWidth" prop='quickTitleWord'>
        <el-select @visible-change='downTitle($event)' @change='changeTitle($event)' v-model="form.quickTitleWord" placeholder="请选择快捷语标题">
          <el-option v-for="item in quickTitle" :key="item.id" :label="item.title" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <transition name="fade">
        <el-form-item v-if='sureMsgtype.show'>
          <sureMsgType @refreshRightTabelList='refreshRightTabelList' @closeModelBox='closeModelBox' :dialogProp="sureMsgtype"></sureMsgType>
        </el-form-item>
      </transition>

      <el-form-item>
        <div class="dialog-footer" v-if="!sureMsgtype.show">
          <el-button @click="colseDialog">取 消</el-button>
          <el-button type="primary" @click="submitInfo('selectForm')">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>

  </div>
</template>

<script>
import {
  deviceManageApi
} from '@/api/system'
import sureMsgType from './sureMsgType'
export default {
  components: {
    sureMsgType
  },
  props: {
    modelMsg: {
      type: Object,
      default: function () {
        return {}
      }
    },
    textLimit: {
      type: Number,
      default: function () {
        return 2000
      }
    },
    chatProp: {
      type: Boolean,
      default: function () {
        return false
      }
    }
  },
  data () {
    return {
      formLabelWidth: '120px',
      quickType: [{
        value: '1',
        label: '个人快捷语'
      }, {
        value: '2',
        label: '公共快捷语'
      }],
      quickTypeWays: '',
      // 快捷语分组
      quickGroup: [],
      quickGroupName: '',
      // 快捷语标题
      quickTitle: [],
      quickTitleWord: '',
      form: {
        quickTypeWays: '',
        quickGroupName: '',
        quickTitleWord: ''
      },
      rules: {
        quickGroupName: [{
          required: true,
          message: '请选择分组',
          trigger: 'change'
        }],
        quickTitleWord: [{
          required: true,
          message: '请选择标题',
          trigger: 'change'
        }],
        quickTypeWays: [{
          required: true,
          message: '请选择类型',
          trigger: 'change'
        }]
      },
      textarea: '',
      params: {
        quickReplyGroupId: '',
        current: 1,
        size: 20
      },
      sureMsgtype: {},
      modifyObj: {}

    }
  },
  methods: {
    closeModelBox () {
      this.$emit('closeDialog')
    },
    refreshRightTabelList (data) {
      this.$emit('modifyData', data)
    },
    /**
     * 关闭弹窗
     */
    colseDialog () {
      this.$emit('closeDialog')
    },
    // 保存
    submitInfo (selectForm) {
      this.$refs.selectForm.validate(valid => {
        if (valid) {
          var sureMsg = this.sureMsgtype
          this.$emit('sureSuccess', sureMsg.data.msgText)
        } else {
          return false
        }
      })
    },
    changeGroupName (id) {
      // e获取当前点击的id
      // console.log(id)
      this.params.quickReplyGroupId = id
      this.getQuickList()
    },
    downChange (callback) {
      if (this.quickGroup.length == 0) {
        this.quickTitle == []
      }
    },
    downTitle (e) {
      // console.log(this.form.quickGroupName, e)
      if (this.quickGroup.length == 0) {
        this.quickTitle = []
      }
      if (e && this.form.quickGroupName !== '') {
        if (this.quickTitle.length > 1) {
          this.sureMsgtype.show = false
        } else {
          this.sureMsgtype.show = true
        }
      } else if (!e && this.form.quickGroupName !== '') {
        this.sureMsgtype.show = true
      }
    },
    // 快捷语选择
    async changeQuickType () {
      // console.log(this.quickTypeWays)
      // this.params.quickReplyGroupId = res.id;
      /**
       * 1为个人快捷语
       * 2为公共快捷语
       * **/
      if (this.form.quickTypeWays == 1) {
        await deviceManageApi.qReplayReplayLeftPrivate().then((res) => {
          this.quickGroup = res
          this.form.quickGroupName = ''
          this.form.quickTitleWord = ''
          this.sureMsgtype = {}
        })
      } else if (this.form.quickTypeWays == 2) {
        await deviceManageApi.qReplayReplayLeftCommon().then((res) => {
          this.quickGroup = res
          this.form.quickGroupName = ''
          this.form.quickTitleWord = ''
          this.sureMsgtype = {}
        })
      }
    },
    // 获取快捷语列表信息
    async getQuickList () {
      // console.log(this.params)
      await deviceManageApi.qReplayReplayListGet(this.params).then((res) => {
        // console.log(res.records, '--------')
        this.quickTitle = res.records
        this.quickTitleWord = ''
        this.textarea = ''
        this.sureMsgtype = {}
      })
    },
    changeTitle (e) {
      let id = e
      // console.log(this.quickTitle, 'jh22kh')
      for (let i in this.quickTitle) {
        if (this.quickTitle[i].id == id) {
          var newMsg = this.quickTitle[i]
          this.sureMsgtype = {
            show: true,
            id: this.params.quickReplyGroupId,
            data: this.quickTitle[i],
            onlyTag: true
          }
        }
      }
    }
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
    .fade-leave-to
    /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
