<template>
  <lazy-select v-model="modelValue"
               :getDataFnOrDataList="getDataFnOrDataList"
               :options="mergedOptions"
               @initial="initial"
               @change="change"
               ref="lazySelect" />
</template>

<script>
    import {
        customerServiceApi
    } from '@/api/chat'
    import lazySelectMixin from '@/components/common/lazySelect/components/mixin'

    export default {
        mixins: [lazySelectMixin],
        methods: {
            /**
             * 个人号列表
             * @return {[type]} [description]
             */
            async getData() {
                let list = await customerServiceApi.getPersonalAccountListNew()
                return (list || []).map(v => {
                    let label = (v.remark ? v.remark : v.nickName) + '(' + v.account + ')' + '[' + (v.onLine === 0 ? '离线' : (v.onLine === 1 ? '在线' : '离开')) + ']'
                    return this.convertData(v.id, label, v)
                })
            }
        }
    }
</script>