<template>
  <el-select class="vm" v-model="cityIds" @visible-change="visibleChange" @change="onChange" multiple filterable collapse-tags>
    <el-option-group v-for="item in cityList" :key="item.id" :label="item.name">
      <el-option v-for="it in item.citys" :key="it.id" :label="it.name" :value="it.id">{{it.name}}</el-option>
    </el-option-group>
  </el-select>
</template>

<script>
import { commonApi } from '@/api/chat'

export default {
  model: {
    prop: 'cityIds',
    event: 'model'
  },
  props: {
    cityIds: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      cityList: []
      // cityIds: []
    }
  },
  methods: {
    getData() {
      commonApi.getCityTreeList().then(resp => {
        this.cityList = resp
      })
    },
    onChange(val) {
      this.$emit('on-change', val)
    },
    visibleChange(val) {
      if (this.cityList.length === 0) {
        this.getData()
      }
    }
  }
}
</script>
