<template>
    <el-dialog title="警告" width='489px' :visible.sync='visible' @close = 'closeDialog' append-to-body>
        <span>确定要删除这条收藏？</span>
        <div slot="footer" class='dialog-footer'>
            <el-button @click="closeDialog">取 消</el-button>
            <el-button type="primary" @click="sureDel">确 定</el-button>
        </div>
    </el-dialog>
</template>

<script>
    //引入删除的api
    //  customerServiceApi.getDelCollectionId(id)
    import {
        customerServiceApi
    } from '@/api/chat'
    export default {
        props: ['delId'],
        data() {
            return {
                visible: false,
                // MsgId: null,
            }
        },
        created() {
            this.visible = true;
        },
        methods: {
            closeDialog() {
                this.$emit('on-close-frame');
            },
            sureDel() {
                // console.log(this.delId);
                this.delCollectedMsg()
            },
            onDSucessDel() {
                this.success('删除成功!')
                this.$emit('on-sucess-del');
                this.closeDialog();
            },

            // 删除我的收藏列表
            async delCollectedMsg() {
                await customerServiceApi.getDelCollectionId(this.delId).then(res => {
                    // console.log(res.headers, '----------')
                    this.onDSucessDel()
                });
            }
        }
    }
</script>