<template>
  <div>
    <div class="ly-font-color-4 ly-font-16">
      <div>1.列表未展示二维码名片未上传的个人号，请前往【个人号列表】上传完善；</div>
      <div>2.一个个人号只能在一个群里当拉手</div>
    </div>
    <div class="ly-margin-top-20px" v-show="data2[0].children && data2[0].children.length">
      <el-input
        placeholder="输入关键字进行过滤"
        v-model="filterText"
        clearable
        size="small">
      </el-input>
    </div>
    <div class="ly-margin-top-10px">
      <div v-show="data2[0].children && data2[0].children.length > 0">
        <el-tree :data="data2"
                  show-checkbox
                  default-expand-all
                  node-key="id"
                  ref="tree"
                  highlight-current
                  :expand-on-click-node="false"
                  :filter-node-method="filterNode"
                  @check="changeCheck"
                  :props="defaultProps">
        </el-tree>
      </div>
      <p class="ly-margin-top-20px ly-font-color-7" v-if="!(data2[0].children && data2[0].children.length > 0)">暂无个人号列表</p>
    </div>
    <div class="ly-margin-top-20px ly-text-right">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="confirm" :disabled="(data2[0].children && data2[0].children.length)?false:true">确 认</el-button>
    </div>
  </div>
</template>

<script>
// import { personalNumManageApi } from '@/api/system'
export default {
  components: {},
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    },
    checkNum: {
      type: Number,
      default: function () {
        return 100000
      }
    },
    checkArr: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val)
    }
  },
  data() {
    return {
      filterText: '',
      data2: [{
        id: 0,
        label: '全选',
        disabled: false,
        children: []
      }],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  created() {
    this.data2[0].children = this.dialogProp.records
    this.initParantNode()
  },
  methods: {
    /**
     *用于控制全选是否可以选择与否
     */
    initParantNode() {
      let len = this.data2[0].children.length
      if (len > this.checkNum) {
        this.data2[0].disabled = true
      }
      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(this.checkArr)
      })
    },
    closeDialog() {
      this.$emit('closeDialog')
    },
    filterNode(value, data) {
      if (!value) return true
      return data.label.indexOf(value) !== -1
    },
    /**
     *用于控制用户选择了5个个人号后，不可在添加个人号
     */
    changeCheck(data, obj) {
      let checkdNodes = this.$refs.tree.getCheckedNodes()
      if (this.data2[0].children.length > this.checkNum) {
        if (checkdNodes.length === this.checkNum) {
          this.data2[0].children.forEach(item => {
            if (!checkdNodes.includes(item)) {
              item.disabled = true
            }
          })
        } else if (checkdNodes.length < this.checkNum) {
          this.data2[0].children.forEach(item => {
            item.disabled = false
          })
        }
      }
    },
    confirm() {
      let checkdNodes = this.$refs.tree.getCheckedNodes()
      let newCheckArr = checkdNodes
      if (checkdNodes.length > this.data2[0].children.length) {
        newCheckArr.splice(0, 1)
      }
      /*
      if (newCheckArr.length === 0) {
        this.$notify({
          title: '提示',
          message: '请选择个人号',
          type: 'warning'
        })
        return
      }
      */
      this.$emit('getPersonNum', newCheckArr, this.dialogProp.type, this.dialogProp.data)
    }
  }
}
</script>
