<template>
  <div style="background-color: #F1F4F6;">
    <!-- 筛选查询 -->
    <el-collapse v-model="activeNames"
                 class="ly-collapse ly-margin-top-20px ly-padding-horizontal-sm ly-bg-white"
                 :class="{'ly-padding-bottom-sm':!activeNames[0]}">
      <el-collapse-item name="1">
        <!-- title -->
        <template slot="title"
                  class="ly-box">
          <div class="ly-box-1 ly-font-16 ly-font-color-1">
            <span class="ly-vertical-line">筛选查询</span>
          </div>
          <div class="ly-font-14 ly-font-color-2">
            <i class="el-icon-arrow-down"
               :class="activeNames[0]?'ly-rotate-nge-180':'ly-rotate-180'"></i> {{activeNames[0]?'收起筛选':'打开筛选'}}
          </div>
        </template>
        <div class="ly-clearfix">
          <el-input placeholder="请输入微信昵称"
                    class="ly-margin-right-bottom-sm"
                    clearable
                    v-model.trim="params.nameGroName"
                    :maxlength="100"
                    @keyup.native.enter="getTableList(1)">
          </el-input>
          <el-select v-model="params.ifAccount"
                     placeholder="是否是个人号"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="是"
                       :value="1">
            </el-option>
            <el-option label="否"
                       :value="0">
            </el-option>
          </el-select>
          <el-select v-model="params.joinType"
                     placeholder="进群方式"
                     clearable
                     class="ly-margin-right-sm">
            <el-option label="扫码入群"
                       :value="1">
            </el-option>
            <el-option label="邀请入群"
                       :value="2">
            </el-option>
          </el-select>
          <!-- button -->
          <el-button class="ly-float-right"
                     size="medium"
                     @click="resetCallback">重置
          </el-button>
          <el-button class="ly-float-right ly-margin-right-sm"
                     type="primary"
                     size="medium"
                     @click="getTableList(1)">查询
          </el-button>
        </div>
      </el-collapse-item>
    </el-collapse>
    <!-- 数据列表 -->
    <div class="ly-bg-white ly-padding-sm ly-margin-vertical-sm">
      <!-- 表头 -->
      <div class="ly-box">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
          <span class="ly-vertical-line">数据列表</span>
        </div>
      </div>
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="tableData.records"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="微信昵称"
                         min-width="120">
          <template slot-scope="scope">
            {{ scope.row.nickName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="微信号"
                         min-width="120">
          <template slot-scope="scope">
            <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.wxAccount">{{ scope.row.wxAccount || '--' }}</div>
          </template>
        </el-table-column>
        <!--
        <el-table-column label="群昵称"
                         min-width="120">
          <template slot-scope="scope">
            <div class="ly-width-100px ly-max-height-40px ly-ellipsis2" :title="scope.row.groupNickName">{{ scope.row.groupNickName || '--' }}</div>
          </template>
        </el-table-column>
        -->
        <el-table-column label="群身份"
                         min-width="120">
          <template slot-scope="scope">
            <span v-if="scope.row.role === 1">群主</span>
            <span v-if="scope.row.role === 2">群管理员</span>
            <span v-if="scope.row.role === 3">普通群员</span>
          </template>
        </el-table-column>
        <el-table-column label="是否是个人号" align="center">
          <template slot-scope="scope">
            <span v-if="scope.row.ifAccount === 1">是<span v-if="scope.row.isPullUser">(拉手)</span></span>
            <span v-else-if="scope.row.ifAccount === 0">否</span>
            <span v-else>未知</span>
          </template>
        </el-table-column>
        <el-table-column label="进群方式" width="200" fixed="right" align="center">
          <template slot-scope="scope">
            <el-button type="text"
                       class="ly-margin-5px"
                       v-if="scope.row.joinType === 2"
                       size="small" @click="showRecords(scope.row)">{{scope.row.inviteNickName}}</el-button>
            <p>
              <span v-if="scope.row.joinType === 1">扫码入群</span>
              <span v-else-if="scope.row.joinType ===2">邀请入群</span>
              <span v-else>未知</span>
            </p>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="ly-box ly-margin-top-sm" v-if="tableData.records && tableData.records.length">
        <vma-pagination class="ly-text-right ly-box-1"
                        :pageNum="params.current"
                        :page-size="params.size"
                        :total="tableData.total"
                        @change="getTableList" />
      </div>
    </div>
    <!--邀请/退群-->
    <el-dialog title="邀请/退群" :visible.sync="groupRecordsDialogInfo.show" width="489px" v-if="groupRecordsDialogInfo.show" append-to-body>
      <gActivityGroupListMembersRecords :dialogProp="groupRecordsDialogInfo"
                            @closeDialog="closeRecordsDialog"></gActivityGroupListMembersRecords>
    </el-dialog>
  </div>
</template>

<script>
import { tableMixin } from '@/mixins'
import { v2communityManage } from '@/api/system'
import gActivityGroupListMembersRecords from './gActivityGroupListMembersRecords.vue'
export default {
  mixins: [tableMixin],
  components: {
    gActivityGroupListMembersRecords
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      activeNames: ['1'],
      params: {
        nameGroName: '',
        ifAccount: '',
        joinType: '',
        groupId: ''
      },
      tableData: {},
      groupRecordsDialogInfo: {}
    }
  },
  created() {
  },
  methods: {
    /**
     * 获取微信好友列表
     */
    async requestTableList() {
      let params = this.params
      params.groupId = this.dialogProp.data.groupId
      await v2communityManage.getGroupListManageRecord(this.params).then((data) => {
        this.tableData = data
      })
    },
    /**
     * 邀请/退群--弹窗-show
     */
    showRecords(data) {
      this.groupRecordsDialogInfo = {
        show: true,
        data: data,
        groupId: this.params.groupId
      }
    },
    /**
     * 邀请/退群--弹窗-hide
     */
    closeRecordsDialog() {
      this.groupRecordsDialogInfo = {}
    }
  }
}
</script>
<style type="scss">
.ly-statistices-body .el-dialog__body{
  padding-top: 0;
}
</style>
