<template>
  <div>
    <div class="ly-box ly-font-16">
      <div class="ly-box-1">正常拉手号总数：{{tableData.normalCount || 0}}</div>
      <div class="ly-box-1 ly-text-right">
        <el-popover placement="right"
                    width="400"
                    trigger="hover">
          <div>
            <p>拉手号状态说明</p>
            <p>1.正常：服务进行中</p>
            <p>2.已封号：拉手号已被封号，系统自动更换新拉手号，若更换不成功，需手动点击“更换”按钮进行更换。</p>
            <p>3.等待入群：拉手号在2分钟之内未进群，需群内管理员手动添加拉手号为好友拉入群内。</p>
            <p>4.用户移除退群：拉手号服务关闭或“拉手详情页”中被手动移除。</p>
            <p>5.被踢出群：拉手号被群主踢出群。</p>
            <p>6.不可用：拉手号异常不可用。</p>
            <p>7.今日分配已上限：今日拉手号已被扫码100次，拉手号今日将不再分配服务。</p>
            <p>8.主动退群：拉手号主动退出群聊</p>
          </div>
          <el-button type="text" class="ly-font-color-7" slot="reference">拉手状态说明？</el-button>
        </el-popover>
      </div>
    </div>
    <!-- 表格 -->
    <div class="ly-margin-top-20px">
      <el-table ref="multipleTable"
                :data="tableData.pullDetailBolist"
                max-height="350"
                tooltip-effect="dark"
                style="width: 100%">
        <el-table-column label="拉手号昵称"
                         align="center"
                         min-width="120">
          <template slot-scope="scope">
            {{ scope.row.nickName || '--' }}
          </template>
        </el-table-column>
        <el-table-column label="二维码" min-width="120" align="center">
          <template slot-scope="scope">
            <img class="ly-wh-50px" :src="scope.row.cardUrl" />
          </template>
        </el-table-column>
        <el-table-column label="拉手号状态"
                         align="center">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 1">正常<span v-if="scope.row.pullUserStatus===2">(已暂停)</span></span>
            <span v-else-if="scope.row.status === 2">已封号</span>
            <span v-else-if="scope.row.status === 3">等待入群</span>
            <span v-else-if="scope.row.status === 4">用户移除退群</span>
            <span v-else-if="scope.row.status === 5">被踢出群</span>
            <span v-else-if="scope.row.status === 6">不可用</span>
            <span v-else-if="scope.row.status === 7">今日分配已上限</span>
            <span v-else-if="scope.row.status === 8">主动退群</span>
            <span v-else>未知</span>
          </template>
        </el-table-column>
        <el-table-column label="服务开始时间"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.startServiceTime | date }}
          </template>
        </el-table-column>
        <el-table-column label="服务结束时间"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.endServiceTime | date }}
          </template>
        </el-table-column>
        <el-table-column label="累计拉人"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.pullCount || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="拉人数/扫码数"
                         min-width="120"
                         align="center">
          <template slot-scope="scope">
            {{ scope.row.pullSuccessCount || 0 }}/{{ scope.row.scanCount || 0}}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button type="text"
                       class="ly-margin-5px"
                       :disabled="hasAction?false:true"
                       v-if="scope.row.status === 1 || scope.row.status === 7"
                       size="small" @click="removeGroup(scope.row)">移除</el-button>
            <el-button type="text"
                       class="ly-margin-5px"
                       :disabled="hasAction?false:true"
                       v-if="scope.row.status === 2 || scope.row.status === 6"
                       size="small" @click="addPersonNum(2, scope.row)">更换</el-button>
            <el-button type="text"
                       v-if="scope.row.status === 3 || scope.row.status === 4 || scope.row.status === 5 || scope.row.status === 8"
                       class="ly-margin-5px"
                       size="small">--</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="ly-margin-top-20px">
      <el-button size="small"
                 type="primary"
                 v-if="hasAction"
                 @click="addPersonNum(1)"
                 :disabled="disabled">添加</el-button>
      <span>每个群最多进5个拉手</span>
    </div>
    <!--选择个人号-->
    <el-dialog title="请选择个人号" :visible.sync="personDialogInfo.show" width="660px" v-if="personDialogInfo.show" append-to-body>
      <gActivityGroupListHandleAddNum :dialogProp="personDialogInfo"
                                      :checkArr="checkArr"
                                      :checkNum="num"
                                      @closeDialog="closePersonDialog"
                                      @getPersonNum="getPersonNum"></gActivityGroupListHandleAddNum>
    </el-dialog>
  </div>
</template>

<script>
import { v2communityManage } from '@/api/system'
import { resourceMixin } from '@/mixins'
import { RESOURCE_ACTION_MAP } from '@/constants'
import gActivityGroupListHandleAddNum from './gActivityGroupListHandleAddNum.vue'
export default {
  mixins: [resourceMixin],
  components: {gActivityGroupListHandleAddNum},
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      tableData: {},
      totalNum: 5,
      num: 0,
      checkArr: [],
      personDialogInfo: {},
      disabled: false,
      openStats: {}
    }
  },
  created() {
    this.getHandleStatusDialogInfo()
    this.getHandleDetailInfo()
  },
  computed: {
    // 是否拥有删除个人号
    hasAction() {
      return this.hasResourceAction(RESOURCE_ACTION_MAP.GROUP_ACTIVITY)
    }
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    /**
     * 群拉手--获取群拉手状态
     */
    async getHandleStatusDialogInfo() {
      let params = {
        activeityId: this.dialogProp.id,
        groupId: this.dialogProp.data.groupId
      }
      await v2communityManage.getGroupListHandleClick(params).then((res) => {
        this.openStats = res
      })
    },
    /**
     * 获取拉手详情-获取拉手详情
     */
    async getHandleDetailInfo() {
      let params = {
        id: this.dialogProp.data.groupId
      }
      await v2communityManage.getGroupListHandleDetail(params.id).then((data) => {
        this.tableData = data
        if (data.normalCount >= 5) {
          this.disabled = true
        } else {
          this.disabled = false
        }
      })
    },
    /**
     * 选择个人号--show
     */
    addPersonNum(type, data) {
      if (this.openStats.status !== 1) {
        this.$notify({
          title: '提示',
          message: '请先开启群拉手',
          type: 'warning'
        })
        return false
      }
      if (type === 2) {
        this.num = 1
        this.getPersonNumberRecords(type, data)
      } else {
        if (this.tableData.normalCount >= 0) {
          if (this.totalNum - this.tableData.normalCount > 0) {
            this.num = this.totalNum - this.tableData.normalCount
            this.getPersonNumberRecords(type, data)
          } else {
            this.num = 0
            this.$notify({
              title: '提示',
              message: '群拉手已满',
              type: 'warning'
            })
          }
        } else {
          this.$confirm('出错了，请重试?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.getHandleDetailInfo()
          }).catch(() => {
          })
        }
      }
    },
    async getPersonNumberRecords(type, data) {
      let params = {
        id: this.dialogProp.data.groupId
      }
      await v2communityManage.getGroupListHandlePersonList(params).then((data) => {
        let newArr = []
        data.forEach(item => {
          let label = `${item.nickName}(${item.account})`
          let param = {
            id: item.id,
            label: label,
            disabled: false
          }
          if (this.num === 0) {
            param.disabled = true
          }
          newArr.push(param)
        })
        this.personDialogInfo = {
          show: true,
          data: data,
          records: newArr,
          type: type
        }
      })
    },
    /**
     * 选择个人号--hide
     */
    closePersonDialog() {
      this.personDialogInfo = {}
    },
    /**
     * 选择个人号--确定添加
     */
    async getPersonNum(arr, type, data) {
      if (type === 1) {
        // 添加个人号
        let ids = []
        arr.forEach(item => {
          ids.push(item.id)
        })
        let params = {
          activityId: this.dialogProp.id,
          groupId: this.dialogProp.data.groupId,
          ids: ids
        }
        await v2communityManage.openGroupListHandle(params).then((data) => {
          this.closePersonDialog()
          this.getHandleDetailInfo()
        })
      } else {
        // 更换个人号
        let params = {
          groupId: this.dialogProp.data.groupId,
          keyId: this.personDialogInfo.data.keyId,
          id: data.id,
          newId: arr[0].id
        }
        await v2communityManage.changeGroupListHandle(params).then((data) => {
          this.closePersonDialog()
          this.getHandleDetailInfo()
        })
      }
    },
    /**
     * 移除
     */
    removeGroup(data) {
      let title = `移除后，此拉手号将自动退群，且此拉手号服务立即终止，确定移除吗？`
      this.$confirm(title, '是否移除拉手号？', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.sureRemoveOut(data)
      }).catch(() => {})
    },
    /**
     * 移除--确定
     */
    async sureRemoveOut(data) {
      let params = {
        id: data.id,
        groupId: this.dialogProp.data.groupId,
        keyId: data.keyId
      }
      await v2communityManage.removeGroupListHandle(params).then((data) => {
        this.success('移出成功!')
        this.getHandleDetailInfo()
      })
    }
  }
}
</script>
