<template>
  <div>
    <!--<div class="ly-text-center">群活动二维码<span class="colortip"><span v-if="dialogProp.data.ifAdd">未添加</span><span v-if="dialogProp.data.ifFull">群已满</span></span>，请前往群列表设置</div>-->
    <div class="ly-text-center">群活动二维码
      <span class="ly-font-color-13" v-if="dialogProp.data.ifAdd === 0">
        未添加
      </span>
      <span v-else>
        <span class="ly-font-color-13" v-if="dialogProp.data.ifOverdue === 1">未添加</span>
        <span class="ly-font-color-7" v-if="dialogProp.data.ifFull === 1">群已满</span>
      </span>
      ，请前往群列表设置
    </div>
    <div class="ly-margin-top-20px ly-text-center">
      <div class="ly-inline-block">
        <Qrcode :url="dialogProp.url"
                :size='140'></Qrcode>
      </div>
    </div>
    <div class="ly-margin-top-20px ly-text-center">
      <el-button size="medium" @click="closeDialog">取 消</el-button>
      <el-button size="medium" type="primary" @click="turnToSet">前往设置</el-button>
    </div>
  </div>
</template>

<script>
import Qrcode from '@/components/common/qrcodeCreate' // 生成二维码
export default {
  components: {
    Qrcode
  },
  props: {
    dialogProp: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {}
  },
  created() {
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },
    turnToSet() {
      this.$emit('addGroupCode', this.dialogProp)
      this.closeDialog()
    }
  }
}
</script>
