<template>
  <el-collapse class="mall-item" v-model="activeCollapse">
    <el-collapse-item name="1">
      <template slot="title">
        {{entity.title}}
        <el-badge v-if="entity.bindStatus && total > 0" class="ml-10" :value="total" />
        <span class="ml-10 title-tag" v-else-if="!entity.bindStatus">未绑定</span>
      </template>
      <!-- 更改绑定 -->
      <div class="bind-customer-info" v-if="formShow">
        <el-form :model="bindForm" :rules="bindRules" ref="bindForm" validate-on-rule-change>
          <el-form-item prop="accountType">
            <div class="select-order-type">
              <el-radio-group v-model="bindForm.accountType" @change="onChangeType">
                <el-radio :label="1">账号</el-radio>
                <el-radio :label="2">手机号</el-radio>
                <el-radio :label="3">订单号</el-radio>
              </el-radio-group>
            </div>
          </el-form-item>
          <el-form-item prop="accountNo">
            <el-input type="text" v-model.trim="bindForm.accountNo" :maxlength="30"></el-input>
          </el-form-item>
        </el-form>
        <el-button class="bind-btn" type="primary" @click="sureBind">确认绑定</el-button>
      </div>
      <el-button class="bind-btn" type="primary" v-else-if="formShow === false" @click="toResetBind">重新绑定</el-button>
      <!-- 列表 -->
      <ul v-if="entity.bindStatus">
        <li class="order-item" v-for="(item, index) in tableData" :key="item.id">
          <div class="order-header">
            订单号：{{item.orderNo}}
            <span class="fr status">{{item. tradingStatusLable}}</span>
          </div>
          <div class="order-body">
            <img :src="item.goodsPicUrl | productAvtor" class="fl avator">
            <div class="pos-r">
              <div class="name">{{item.goodsName}}</div>
              <div class="specifications">数量：{{item.goodsNum}}</div>
              <div class="pos-a price">
                <span class="before-price" v-if="item.goodsPrice">¥{{item.goodsPrice}}</span>
                <span class="last-price" v-if="item.buyerPay">
                  ¥<span class="number">{{item.buyerPay}}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="order-footer">
            下单时间：{{item.orderTime | date('yyyy-MM-dd hh:mm')}}
            <el-button class="fr detail-btn" size="mini" type="primary" @click="showOrderDetail(index)">详情</el-button>
          </div>
        </li>
      </ul>
      <div class="mt-20 text-r" v-if="entity.bindStatus">
        <el-pagination
          small
          :page-size="params.size"
          :current-page.sync="params.current"
          :total="total"
          layout="prev, pager, next"
          @current-change="getTableList">
        </el-pagination>
      </div>
    </el-collapse-item>
  </el-collapse>
</template>

<script>
import {detailMixin} from '@/mixins'
import { mapGetters } from 'vuex'
import { customerOrderApi, commonApi } from '@/api/chat'
import { mobileValidator } from '@/assets/js/validators'
import Logger from '@/utils/logger'

export default {
  mixins: [detailMixin],
  data() {
    return {
      activeCollapse: '1',
      bindForm: {
        accountType: 1,
        accountNo: null
      },
      formShow: false,
      tableData: [],
      params: {
        current: 1,
        size: 10,
        type: null,
        wechatUserId: null
      },
      total: 0,
      bindRules: {
        accountNo: []
      },
      rules: {
        account: [
          { required: true, message: '输入不能为空', trigger: 'blur' }
        ],
        phone: [
          { required: true, message: '输入不能为空', trigger: 'blur' },
          { validator: mobileValidator }
        ],
        order: [
          { required: true, message: '输入不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'activeChatFriendInfo'
    ])
  },
  methods: {
    afterEntity(entity) {
      if (!entity.mallType) return
      this.params = {
        current: 1,
        size: 1,
        type: entity.mallType,
        wechatUserId: this.activeChatFriendInfo.id
      }
      this.bindForm = {
        accountType: this.entity.type || 1,
        accountNo: this.entity.accountNo
      }
      if (entity.bindStatus) {
        this.alreadyBind()
      } else {
        this.showBindForm()
      }
    },
    /**
     * 切换账号类型时，更改校验规则
     * @return {[type]} [description]
     */
    onChangeType() {
      let rule
      if (this.bindForm.accountType === 1) {
        rule = this.rules.account
      } else if (this.bindForm.accountType === 2) {
        rule = this.rules.phone
      } else if (this.bindForm.accountType === 3) {
        rule = this.rules.order
      }
      this.$set(this.bindRules, 'accountNo', rule)
      this.$refs.bindForm && this.$refs.bindForm.validateField('accountNo')
    },
    /**
     * 获取列表数据
     * @param  {Number} page [description]
     * @param  {Number} size [description]
     * @return {[type]}      [description]
     */
    async getTableList(page = 1, size = 10) {
      let data = await commonApi.getShopOrderList(this.params)
      this.total = data.total
      this.tableData = data.records
      Logger.info(this.entity.mallType, data)
    },
    /**
     * 显示绑定菜单
     * @return {[type]} [description]
     */
    showBindForm() {
      this.formShow = true
      // 校验一次
      this.onChangeType()
    },
    alreadyBind() {
      this.formShow = false
      this.getTableList()
    },
    /**
     * 重新绑定
     * @return {[type]} [description]
     */
    toResetBind() {
      this.$confirm('重新绑定将解绑原来绑定的账号，是否确定重新绑定？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.showBindForm()
      })
    },
    /**
     * 确认绑定
     * @return {[type]} [description]
     */
    async sureBind() {
      Logger.info('bindRules', this.bindRules, this.bindForm)
      await this.$refs.bindForm.validate()
      let params
      if (this.entity.mallType === 1) {
        // 淘宝
        params = {
          id: this.activeChatFriendInfo.id,
          taobaoBinding: 1,
          taobaoNo: this.bindForm.accountNo,
          taobaoType: this.bindForm.accountType
        }
      } else if (this.entity.mallType === 2) {
        // 京东
        params = {
          id: this.activeChatFriendInfo.id,
          jingdongBinding: 1,
          jingdongNo: this.bindForm.accountNo,
          jingdongType: this.bindForm.accountType
        }
      } else if (this.entity.mallType === 3) {
        // 拼多多
        params = {
          id: this.activeChatFriendInfo.id,
          pinduoduoBinding: 1,
          pinduoduoNo: this.bindForm.accountNo,
          pinduoduoType: this.bindForm.accountType
        }
      }
      Logger.info('绑定', params)
      customerOrderApi.saveWechatUserBindAccount(params).then(resp => {
        Logger.info('绑定结果', resp)
        this.success('绑定成功')
        this.afterBindSuccess(this.bindForm.accountType, this.bindForm.accountNo)
      })
      // this.formShow = false
    },
    afterBindSuccess(accountType, accountNo) {
      this.$set(this.entity, 'bindStatus', 1)
      this.$set(this.entity, 'type', accountType)
      this.$set(this.entity, 'accountNo', accountNo)
      this.formShow = false
      this.bindForm = {
        accountType: this.entity.type,
        accountNo: this.entity.accountNo
      }
      this.getTableList()
    },
    /**
     * 订单详情
     * @return {[type]} [description]
     */
    showOrderDetail(index) {
      this.$emit('open-order-detail', this.tableData[index].orderNo)
    }
  }
}
</script>
