<template>
  <el-dialog title="订单详情" :visible.sync="dialogVisible" width="880px" @close="closeDialog" custom-class="order-detail-dialog">
    <div class="order-detail-header">
      <ul>
        <li class="ly-vertical-top">订单号：<span class="header-content">{{orderDetail.orderNo}}</span></li>
        <li class="ly-vertical-top">店铺平台：<span class="header-content">{{orderDetail.typeLabel}}</span></li>
        <li class="ly-vertical-top">店铺名称：<span class="header-content">{{orderDetail.shopName}}</span></li>
        <li class="tr ly-vertical-top">
          <span class="header-content pointer pr-10" v-if="orderDetail.tradingStatus === 1">待付款</span>
          <span class="header-content pointer pr-10" v-else-if="orderDetail.tradingStatus === 2">待发货</span>
          <span class="header-content pointer pr-10" v-else-if="orderDetail.tradingStatus === 3">待收货</span>
          <span class="header-content pointer pr-10" v-else-if="orderDetail.tradingStatus === 4">待评价</span>
          <span class="header-content pointer pr-10" v-else-if="orderDetail.tradingStatus === 5">交易成功</span>
          <span class="header-content pointer pr-10" v-else-if="orderDetail.tradingStatus === 6">交易关闭</span>
        </li>
      </ul>
    </div>
    <table class="ly-width-780px ly-margin-center ly-table-td-padding-8px ly-table-border-collapse ly-table-td-border ly-font-color-4 tl">
      <tr>
        <td class="table-title-col">买家昵称</td>
        <td colspan="3">{{orderDetail.buyersAccount}}</td>
      </tr>
      <tr>
        <td>收货手机号</td>
        <td colspan="3">{{orderDetail.phone}}</td>
      </tr>
      <tr>
        <td>收货地址</td>
        <td colspan="3">{{orderDetail.receiverAddressComplete}}</td>
      </tr>
      <tr>
        <td>下单时间</td>
        <td colspan="3">{{orderDetail.orderTime | date('yyyy-MM-dd hh:mm')}}</td>
      </tr>
      <tr>
        <td>订单总金额</td>
        <td colspan="1">{{orderDetail.totalPay}}元</td>
        <td>实付金额</td>
        <td colspan="1">{{orderDetail.buyersPay}}元</td>
      </tr>
      <tr>
        <td>买家留言</td>
        <td colspan="3">{{orderDetail.remark}}</td>
      </tr>
    </table>
    <el-table
      :data="tableData"
      border
      class="ly-width-780px ly-margin-center ly-margintop-40px">
      <el-table-column
        label="商品"
        width="357"
        header-align="center">
        <template slot-scope="scope">
          <div class="el-imgtxt-mix">
            <div class="el-imgtxt-mix-img ly-wh-60-60px-im">
              <img :src="scope.row.goodsPicUrl | productAvtor" />
            </div>
            <div class="el-imgtxt-mix-txt ly-paddingleft-70px-im">
              <p class="el-imgtxt-mix-p1 ly-ellipsis2">{{scope.row.goodsName}}</p>
              <!-- <p class="el-imgtxt-mix-p3 ly-font-color-8">ceiling1212</p> -->
            </div>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="单价"
        align="center"
        header-align="center">
        <template slot-scope="scope">
          {{scope.row.goodsPrice}}
        </template>
      </el-table-column>
      <el-table-column
        label="数量"
        align="center"
        header-align="center">
        <template slot-scope="scope">
          {{scope.row.goodsNum}}
        </template>
      </el-table-column>
      <el-table-column
        label="买家实付款"
        align="center"
        header-align="center">
        <template slot-scope="scope">
          {{scope.row.buyersPay}}
        </template>
      </el-table-column>
      <el-table-column label="状态"
                       align="center"
                       header-align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.tradingStatus === 1">待付款</span>
          <span v-else-if="scope.row.tradingStatus === 2">待发货</span>
          <span v-else-if="scope.row.tradingStatus === 3">待收货</span>
          <span v-else-if="scope.row.tradingStatus === 4">待评价</span>
          <span v-else-if="scope.row.tradingStatus === 5">交易成功</span>
          <span class="ly-font-color-7" v-else-if="scope.row.tradingStatus === 6">交易关闭</span>
        </template>
      </el-table-column>
    </el-table>
  </el-dialog>
</template>

<script>
import { commonApi } from '@/api/chat'

export default {
  props: {
    data: {
      type: Object
    }
  },
  data() {
    return {
      dialogVisible: true,
      orderDetail: {},
      tableData: []
    }
  },
  created() {
    this.dialogVisible = true
    this.getOrderDetail(this.data.id)
  },
  methods: {
    closeDialog() {
      this.$emit('on-close')
    },
    getOrderDetail(id) {
      commonApi.getShopOrderDetail(id).then(resp => {
        this.orderDetail = resp
        this.tableData = [{
          goodsName: resp.goodsName,
          goodsPicUrl: resp.goodsPicUrl,
          goodsPrice: resp.goodsPrice,
          goodsNum: resp.goodsNum,
          buyersPay: resp.buyersPay,
          tradingStatus: resp.tradingStatus
        }]
      })
    }
  }
}
</script>
