<template>
  <div>
    <!-- 查询选择 -->
    <ul class="ly-clearfix ly-margin-bottom-sm">
      <li class="ly-float-left ly-margin-right-sm">
        <BtnSelect @on-click="itemClick"></BtnSelect>
      </li>
      <li class="ly-float-left ly-margin-right-sm">
        <BtnSelect :optionList='optionList1'
                   @on-click="itemClick"></BtnSelect>
      </li>
      <li class="ly-float-left">
        <el-button type="primary"
                   size='small'>查询</el-button>
      </li>
    </ul>
    <!-- echarts -->
    <div ref="chart"
         id="countPie"
         style="width:1500px;height:500px"></div>
  </div>
</template>

<script>
import echarts from 'echarts'
// import '@static/js/echarts/china'
// import data from './src/data'
import options from './src/options'
import BtnSelect from '@/components/common/btnSelect'

export default {
  components: { BtnSelect },
  data() {
    return {
      chart: null,
      optionList1: ['8小时', '12小时', '24小时', '自定义']
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart() {
      console.log('buildChart')
      // options.series[0].data = data

      if (!this.chart) {
        this.chart = echarts.init(this.$refs.chart)
      }
      this.chart.setOption(options)
    },
    itemClick(val) {
      console.log(val)
    }
  }
}
</script>
