<template>
    <div>
        <!-- <ExportExcel :excelName='eq'></ExportExcel> -->
    <el-table
    :data="EquipmentData"
    style="width: 100%; min-width: 800px;"
    :default-sort = "{prop: 'date', order: 'descending'}"
    show-summary
    :summary-method="getEquipmentSums"
    >
    <el-table-column
      prop="calendar"
      label="日期"
      sortable
      width="180">
      
    </el-table-column>
    <el-table-column v-for="(item,index) in childList" :key="item.id" :prop='item.name' :label='item.enName'>
</el-table-column>
<!-- <el-table-column
      prop="shanghai"
      label="上海"
      width="180">
      <template slot-scope='scope'>
        <span>{{scope.row.shanghai | cityTable}}</span>
      </template>
</el-table-column>
<el-table-column prop="shenzhen" label="深圳" width="180">
    <template slot-scope='scope'>
        <span>{{scope.row.shenzhen | cityTable}}</span>
      </template>
</el-table-column>
<el-table-column prop="zibo" label="淄博" width="180">
    <template slot-scope='scope'>
        <span>{{scope.row.zibo | cityTable}}</span>
      </template>
</el-table-column>
<el-table-column prop="chendu" label="成都" width="180">
    <template slot-scope='scope'>
        <span>{{scope.row.chendu | cityTable}}</span>
      </template>
</el-table-column>
<el-table-column prop="qianzhi" label="前置" width="180">
    <template slot-scope='scope'>
        <span>{{scope.row.qianzhi | cityTable}}</span>
      </template>
</el-table-column> -->
<el-table-column prop="count" label="求和" width="auto">
</el-table-column>
</el-table>
<tablePage :params='params'></tablePage>
</div>
</template>
<script>
    import ExportExcel from '../../common/ExportExcel'
    import tablePage from '../../common/Pagintion.vue'
    import mixinsList from '../../common/mixinsList.js'
    export default {
        props: {
            EquipmentData: {
                type: Array,
                default: function() {
                    return []
                }
            },
            childList: {
                type: Array,
                default () {
                    return []
                }
            },
            params: {
                type: Object,
                default: function() {
                    return {}
                }
            },
        },
        components: {
            tablePage,
            ExportExcel
        },
        mixins: [mixinsList],
        data() {
            return {
                sumText: '2020年总计',
                annualTotal: null,
                // excelName: 'eq'
            }
        },
        filters: {
            cityTable(val) {
                if (val == null) {
                    return '暂无数据'
                } else {
                    return val
                }
            }
        },
        computed: {},
        created() {
            //获取设备列表
            // console.log(this.params)
        },
        methods: {


        }
    }
</script>
<style>

</style>