<template>
  <div>
    <el-form class="staff-form"
             :model="params"
             :rules="rules"
             ref="ruleForm">
      <el-form-item label="个人号:"
                    class="personNumcheck"
                    :label-width="formLabelWidth"
                    prop="wechatAccountIds">
        <personNumSecSelectGroup  placeholder="请选择个人号" v-model="params.wechatAccountIds" :filterable="true" :multiple="true" :collapse-tags="true" style="width: 230px"></personNumSecSelectGroup>
      </el-form-item>
      <el-form-item label="部门:"
                    :label-width="formLabelWidth">
        <!--部门级联已经调整-->
        <departmenTreeCascadert v-model="departmentId"
                                filterable
                                placeholder="请选择接收员工部门" style="width: 230px"></departmenTreeCascadert>
      </el-form-item>
      <el-form-item label="分配员工:"
                    :label-width="formLabelWidth"
                    prop="staffId">
        <!--分配员工已经调整-->
        <departmentStaff placeholder="请选择或搜索要分配的员工"
                         style="width: 230px"
                         v-model="params.staffId"
                         filterable
                         clearable
                         v-if="initStaffStatus"
                         :parentId="departmentId"></departmentStaff>
      </el-form-item>
      <el-form-item>
        <p class="colortip ly-text-center">一键分配后，原已分配好友也将被重新分配</p>
      </el-form-item>
      <el-form-item>
        <div class="ly-text-right">
          <el-button size="medium"
                     @click="dialog.open = false">取 消</el-button>
          <el-button size="medium"
                     type="primary"
                     @click="confirmSubmit">确 定</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import personalInfo from '@/components/common/personalInfo'
import { personalNumManageApi } from '@/api/system'
import { departmentStaff } from '@/components/packages/system/lazySelect'
import { departmenTreeCascadert } from '@/components/packages/system/lazyCascader'
import { personNumSecSelectGroup } from '@/components/packages/system/lazySelectGroup'
export default {
  components: {
    personalInfo,
    departmenTreeCascadert,
    departmentStaff,
    personNumSecSelectGroup
  },
  props: {
    dialog: {
      // type: 1, // 1--好友列表，2--表示群列表
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      formLabelWidth: '136px',
      departmentId: [],
      params: {
        departmentId: '',
        staffId: '',
        wechatAccountIds: []
      },
      initStaffStatus: true,
      rules: {
        wechatAccountIds: [
          { required: true, message: '请选择个人号' }
        ],
        staffId: [
          { required: true, message: '请选择要分配的员工' }
        ]
      }
    }
  },
  watch: {
    'departmentId': function (val, oldVal) {
      let oldDepartmentId = this.params.departmentId
      let newDepartmentId = val[val.length - 1] || ''
      if (oldDepartmentId !== newDepartmentId) {
        this.params.staffId = ''
        this.initStaffStatus = false
        this.$nextTick(() => {
          this.initStaffStatus = true
        })
      }
      this.params.departmentId = newDepartmentId
    }
  },
  created() {
  },
  methods: {
    changeAccount(val) { },
    confirmSubmit() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.submitData()
        } else {
          return false
        }
      })
    },
    async submitData() {
      let formData = {
        wechatAccountIds: this.params.wechatAccountIds,
        staffId: this.params.staffId
      }
      await personalNumManageApi.wechatGroupListAssignStaffKey(formData).then(() => {
        this.success('分配成功')
        this.dialog.open = false
        this.$emit('getTableList')
      })
    }
  }
}
</script>
<style lang="scss">
.personNumcheck {
  .el-form-item__label {
    line-height: 40px;
  }
  .ly-margin-right-bottom-sm {
    margin-bottom: 0;
    line-height: 40px;
  }
}
.staff-form {
  .ly-margin-right-bottom-sm {
    margin-bottom: 0;
  }
}
</style>
