<template>
  <el-form :model="dialog.data"
           ref="dialog"
           :rules="rules"
           label-width="100px">
    <el-form-item label="备注："
                  prop="remark">
      <el-input type="text"
                clearable
                placeholder="请输入备注（限制20字以内）"
                v-model="dialog.data.remark"
                maxlength="20"
                size="small">
      </el-input>
    </el-form-item>
    <el-form-item class="ly-text-right">
      <el-button @click="dialog.open = false">取 消</el-button>
      <el-button type="primary"
                 @click="sureCallback('dialog')">确 定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { v2communityManage } from '@/api/system'

export default {
  props: {
    dialog: {
      type: [Number, String, Object, Array],
      default: null
    }
  },
  data() {
    return {
      rules: {
        remark: [
          { required: true, message: '请输入备注' }
        ]
      }
    }
  },
  methods: {
    // 弹窗-确定
    sureCallback(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          v2communityManage.communityRemark(this.dialog.data).then(res => {
            this.success('恭喜你，编辑成功')
            this.dialog.open = false
            this.$emit('getTableList')
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>
