// 菜单栏
$chat-aside-bgcolor-first-hover: #4a5672 !default;
$chat-aside-bgcolor-first-active: #4a5672 !default;
$chat-nav-status-online: #32CD32 !default;
$chat-nav-status-off-line: #B3B3B3 !default;
$chat-footer-bgcolor: $background-color-normal;
$chat-footer-color: #fff !default;
$chat-footer-height: 38px !default;
$chat-main-aside-width: 70px;
// 好友列表
$chat-friend-list-bgcolor-hover: #eeeeee !default;
$chat-friend-list-bgcolor-active: #DDDDDD !default;

// 右击菜单
$chat-contextmenu-bgcolor-hover: #2897FF !default;
$chat-contextmenu-color-hover: #FFF !default;

// 
$chat-panel-box-footer-height: 190px !default;

%set-scrollbar {
  &::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    background: #bac0c9;
  }
}