<template>
<div class="ly-box-1 ly-margin-left-20px">
    <div class="ly-box ly-margin-top-36pxrem">
        <div class="ly-font-16 ly-font-color-1 ly-padding-bottom-sm ly-box-1">
        <span class="ly-vertical-line">用户关注问题</span>
        </div>
    </div>
      <div class="ly-echarts-wrapper">
        <div class="ly-echarts-content">
          <div ref="chart" class="ly-echarts-height-full ly-border-DDD-1 ly-margin-left-20px"></div>
        </div>
      </div>
</div>
</template>

<script>
import echarts from 'echarts'
import options from './src/options'
import { homeApi } from '@/api/oms'

import { echartResizeMixin } from '@/mixins'
export default {
  mixins: [echartResizeMixin],
  data() {
    return {
      chart: null,
      params:{
        enterpriseId:''
      },
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.buildChart()
    })
  },
  methods: {
    buildChart(m) {
       this.params.enterpriseId = m
      homeApi.getUserAttentionNum( this.params).then(data => {
        if (data.length > 0) {
          data = data.map(v => {
            if (v.value.length > 5) {
              return {
                name: v.value.substring(0, 5) + '...',
                value: v.score
              }
            } else {
              return {
                name: v.value,
                value: v.score
              }
            }
          })
        }
        options.series[0].data = data
        if (!this.chart) {
          this.chart = echarts.init(this.$refs.chart)
          this.adaptWindowResize(this.chart)
        }
        this.chart.setOption(options)
      })
    }
  }
}
</script>
