<template>
  <div>
    <div class="ly-position-relative ly-padding-vertical-sm" v-if="!materialGroupInfo.titleHide">
      <span class="ly-vertical-line ly-font-16 ly-font-color-1 ly-font-weight-300 ly-vertical-middle">素材</span>
      <span class="ly-vertical-middle ico_add" @click="showLeftGroupAddDialog" v-if="materialGroupInfo.add"></span>
    </div>
    <div class="ly-text-center ly-box">
        <span class="ly-cursor-point ly-font-14 ly-font-weight-300 switch-btn ly-box-1"
              v-bind:class="{ 'switch-btn-choice' : isChoicePerson }"
              @click="switchTag">公共素材</span>
      <span class="ly-cursor-point ly-font-14 ly-font-weight-300 switch-btn ly-box-1"
            v-bind:class="{ 'switch-btn-choice' : !isChoicePerson }"
            @click="switchTag">部门素材</span>
    </div>
    <div class="ly-margin-top-sm"
         v-if="isChoicePerson">
      <div class="ly-box ly-box-align-center ly-box-justify-between ly-cursor-point qreplay-edit-parent ly-vertical-align-icon"
           v-for="item in leftInfoCommon"
           :key="item.id"
           @click="changeGroupId(item)">
        <div class="ly-font-14 ly-font-color-3 ly-font-weight-300 ly-width-100p-m46px ell"
             :class="[item.id==params.msgGroupId?'ly-font-color-5':'']">{{item.groupName}}</div>
        <div class="qreplay-edit-btn" v-if="edit">
          <span class="ico_editor"
                @click.stop="showLeftGroupModifyDialog(item)"><i class="el-icon-edit-outline"></i></span>
          <span class="ico_delete"
                @click.stop="deleteGroupOne(item)"><i class="el-icon-delete"></i></span>
        </div>
      </div>
    </div>
    <div class="ly-margin-top-sm"
         v-else>
      <div class="ly-box ly-box-align-center ly-box-justify-between ly-cursor-point qreplay-edit-parent ly-vertical-align-icon"
           v-for="item in leftInfoDepart"
           :key="item.id"
           @click="changeGroupId(item)">
        <div class="ly-font-14 ly-font-color-3 ly-font-weight-300 ly-width-100p-m46px ell"
             :class="[item.id==params.msgGroupId?'ly-font-color-5':'']">{{item.groupName}}</div>
        <div class="qreplay-edit-btn">
              <span class="ico_editor"
                    @click.stop="showLeftGroupModifyDialog(item)"><i class="el-icon-edit-outline"></i></span>
          <span class="ico_delete"
                @click.stop="deleteGroupOne(item)"><i class="el-icon-delete"></i></span>
        </div>
      </div>
    </div>
    <!--新增左侧快捷语分组-->
    <el-dialog title="新增素材分组" :visible.sync="dialogleftGroupAdd.show" width="489px" v-if="dialogleftGroupAdd.show" @close="closeLeftGroupAddDialog" append-to-body>
      <mManageGroupAdd :dialogProp="dialogleftGroupAdd"  @closeDialog="closeLeftGroupAddDialog" @refreshLeftGroupInfo="refreshLeftGroupInfo"></mManageGroupAdd>
    </el-dialog>
    <!--编辑左侧快捷语分组-->
    <el-dialog title="编辑素材分组" :visible.sync="dialogleftGroupModify.show" width="489px" v-if="dialogleftGroupModify.show" @close="closeLeftGroupModifyDialog" append-to-body>
      <mManageGroupAdd :dialogProp="dialogleftGroupModify"  @closeDialog="closeLeftGroupModifyDialog" @refreshLeftGroupInfo="refreshLeftGroupInfoModify"></mManageGroupAdd>
    </el-dialog>
  </div>
</template>

<script>
    import {
        deviceManageApi
    } from '@/api/system'
    import mManageGroupAdd from './mManageGroupAdd'
    export default {
        components: {
            mManageGroupAdd
        },
        props: {
            materialGroupInfo: {
                type: Object,
                default: function() {
                    return {}
                }
            },
            edit: {
                type: Boolean,
                default: function() {
                    return null
                }
            }
        },
        data() {
            return {
                isChoicePerson: true,
                parentId: '',
                leftInfoCommon: [],
                leftInfoDepart: [],
                dialogleftGroupAdd: {},
                dialogleftGroupModify: {},
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                params: {
                    current: 1,
                    size: 10,
                    msgGroupId: ''
                }
            }
        },
        created() {
            this.getLeftList()
        },
        methods: {
            /**
             * 左侧--类型--切换
             */
            switchTag() {
                this.isChoicePerson = !this.isChoicePerson
                this.params.msgGroupId = ''
                this.$emit('changeGroupId')
                this.getLeftList()
            },
            getLeftList() {
                if (this.isChoicePerson) {
                    this.LeftListCommon()
                } else {
                    this.LeftListDepart()
                }
            },
            initLeftGroup() {
                this.leftInfoCommon = []
                this.leftInfoDepart = []
                this.getLeftList()
            },
            treeExpand(data, node, event) {},
            /**
             * 左侧--素材分组--公共素材列表
             */
            async LeftListCommon() {
                if (!this.leftInfoCommon.length) {
                    await deviceManageApi.mManageGroupCommonGet().then((data) => {
                        this.leftInfoCommon = data
                    })
                }
            },
            /**
             * 左侧--素材分组--部门素材列表
             */
            async LeftListDepart() {
                if (!this.leftInfoDepart.length) {
                    await deviceManageApi.mManageGroupAllGroupGet().then((data) => {
                        this.leftInfoDepart = data
                    })
                }
            },
            /**
             * 左侧--素材分组--新增--弹窗--显示
             */
            showLeftGroupAddDialog() {
                this.dialogleftGroupAdd = {
                    show: true
                }
            },
            /**
             * 左侧--素材分组--新增--弹窗--关闭
             */
            closeLeftGroupAddDialog() {
                this.dialogleftGroupAdd = {}
            },
            /**
             * 左侧--素材分组--新增--弹窗--局部刷新
             */
            refreshLeftGroupInfo() {
                this.initLeftGroup()
                this.closeLeftGroupAddDialog()
            },
            /**
             * 左侧--素材分组--编辑--弹窗--显示
             */
            showLeftGroupModifyDialog(data) {
                let showVal = false
                if (data.id) {
                    showVal = true
                }
                this.dialogleftGroupModify = {
                    show: showVal,
                    data: data
                }
            },
            /**
             * 左侧--素材分组--编辑--弹窗--关闭
             */
            closeLeftGroupModifyDialog() {
                this.dialogleftGroupModify = {}
            },
            /**
             * 左侧--素材分组-编辑--弹窗--刷新
             */
            refreshLeftGroupInfoModify() {
                this.initLeftGroup()
                this.closeLeftGroupModifyDialog()
            },
            /**
             * 左侧--素材分组-删除--确认弹窗
             */
            deleteGroupOne(data) {
                if (data.id) {
                    let that = this
                    this.$confirm('确定要删除该素材分组吗？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        that.sureDeleteGroupOne(data)
                    }).catch(() => {})
                } else {
                    this.warn('id不存在')
                }
            },
            /**
             * 左侧--素材分组-删除--确认删除
             */
            async sureDeleteGroupOne(data) {
                const result = await deviceManageApi.mManageGroupDelete(data.id)
                if (result === 1) {
                    this.success('删除成功!')
                    if (this.params.msgGroupId === data.id) {
                        this.params.msgGroupId = ''
                        this.total = 0
                        this.tableData = []
                    }
                    this.initLeftGroup()
                } else {
                    this.warn('请先删除该分组下的所有快捷回复语!')
                }
            },
            /**
             * 左侧--切换分组--触发父组件方法----------传出分组id
             */
            changeGroupId(data) {
                if (data.id) {
                    this.params.msgGroupId = data.id
                    this.parentId = data.parentId || ''
                    this.$emit('changeGroupId', data.id)
                }
            }
        }
    }
</script>