<template>
  <div>
    <!-- 筛选查询 -->
    <div class="ly-clearfix">
      <el-date-picker class="ly-margin-right-xs"
                      type="daterange"
                      size='small'
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      :default-time="['00:00:00', '23:59:59']"
                      :clearable="false"
                      v-model="dateRange.params"
                      @change="delaySearch">
      </el-date-picker>
      <el-select placeholder="请选择"
                 class="ly-margin-right-xs"
                 style="width: 100px;"
                 size='small'
                 v-model="params.type"
                 @change="changeParamsType">
        <el-option :value="1"
                   label="按微信号" />
        <el-option :value="2"
                   label="按省份" />
        <el-option :value="3"
                   label="按城市" />
        <el-option :value="4"
                   label="按来源" />
        <el-option :value="5"
                   label="按团队" />
      </el-select>
      <el-button type="primary"
                 size='small'
                 @click="search">搜索</el-button>
      <el-button type="primary"
                     size="small"
                     @click="exportCallback">导出</el-button>
    </div>
    <!-- 数据列表 -->
    <div class="ly-margin-top-sm ly-bg-white">
      <!-- 表格 -->
      <el-table ref="multipleTable"
                :data="table.list"
                tooltip-effect="dark"
                style="width: 100%">
        <!-- 按微信号 -->
        <template v-if="params.type === 1">
          <el-table-column label="个人号"
                           key="headIcon">
            <template slot-scope="scope"
                      slot="default"
                      width="200">
              <div class="ly-box">
                <div class="ly-margin-right-xs">
                  <img class="ly-wh-50px"
                       :src="scope.row.headIcon | wechatAvtor"
                       v-image-view>
                </div>
                <div class="ly-box-1 ly-font-color-2 line-height-14">
                  <p class="ly-font-color-3">{{scope.row.nickName}}</p>
                  <p class="ly-margin-top-4">{{scope.row.wechatAccount}}</p>
                  <p class="ly-margin-top-4">{{scope.row.wxId}}</p>
                </div>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="微信备注"
                           prop="wechatRemark" />
          <el-table-column label="设备保管者姓名"
                         prop="staffName">
          <template slot-scope="scope">
            <span>{{scope.row.staffName || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者电话"
                         prop="phone">
          <template slot-scope="scope">
            <span>{{scope.row.phone || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="设备保管者部门"
                         prop="departmentName">
          <template slot-scope="scope">
            <span>{{scope.row.departmentName || '--'}}</span>
          </template>
        </el-table-column>
        </template>
        <!-- 按省份 -->
        <template v-else-if="params.type === 2">
          <el-table-column label="省份"
                           prop="provinceName" />
        </template>
        <!-- 按城市 -->
        <template v-else-if="params.type === 3">
          <el-table-column label="省份"
                           prop="provinceName" />
          <el-table-column label="城市"
                           prop="cityName" />
        </template>
        <!-- 按来源 -->
        <template v-else-if="params.type === 4">
          <el-table-column label="来源"
                           prop="resource" />
        </template>

         <!-- 按团队 -->
        <template v-else-if="params.type === 5">
          <el-table-column label="团队"
                           prop="departmentName" />
        </template>

        <el-table-column label="被动申请好友总数"
                         prop="allNum" />
        <el-table-column label="已通过(男性)数量"
                         prop="throughMan" />
        <el-table-column label="已通过(女性)数量"
                         prop="throughWomen" />
        <el-table-column label="已通过(未知性别)数量"
                         prop="throughUnKnow" />
        <el-table-column label="未通过(男性)数量"
                         prop="notThroughMan" />
        <el-table-column label="未通过(女性)数量"
                         prop="notThroughWomen" />
        <el-table-column label="未通过(未知性别)数量"
                         prop="notThroughUnKnow" />
      </el-table>
    </div>
  </div>
</template>

<script>
import { indexMixin } from '@/mixins'
// import { downloadFile } from '@/utils'
import { watchDateRangeToTimestamp, getRangeDate, accurateTodate,downloadFile } from '@/utils'
import { v3indexApi } from '@/api/system'

export default {
  mixins: [indexMixin],
  data() {
    return {
      params: {
        from: '',
        to: '',
        type: 1
      },
      dateRange: {
        params: ''
      }
    }
  },
  created() {
    this.$watch('dateRange.params', watchDateRangeToTimestamp(this.params, 'from', 'to'))
    const weekDate = getRangeDate()
    weekDate.now = accurateTodate(weekDate.now, 23, 59, 59)
    this.dateRange.params = [weekDate.then, weekDate.now]
  },
  methods: {
    // 进粉统计导出
    exportCallback() {
      v3indexApi.getUserFansState(this.params).then((res) => {
        downloadFile(res, '进粉统计.xls')
        this.success('恭喜你，导出成功')
      })
    },
    changeParamsType() {
      this.table.list = []
      this.search()
    },
    list(current, size) {
      v3indexApi.getUserIncreasePassive(Object.assign({}, this.params)).then(data => {
        this.table.list = data || []
      })
    }
  }
}
</script>
