<template>
  <lazy-cascader v-model="modelValue"
                 :getDataFnOrDataList="getDataFn"
                 :options="mergedOptions"
                 @active-item-change="onActiveItemChange"
                 ref="lazyCascader" />
</template>

<script>
import lazyCascaderMixin from './mixin'

export default {
  mixins: [lazyCascaderMixin],
  methods: {
    // 返回级联下拉框第一级数据
    // 有包含children属性表示有下一级数据，否则不显示下一级选择按钮
    getDataFn() {
      return new Promise(resolve => {
        setTimeout(() => {
          resolve([
            { value: 1, label: '选项1', children: [] },
            { value: 2, label: '选项2', children: [] }
          ])
        }, 1000)
      })
    },
    // 每一个层级选中后都会触发该方法，对应的数据存储到children中
    // 如：选省市联动下拉框，在选择了xx省份后会触发该方法读取xx省份的下一级数据
    onActiveItemChange(data, list, resolve) {
      switch (data.value) {
        case 1:
          data.children = [
            { value: 101, label: '选项1-1', children: [] },
            { value: 102, label: '选项1-2' }
          ]
          break
        case 2:
          data.children = [
            { value: 201, label: '选项2-1' },
            { value: 202, label: '选项2-2' }
          ]
          break
        case 101:
          data.children = [
            { value: 1001, label: '选项1-1-1' },
            { value: 1002, label: '选项1-1-2' }
          ]
          break
      }
      resolve()
    }
  }
}
</script>
