<template>
  <lazy-cascader v-model="modelValue"
                 :getDataFnOrDataList="getDataFn"
                 :options="mergedOptions"
                 @active-item-change="onActiveItemChange"
                 @initial="initial"
                 @change="change"
                 ref="lazyCascader" />
</template>

<script>
    import lazyCascaderMixin from './mixin'
    import {
        screenApi
    } from '@/api/system'
    export default {
        mixins: [lazyCascaderMixin],
        methods: {
            getDataFn() {
                return new Promise(resolve => {
                    resolve(this.getDepartmentList())
                })
            },
            async getDepartmentList() {
                let arr = []
                await screenApi.accountListNew().then(data => {
                    data = this.initLabel(data)
                    arr = (data || []).map(v => this.convertData(v.id, v.name, v))
                })
                return arr
            },
            initLabel(arr) {
                arr.forEach(item => {
                    item.name = item.nickName
                        // console.log(item.hasOwnProperty('account'))
                    if (item.hasOwnProperty('account')) {
                        item.name += `(${item.account})`
                    }
                    if (item.onLine === 0 || item.onLine === 1) {
                        let str = item.onLine === 0 ? '[离线]' : '[在线]'
                        item.name += str
                    }
                    if (item.children && item.children.length) {
                        item.children = this.initLabel(item.children)
                    }
                })
                return arr
            },
            onActiveItemChange(data, list, resolve) {},
            change() {
                this.$emit('change')
            }
        }
    }
</script>