<template>
  <div class="ly-bg-white ly-margin-top-sm ly-position-relative ly-addEdit">
    <div class="ly-font-16 ly-font-color-1 ly-margin-horizontal-sm ly-border-bottom-1 ly-padding-bottom-sm">
      <span class="ly-vertical-line">{{dialog.title}}活动</span>
    </div>
    <div class="business">
      <el-form :model="form"
               :rules="dialog.isEdit!=='see'?rules:{}"
               ref="form"
               label-width="150px"
               class="ly-margintop-25px demo-ruleForm">
        <el-form-item label="活动名称:"
                      prop="activityName">
          <el-input v-model="form.activityName"
                    placeholder="12字以内"
                    maxlength="12"
                    max="12"></el-input>
          <p class="ly-font-color-8">仅在后台出现，方便识别不同活动</p>
        </el-form-item>
        <el-form-item label="活动页面标题:"
                      prop="pageTitle">
          <el-input v-model="form.pageTitle"
                    placeholder="8字以内"
                    maxlength="8"
                    max="8"></el-input>
          <p class="ly-font-color-8">手机活动页标题</p>
        </el-form-item>
        <el-form-item label="活动分享文案："
                      class="ruleForm-sm"
                      prop="shareText">
          <div>
            <el-input type="textarea"
                      v-model="form.shareText"
                      rows="5"
                      maxlength="50"
                      max="50"></el-input>
            <div class="ly-el-lay ly-font-color-8">
              <span class="ly-float-right">{{form.shareText | shareTextFil}}/50字</span>
              <p>用户发送给朋友时会显示该文案</p>
            </div>
          </div>
        </el-form-item>
        <el-form-item label="活动时间:"
                      prop="date">
          <el-date-picker v-model="form.date"
                          type="datetimerange"
                          value-format="timestamp"
                          range-separator="~"
                          start-placeholder="开始时间"
                          end-placeholder="结束时间"
                          :default-time="['00:00:00', '23:59:59']"
                          :picker-options="pickerOptions">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="背景图:">
          <div class="ly-box">
            <vma-image-upload v-model="form.backgroundImg" />
          </div>
          <p class="ly-font-color-8">建议尺寸：750*1334 不上传则默认系统背景图</p>
        </el-form-item>
        <el-form-item label="奖品类型:">
          <!-- 1现金红包 -->
          <el-radio-group v-model="form.activityType">
            <el-radio :label="1">现金红包</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- 红包类型 1固定红包金额 2随机红包金额  -->
        <el-form-item label="红包类型:">
          <el-radio-group v-model="form.redpackageType">
            <el-radio :label="1">固定红包金额</el-radio>
            <el-radio :label="2">随机红包金额</el-radio>
          </el-radio-group>
        </el-form-item>
        <div v-if="form.redpackageType===1">
          <el-form-item label="红包金额:"
                        prop="moneyNum">
            <el-input-number v-model="form.moneyNum"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00" />
          </el-form-item>
        </div>
        <div v-else-if="form.redpackageType===2">
          <el-form-item label="红包金额:"
                        prop="floorLine"
                        class="ruleForm-ss">
            <el-input-number v-model="form.floorLine"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00"></el-input-number>
            <span class="ly-margin-horizontal-xs">~</span>
            <el-input-number v-model="form.upLine"
                             :min="1"
                             :max="200"
                             :precision="2"
                             :controls="false"
                             placeholder="输入金额1~200.00"></el-input-number>
            <span class="ly-font-color-8">元</span>
          </el-form-item>
        </div>
        <el-form-item label="活动规则:"
                      prop="activityRule"
                      class="ruleForm-sm">
          <el-input v-model="form.activityRule"
                    type="textarea"
                    placeholder="活动规则"
                    :maxlength="300"
                    :max="300"
                    :min="0"
                    :rows="15"
                    :autosize="{ minRows: 5, maxRows: 15}"
                    ref="count"></el-input>
          <div class="ly-el-lay">
            <span class="ly-font-color-2 ly-font-12">{{form.activityRule | introductionFil}}/300字</span>
            <span class="ly-float-right">
              <el-button type="text"
                         @click="inputExample('activityRule')">示例文字</el-button>
            </span>
          </div>
        </el-form-item>
        <el-form-item v-if="dialog.isEdit!=='see'">
          <el-button @click="dialog.open = false">取消</el-button>
          <el-button type="primary"
                     @click="previewCallback('form')">预览</el-button>
          <el-button type="primary"
                     @click="sureCallback('form')">保存</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="h5-view-container"
         v-show="viewUrl">
      <!-- h5主页 -->
      <h5-view :url="viewUrl" />
    </div>
    <div v-if="dialog.isEdit==='see'"
         class="ly-mask-layer"></div>
  </div>
</template>
<script>
import { v2marketPlatformApi } from '@/api/system'
import { vmaH5ScrmFirstBindGood } from '@/config'
import { compatUrl } from '@/utils'
import { marketPlatformAddMixins } from '@/mixins'

export default {
  mixins: [marketPlatformAddMixins],
  props: {
    dialog: [Object]
  },
  data() {
    return {
      form: {
        activityRule: ''
      },
      rules: {
        activityRule: [
          { required: true, message: '请输入活动规则' }
        ]
      },
      exampleWord: [
        '1.参与该活动需要在该店铺至少有一单成功交易。',
        '2.该活动每个平台仅可参与一次。',
        '3.若由于微信原因无法领取红包，请及时与我们联系。'
      ]
    }
  },
  created() {
    if (this.dialog.isEdit !== 'add') {
      this.getDetail()
    }
  },
  methods: {
    // 获取详情
    async getDetail() {
      const res = await v2marketPlatformApi.detailsBind(this.dialog.id)
      let resData = await this.getDetailValidate(res)
      this.form = Object.assign({}, this.form, resData)
    },
    // 提交表单
    sureCallback(formName) {
      this.validateForm(formName).then(() => {
        if (this.dialog.isEdit === 'add') {
          this.addCallback()
        } else {
          this.editCallback()
        }
      })
    },
    // 新增
    addCallback() {
      v2marketPlatformApi.activityBindAdd(this.form).then(res => {
        this.success('恭喜你，新增成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
    },
    // 编辑
    editCallback() {
      v2marketPlatformApi.activityBindEdit(this.form).then(res => {
        this.success('恭喜你，编辑成功')
        this.dialog.open = false
        this.$emit('on-success', true)
      })
    },
    // 预览
    previewCallback(formName) {
      this.validateForm(formName).then(async () => {
        const cacheKey = await v2marketPlatformApi.activityBindPreview(Object.assign({}, this.form))
        this.viewUrl = compatUrl(vmaH5ScrmFirstBindGood, {
          id: cacheKey,
          view: 1
        })
      })
    }
  }
}
</script>
